[2020-04-16 22:29] jhand2 commented on #2797
I submitted https://github.com/openenclave/openenclave/pull/2883 to address the performance issue of format-code. Basically we ask people to run format-code on the entire repository when that isn't necessary. Code can't be merged to master without running format-code on it, so we should only be advising people to run it on the diff.

[2020-04-16 23:35] douglasmaciver-su commented on #2878
I am working on writing this up.

[2020-04-16 23:42] BRMcLaren commented on #2716
Closing as "won't do"

[2020-04-16 23:42] #2716 closed

[2020-04-17 01:14] dthaler commented on #2852
This is now fixed, so closing

[2020-04-17 01:14] #2852 closed

[2020-04-17 01:31] dthaler commented on #2797
There are https://github.com/richq/cmake-lint for cmake format issues, and https://github.com/markdownlint/markdownlint for markdown format issues.

[2020-04-17 04:42] radhikaj commented on #2850
Also https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk-Ubuntu_18.04.md and https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk-Ubuntu_16.04.md need to specify the latest intel driver versions.

[2020-04-17 06:44] yanxue-intel opened #2889 "oe_terminate_enclave return OE_OUT_OF_THREADS after switchless ecall exit when TCSNUM=1"
test case in PR [https://github.com/openenclave/openenclave/pull/2887](url)

details as follow:
1. Create enclave with Switchless Calls and one TCS only.
2. Call empty switchless ecall, it is expected to pass.
3. Call empty ecall, it is expected to fail since TCS is occupied by trusted worker thread.
4. empty switchless ecall exit
5. Destroy enclave (this step failure, return OE_OUT_OF_THREADS)

i

[2020-04-17 10:37] achamayou commented on #2797
@dthaler https://github.com/cheshirekow/cmake_format is more complete and supports reformatting like clang-format rather than just detecting issues.

[2020-04-17 15:50] jhand2 commented on #2850
By the way we shouldn't update these docs until a new version of the driver is release. Without https://github.com/intel/SGXDataCenterAttestationPrimitives/pull/96, the driver fails to load on many types of machines (ACC VMs and most likely bare metal)

[2020-04-17 16:19] #2840 closed

[2020-04-17 17:33] #2688 closed

[2020-04-17 20:26] CodeMonkeyLeet commented on #1920
Per latest CGC meeting, closing this issue as stale:
* enforcement of multiple approvals has been implemented for PRs
* any additional documentation pending for this issue should be submitted as a PR and will be reviewed there.

[2020-04-17 20:26] #1920 closed

[2020-04-18 15:05] letmaik opened #2894 "Add BUILD_TESTS as CMake build option"
It would be nice if one could disable building of the tests.

[2020-04-18 19:31] soccerGB commented on #1046
Is the suggestion here to ask OE application developers to build their own logging library for their own consumption?

[2020-04-18 20:03] soccerGB opened #2895 "Request for a message logging plug-in model for OE SDK"
Currently, the OE SDK internal logging support is tightly coupled with OE SDK implementation. it only outputs to console or thelog file specified through environment variable. Surely, each enclave application could redirect the console output to other destination via piping but it's not very flexible.
Also, the logging is only enabled when for debug version of an enclave. It does not provide any h

[2020-04-18 20:29] BRMcLaren commented on #2878
Hello @jhand2

There was a proposed fix for this but it does not seem to work 100% of the time, so let's also provide a workaround.

The bug in question seems to be one of Blue Ocean itself, as can be seen here: https://issues.jenkins-ci.org/browse/JENKINS-51111

1. If one looks at a job such as below and it did not contain a triggered jobs section, take note of the pipeline desired.

![image](htt

[2020-04-20 15:20] jhand2 commented on #1046
I'm open to suggestions but logging needs are very application specific and I don't think it makes sense for OE to provide extra logging functionality. I asked a bunch of questions about the use case for this issue and didn't get any answers.

If a user of the SDK has a specific need for this type of feature, that might help make this issue more concrete.

[2020-04-20 15:23] jhand2 commented on #2895
I think this issue is more clear in what it is asking for than https://github.com/openenclave/openenclave/issues/1046. Can we close the other issue in favor of this one?

In general I agree this this is  valuable thing to have.

[2020-04-20 15:23] jhand2 commented on #1046
Requesting to close this issue as a dup of #2895 since I think that issue is more concrete ask.

[2020-04-20 15:29] jhand2 commented on #2895
This would also mean moving the console logging mechanism to an optional plugin which is great as it makes the untrusted logging ocalls optional (they are unfortunately currently mandatory).

[2020-04-20 16:06] CodeMonkeyLeet commented on #2859
Is this a dupe of #2617?

[2020-04-20 16:38] jhand2 commented on #2859
Yes this is a dup. @anakrish if you agree, can we close this in favor of #2617?

[2020-04-20 18:04] radhikaj commented on #2844
Architecturally, if we wanted to do a doc about TEE plugin design, this would be included there.

[2020-04-20 18:15] #2859 closed

[2020-04-20 18:27] radhikaj commented on #2881
We need to discuss pros and cons of localizability.

[2020-04-20 18:28] radhikaj commented on #2881
This needs to be discussed in the logging context.

[2020-04-20 18:31] radhikaj commented on #2889
@mwshan @fchinchilla  please take a look at this.

[2020-04-20 18:33] radhikaj commented on #2894
Is there an issue with how long samples take to build? What would the value of this option be for the end user?

[2020-04-20 18:53] letmaik commented on #2894
Not sampls, but tests. They take quite a while to build. I'm building OE as part of CI jobs and every second counts :) I'm currently patching the CMake script to not build the tests, but obviously that's bad. Every project I know of has build flags to omit building samples and/or tests. I think OE should have that too.

[2020-04-20 18:59] jhand2 commented on #2894
Opened a PR https://github.com/openenclave/openenclave/pull/2897

[2020-04-20 18:59] mingweishih commented on #2486
Add note: `-Werror` has already been a default option to all the tests. #2892 adds a test that includes all the public headers (excluding 3rd party ones) and compiles them against C99 standard.

[2020-04-20 21:04] jhand2 opened #2898 "Publish oecert tool"
The oecert tool is an internal command-line tool which uses the OE attestation code to output a report and certificate from SGX.

This tool may be valuable for people writing SGX verification code. We should consider publishing this tool with the SDK so developers can use it to generate test data. This would also allow users to generate files to pass to the new host_verify sample: https://github.c

[2020-04-20 21:28] yentsanglee commented on #2898
oecert tool has to be run in SGX enclave-enabled environment. Users may build host verify sample from non-SGX VMs. One benefit for publishing oecert is so that the users can get a valid report from a SGX VM and copy the report file to a non-SGX VM for host verification.

If we decide to publish ocert, it should NOT be included in host verify package.

[2020-04-20 21:32] jhand2 commented on #2898
Sure, I think just publishing it with the open-enclave package is fine.

[2020-04-21 01:47] CodeMonkeyLeet commented on #2575
@radhikaj was there a question for the CGC or SIG-arch on this? It seems like a backlog task we can choose to take or not. Moving out of the CGC project per the previous meeting, please bring it back to the appropriate forum as necessary.

[2020-04-21 01:49] CodeMonkeyLeet commented on #2347
Moving to the SIG-testing forum for discussion there per CGC triage.

[2020-04-21 05:13] radhikaj commented on #2575
@CodeMonkeyLeet Reason I tagged with CGC was that during triage there were opens on whether we want to accept PRs which implement host syscalls on Linux but on on Windows.

[2020-04-21 07:12] achamayou commented on #2895
Some applications will have their own mechanism for communication between enclave and host, and will want the log messages to use that/piggy back on existing traffic (we are in that situation), so something that would be beneficial is a logging mechanism that clearly separates message generation from their delivery, and allows user-provided delivery.

[2020-04-21 13:34] scofinan commented on #2849
Could anyone tell where sgx_enclave_common library is? It seems the key error of this bug.

[2020-04-21 17:15] anakrish commented on #2849
@scofinan Enclave Common API can be obtained following this: https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsManualSGX1FLCDCAPPrereqs.md

Can you tell me which version of Windows you are using? Win Server 2016 or Win 10?

[2020-04-21 17:26] dthaler commented on #852
https://en.wikipedia.org/wiki/Comparison_of_TLS_implementations provides a comparison of various crypto libraries and how they vary by certification, license, etc.

[2020-04-21 17:27] #2894 closed

[2020-04-21 17:30] anakrish commented on #2849
@scofinan Rereading your comments, you are on Win Server 2016.
Can you confirm if you have executed
[code]
This is one of the last instructions in https://github.com/openenclave/openenclave/blob/master/samples/README_Windows.md

@mingweishih Can you confirm if the above command is correct for the latest PSW?

[2020-04-21 17:55] mingweishih commented on #2849
@anakrish Confirmed it works.

@scofinan can you try following the instruction: https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsManualSGX1FLCDCAPPrereqs.md#intel-data-center-attestation-primitives-dcap-libraries-v16

The below is the part of instruction that installs the sgx_enclave_command library. However, I'd recommend to follow the full instru

[2020-04-21 18:12] dthaler opened #2903 "General design pattern for plugins"
We have had a number of design discussions around different types of plugins, with some common items like how do plugins get loaded and initialized.  This issue tracks having a generic design pattern that different types of plugins can copy as appropriate.

Related issues on specific types of plugins:
* Attestation plugins: Issue #2729 PR #2801
* Memory allocator plugins: Issue #2023 PR #1420
* Po

[2020-04-21 22:55] dthaler opened #2907 "Missing design docs around libc vs corelibc"
Discussion on PR #2855 pointed out that this area can be very confusing for contributors (including myself), and no documentation on the libc architecture appears to be available right now.

Jordan wrote:

So for the most part new libc functionality all goes in oelibc. There is also probably a lot of things in corelibc that aren't needed anymore and need to be cleaned up.

This issue is to track a

[2020-04-22 00:15] anakrish commented on #2889
When an enclave worker thread has no more calls to process, it will keep spinning, checking for calls to process before doing a sleep in the host. The thread cannot sleep within the enclave because the OS's `sleep` function is not accessible within the enclave. Therefore it has to go back to the host to sleep until messages arrive.

Currently, the ecall worker threads sleep in the host by returnin

[2020-04-22 00:43] AevaOnline commented on #2878
notes from sig-testing meeting: this appears to be a known issue in Jenkins, and not likely to be fixed (upstream) any time soon.

[2020-04-22 00:57] dthaler commented on #2797
Another gap to add to the list is that the .ps1 scripts don't have a consistent style.

[2020-04-22 01:04] jhand2 commented on #2878
Link for open Jenkins/Blue-Ocean issue: https://issues.jenkins-ci.org/browse/JENKINS-60995?jql=project%20%3D%20JENKINS%20AND%20status%20in%20(Open%2C%20%22In%20Progress%22%2C%20Reopened)%20AND%20component%20%3D%20blueocean-plugin

[2020-04-22 01:35] MWShan commented on #2889
Can you use an OCall to sleep and add a switchless ECall to terminate the enclave?

[2020-04-22 06:02] yentsanglee commented on #2724
Host verification sample in PR 2865 as you pointed out is a light-weight verification tool. I think it's the tool/sample you are looking for.

[2020-04-22 07:58] achamayou commented on #2347
@jhand2 although mbedlts has historically used perl and bash, they have been moving some of the perl to python (eg. https://github.com/ARMmbed/mbedtls/commit/b4063890e87d401b4d46cc19a7e84fc44288d4c8#diff-1aea90851377d3ad5ea2873829140772), and now have more of it than perl. They still have a fair bit of bash.

[2020-04-22 15:29] jhand2 commented on #2347
By the way, while I think this is a generally good idea, I don't feel super strongly in any direction. So open to any/all suggestions.

[2020-04-22 15:51] jhand2 commented on #2724
@jumaffre Does building and running that sample meet your needs?

[2020-04-22 16:13] jumaffre commented on #2724
That would be excellent! Do you know when this would be included in the hostverify package? Or does it come from free since #2865 is merged?

[2020-04-22 17:27] radhikaj opened #2920 "pthread and oethread timing out"
The recent additions of TestErrnoMultiThreadsSameenclave and TestErrnoMultiThreadsDifferentenclave  are causing pthread and oethread tests to timeout from time to time causing discrepancies in CI. We are investigating this. In the mean time, we have turned off these tests. See PR #2919.

[2020-04-22 17:27] jhand2 commented on #2724
Just saw your comment in #2865. It's included in the package already but it will just be the source. You would still need to compile it.

@yentsanglee @radhikaj Do either of you see a problem with installing a compiled version of the host_verify sample as a command-line tool in the hostverify deb package?

[2020-04-22 17:28] jhand2 commented on #2724
If we install it I would like to include a printed disclaimer message saying that the command-line options are not a stable interface and are subject to change in future releases.

[2020-04-22 17:33] jhand2 commented on #2920
[code]

[2020-04-22 19:12] mingweishih commented on #1312
I confirm that the problem no longer exist on Windows. Suggest closing the issue.

[2020-04-22 20:58] CodeMonkeyLeet opened #2925 "Document or remove NSIS dependency in install-windows-prereqs.ps1"
PR #2550 introduced an extra step in install-windows-prereqs.ps1 to always install NSIS, which is being redistributed from an Azure blob container. The install-windows-prereqs.ps1 script is used to help contributors set up a build environment for OE SDK, but the NSIS dependency is not reflected in any of the manual setup documents.

* If it is a required component, then manual install steps also n

[2020-04-22 23:10] anakrish commented on #2889
@MWShan Great suggestion. I have a PR in which the enclave worker thread sleeps via OCALL rather than returning: #2929

In another PR #2927, I have fixed the ordering in enclave termination. First switchless manager
(threads) will be stopped, and then the destructor will be called inside the enclave.

Since switchless manager terminates first, any running ecall worker threads would also exit, free

[2020-04-23 00:23] jhand2 opened #2930 "Our gcc tests in CI use clang"
See log for this GCC build `ACC1604 gcc Debug LVI`: https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/rest/organizations/jenkins/pipelines/pipelines/pipelines/Azure-Linux/runs/148/nodes/30/steps/223/log/?start=0

[code]

The builds for all GCC linux builds I've looked at look to be the same.

[2020-04-23 00:27] jhand2 commented on #2930
After looking at https://github.com/openenclave/openenclave-ci/blob/master/src/jenkins/common/Openenclave.groovy setting the environment variables CC and CXX should work. I don't know why it isn't working.

[2020-04-23 05:42] #2376 closed

[2020-04-23 06:07] scofinan commented on #2849
I tried both on Windows Server 2016 & 2019, the issues are same.

[2020-04-23 08:03] scofinan commented on #2849
hi, anakrish,

I installed PSW from this link:
https://github.com/openenclave/openenclave - Windows with SGX hardware - SGX1 with Flexible Launch Control (FLC) Prerequisites:
**C:\Intel SGX PSW for Windows v2.7.101.2\PSW_EXE_RS2_and_before\Intel(R)_SGX_Windows_x64_PSW_2.7.101.2.exe"**

and installed SDK from this link:
https://github.com/openenclave/openenclave - Windows with SGX hardware - Downlo

[2020-04-23 08:09] scofinan commented on #2849
hi, mingweishih,

In https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsManualSGX1FLCDCAPPrereqs.md#intel-data-center-attestation-primitives-dcap-libraries-v16 -  Azure DCAP client for Windows [optional]
This part is optional, why user need to install DCAP? Actually, installing PSW and Nuget is enough, right?

[2020-04-23 16:02] mingweishih commented on #2930
This is because of building with LVI mitigation, which suppresses the logic of detecting compilers in normal ways. Please assign this issue to me.

[2020-04-24 04:34] scofinan commented on #2849
hi, @mingweishih
It still had errors when run **cmake .. -G Ninja -DNUGET_PACKAGE_PATH=C:\oe_prereqs** to build helloworld.

Re-list my test status:
OS: Windows Server 2016
PSW: C:\Intel SGX PSW for Windows v2.7.101.2\PSW_EXE_RS2_and_before\Intel(R)_SGX_Windows_x64_PSW_2.7.101.2.exe"
SDK: .\nuget.exe install open-enclave -Source C:\openenclave_nuget -OutputDirectory C:\oe -ExcludeVersion
DCAP: .\n

[2020-04-24 07:17] soccerGB commented on #1046
This is for secure logging that enables an application to log their own logging securely,  which is totally different from #2985, which requests a way to redirect existing Oe SDK logging events to custom destination.

[2020-04-24 20:41] jhand2 opened #2941 "Fix SGX DCAP delay-load in oehost"
The DCAP library (sgx_dcap_ql) is intended to be delay-loaded on the host so that it is only needed when attempting to perform attestation. However, the current implementation links directly against the library, so the delay loading mechanism is redundant; the library is already loaded.

On Linux, ldd shows that libsgx_dcap_ql is loaded at the time the host executable is started (note that the sam

[2020-04-24 20:43] jhand2 commented on #2941
At a minimum, it would be ideal if attestation was a separate .a file on the host and apps could decide not to link it in. In that case an enclave app could choose to not use attestation without needing to recompile the SDK.

This situation could improve with the advent of attestation plugins, but the above would be a good first step.

[2020-04-24 20:48] mingweishih commented on #2849
Hi @scofinan,

Thanks again for your reporting. I've tried to reproduce the steps in a newly created win server 2016. I can confirm that currently Intel DCAP are required to build and run the helloworld sample. I've updated the documentation in #2942.

Also, starting from v0.9, only Intel DCAP nuget package should be required during the build time. The issue of removing the runtime dependency of I

[2020-04-24 20:51] jhand2 commented on #2849
Specifically, you will also need to run `nuget.exe install DCAP_Components -ExcludeVersion -Source "C:\Intel SGX DCAP for Windows v1.6.100.2\nuget" -OutputDirectory c:\oe_prereqs`

[2020-04-25 00:32] dthaler opened #2943 "ansible-playbook requires sudo"
Docs at https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/SimulatorGettingStarted.md say to run install-ansible.sh under sudo, but contain no such statement about the ansible-playbook command.

Trying to run the commands as shown in the doc gives:

TASK [Gathering Facts] *********************************************************
fatal: [localhost]: FAILED!

[2020-04-25 00:53] shnwc opened #2944 "Mark additional attestation plugin APIs as experimental"
Follow up on issue #2803, the attestation plugin APIs `oe_sgx_plugin_attester()` and `oe_sgx_plugin_verifier()` should be marked as experimental.

Should the macro `OE_SGX_PLUGIN_UUID` also be marked experimental? This UUID identifies the SGX ECDSA-p256 evidence format.

[2020-04-25 01:18] yentsanglee commented on #2944
Agree.

[2020-04-25 09:21] letmaik opened #2945 "Translate quote3_error_t codes to human error messages"
OE calls `sgx_qe_get_target_info` (and friends) but when an error happens then it only dumps OE_PLATFORM_ERROR together with "quote3_error_t=0x...". The error codes are listed at https://github.com/intel/SGXDataCenterAttestationPrimitives/blob/master/QuoteGeneration/quote_wrapper/common/inc/sgx_ql_lib_common.h. It would be good if the code is translated by OE into an understandable message.

[2020-04-26 03:19] scofinan commented on #2849
hi, @jhand2 @mingweishih

OE wikis are a little confused for me, could you please help check if following steps right that I abstract from those OE wikis? It still had errors. :(

(In PowerShell)
install PSW:
$ C:\Intel SGX PSW for Windows v2.7.101.2\PSW_EXE_RS2_and_before\Intel(R)_SGX_Windows_x64_PSW_2.7.101.2.exe"

install DCAP
$ .\nuget.exe install EnclaveCommonAPI -ExcludeVersion -Source "C:\I

[2020-04-27 05:34] yanxue-intel commented on #2920
Is the TestErrnoMultiThreadsDifferentenclave triggers the OE thread deadlock?
if yes, I will develop more cases about multi-enclaves with multi-threads for OE.

[2020-04-27 07:28] scofinan commented on #2849
I installed open-enclave.0.9.0.nupkg and got following picture's result:
<img width="777" alt="error_open-enclave 0 9 0 nupkg" src="https://user-images.githubusercontent.com/44156386/80344799-bdddeb00-889a-11ea-8296-da9326c31696.png">

How is **sgx_dcap_ql.dll** installed? And which package includes it?
What I have installed are:
**Intel(R)_SGX_Windows_x64_PSW_2.7.101.2.exe
Intel SGX DCAP for Wind

[2020-04-27 07:37] yentsanglee commented on #2945
quote3_error_t values are defined by Intel. Our translation in OE may get out of sync if Intel modifies them.

[2020-04-27 07:48] letmaik commented on #2945
In that case I suggest to collaborate with Intel so that they come up with a `strerror` equivalent.

[2020-04-27 08:27] letmaik commented on #2263
What's the progress on this?

[2020-04-27 08:58] letmaik opened #2946 "Add sample using endorsements in oe_verify_remote_report"
The existing "hostverify" sample doesn't use the `endorsement` argument in `oe_verify_remote_report`.

[2020-04-27 15:30] jhand2 commented on #2920
@yanxue-intel yes it appears so. Before we make more test cases, I would be interested to know why the test causes deadlock. Would you have time to look into this?

I was able to repro by running the test many times in a row and then attaching a debugger when it started hanging.

[2020-04-27 15:31] jhand2 commented on #2945
Feel free to open an issue on the intel/linux-sgx repo. Thanks!

[2020-04-27 15:36] jhand2 commented on #2946
@ryanhsu19 do you think this is something that could be added to the existing sample?

[2020-04-27 15:43] mingweishih commented on #2849
It should be part of DCAP drivers. Please check the steps 1-3 in the [here](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsManualSGX1FLCDCAPPrereqs.md#intel-data-center-attestation-primitives-dcap-libraries-v16)

[2020-04-27 16:39] ryanhsu19 commented on #2263
I will come back to work on this issue as long as other hostverify-library-related issues are done.

[2020-04-27 17:16] soccerGB commented on #2263
@letmaik
Are you looking for an easy way to build host verifier package?
Here is what we have currently:
cpack -G DEB -D CPACK_DEB_COMPONENT_INSTALL=ON  -D CPACK_COMPONENTS_ALL=OEHOSTVERIFY

or you are asking for above package building process more efficient?

[2020-04-27 17:28] letmaik commented on #2263
@soccerGB I'd like to build the host verifier library, not as package. And I need to build without any Intel SGX library dependencies available. The use case is to build redistributable Python binary wheels (which means manylinux wheels, building on CentOS) which make use of the host verifier library.

[2020-04-27 18:05] radhikaj commented on #2898
Open another issue to make this tool TEE agile via plugins.

[2020-04-27 18:08] radhikaj commented on #2907
This needs to be prioritized to attract new developers.

[2020-04-27 18:13] dthaler opened #2948 "Make oecert TEE-agile"
Issue #2898 proposes to publish the oecert tool, which is currently SGX-specific.
This issue is to track making oecert not be SGX-only, but be applicable to multiple types of TEEs,
such as by using plugins of some sort.

Issue #2903 tracks general guidance around plugins.

[2020-04-27 18:13] radhikaj commented on #2941
The Intel SGX SDK delay loads this library.

[2020-04-27 18:19] radhikaj commented on #2943
Need to look into install script to dissect if this automatically sets up sudo permissions for users. In general, scripts running sudo on your behalf is not a good idea and should be removed.

[2020-04-27 18:22] radhikaj commented on #2945
@yentsanglee Please open an issue in the Intel DCAP repo.

[2020-04-27 20:17] shnwc commented on #2944
@radhikaj when will v0.10 be available? can the APIs be marked experimental in a v0.9.x release? I'd like the new API proposed in PR #2949 to be available for the next major release (v0.10?) if possible.

[2020-04-27 20:36] shnwc commented on #2944
Got it. Thanks!  With the OE SDK using release names like "v0.9.x", my reading was that there could be multiple sub-releases (e.g. v0.9, v0.9.1, etc.) for a major release "v0.9".

[2020-04-27 20:49] radhikaj opened #2951 "Document RHEL8 Developer workflow for Attestation"
An RPM package for AzureDCAPClient is not available on RHEL-8. @nonpolarity has built it from source on RHEL-8 and has gotten attestation working on RHEL-8.
Would like instructions for how to get attestation working to be added to the RHEL-8 docs.

[2020-04-27 20:56] mingweishih commented on #39
Update:
tests/ecall_ocall is fixed by #2395
tests/create-rapid is fixed by #2399

#1034 should be resolved after #2909 is merged
tests/memory should be fixed by #2950

After #2950 is merged, this issue can be closed.

[2020-04-27 20:57] jhand2 commented on #2944
@shnwc Yes that is the case. For 0.8 we had 3 releases. I'll let @radhikaj weigh in on what she would like to do here.

[2020-04-27 21:02] radhikaj commented on #1312
Thanks so much @mingweishih

[2020-04-27 21:02] #1312 closed

[2020-04-27 21:10] yentsanglee commented on #2945
Links to https://github.com/intel/SGXDataCenterAttestationPrimitives/issues/102

[2020-04-27 21:25] #1034 closed

[2020-04-27 21:51] radhikaj commented on #1770
Fixed in #2934 2874

[2020-04-27 21:51] #1770 closed

[2020-04-27 23:13] radhikaj commented on #2486
@mingweishih Can this be closed?

[2020-04-27 23:14] mingweishih commented on #2486
Sure, closing.

[2020-04-27 23:14] #2486 closed

[2020-04-27 23:18] radhikaj commented on #2724
I have no issues and think it is a good idea.

[2020-04-28 01:12] #1516 closed

[2020-04-28 02:25] scofinan commented on #2849
hi， @mingweishih

I am so confused that there are 2 packages in https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsManualSGX1FLCDCAPPrereqs.md#intel-data-center-attestation-primitives-dcap-libraries-v16

$ nuget.exe install Microsoft.Azure.DCAP -ExcludeVersion -Version 1.3.0 -OutputDirectory C:\oe_prereqs
This command uses **microsoft.azure.dcap.1.3.

[2020-04-28 02:34] scofinan commented on #2849
Could any one pick up a clear environment and go through the installation process?
I think current wikis have many nests and a little hard for new users, it costs so much time...
Thank you very much!

[2020-04-28 07:32] achamayou commented on #2263
@letmaik are you making a Python library for quote verification? Is it going to be on pypi? Can we steal it/help with it? :)

[2020-04-28 07:36] letmaik commented on #2263
@achamayou It's not standalone yet but I guess it could be. Ideally I'd like a pure-Python library but looks like this is not happening any time soon.

[2020-04-28 12:07] ionutbalutoiu commented on #2951
I'd like to add something here.

My initial PR (https://github.com/openenclave/openenclave/pull/2446) to add RHEL 8 support to Ansible installs AzureDCAPClient from source already:
https://github.com/openenclave/openenclave/blob/4d7b94b321ce7e44c9383eaea4f5aca20ba7e6a5/scripts/ansible/roles/linux/az-dcap-client/tasks/redhat/stable-install.yml#L27-L48

In the future, we need to replace this with a

[2020-04-28 16:38] nonpolarity commented on #2920
@yanxue-intel Besides the deadlock problem, I think you are right we need more multi-threads test. While I commented out the wait function, the test can still pass. It seems no effective test for wait/wake.

[2020-04-28 16:41] mingweishih commented on #2849
Hi @scofinan,

I've already gone through the process on a newly created win 2016 machine last Friday. Please find my steps based on the [doc](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk-Windows.md) as
follows. Please double check if there is any steps you're missing.

- Install Microsoft Visual Studio Build Tools 2019
- Install Git for Windows 64-b

[2020-04-28 16:43] bodzhang commented on #852
I see the value of a common crypto API for enclave developers in the long run, but believe the urgent need to meet is to enable the enclave developers to use their preferred crypto libs/APIs inside the enclave. OpenSSL is widely used in non-enclave applications (many of them will be prospects to be ported to enclave), as well as in SGX Enclave applications. The prototype solution in [https://githu

[2020-04-28 17:00] MWShan commented on #2881
One thought, if the strerror() string is returned from an OCall, then the user would need to actively incorporate an EDL for strerror to support the OCall.  What if the user did not want to do this?

[2020-04-28 20:48] dthaler commented on #2881
https://www.globalyzer.com/gzserver/help/reference/localeSensitiveMethods/strerror.html also notes that the strings cannot be relied on in some implementations.   Per discussion today, we consider this an issue with MUSL and if MUSL addresses it then we can revisit.

[2020-04-28 20:53] yentsanglee commented on #2946
oecert generates report as well as endorsement file (*.col). Host verify sample can read the endorsement file as an argument in oe_verify_remote_report().

[2020-04-28 21:44] dthaler commented on #2675
Mike Bursell's article at https://aliceevebob.com/2018/01/09/meltdown-and-spectre-thinking-about-embargoes-and-disclosures/ is a good summary of the issues.

[2020-04-28 22:23] jhand2 commented on #2698
I tried to move marshalling structs into the .c files, but the test/oeedger8r test assumes it has access to all of these structures.

I still think we should do this, but the test dependency makes it less straight forward.

[2020-04-28 22:27] mingweishih commented on #2698
If this is the case, we should also modify the test. Can you provide some examples?

[2020-04-28 22:32] jhand2 commented on #2698
For example in `tests/oeedger8r/host/testbasic.cpp`:

[code]

There are many other cases of this

[2020-04-28 22:32] jhand2 commented on #2698
I agree the test needs to be changed. I just thought it was going to be a quick fix and didn't have time to unravel what I found :smile:

[2020-04-28 22:35] mingweishih commented on #2698
Will this issue be your blocker? If so, I can help 😄

[2020-04-28 22:39] yentsanglee commented on #2944
By the way, OE_SGX_PLUGIN_UUID is an internal definition. No need to mark it as experimental.

[2020-04-28 22:55] jhand2 commented on #2698
No I'm not blocked on it for now :smile: Thanks!

[2020-04-28 23:15] dthaler opened #2957 "FIXME in document"
Section 3.1 of the draft says:

This fixme needs to be fixed somehow.

[2020-04-28 23:15] dthaler commented on #2957
wrong repo, not an OE issue

[2020-04-28 23:15] #2957 closed

[2020-04-28 23:22] jhand2 opened #2958 "Bug in edger8r import code"
Let's say my enclave application has an edl file called `swithchless.edl` which imports some system edl

[code]

Because the system EDL file `sgx/switchless.edl` has the same name as the enclave's EDL file, the code generator (`tools/oeedger8r/intel/CodeGen.ml`) will not import the system EDL file, thinking it has already seen it even though they're different files.

[2020-04-29 00:23] douglasmaciver commented on #2798
Aeva introduced me to a couple of contacts within Microsoft who have direct experience with Prow.

[2020-04-29 00:26] douglasmaciver commented on #2347
I'm a proponent of using python.

[2020-04-29 00:42] jhand2 commented on #2920
Repro steps:

* Build SDK with `-DCMAKE_BUILD_TYPE=Release`
* Build SDK with -DLVI_MITIGATION=ControlFlow`
* Run this test until it hangs with the ctest option `--repeat-until-fail <n_times>`
* Attach a debugger and get a backtrace to see where hang it happening

Note that it may be possible to get a repro without the first two steps, but I haven't had a chance to try it out yet. It would likely b

[2020-04-29 01:58] yanxue-intel commented on #2920
Is the untrust part has mutex? maybe pthread_join  hangs in untrust part.

[2020-04-29 04:30] radhikaj opened #2960 "install-windows-prereqs.ps1 should work on WS2019 with SGX1FLC option"
Install-DCAP-dependencies still needs to be updated to be able to manually install the drivers over the existing ones via devcon; Install-DCAP-dependencies for WS2019 is just broken. (i.e. make SGX1FLC option just work on WS2019 instead of requiring SGX1FLC-nodriver option.)
See PR##2911 for manual instructions on updating drivers on WS2019.

[2020-04-29 06:17] #2944 closed

[2020-04-29 07:44] scofinan commented on #2849
hi, @mingweishih

Thanks for the detailed steps, but I still met the error as before:

C:\openenclave\share\openenclave\samples\helloworld\build>cmake .. -G Ninja -DNUGET_PACKAGE_PATH=C:\openenclave
-- The C compiler identification is MSVC 19.25.28614.0
-- The CXX compiler identification is MSVC 19.25.28614.0
-- Check for working C compiler: C:/Program Files (x86)/Microsoft Visual Studio/2019/Buil

[2020-04-29 08:38] #2849 closed

[2020-04-29 15:16] mingweishih commented on #2849
Glad that it finally worked out! Thanks so much to you, too!

[2020-04-29 20:13] anakrish opened #2963 "Ensure acquire-release semantics for switchless call context"
Context objects are shared between enclave and host worker threads. Acquire-release semantics must be used to ensure that the threads see a consistent view of these objects.

Without acquire-release semantics, there is no guarantee that the changes made by one thread are visible to another thread.

[2020-04-30 04:45] yentsanglee opened #2968 "oe_get_quote_verification_collateral_ocall() may return success if buffer is too small"
In host/sgx/ocalls.c function oe_get_quote_verification_collateral_ocall(), function may return success if all but the last buffer size are too small. This function should return as soon as _copy_output_buffer() encounters buffer too small error.

[2020-04-30 05:01] yentsanglee commented on #2049
This not only makes double o-calls, it also make double PCK Cache service calls for PCK crl, qeid, and tcbinfo. Quite expensive.

[2020-04-30 08:39] johnvenn opened #2970 "dir in docs/CODEOWNERS need to be updated"
just checked docs/CODEOWNERS:
# And governance documents.
/docs/Contributing.md @openenclave/committee
/docs/Governance.md @openenclave/committee
/docs/Committers.md @openenclave/committee
/docs/Releasing.md @openenclave/committee

I saw those documents have been moved to another dir /docs/community/, should this change be updated in docs/CODEOWNERS?

[2020-04-30 12:36] eddyashton opened #2972 "Version detection"
Is there a documented standard way to detect the version of an OE install? ie - from looking at the `/opt/openenclave` directory, how should I determine what release this was built from?

Ideally each of the tools in `bin/` would have a `--version` option. The only method I've found is to look at the `PACKAGE_VERSION` in `lib/openenclave/cmake/openenclave-config-version.cmake `, but this seems fra

[2020-04-30 15:49] jhand2 commented on #2972
I agree that the tools should have a `--version` flag.

The version you found in the cmake build is actually a fairly robust way to check the version. It is required in order for cmake users to specify a library version they depend on for their project so that version number won't go away.

It could also be nice to have a pair of defines `#define OE_MAJOR_VERSION` and `#define OE_MINOR_VERSION` in

[2020-04-30 15:59] jhand2 opened #2973 "Contributor docs contain a lot of duplication and lack organization"
The docs in docs/GettingStarted/Contributors have a lot of duplicate information with minor variations. For example, SGX1FLCGettingStarted.md and SGX1GettingStarted.md are almost identical, with a small variation for setting up DCAP.

I would like to see us unify these docs and just have a section that lists options for SGX quote providers. This is especially important as @yufjiang has worked to a

[2020-04-30 16:11] CodeMonkeyLeet opened #2974 "Simplify SGX driver installs on Windows with pnputil instead of devcon"
Per [@fchinchilla's comment](https://github.com/openenclave/openenclave/pull/2911#issuecomment-618574717) in PR #2911:

This is worth considering as an optimization to remove the devcon dependency for Windows setups.

[2020-04-30 19:21] jhand2 commented on #2878
Since we upgraded from BlueOcean 1.22 to 1.23, I have not seen this issue. I will keep looking out for it. If I don't see a repro by next triage meeting I will close this issue.

[2020-04-30 20:44] yentsanglee opened #2975 "There is no attestation plugin sample"
There is no sample demonstrating how to develop attestation attester/verifier plugin or to use plugin API (oe_get_evidence and oe_verify_evidence).

[2020-04-30 20:58] yentsanglee opened #2976 "Enable SGX endorsements retrieval and parsing"
Endorsements help external verifier or relying party to perform additional validation. There are functions to retrieve attestation endorsements from oe_report_t. The functions are defined in openenclave\common\sgx\endorsements.h but it has not been made public. Also need sample code to demonstrate how endorsements can be retrieved and parsed.

[2020-04-30 22:54] jhand2 commented on #2878
Just kidding, just saw it again https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/trying/362/pipeline

:frowning:

[2020-04-30 23:32] #2512 closed

[2020-05-01 00:18] yentsanglee opened #2978 "Attestation plugin headers are not installed properly"
plugin.h, attester.h, and verifier.h are incorrectly installed in include/openenclave. They need to be in:

- include/openenclave/attestation/plugin.h
- include/openenclave/attestation/sgx/attester.h
- include/openenclave/attestation/sgx/verifier.h

[2020-05-01 01:37] dthaler commented on #2742
Between PR #2814 and PR #2744 this is now done.

[2020-05-01 01:37] #2742 closed

[2020-05-01 01:40] dthaler commented on #2422
This is now done with the latest [VS extension](https://marketplace.visualstudio.com/items?itemName=MS-TCPS.OpenEnclaveSDK-VSIX)

[2020-05-01 01:40] #2422 closed

[2020-05-01 17:02] BRMcLaren opened #2982 "RHEL Ansible Failing CI/CD"
RHEL8's ansible scripts are failing to set up currently, This is suspected due to a compiler change in the default clang that ships with RHEL8,

This is impacting the rebuildable infrastructure of the CI/CD as can be seen [here](https://oe-jenkins-tf.westeurope.cloudapp.azure.com/blue/organizations/jenkins/CI-CD_Infrastructure%2FOpenEnclave-Build-Azure-Managed-Images/detail/OpenEnclave-Build-Azure

[2020-05-01 19:25] #2668 closed

[2020-05-01 20:31] #2857 closed

[2020-05-01 21:10] yentsanglee commented on #2283
For each oe_veriy_report(), we makes 2 attempts to retrieve PCK collaterals - first time to get sizes and the second time to fill the buffers. The double call has been reported in issue 2049 and will be fixed. The ultimate fix will have to be done by caching PCK collaterals -https://github.com/microsoft/Azure-DCAP-Client/issues/88

[2020-05-01 21:36] #2397 closed

[2020-05-04 16:50] jhand2 commented on #2802
Finally got around to testing this an everything looks good. Thanks!

[2020-05-04 16:50] #2802 closed

[2020-05-04 18:08] radhikaj commented on #2958
@anakrish  will investigate and possibly submit a PR upstream to Intel SGX SDK

[2020-05-04 18:18] radhikaj commented on #2973
Will address the design in sig-documentation meeting.

[2020-05-04 18:19] dthaler commented on #2973
Some comments on #2759 might be relevant to this issue as well.

[2020-05-04 18:20] radhikaj commented on #2974
For SW devices on 2016, you need devcon.

[2020-05-04 18:24] radhikaj commented on #2975
Write a new sample for attestation plugin with the new plugin APIs.

[2020-05-04 18:29] radhikaj commented on #2976
Need to decide how to expose SGX specific APIs.

[2020-05-04 19:56] nonpolarity commented on #2920
@yanxue-intel Please check my pr #2947. Although the multithreads test use mutex to avoid race condition  https://github.com/openenclave/openenclave/blob/3f6a1ac6fe1fe3984aad2854b54d315b1efae9d2/tests/thread/enc/cond_tests.cpp#L15, the test can not guarantee the sequence of thread wait/wake that wake executes after wait.

[2020-05-04 20:25] dthaler commented on #2973
Simon also pointed out this is related to #2979

[2020-05-04 21:21] dthaler commented on #2797
PR #2961 observed that Makefiles are also not covered by any style checking tools (PR #2893 covered cmake files, but not Makefiles)

[2020-05-04 21:33] #2548 closed

[2020-05-05 01:41] jhand2 opened #2989 "No .cmake-format file"
The script in `scripts/format-cmake` references a .cmake-format config file, however I don't see such a file checked in. Was that file accidentally omitted?

When I run `format-cmake`, it doesn't seem to follow the rules run on the existing files

cc @dthaler

[2020-05-05 02:00] jhand2 commented on #2989
For example, when I run cmake-format on my machine, it prefers

[code]

But the changes in #2893 prefer to add a space

[code]

[2020-05-05 02:01] dthaler commented on #2989
ack, you're right.  PR #2990 generated.

[2020-05-05 13:37] yentsanglee commented on #2976
I think this is for legacy SGX support. In the new plugin model, verifier knows how to parse endorsements.

[2020-05-05 15:24] jhand2 commented on #2989
Fixed by  #2990

[2020-05-05 16:02] #2838 closed

[2020-05-05 16:04] jhand2 commented on #2833
I see a couple ways to do this:
1. Re purpose the ocaml C preprocessor code into a library: https://github.com/ocaml-community/cppo
2. Invoke the C preprocessor via command-line

2 is probably easier but 1 may be easier in terms of dependency management.

@anakrish do you have an opinion of this?

[2020-05-05 16:33] #2989 closed

[2020-05-05 17:01] #2982 closed

[2020-05-05 17:39] BRMcLaren commented on #2943
Ansible has a code feature called [become](https://docs.ansible.com/ansible/2.3/become.html)

This is implemented in multiple ansible configurations as can be seen [here](https://github.com/openenclave/openenclave/blob/71edd2cf92f52017410d5e3262628b962067560a/scripts/ansible/oe-contributors-acc-setup.yml#L7)

Running under a user with no-password sudo access, the docs would be correct. However, ru

[2020-05-05 17:55] jianlia opened #2993 "Error The term 'pip' is not recognized as the name of a cmdle when running install-windows-prerqs.ps1"
On brand new VM, run  install-windows-prerqs.ps1 and failed with message "Error The term 'pip' is not recognized as the name of a cmdle "

It is regression from
https://github.com/openenclave/openenclave/commit/53e41c3dd88d58c0d7d58bad53d0980e5a2cd75d

[2020-05-05T04:12:37.1093282+00:00] Start-ExecuteWithRetry attempt 0
[2020-05-05T04:12:39.0317513+00:00] Start-ExecuteWithRetry RetryMessage: Faile

[2020-05-05 17:58] jhand2 commented on #2993
cc @dthaler @BRMcLaren @ionutbalutoiu

Is it expected that pip is not installed by installing python in windows?

[2020-05-05 18:00] jhand2 commented on #2993
A quick google shows we may need to run `python get-pip.py` as part of installing python

[2020-05-05 18:11] dthaler commented on #2993
What version of windows and what version of python do you have?  See https://stackoverflow.com/questions/49854953/get-pip-py-broken-on-windows-10

See the screenshot in there where it explains "The Python installer now comes with an option to install pip which should solve any further problems!"  and "pip is usually packaged with Python. So unless you have an old version of Python, you probably ha

[2020-05-05 18:17] jhand2 commented on #2993
Our installer script doesn't seem to use an installer. It just unzips the python download, puts it in a directory, and then adds that directory to the system path.

[2020-05-05 18:17] jianlia commented on #2993
Windows server 2016 and python will be installed from install-windows-prerqs.ps1 as well which is 3.7.4

[2020-05-05 18:25] anakrish opened #2994 "Make cmake and cmake -DCMAKE_BUILD_TYPE=Debug consistent"
`cmake` and `cmake -DCMAKE_BUILD_TYPE=Debug` currently behave differently.
The latter turns on DEBUG_MALLOC feature whereas the former doesn't.

[2020-05-05 20:19] jhand2 commented on #2993
@jianlia as long as it works I'm ok with that. Do you have access to a WIndows Server machine? If so you could try adding the line to install pip directly before the `pip install` line in the ps1 script and see if it works.

[2020-05-05 20:42] BRMcLaren opened #2996 "Add CI to configure hosts as part of Pull Request process"
We should add to the CI/CD build process to allow the OE SDK to be built on new machines by adding installation set up as part of the processing to avoid issues such as this [one](https://github.com/openenclave/openenclave/issues/2993)/

[2020-05-05 21:22] jhand2 opened #2997 "Enable samples on OP-TEE"
A few of the samples would work on OP-TEE from a code perspective, but they use SGX-specific signing/metadata mechanism which means currently they only build for SGX.

Some small changes to the build for each sample could allow some of the samples to run on OP-TEE.

[2020-05-05 22:24] dthaler commented on #2993
The embedded (zip) distribution doesn't support "python -m pip", nor does it support "get-pip.py" it seems:

- https://stackoverflow.com/questions/42666121/pip-with-embedded-python

- https://stackoverflow.com/questions/49737721/adding-packages-to-python-embedded-installation-for-windows

I'm still investigating.

[2020-05-05 22:29] dthaler commented on #2993
https://docs.python.org/3.7/using/windows.html#windows-embeddable explains:

On Linux we install and use pip with python, so maybe using this embeddable version of python (that doesn't support pip) is so different from what we do on Linux that it's a bad choice?

[2020-05-05 22:31] jhand2 commented on #2993
Ah, thanks for looking into that. Is there a different headless installer we can use instead of using the embeddable version?

[2020-05-05 22:33] jianlia commented on #2993
How about we just use choco to install python instead?

[2020-05-05 22:36] jhand2 commented on #2993
As an aside, does anyone know why the OE CI is still passing?

Either (a) the CI is using the ps1 script and it should fail at pip or (b) CI isn't using the ps1 script in which case cmake-format wouldn't be installed on the machine.

I want to avoid bringing in tons of new dependencies without weighing our options. @anakrish has also been looking into scoop for Windows package management.

I think

[2020-05-05 22:41] jhand2 commented on #2993
If you're admin it looks like you can run the python executable installer non-interactively:
`C:\temp\python-3.7.0.exe /quiet InstallAllUsers=0 PrependPath=1 Include_test=0`

Do we already require people running the script to be admin?

[2020-05-05 22:43] jhand2 commented on #2993
I do think a Windows package manager (like chocolatey) is a good long-term solution for installing these dependencies, but I want to unblock cirrus quickly and I worry that introducing that and making sure it works well in CI will take some time.

[2020-05-05 22:49] dthaler commented on #2993
I believe I will have a quick fix shortly.  Testing now.

[2020-05-05 23:18] dthaler commented on #2993
@jianlia can you test and verify the fix in PR #2998?   I used a Server 2019 VM and got it working for me.

[2020-05-06 02:05] llly commented on #2958
Importing EDL file with same name from different folder is supported by the code generator.
should be careful with  `--search-path` option in this scenario.

I think the failure of sample `switchless.edl` is caused by syntax error.
`public` key word and semicolon after untrusted section are missed. Should be
[code]

[2020-05-06 03:08] jhand2 commented on #2958
I just wrote that free-hand as an example. In actual usage edger8r doesn't fail, it just silently only includes one of the files.

When checking for duplicates the parser strips out the path, so the path you import from doesn't seem to be relevant.

[2020-05-06 04:17] LarryOsterman opened #2999 "oe_verify_evidence should accept SGX quotes as input"
Currently oe_verify_evidence can only work with the output of oe_generate_evidence, which means it cannot be used to validate SGX collateral. oe_verify_evidence should be changed to accept collateral from known TEEs instead of must oe_generate_evidence.

[2020-05-06 05:23] llly commented on #2958
I cannot reproduce your failure.
I have a sample EDL `sgx_tswitchless.edl`
[code]
 SGXSDK is installed in ~ and `~/sgxsdk/include/sgx_tswitchless.edl` is the imported EDL.
Run `oeedger8r sgx_tswitchless.edl --search-path ~/sgxsdk/`.
Checking sgx_tswitchless_t.h I can see
[code]
Then I copy `~/sgxsdk/include/sgx_tswitchless.edl`  to `include/sgx_tswitchless.edl`.
Run `oeedger8r sgx_tswitchless.edl`

[2020-05-06 06:05] yentsanglee commented on #2976
Similar to PR #2986, endorsements.h goes to include/openenclave/attestation/sgx.

[2020-05-06 07:02] yentsanglee commented on #2999
Currently
- oe_verify_evidence() verifies evidence from oe_get_evidence()
- oe_verify_report() verifies report from oe_get_report()

It helps if the legacy format from oe_get_report() and the new format from oe_get_evidence() can be unified and oe_verify_evidence(), which is the promoted API, can verify both formats.

[2020-05-06 16:59] #1989 closed

[2020-05-06 17:03] #1925 closed

[2020-05-06 17:05] BRMcLaren commented on #1925
This issue has not been updated in nearly a year, we have also moved away from OCAML dependencies during this time. If this resurges let's create a new issue and track closer.

Closing issue.

[2020-05-06 17:05] BRMcLaren commented on #1652
@nonpolarity I am removing this from the CloudBase project, no action required.

[2020-05-06 18:30] CodeMonkeyLeet commented on #2999
@LarryOsterman, to clarify the requirement, are you asking for:
- a migration path between the `oe_get_report()` and `oe_get_evidence()` APIs, or
- `oe_verify_evidence()` to be able to handle raw TEE evidence not conforming to the data contract specified by the attestation plugin model?
    - For example, in the case of SGX, the desire is for `oe_verify_evidence()` to process a raw SGX quote produ

[2020-05-06 18:49] anakrish opened #3000 "Consider replacing install-prereqs script with well-tested package managers"
Currently, we have a power-shell script [install-windows-prereqs.ps1](https://github.com/openenclave/openenclave/blob/master/scripts/install-windows-prereqs.ps1) that installs the necessary components to set up a Windows development environment.

The script has the advantage that
- it checks the hash of any package/software it installs
- it fetches packages only from Azure endpoints and avoids 3rd

[2020-05-06 18:52] anakrish commented on #3000
CC: @BRMcLaren @CodeMonkeyLeet @radhikaj @jianlia

[2020-05-06 18:58] anakrish commented on #2993
@jianlia I like the idea of using well-tested package managers rather than our current power-shell script. Do you have a prototype of setting up a OE Windows dev machine using choco?

[2020-05-06 19:03] dthaler commented on #3000
I'm not sure it's an "advantage" for an open source project like this to fetch packages only from Azure.  For an Azure script that's ok.   For folks who don't use Azure it might not be considered a feature.   If the intent is to only use Azure, then it should have azure in the filename and instructions to make it clear.

[2020-05-06 19:15] anakrish commented on #3000
@dthaler That's a good point.

[2020-05-06 19:19] LarryOsterman commented on #2999
I have two possible inputs to my service:

- An OpenEnclave report from an SGX enclave.

- An SGX quote generated by an Intel SGX quoting enclave

I would like to have access to the claims returned by oe_verify_evidence, specifically the claims which include the state of the quote and the validity lifetime of the quote.

In order to do that, there needs to be a mechanism where either (a) oe_verify

[2020-05-06 19:29] anakrish opened #3001 "Consider moving to recent versions of clang/LLVM"
OE SDK currently is tested with clang-7 both on Windows and Linux.
For SGX, compiling with clang provides ability to incorporate mitigations (e.g: -mspeculative-load-hardening). The current release of LLVM is 10; there have been other mitigations that are now available since clang-7.

Do we have a plan/timeline for moving to newer versions of LLV/clang?

[2020-05-06 19:33] anakrish opened #3002 "SGX: Measuring cost of EPC paging in enclaves"
There have been multiple requests to provide ways for application developers to ascertain how much performance cost, EPC paging adds to enclave execution.
Applications that create a lot of threads, allocate/deallocate large amounts of memory are interested in the performance cost that paging that happens behind the scenes may be adding to the application.

CC: @MShan

[2020-05-06 19:51] dthaler commented on #2999
PR #2959 tracks requirements, and I believe it already covers all of Larry's requirements listed here.
It also describes proposal abstract APIs without dictating what the actual concrete APIs look like.

[2020-05-06 20:46] dthaler commented on #3000
The phrase "Fetches packages from stable endpoints that we have control over" in the PR description still begs the question of who "we" refers to.   Do you mean
a) that the person running the script has control over?  (No)
b) that the current OE SDK maintainers (which may change affiliations over time, and for whom Azure might or might not be desired) have control over?
c) that Azure has control o

[2020-05-06 23:18] jhand2 commented on #3001
This issue was opened a while ago to standardize around clang-8: https://github.com/openenclave/openenclave/issues/2476

Either clang 8 or 9 would be fine with me. We clang 7-9 all currently work I think, so its just a matter of changing the version used in CI right?

[2020-05-06 23:20] jhand2 commented on #3001
Btw I think our RHEL build uses clang 8 by default already.

[2020-05-06 23:36] radhikaj commented on #2728
https://github.com/openenclave/openenclave/pull/2882

[2020-05-07 00:09] CodeMonkeyLeet commented on #3000
It's not clear to me what action will resolve this issue: is it just an acknowledgement that an investigation has taken place? It suggests a task, but not the motivation or success criteria?

Based on the the title of the issue, I'd say that the premise of _replacing_ install-windows-prereqs.ps1 with the examples of chocolatey/scoop misunderstands the role of install-windows-prereqs.ps1. Consider

[2020-05-07 00:43] anakrish commented on #3000
I have changed the title to indicate that we ought to consider replacing 'install-prereqs` with a script that uses well tested package managers. Let me know if that seems OK.

Do you have a better name for the script? If the script is an equivalent of ansible on Windows, "install-prereqs" does not seem to capture what ansible does. Ansible does more than just "installing prereqs".

On Linux the ex

[2020-05-07 00:48] anakrish commented on #3000
@dthaler @CodeMonkeyLeet

To be honest, I couldn't think of any advantages from maintaining our own script. To be precise, I couldn't think of any advantages from writing and maintaining code to fetch and install packages/tools.

Do you see any advantage of maintaining our own code to fetch and install packages/tools?

[2020-05-07 00:52] anakrish commented on #3000
It seems like the script  (parts of the script that installs dependencies) provides no advantages over what a package manager would.

In that case:
- Why would we want to write and maintain our own code for installing packages when there are dedicated package managers that can do it?

[2020-05-07 00:55] anakrish commented on #3000
@CodeMonkeyLeet
We originally had a script on Linux that installed the prerequisite packages via the platform's package manager.

Do you know:
- Why we removed that script and moved to ansible? We might as well have uses ansible and called that script from ansible just like what we are doing on Windows.

[2020-05-07 01:05] anakrish commented on #3000
Unfortunately the failure points are quite diverse and we haven't been methodical about capturing them.

However, it would be great if we can determine if there is value in maintaining our own code for package management or it is better to off-load it to a well tested one. It would be great if that discussion could take place independent of the discussion about which packagemanager to use.

[2020-05-07 01:07] anakrish commented on #3000
This is what package managers are good at doing. Installing packages. Why would we want to do that instead of relying on tested package managers? How do you plan to test the use of these proposed additions to the script and make sure that it works for all user machines?

[2020-05-07 01:16] anakrish commented on #3000
Actually, ansible allows running specific tasks. https://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html.

Say I already have a version of Visual Studio , python, git on my machine, I would not want it to be reinstalled. In that case, I would like the script
- to tell me what software it is going to install
- and let me choose the ones it can skip

This is useful say if you work in

[2020-05-07 01:27] anakrish commented on #3000
@CodeMonkeyLeet Thanks for the great writeup.
One thing that was not clear from you post was why we let ansible do the package installation on Linux (instead of calling a script that we originally maintained)?

We might aswell have an install_prereqs.sh on Linux and call that from ansible no?

[2020-05-07 01:34] anakrish commented on #3001
@jhand2 Additionally we need to
- Avoid hard-coded references to clang-7 in our docs
- Avoid hard-coding clang-7 in samples
- Avoid hard-coding clang-7 in scripts (ansible, install-prereqs)

[2020-05-07 01:51] anakrish commented on #3000
Here are a some issues due to the current install-prereqs.ps1 that I can think of:

- OpenSSL is link is not stable. https://slproweb.com/download/Win64OpenSSL-1_1_1g.exe
  The version has moved from e to f to g pretty fast, each time breaking us since the link is no longer valid.
   Both scoop and choco provide stable way to install openssl.
   From what I understand, legally, the OpenSSL package

[2020-05-07 01:58] anakrish commented on #3000
Running the script right now from my Win10 machine gives this:
PS C:\work\openenclave> ./scripts/install-windows-prereqs.ps1 -InstallPath C:/oe_prereqs -LaunchConfiguration SGX1-NoDriver -DCAPClientType None
Downloading all the packages to local directory: C:\Users\anakrish\AppData\Local\Temp\packages

    Directory: C:\Users\anakrish\AppData\Local\Temp

Mode                LastWriteTime         L

[2020-05-07 02:12] anakrish commented on #3000
Turns out my repo was out of date. Now to update it, I git pull. And now running the script again
to configure my environment.
The script is currently redownloading everything. And it will go on to reinstall everything.

[2020-05-07 02:14] anakrish commented on #3000
Now, I get the second failure...
Compressed: 7504391

SUCCESS: Specified value was saved.

    Directory: C:\Program Files

Mode                LastWriteTime         Length Name
----                -------------         ------ ----
d-----         5/7/2020   2:13 AM                python-3.7.4

SUCCESS: Specified value was saved.
[2020-05-07T02:13:23.5168936-07:00] Start-ExecuteWithRetry attempt 0

[2020-05-07 02:16] anakrish commented on #3000
I know that @dthaler has a fix for this. I can get changes from his PR; but then when I run the script it will download everything again and execute till the next failure.

[2020-05-07 02:38] dthaler commented on #3000
The fix you refer to is now merged

[2020-05-07 03:00] anakrish commented on #3000
I commented out the line that did the install of cmake-format, and ran the script again. It went on to download everything again and now for the past half hour it is in the following step:

SUCCESS: Specified value was saved.
Installing C:\Users\anakrish\AppData\Local\Temp\packages\vs_buildtools.exe with
-ArgumentList:
-q
--wait
--norestart
--add Microsoft.VisualStudio.Workload.VCTools
--add Micro

[2020-05-07 03:03] anakrish commented on #3000
I am not sure if it is successfully (re)installing VS 2019 Build Tools or if it has encountered some problem. If I cancel it, I have to rerun it and it will redownload everything and reinstall everything.

Keep in mind that the only thing that has changed has in my environment is that the intel libraries have moved ahead. And in order to update my dev environment, I as an end-user, have to spend m

[2020-05-07 03:46] anakrish commented on #3000
The script succeeded, but it is asking me to reboot my system:

[2020-05-06T20:05:32.6419331-07:00] Installing VC 2012 runtime
Please reboot your computer for the configuration to complete.

[2020-05-07 04:04] anakrish commented on #3000
Though the script succeeded, it is not clear what benefit we get out of making a potential contributor go through this process of redownloading and reinstalling everything just to keep their machine up to date.

While all these are valid questions, it seems that we may have gotten our first principles wrong here.
The default behavior ought to be to not redownload and reinstall software that is alr

[2020-05-07 05:15] jianlia commented on #3000
Saw failure from llvm in one VM today
Downloading: http://releases.llvm.org/7.0.1/LLVM-7.0.1-win64.exe
[2020-05-07T00:10:44.3647415+00:00] Start-ExecuteWithRetry attempt 0
[2020-05-07T00:12:24.4964864+00:00] Start-ExecuteWithRetry RetryMessage: Failed to download http://releases.llvm.org/7.0.1/LLVM-7.0.1-win64.exe. Retrying
[2020-05-07T00:12:27.5006756+00:00] Start-ExecuteWithRetry attempt 1
[2020

[2020-05-07 07:18] jianlia commented on #3000
Looks like it is same as
https://stackoverflow.com/questions/18175456/weird-webclient-behavior-1-computer-hangs-others-dont-for-same-file

[2020-05-07 08:12] scofinan opened #3005 "How to build OE unit tests on Ubuntu 18.04"
SW: Ubuntu 18.04, OE latest version
HW: SKL

According to https://github.com/openenclave/openenclave/tree/master/tests,
To run all tests Open Enclave tests, type the following commands to build and run the tests from the corresponding CMake output folder:
build$ make
build$ ctest

Questions: Where does user execute those commands? If in openenclave/tests, where does build/ exist? And how to genera

[2020-05-07 09:01] yentsanglee commented on #2999
For backward compatibility, it will be great if oe_verify_evidence() or new verifying API can also verify the reports generated by oe_get_report().

[2020-05-07 18:21] jianlia opened #3009 "WebClient failed to download sometimes for install-windows-prereqs.ps1"
Saw failure from llvm in one VM today
Looks like it is same as
https://stackoverflow.com/questions/18175456/weird-webclient-behavior-1-computer-hangs-others-dont-for-same-file
Log details:
Downloading: http://releases.llvm.org/7.0.1/LLVM-7.0.1-win64.exe
[2020-05-07T00:10:44.3647415+00:00] Start-ExecuteWithRetry attempt 0
[2020-05-07T00:12:24.4964864+00:00] Start-ExecuteWithRetry RetryMessage: Fail

[2020-05-07 18:56] dthaler commented on #2993
This issue should be fixed now that the PR is merged

[2020-05-07 18:56] #2993 closed

[2020-05-07 21:38] #2978 closed

[2020-05-08 03:25] CodeMonkeyLeet opened #3010 "install-windows-prereqs.ps1 can fail trying to set sgx_lc_msr regkey on WS2019"
The install-windows-prereqs.ps1 script can fail with the error:

This is because it always tries to set the sgx_lc_msr regkey assuming that the user may be using the `SGX1FLC-NoDriver` setting, but still wants the enable the default installed FLC driver. However, if the device is not SGX enabled or there WU has failed to setup the sgx_lc_msr regkey before the script is run, there's no regkey to cr

[2020-05-08 03:34] jinghe-INTC opened #3011 "Sample project remote_attestation failed in execution on a SGX FLC platform"
There is a problem in running sample project remote_attestation on a SGX FLC platform with Ubuntu 18.04.
Intel SGX/DCAP driver, PSW were installed, and  /etc/sgx_default_qcnl.conf has been modified, pointing to a valid SGX PCCS server.

What else do I need to do to make this sample work properly on the FLC platform?

**I have removed the log from this post since it was not the right one for this i

[2020-05-08 15:52] jhand2 commented on #3011
Need more information

* What version of OE
* What version of PSW
* What version of DCAP libs
* What version of SGX driver

The failure happens during loading so I don't think it's necessarily related to attestation

[2020-05-08 15:55] jhand2 commented on #3005
The tests are built as part of the SDK. In short:

[code]

You can find more complete instructions in the docs for building the SDK from source.

[2020-05-09 07:06] scofinan commented on #3005
hello, @jhand2

Thanks for the support, yes I have tried your steps before reported this issue, also met some errors as below:
...
-- Valgrind not found
-- Looking for crypto library - found
-- Looking for dl library - found
-- Looking for pthread.h
-- Looking for pthread.h - found
-- Performing Test CMAKE_HAVE_LIBC_PTHREAD
-- Performing Test CMAKE_HAVE_LIBC_PTHREAD - Failed
-- Looking for pthread

[2020-05-11 03:26] nonpolarity commented on #3005
@scofinan "Please check your esy installation" means esy is not ready on your system. After https://github.com/openenclave/openenclave/blob/v0.9.x/docs/GettingStartedDocs/install_oe_sdk-Ubuntu_18.04.md you probably need https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/SGX1GettingStarted.md or https://github.com/openenclave/openenclave/blob/master/docs/Get

[2020-05-11 03:43] nonpolarity commented on #3000
@anakrish Agree with you that we need a better way to install the prerequisites badly. According to my experience, there is a very big probability that install-windows-prereqs.ps1 will mess up the PATH environment, especially after several installation attempts. Although there is some effort to deal with PATH in the script, this failure not only leads to failure of prerequisites installation, but

[2020-05-11 07:12] jsun39 commented on #3011
I
Enclave: ***/home/sgxtest/git/openenclave/samples/remote_attestation/common/attestation.cpp(59): generate_remote_report succeeded.
Enclave: ***/home/sgxtest/git/openenclave/samples/remote_attestation/common/dispatcher.cpp(133): get_remote_report_with_pubkey succeeded
Host: 1st enclave's public key:
-----BEGIN PUBLIC KEY-----
MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAohMkqv0ccUXBEkwfWc/H
vo0WF2

[2020-05-11 07:12] jsun39 commented on #3011
I think Jing posted the wrong log, please see the above log info.

[2020-05-11 07:19] jinghe-INTC commented on #3011
Thanks. And see the version information below:
OE: v0.9.0
PSW: SGX 2.9.1 Linux
DCAP libs: DCAP 1.6
SGX driver: sgx-1.32

[2020-05-11 08:47] scofinan commented on #3005
hi, @nonpolarity
Thanks for the support, When I run
$ansible-playbook scripts/ansible/oe-contributors-setup-sgx1.yml

Here is the error message:
TASK [linux/openenclave : Install all the Open Enclave prerequisites APT packages for development] ****
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to update apt cache."}

NO MORE HOSTS LEFT *******************************************

[2020-05-11 09:01] ShundaZhang commented on #2693
Is deepcopy supported now **in OCall**?

I didn't see any ocall test in openenclave/tests/oeedger8r/edl/deepcopy.edl, and when I added several deepcopy tests, I got some failures when build the test application:

Added one ocall in deepcopy.edl
untrusted {
    int ocall_deepcopy_nested([in, out, count=1] NestedStruct* n);
 };

Error Log:
[ 97%] Building C object tests/oeedger8r/enc/CMakeFiles/edl_

[2020-05-11 14:32] jumaffre commented on #2724
@jhand2 @radhikaj I've implemented this in #3014.

[2020-05-11 15:00] jhand2 commented on #3011
@yentsanglee could you or someone on your team take a look at this?

[2020-05-11 15:53] mingweishih commented on #2693
No, deepcopy is not supported in OCALL.

[2020-05-11 16:06] CodeMonkeyLeet opened #3015 "Update install-windows-prereqs.ps1 to pull Intel Windows SGX packages from cache"
One of the issues causing instability in the contributor/user setup instructions on a Windows device is the fact that the install-windows-prereqs.ps1 helper script targets the Intel Developer Zone download links to acquire the SGX dependencies on Windows. This has the following issues:

* Intel Developer Zone does not provide the ability to target a specific instance of the the target package by i

[2020-05-11 18:09] radhikaj commented on #2999
Bring up in sig-attestation. @radhikaj  to add to agenda

[2020-05-11 18:26] radhikaj commented on #3000
@anakrish Will enumerate 3 use cases and capture requirements for each. Will produce a requirements document to discuss.

[2020-05-11 18:31] radhikaj commented on #3001
@mingweishih : Samples- hardcoding of clang-7 has now been removed.

[2020-05-11 18:34] radhikaj commented on #3001
Scripts: should find appropriate version if it exists, otherwise picks a min version.

[2020-05-11 18:41] radhikaj commented on #3001
Do #2476 first.

[2020-05-11 18:42] radhikaj commented on #3002
We will collaborate with mshan on this. This would need a driver patch to be submitted upstream

[2020-05-11 18:48] radhikaj commented on #3009
This is a powershell script problem.

[2020-05-11 18:49] radhikaj commented on #3009
Lets try the stackoverflow workaround included in the original issue and see if the problem goes away.

[2020-05-11 18:50] yentsanglee commented on #2724
#2898 and #2948 are for publishing oecert which generates report and certificate. It's the symmetric tool of verify_host. @jumaffre, feel free to assign them to yourself.

[2020-05-11 18:54] radhikaj commented on #3011
Please use https://github.com/openenclave/openenclave/issues/3011#issuecomment-626515817 as the log you would investigate.

[2020-05-11 18:55] radhikaj commented on #3011
@jinghe-INTC Can you please update the first log you added in the original description of the issue? It appears to be unrelated to attestation.

[2020-05-11 19:06] radhikaj commented on #3015
Francisco will add links to WU Intel packages for WS2016 and WS2019/Windows 10.

[2020-05-11 19:29] MWShan commented on #3002
A good way to tell if an enclave (or application running enclaves) is impacted due to EPC paging is for the kernel to record page faults (#PF) due to an enclave page not being present.

The Linux kernel records information on the number and rate (faults per second) for the following:
 - minflt : minor faults which are #PFs which do not require a page to be swapped in from disk
 - majflt: major fau

[2020-05-11 20:46] nonpolarity commented on #3005
@scofinan Yes I think the error is related to network issue. I have no much experience about ansible proxy, maybe you can try the reference here https://stackoverflow.com/questions/53591531/dynamicly-set-http-proxy-in-an-ansible-playbook.

[2020-05-11 21:23] HernanGatta commented on #2997
`helloworld` and `file-encryptor` should work on OP-TEE as far as the code is concerned; the others exercise SGX-specific behaviours and thus won't work on OP-TEE.

[2020-05-11 22:08] yentsanglee commented on #3011
@jinghe-INTC did you run the sample on an Azure VM? Can you please set log level to INFO and re-run the sample?

export OE_LOG_LEVEL="INFO"

[2020-05-12 02:32] jinghe-INTC commented on #3011
Here's the execution log on Azure VM (Ubuntu 16.04):
[remote_attestation.azure.log](https://github.com/openenclave/openenclave/files/4613059/remote_attestation.azure.log)

[2020-05-12 02:46] jsun39 commented on #3011
I have tried to execute: export OE_LOG_LEVEL="INFO", the log information didn't change. So I guess that this log level setting is not available to non-Azure VM environment.  If my guess is wrong, please let me know how to change the log level on non-Azure VM environment.

[2020-05-12 15:34] johnvenn opened #3021 "openenclave build failure"
hi

I was trying to build openenclave project by git clone https://github.com/openenclave/openenclave.git.

as the instruction in file SGX1FLCGettingStarted.md:
mkdir build && cd build --> cmake .. --> then make

I got the following errors:
[code]

version of binutil in my dev env is 2.30 :
xp@szhan21-NUC:~/oe_prj/ninja_oe/openenclave/build$ ld --version
GNU ld (GNU Binutils for Ubuntu) 2.30

coul

[2020-05-12 15:50] jhand2 commented on #3021
(edited original post to put error log in code block)

This looks like maybe a mismatch between the versions of different binutils/elfutils tools. Which version of Ubuntu are you using?

[2020-05-12 16:47] johnvenn commented on #3021
Thanks a lot for the quick reply.

My system is Ubuntu18.04

[2020-05-12 17:30] CodeMonkeyLeet commented on #2714
Removed from SIG-Arch, will track the arch issue discussions in the future with #2844, this issue will track fixing up the documentation.

[2020-05-12 18:14] CodeMonkeyLeet commented on #2645
Per Sig-Arch meeting, closing as resolved by the approval of design PR #2647

[2020-05-12 18:14] #2645 closed

[2020-05-12 18:18] CodeMonkeyLeet commented on #2729
Per SIG-arch meeting, deferring this to SIG-attestation

[2020-05-12 18:19] CodeMonkeyLeet commented on #2791
Per SIG-arch meeting, deferring this to SIG-attestation.

[2020-05-12 18:26] CodeMonkeyLeet commented on #852
Per [SIG-arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?both#12-May-2020), deferring to next session to discussion actions expected from the SIG.

[2020-05-12 18:26] CodeMonkeyLeet commented on #1852
Per [SIG-arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?both#12-May-2020), deferring to next session to discussion actions expected from the SIG.

[2020-05-12 18:59] anakrish commented on #2895
@achamayou How are you working around this current limitation of the tight coupling between the message generation and message logging?
Today, all the enclave side logging is done via a single `oe_log_ocall` function. Are you providing your own implementation for this function?

[2020-05-12 20:37] CodeMonkeyLeet commented on #2844
Per [SIG-arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?both#12-May-2020), leaving this on the backlog for tracking, pending future discussions around an architectural review around TEE extension model for enclave binary format and metadata handling. Additional related questions in that context:

- OE maintains oesign today, which is the tool that consumes .conf files and adds the metadata

[2020-05-12 20:40] CodeMonkeyLeet commented on #2895
Per [SIG-arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?both#12-May-2020), keeping this on the backlog while investigating the priority and intended use case for this feature request.

[2020-05-12 20:42] CodeMonkeyLeet commented on #2889
Per [SIG-arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?both#12-May-2020), removing from SIG-arch project tracking as a implementation-level investigation that can be brought back to SIG-arch if the resulting proposed resolution requires an architectural change.

[2020-05-12 20:44] CodeMonkeyLeet commented on #2881
Per [SIG-arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?both#12-May-2020), removing from SIG-arch project tracking as previously discussed, with the agreement that we will only revisit if/when MUSL addresses this. This issue is kept in the backlog to track the external dependency on MUSL issue.

[2020-05-12 20:46] CodeMonkeyLeet commented on #2775
Per [SIG-arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?both#12-May-2020), removed from SIG-arch project tracking as an implementation-level fix investigation. It can be brought back to the SIG-arch if the fix requires significant architectural changes.

[2020-05-12 22:50] jhand2 opened #3025 "SGX: Consider passing cpuid table during enclave initialization"
In SGX, a subset of CPUID information is retrieved via an ocall during enclave initialization. This information is then used to tell runtime functions whether certain CPU instructions are supported or not.

We could reduce the number of system ocalls and simplify the initialization path by just passing this information from the host upon initializing the enclave. In either case the information is

[2020-05-12 23:50] radhikaj commented on #3011
@jinghe-INTC From the log it looks like the remote attestation sample passed
 [/home/azureuser/openenclave-master/common/sgx/qeidentity.c:oe_validate_qe_identity:87]
Enclave: ***/home/azureuser/remote_attestation/common/attestation.cpp(163): remote attestation succeeded.
Enclave: ***/home/azureuser/remote_attestation/common/dispatcher.cpp(179): verify_report_and_set_pubkey succeeded.
Host: Remote

[2020-05-13 00:25] jinghe-INTC commented on #3011
Yes. It always passes on Azure VM but not on SGX FLC physical platform.
Is there any way to print this kind of verbose information on non-Azure platform? Thanks.

[2020-05-13 00:54] yentsanglee commented on #3011
We have recently enabled attestation on non-Azure platform but it requires some setup.
@yufjiang can you please help?

[2020-05-13 00:58] yufjiang commented on #3011
Hi @jinghe-INTC have you tried to follow the instructions in this document. See if it can help you out.
https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md

[2020-05-13 01:03] johnvenn commented on #3021
I think some of my personal environment setting is not correct. I will try to figure it out. thanks for your advice.

[2020-05-13 01:03] #3021 closed

[2020-05-13 02:08] #2776 closed

[2020-05-13 06:24] scofinan commented on #3005
@nonpolarity
Thanks a lot for the support.

I found that some 3rd parties downloaded very slowly and I annotated them, then the unit test build process would be normal. Maybe it was caused by different network status. I will close this issue.

[2020-05-13 06:24] #3005 closed

[2020-05-13 10:53] achamayou commented on #2895
@anakrish we don't, OE logging happens via ocalls, which isn't ideal. If we had a clean way to route it over our communication mechanism (which we use for our logs and other purposes), it would be much better.

Is replacing oe_log_ocall a supported way of handling in-enclave OE logging for user apps?

[2020-05-13 16:36] wintersteiger opened #3031 "Asymmetric RSA key code"
The code to initialize an `oe_public_key_t` in `oe_public_key_init` has different behavior on the host and in the enclave. The mbedTLS code sometimes copies keys:
https://github.com/openenclave/openenclave/blob/5eb82c855a3874817578b17a5e46671c1a77d077/enclave/crypto/key.c#L77
 while the OpenSSL code never does so:
https://github.com/openenclave/openenclave/blob/5eb82c855a3874817578b17a5e46671c1a77

[2020-05-13 19:04] AevaOnline commented on #2759
I think, with a little effort, the docs in this folder could be organized into subfolders with a "table of contents" that would help everyone navigate to the information they seek more efficiently. Incidentally, i think this would also help with keyword search indexing.

[2020-05-13 19:06] AevaOnline commented on #2973
I like this suggestion, and agree with it.

while I don't often find markdown #include a worthwhile tradeoff (outside of very large projects) I do see how, in these docs in particular, it makes a lot of sense. And as the project adds more hardware variations, I think we'll need shared doc snippets even more.

[2020-05-13 23:58] jhand2 opened #3035 "SGX: Enable the child_process test"
The child_process test used to check that for an SGX enclave, an ecall/enclave termination cannot be done from a forked child process.

Version 1.33 (and possibly 1.32) has support for accessing enclave file handles from a forked process. This test should ultimately be converted to ensure that this new behavior works as expected.

Because OE SDK users currently use both the 1.22 and 1.33 versions

[2020-05-14 01:02] nonpolarity commented on #2595
@CodeMonkeyLeet @anakrish Thanks for the discussion in #2593 .
It seems now this issue depends on how to deal with the option "-rdynamic".  The pro is that with this option the dynsym can help to locate while dynamic loading. The con is that the extra size of object file, and potential performance loss to load the object.
Please add any opinions.

[2020-05-14 16:58] radhikaj commented on #2595
-rdynamic - If a dev uses oehost.lib and creates a dynamic library. Then the onus is on the developer to set -rdynamic. For v0.10, we will use oehost without -rdynamic.

[2020-05-15 16:14] #2595 closed

[2020-05-15 19:02] yentsanglee commented on #2049
Fixed.

[2020-05-15 19:02] #2049 closed

[2020-05-15 19:31] yentsanglee commented on #2724
@jumaffre please close the issue if it's resolved.

[2020-05-15 20:19] yufjiang commented on #2177
Intel DCAP client was supported and the document was added. Please see the document at https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md

[2020-05-15 20:33] yufjiang commented on #2114
The root cause was that the OE was deeply coupled with Azure DCAP client. Azure DCAP client retrieves certs from Azure PCK certs caching service which only stores the certs for Azure Confidential Computing (ACC) nodes. The non-ACC machines' remote attestation will fail because their certs cannot be retrieved.

This issue has been resolved as we have supported the Intel DCAP client. With proper set

[2020-05-15 22:34] jhand2 commented on #2724
It is still in PR

[2020-05-15 23:04] yentsanglee commented on #2177
Issue is resolved.

[2020-05-15 23:04] #2177 closed

[2020-05-15 23:04] yentsanglee commented on #2114
Issue resolved.

[2020-05-15 23:04] #2114 closed

[2020-05-17 17:36] anakrish opened #3043 "install-windows-prereqs.ps1: Installation of Python adds partial path to system path"
Running `./scripts/install-windows-prereqs.ps1 -InstallPath C:/oe_prereqs -LaunchConfiguration SGX1FLC -DCAPClientType Azure1` causes `C:\Program Files\python-3.7.4\Scr` to be added to system path.

Additionally it raises the following warnings, which indicates that the `install-windows-prereqs.ps1` may be corrupting the PATH.

SUCCESS: Specified value was saved.
[2020-05-17T17:17:45.3769286+00:00

[2020-05-17 18:25] anakrish opened #3044 "install_windows_prereqs1.ps1: Visual Studio Build Tools installation fails cryptically"
On an ACC Win Server 2019 machine, the following failure is seem when installing Visual Studio 2019:
Installing C:\Users\radhikaj\AppData\Local\Temp\2\packages\vs_buildtools.exe with
-ArgumentList:
-q
--wait
--norestart
--add Microsoft.VisualStudio.Workload.VCTools
--add Microsoft.VisualStudio.Component.VC.CMake.Project
--add Microsoft.VisualStudio.Component.Windows10SDK.17134
--add Microsoft.Visu

[2020-05-18 08:13] jinghe-INTC commented on #3011
After carefully  setting up the PCCS service, the sample passed.

Host: Creating two enclaves
Host: Enclave library enclave_a/enclave_a.signed
...
Enclave: ***/home/sgx1911/git/openenclave/samples/remote_attestation/common/dispatcher.cpp(179): verify_report_and_set_pubkey succeeded.
Host: Remote attestation Succeeded
Host: Terminating enclaves
Enclave: ***/home/sgx1911/git/openenclave/samples/remo

[2020-05-18 08:13] #3011 closed

[2020-05-18 13:10] wintersteiger opened #3047 "Endianness in attestation plugins"
The attestation plugin infrastructure and the SGX plugin currently do not enforce or check endianness of their input and output data structures. Thus, similar to #2266, evidence generated on little-endian machines cannot be verified on big-endian machines by `oe_verify_evidence`.

This is because of both, the SGX plugin and the plugin infrastructure (e.g. serialization of `oe_attestation_header_t`

[2020-05-18 15:14] mikbras opened #3048 "Use syscall to set fs/gs in simulation mode"
Rather than emulating the WRFSBASE/WRGSBASE instructions, it would be best to use a syscall.

[2020-05-18 15:32] MWShan opened #3049 "How to provide OE Debug Run-time as a separately installed module"
The OE Debug Run-time provides key pieces of information to debuggers to enable them to debug SGX enclaves.  This is currently provided as a DLL linked at run-time for debugging enclaves in Windows environments; however, the DLL is packaged with the OE SDK Nuget installation.

Other environments, not built with the OE SDK may want to use the OE Debug Run-time DLL to enable debugging.  They current

[2020-05-18 17:07] jhand2 commented on #3048
Exception handling does not currently work in simulation mode, so OE is not emulating the instructions in this case.

[2020-05-18 17:50] #2876 closed

[2020-05-18 18:06] radhikaj commented on #3049
On the Windows side, there are SDKs that are leveraging this dll. On Linux, we have no requirements for this dll as of now.

[2020-05-18 18:11] radhikaj commented on #3048
This is addressed in Jordan's branch. @jhand2: Please add commit-id here. Closing this as of now since it is not a problem and has been fixed.

[2020-05-18 18:11] #3048 closed

[2020-05-18 18:12] jhand2 commented on #3048
Fixed here https://github.com/openenclave/openenclave/commit/2d92ced21169b0fa9628d60216ac8922f913bc37

[2020-05-18 18:20] radhikaj commented on #3035
1.22: Driver did not support making ecalls from a forked child process. These calls would fail
1.33: Above ecalls now succeed
Add to changelog.

[2020-05-18 18:25] radhikaj commented on #3025
The Intel SGX SDK does the same on enclave initialization.

[2020-05-19 01:00] vtikoo opened #3052 "Docker image with openenclave prebuilt"
For developing enclave apps in Docker, it might be useful to have base openenclave docker image with openenclave and PSW software baked in.

[2020-05-19 14:51] bodzhang opened #3054 "SGX: Enable basic Key Separation and Sharing Support"
Intel's Icelake CPU (10nm Gen 10 Core) adds SGX Key Separation and Sharing (KSS) feature. The feature is enumerated in CPUID.(EAX=12H, ECX=1).EAX.KSS[7]. This feature introduces new fields in multiple SGX data structure. The Table/Section reference used below refers to Intel's [Software Developers Manual](https://software.intel.com/content/www/us/en/develop/articles/intel-sdm.html#combined)

- ISV

[2020-05-19 15:33] jhand2 commented on #3052
Can docker containers expose the /dev/sgx devices? In theory it should be possible, I've just never tried before.

[2020-05-19 15:55] vtikoo commented on #3052
Installing the driver within the container doesn't work, but you can mount /dev/sgx from the host onto the container.
For eg: docker run -v /dev/sgx:/dev/sgx <image-name>

Heres a sample Dockerfile running the helloworld sample - https://github.com/microsoft/openenclave-aks/blob/master/k8s-sgxtest/Dockerfile

[2020-05-19 17:09] radhikaj commented on #1852
This design doc addresses this issue: https://github.com/openenclave/openenclave/blob/master/docs/DesignDocs/enclave_openssl_support.md
We should keep the issue open till the implementation is there.

[2020-05-19 17:11] fchinchilla commented on #852
Design was approved and merged #2964 . See https://github.com/openenclave/openenclave/blob/master/docs/DesignDocs/enclave_openssl_support.md

[2020-05-19 17:12] radhikaj commented on #1852
This design doc addresses this issue: https://github.com/openenclave/openenclave/blob/master/docs/DesignDocs/enclave_openssl_support.md
We should keep the issue open till the implementation is there. PR #2694

[2020-05-19 17:17] radhikaj commented on #1852
This is considered cleanup work and we will drop it from SIG-Arch.

[2020-05-19 19:07] CodeMonkeyLeet opened #3056 "__oe_get_enclave_size() does not reflect the ELRANGE"
As observed in PR #3007:

- `_calculate_enclave_size()` in the enclave creation/measurement codepath produces 2 values:
    - `enclave_end`, the total size of the enclave loaded during enclave creation, including the enclave image and all the data pages such as the heap, stacks and TCS pages.
    - `enclave_size`, the size of the enclave as recorded by the SECS, which must be a power of 2 for SGX.

[2020-05-19 23:51] dthaler commented on #2724
If the scenario is "clients that want to verify a remote report without having to build their own C++ binaries" then such a tool is not sufficient, since the example above assumes that you have a report (or evidence, more generally) in a file.   But how did it get there without building your own C++ binary?

[2020-05-20 01:33] dthaler commented on #2724
Reopening so that my question can be answered (I asked the same in the PR, but it was merged).  Can be closed if question can be answered in a way that does not warrant a documentation change.  If any documentation change is warranted, issue should remain open until such documentation is done.

[2020-05-20 18:39] fchinchilla commented on #3049
These are some of the options we discussed in the Sig-Arch:

* One global install
  * For example, a traditional Windows MSI installer
* Each development environment (VS Code, VS2019, WinDbg) has an extension / nuget package that can be installed
* Users can obtain the DLL by installing the OE SDK and manually copy the DLL to a directory in the PATH or to the same directory of the application bein

[2020-05-20 21:17] BRMcLaren commented on #1821
@radhikaj This issue is stale, do we intend to support KabyLake moving forwards? If not, I would like to close the issue.

[2020-05-20 21:24] fchinchilla commented on #3015
# Server 2016
* Base INF
  * Generic Search https://www.catalog.update.microsoft.com/Search.aspx?q=SgxLCDevice . If you click on any of the downloads there is a link to download a specific file in the format GUID_SHA1HASH.cab
  * 2.7.100 http://download.windowsupdate.com/d/msdownload/update/driver/drvs/2020/04/8e78fd6b-efeb-4952-ab0d-945e61c164ba_f46d7480dc60858df4291eb20cc088183e6d09c7.cab
* PSW

[2020-05-20 21:25] jhand2 commented on #1821
I don't think we can run on KabyLake in azure, right? In theory you could run it in a lab but that seems like way too much work to support an old platform.

IMO this can be closed.

[2020-05-20 22:13] BRMcLaren commented on #2536
So, this was a weird issue.

I looked into all the Jenkins servers and tooling that was used. Everything was UTC, it ended up being part of the image creation that we use for our ci agent hosts.

I added an init script that double-checks that all servers are using UTC moving forwards. Forgot to close the issue and doing so now.

[2020-05-21 18:56] dthaler opened #3064 "merge SGX debug patches into upstream glibc"
https://github.com/confidential-computing/governance/issues/51 proposes that OE SDK, Intel SGX SDK, and Enarx consolidate efforts and work to merge upstream.

It points to https://github.com/openenclave/openenclave/tree/master/debugger/ptraceLib as the current OE SDK specific work that overlaps with Intel work and Enarx work.

[2020-05-22 15:48] bodzhang opened #3068 "SGX: LVI mitigation tool limitation when processing assembly source with .byte code"
The GNU Assembler and Python script based solution to parse assembly code and insert LFENCE or replacing RET/Indirect-branch instructions were adopted in Intel SGX SDK project and [Open Enclave project ](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/AdvancedBuildInfo.md#lvi-mitigation) to mitigate the [LVI issue](https://software.intel.com/security-sof

[2020-05-22 22:34] #2808 closed

[2020-05-22 23:45] dthaler commented on #2797
Also looks like EDL files are not covered by any style checking tools

[2020-05-24 22:16] anakrish commented on #2797
clang-format seems to do a decent job of formatting EDL files, since EDL is C-like.
One things that stands out in clang-format formatted EDL is that it puts the `public` keyword specifier for trusted functions in a separate line:

[code]

[2020-05-25 12:06] scofinan opened #3070 "New test design: OE SDK stress test"
Hi, all:

I want to add oe sdk stress test, in order to check if oe sdk would crash during long time repeated operations: create enclave, do ecall, do ocall w/o multi-threads, etc.(can add more later)

Since oe unit test is not long, and stress is too long for CI/CD/Ctest, so plan to control the running time by input parameters: execution_time, thread_number, operation_type, etc.

And we can disab

[2020-05-25 18:51] anakrish commented on #3070
@scofinan There is one test that tests rapid enclave creation: https://github.com/openenclave/openenclave/blob/master/tests/create-rapid/host/host.cpp

Yes, it would be good to have stress tests for OE SDK.
@BRMcLaren for advice on how to integrate stress tests into CI.

[2020-05-25 23:42] anakrish commented on #3064
@MWShan

Currently OE's version of ptrace debugging support library, uses `__ssa_frame_size` from the td_t data structure.
https://github.com/openenclave/openenclave/blob/e3bf0acb2a030d2badb752d92fca6913137b6d42/debugger/ptraceLib/enclave_context.c#L191

If order to get access to td_t, it uses the `OE_TD_FROM_TCS_BYTE_OFFSET` constant.
https://github.com/openenclave/openenclave/blob/e3bf0acb2a030d

[2020-05-26 15:44] anakrish opened #3073 "Logging: Provide a way to capture/redirect internal logs"
OE SDK currently provides a way for users to turn on internal logging for debug-enabled enclaves by setting the **OE_LOG_LEVEL** and **OE_LOG_DEVICE** environment variables.

There is also support for custom-logging format: [LoggingFormat.md](https://github.com/openenclave/openenclave/blob/master/docs/DesignDocs/LoggingFormat.md)

Three separate teams/users have expressed the need to be able to ca

[2020-05-26 15:46] anakrish commented on #2895
Thanks for the inputs @soccerGB @achamayou
Created issue #3073 to focus on the need to provide a way to capture internal logs.

[2020-05-26 15:49] anakrish commented on #3073
One user remarked that just providing the ability to install a `logging-callback` would satisfy their needs:

[code]
"Then in oe_log_message, somewhere around line 347 or so, add:"

[code]

"I think that’s all that needs to happen to satisfy our requirements."

[2020-05-26 15:55] anakrish commented on #3073
Though @soccerGB used the word "plug-in" in the issue @2895, he clarified that it could be something as simple as providing a custom Ocall implementation for the ocalls that print the messages:

@anakrish: "A plugin, as you point out,  would be one way to do it (though the term plugin can encompass anything from a very formal method to just installing a hook for "printing" the messages."

@soccerG

[2020-05-26 16:01] anakrish opened #3074 "Telemetry: Support for telemetry in Open Enclave Application"
This request needs more requirements gathering. The need to support telemetry was asked by
- ACC team
- Teams with audit and compliance requirements

Some points borne out of discussions
- There is value in providing telemetry for just the host side of the OE SDK
- Host side information does not violate the confidentiality guarantees of an enclave

There is NO request to add Azure specific code to

[2020-05-26 16:08] anakrish opened #3075 "Secure Logging: OE SDK to help with secure logging"
User quote:
"The reason is that logging is tricky in the confidential computing world. Is it the application’s responsibility to make sure no confidential data are logged? Or is there a support for the application developers so that only controlled entities have access?"

Can the OE SDK help users that want to generate logs from within enclaves, but the logs themselves must be confidential?

[2020-05-26 16:12] jhand2 commented on #3075
dup of https://github.com/openenclave/openenclave/issues/1046?

[2020-05-26 16:13] jhand2 commented on #3073
Dup of #2895? We should only keep one or the other open

[2020-05-26 16:14] jhand2 commented on #3074
I don't understand the difference between this issue and the other 4 issues that are open around logging right now.

[2020-05-26 17:38] anakrish commented on #3073
To clarify, TEEs (SGX attestation libraries, OPTEE base libraries) also generates logs. This issue does not require that those logs also be captured via the internal logging mechanism.

[2020-05-26 17:51] anakrish commented on #3074
Logging has more to with debugging applications; telemetry has more to do with gathering metrics about running production systems.

Both logging and telemetry are related in that they capture information from running applications; but there is a distinction in regards to the purpose of the gathered information.

[2020-05-26 17:56] AevaOnline commented on #3074
Having a standardized / consistent-across-TEEs interface to expose the minimum set of common telemetry that is needed for workload scheduling would be helpful.

This isn't a conclusive list, but a starting point:
- total & available memory (RAM, EPC, ...)
- total & available compute devices (cpu cores...)
- available specific devices (eg, PCI cards, NUMA devices)

[2020-05-26 18:02] anakrish commented on #3075
@jhand2 I might be related; but asked by different users.
I will work with @AevaOnline to come up with usecases.

[2020-05-26 18:15] anakrish commented on #2895
I'm closing this in favor of #3073

[2020-05-26 18:15] #2895 closed

[2020-05-26 20:09] soccerGB commented on #3073
"One user remarked that just providing the ability to install a logging-callback would satisfy their needs:"
My original request is more than above. I prefer to see this logging redirecting mechanism could be enable from outside of an enclave app, which would make it easier to redirect to anywhere without the limitation of C/C++ language.

[2020-05-26 20:17] anakrish commented on #3073
@soccerGB Do you have a design in mind? I think that once we have the ability to redirect logs from within the enclave app, then the other two users' needs can be satisfied.
Can we build this ability to `enable from outside of an enclave app` atop the ability to enable it from within an enclave app?

[2020-05-27 00:43] anakrish commented on #3070
@scofinan Can you please post a more thorought proposal of what you want to accomplish?

[2020-05-27 02:44] anakrish commented on #3049
@radhikaj @fchinchilla Did we decide on one of the options? (I missed the Sig-Arch meeting).

[2020-05-27 05:39] agowdamsft commented on #3052
@AevaOnline thoughts on the base container?

[2020-05-27 13:23] davidchisnall opened #3078 "API for third-party threading libraries to store per-ethread state"
Based on discussions with @jhand2 in lsds/sgx-lkl#291 and related issues:

SGX-LKL provides a cooperative threading library (lthreads) multiplexing cooperative threads onto enclave threads (ethreads), treating each ethread roughly as a VCPU.  We would like to leave the %fs register (or more broadly, the designated userspace thread ID / TLS register for the architecture) for use by the userspace th

[2020-05-27 16:22] #2968 closed

[2020-05-27 17:17] devansh1305 opened #3079 "Missing dependency for the latest Intel SGX deb package"
So I am trying this command:
`sudo dpkg -i libsgx-enclave-common_2.6.100.51363-bionic1_amd64.deb`

this is the output i get:
[code]

Any idea whats the problem?

PS: I am on:
[code]

[2020-05-27 17:24] jhand2 commented on #3079
dpkg will not install dependent libraries. The package was still installed, it just wasn't configured. To fix it up you can run `sudo apt install -f`

Please note that the Open Enclave SDK is not officially supported on Ubuntu 20.04. There may be things that don't work as expected.

[2020-05-27 17:27] devansh1305 commented on #3079
Still get the same error. I guess I will have to roll back to 18.04

[2020-05-27 17:42] jhand2 commented on #3079
One likely issue is that the package you're installing is for bionic (18.04) and will likely not work on a different system.

[2020-05-27 17:44] devansh1305 commented on #3079
Is there a difference between ubuntu 18.04 LTS and bionic?

[2020-05-27 18:05] jhand2 commented on #3079
bionic is the codename for 18.04

[2020-05-27 18:06] jhand2 commented on #3079
xenial == 16.04
bionic == 18.04
focal == 20.04

[2020-05-27 18:13] devansh1305 commented on #3079
oh ok

[2020-05-27 18:13] #3079 closed

[2020-05-27 22:04] #2930 closed

[2020-05-27 22:04] #2670 closed

[2020-05-28 00:59] fchinchilla commented on #3049
@anakrish Hi. I was out and was not able to attend either. I believe the next step is for us to add a proposal.

[2020-05-28 16:43] AevaOnline commented on #3052
Since several docker images are already built by and for the CI system, I suggest we define the characteristics of a recommended docker image for developers.

Some initial suggestions:
- based on a standard minimal distro (alpine? deb-minimal?)
- reasonably small in size (ergo quick to download)
- contains common build tools (compiler, debugger, text editor like vim/nano)
- does not contain any UI

[2020-05-28 16:43] AevaOnline commented on #3052
This appears to be a duplicate of #1499 ?

[2020-05-28 21:00] shnwc opened #3081 "tests/libcxxrt/test_guard-diff failed with OE_LOG_LEVEL set to INFO or VERBOSE"
On two SGX platforms (one Azure SGX VM with Ubuntu 18.04, the other non-Azure SGX platform with Ubuntu 18.04), when OE_LOG_LEVEL was set to INFO or VERBOSE, ctest run of tests/libcxxrt/test_guard-diff failed consistently, with "ctest -I 95,95 -V" showing result like:

`1/1 Test #95: tests/libcxxrt/test_guard-diff ...***Failed    0.19 sec`

On both platforms, this test was successful when OE_LOG_LE

[2020-05-28 21:59] agowdamsft commented on #3052
I see them related but dont know if the dev container and all extra binaries required for debugging and troubleshooting should necessarily be in this base container on the application k8s server. I like your suggestion for min sized Alpine based

[2020-05-28 22:16] CodeMonkeyLeet commented on #2278
Consolidating some discussions about use of Clang options from various sources here:

- [SafeStack](http://clang.llvm.org/docs/SafeStack.html) as a defense against stack overflow attacks
    - This does not support dynamic Shared Objects (.so) but enclaves are single statically linked binaries today anyway.
    - Low performance overhead, but security promises are limited relative to other options

[2020-05-28 22:55] jhand2 commented on #3081
There are a handful of tests that depend on console output being some particular value. We should see if we can avoid doing this in these tests. Specifically the -diff tests

[2020-05-29 15:38] shnwc commented on #3081
Can these tests to be skipped when the configuration is not compatible, or can they output some warning messages during execution or include some warning comments in their code? Otherwise developers  would be concerned about their changes breaking seemingly unrelated existing features and forced to debug unnecessarily.

[2020-05-29 16:43] AevaOnline commented on #3052
@agowdamsft  if sounds like you have an idea of what you'd like to see in the "base container". Could you elaborate - what would be in that image vs. in a developer image, or what are the required characteristics?

[2020-05-30 02:15] radhikaj commented on #3049
The preferred option was for us to provide an msi or wix

[2020-05-30 02:17] radhikaj commented on #1821
Closing. Thanks @BRMcLaren @jhand2

[2020-05-30 21:19] #1821 closed

[2020-06-01 08:28] jumaffre commented on #2724
@dthaler I will add extra documentation to the `host_verify` sample to clarify its use. However, now that this utility is installed as part of the SDK, I think this should also be documented in the `--help` message of the CLI. What do you think? I will issue a PR for this.

[2020-06-01 15:34] jhand2 commented on #2724
Agreed, the tool should have a `-h|--help` option

[2020-06-01 18:12] CodeMonkeyLeet commented on #3081
Per @mingweishih This is also related to different line terminations when OE logs on checking out tests.

It seems to me like it's unusual for the libcxxrt tests (which should be external 3rdparty tests) to be sensitive to changes in `OE_LOG_LEVEL`, and it may be worthwhile to add an environment variable check to skip the test in the OE test host if `OE_LOG_LEVEL` is not error (we don't log anythi

[2020-06-01 18:18] radhikaj commented on #3068
As soon as we have support for Open SSL, the openssl code will not be LVI instrumented.

[2020-06-01 18:22] mingweishih commented on #3068
[Here](https://github.com/intel/intel-sgx-ssl/tree/master/openssl_source/Linux) lists the set of assembly code rewritten by Intel.

[2020-06-01 18:29] yentsanglee commented on #2283
Azure DCAP Client now caches all collateral. The work was done by [Azure-DCAP-Client PR 105](https://github.com/microsoft/Azure-DCAP-Client/pull/105). The reported performance of a remote attestation is less than 10 ms.

[2020-06-01 18:29] #2283 closed

[2020-06-01 18:31] radhikaj commented on #3064
Move this to SIG-SGX

[2020-06-01 18:35] radhikaj commented on #3056
Intel SDK is using the actual enclave size (ELRANGE)

[2020-06-01 18:42] radhikaj commented on #3052
@fchinchilla will update this issue with directions.

[2020-06-01 18:55] MWShan commented on #3064
The __ssa_frame_size, provided as a number of pages, should be configured with the largest SSA Frame Size that the enclave may need, and is also the number of pages loaded for each SSA Frame.
The SSA Frame Size is largely determined by the size of the XSAVE area in the SSA which is defined by the features supported within the enclave (as detailed by SECS.ATTRIBUTES.XFRM).

This SSA Frame Size does

[2020-06-01 18:57] fchinchilla commented on #3052
Full directions for Windows are provided in "Containers on Windows" section of the 2.6 (and later) "Intel SGX SDK Developer Reference for Windows OS". The very short version of those for Windows Nano Server 2019 boil down to:

`docker run -it --isolation=process --device="class/17eaf82e-e167-4763-b569-5b8273cef6e1"
mcr.microsoft.com/windows/nanoserver:1809`

This will get you an instance of a nano

[2020-06-01 23:14] anakrish commented on #3068
Is it not possible to amend the python script to inset the lfences manually after each .byte code?
For example the following code would print the locations of each .byte within a .S file, assuming pygments python library has been installed via pip.

[code]

Is there more to it than inserting an lfence after every .byte gas mneumonic?

[2020-06-02 01:00] #2866 closed

[2020-06-02 01:00] #2867 closed

[2020-06-02 01:08] jhand2 commented on #2833
@anakrish I have started implementing the 2nd option in oeedger8r-cpp, should have a PR ready soon. On Linux it will use the cpp cmdline tool, and on Windows it will use cl.exe

Do you have any concerns with this approach or do you think this is a fine way to handle this?

[2020-06-02 01:24] anakrish commented on #2833
Thanks for getting a head start on this.
I don't see any concern. We just need to define the preprocessor capabilities.

Note: Intel edger8r does use the C compiler as an edl preprocessor:
https://github.com/intel/linux-sgx/blob/fdc9b33ee173a5e7743f20a2a9cb1dd8db114dca/sdk/edger8r/linux/Preprocessor.ml#L58
[code]
However, this results in incorrect locations for error messages, for which I created

[2020-06-02 14:19] wintersteiger opened #3087 "Missing oe_strtol"
I get undefined references when I try to use `oe_strtol`. It seems there is no implementation for that function, but there's a prototype in `corelibc/stdlib.h`  ([here](https://github.com/openenclave/openenclave/blob/3e15573418caed43f9094ff8aec36cdde4f278f7/include/openenclave/corelibc/stdlib.h#L49)).

Is this just an oversight or is there a reason for not including this function (and the prototyp

[2020-06-02 16:16] anakrish commented on #3064
@MWShan Thanks for the explanation.

There are two SDK specific information used by ptrace wrapper library:
- How to get access to the thread_data structure
- The offset of the __ssa_frame_size within the thread-data structure.

Should these be made part of the debugger contract or somehow standardized?

Note: We may not be able to rely on FS register to get thread-data due to lib-os requirements:

[2020-06-02 17:01] MWShan commented on #3049
If an .msi or wix was provided then any run-time which uses the OEDebugRT.dll could install the package and the installer could ensure that the latest dll was on the platform.

[2020-06-02 17:12] jhand2 commented on #3087
@wintersteiger this appears to just be an oversight. oe_strtoul is supported but oe_strtol is not. I can add it.

Do note the disclaimer in openenclave/coreblibc/stdlib.h
[code]

So I'm happy to add the implementation, but the API is still a bit of "use at your own risk"

[2020-06-02 17:21] fchinchilla commented on #3049
WiX is a toolset used to generate an .MSI installer
https://wixtoolset.org/

There is some integration of WiX into CMake, via CPack / CPackWix.
https://cmake.org/cmake/help/latest/module/CPackWIX.html

We are proposing that the oedebugrt.dll be packaged into an MSI installer that packages it into SYSTEM32, allowing multiple debuggers to use the DLL.

This is similar to what Visual Studio does with

[2020-06-02 17:31] wintersteiger commented on #3087
Well, the reason I got there was that I wanted to use it (I'm also using strtoul). I can work around it, but it likely means that I'll have to implement it in instead of you :-)

I'm not sure about the strategy for corelibc - should I be using `3rdparty/libc/stdlib.h` instead?

[2020-06-02 18:03] jhand2 commented on #3087
So basically OE's general stance is that if you want to use a libc implementation, you should use the musl implementation that OE provides in oelibc.

OE implements corelibc as a very minimal libc implementation that can be used by the core libraries and edl generated code (which is why some corelibc headers are published).

An application which does not want to use oelibc they have two options:
*

[2020-06-02 18:04] anakrish commented on #3049
Do folks see value in moving the debug runtime to a separate repo that can publish the binary artifacts?
We expect this repo to change very infrequently.

[2020-06-02 18:14] dthaler commented on #3087
FYI Issue #2907 tracks the documentation gap around libc vs corelibc.  This question is another result of that root problem.

[2020-06-02 21:19] mingweishih commented on #39
Closing per #2950.

[2020-06-02 21:19] #39 closed

[2020-06-02 23:28] jhand2 commented on #2833
Support for this is added in https://github.com/openenclave/oeedger8r-cpp/pull/9

When this PR is merged and oeedger8r-cpp is made the default this issue will be resolved

[2020-06-03 17:14] anakrish commented on #2958
@jhand2 I cannot reproduce this either. Something subtle is different between your scenario and what I and @llly are trying out. Can you specify your exact reproduction steps?

[2020-06-03 17:18] jhand2 commented on #2958
hmm, I think the original scenario I proposed was wrong. I I think it's this one that doesn't work:

[code]

I would need to go back and double check. Sorry for the confusion

[2020-06-03 20:12] radhikaj opened #3093 "Exception and Signal handling in OE SDK"
Opening this issue as a result of an action item from SIG-Arch.
The purpose of this issue is to identify any improvements that can be made in OE SDK in the area of signal and exception handling.
@mwshan, @anakrish, Please add any gaps between OE SDK and Intel SDK in the areas of exception and signal handling to this issue.

[2020-06-03 22:35] shnwc opened #3095 "Directory openenclave/tests/libcxxrt/results and its contents should not be in repository"
The directory contains test logs, and should not have been committed to the repository.
https://github.com/openenclave/openenclave/tree/master/tests/libcxxrt/results

[2020-06-03 23:33] jhand2 commented on #3095
They are used by the libcxxrt tests to check for expected output.

See CMakeLists.txt file:

[code]

[2020-06-04 00:33] mingweishih commented on #3095
The mean reason is that we directly use the original test cases from the libcxxrt repo instead of re-implementing them.  On Linux, we could build those test cases on both host and enclave, and then compare their output. However, we cannot not build them on Windows. That's why we end up having these logs.

[2020-06-04 01:16] llly commented on #2958
May be "switchless.edl" and "sgx/switchless.edl" are pointing the same file according to `--search-path` in your case.

[2020-06-04 01:38] shnwc commented on #3095
@jhand2 @mingweishih thank you for your explanation! Hopefully eventually we can have a more elegant solution. I'll close this issue.

[2020-06-04 01:38] #3095 closed

[2020-06-04 09:02] achamayou opened #3097 "API exposing the amounts of available and used memory in-enclave"
Opening this as an issue to discuss first whether it should be its own design proposal, or should be done as an amendment to the Pluggable allocators Design Spec written by @anakrish.

I've raised this a couple of times before:
- https://github.com/openenclave/openenclave/issues/2023#issuecomment-571150418
- https://github.com/openenclave/openenclave/pull/2722#pullrequestreview-378993738

Running

[2020-06-04 15:30] anakrish opened #3099 "SGX: Testing: child_process_destroy test occassionally fails in CI"
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/608/pipeline

[2020-06-04 15:30] anakrish commented on #3099
CC @yanxue-intel

[2020-06-04 15:34] anakrish opened #3100 "Testing: tests/crypto/host tests/crypto/enc occassionally fail in CI"
194: Test command: C:\Users\oeadmin\workspace\pipelines\Azure-Windows\build\X64-Release\tests\crypto\enclave\host\cryptohost.exe "C:/Users/oeadmin/workspace/pipelines/Azure-Windows/build/X64-Release/tests/crypto/enclave/enc/crypto_enc"
194: Test timeout computed to be: 1200
194: === begin _test_asn1_parsing()
194: Test failed: ..\..\tests\crypto\asn1_tests.c(339): _test_asn1_parsing read_cert("../

[2020-06-04 17:04] anakrish opened #3101 "Testing: Sporadic failures in E2E tests"
Some instances:
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/609/pipeline

[code]

https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/570/pipeline
[code]
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzur

[2020-06-04 17:10] achamayou commented on #3097
@anakrish not very accurate, a rough amount is enough to answer the following questions:

I've discussed this with @mjp41, who thinks that it should be relatively easy to have that number for snmalloc, so long as the precision is 1Mb, which for the purposes of running SGX-based services in a cloud setting is accurate enough. He also suggested having a high watermark value, which corresponds to the

[2020-06-04 17:14] mingweishih opened #3102 "Porting the libcxxrt tests"
OE currently uses the third-party [libcxxrt library](https://github.com/libcxxrt/libcxxrt) and its tests without modifications.  Doing so results in that the assertions (`TEST(...)`) implemented by the tests do not work inside enclave. Therefore, we ends up having the tests as follow:
- Build the tests on the host and run
- Build the tests inside an enclave and run
- Compare the two output

And gi

[2020-06-04 18:29] dthaler commented on #3093
Is this issue really SGX specific?

[2020-06-04 21:13] anakrish commented on #3100
Another failure:
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/615/pipeline/51

=== begin _test_verify_with_crl()

2020-06-04T19:35:50.000000Z [(H)ERROR] tid(0x7f64c466d3c0) | X509_verify_cert failed!

 error: (23) certificate revoked

 (oe_result_t=OE_VERIFY_REVOKED) [../host/Test failed: ../tests/crypto/crl_tests.c(146)

[2020-06-04 21:15] anakrish commented on #3099
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/615/pipeline/72

220/224 Test #220: tests/child_process_destroy ...........................................................................................................Child aborted***Exception:   0.41 sec

Test failed: ../tests/child_process/host/host.cpp(114): main child_

[2020-06-04 23:05] CodeMonkeyLeet opened #3103 "oesign test cases added by #3046 are non-functional"
PR #3046 introduced new tests for oesign that appear intended to assert the following:

1. oesign should fail when provided an RSA signing key that does not have the SGX-specified exponent 3.
2. oesign should fail when a negative value is provided for the configuration of heap pages
3. oesign should fail when provided an empty configuration file.

None of the tests actually test these conditions.

[2020-06-05 01:42] yanxue-intel commented on #3099
@jinghe-INTC Can you take a look?

[2020-06-05 09:20] mjp41 commented on #3097
So for snmalloc, we use memory in chunks (for OE this is 1MiB), I can easily provide the following two counts

* Reserved - How many chunks of address space we have reserved for running the allocators. (High water mark)
* Active - How many chunks are currently active.

The first is the amount required to provision the enclave, the other can be used to track the system health.  You can use this to

[2020-06-05 12:25] letmaik commented on #2263
What's the progress on this?

[2020-06-05 16:13] #3103 closed

[2020-06-05 16:14] anakrish commented on #3097
@achamayou Can you confirm if it is indeed the case? For example, I don't see equivalent APIs in
tcmalloc, mimalloc.

Also, it is not clear how the proposed API maps to dlmalloc's mallinfo:
https://github.com/openenclave/openenclave/blob/444c574a18643104e1d67d3210b9e98c413bfa5d/3rdparty/dlmalloc/dlmalloc/malloc.h#L83-L94

How can an allocator declare its accuracy?

[2020-06-05 16:40] ryanhsu19 commented on #2263
@letmaik Testing my work on Windows builds now (fine on Linux builds). After it is done I'll soon open a PR for everyone to review it. Then you will be able to use cmake and cpack to build desired minimal hostverify library without further modifications to the files installed by the library.

[2020-06-05 23:56] CodeMonkeyLeet opened #3108 "Testing: tests/create-rapid sometimes fails with a timeout"
Not the first time I've seen this, but there's a recent instance for investigation at:
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/623/pipeline/68#step-425-log-156

[code]

[2020-06-06 03:14] anakrish commented on #2713
This seems like a non issue then. Feel free to reopen otherwise.

[2020-06-06 03:14] #2713 closed

[2020-06-06 03:15] anakrish commented on #2835
This is superceded by the move to C++ edger8r.
https://github.com/openenclave/openenclave/pull/3082

[2020-06-06 03:15] #2835 closed

[2020-06-08 03:09] radhikaj commented on #2681
Closing since this does not repro with newer cmake.

[2020-06-08 03:09] #2681 closed

[2020-06-08 18:05] radhikaj commented on #3102
@mingweishih Please add more information on why assertions dont work. Is it possible to make assertions work?

[2020-06-08 18:07] mingweishih commented on #2698
Fixed by https://github.com/openenclave/oeedger8r-cpp/pull/17.

[2020-06-08 18:07] #2698 closed

[2020-06-08 18:08] radhikaj commented on #3100
@anakrish  Please split apart these three different failures for 194, 195 and 196.

[2020-06-08 18:09] radhikaj commented on #3099
Let's disable this test and re-enable later since this is blocking PRs as of now.

[2020-06-08 18:09] jhand2 commented on #3100
This is tracked by https://github.com/openenclave/openenclave/issues/2617

[2020-06-08 18:16] radhikaj commented on #3087
Action item: Remove strtol from corelibc headers.
@wintersteiger Why are you choosing corelibc instead of libC

[2020-06-09 03:15] jinghe-INTC commented on #3099
Is there anyway to reproduce the problem manually? How to setup an environment of "ACC1804 gcc Debug LVI e2e" which seems to be the only platform with the problem?

[2020-06-09 03:27] anakrish commented on #3099
@mingweishih Can you help with setting up an "ACC 1804 gcc Debug LVI" environment?
Yes, it does seem that in both the links, it is similar kind of environment that has the problem.

@BRMcLaren Is there some way to grep the CI logs to indeed confirm that issue does indeed only happen on the above mentioned platform?

[2020-06-09 05:04] anakrish opened #3113 "CI/CD: Failures due to "No space left on device""
CI has started failing due to "No space left on device" in recent jobs:
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Windows/detail/Azure-Windows/643/pipeline

https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Windows/detail/Azure-Windows/644/pipeline

[2020-06-09 09:47] wintersteiger commented on #3087
I'm using it in SGX-LKL code, i.e. somewhere in between OE and the actual application. The code around my code used corelibc, so I also tried to use it, but we also need to keep the libc dependencies down to the bare minimum, so I'm hesitant about introducing a new dependency there and I'll likely reimplement what I need.

[2020-06-09 13:01] letmaik opened #3116 "python3-setuptools missing in install_ansible.sh"
https://github.com/openenclave/openenclave/blob/f4d9a3fe67030d828697fbdbd74e8a68ddce7c64/scripts/ansible/install-ansible.sh#L14

`python3-pip` only has a recommends dependency on `python3-setuptools`, and since ansible is installed from an sdist `setuptools` is required.

[2020-06-09 13:41] anakrish commented on #3116
@rs-- Since you are looking into ansible related e2e testing, can you take a look at this issue?

[2020-06-09 13:48] anakrish commented on #2907
@dthaler I don't see any design docs in the repo for `corelibc`; not just about `corelibc` vs `libc`.
Should a separate issue be created to capture the rationale/design/evolution of `corelibc` or is that what this issue is? (The title seem to indicate that this issue is more of a "capture the differences between corelibc and libc").

[2020-06-09 13:57] dthaler commented on #2907
@anakrish I would expect it to be part of the same doc on why corelibc exists in the first place, since personally I do not know.

[2020-06-09 14:02] anakrish commented on #2907
Thanks for the clarification. I will hold off on creating a new issue for now.  corelibc has evolved quite a bit; and I'd also like to see its rationale captured somewhere too.

[2020-06-09 15:56] jhand2 opened #3117 "Add generic callbacks to save/restore state over ocall"
During an ocall, some register state may not be persisted. In SGX, the fs and gs registers are always restored to a static per-thread value on eenter, wiping out any pre-ocall value.

Simply saving/restoring fs and gs over ocall is complicated because on many systems, the enclave cannot call the wrfsbase instruction (it is typically restricted to ring-0 only.

A callback to specifically save/resto

[2020-06-09 16:01] jhand2 opened #3118 "SGX: Add support for SIGSEGV handling to OE"
Currently for SGX, OE can handle SIGILL inside an enclave, but cannot handle SIGSEGV.

A preliminary implementation can be found here: https://github.com/openenclave/openenclave/commit/bb24836609e61877b412b63eb70e4ff7bd64eadd

This needs to be cleaned up to be merged into master

[2020-06-09 16:29] MWShan commented on #3093
A draft description of the Intel SGX SDK exception handling flow is posted here: [https://github.com/MWShan/linux-sgx/blob/master/docs/DesignDocs/IntelSGXExceptionHandling-Linux.md](url).  This document references a whitepaper which gives a description of basic exception handling in SGX.  The whitepaper can be downloaded here: [https://software.intel.com/content/www/us/en/develop/download/exceptio

[2020-06-09 18:34] mingweishih opened #3120 "Decide the approach to deal with the code differences of third-party dependencies"
This issue is the follow-up issue of #2984.  In addition to the consensus of using submodules for third-party dependencies, the goal of the issue is extending the discussion on the approach of dealing with code differences (non-upstreamed) in those dependencies. More specifically, the potential directions have been scoped down to the following two options.

- Option 1
  - Create a fork of upstream

[2020-06-09 19:28] BRMcLaren commented on #3113
I've rerun testing against this a few times to try reproduce:

https://oe-jenkins-dev.westeurope.cloudapp.azure.com/job/pipelines/job/Azure-Windows-Badge/74/
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/job/pipelines/job/Azure-Windows-Badge/73/

https://oe-jenkins-dev.westeurope.cloudapp.azure.com/job/pipelines/job/Agnostic-Linux-Badge/59/
https://oe-jenkins-dev.westeurope.cloudapp.azure.c

[2020-06-09 19:30] anakrish commented on #3113
@BRMcLaren In that case, I'm OK with closing this issue and the reopening it if we encounter it again.

[2020-06-09 19:38] BRMcLaren commented on #3116
What failure is this causing?

[2020-06-09 19:39] letmaik commented on #3116
"cannot import setuptools" during the attempted pip install of ansible.

[2020-06-09 19:42] BRMcLaren commented on #3116
That's odd. Are you running the script? What Linux distro are you using?

[code]

[2020-06-09 19:47] letmaik commented on #3116
I think I tried it in an ubuntu:18.04 docker image. But it would appear on any bare bones installation. As I said, python3-pip doesn't have a required dependency on python3-setuptools for some reason, and if you're not getting that from somewhere else then this is the error you'll get on a very fresh system.

[2020-06-09 21:19] BRMcLaren commented on #3116
This is odd. We supply docker [files](https://github.com/openenclave/openenclave/blob/master/.jenkins/infrastructure/dockerfiles/Dockerfile.minimal) to create images. But this works for ansible installation, just checked and it passes the 'no-install-recommends' flag.

Further, all our PR e2e testing relies on this [script](https://github.com/openenclave/openenclave/blob/master/.jenkins/pipelines/

[2020-06-09 21:37] radhikaj commented on #2994
@nonpolarity Please follow up with @anakrish  on this issue.

[2020-06-09 21:38] radhikaj commented on #3093
#2648 also relates to the same area.

[2020-06-09 22:03] letmaik commented on #3116
I checked again, this wasn't actually in Docker, but in the Ubuntu 18.04 hosted agent of Azure Pipelines. See https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=625&view=logs&j=3dce046a-34d9-5229-ddeb-c51fade9e9b8&t=5e798c25-8d1c-5e7a-959f-cd380c8230e6&l=62. After adding python3-setuptools it worked, see https://dev.azure.com/sgx-lkl/sgx-lkl/_build/results?buildId=637&view=logs&j=3dce046

[2020-06-09 22:20] BRMcLaren commented on #3116
If we can't repo it and it works for everything we support, I am not entirely sure it's a bug on our end. There are Azure internal uses for ADO and I use that script.

What pip version are you using?

[2020-06-09 22:34] BRMcLaren commented on #3116
Is there anything that can be done here? It might be best to go through LKL CI routes as it doesn't seem to be an OE issue.

[2020-06-10 07:09] letmaik commented on #3116
Let's close this for now as it's not blocking for me. If someone else stumbles upon it we can re-open this.

[2020-06-10 07:09] #3116 closed

[2020-06-10 08:20] achamayou commented on #3097
@anakrish mimalloc has very extensive stats, see https://github.com/microsoft/mimalloc#using-the-library, https://github.com/microsoft/mimalloc/blob/master/doc/mimalloc-doc.h#L301 and https://github.com/microsoft/mimalloc/blob/master/src/stats.c

tcmalloc does too: https://github.com/google/tcmalloc/blob/master/tcmalloc/stats.h#L87

There's obviously no single unified API for this, since the stats

[2020-06-11 04:20] #2994 closed

[2020-06-11 06:51] yentsanglee opened #3125 "Investigate gaps between current attestation API and attestation requirements"
Attestation API requirements is proposed in [PR 2595](https://github.com/openenclave/openenclave/pull/2959) and [slides](Slides: https://github.com/openenclave/public-talks/pull/1).

Investigate gaps between current attestation APIs and the proposed API requirement.

[2020-06-11 07:00] yentsanglee commented on #2589
TEE-agnostic attestation API has been discussed and tracked by the following issues and PRs:

- [Issue 2949](https://github.com/openenclave/openenclave/issues/2949)
- [PR 2801](https://github.com/openenclave/openenclave/issues/2801)

Per discussion in SIG-Attestation meeting on 6/11/2020, closing the issue.

[2020-06-11 07:00] #2589 closed

[2020-06-11 07:48] achamayou commented on #3097
This line of thinking seems to be applied inconsistently in the OE SDK. Attestation for example is wrapped into a single generic interface, despite there being only a single implementation of it today (and indeed for the foreseeable future).

Users cannot get the total heap size of the enclave from their allocator, only Open Enclave has that information. Can that at least be made available?

As po

[2020-06-11 16:17] dthaler commented on #2589
Other related PRs:

- PR #3089
-  PR #2959

[2020-06-11 20:17] letmaik opened #3127 "Build without libsgx-enclave-common-dev on non-SGX machines for simulation only"
I'm trying to follow the scenario of point 3 in https://github.com/openenclave/openenclave/tree/master/scripts/ansible#open-enclave-deployment-options-via-ansible. This doesn't install any SGX libraries. However, trying to build OE (with `-DHAS_QUOTE_PROVIDER=OFF`) fails with "Intel SGX EnclaveCommonAPI library not found, aborting!". `libsgx-enclave-common-dev` shouldn't be needed for simulation m

[2020-06-12 16:07] wintersteiger opened #3130 "Use of OE_BUILD_ENCLAVE in headers"
This is the only occurrence of the macro `OE_BUILD_ENCLAVE` in the public (installed) header files: https://github.com/openenclave/openenclave/blob/4cc53259c32f2c1a1bd321d85b37049c9fed7efd/include/openenclave/attestation/attester.h#L15

This means that all client code also needs to define this macro if they want to use an attester (plugin). Are there plans to make this the default behavior and to

[2020-06-12 17:23] jhand2 commented on #3127
Simulation mode is a runtime configuration, not build-time. As such, libsgx-enclave-common-dev is absolutely needed for simulation mode.

I do see value in adding a configuration that allows you to build OE for simulation mode only, but it's a non-trivial amount of work.

[2020-06-12 17:45] #3056 closed

[2020-06-12 17:48] letmaik commented on #3127
I see, could you roughly outline what would have to change in OE?

[2020-06-12 19:33] anakrish commented on #3127
@letmaik I'd like to understand your multiple usecases a bit better.

PR #2882 "Dynamically load Intel SGX Enclave Common shared library" was an attempt to  use dynamic loading of sgx-enclave-common so that there is no hard-dependency on intel libraries for simulation mode. Some users have wanted to be able to run OE in AMD machines, and pre sgx intel machines.
In that PR, you commented:
https://g

[2020-06-12 19:35] anakrish commented on #3127
@jhand2

I'm not sure I understand the rationale for this. Simulation mode ought to work on non-intel machines. So why would libsgx-enclave-common-dev be absolutely needed for simulation mode?

[2020-06-12 19:40] jhand2 commented on #3127
As a build-time dependency (I know that's up for debate in #2882 but the current build does require it).

I would advocate for a build-time flag to allow for building OE for simulation mode only and would have no build-time dependency on any TEE libraries. I see that is pretty non-controversial.

[2020-06-12 19:52] anakrish commented on #3127
I see what you mean now. Currently the build system requires lib-sgx-enclave-common as a hard dependency; but it need not be.

[2020-06-13 02:10] CodeMonkeyLeet opened #3132 "`oe_public_key_verify` on Windows occasionally returns unexpected error code on expected verification failure"
`oe_public_key_verify()` on windows is implemented as a wrapper over `BCryptVerifySignature()` and it expects that on failed signature validation, it should receive `STATUS_INVALID_SIGNATURE` to wrap as `OE_VERIFY_FAILED`. Sometimes when presented a key that doesn't match the one used in the signature, as in the case for tests/oesign-digest-sign-mismatched-x509, it returns `STATUS_INVALID_PARAMETE

[2020-06-13 05:39] #3087 closed

[2020-06-15 17:41] #2714 closed

[2020-06-15 17:43] radhikaj commented on #414
This is related to #2907

[2020-06-15 17:50] dthaler commented on #414
PR #2801 is targeted to cover Mike's attestation bullet

[2020-06-15 18:08] radhikaj commented on #3130
OE_BUILD_ENCLAVE  is internal and should not be in a public header file. Just remove it.

[2020-06-15 18:10] radhikaj commented on #3130
Use  _OE_ENCLAVE_H

[2020-06-15 18:20] radhikaj commented on #3118
@jhand2  Please add more details to this issue.

[2020-06-15 18:39] CodeMonkeyLeet commented on #3101
Still seeing the YUM repo timeout issue:
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/708/pipeline

[code]

[2020-06-15 18:49] mikbras commented on #2907
Thank you all for the discussion. As Jordan partly explains above, **corelibc** was created for two reasons: (1) to provide some basic C-like functions needed by **liboecore**, and (2) to enable **mbedtls** to compile (without a dependency on **musl libc**). But we later decided to compile **mbedtls** over **musl libc** and so part of **corelibc** could be removed without impacting anything.

[2020-06-15 18:51] mikbras commented on #2907
Oh, and note that a fundamental design principle of **OE** is that **liboecore** must not depend on a C runtime for two reasons (1) it should be possible to have TEEs that have the smallest TCB possible, and (2) other projects may wish to bring their own libc.

[2020-06-15 18:53] anakrish commented on #3101
@CodeMonkeyLeet @BRMcLaren @rs--

Do we need e2e tests for every PR or can it just be a nightly job? The reason I ask is that the number of  PRs that have an effect on the e2e scripts are minimal compared to the PRs that are unrelated to e2e scripts.

I'd guess that e2e tests might add quite a bit of time to each CI run while not adding significantly more value than if they were run at a nightly b

[2020-06-15 19:17] anakrish commented on #3118
Correction: OE SDK  handles SIGILL only for the CPUID instruction. It does not handle SIGILLs due to all the other invalid instructions that may happen within the enclave.

[2020-06-15 19:42] anakrish commented on #2907
@mikbras Thanks for your insights!

[2020-06-15 19:43] rs-- commented on #3101
@anakrish I'm okay with the idea of running e2e nightly builds.

If, and when does the nightly build catch an issue with the install scripts, what would be the proposed process of getting a fixed pushed through? Would we have to investigate who caused the issue, and assign a ticket to them?

[2020-06-15 19:51] anakrish commented on #3101
@rs--
Those are very good questions. I'd expect that if a genuine failure is detected, then an email to the team with the list of commits that went in since the last successful run, would be sufficient.
Note: these are my suggestions that I'd like to see a discussion on; not yet a confirmed plan of action.

There are some precedents
- LVI tests
- full C++ testsuite

And some anticipated testing
-

[2020-06-15 20:33] dthaler commented on #2907
Isn't that a task for the mbedtls project rather than the OE project?   And why would it be bad to have a dependency on musl libc?  (Maybe covered by your next point?)

But isn't (1) addressed by the linker only pulling in object files out of the lib that you depend on?
And isn't (2) addressed by depending on a .h file that is common across libc implementations?

Just wondering if going forward co

[2020-06-15 20:45] mingweishih commented on #2907
Related issue #3050

[2020-06-15 21:03] CodeMonkeyLeet commented on #3101
@anakrish What do you mean by "e2e tests" in this discussion? Do you mean simply not running all configurations in this case (e.g. RHEL)? Or not running setup? I think we have the freedom to scope the PR runs as it best suits our needs but I'm unclear on what the proposal is.

[2020-06-15 21:24] shnwc commented on #3130
_OE_ENCLAVE_H does not work, since this header file does not depend on <openenclave/enclave.h> to be included. Will change to print error message when _OE_HOST_H is defined.

[2020-06-15 23:15] anakrish commented on #3100
Another instance: https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/713/pipeline

[2020-06-15 23:54] anakrish commented on #3127
@letmaik My previous response was for Jordan.
Can you clarify your requirements? It seems you want ldd to show a hard-dependency on intel libraries, yet want to install and run OE SDK in a machine without intel libraries.

[2020-06-16 00:10] CodeMonkeyLeet commented on #3132
I have verified that this behavior appears to be expected on Windows:

* For RSA signatures, the signature value cannot be larger than the modulus chosen for the RSA keys.
* BCryptVerifySignature explicitly checks for this as part of verifying an RSA signature and fails out as an invalid parameter error if that is the case.
* Because the tests generate an arbitrary incorrect key to test that signa

[2020-06-16 00:26] praenubilus opened #3133 "Application will Crash (OE_PLATFORM_ERROR) w/ feature/sgx-lkl-support branch"
OESDK: we build OESDK from feature/sgx-lkl-support branch with flag `-DWITH_EEID=on -DCOMPILE_SYSTEM_EDL=ON`, to be more specific, below is the cmake string we used:
[code]
VM Tested:
Standard DC8_v2 (8 vcpus, 32 GiB memory), East US, Ubuntu 18.04 Gen2
Standard DC4s_v2 (4 vcpus, 16 GiB memory), East US, Ubuntu 18.04 Gen2
Symptom:
After build and install the OESDK, when running application with thi

[2020-06-16 00:31] anakrish commented on #3101
The discussion in this PR https://github.com/openenclave/openenclave/pull/3053 describes what end-to-end means - essentially install prereqs on a fresh system, then build and test the OE SDK.

My proposal is that there is not much value in running/testing install prereqs for each PR. We are observing sporadic failures in prereqs installation in PRs that have nothing to do with the changes in a PR.

[2020-06-16 00:34] anakrish commented on #3133
CC @jhand2 @CodeMonkeyLeet

[2020-06-16 00:45] yentsanglee opened #3134 "SGX certificate extension parsing on Icelake platform fails"
Remote attestation fails on Icelake platform from parsing SGX certificate extension. Error OE_INVALID_SGX_CERTIFICATE_EXTENSIONS in function ParseSGXExtensions() in
openenclave\common\sgx\sgxcertextensions.c.

Current code in ParseSGXExtensions() only parses up to extension OPT_CACHED_KEYS_OID (1.2.840.113741.1.13.1.7) while more optional extension OIDs (up to 1.2.840.113741.1.13.1.7.3) are define

[2020-06-16 07:23] letmaik commented on #3127
@anakrish I had a look at your PR again. I forgot it also removes the build-time dependency to the Intel libraries which is what I'm asking for here. Being able to ldd dependencies is a nice-to-have for me but not a blocker, and I understand the advantages of the PR (having a single application build  without requiring Intel libraries on non-SGX machines). The main reason for being able to ldd is

[2020-06-16 14:27] anakrish commented on #3127
Thanks for the clarification @letmaik.
I have brought up the general issue of simulation-mode & sgx dependencies for discussion in SigArch:
https://zoom.us/j/95309871627?pwd=K1RmbmZtUUowNFhRbWFZRVN4R2VmUT09

https://hackmd.io/@aeva/oesdk-sig-arch

[2020-06-16 15:47] anakrish commented on #3134
@yentsanglee Do those optional extensions only apply to Icelake or do they apply to pre-Icelake systems as well?

[2020-06-16 16:06] jhand2 commented on #3118
I'm talking about what a registered vectored exception handler can handle, not what OE handles by default. A user can register vectored exception handler to handle arbitrary SIGILL exceptions today. But not arbitrary SIGSEGV.

I also don't know what the discussion around page faults was yesterday. Are page faults in SGX raised as SIGSEGV?

[2020-06-16 16:16] jhand2 commented on #3133
Can you share an application I can run (a test or sample in the repo) where this repros? I am unable to repro this issue.

[2020-06-16 16:29] jhand2 commented on #3133
@praenubilus I rebased with master and am unable to repro this. Could you get the latest from the branch and try again?

[code]

[2020-06-16 16:34] CodeMonkeyLeet commented on #3118
@jhand2 The question that was raised yesterday during triage was around why it was interesting for the enclave to try and handle SIGSEGV. Unhandled page faults lead to segfaults and that will happen in SGX since there is no native mechanism for demand paging. SGX with EDMM provides a mechanism to set a MISCSELECT bit such that page fault information is captured inside the enclave on AEX, so that i

[2020-06-16 16:41] jhand2 commented on #3118
@CodeMonkeyLeet I see. The goal is to provide full support for POSIX signal handling APIs. You could argue whether handling SIGSEGV in an application is a good idea or not, but for a libos to offer that functionality it would be required. Am I missing something?

[2020-06-16 16:42] anakrish commented on #3093
Here is my In Progress documentation that is based on @MWShan 's documents; but written more as a documentation of OE SDK exception handling
https://github.com/anakrish/openenclave/blob/ak_docs/docs/SgxExceptionHandling.md

One thing to cover for both SDK's is a description of the exception safety semantics for registered handlers: #2648
There are some nuances around PLT/Incremental linking, ptrac

[2020-06-16 17:31] praenubilus commented on #3133
@jhand2 , with the latest rebased one, the platform error goes away. Another minor issue, I still received the error prompt:
[code]
This also happens in master branch. Should I be concerned about it?

[2020-06-16 17:55] praenubilus commented on #3133
@jhand2 , with the latest rebased one, the platform error goes away. Another issue I have, I still received the error prompt:
[code]
This also happens in master branch. Should I be concerned about it?

[2020-06-16 17:56] yentsanglee commented on #3134
According to the spec, the optional extensions apply to pre-icelake systems but Intel PCCS just never specified them.

[2020-06-16 18:05] jhand2 commented on #3133
@praenubilus Can you open a different issue for that? That is probably something we need to bubble up to the Azure DCAP client developers.

So can this issue be closed?

[2020-06-16 18:15] #3133 closed

[2020-06-16 18:16] praenubilus commented on #3133
Yes, the problem solved. I will close the issue and create another issue.

[2020-06-16 19:26] #3130 closed

[2020-06-16 22:14] jxyang opened #3139 "Enabling attested TLS based on oe_get_evidence and oe_verify_evidence"
The current attested TLS sample relies on `oe_generate_attestation_certificate` (which calls `oe_get_report` internally) and `oe_verify_attestation_certificate` (which calls `oe_verify_remote_report` internally). With the introduction of attestation plugin model and EEID, we should replace the SGX-specific APIs (oe_get/verify_report) with more flexible  `oe_get_evidence` and `oe_verify_evidence`,

[2020-06-16 22:15] jxyang commented on #3139
@soccerGB

[2020-06-17 01:18] radhikaj opened #3141 "OESDK: Enclaves cannot access host memory by default"
This is a follow up to a discussion in SIG-TEsting where the differences in the behavior of OE SDK and Intel SDK were discussed.

Capturing differences here to continue discussion:
In both SDKs, the host cannot access enclave memory
In Intel SDK, the enclave SDK can access host memory
In OE SDK, edger8r generated code assumes that the enclave cannot access host memory since the generated code must

[2020-06-17 01:41] #2089 closed

[2020-06-17 01:47] anakrish commented on #3141
Thanks for writing this up Radhika.
Consider rephrasing this

to

[2020-06-17 03:10] anakrish commented on #3101
Saw another instance now: https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/730/pipeline

RHEL/YUM seems to be the problematic platform.

[2020-06-17 05:10] #2617 closed

[2020-06-17 07:42] johnvenn opened #3143 "oesign: successful in signing an enclave using a config file with duplicated fields"
in previous test, before PR 3128, this kind of behavior was not allowed.

But now it passed.
./oesign sign -e oesign_test_enc -c invalid_syntax_2.conf -k sign_key.private.pem
Created oesign_test_enc.signed

Contents of config file invalid_syntax_2.conf ==>

Debug=1
NumHeapPages=1024
NumHeapPages=1024
NumStackPages=1024
NumTCS=1
ProductID=1
NumHeapPages=1024
NumHeapPages=1024
SecurityVersion=1

cou

[2020-06-17 16:47] radhikaj commented on #3009
This is not manifesting as of now.

[2020-06-17 16:47] #3009 closed

[2020-06-17 16:51] #3132 closed

[2020-06-17 16:56] CodeMonkeyLeet commented on #3101
Another one at https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/732/pipeline

@rs-- The Curl timeout to the YUM repository seems to be the most commonly hit one and it doesn't appear to be addressed by the previous workaround. Specifically, there are two declarations of the task  `intel_sgx_package_dependencies` and one has

[2020-06-17 17:02] anakrish commented on #3101
Another one:
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/738/pipeline

[2020-06-17 17:02] anakrish commented on #3101
Same symptom as @CodeMonkeyLeet mentioned:
TASK [linux/intel : Install the Intel libsgx package dependencies] *************

fatal: [localhost]: FAILED! => {"changed": false, "msg": "Failed to download packages: Curl error (28): Timeout was reached for https://mirrors.fedoraproject.org/metalink?repo=epel-8&arch=x86_64&infra=$infra&content=$contentdir [Connection timed out after 30000 milliseconds]

[2020-06-17 17:56] dthaler commented on #2571
Now fixed

[2020-06-17 17:56] #2571 closed

[2020-06-17 18:06] dthaler commented on #3101
PR #2985 hit this too
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/686/pipeline

[2020-06-17 18:27] dthaler commented on #2109
The CI/CD work is now covered by issue #2519

A sample was added in PR #2865

The documentation work is now covered by issue #2513 and #2724

So the only bullet not already covered by its own issue is "Expected behavior if both the OE SDK and host verification library is installed".  Per SIG-Attestation meeting, updating the title to scope this issue to that remaining bullet.

[2020-06-17 19:23] mingweishih opened #3147 "Investigate the use of platform-dependent implementations from MUSL"
According to #3146. we found that we use some platform-independent implementations from MUSL (in this case, `memcpy`, `memset`, and `memmove`), which are less performant than platform-dependent ones.  As a follow-up, we'd like to investigate if there are more such cases.

[2020-06-17 19:29] ryanhsu19 commented on #2109
A quick experiment on Ubuntu 18.04 revealed that

- Expected behavior if both the OE SDK and host verification library is installed

is still something we need to work on.

@dthaler since you updated the title already, I do not have to open another issue just to cover the only open bullet, right?

[2020-06-17 19:45] dthaler commented on #2109
@ryanhsu19 correct!

[2020-06-17 19:48] CodeMonkeyLeet commented on #3143
Verified that this is not a regression introduced by #3128; the [v0.9 release drop](https://github.com/openenclave/openenclave/releases/download/v0.9.0/open-enclave.0.9.0.nupkg) of oesign will also successfully sign a package given this syntax. In particular, the last repeated value in the list is the value that will be written into the signature. Looking at the source code history, oesign has nev

[2020-06-18 01:00] johnvenn commented on #3143
ok, thanks a lot for the explanation.

[2020-06-18 01:25] CodeMonkeyLeet commented on #3143
Keeping this issue open, because while this behavior is not a regression, we should evaluate whether the existing behavior is desirable. It's certainly not documented anywhere and it is likely surprising for users encountering it.

[2020-06-18 01:29] johnvenn commented on #3143
ok, this is also my concern. Because in SGX design, we don't allow this behavior. The restriction on the syntax is tight, to make it simple.

[2020-06-18 01:36] dthaler commented on #3143
Agree the existing behavior would seem to violate the [Principle of Least Astonishment](https://en.wikipedia.org/wiki/Principle_of_least_astonishment).   I think the expected behavior would be to fail if there are any duplicates in the file, and report an error.

[2020-06-18 21:17] anakrish commented on #2563
Is this a valid performance issue? While an ecall may be more expensive than a regular function call, it is not clear if there are scenarios where the 3 mentioned ecalls would cause performance issues.

This seems to imply a need for a tight coupling between various features (e.g: logging, switchless) that we want to allow the users to individually opt in/opt out.

[2020-06-18 21:34] anakrish commented on #3025
Passing the data during enclave construction implies that this data would have to be hand-marshalled since enclave constructor is a core ecall that edger8r does not know about.

We are actively trying to avoid hand marshalling data since that has caused CVEs in the past.

[2020-06-18 23:53] anakrish opened #3154 "SGX: Ghost OCalls/System Calls Opt In: Separate libraries for system edls"
In order to use a system library that makes ocalls, has ecalls, in Intel SDK the user must
- import the system edl
- link a system library into the enclave and the host.

E.g: to use switchless calling, the user must import switchless.edl:
https://github.com/intel/linux-sgx/blob/0e71c227ada2174c6dd7557e424815a3f953564a/SampleCode/Switchless/Enclave/Enclave.edl#L36
[code]

and link lsgx_tswitchless

[2020-06-18 23:56] anakrish commented on #3154
CC: @mingweishih @jhand2 @CodeMonkeyLeet @radhikaj

It would be good to discuss this issue, in case it was not already addressed, since it will have an impact on the user experience, possibly across TEEs.

[2020-06-19 07:07] anakrish commented on #3101
This occurred again:
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/766/pipeline/49

[2020-06-19 10:36] letmaik commented on #2946
What's the progress here? `oe_verify_remote_report` is not even part of the API docs because `host_verify.h` is missing https://openenclave.io/apidocs/v0.9/files.html.

[2020-06-19 11:20] letmaik commented on #2946
I tried to figure it out myself without much success. I need to call `oe_get_sgx_endorsements` which is not part of the public API.

[2020-06-19 15:11] anakrish commented on #3101
It happened again on the same PR:
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/767/pipeline/

[2020-06-19 17:03] #3143 closed

[2020-06-19 21:14] anakrish opened #3157 "CI: Cobertura Code Coverage Report is incorrect"
The Cobertura Coverage Report is now available as part of CI run for each PR.

For example:
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/job/pipelines/job/Azure-Linux/770/cobertura/enclave_core_sgx/

The coverage information seems incorrect.
For example enclave/core/sgx/calls.c shows that zero lines out of 260 have been hit.
Both this numbers are wrong - [enclave/core/sgx/calls.c](https://

[2020-06-20 03:39] ryanhsu19 opened #3160 "Unable to separate oehost target while building host-verify package"
With only namespace `openenclave-targets` used to build both OE and host-verify packages, it is impossible to separate `openenclave::oehost` from all the necessary targets

 - `openenclave::oehostverify`
 - `openenclave::host_verify`
 - `openenclave::oe_includes`

used by host-verify package; therefore,

 1. We are unable to build the host-verify sample without removing anything related to `openen

[2020-06-20 19:13] anakrish commented on #2941
This issue confuses libdcap_quoteprov.so which oehost dynamically loads    https://github.com/openenclave/openenclave/blob/463cf14493ab0ffeca275f3b4f5ab4edccbf5106/host/sgx/linux/sgxquoteproviderloader.c#L26-L27

with libsgx_dcap_ql.so which oehost links against
https://github.com/openenclave/openenclave/blob/463cf14493ab0ffeca275f3b4f5ab4edccbf5106/host/CMakeLists.txt#L495

No delay-loading mecha

[2020-06-20 19:13] #2941 closed

[2020-06-20 19:17] anakrish commented on #2941
Here are the set of link errors when you remove the link time dependency on sgx_dcap_ql.so
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/trying/644/

[2020-06-21 20:21] #3127 closed

[2020-06-21 23:43] yentsanglee commented on #3134
Wrong pull request. This issue has not been resolved.

[2020-06-22 18:14] dthaler opened #3169 "Code Coverage Report availability is not documented"
Issue #3157 mentions that CI/CD now issues code coverage reports.
This should be documented, maybe in the "Merging Pull Requests" section at
https://github.com/openenclave/openenclave/blob/master/docs/Community/Contributing.md ?

[2020-06-22 18:17] radhikaj commented on #3160
@ryanhsu19 Please add impact of this issue to the description.

[2020-06-22 18:29] ryanhsu19 commented on #3160
@radhikaj Just added the impact of this issue. Hopefully this will clarify the issue.

[2020-06-22 22:25] Lusitanian opened #3170 "mbedtls_x509_write_csr fails with quote extension"
Seems @CodeMonkeyLeet  worked around this for writing certificates with this patch https://github.com/openenclave/openenclave/blob/040beb10dba521ee95af10b0898707e61cceb3b6/3rdparty/mbedtls/0001-Patch-x509write_crt.c-for-attestedTLS.patch

We need the same for CSRs :)

[2020-06-23 09:51] ShundaZhang commented on #3141
sgx_status_t sb_xor(sgx_enclave_id_t eid, unsigned long long* retval, unsigned long long* array, size_t count)
{
sgx_status_t status;
ms_sb_xor_t ms;
ms.ms_count = count;
ms.ms_array = array;
status = sgx_ecall(eid, 5, &ocall_table_Enclave, &ms);
if (status == SGX_SUCCESS && retval) *retval = ms.ms_retval;
return status;
}
The unmodified intel generated code here is from the un-trusted part of the

[2020-06-23 14:29] letmaik opened #3173 "Check whether running in simulation mode"
I need to check from within an enclave whether it is running in simulation mode or not. I couldn't find an API for that. Am I missing something?

[2020-06-23 15:45] jhand2 commented on #3173
I believe you should be able to do:

[code]

[2020-06-23 15:53] MWShan commented on #3118
I would be very cautious about the enclave doing any exception processing based solely on input from the host (untrusted).  It is difficult to say how the enclave may be manipulated by the host.  The host can interrupt the enclave and then call the enclave to try to get it to process a host provided fault.

[2020-06-23 15:53] anakrish commented on #3173
I don't think we publish oe_enclave struct; the user doesn't have access to it.

I think it is good to add the following APIs:
[code]

[2020-06-23 17:38] dthaler opened #3174 "Can an app consume an OE SDK enclave and an Intel SDK enclave?"
Can the same host application load an OE enclave and an SGX SDK enclave at the same time. That is,
Use Intel edger8r on enclaveA from some other ISV that provided an enclave in binary form
Use OE edger8r on enclaveB
Can you link the resulting untrusted stubs into the same host application, or are there any name collisions?

If there exist Intel SDK-generated enclaves out there today, this scenario

[2020-06-23 17:39] dthaler commented on #3174
This question came up as part of the discussion around PR #3086 which solves a problem only if the problems are all OE SDK enclaves.

[2020-06-23 17:45] nonpolarity commented on #3093
@MWShan Thanks for your information!
Just one more question, is there some doc to elaborate this form?
it is from Exception Handling in Intel® Software Guard Extensions (Intel® SGX) Applications.
![image](https://user-images.githubusercontent.com/14129168/85436848-89a34580-b53e-11ea-9cc8-86a2a2eaf2f8.png)

[2020-06-23 18:04] anakrish commented on #3154
We discussed this in Sig-Arch and the consensus was that OE SDK will not refactor code out into separate libraries for switchless, printing, file system etc other than the separation than the libraries that currently exist.

[2020-06-23 18:06] CodeMonkeyLeet commented on #3154
Closing this issue as resolved during the SIG-Arch meeting.

[2020-06-23 18:06] #3154 closed

[2020-06-23 18:10] CodeMonkeyLeet commented on #3093
Per [SIG-Arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A#23-June-2020), this issue doesn't need discussion in the SIG-Arch forum yet. @MWShan will address the questions raised by @anakrish and bring and outstanding issues back to SIG-Arch for discussion as needed.

[2020-06-23 18:11] yentsanglee commented on #2491
Please re-assign.

[2020-06-23 18:12] MWShan commented on #3093
The above table is provided in Volume 3D of the Intel SW Developers' Manual [-](https://software.intel.com/content/www/us/en/develop/download/intel-64-and-ia-32-architectures-sdm-combined-volumes-1-2a-2b-2c-2d-3a-3b-3c-3d-and-4.html) see Table 37-11 in section 37.9.1.2 "VECTOR Field Definition"

The latest table also includes the #CP Control protection exception which is used in Control Flow Enfor

[2020-06-23 18:14] yentsanglee commented on #1986
Please re-assign. Thanks.

[2020-06-23 18:16] yentsanglee commented on #373
Please re-assign. Thanks.

[2020-06-23 18:17] yentsanglee commented on #1975
Please re-assign. Thanks.

[2020-06-23 18:23] CodeMonkeyLeet commented on #2907
Per [SIG-Arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A#23-June-2020), SIG-Arch is deferring discussion of rearchitecting the libc/corelibc layers in favor of other priorities and it moved to the SIG-Arch backlog.

On the SIG-Documentation side, there remain outdated internal documents on corelibc that could be updated and published as a design document in the repo, and it remains a target

[2020-06-23 19:51] jhand2 commented on #3173
@anakrish in that case, should we consider moving oe_get_enclave in internal? Or at least consider making it's type an opaque handle. It is published in `enclave.h`. `oe_enclave_t` is in `bits/types.h` which is probably ok considering it's a bits header.

[2020-06-24 07:42] letmaik commented on #3173
@jhand2 `oe_enclave_t` is *not* defined as full type in the public `bits/types.h`. Is there a hacky work-around while this feature is being implemented?

[2020-06-24 14:26] letmaik opened #3177 "Write log messages to stderr instead of stdout"
(from https://github.com/lsds/sgx-lkl/pull/520)

stdout is normally buffered and if a crash happens and stdout is redirected to a file then it's very likely that any error message from OE gets swallowed, which makes error diagnosis on remote systems a pain. The work-around is to disable stdout buffering (see linked PR). Ideally though any diagnostic messages (logging) from OE should go to stderr w

[2020-06-24 17:20] letmaik opened #3178 "FLC/Non-FLC in one build?"
OE has `HAS_QUOTE_PROVIDER=ON|OFF` as build-time option. Since the Intel SGX libraries are now all dlopen'd I was wondering whether it makes sense to allow building a single OE variant that works across all SGX variants (currently FLC/non-FLC) with appropriate runtime introspection.

[2020-06-24 18:44] achamayou commented on #3177
@letmaik we use https://linux.die.net/man/1/stdbuf

[2020-06-24 18:50] letmaik commented on #3177
@achamayou Sure, we too, but it's bad enough I even have to think about it! :)

[2020-06-24 19:00] anakrish commented on #3173
@jhand2 IIRC, `oe_get_enclave` was added in [v0.40](https://github.com/openenclave/openenclave/blob/95ac743e6c60775943e5745469c9cca957591a22/CHANGELOG.md#v040---2018-10-08-deprecated) based on request from users to provide some kind of handle that the enclave can send to the host. Deprecating `oe_get_enclave` would have to be done, if needed, in a phased manner.

[2020-06-24 19:07] anakrish commented on #3173
@letmaik
RE: workarounds
One approach that doesn't require access to internal data structures would be to just add an EDL ecall `enc_set_simulate()` and call it from the host.
Other approaches would require having definitions of `td_t` which has a simulate field.

[2020-06-24 19:45] achamayou commented on #3177
@letmaik sorry, didn’t see the PR... I do agree though, error output ought to go to stderr!

[2020-06-24 19:47] anakrish commented on #2431
CC: @mingweishih

[2020-06-24 19:53] mingweishih commented on #2833
This is supported in the current master branch of [oeedger8r-cpp](https://github.com/openenclave/oeedger8r-cpp). We can close this issue once updating the submodule.

[2020-06-24 20:19] radhikaj commented on #2717
#3162 and #3155 address this issue. Closing.

[2020-06-24 20:19] #2717 closed

[2020-06-24 20:21] radhikaj commented on #2728
Fixed in #3162 and 3155#

[2020-06-24 20:21] #2728 closed

[2020-06-24 20:23] radhikaj commented on #1983
#3162 and #3155 fix this issue.

[2020-06-24 20:23] #1983 closed

[2020-06-24 20:53] jhand2 commented on #3177
You want all logs to go to stderr or just OE_LOG_LEVEL_ERROR and OE_LOG_LEVEL_FATAL?

[2020-06-24 21:52] anakrish commented on #3101
I am closing this. In the past 5 days, I have not seen this happen again.

[2020-06-24 21:52] #3101 closed

[2020-06-24 23:45] anakrish opened #3179 "Different behavior when samples are built using cmake vs make"
Take samples/helloworld
When built using make
- OE_BUILD_ENCLAVE is not defined when building enclave. Not really sure if it is supposed to be defined.
- The compiler is chosen as clang-7 if available.

When built using cmake
- OE_BUILD_ENCLAVE is defined when building enclaves.
- The compiler is chosen as GCC while the compiler is invoked as /bin/cc.

This is an important difference to fix since

[2020-06-25 04:46] ryanhsu19 opened #3181 "Cross-compilation not supported on Linux"
This is a follow-up to pull request #3123.

After failing two "Linux nonSGX Verify Quote" instances (both followed by build success on "ACC-1804 Generate Quote" instances), I had a discussion with @mingweishih  and found that

1. In the current version, there is no logic to handle cross-compilation for Linux in `cmake/add_enclave_test.cmake`. As a result, it is supposed that cross-compilation is o

[2020-06-25 06:15] letmaik commented on #3177
All log messages. See also https://linux.die.net/man/3/stderr. stderr is used for diagnostic and error messages. This way messages can easily be ignored by redirection.

[2020-06-25 10:20] achamayou commented on #3177
The only caveat with sending a lot of stuff to an unbuffered stream (assuming that INFO and DEBUG are potentially frequent) is that it will be quite slow. Sending FAIL&ERROR to stdout is definitely good and consistent with platform usage, INFO and DEBUG are more arguable and there's a speed tradeoff there. It's always possible to unbuffer them selectively if they go to stdout, but not if everythin

[2020-06-25 10:31] letmaik commented on #3177
I agree with @achamayou, it's likely a good compromise to only send warning and higher to stderr, and the rest to stdout.

[2020-06-25 16:12] jhand2 commented on #3177
Ok I'm on board with that

[2020-06-25 17:50] CodeMonkeyLeet opened #3184 "oesign dump command should display the MRSIGNER value"
As a convenience feature, the oesign tool should display the MRSIGNER value as part of the display of SGX enclave properties, even though it is not directly embedded in the sigstruct.

[2020-06-25 18:57] yentsanglee opened #3185 "Need a place for internal document/discussion"
The question was raised in SIG-Attestation meeting.

Documents that are created to support internal discussion do not all belong to DesignDoc folder but are valuable for future reference. Is there a place for such documents?

[2020-06-25 19:07] dthaler commented on #3177
I'm going to argue for a different approach: everything goes to stderr but the log level should be a configurable option.  E.g., unless you set the log level to informational, informational messages go to /dev/null.   Keep stdout clean and only put stuff there that the app actually wants there.

[2020-06-25 20:02] letmaik commented on #3177
@dthaler I think @achamayou's concern is that if you *do* need to enable verbose logging for debugging purposes then sending it to stderr would be a bottleneck since the log volume is immense. I don't have numbers but apparently it's magnitudes slower, so I could imagine that getting a log dump could increase the time from a few seconds to minutes, just because stderr is unbuffered. I'll let @acha

[2020-06-25 20:03] letmaik commented on #3177
And @dthaler, the log level is already configurable.

[2020-06-25 20:51] yentsanglee commented on #2792
The major bottleneck is on collateral caching which was fixed in az-dcap-client [PR 105](https://github.com/microsoft/Azure-DCAP-Client/pull/105) and multiple ocall which was fixed in PR 2969. The perf improved by this issue is trivial. Closing the issue.

[2020-06-25 20:51] #2792 closed

[2020-06-25 22:44] radhikaj commented on #2833
Hooray! Thanks @mingweishih

[2020-06-25 22:44] #2833 closed

[2020-06-25 22:50] yentsanglee commented on #2729
Issue is covered by PR 2081 and 3168.

[2020-06-25 22:50] #2729 closed

[2020-06-26 00:16] anakrish commented on #3177
If the issue is that messages are lost upon a crash, is it possible to flush the stdout just prior to abnormal program termination via handling a signal or vectored exception?

[2020-06-26 00:46] #3184 closed

[2020-06-26 00:52] jhand2 commented on #3185
A couple questions:
1. Internal to whom? Do you just mean docs that are for developers of the SDK rather than users?
2. Could you give an example of the type of document that doesn't belong in the DesignDoc folder?

[2020-06-26 07:23] yentsanglee commented on #2519
Similar to ACCPackageTest() in .jenkins\pipelines\Azure\Linux\Jenkinsfile, except
. create in node(AGENTS_LABELS["ubuntu-nonsgx"])
. cmake with host-verify specific definitions

[2020-06-26 09:33] letmaik commented on #3177
If you have memory corruption then you can't expect anything useful to function. I would not complicate it further.

[2020-06-26 16:55] #2693 closed

[2020-06-26 17:49] CodeMonkeyLeet commented on #2179
Update: this fix is in [release 2.22](https://github.com/ARMmbed/mbedtls/releases/tag/mbedtls-2.22.0) and newer, which is not an LTS branch.

[2020-06-26 19:41] anakrish commented on #3177
Fair point.

[2020-06-26 19:52] anakrish commented on #3177
I am leaning towards Dave's approach of logging to stderr by default. That keeps stdout clean.

[2020-06-27 00:29] #2946 closed

[2020-06-28 03:09] ShundaZhang commented on #3141
We have discussed a similar topic in https://github.com/openenclave/oeedger8r-cpp/issues/28. And got the conclusion that it is not a security issue, because OE and Intel SDK are different in marshaling data, and the copy we are discussing locates in un-trusted code while copy of SGX Edger8r locates in trusted code.

[2020-06-29 07:21] letmaik opened #3196 "Add sample that gets quote and endorsements within an enclave using the C API"
This is a follow-up on https://github.com/openenclave/openenclave/issues/2946.

The `hostverify` sample uses the `oecert` tool to generate the quote and endorsements, however I need to do the same using the C API inside the enclave.

[2020-06-29 22:34] #2817 closed

[2020-06-29 23:01] #3170 closed

[2020-06-29 23:11] dthaler commented on #2797
Another issue is, I think, that doxygen isn't validated by a build.  So if there are typos like
`/* @param[in/out] arg Argument */`
(where "/" should be ",") or
`/* @param[arg] Argument */`
or
`/* @param[in[ arg Argument */`
etc. they are not caught.

[2020-06-29 23:51] CodeMonkeyLeet opened #3199 "Testing: tests/crypto_crls_cert_chains sometimes fails with ./data/root.cert.pem not found"
Seems pretty rare, but this is the second occurrence I've seen where a certificate needed by the test is not available when the test runs, might be a build dependency issue that needs to be specified for the test.

[code]

Occurrences:
* https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Windows/detail/Azure-Windows/591/pipeline
* https://oe-jenkins-d

[2020-06-29 23:59] mingweishih commented on #2958
Closing the issue as it seems not an issue anymore. Feel free to re-open if needed.

[2020-06-29 23:59] #2958 closed

[2020-06-30 20:17] mingweishih opened #3201 "Decide the precedent of how to import platform-dependent system edls."
OE currently have umbrellas `platform.edl` for both sgx and optee. This provides two options for an platform-independent enclave to use.

- Option 1: Specify the search path to the oeedger8r
  In this option, an enclave imports the `platform.edl` in its edl as follows.
[code]
  and specify the search path to the oeedger8r as follows.
  - `--search-path ${OE_INCLUDEDIR}/openenclave/edl/sgx` to use

[2020-06-30 20:18] mingweishih opened #3202 "User Experience with System Calls Opt-in"
Originally, OE enables all the system calls (ocalls/ecalls defined in system edls) by default. For example, an enclave by default supports a set of syscall-related ocalls. Therefore, users can use any API (e.g., `printf`) depending on those ocalls without explicitly importing them from corresponding edls. Despite the convenience, this practice bloats the TCB of an enclave and prevents user from op

[2020-06-30 20:20] mingweishih commented on #3201
cc @dthaler @anakrish @CodeMonkeyLeet @jhand2 @radhikaj

[2020-07-01 19:52] #3134 closed

[2020-07-01 20:26] anakrish opened #3210 "Ensure that oeedger8r generated names are conformant to Developer Guidelines"
oeedger8r generates names using older naming convention. e.g: `__oe_ecalls_table`.
This issue is to keep track of the task of changing the emitted names to be conformant to [Developer Guidelines](https://github.com/openenclave/openenclave/blob/master/docs/Community/DevelopmentGuide.md)

[2020-07-01 20:27] anakrish commented on #3210
Most of the SDK naming conformance is being done in #3208

[2020-07-01 20:53] mingweishih commented on #2818
With #3023, #3151 and #3203, now only sgx/attestation.edl, sgx/cpu.edl cannot be opt-out.
The opt-out of the sgx/cpu.edl is tracked by #3025.
Regarding sgx/attestation.edl, I'd like to get feedback to see whether it makes sense to be opt-out. More specifically, do we need to support an enclave without the attestation support?

cc @CodeMonkeyLeet @jhand2 @yentsanglee @radhikaj @anakrish

[2020-07-01 21:41] dthaler commented on #2818
I think it should be supported, but it's not high priority.   Other libOS approaches like Enarx don't support attestation by the app (the deployment mechanism does the attestation), so I don't think it's a blocker in general.

[2020-07-02 17:11] mingweishih commented on #2431
This feature is supported by the current oeedger8r implementation.

[2020-07-02 17:11] #2431 closed

[2020-07-02 17:20] anakrish commented on #2431
The recommended oeedger8r syntax is to use arrays with macro/enum dimension:
[code]

[2020-07-03 08:12] johnvenn opened #3219 "oesign: succeeded in signing enclave with a key file in wrong format"
using openssl to generate a key file: sign_key.private.pem
openssl genrsa -out sign_key.private.pem -3 3072
append string "Proc-Type: 4, ENCRYPTED" to the end of the key file  and save it as sign_key.wrong_format.pem

sign the enclave using this key file "sign_key.wrong_format.pem", sign succeeded.

Contents of this sign_key.wrong_format.pem file:

-----BEGIN RSA PRIVATE KEY-----
MIIG5AIBAAKCAYEA6

[2020-07-03 15:45] letmaik opened #3220 "Cannot include OE directly from another CMake project"
The CMake files of OE have a few `CMAKE_SOURCE_DIR` in them which should all be replaced by [`PROJECT_SOURCE_DIR`](https://cmake.org/cmake/help/v3.18/variable/PROJECT_SOURCE_DIR.html) so that OE can be consumed with `add_subdirectory()`. `CMAKE_SOURCE_DIR` refers to the top-most folder (the consuming project) which is incorrect.

[2020-07-06 15:04] letmaik opened #3225 "Use target_link_options for linker options"
Currently OE's CMake files add linker flags via `target_link_libraries`. This confuses CMake when producing dependency graphs with `--graphviz=graph.dot`. `target_link_libraries` was introduced with 3.13, currently OE requires 3.12. I know this is a nice-to-have but I'm sure there are other advantages as well apart from producing pretty graphs.

[2020-07-06 18:03] #3099 closed

[2020-07-06 18:09] radhikaj commented on #3174
Add that this is not supported in documentation.

[2020-07-06 18:12] radhikaj commented on #3178
This would be resolved if HAS_QUOTE_PROVIDE is deleted as an option.

[2020-07-06 18:39] yentsanglee commented on #3196
Local/remote attestation samples call oe_get_report() to get local/remote report. We are working on finalizing oe_get_evidence() which returns evidence/report/quote and endorsements.

@letmaik letmaik, what is the the purpose or urgency of this issue?

[2020-07-06 18:47] letmaik commented on #3196
@yentsanglee I need to build clients that don't have a dependency on Azure DCAP Client. For that, I need working endorsement support.

[2020-07-07 00:07] anakrish commented on #1704
I have created reproduction steps for the issue with latest OE SDK here: https://github.com/anakrish/oe-bugs

Findings
- The call to `oe_abort` in `libc/syscalls.c` must be commented out to reproduce the issue. https://github.com/openenclave/openenclave/blob/923d14af1625723304e304fc8cb5f22d882abc66/libc/syscalls.c#L51-L56
- oegdb does not seem to have any bugs. The issue is that when __throw_syste

[2020-07-07 00:24] mingweishih commented on #437
Close per #2984. For supporting code coverage on Windows and improve the accuracy of the code coverage, we can open new issues to track them.

[2020-07-07 00:24] #437 closed

[2020-07-07 00:27] mingweishih commented on #2818
Close given #3214 is merged.

[2020-07-07 00:27] #2818 closed

[2020-07-07 00:29] mingweishih commented on #2704
Now the oeedger8r is switched to C++ implementation. I'm closing this issue. Feel free to reopen if necessary.

[2020-07-07 00:29] #2704 closed

[2020-07-07 00:31] mingweishih commented on #1986
This does not seems to be a problem now. I'm closing this issue. Feel free to reopen if needed.

[2020-07-07 00:46] anakrish commented on #1986
@mingweishih I'm reopening this since OE's mbedtls libraries don't have the oe prefix. Therefore users will still run into the issue.

[2020-07-07 00:50] anakrish commented on #3178
I looked at this. We are quite close to being able to build OE on a non FLC machine and use it in an FLC machine (ie FLC/Non-FLC in one build).
In addition to removing HAS_QUOTE_PROVIDER, we need to
- remove dependency on Intel SGX headers in host/sgx/quote.c
- Remove LING_SGX_DCAP_QL
- Figure out whether the platform has dcap and selectively enable tests.

This looks quite possible to do v0.11

[2020-07-07 16:45] #3220 closed

[2020-07-07 18:51] #2719 closed

[2020-07-07 19:35] yentsanglee opened #3231 "Review attestation public API Doxygen documentation"
- Ensure all attestation public headers are included in Doxygen
- Ensure attestation API behavior matches Doxygen documentation

[2020-07-07 22:38] #2267 closed

[2020-07-08 00:28] CodeMonkeyLeet commented on #3219
The provided PEM file isn't actually illegal. OpenSSL effectively ignores text outside of the PEM headers and footers, so if you run the provided file through OpenSSL, it also succeeds:

[code]

[2020-07-08 01:47] johnvenn commented on #3219
ok, I have removed the 3 cases for key test. thanks a lot for the recommendation.

[2020-07-08 01:47] #3219 closed

[2020-07-08 02:17] CodeMonkeyLeet opened #3235 "Clean up SGX loader stack variable naming for `enclave_end`"
There remains some confusion around the use of the `enclave_end` variable in the SGX loader stack and its inconsistent use that should be cleaned up:

- [ ] `_patch()` in host/sgx/loadelf.c `enclave_end` parameter should be renamed `enclave_size` for clarity given its expected use after #3801
- [ ] Similarly for the `patch` function signature in openenclave/internal/load.h
- [ ] `_calculate_enclav

[2020-07-08 02:23] CodeMonkeyLeet commented on #2267
Resolved by #2911

[2020-07-08 17:56] BRMcLaren commented on #3000
@anakrish I am looking to deprecate the script if possible in the next release, would it be possible to provide updates on the above so I have a good starting point?

[2020-07-08 17:58] dthaler commented on #2903
The file https://github.com/jhand2/openenclave/blob/global_module_initialization/docs/DesignDocs/openenclave_modules.md is relevant, at least as a cross reference

[2020-07-08 19:00] anakrish commented on #3000
@BRMcLaren
The 3 use cases for the install-prereqs script currently are
- To set up an OE SDK windows development environment (Contributor)
- Automate parts of CI/CD
- As a potential replacement for manually setting up an OE SDK environment as an user (https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk-Windows.md)

I haven't gotten the chance to investiga

[2020-07-08 20:31] letmaik commented on #2263
@ryanhsu19 Can you re-open this? PR #3193 is not the full solution.

[2020-07-08 21:05] ryanhsu19 commented on #2263
I don't think I can re-open an issue not created by myself. Let me ask others in the team to do so.

[2020-07-08 22:12] dthaler opened #3239 "Porting guide for someone wanting to move from SGX SDK to OE SDK"
If someone has an enclave built with the SGX SDK for Linux, or the Intel SGX SDK for Windows, and wants to port it to the OE SDK, I think we should have a porting guide that says what needs to be done.

It might mention which features, if any, can't be ported yet, but the main question is about basic enclaves that can be ported.

[2020-07-08 22:26] dthaler commented on #2263
Reopening per @letmaik's request

[2020-07-08 23:29] mikbras commented on #3031
Thank you Christoph for filing the issue.

I was wondering whether you're calling **oe_public_key_init()** directly or indirectly. If indirectly, which of these functions are you calling?

[code]

Hopefully this information will help me pinpoint the bug.

Thanks!

[2020-07-08 23:36] yentsanglee commented on #2263
@letmaik  What's missing? Can you explain?

[2020-07-08 23:43] ryanhsu19 commented on #2263
@yentsanglee I think it is due to the part where `oehost` could not be fully separated.

[2020-07-09 06:34] letmaik commented on #2263
As long as https://github.com/openenclave/openenclave/pull/3123 is still open, this issue has to be open.

[2020-07-09 10:13] wintersteiger commented on #3031
Hi Mike, thanks for taking a look at this!

I use `oe_rsa_public_key_init` and `oe_rsa_public_key_free` ([here](https://github.com/openenclave/openenclave/blob/62fca4704a07132aff47207c496050f0ec7cc2d9/common/sgx/eeid.c#L466)). The mbedTLS version of `oe_rsa_public_key_init` creates an internal copy, while the OpenSSL version doesn't, so I need an additional `mbedtls_pk_free`. I may well be using t

[2020-07-09 22:57] yentsanglee opened #3241 "Attestation endorsements should not be wrapped in oe_attestation_header_t"
Attestation endorsements format is proprietary to each evidence format but at public level API oe_verify_evidence() it should be a clear buffer.

Attention - openenclave/common/attest_plugin.c:oe_verify_evidence()

[2020-07-10 00:09] nonpolarity opened #3243 "cmake install lib as lib64 on RHEL"
While the output dir is "lib", it is renamed as "lib64" at destination:

[alvin@wechen3-rhel8-try build]$ sudo ninja install | grep openenclave/lib
-- Up-to-date: /opt/openenclave/lib64/openenclave/cmake/openenclave-config.cmake
-- Up-to-date: /opt/openenclave/lib64/openenclave/cmake/openenclave-config-version.cmake
-- Up-to-date: /opt/openenclave/lib64/openenclave/cmake/openenclave-targets.cmake

[2020-07-10 18:50] #3169 closed

[2020-07-10 20:15] dthaler opened #3246 "Security reporting process is hard to find"
The main page at https://github.com/openenclave/openenclave has a Send Feedback section that only mentions the mailing list and filing github issues, implying that one should file a github issue or send a public email to report a security issue.

The actual process is buried down at https://github.com/openenclave/openenclave/blob/master/docs/Community/Contributing.md#reporting-security-issues whic

[2020-07-10 22:05] anakrish opened #3250 "Same host may not be able to load and use enclaves created from different EDLs"
In v0.10, the SDK is built with `COMPILE_SYSTEM_EDL=off`. This means that system edls are not treated in a special manner and therefore the user has to explicitly import them in their own EDLs.

While this is a good direction (the user can control the ocalls made by the enclaves), currently this introduces a regression in v0.10.

Previously (inv v0.9 and earlier), a user can write a host applicati

[2020-07-13 09:43] letmaik opened #3254 "Cannot opt-out of sgx/thread.edl if --gc-sections is not used"
`oe_sgx_thread_wake_wait_ocall` does not have a weak implementation and the symbol gets pulled in during linking via `enclave/core/sgx/thread.c`, which contains `_thread_wake_wait` and which calls `oe_sgx_thread_wake_wait_ocall`.  `--gc-sections` would avoid this (as it would eliminate the pthread chain) but it shouldn't be a requirement for opt-out, since it is not a requirement for all the other

[2020-07-13 10:50] letmaik opened #3255 "Cannot opt-out of memory.edl if --gc-sections is not used"
This issue is similar to https://github.com/openenclave/openenclave/issues/3254. Note that there are no other opt-out issues related to `--gc-sections` at the moment.

`oe_realloc_ocall` does not have a weak implementation and the symbol gets pulled in during linking via `enclave/core/hostcalls.c`, which contains `oe_host_realloc` and which calls `oe_realloc_ocall`. `--gc-sections` would avoid thi

[2020-07-13 17:13] mikbras commented on #3031
Oh, I see. I guess `oe_rsa_public_key_init` is an internal function since it is not exposed under the include directory. There seem to be three solutions.
1. Pass the key to `oe_ras_public_key_init` and never free it (the function takes over the key and decrements the reference count eventually).
2. Up-ref the key (EVP_PKEY_up_ref) before calling `oe_ras_public_key_init` and then free it later (EV

[2020-07-13 17:34] wintersteiger commented on #3031
I see, makes sense now! It's been a while, but if I remember correctly, not freeing the mbedTLS key reports a memory leak, that why I dug deeper. You're right, maybe I should just up-ref the OpenSSL key to make it symmetric again. I would expect `oe_rsa_public_key_init` to do that for me though.

[2020-07-13 18:11] dthaler commented on #3239
@MWShan can you look at this?

[2020-07-13 22:50] #2513 closed

[2020-07-13 23:55] yentsanglee commented on #3231
The major PR 3198 for attestation plugin public API is still under verification and has not made it to release v.0.10. Will move this issue to the next release.

[2020-07-14 01:23] radhikaj commented on #3250
A work around for this is to create a single edl and stub out appropriate calls for each enclave.

[2020-07-14 10:54] achamayou opened #3262 "Fragment test"
In relation to #3256 I've been looking at the memory fragment test, because it makes use of dlmallinfo(), which is dlmalloc-specific.

It defines __get_heap_size as dlmallinfo().keepcost: https://github.com/openenclave/openenclave/blob/master/tests/memory/enc/fragment.c#L34

That's:

So that's memory held by the allocator that isn't actively in use, and could conceivably be released. It's neither

[2020-07-14 16:57] #3254 closed

[2020-07-14 16:57] #3255 closed

[2020-07-14 21:05] CodeMonkeyLeet commented on #3262
I'll also note that tests/bigmalloc has a similar issue where it cannot run with snmalloc because it assumes an `sbrk()` based allocator to infer remaining heap size. It may be worth thinking about a standardized `oe_allocator_mallinfo` contract with pluggable allocators to be able to standardize these tests.

[2020-07-14 21:38] achamayou commented on #3262
Yes, good point. There has been some prior discussion about this, although in the context of exposing this to users instead https://github.com/openenclave/openenclave/issues/3097. May I propose an `oe_allocator_mallinfo`, to be exposed internally to tests only? Is the best way to do that a separate design document, or a PR against the existing pluggable allocator design document?

[2020-07-14 22:37] jxyang opened #3264 "Regression of custom claims in evidence based attestation"
I was able to create a list of custom claims, each with its own name, data, and size, and pass them to `oe_get_evidence`, and the generated evidence would include these custom claims. On the verifier side, `oe_verifiy_evidence` would extract the claims, each with its own name / data / size.  The feature allowed me to implement attested TLS with "public key" as a custom claim.

With PR #3198, all t

[2020-07-15 15:47] mikbras commented on #3031
I agree. I guess if it were in the public interface someone might have documented it or done it differently.

[2020-07-15 18:08] jxyang commented on #3264
@yentsanglee

[2020-07-15 18:23] anakrish commented on #3264
CC: @CodeMonkeyLeet @dthaler since this is a question about API design.

[2020-07-15 18:42] nonpolarity commented on #2536
Administrator@wechen3 /cygdrive/c/Users/Administrator/Downloads
$ stat open-enclave.0.10.0-rc1/openenclave/share/openenclave/samples/helloworld//CMakeLists.txt
  File: open-enclave.0.10.0-rc1/openenclave/share/openenclave/samples/helloworld//CMakeLists.txt
  Size: 1474            Blocks: 4          IO Block: 65536  regular file
Device: 42e55cbbh/1122327739d   Inode: 1970324837651657  Links: 1
Acce

[2020-07-15 20:03] radhikaj opened #3271 "Add cpack to create packages at the end of each Jenkins stage"
Recently there have been a couple of regressions in the cpack step that is used to create packages. Adding cpack to each Jenkins job ensures that packages can be built correctly with each change.

[2020-07-15 20:37] anakrish opened #3272 "Meta-Issue: Changes required to enable FLC/Non-FLC in one build"
[FLC/Non-FLC in one build?](https://github.com/openenclave/openenclave/issues/3178) requires changes to the OE SDK to _allow building a single OE variant that works across all SGX variants (currently FLC/non-FLC) with appropriate runtime introspection._

This meta-issue captures that changes that would be needed to accomplish that goal.

- [x] **Necessary Cleanups**
  Currently all the SGX librari

[2020-07-15 20:44] anakrish commented on #3272
#3270 Renames `OE_LINK_SGX_DCAP_Q` to `OE_HAS_SGX_DCAP_QL`

[2020-07-15 22:05] anakrish commented on #3272
#3273 Removes use of OE_LINK_SGX_DCAP_QL when building SDK libraries. This effectively removes any effect of HAS_QUOTE_PROVIDER cmake option when building the SDK libraries.

[2020-07-16 01:10] jxyang commented on #3264
Note this blocks PR #3161, the first practical user scenario of custom claims.

[2020-07-16 07:27] letmaik commented on #3225
Just to add to this, Open Enclave's ansible scripts install CMake 3.13 already. So in a way you are kind of already requiring that version since you're not developing and testing with 3.12. Why not bump it in the CMake script as well and call it a day?

[2020-07-16 07:42] letmaik commented on #1434
@anakrish @mikbras Any idea what the conclusion of this issue was? It was closed without a comment.

[2020-07-16 10:02] hyjiang opened #3275 "safecrt test build failure on Ubuntu 18.04"
I am following https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/SGX1FLCGettingStarted.md to build openenclave on ubuntu 18.04 + SGX FLC enabled NUC.

But I always came across below build failure.
Rev: db8a9dc14bafe48703895ede7c99c29384128cf3  master

Scanning dependencies of target safecrt_host
[  4%] Building CXX object tests/safecrt/host/CMakeFiles/safe

[2020-07-16 15:28] mingweishih commented on #3275
Have you update the git submodule (e.g., `git submodule update --init --recursive`)?

[2020-07-16 16:25] #3235 closed

[2020-07-16 16:39] #2536 closed

[2020-07-16 16:40] BRMcLaren commented on #2536
@nonpolarity that build was not from Jenkins.

[2020-07-16 17:21] nonpolarity opened #3276 "sample/host_verify should be refactored."
Now sample/host_verify is not only a source directory for the binary build/install/opt/openenclave/bin/host_verify, but also the ctest directory(samples are included as part of ctest).

[code]

So there are two problems for sample/host_verify:
1. No valid test case involved for host_verify .
2. Lead to compiling error if compile after ctest.

Problem 2 can't be caught by CICD since this case is no

[2020-07-16 17:25] shnwc commented on #3264
@jxyang With the change in PR #3198, the API takes in the custom claims as a flat buffer. There is no restriction in how the application software (the caller) structures its set of custom claims held in the buffer.

The team agreed that this allows the API to give the most flexibility. As more and more custom claims use cases are supported that require some structures, helper functions can be adde

[2020-07-16 20:24] dthaler commented on #3264
To add to what Shanwei said, oe_claim_t includes the size, so the full flat buffer has a known length.   The app can use whatever format it wants within that buffer (e.g., any standard format or custom format).

[2020-07-16 21:12] dthaler commented on #2797
Another doxygen consistency check that would be nice is when you have doxygen like this:
[code]
where the descriptions of the parameter are inconsistent as to whether they start with a capital letter or not.  Would be nice to flag inconsistency.

[2020-07-16 22:25] jxyang commented on #3264
It seems to me by forcing plugin writers to implement their own serialization routines, we allow the buffer to be either big endian or little endian. Is there any other flexibility we gained? If that's case, why not add another parameter indicating the endianness?

[2020-07-16 22:29] dthaler commented on #3264
My opinion: Endianness only matters for multi-byte integers, and the things you serialize might not include any such things.   Also, any particular format already has an inherent endianness associated with it or it won't interoperate, so I don't think an additional parameter is needed.

[2020-07-16 22:32] shnwc commented on #3264
@jxyang `oe_get_evidence()` takes in custom claims held in a flat byte array, and plugins don't do any serialization. It's the application developers' responsibility to put any format in the array. As discussed in [comment](https://github.com/openenclave/openenclave/issues/3264#issuecomment-659557138), if there are enough shared format requirement, helper functions can be added to the API.

[2020-07-16 22:46] jxyang commented on #3264
@shnwc If it's expected the application has to serialize/deserialize custom claims, that's certainly not reflected in https://github.com/openenclave/openenclave/blob/05d109a5706fe4c439f64cd68ffee6e2430b9542/tests/attestation_plugin/plugin/tests.c#L712

Here the test is cutting corner by passing the `custom_claims_size` directly from the attester to the verifier. And do a flat comparison without de

[2020-07-16 22:53] anakrish commented on #1434
CC @mingweishih

[2020-07-16 23:07] mingweishih commented on #1434
Reopen for investigation.

[2020-07-16 23:55] shnwc commented on #3264
@jxyang

My understanding is that this is unit test that exercises the attestation plugin APIs, and not intended to be sample code showing how application code uses the APIs. In this unit test code, we know `oe_get_evidence()` and `oe_verify_evidence()` run in the same program. So I don't see anything missing here. Let me know if you still see something missing.

On the other hand, we are aware th

[2020-07-17 01:28] hyjiang commented on #3275
Thanks @mingweishih , this command resolve my build issue.
I am using `git submodule update --init --remote` instead of `--recursive`.

I will close this issue.

[2020-07-17 01:28] #3275 closed

[2020-07-17 01:54] radhikaj opened #3278 "Update docs to reflect support for syscalls"
https://github.com/openenclave/openenclave/blob/master/docs/LibcSupport.md
is missing several syscall entries including those for file IO, epoll, poll, unistd.h.

[2020-07-17 16:42] manojrupireddy commented on #3031
I have few questions here.

- Deep copy on mbedtls side is a conditional one. Should similar conditions should be used on OpenSSL part? If deep copy is enabled in both cases, who should own freeing up the keys? Should it be the caller of `oe_rsa_public_key_init`? (In this case eeid.c). And if it is so will deep copy approach on OpenSSL side cause any regressions?
- I have an other idea. Not sure i

[2020-07-17 17:36] letmaik opened #3281 "Add -o option to oesign sign"
`oesign sign` currently doesn't accept an option to specify the output filename / path. Could this be added? It would make certain flows in a build system less painful.

[2020-07-17 18:49] CodeMonkeyLeet commented on #3031
@manojrupireddy

* I think you're getting confused by the fact that the mbedTLS and OpenSSL implementations are structurally asymmetric; the conditional deep copy on the mbedtls you're referring to exists in the internal implementation function `oe_public_key_init()`, not `oe_rsa_public_key_init`. The internal function has the conditional you're referring to, to handle its two use cases:
    * in

[2020-07-17 18:50] anakrish commented on #3281
CC: @CodeMonkeyLeet

[2020-07-17 19:24] CodeMonkeyLeet commented on #3281
I think it's a good suggestion we should consider adding to the tool.

[2020-07-18 01:06] yentsanglee opened #3283 "mbedtls consumes lots of memory"
mbedtls_x509_crt_verify() internally calls ecp_precompute_comb() in mbedtls. ecp_precompute_comb() and its children make around 5000 malloc calls for each invocation. This slows down certification verification in cases such as attestation evidence validation, especially if USE_DEBUG_MALLOC is turned on.

-  Run attestation_plugin test case:
    1/1 Test #70: tests/attestation_plugin .........   Pa

[2020-07-19 23:25] jxyang commented on #3264
@shnwc There is little value in generating evidence and then consume it in the same enclave. Attestation is inherently across enclaves. If you have written the test with two enclaves, you'd realized the serialization functions you removed are actually needed.

[2020-07-20 06:32] yentsanglee commented on #2976
No longer needed.

[2020-07-20 08:55] yanxue-intel opened #3284 "Request for the CA to be configurable to support running in different envs & HW at different maturity levels"
CA's name and root key's value in the production platform are different from those in the pre-production plaform, but OE only hardcode those with production value.

Is OE attestation planned to support the pre-production platform?

[2020-07-20 14:37] eddyashton opened #3286 "LVI mitigation binary distribution"
Anybody who wants to benefit from LVI mitigations will need to both link with the LVI mitigated configurations of OE libraries, and build their own enclave code with LVI mitigations. To do the latter, they should be using the same toolchain and options. Currently they need to obtain this toolchain by running the `install_lvi_mitigation_bindir` script locally.

Why is this installed by a script? Is

[2020-07-20 15:03] wintersteiger commented on #3241
I use such wrapped endorsements in the EEID plugins, which most likely would have to be updated (which I'm happy to do as long as I know about it). I didn't think the additional header wrapping was a problem, is that mainly a size/performance consideration?

[2020-07-20 15:58] mingweishih commented on #3286
The main reason is really that the LVI mitigation is not supported by upstream compiler toolchain (both gcc and clang) yet.  As a workaround, the installed binaries include two parts:

- Wrapper of the compilers installed in this system -- if we shipped the wrappers, we have to hard-code the path to the compiler.
- Intel's assembler and linker -- again, we're still waiting the support LVI mitigati

[2020-07-20 16:46] anakrish commented on #3284
CC: @yentsanglee @soccerGB

[2020-07-20 18:03] radhikaj commented on #3286
CLosing issue. Please reopen if there are further questions.

[2020-07-20 18:03] #3286 closed

[2020-07-20 18:05] radhikaj commented on #3284
By pre-production platform, do you mean IceLake? Please let us know.

[2020-07-20 18:10] dthaler commented on #3283
See https://tls.mbed.org/kb/how-to/using-static-memory-instead-of-the-heap for some possibly relevant discussion

[2020-07-20 18:11] radhikaj commented on #3283
1) DEBUG_MALLOC magnifies the problem. Can debug malloc be turned off for this test via a flag?

2) Is there some configuration for mbedtls to optimize this?
If #2 is not possible, this would be an external issue?

[2020-07-20 18:24] radhikaj commented on #1434
@letmaik Could you add some context on what the problem you are encountering is.

[2020-07-20 19:08] letmaik commented on #1434
I don't encounter any problem, I would just like to know what the conclusion of this issue is since it's related to performance.

[2020-07-20 19:42] anakrish opened #3287 "tests/debug-mode"
The following issue was identified as part of the code review for PR #3282 (See [comment](https://github.com/openenclave/openenclave/pull/3282/files#r457628197)):
-----------------------------------------------------------------------------------------------------------------------------------------------

This is an unfortunate example of code semantics having shifted out from under this original

[2020-07-20 23:21] anakrish opened #3289 "Samples Test: Only host_verify sample is tested as part of cmake"
[samples/test-samples.cmake](https://github.com/openenclave/openenclave/blob/af5e5c1d146f4067cc056b6e9516e827b92f495d/samples/test-samples.cmake#L11-L12) expects `BUILD_ENCLAVES` to be passed in to determine the list of samples to test.
https://github.com/openenclave/openenclave/blob/af5e5c1d146f4067cc056b6e9516e827b92f495d/samples/test-samples.cmake#L11-L20

However, [samples/CMakeLists.txt](http