[2020-11-17 04:33] hyunsooda commented on #3720
Hi @MWShan,
Does OE provide APIs quote generation and verification based on EPID scheme?

[2020-11-17 11:58] wintersteiger opened #3734 "Visual Studio 2019 compilation problems"
After upgrading to the latest VS2019 and Windows SDK (as well as pulling OE master), I now get lots of instances of this:

[code]

The warning is correct in that the offending macro does indeed contain a `defined`.

I'm never sure that the various bits of my Windows setup are in sync. Could someone verify that they suffer from the same problem? If so, I suppose we should disable that warning or fi

[2020-11-17 22:05] anakrish commented on #3728
If you are using Makefile based workflow instead of cmake, you could use pkgconfig to make sure that the correct compiler flags are used for compiling/building enclaves. The Makefiles of the samples have examples:
https://github.com/openenclave/openenclave/blob/8ea5970bc93d039eed5a5ecdd2c7bc1e0759690f/samples/file-encryptor/enclave/Makefile#L6-L7

OE SDK currently supports only SGX1 and the direct

[2020-11-17 22:51] shnwc commented on #3720
Yes, the `oe_get_evidence()` generates EPID evidence, as commented in header file [attestation/sgx/evidence.h](https://github.com/openenclave/openenclave/blob/master/include/openenclave/attestation/sgx/evidence.h), and described in design document [Attestation_API_Proposal.md](https://github.com/openenclave/openenclave/blob/master/docs/DesignDocs/Attestation_API_Proposal.md#summary).

Adding @jdbe

[2020-11-18 00:21] shnwc commented on #3712
The API function names `oe_generate_attestation_certificate()` and `oe_verify_attestation_certificate()` in this document are also outdated. The API functions actually used are `oe_get_attestation_certificate_with_evidence()` and `oe_verify_attestation_certificate_with_evidence()` declared in [attestation/attester.h](https://github.com/openenclave/openenclave/blob/master/include/openenclave/attest

[2020-11-18 02:34] hyunsooda commented on #3728
First of all, I didn't well deliver my mean, that is the fact that `oelibc` has own malloc function that calls `oe_malloc()`. Also, I have the flags you provided.

Anyway, I'd like to clear my questions in this comment again:
1. The function `malloc()` in enclave retrieves pre-allocated memory(`VALID` bit is zero, which means, this page is not used currently) in EPC. I'd like to see that code. it

[2020-11-18 03:17] mingweishih commented on #3728
Both `oe_malloc` and `malloc` on the enclave side uses the same implementation of the heap allocator (as @anakrish mentioned, we provide `dlmalloc` or `snmalloc` as a link-time choice).

I guess you're referring to how the heap allocator manages/uses the pre-allocated EPC memory that is configured at the build time. Take dlmalloc for example, there is an initialization function that set the addres

[2020-11-18 06:57] hyunsooda commented on #3720
In [attestation sample](https://github.com/openenclave/openenclave/tree/master/samples/attestation), I simply changed the value of global variable `sgx_remote_uuid` from `OE_FORMAT_UUID_SGX_ECDSA` to `OE_FORMAT_UUID_SGX_EPID_UNLINKABLE`. but error occurred and says that the verifier's plugin seems not existed (line 31). Also, document says that there is no plan to implement for verification EPID e

[2020-11-18 08:26] SopmmmodII opened #3737 "undefined reference to `oe_sgx_get_cpuid_table_ocall'"
**I am building a project EVM-for-CCF through ninja command. In the linking stage, this error occurs.**

**/opt/openenclave/lib/openenclave/enclave/liboecore.a(cpuid.c.o): In function `oe_initialize_cpuid':
/source/enclave/core/sgx/cpuid.c:29: undefined reference to `oe_sgx_get_cpuid_table_ocall'**

FAILED: libevm4ccf.so
: && /usr/bin/clang++-8 -fPIC -O2 -g -DNDEBUG   -shared -Wl,-soname,libevm4cc

[2020-11-18 15:10] hyunsooda commented on #3728
Hi @mingweishih, thanks for your kind response. My second question is resolved.

Yes, your guess is right. What is the exact definition of Heap in your context? I assume that you didn't say about host's heap.
I'm very confusing now.  SGXv1 does not support dynamic allocation, I noticed that most of sgx framework initializes EPC memory to max size(128MB or 256MB) at start up so that make use of pag

[2020-11-18 16:10] mingweishih commented on #3728
malloc/oe_malloc in the enclave uses its own heap (EPC memory). Only the `oe_host_malloc` (which does an OCall and eventually invoke the malloc on the host) uses the heap on the host.

In OE, the heap size of an enclave is specified via a configuration file:
https://github.com/openenclave/openenclave/blob/8ea5970bc93d039eed5a5ecdd2c7bc1e0759690f/samples/helloworld/enclave/helloworld.conf#L6
During

[2020-11-18 19:36] anakrish commented on #3737
What is the version of OpenEnclave SDK you are using?

This error means that the following EDL function was not imported directly or indirectly in your EDL file:
https://github.com/openenclave/openenclave/blob/6c1dfee406a9c0e9520eb416c90f0dd9c26508f8/include/openenclave/edl/sgx/cpu.edl#L19

Do you have something like this in your EDL:?
`from "openenclave/edl/sgx/cpu.edl" import *;`

CC @mingweishi

[2020-11-18 19:47] manojrupireddy opened #3738 "tls_e2e tests, close sockets quickly without any forced sleep delay."
A workaround is added in https://github.com/openenclave/openenclave/pull/3719  in host.cpp file to wait for a one and half minute till the socket connections are moved from TIME_WAIT state to TIME_CLOSE state. This is a forced delay and test cases will take longer time to complete. Find a fix to remove or reduce this forced delay.

[2020-11-19 04:08] yentsanglee opened #3742 "Attestation sample fails when running with quote-ex library installed"
Repro steps
1. Install quote-ex package (sudo apt -y install libsgx-quote-ex)
2. run [attestation sample](https://github.com/openenclave/openenclave/tree/master/samples/attestation)

Result:
Invalid parameter error

[code]

[2020-11-19 04:11] yentsanglee commented on #3742
Root cause - Attestation sample calls oe_get_evidnece() with non-null `optional_parameters` while in sgxquote.c near line 712, the optional parameter has to be 0:

[code]

[2020-11-19 17:48] #3712 closed

[2020-11-19 18:52] shnwc commented on #3720
Verification of EPID evidence is not in the scope of the OE SDK. There is an [end-to-end sample project](https://software.intel.com/content/www/us/en/develop/articles/code-sample-intel-software-guard-extensions-remote-attestation-end-to-end-example.html) that shows how EPID-based remote attestation can be implemented.

@hyunsooda I believe this also answers your question 2.

[2020-11-19 23:40] hyunsooda commented on #3720
Thanks for your kind response. All questions are resolved. Let me close this thread.

[2020-11-19 23:40] #3720 closed

[2020-11-20 02:06] hyunsooda commented on #3728
If I understand your comment correctly:
- The Heap, you said, is the pre-allocated pages by configuration file at initialization phase of enclave.
- The memory allocation in enclave dynamically is achived by picking pre-allocated memory, which is performed in `dlmalloc()`.
- The function `oe_allocator_init` is called at initialization phase of enclave to set range of sgx heap specficied in confugr

[2020-11-20 02:08] mingweishih commented on #3728
That's correct!

[2020-11-20 02:09] hyunsooda commented on #3728
Thank you for your kind response. @mingweishih  @anakrish. Let me close this thread.

[2020-11-20 02:11] mingweishih commented on #3728
You're welcome. Fee free to let us know if there is any further question.

[2020-11-20 04:34] #3728 closed

[2020-11-20 08:56] jinghe-INTC opened #3745 "cannot find a header file in building with OpenSSL"
I tried to config with `cmake .. -DBUILD_OPENSSL=ON` and build, and got a failure:
[code]
I also tried the last `verified `commit `f83f25b81f7bb629e2fd14c212f077cbc2fb8e7f`, and result was the same as the current latest commit `700e999a144fa6de50fc6af65a74eafdd9b4e76e`.

There is at least one configuration of OpenSSL from the bors system, so is there anything I need to fix on my local machines? Ac

[2020-11-20 20:14] mingweishih commented on #3745
@jinghe-INTC Can you verify if the problem resolved with the current master? If not, please reopen the issue.

[2020-11-22 09:05] jinghe-INTC commented on #3745
`opensslcrypto` has already been built before building `oecryptoopenssl` on my machines. The PR #3746 doesn't look change anything for it.

[2020-11-22 09:21] jinghe-INTC commented on #3745
I tried to modify the CMakeList file like below:

[code]

It seems working around the build problem of `oecryptoopenssl ` , however there is a new build problem:

[code]

[2020-11-23 01:02] jinghe-INTC commented on #3745
There is no `reopen issue` button available for me on this page. @mingweishih, Could you reopen it for me?

[2020-11-23 18:14] radhikaj commented on #3733
@jxyang Can you please respond to @anakrish's question above?

[2020-11-23 18:44] jxyang commented on #3733
I have `cured` the system by manually removing the `lib-sgx-enclave-common-dev` package. My observation is that after I done that, the `enclave_delete` doesn't fail randomly anymore.

It's hard to go back to history and run the `ldd` command. But I think removing the redundant package in the ansible script is a prudent thing to do. Not urgent though, unless another user complaints the same issue.

[2020-11-23 18:58] dthaler commented on #3738
This should be simple to fix.  host.cpp line 21 has:

which is then passed to `setup_tls_server()` and `launch_tls_client()`.

The bug is that the same static port is used every run.  Instead, a different port should be used each run.   The best answer would be to make the server use an ephemeral port by passing 0, an then looking up what port was chosen and passing that back out of `setup_tls_ser

[2020-11-23 19:04] radhikaj commented on #3742
@yentsanglee can you put this in v0.13?

[2020-11-23 19:06] radhikaj commented on #3737
@SopmmmodII , can you please help answer the question above?

[2020-11-23 19:10] radhikaj commented on #3734
We should test in CI with the latest VS2019 version.

[2020-11-23 19:12] radhikaj commented on #3734
Find the VS version that corresponds to msvc version 14.28.29333.
@wintersteiger can you please tell us the version of VS you have installed?

[2020-11-23 19:16] dthaler commented on #3734
VS 16.8.2 has MSVC 14.28.29333

[2020-11-23 20:11] anakrish commented on #3733
@jxyang
Good to hear that the problem is resolved.
We are however curious about the root cause since `lib-sgx-enclave-common-dev` is designed to coexist with `lib-sgx-enclave-common`.

Can you please reinstall `lib-sgx-enclave-common-dev` package and see if the issue starts occuring?

[2020-11-24 01:35] mingweishih commented on #3745
Can you check if #3749 fixes the issue?

[2020-11-24 16:47] wintersteiger commented on #3734
That's right, it's VS 16.8.2 with

[code]

and Windows SDK 10.0.19041.0.

I just checked and I still get those errors on a clean build of master with

[code]

[2020-11-24 19:36] manojrupireddy commented on #3738
Do we need to communicate the port number back to the client once socket bind succeeds on the server side?  I am guessing this would mean lot of code change. @dthaler .

[2020-11-24 20:50] dthaler commented on #3738
Yes, that's how you fix it.  "A lot" is subjective (I wouldn't say it's a lot myself), but if you consider fixing the design to be "a lot" then yes, since "a lot" of the code is broken in that respect.

[2020-11-24 22:30] manojrupireddy commented on #3738
@dthaler As server and client are completely independent enclaves with seperate host files, what could be the interface through which server can communicate the port number to the client?

[2020-11-24 22:47] dthaler commented on #3738
You either return it from the ECALL, or you generate it from the host and pass it into both the client and the server via an ECALL parameter.

[2020-11-25 00:13] jinghe-INTC commented on #3745
The same problem still exists in building **oecryptoopenssl** with the latest commit 1e91fe2214a8ec03a638a05a52b8f1d958400457 on my machines.

[2020-11-25 00:44] manojrupireddy opened #3751 "OE Samples should be ip family (IPV4/IPV6) agnostic."
This came up as part of PR https://github.com/openenclave/openenclave/pull/3750 . Current OE sample applications support only IPV4 protocol as part of their implementation. Add necessary changes to make sample application IP family agnostic. Mentioned PR shows one instance where only IPV4 is supported. There could be other sample applications where only IPV4 is supported. Use this issue to identif

[2020-11-25 00:54] radhikaj opened #3752 "attestedTLS sample: close sockets quickly without any forced sleep delay"
There is an existing issue for this for the tests, but not for samples. See https://github.com/openenclave/openenclave/issues/3738 for the test issue.
This issue was brought up again in PR #3750 https://github.com/openenclave/openenclave/pull/3750#discussion_r529769363, creating an issue to track it.

[2020-11-25 06:20] #3725 closed

[2020-11-25 07:10] hyunsooda commented on #3658
Hi @jdbeaney, @shnwc. I solved this problem on another platform and is working well now. Let me close this issue.

[2020-11-25 07:10] #3658 closed

[2020-11-26 05:54] ryanhsu19 commented on #2131
@jazzybluesea and I discussed the issue and agreed that the results should be the same on Windows and on Linux, i.e., both should either succeed or fail. On the other hand, @yentsanglee mentioned that the self-signed certificate should be `CA:FALSE`, as we do not use it to sign other certificates.

After running it on Ubuntu 18.04 and Windows 2016 (I did not test it on Windows 2019 because current

[2020-11-26 07:43] yentsanglee commented on #2131
Makes sense.

[2020-11-26 07:43] #2131 closed

[2020-11-30 18:16] manojrupireddy commented on #3745
I could not see any build or link errors when I am building Openssl samples https://github.com/openenclave/openenclave/pull/3750. Did you run make install after building the openssl libraries.

[2020-11-30 19:03] radhikaj commented on #3751
#3666 would need to be fixed to ensure that IPv6 would need to work.

[2020-11-30 20:32] dthaler commented on #3738
FYI server port 12345 is allocated to someone else:
https://www.iana.org/assignments/service-names-port-numbers/service-names-port-numbers.xhtml?search=12345

Service Name | Port Number | Transport Protocol | Description | Assignee | Contact | Registration Date | Modification Date | Reference | Service Code | Unauthorized Use Reported | Assignment Notes
-- | -- | -- | -- | -- | -- | -- | -- | -- |

[2020-12-01 23:11] manojrupireddy opened #3760 "Use memset_s instead of memset_s in sample applications."
This came up as part of PR https://github.com/openenclave/openenclave/pull/3750#discussion_r532837650 . Sample applications should use memset_s instead of memset. From initial analysis, fix applies to file-enryptor, datasealing and attested_tls samples.

[2020-12-01 23:36] mingweishih commented on #3745
I can see the same failure on https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/1966/pipeline/47. Will try to root cause the issue.

[2020-12-02 02:11] mingweishih commented on #3745
I've root caused the issue, which can be reproduced by building the OE with single thread (-j1). #3758 should fix this.

[2020-12-03 00:53] mikbras opened #3762 "All tests fail with illegal instruction (on master branch)"
I recently built the latest OE master on two different bare metal machines: **NUC SGX-1** and **NUC SGX-2**. On both machines all tests fail with "illegal instruction".

I built with master, which had the following hash at the time:

[code]

Note that the **v0.12.x** branch builds and runs tests successfully on both machines.

Platform: Ubuntu 18.04

[2020-12-03 18:23] radhikaj commented on #3762
@mikbras We are running tests on master in CI. Failures are likely to be specific to your hardware. Can you please debug to clarify where this issue is hit? Thanks.

[2020-12-03 19:09] anakrish commented on #3762
@mikbras I develop on a NUC (SGX-1). I checkout out the specific commit and was able to build the SDK and run tests. All the tests pass as expected.

Can you provide more information? Which instructions are raising the illegal-instruction exception?

[2020-12-03 19:53] #3745 closed

[2020-12-04 22:11] mingweishih opened #3766 "Support all the samples with oecryptopopenssl"
The `oecryptoopenssl`, an alternative to the `oecryptombedtls`, is available starting from v0.13. However, OE currently only support the `attested_tls` sample (i.e., enable the test on CI and update the README file). Eventually we'd like to support all the samples and update the build instructions in the common README file rather than the one specific to the `attested_tls` sample. To that end, thi

[2020-12-07 19:03] radhikaj commented on #3760
Please see https://en.cppreference.com/w/c/string/byte/memset for the C11 standard definition.

[2020-12-07 19:16] radhikaj commented on #3766
1,2, 3 bullets are wont fix.
For the 4th bullet, Update central readme for samples to qualify that the data sealing sample uses mbedtls and attestedtls demonstrates how to use openssl from within an application.

[2020-12-07 23:34] shnwc commented on #3742
Instead of suppressing the error by dropping `opt_params` condition for EPID case, it's better to figure out why the `oe_get_evidence()` input `optional_parameter` is not `NULL` expected for SGX ECDSA evidence.

[2020-12-08 10:13] specio commented on #3762
I am also encountering such an issue on Intel (NUC7PJYH) SGX+FLC:
I recently updated my fork to the newest version (after few months) and
most of CI tests started to fail with Illegal Instruction
I took some logs valgrind logs from manual run of helloworld sample:

--25312-- Reading syms from /usr/lib/x86_64-linux-gnu/libsgx_enclave_common.so.1.0.113.3
--25312-- ELF section outside all mapped regi

[2020-12-08 16:08] MWShan commented on #3762
@specio  - The **0xF 0x1 0xD7** Opcode is the ENCLU instruction.  This likely indicates that the illegal instruction was executed within the enclave and the exception address is not pointing to the faulting address within the enclave, but instead to the Asynchronous Entry Point outside the enclave (which should be an ENCLU) instruction.

Can you debug inside the enclave to see the instruction whic

[2020-12-08 19:04] anakrish commented on #3762
@specio Thanks for mentioning the NUC7PJYH. I took my hard-disk and plopped it into NUC7PJYH, and am able to reproduce the crash. The illegal instruction happens on the host side due to the `vzeroupper` instruction:

https://github.com/openenclave/openenclave/blob/d4e5e4cfd1f09cc3616aaff1cdc3b76d1aca3304/host/sgx/enter.c#L198-L199

It would seem that NUC7PJYH does not support the vzeroupper instru

[2020-12-08 19:36] anakrish commented on #3762
https://github.com/openenclave/openenclave/blob/d4e5e4cfd1f09cc3616aaff1cdc3b76d1aca3304/host/sgx/create.c#L74

[2020-12-08 19:41] anakrish commented on #3762
@MWShan We determine whether AVX (and hence vzeroupper) is supported by the following logic:
https://github.com/openenclave/openenclave/blob/d4e5e4cfd1f09cc3616aaff1cdc3b76d1aca3304/host/sgx/create.c#L74

Somehow the above is wrong.

In one of the developer articles https://software.intel.com/content/www/us/en/develop/blogs/is-avx-enabled.html, first the mask is applied and then the return value i

[2020-12-08 20:11] anakrish commented on #3762
@mikbras @specio Can you try out my fix #3772

[2020-12-08 21:12] #3762 closed

[2020-12-08 23:05] mingweishih opened #3773 "Inconsistent use of the Werror flag for building samples between Linux and Windows"
When building samples on Windows, the maybe_build_using_clangw adds the `Werror` flag, which results in treating warnings as errors.

https://github.com/openenclave/openenclave/blob/eaa360853145b92785ab52e609bc18d1db6d760e/samples/helloworld/enclave/CMakeLists.txt#L16

https://github.com/openenclave/openenclave/blob/eaa360853145b92785ab52e609bc18d1db6d760e/cmake/maybe_build_using_clangw.cmake#L57

[2020-12-08 23:13] yentsanglee commented on #3742
As in the attestation sample, the `optional_parameter` is whatever` oe_verifier_get_format_settings()` returns. Caller just passes along to `oe_get_evidence()`. Things to consider:
1. In the code path in `oe_get_evidence()`, the` optional_parameter` is not consistently checked with or without quote_ex. This is a must-fix.
2. We can enforce API caller to make `optional_parameter` NULL if the size i

[2020-12-10 10:57] specio commented on #3762
@anakrish
Yes  almost all of the tests are working now.
However, still one of them is failing on my setup:

[2020-12-10 18:00] anakrish commented on #3762
Thanks for reporting it. The test uses avx instructions unconditionally. I have a fix to have the test use avx instruction only if available.
#3779

[2020-12-10 18:03] anakrish commented on #3762
I'm seeing `oegdb-test` and `oegdb-test-simulation-mode` fail as well on NUC7PJYH. Do you see these fail too?
(I'm running Ubuntu 20.04 and the failures might have to do with specific version of gdb).

[2020-12-11 14:44] flothia opened #3781 "Open Enclave (sgx level) low-level custom plugins"
Hi all,

I wondering if there was a way to write my own low-level Open Enclave plugins ?
I encountered some interesting patchs applied to intel sgx SDK (interception of OCALL/ECALL etc), and i would like to integrate them in my code implemented with OE SDK.
Even if OE SDK is only based on intel sgx driver, is there a way to recompile the OE libraries with similar patchs ?

Thanks in advance  (even

[2020-12-11 18:49] anakrish commented on #3781
@flothia Can you describe your use-case a bit more?
What do you mean by "interesting patchs applied to intel sgx SDK (interception of OCALL/ECALL etc)"?

[2020-12-11 18:52] flothia commented on #3781
@anakrish I am interesting by project as above, which purpose an software implementation of enclave confinement  :
https://github.com/IAIK/SGXJail

[2020-12-11 19:33] anakrish commented on #3781
Would running the enclave inside docker not suffice for your usecase?

[2020-12-11 19:38] flothia commented on #3781
Not really because my use case considers users' enclaves as potentially malicious, and we want to control their secure flow in trusted area.

[2020-12-11 19:48] mingweishih commented on #3781
Just wondering why running enclaves inside a docker container does not suffice your use case. Are you worried about docker escape? Can you elaborate a bit more on your threat model?

[2020-12-11 20:38] flothia commented on #3781
Are you thinking about solutions as RYOAN ?

[2020-12-11 20:48] #2263 closed

[2020-12-11 20:48] #3160 closed

[2020-12-11 20:48] #3181 closed

[2020-12-11 20:48] #3300 closed

[2020-12-11 20:51] mingweishih commented on #3781
It really depends your needs (i.e., which "host" you want to protect). For example, if you put an enclave inside a docker container, you effectively limit what an enclave can do within the boundary of the container. In is case, the host OS of the container is protected unless the enclave escapes the container.

Note that if you're taking about approaches that require modifications to the SDK level

[2020-12-11 22:14] douglasmaciver opened #3782 "Update the Supported Versions on the Security Policy"
This page lists only v.10:
https://github.com/openenclave/openenclave/security/policy

[2020-12-11 22:56] flothia commented on #3781
In my case i need to filter the arguments injected in the OCALLS of users' enclave (before the marshmalling to untrusted, and under supervision of a trusted module).
An enclave inside docker because the docker will be in untrusted zone.

[2020-12-11 23:13] mingweishih commented on #3781
Are you interested in instrumenting all the OCALLs or only specific ones?
What's the difference between filter the arguments before the marshalling and after the unmarshalling?

[2020-12-11 23:28] flothia commented on #3781
I need to instrument specific OCALL, before than the arguments reach the untrusted zone, considerered potentielly malicious, and could not insure the integrity of request generated.

[2020-12-11 23:51] mingweishih commented on #3781
I see. So if I understand your use case correctly, you'd like to instrument a specific OCALL inside an enclave so that you can filter the arguments. In this case, a simple way is having the enclave invoke a wrapper of the OCALL (say `ocall_test`).
[code]

Given that you only need to instrument specific OCALLs, I think you don't necessarily to need ways to instrument all the OCALLs as you pointed o

[2020-12-12 01:46] shnwc commented on #3742
In the attestation sample code [dispatcher.cpp](https://github.com/openenclave/openenclave/blob/master/samples/attestation/common/dispatcher.cpp) line 91, a zero-sized buffer is allocated for `*format_settings_buffer` even when `oe_verifier_get_format_settings()` returns `NULL` settings buffer. The correct behavior is to also set `*format_settings_buffer` to `NULL`. Correcting this behavior will r

[2020-12-12 19:57] flothia commented on #3781
Even with a wrapper, if the enclave is malicious and able to manipulate its API, will not prevent the leaking of arguments.
An naive example of use applied to my case :
   - provide to user enclave a function to establish connexion with a website, using a classic authentication with login/pwd, but i want to insure that these informations will be not leaked to outside, or another colluded enclave.

[2020-12-13 23:32] flothia commented on #3781
To reformule my problem with more appropriate termes : is something exist with OE (code, articles etc) to prevent API attacks, exploiting too permissive OCALLs ?

[2020-12-14 02:14] yentsanglee commented on #3705
Script for this seems unnecessary. Closing the issue.

[2020-12-14 02:14] #3705 closed

[2020-12-14 05:00] yentsanglee commented on #3742
@shnwc your proposal sounds good to me. Please create a PR. Thanks.

[2020-12-14 16:34] specio commented on #3762
oegdb-test(s) passed on that version and NUC7PJYH with 18.04 Ubuntu for me.

[2020-12-14 17:37] mingweishih commented on #3781
I'm still confused about your threat model. Here it seems like you are the host and want to limit the ability of an enclave (which could be malicious).

Similar what I mentioned earlier, if the goal is to confine the ability of an enclave, how do you ensure that the enclave uses the provided function? I assume that the one who wants to limit the enclave and the one who develops the enclave are two

[2020-12-14 17:42] anakrish commented on #3762
@specio Thanks for letting me know.

[2020-12-14 17:42] dthaler commented on #3773
Seems like we should use it for both

[2020-12-14 19:02] radhikaj commented on #3773
Lets change Linux to match Windows

[2020-12-15 07:31] Arslan8 opened #3785 "error TRK0005: Failed to locate: "clang.exe". The system cannot find the file specified."
Hi, I am trying to build the SampleEnclave on Windows using Visual Studio 2019. However, I am getting this issue when I use the OpenEnclave v142 toolchain. I have installed the following individual components as well:
![image](https://user-images.githubusercontent.com/6408782/102184339-4ab2d480-3e7d-11eb-8aa7-457f30624aa1.png)

However, I still see the following issue, is there something else I ne

[2020-12-15 15:02] dthaler commented on #3785
@Arslan8 Yes, see the Prerequisites at the top of the Getting Started doc at https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/VisualStudioWindows.md

[2020-12-15 15:03] dthaler commented on #3785
Also make sure clang is actually in the search path

[2020-12-15 18:02] anakrish commented on #3717
This recent post compares security features of MUSL with glibc and other libc implementations:
https://dustri.org/b//security-features-of-musl.html
GLIBC mangles registers in setjmp, longjmp and atexit function whereas MUSL doesn't.

Since OE provides its own implementations of these functions rather than using MUSL's, it should be possible for us to add mangling to these functions.

[2020-12-15 21:32] anakrish opened #3786 "Meta-Issue: Compiler Upgrade to clang-8"
This meta-issue tracks the list of tasks that must be done to upgrade the compiler (clang) to a newer version.

- [x] OE SDK
  - [x] Update CMakeLists.txt to use newer compiler (#3805)
  - [x] Ensure that SDK builds and all tests pass
  - [x] Update CHANGELOG.md
  - [x] Use newer compiler flags, if any, that improve security/performance
  - [x] Add LVI  compilerwrapper scripts (#3811)
  - [ ] ~~Up

[2020-12-16 02:06] #3742 closed

[2020-12-16 10:02] Arslan8 commented on #3785
@dthaler thanks! I thought that the Visual studio LLVM/CLANG extension would've fixed the issue..but that was definitely not the case... Installing the LLVM package at the getting started doc fixed the issue!

[2020-12-16 10:02] #3785 closed

[2020-12-19 05:16] praenubilus opened #3787 "v0.13 causes problems for building app with mbedtls"
We have application using mbedtls-dev lib installed on Ubuntu 18.04. Application builds and works fine with OE v0.12. After upgrading to v0.13, undefined reference errors are prompt when compiling. Below are part of the error info

[code]

[2020-12-19 09:46] praenubilus commented on #3787
As it turns out there are breaking changes introduced in v0.13 https://github.com/openenclave/openenclave/blob/master/CHANGELOG.md

[2020-12-19 09:46] #3787 closed

[2020-12-21 06:14] sword03 opened #3788 "Remote attestation across Azure Cloud and IBM Cloud"
Supposed I deploy two enclaves, one on Azure and the other on IBM cloud,  developed with openenclave sdk.

Can these two enclave do remote attestation with each other?

Now I found it as follows：

![image](https://user-images.githubusercontent.com/13059372/102750719-44eb5080-43a1-11eb-8007-be3c88cc7152.png)

[2020-12-21 15:14] flothia commented on #3781
@mingweishih Sorry for the delay.
After some research, i understood that i was looking to intercept syscalls (eg : seccomp with sandbox) with specific functions (which is not allowed by seccomp). My threat model was to be able to stop sgx API attacks.
Sorry for the confused explanations and thanks for your previous answers (Software Fault Isolation/Sandboxing were the topics that i was looking for

[2020-12-21 15:14] #3781 closed

[2020-12-21 16:49] vtikoo opened #3789 "oegdb does not load .dbg files"
For a stripped binary with a separate debug file, oegdb will still try to fetch the symbols from the stripped binary.

[2020-12-28 01:56] yentsanglee commented on #3788
A general implementation for using Intel DCAP outside Azure can be configured if you follow [this](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md) document.

[2021-01-04 19:05] CodeMonkeyLeet commented on #3789
@anakrish Can you evaluate whether this is a bug or a new feature request and how viable this might be to implement? We'll mark as triaged after your evaluation and whether we should put this in v0.14

[2021-01-04 19:07] yentsanglee commented on #3788
@sword03 Does the above comment answer your question?

[2021-01-04 23:51] mrragava opened #3791 "New Repository for Open Enclave Security Works (CodeQL and Fuzzing)"
We need a new repository for Open Enclave specific security automation projects (CodeQL static analysis, Fuzzing and binary analysis) which will be used in SAST/DAST pipelines.
It was recommended to host as a separate repo in a PR review (https://github.com/openenclave/openenclave/pull/3731#discussion_534616204)

Can we name the repo as (https://github.com/openenclave/openencalve-security) ?

1. I

[2021-01-05 00:54] dthaler commented on #3791
"encalve" should be "enclave" in the repo name

[2021-01-08 01:06] anakrish commented on #3789
This is a feature request. oegdb currently expects that debug information is embedded within the enclave binary.
 I'd asked @vtikoo to create this issue since he encountered libos applications where the debug symbols are packaged as separate .dbg files.

[2021-01-08 13:24] wintersteiger opened #3793 "Making EEID non-experimental"
For multiple applications in development, it would be very helpful if we could make EEID non-experimental, or at least include it in release packages, e.g. enabled by a runtime flag instead of the compile-time macro.

I believe it is currently cleanly and clearly an SGX-only feature as far as struct and function names are concerned. The new [init-time config interface](https://github.com/openencla

[2021-01-09 00:16] mingweishih commented on #3555
Note that this issue only affects x86 build. For OP-TEE on the aarch64, we still support aarch64 gcc toolchain.

[2021-01-11 17:40] radhikaj commented on #3791
Some follow up questions:
Is this ongoing work or would it be one time contribution?
Are there multiple owners for the repo? Please state the owners. We recommend creating SIG-Security, so SIG-Security has the ability to approve PRs.
Can you please propose 3 members who would review PRs and respond to issues?

[2021-01-11 19:03] radhikaj commented on #3788
Hi @sword03, does the above comment answer your question? I am closing this issue for now. Please reopen if your question is not answered.

[2021-01-11 19:03] #3788 closed

[2021-01-11 19:04] radhikaj commented on #3789
@radhikaj will follow up with @anakrish to commit to a milestone.

[2021-01-11 19:08] radhikaj commented on #3793
@shnwc points out that the overall plugin API experimental.

[2021-01-11 19:09] radhikaj commented on #3793
will be discussed further in SIG-Arch

[2021-01-11 21:43] anakrish opened #3795 "Lack of intrinsics header in enclave C/C++ libraries."
The C/C++ libraries shipped with Open Enclave do not contain the header files for compiler intrinsics (e.g immintrin.h).
This makes it hard to port code that uses these headers. (e.g boost's bignum libraries).

IIRC the rationale for not shipping these headers was that these headers contain GPL code.

@dthaler found out that the corresponding headers shipped by clang are not GPL.
E,g: /usr/lib/llv

[2021-01-11 22:32] dthaler commented on #3795
https://github.com/openenclave/openenclave/issues/1766 is related to this issue

[2021-01-12 00:52] mrragava commented on #3791
1. This repo will host OE fuzzing projects, supported tools and additional CodeQL queries to accommodate new changes in OE codebase. It will be an ongoing work.
2. Owners: swamymsft (Swamy), douglasmaciver (Douglas) and mrragava (Ragavan)
3. Reviewers: Simon, Anand, swamymsft (Swamy), douglasmaciver (Douglas) and mrragava (Ragavan)

[2021-01-12 11:34] wintersteiger commented on #3793
I'd be happy with `@experimental` tags in header files, as for the functions in the plugin headers, but EEID is currently a compile-time option, i.e. not included in release packages at all.

[2021-01-12 18:36] dthaler commented on #1766
There are two permissively licensed code bases we can pull from:
a) https://github.com/intel/linux-sgx/blob/master/sdk/compiler-rt/  (MIT license)
b) https://github.com/llvm-mirror/compiler-rt/blob/master/lib/builtins  (Apache license)

Comparing https://github.com/intel/linux-sgx/blob/master/sdk/compiler-rt/divti3.c and https://github.com/llvm-mirror/compiler-rt/blob/master/lib/builtins/divti3.c

[2021-01-12 18:41] #3518 closed

[2021-01-12 18:51] radhikaj commented on #3727
In SIG-Arch @MWShan - On the Windows side, this is backlogged.
On Linux, there are customers that might want to do this

[2021-01-12 18:55] radhikaj commented on #3727
Integration of the 5.11 Linux driver would require us to do this work.

[2021-01-13 01:17] mingweishih commented on #1559
Closing this issue as we're deprecating the GCC support. See #3555

[2021-01-13 01:17] #1559 closed

[2021-01-18 11:19] letmaik commented on #3073
How does #3342 address the first requirement of enabling it from inside the enclave? As far as I see the log callback can currently only by set from the host.

[2021-01-19 19:00] dthaler opened #3804 "Could host-verify process also be used from kernel-mode?"
Potential scenario: want to make an enclave be similar to a kernel trusted module, so that even a local admin can’t tamper with it.

Making making ECALLs/OCALLs would be ok to do from an unprivileged user mode host app/library if needed to act as a proxy from the kernel, if we don’t support ECALLs from kernel-mode (do we?).

However an end-to-end secure channel from the kernel to the enclave would

[2021-01-19 19:22] radhikaj commented on #3791
Created repo. Closing issue.

[2021-01-19 19:22] #3791 closed

[2021-01-19 23:17] shnwc commented on #3804
ECALLs can only be invoked from user mode.

@MWShan @haitaohuang feel free to comment.

[2021-01-20 22:43] CodeMonkeyLeet commented on #3804
From the [SIG-attestation](https://hackmd.io/Xj6GpDSKSwuz5cZgQ0yg1A#20-January-2021-1000-AM-PST) meeting, closing this question out with the answers provided:

* The host-verify library itself is mostly just crypto code that could be run inside the enclave. However, it was not designed to and may require at least the following changes:
   * Remove any dependencies that will not run in kernel
   *

[2021-01-20 22:43] #3804 closed

[2021-01-22 00:45] dthaler commented on #3804
Adding my notes from the SIG-attestation meeting:
* If the kernel does not care whether the enclave is local or remote, then remote attestation can be done similar to how host-verify works. (see Simon's notes)
* If the kernel does need to know that the enclave is local, there are a couple of ways that could work:
    A) Local attestation from an enclave that the kernel knows is on the local machin

[2021-01-26 22:33] Alan-Jowett opened #3807 "Update version of mbedtls that ships with OpenEnclave to 2.18.1 or higher"
Version 2.18.1 of mbedtls added support for key export as per:
[Key export](https://tls.mbed.org/kb/how-to/tls_prf)

Can we get this version of mbedtls pulled in?

[2021-01-27 00:02] Alan-Jowett commented on #3807
To be clear about the objective:
The goal is to use RFC5705 methods to derive a key from the session key, then include it in the OE evidence as proof of possession, thereby binding the OE evidence to the TLS session it is being transported over.

[2021-01-29 19:27] hyunsooda opened #3814 "About new feature, debugmalloc"
As explained [here](https://github.com/openenclave/openenclave/tree/master/samples/debugmalloc), I used it for testing, but it raises a problem in my case.

It successfully works in example-case, but it seems not to work in my case. The two functions ```oe_debug_malloc_tracking_start``` and ```oe_debug_malloc_tracking_stop``` does not raise any problem in my case, but the function ```oe_debug_mall

[2021-01-29 19:48] anakrish commented on #3786
bors delegate @rs--

[2021-01-29 21:38] rs-- commented on #3786
#3810 handles the following:

- Add compiler to Linux CI images
- Add compiler to Windows CI images
- Add testing pipelines for new compiler
- Update ansible scripts to install newer compiler for Linux workflows
- Update install-prereqs scripts to install newer compiler for Windows workflows
- Drop support for compilers that are no longer supported (ie compilers that have been deprecated for at le

[2021-02-01 17:33] nonpolarity commented on #3814
@hyunsooda Thanks for your suggestion!
Yes a simple number of leaks may help in this case. I can raise this feature request to the [SIG-Architecture Meeting](https://hackmd.io/@aeva/oesdk-sig-arch) for discussion since it is a public api.
The problem behind this case is that, I am not sure the returning problem is due to the printing of callstack, or the record of all the malloc and free. If the r

[2021-02-01 19:05] radhikaj commented on #3807
The current version of mbedtls is 2.16.8.

[2021-02-01 19:49] radhikaj opened #3815 "Document reasoning and factors behind 3rd party library updates"
There are many 3rd party libraries used in the OE project.  Each of them is updated at different times for different reasons.
Example: mbedtls uses an LTS branch and is updated everytime there is an mbedtls release in which CVEs are fixed.
Document what factors determine when each 3rd party lib is updated

[2021-02-02 00:07] #3179 closed

[2021-02-02 00:22] mingweishih commented on #3449
This shouldn't be an issue anymore. Closing for now.

[2021-02-02 00:22] #3449 closed

[2021-02-02 00:51] rs-- commented on #3786
1. "Update and publish oecitools docker images" is complete.
2. "Update nightly jobs to use new compiler" - will not do for this release: The nightly job of updating the images has been disabled right now due to an issue we're having with a Jenkins plugin. This shouldn't cause any issues as we're not looking to push any more updates to the Ansible files for this release.
3. "Update CDPX images" -

[2021-02-02 00:57] anakrish commented on #3786
Thanks Rob!

[2021-02-02 22:52] mingweishih commented on #3536
Closing the issue for now. Feel free to reopen is any follow-up needed.

[2021-02-02 22:52] #3536 closed

[2021-02-03 00:29] mingweishih commented on #3431
These checks have been implemented in the current `oeedger8r`.

[2021-02-03 00:29] #3431 closed

[2021-02-03 01:23] mingweishih commented on #3210
Will be addressed by https://github.com/openenclave/oeedger8r-cpp/pull/66

[2021-02-03 01:24] mingweishih commented on #3557
Will be resolved by https://github.com/openenclave/oeedger8r-cpp/pull/65

[2021-02-03 18:42] dthaler opened #3820 "oe_get_attestation_certificate_with_evidence is insufficient for security"
Reported by Alan Jowett:

Indeed this requirement is called out in https://github.com/openenclave/openenclave/blob/master/docs/DesignDocs/AttestationApiRequirements.md and does not appear to be met by `oe_get_attestation_certificate_with_evidence()`, unlike `oe_get_evidence()` which has a custom claims buffer as input.

Can we mark `oe_get_attestation_certificate_with_evidence()` as obsolete?

[2021-02-03 19:16] daperoni opened #3821 "Ctest 489 - Samples Failure"
I've noticed the ctest samples (test 489) is failing to run on windows. All other tests are passing. I'm using an azure DCv2_2 with Windows Server 2016 gen 2. I've attached logs for the run.

They seem to be failing with a cache error.
[code]
[LastTest-all.log](https://github.com/openenclave/openenclave/files/5920896/LastTest-all.log)
[LastTest-489-only.log](https://github.com/openenclave/openencl

[2021-02-04 16:12] flothia opened #3823 "unstrusted code in shared library + oe_terminate_enclave on instance created"
Hi all,

To facilitate me the handling of untrusted code generated by oeedger8r, i compiled it in a shared library, and then load it in a main code using dlopen("ulib_name.so", RTLD_NOW|RTLD_GLOBAL).
The ecalls performed on it works fine, but i am not able to call _oe_terminate_enclave_ on the instance of the enclave created :
 -> segmentation fault : **[(H)ERROR] tid(0x7ffff5253700) | enclave=0xf

[2021-02-04 16:23] hyunsooda commented on #3814
Hi @nonpolarity

I have an initialization function in ecall that calls some heavy ocalls for some initialization. In particular, the stuck could be happened by calling serialization or deserialization using protobuf.

In my view, the number of records that prints callstack information is not a problem. I'm just guessing that there is some problem in some sections between ecall and ocall. You can c

[2021-02-04 22:02] anakrish commented on #3823
Can you run objdump on both the main program as well as the shared librard report back? `c:oe_remove_enclave_instance` removes the enclave from a global `oe_enclave_list_head`. We first want to make sure that the same list instance is accessed by both the main executable and the shared library.

[code]

[2021-02-04 23:05] flothia commented on #3823
As result of these commands :
`objdump -t main_prog | grep oe_enclave_list_head
0000000000715170 l     O .bss	0000000000000008              oe_enclave_list_head`
`objdump -t ulib.so | grep oe_enclave_list_head -> nothing`

[2021-02-04 23:19] anakrish commented on #3823
That is good.

Can you double check that the same enclave is not being terminated twice?
Looking at the code, one scenario where line 140 can get hit and print that message would be if the enclave does not exist in the global list.
https://github.com/openenclave/openenclave/blob/57c224925df6df7e65bfdd81dd8cd78fc06c8be6/host/sgx/enclavemanager.c#L99

[2021-02-05 13:58] flothia commented on #3823
@anakrish
My bad on the previous result of command (i checked the wrong shared library).
Finally, the result is :
objdump -t main_prog | grep oe_enclave_list_head
0000000000715170 l O .bss 0000000000000008 oe_enclave_list_head

objdump -t lib_untrusted.so | grep oe_enclave_list_head
00000000002757c8 l     O .bss	0000000000000008              oe_enclave_list_head

So, for what you mentioned above,

[2021-02-05 17:59] anakrish commented on #3823
Ok. That explains the behavior.

Are you building the SDK from source? If so, can remove `static` and add `OE_EXPORT` to the variables here:
https://github.com/openenclave/openenclave/blob/8f6691ef4927477f17ea7f338c57ab561fb7ffe5/host/sgx/enclavemanager.c#L10-L11

[2021-02-05 18:07] flothia commented on #3823
No, i don't build the SDK from source.
Is there an alternative to the building from source ?

[2021-02-05 18:23] anakrish commented on #3823
Let me think about if there is an easy solution for this.

[2021-02-05 18:29] anakrish commented on #3823
You could remove `liboehost.a` as a linker dependency when building `lib_untrusted.so`.
The following might also need to be done:
- If you get compile errors about missing headers, you'd have to manually add the path to the headers to cmake/make
- Allow building with undefined symbols. That way `oe_remove_enclave_instance` can be undefined in `lib_unstrused.so`, and it would get resolved to the de

[2021-02-08 09:52] yentsanglee commented on #3820
`oe_get_attestation_certificate_with_evidence()` does not include the input parameter to pass in nonce to `oe_get_evidence(..., optional_parameters, ...)`.

[2021-02-08 19:06] mingweishih commented on #3821
@daperoni do you still see this failure?

[2021-02-08 19:10] mingweishih commented on #3815
We'll discuss this issue in the Sig-Arch meeting.

[2021-02-08 19:15] mingweishih commented on #3823
@flothia do you have any follow-up on this issue?

[2021-02-08 19:17] flothia commented on #3823
The solution of @anakrish worked perfectly !
Thanks.

[2021-02-08 19:17] #3823 closed

[2021-02-08 19:20] mingweishih commented on #3820
Will discuss this issue on the sig-attestation meeting.

[2021-02-08 19:38] anakrish commented on #3815
Related issue: https://github.com/openenclave/openenclave/issues/3807

[2021-02-09 13:01] CitadelCore opened #3830 "LVI migitation build under Nix fails to find cstdlib"
I'm attempting to package up openenclave for NixOS. I managed to get it building and running fine without LVI mitigations, but enabling them I'm running into some issues with clang.

[code]

It seems like it cannot find the C++ standard headers, even though they should be included by default. I'm curious if there is something that is being done to modify the search path in the wrappers, because I

[2021-02-09 17:43] mingweishih commented on #3830
The failure seems unrelated to the LVI mitigation, but the `oeedger8r-cpp`. Add @anakrish

[2021-02-09 19:30] anakrish commented on #3830
@CitadelCore Thanks for working on a Nix based build of OE SDK.
Can you do a VERBOSE build? It is not clear from the log what flags are passed to the compiler when building oeedger8r.

[2021-02-09 20:14] CitadelCore commented on #3830
Here's the verbose log: https://gist.github.com/CitadelCore/2c4c932ec2a7b6c2b63675c6ba092c7a

[2021-02-11 00:58] anakrish commented on #3830
Thanks for the log. I couldn't spot anything off. Yes, it does seem that `-nostdinc++` is somehow being passed to the compiler in LVI mode.
I tried reproducing a similar scenario on my experimental nix-shell: https://github.com/openenclave/oeedger8r-cpp/pull/68/files
But I couldn't reproduce it.

Is there someway I could reproduce the issue on my end? You have shared the `default.nix`. How do I co

[2021-02-11 01:24] CitadelCore commented on #3830
You should be able to build it like this:

[code]

Save my default.nix and that as shell.nix in a folder, and then run `nix-shell`.

[2021-02-11 19:40] anakrish commented on #3830
One issue I'm running into trying to set up the nix-environment is that there is no `/build/source/lvi_mitigation_bin` on my machine. I'm running nix via nix-user-chroot, maybe that might have to do with it. I can see that there is a  lvi_mitigation_bin folder at ./store/i60ij73hblvbjhc3si8bv0p5wqnvw4ha-source/scripts/lvi-mitigation. Looking for a way to specify that in default.nix.

CMake Error a

[2021-02-11 19:59] anakrish commented on #3830
I made changes to default.nix to refer to /tmp/lvi_mitigation_bin. That allows me to proceed further.

[2021-02-11 20:18] CitadelCore commented on #3830
Ah - that's my fault, I shouldn't have hardcoded the /build path.

[2021-02-11 20:30] anakrish commented on #3830
No worries.  Once I persist /tmp/lvi_mitigation_bin, then the issue is reproducible even in another nix-shell:
[code]

My suspicion is that the lvi compiler wrapper scripts temporarily modify the path before invoking the compiler. Maybe that confuses clang:
https://github.com/openenclave/openenclave/blob/a381bfe51de0178b1989fb0d2abbc7b8e7179fbe/scripts/lvi-mitigation/invoke_compiler#L31-L32

[2021-02-11 20:36] CitadelCore commented on #3830
I attempted to handle that via `substituteInPlace` in my derivation:

[code]

[2021-02-11 20:37] anakrish commented on #3830
Another theory is that somehow the compiler thinks it is a C compiler and not a C++ compiler.
Heading for lunch now. Will investigate once I'm back.

[2021-02-11 21:53] anakrish commented on #3830
What's going on is that the `invoke_compiler` script has been generated to hard-code the compiler for the case when LVI mitigation flags are not passed in:
[code]
This causes clang to be invoked when /lvi_mitigation_bin/clang++ wrapper is called, resulting in missing include errors.

Retaining the original snippet would fix the compile error:
https://github.com/openenclave/openenclave/blob/a381bfe

[2021-02-11 22:44] CitadelCore commented on #3830
Good catch! I think there are two potential solutions to this:

1. We add `gcc10` and `llvmPackages_8.clang` to `nativeBuildInputs` in order to make the compiler commands available in PATH. As a result, they would be able to be directly executed from the wrapper.

2. We could write a script with `pkgs.writeText` that included a Bash `case` statement with a condition for every possible variant of `

[2021-02-12 04:39] #2390 closed

[2021-02-12 04:39] #3210 closed

[2021-02-12 04:39] #3557 closed

[2021-02-12 04:39] #3513 closed

[2021-02-12 04:39] #3692 closed

[2021-02-17 00:52] anakrish commented on #3830
@CitadelCore I was able to verify that the newer default.nix works on my end.

I'm not that familiar with nix to decide between (1) and (2), but I feel it is a choice that can be easily changed later.

Are you interested in contributing to the OE SDK?
We've had a previous attempt at nix-based reproducible build for the SDK(https://github.com/openenclave/openenclave/pull/3744), but that hasn't prog

[2021-02-18 14:45] CitadelCore commented on #3830
Yes, I would be fine with contributing my changes. Will open a pull request once I've got my derivation cleaned up.

[2021-02-18 19:38] radhikaj opened #3843 "Document how to use inproc attestation"
Open enclave SDK is moving to use out of proc attestation by default with this PR: https://github.com/openenclave/openenclave/pull/3806

We need to document how developers can use in proc attestation now and after the DCAP driver is available in the kernel.

[2021-02-19 18:30] shnwc commented on #3820
@dthaler @yentsanglee @ryanhsu19 an related question: should the function `oe_verify_attestation_certificate_with_evidence()` take the same optional input parameters as `oe_verify_evidence()`, i.e. endorsements and policies?

[2021-02-19 18:31] #3710 closed

[2021-02-19 21:18] dthaler commented on #3820
In my opinion, yes.

[2021-02-24 12:48] LuminousXLB opened #3851 "The file-encryptor sample has a wrong decryption practice"
Making use of CBC mode, the decryption fails to remove the padding at the end of the recovered plaintext, which actually makes the output not equal to the original file.

[code]

[2021-02-24 17:00] mingweishih commented on #3851
@RRathna Can you take a look?

[2021-02-26 05:58] ryanhsu19 opened #3856 "oe_verify_attestation_certificate_with_evidence is insufficient for security"
Based on the discussion in issue #3820, the function `oe_verify_attestation_certificate_with_evidence()` is deemed insufficient for security and requires changes to API to make it safe.

_Originally posted by @dthaler in https://github.com/openenclave/openenclave/issues/3820#issuecomment-782358529_

[2021-02-26 17:57] uvsq21601122 opened #3857 "oegdb with standard c++ library"
Hello, I'm trying to use oegdb but I'm struggling with debugging standard c++ elements like vectors.
As an example, I used the file-encryptor sample in which I added two vectors to be debugged. One is inside the host and the other is inside the enclave :
[code]
What I want to show here is that in the host program there is no problem printing a vector or accessing its elements. But the same vector

[2021-02-26 18:03] mingweishih commented on #3857
cc @anakrish

[2021-02-26 18:20] anakrish commented on #3857
Enclaves use LLVM's project's C++ library: https://github.com/openenclave/openenclave/tree/master/3rdparty/libcxx/libcxx
instead of the GNU stdc++ library.
Initial thoughts: It could be that
- the pretty printers can't handle LLVM C++ library
- or the enclave C++ library is out of date for the pretty printer.

[2021-02-26 18:38] uvsq21601122 commented on #3857
I wrongly assumed that the host's C++ library was the same as the enclave's.
Using LLVM's pretty printer available [here](https://github.com/llvm/llvm-project/blob/main/libcxx/utils/gdb/libcxx/printers.py) partially solves the problem for vectors :
[code]

You might be right and the enclave C++ library is out of date for this pretty printer.

[2021-02-26 19:43] anakrish commented on #3857
Thanks for pointing it out.
I think we ought to first update the version of the library in the SDK and then investigate if the problem still persists.
#3815

[2021-02-27 02:38] LuminousXLB commented on #3851
Fixed by https://github.com/openenclave/openenclave/pull/3854

[2021-02-27 02:38] #3851 closed

[2021-02-28 15:48] hyunsooda opened #3859 "Thread in encalve"
In order to achieve better performance, we can trigger many ecalls simultaneously in host-side and host threads should be created before. I'm currently using this technic but, it is not uncomfortable from point of a developer using OE since it makes programmers write additional codes like below.

1. Generate threads in host-side (OCall definition is required)
2. Corresponding ecalls are required s

[2021-02-28 16:09] hyunsooda opened #3860 "Question about evidence"
In [attestation example](https://github.com/openenclave/openenclave/tree/master/samples/attestation),

1-1. I passed custom claim buffer over 64byte, and it works. I tried to find a macro associated with custom claim buffer length, but it seems not to exists.
1-2. Whenever I called ```oe_get_evidence()```, the ```setting_size``` is always zero. so I'm currently passing just NULL if the settings_si

[2021-03-01 03:51] anakrish commented on #3859
Related to #3697

[2021-03-01 05:36] hyunsooda commented on #3859
Hi @anakrish,
Thanks for the useful link. The proposal is not implemented in the latest version and seems to need more review. Is there a plan to complete that proposal in the near future?

[2021-03-01 06:19] yentsanglee commented on #3860
1-1
API definition
oe_result_t oe_get_evidence(
    const oe_uuid_t* format_id,
    uint32_t flags,
    const void* custom_claims_buffer,
    size_t custom_claims_buffer_size,
    const void* optional_parameters,
    size_t optional_parameters_size,
    uint8_t** evidence_buffer,
    size_t* evidence_buffer_size,
    uint8_t** endorsements_buffer,
    size_t* endorsements_buffer_size);

The 3rd pa

[2021-03-01 06:22] yentsanglee commented on #3860
@mingweishih or @anakrish do you have answer for question 2-1?

[2021-03-01 07:23] hyunsooda commented on #3860
Hi @yentsanglee, thanks for your answer.

The question numbers omitted are solved.

1-1.

The 4th parameter is the size of the 3rd parameter and it has a limited size of 64bytes as specified above, but I passed 64 bytes over and it works. This is a discrepancy in the documentation. I also tried to find a constant macro of claim buffer's maximum length but I didn't find it.

1-3. Yes, we can includ

[2021-03-01 19:01] dthaler commented on #3860
That is incorrect, challenger should indeed be replaced by verifier.   Evidence is always appraised by a verifier, never a relying party.  It is true that verifier and RP can be one entity, but even in that case evidence is appraised by the verifier part, as explained in the RATS architecture linked above.

[2021-03-01 19:03] radhikaj commented on #3860
Add links to RATS arch docs and update docs.

[2021-03-01 19:07] radhikaj commented on #3859
Yes, we agree that this would be useful. No one is working on this right now. Would you be able to work with us to contribute this?
@anakrish believes that adding pthread_create and pthread_join would enable us to port more applications.

[2021-03-01 19:17] dthaler commented on #3860
It means TEE-vendor agnostic.  It means the point is independent of which TEE is in place, whether SGX or OP-TEE or whatever else.

[2021-03-02 17:34] mingweishih commented on #3860
The OpenSSL libraries shipped by OE do run entirely inside the enclave. We explicitly block some fs-related APIs for security reasons (please refer to https://github.com/openenclave/openenclave/blob/master/docs/OpenSSLSupport.md#openssl-apismacros).

[2021-03-03 02:16] CodeMonkeyLeet opened #3866 "Inclusion of new headers for doxygen build breaks generated globals.html"
Per @binxing in #3652:

[2021-03-03 13:53] h4x3rotab opened #3867 "Rust binding"
We are now using building our project with Teaclave's rust-sgx-sdk. It runs well under Linux, but it has not Windows support. Recently we are looking for a SDK with boarder OS support, and found OpenEnclave the best choice. However so far it looks like OE doesn't have a plan to add binding to other language, especially rust, the one we are using.

So I'm asking in this thread, what's the difficult

[2021-03-03 17:04] mingweishih commented on #3867
Hi @h4x3rotab, thanks for your interest in the OE SDK! We did recently start working on the Rust binding support, but not yet have a plan for it. However, that would great if you can provide some more information on your needs, for example
- Is the main requirement is supporting a rust enclave on both Windows and Linux?
- What's the programming model you would like to use with the rust binding? Do

[2021-03-03 18:01] mingweishih commented on #3867
cc @radhikaj @RRathna @AevaOnline

[2021-03-03 19:56] h4x3rotab commented on #3867
Our project: https://github.com/Phala-Network/phala-blockchain

To give you a little background: We are a confidential computing blockchain project. The blockchain maintains the consistency and provides a timestamping service, while the actual computation happens off-chain inside TEEs. We use sgx sdk to build our off-chain runtime.

Yes, rust-sgx-sdk works very well, but it doesn't support Windows

[2021-03-03 20:54] dthaler opened #3868 "OpenSSL headers in OE package can break apps"
Since openssl was not supported in earlier versions, applications that did the work themselves to use openssl within their application can break with OE v0.14 since the headers appear in the SDK and are thus in the path even when OE is using mbedtls.  That is, if the app uses one openssl version and the OE openssl package is a different version, the headers won't match.

This is particularly an is

[2021-03-04 23:22] #3820 closed

[2021-03-05 22:02] mingweishih commented on #3867
This is good to know. Supporting same enclave on both Linux and Windows is definitely a key feature of OE.

The binding model you envision is correct: We support building the Rust program into static library and generate a binary by linking against the library.

This is good to know as we don't require `no_std` environment.

Thanks again for the detailed information, which is really helpful! Howev

[2021-03-07 17:44] yentsanglee commented on #3860
The 64 byte limitation only applies to evidence format OE_FORMAT_UUID_LEGACY_REPORT_REMOTE and  OE_FORMAT_UUID_RAW_SGX_QUOTE_ECDSA. We will clarify this in the documentation.

Yes, customer claim buffer can be used as challenge. Verifier does no have to run in SGX-enabled hardware.

[2021-03-07 22:21] hyunsooda commented on #3860
Thank you @yentsanglee ! let me close

[2021-03-07 22:21] #3860 closed

[2021-03-08 19:08] radhikaj commented on #3868
The same problem exists for mbedtls.

[2021-03-09 18:13] achamayou commented on #3815
As discussed in the SIG Arch meeting, we would like to use the following flags that are available from Clang 11:

-std=c++20 (in particular co-routines)
-Wuninitialized-const-reference is a new warning controlled by -Wuninitialized. It warns on cases where uninitialized variables are passed as const reference arguments to a function.
-fstack-clash-protection will provide a protection against the s

[2021-03-09 18:16] achamayou commented on #3815
We're also keen to use -fsanitize=cfi, available from Clang 9 onwards, and it may make sense to evaluate using it for OpenEnclave itself.

[2021-03-09 18:27] dthaler commented on #3815
Some steps necessary when moving to a later version of clang include:
* Update cmake files
* Update VS extension
* Update VS code extension
* Verify that samples compile with cmake
* Verify that samples compile with VS extension
* Verify that samples compile with VS code extension
* Update docs

Related PR's: #3811

[2021-03-09 20:17] anakrish opened #3876 "[IGNORE] [WIP] Enclave Loader: Long-term plans"
### Background

OE SDK uses a custom-rolled loader that is tailored to handle only loading a single enclave binary. The loader has a host-side component that does most of the loading work, and an enclave side component that performs relocations.
- The loader is only used for SGX.
- The enclave-side loader handles only the relocation types that are necessary (`R_X86_64_RELATIVE`) https://github.com

[2021-03-11 07:18] ab37695543xs opened #3880 "Build enclave with static GMP and NTL"
Hi, my environment is Ubuntu 18.04 and default CC and CXX are clang.
I want to use NTL in enclave, and I've tried built static GMP and NTL in following 2 commands:
[code]
My enclave CmakeLists:
[code]
This works fine when compiling non-enclave app, but I'd fail to compile enclave like this:
[code]
What's the proper way to build static library in enclave? Thanks.

[2021-03-11 18:27] anakrish commented on #3880
I will take a look at this and report back.

[2021-03-11 22:15] anakrish commented on #3880
Can you try adding `-fPIC` to the C++ compiler options as suggested in the error message?

Also do a verbose build of the enclave to make sure that `-fPIC` appears after `-fPIE` in the compiler command line.

[2021-03-11 23:26] rs-- commented on #3471
Resolved in #3754

[2021-03-11 23:26] #3471 closed

[2021-03-12 01:32] #3281 closed

[2021-03-13 03:47] ab37695543xs commented on #3880
I use GMP only to make it simpler, and get the same result, here's my verbose

![2021-03-13 11-43-59 的螢幕擷圖](https://user-images.githubusercontent.com/17703638/111017981-6c2a4a80-83f1-11eb-9b32-7222242ad2a3.png)

[2021-03-13 14:46] JoFrost opened #3883 "Is there a way to allow the enclave to terminate itself after finishing computation?"
Hey there,

I was wondering if there is any way for the enclave to terminate itself, but without using `oe_abort` from the enclave?

I am doing some calculations on my enclave, but I would like to make sure the enclave is erased after calculation is over, and I would like the enclave to call it and not the host to reduce the chance of the host keeping the enclave around.

I have tried using `oe_ab

[2021-03-14 02:19] ChrisVoile commented on #3314
Hello, which submodule?
After cmake, is it normal for Performing Test CMAKE_HAVE_LIBC_PTHREAD - Failed?

[2021-03-14 02:24] ChrisVoile commented on #3005
After cmake, is it normal for Performing Test CMAKE_HAVE_LIBC_PTHREAD - Failed?

[2021-03-15 03:06] ChrisVoile opened #3884 "Cmake failed: Undefined reference to pthread_*"
I have tried to build the OE many times, I got this error every time after cmake.

**cmake result:**
[code]

**CmakeError:**
[code]

add -pthread when compiling?
A similar issue is still not be solved: https://github.com/LibreCAD/LibreCAD_3/issues/219

[CMakeError.log](https://github.com/openenclave/openenclave/files/6138553/CMakeError.log)
[CMakeOutput.log](https://github.com/openenclave/openencl

[2021-03-15 08:28] DylanWangWQF opened #3885 "Ctest for the attestation failed"
When I build with LVI mitigation, run:
[code]
I got the result:
[code]
It works on Ubuntu18.04, SGX1+FLC model
My environment path is:
[code]
I have installed the  dependencies according to the guidance document, contents under the director `/usr/local/lvi-mitigation/bin` are:
[code]
There is another error when I first run `make`
[code]
Then I create a soft link for `as` in the directory `/usr/bin

[2021-03-15 16:35] mingweishih commented on #3885
Can you provide more logs? More specifically, the logs for running `cmake` and for the compiler commands.
If the configuration works correctly, the build shouldn't use `as` from the /usr/bin. Instead, the `as` in the path `LVI_MITIGATION_BINDIR` should be used.

[2021-03-15 16:39] mingweishih commented on #3884
OE does not the `pthread_create` API today (see https://github.com/openenclave/openenclave/blob/master/3rdparty/musl/deprecations.h#L48). There is a proposal of adding that support: #3697.

[2021-03-15 18:06] radhikaj commented on #3883
@JoFrost
Is this a multi threaded scenario?
Can you please give us more details around your scenario?

[2021-03-15 18:21] fchinchilla commented on #3883
Hi.

After completing the call inside the enclave, control returns to the untrusted application. At this point you would like to automatically destroy the enclave - is this correct?

[2021-03-15 21:30] mingweishih commented on #3884
Closing this PR, using #3859 to track.

[2021-03-15 21:30] #3884 closed

[2021-03-15 22:15] ChrisVoile commented on #3884
Thank you so much! I will keep following.

[2021-03-16 01:07] ChrisVoile commented on #3885
Thank you for your reply!
According to your reminder, I know why something went wrong.
It seems that I repeated `cmake` and `make` with LVI mitigation after normal `make`.
Now it works fine.

However, some tests failed, listed as follows:
[code]
The tests related to attestation also failed:
[code]
Test 927 run for a long time, I have to stop it manually. It's stuck here:
[code]

The log includes a

[2021-03-16 08:12] ChrisVoile commented on #3885
Additionally, I installed the latest DCAP driver v1.4 instead of v1.35 in the [Install the Open Enclave SDK (Ubuntu 18.04)
](https://github.com/openenclave/openenclave/blob/v0.14.x/docs/GettingStartedDocs/install_oe_sdk-Ubuntu_18.04.md).
But after I built the OE according to [Getting Started with Open Enclave in SGX1-FLC mode](https://github.com/openenclave/openenclave/blob/v0.14.x/docs/GettingSta

[2021-03-16 11:10] JoFrost commented on #3883
In our scenario, the enclave provides some computation on a client's data. It is not multi threaded. At the end of the analysis of the data by the enclave, we wish to return the value to the host, which will forward it to the client, but at the same time make sure that the enclave is no longer callable to reduce the exposure of the secrets used by the enclave.

In our head, we would like the encla

[2021-03-16 16:24] anakrish commented on #3883
Would the following work for you?
- Within ecall
   - Perform computation
   - make ocall to store the result
   - call oe_abort

[2021-03-16 16:58] anakrish commented on #3880
### GMP
This is a bit tricky to do currently due to the following
- We link with `-pie` which allows the linker to do a better job since it knows that it is building an executable and not a general shared library. You could remove the `-pie` flag and link the enclave. Most likely it should work; but we don't extensively test this scenario where the enclave has been built without `-pie`. Also, it m

[2021-03-16 17:36] anakrish opened #3887 "VSIX Extention: Provide Crypto Choice"
Since v0.13 OE allows choosing between mbedtls and OpenSSL. OpenSSL is important since FIPS module is going to be enabled via OpenSSL interface.

In VSIX extension, the mbedtls is hard-coded in the list of libraries. https://github.com/openenclave/openenclave/blob/82bff7df3d98b0ce89f3ae0f2eaa21e2fd5e9cfc/devex/vsextension/msbuild/open-enclave-cross.targets#L347
   - In [Release v0.13](https://gith

[2021-03-16 17:37] anakrish commented on #3887
@mingweishih The crypto library list in VSIX extension has been unchanged since v0.6. Please help @dthaler arrive at the correct list? Also double-check the compiler flags too since it might be outdated.

[2021-03-16 17:44] JoFrost commented on #3883
@anakrish That's a great solution, it will suit our needs perfectly, thank you!

[2021-03-16 17:47] anakrish opened #3888 "VSIX Extension: Avoid having to update VSIX extension with each OE release"
OE is on the path to updating compilers, third-party libraries and other tools more regularly.
This means that the compiler/linker flags and libraries used to build enclaves may change with each release; support for older compilers would be dropped.

The goal of this issue is to see if we can avoid having to update the VSIX extension whenever OE SDK has a new release.
This reduces the development

[2021-03-16 18:19] anakrish commented on #3883
Great. Closing this issue for now. Feel free to reopen if needed.

[2021-03-16 18:19] #3883 closed

[2021-03-16 21:12] #3868 closed

[2021-03-17 04:28] yentsanglee opened #3890 "Add test for verifying new fields in sgx_report_body_t struct"
During the progress of these pull requests:
#3700 Add basic KSS support (ISVFAMILYID and ISVEXTPRODID) to OE SDK
#3723 Expose sgx report body fields by oe claims

The following fields were added to sgx_report_body_t struct
- isvfamilyid
- isvextprodid

A test case is needed to verify the new fields when executed in supported hardware (I.e SGX Icelake).

For technical details, refer to #3054 SGX: E

[2021-03-17 05:11] yentsanglee commented on #3843
Also if quote gen failure is from invalid configuration such as missing AESM libraries, clearly log error and possible solutions and return unique error.

[2021-03-17 22:03] ChrisVoile commented on #3885
I changed the title of this issue, related to the ctest of the attestation.

[2021-03-17 22:15] mingweishih commented on #3885
Thanks for the update. Based on the error messages, there seems a version mismatch:
[code]

@ryanhsu19 @yentsanglee  Do you know the possible cause of this error (on non-ACC machine)?

[2021-03-17 22:28] ChrisVoile commented on #3885
I'm reading the log and [Intel® Software Guard Extensions (Intel® SGX) Data Center Attestation Primitives: ECDSA Quote Library API](https://download.01.org/intel-sgx/sgx-dcap/1.10/linux/docs/Intel_SGX_ECDSA_QuoteLibReference_DCAP_API.pdf). One possible reason is that it automatically installed the latest PCCS/PCS API providing V3 APIs when building the OE according to your guidances.

But as shown

[2021-03-18 02:15] ChrisVoile commented on #3885
Hi, @mingweishih  I installed PCCS with dpkg manually, the version is sgx-dcap-pccs_1.8.100.2 and the version of PCCS API is v2. Now, it solved the above error. Basically, we currently cannot install it using `sudo apt install sgx-dcap-pccs` from the Intel SGX repository according to the guidance, otherwise the version does not match.

--------------------------------------------------------------

[2021-03-21 00:13] yentsanglee opened #3896 "Remove @experimental tag from attestation APIs"
Remove `experimental` tag from the following attestation APIs:

- oe_attester_initialize
- oe_attester_select_format
- oe_get_evidence
- oe_free_evidence
- oe_free_endorsements
- oe_attester_shutdown
- oe_verifier_initialize
- oe_verifier_get_formats
- oe_verifier_free_formats
- oe_verifier_get_format_settings
- oe_verifier_free_format_settings
- oe_verify_evidence
- oe_free_claims
- oe_verifier_s

[2021-03-22 03:27] superajun-wsj opened #3897 "some syscall or basic function support for help"
We try to make a complicated application run in SGX based on open enclave, but there are some symbol not supported in open enclave, here is the list:

getrlimit
__libc_current_sigrtmax
sigemptyset
sigaddset
sigprocmask
pthread_attr_getguardsize
dlopen
pthread_attr_setdetachstate
setrlimit
dlsym
pthread_attr_destroy
realpath
pthread_attr_setstacksize
pthread_getattr_np
getpwuid
pthread_condattr_set

[2021-03-22 03:55] dthaler commented on #3896
I think the original discussion was to keep @experimental until there were at least 2 formats (e.g., for different TEE's), just to give confidence that the APIs wouldn't change when adding a 2nd one

[2021-03-22 16:38] dthaler commented on #3896
I checked the APIs listed above against https://github.com/openenclave/openenclave/blob/master/docs/DesignDocs/AttestationApiRequirements.md and they look pretty solid to me.  The only one that still looks tenuous to me is `oe_verify_evidence()`'s use of `oe_policy_t` which looks a bit hokey and may need to be cleaned up before removing @experimental.   For example, `oe_policy_t` uses a "void*" an

[2021-03-22 18:04] dthaler commented on #3897
Issue #3859 already tracks the request for pthread support, I think

[2021-03-22 18:07] radhikaj commented on #3897
We will prioritize #3859 for pthread support. The rest of the APIs in the list above will be tracked by this issue.

[2021-03-22 18:11] radhikaj commented on #3887
Targeted for v0.16

[2021-03-22 18:14] radhikaj commented on #3885
@qiucwang  Please update docs to provide clarity if needed

[2021-03-22 19:05] qiucwang commented on #3885
Looks like SGX pumped up the collateral version. OESDK is able to support v3 collateral so we should update the SGX_QL_QVE_COLLATERAL_VERSION as well. Will come up with a fix on that.
But not sure why older version (v2) of dcap-qpl and dcap-pccs failed. @ChrisVoile , any chance to repro the error `OE Platform needs up-to-date` and share the log? Thanks!

[2021-03-22 19:35] anakrish commented on #3887
When 0.14 was released, the following line was updated in the VSIX extension to refer to `oecryptombedtls`:

https://github.com/openenclave/openenclave/blob/8cc21f840d992cbc3157d8110bed460682237194/devex/vsextension/ProjectWizard/VCTargets/OpenEnclave.Cpp.Clang.targets#L276

That is likely why the extension was not broken. It is not clear what the purpose of `OpenEnclave.Cpp.Clang.targets` is comp

[2021-03-22 23:01] ChrisVoile commented on #3885
Hi, many thanks for your reply. I completely reinstalled OESDK according to the documentations: [Install the Open Enclave SDK (Ubuntu 18.04)](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk-Ubuntu_18.04.md), [Getting Started with Open Enclave in SGX1-FLC mode](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/S

[2021-03-23 21:59] radhikaj commented on #3054
Fixed in https://github.com/openenclave/openenclave/pull/3799

[2021-03-23 22:03] ChrisVoile commented on #3885
@qiucwang Here is the error information when running the attestation sample.

[code]

[2021-03-23 22:57] yentsanglee opened #3902 "More clear error value from quote library loading failure"
`oe_get_evidence()` should return more clear error values when:

- SGX_AESM_ADDR is set and quote-ex library is not installed
- SGX_AESM_ADDR is set and AESM libraries are not installed
- SGX_AESM_ADDR is not set and DCAP QuoteLibrary is not installed

Functions to check:

- oe_sgx_load_quote_ex_library
- _load_quote_ex_library_once

Be sure to add test case for these error values.

Additional ask

[2021-03-23 23:08] yentsanglee opened #3903 "Add test for verifying enclave config_id/config_svn fields in evidence claims for SGX"
Test case in #3799 does not cover the verification of the  enclave config_id/config_svn are identical to evidence claim `OE_CLAIM_SGX_CONFIG_ID` and `OE_CLAIM_SGX_CONFIG_SVN`.

A test case is needed to verify the new fields when executed in supported hardware (I.e SGX Icelake).

For technical details, refer to #3054 SGX: Enable basic Key Separation and Sharing Support.

Related to #3890 and #3723

[2021-03-23 23:12] qiucwang commented on #3885
@ChrisVoile we are fixing it. It will be compatible with the latest SGX quote provider library: sgx-dcap-pccs_1.10.100.4-bionic1_amd64.deb. And TCB out-of-date issue should also be solved.

[2021-03-24 02:14] ChrisVoile commented on #3885
@qiucwang  Many thanks for your help! Looking forward to this update.

[2021-03-24 05:01] yentsanglee commented on #3896
One option for safe casting `oe_policy_t` is to define an API to initialize policy buffer. E.g.

[code]

[2021-03-24 17:05] dthaler commented on #3896
oe_policy_t is defined as
[code]
as opposed to settings structs that don't have embedded pointers but can be various sizes.  Embedded pointers can have issues with lifetime if you go with an initialize api like Yen mentioned.

[2021-03-26 13:52] hegra commented on #3737
I was able to reproduce this error.

I have no import in my .edl at all

When I reverted back to 0.8.2 everything worked fine.

Likely due to the following:
https://github.com/openenclave/openenclave/blob/de298fe805d4ce5d3718bd697716867be1fffdec/host/sgx/create.c#L413

[2021-03-26 16:05] mingweishih commented on #3737
This is the expected behavior. We introduce the explicit edl opt-in design in v0.10, and the `platform.edl` is required to be imported. Please refer to the [doc](https://github.com/openenclave/openenclave/blob/master/docs/DesignDocs/system_ocall_opt_in.md#currently-required-edl-by-all-applications) and the [change log](https://github.com/openenclave/openenclave/blob/master/CHANGELOG.md#changed-5)

[2021-03-26 18:46] qiucwang commented on #3885
@ChrisVoile, we have fixed the endorsement version issue. Meanwhile, please stick with 1.8 QPL and PCCS (V2 collateral). Intel will update their V3 CRL format soon. Before that, OESDK is not compatible with SGX V3 CRL.
I've tested with 1.8 QPL and PCCS and passed all the ctest. The TCB out-of-date issue might be caused by your CPU security version. Please check if your SGX firmware and software ar

[2021-03-28 23:26] ChrisVoile commented on #3885
Thanks!
 @MWShan @fchinchilla Could you tell me how to update SGX firmware and software?

[2021-03-29 17:48] dthaler opened #3910 "Ability to make an ECALL from kernel mode"
Currently another team in Microsoft is using OP-TEE directly, rather than building on Open Enclave SDK, because OE does not currently support the ability to make an ECALL from kernel mode.   This forces them to jump through lots of extra hoops to write the enclave that OE would have solved for them, and limits their ability to work on other TEEs in the future.

Currently in OE, one would have to f

[2021-03-29 17:50] dthaler commented on #3910
This is peripherally related to issue #3804, but that is just for attestation, and that request came from a different team.

[2021-03-29 17:52] dthaler opened #3911 "Ability to make an ECALL from another enclave"
Currently another team in Microsoft is using OP-TEE directly, rather than building on Open Enclave SDK, because OE does not currently support the ability to call (across an EDL-defined API) from one enclave to another enclave. This forces them to jump through lots of extra hoops to write the enclave that OE would have solved for them, and limits their ability to work on other TEEs in the future.

[2021-03-29 18:05] radhikaj commented on #3903
@yentsanglee Are config_id/config_svn SGX specific?

[2021-03-29 18:10] radhikaj commented on #3910
On SGX, user mode context is required to make an ecall.

[2021-03-29 18:16] radhikaj commented on #3910
Capture scenario in design doc.

[2021-03-29 18:37] yentsanglee commented on #3903
config_id/config_svn are defined by SGX. Other TEEs may or may not have similar init-time claim input. All definitions added in PR #3799 are all SGX specific - OE_SGX_ENCLAVE_CONFIG_DATA, oe_sgx_enclave_setting_config_data, etc.

[2021-03-29 18:53] yentsanglee commented on #3903
Assigned to @manojrupireddy to complete the test coverage of PR #3799.

[2021-03-29 20:18] fchinchilla commented on #3885
The SGX software can be downloaded from https://01.org/intel-software-guard-extensions/downloads.

Firmware is typically obtained from your OEM.

[2021-03-29 22:52] ChrisVoile commented on #3885
BIOS is already the latest version. `Dell OptiPlex 7070 System BIOS 1.7.0`

When I run `sudo ansible-playbook scripts/ansible/oe-contributors-setup.yml`, it automatically install v1.35 DCAP. Then I uninstall it and install the latest v1.41 DCAP.

I still got the error: `mbedtls_tls_client_enc:Platform TCB (36) is not up-to-date (oe_result_t=OE_TCB_LEVEL_INVALID)`.

[2021-03-29 23:54] qiucwang commented on #3885
I saw TCB status code is actually `36`, which corresponds to `SGX_QL_QV_RESULT_CONFIG_AND_SW_HARDENING_NEEDED` defined in [ECDSA Quote Library API page 30](https://download.01.org/intel-sgx/sgx-dcap/1.10/linux/docs/Intel_SGX_ECDSA_QuoteLibReference_DCAP_API.pdf):
[code]
So looks like firmware and SW are at the latest version. @fchinchilla @MWShan, any idea how to mitigate user's hardware configura

[2021-03-30 13:29] specio commented on #3885
Hi, I have similar problem. NUC7PJYH with fresh installation of Ubuntu18
I followed [NonAccMachineSGXLinuxGettingStarted](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md), but (following Your suggestions) downgraded libs version accordingly:
(sudo apt install <lib_name>=1.8.100.2-bionic1 -y --allow-downgrades)
[code

[2021-03-30 18:35] qiucwang commented on #3885
Hi @specio , looks like `libsgx_quote_ex` loading error is triggered by `load_sgx_dcap_ql` error. `load_sgx_dcap_ql` failed so OE tried to load `libsgx_quote_ex`. Before downgrading, `libsgx-dcap-ql  1.10.100.4-bionic1` should work fine. You can rerun `ansible-playbook scripts/ansible/oe-contributors-setup.yml` to update all the dependencies.
`SGX_QL_NO_PLATFORM_CERT_DATA` should be caused by QPL

[2021-03-30 21:43] ChrisVoile commented on #3885
Hi @qiucwang . A similar issue: [Error: failed to verify QvE report. 0x0001 ](https://github.com/intel/SGXDataCenterAttestationPrimitives/issues/113) .

After I disabled Hyper-threading (as well as TurboBoost, etc.), still got that error.

![image](https://user-images.githubusercontent.com/26397284/113060884-c3138a80-920d-11eb-8caa-6f14c5bd526a.png)

[2021-04-01 02:12] bodzhang opened #3923 "Enable SIGSEGV handling inside SGX Enclave utilizing SGX MISCSELECT #PF/#GP support"
Intel's Icelake CPU (10nm Gen 10 Core and Xeon-SP) supports delivering #PG and #GP exception info securely inside the enclave. For LibOS solutions that try to support high level programing language runtime inside an SGX Enclave, #PF exception handling inside the Enclave is required. Some high level programing language runtime expects the OS to deliver SIGSEGV signal triggered by #PF on NULL pointe

[2021-04-02 02:05] ChrisVoile commented on #3885
@fchinchilla @MWShan, any suggestion on how to mitigate the hardware configuration vulnerabilities? This error is confusing,  I want to program on OE next。

[2021-04-02 06:40] hyunsooda opened #3931 "Question about "OE_REENTRANT_ECALL"

[2021-04-02 06:47] hyunsooda opened #3932 "Question about "OE_REENTRANT_ECALL""
I have faced ```OE_REENTRANT_ECALL``` error when I do like below.

* ecall_* : functions in enclave-side
* host_* : functions in host-side
[code]

After getting this issue, I was searching that whether Ecall is a reentrant function or not, but it seems hard to find about that.
So, I'm wondering whether this issue is purposely born from your own team or an underlying problem of sgx. If it is latter

[2021-04-02 11:25] #3931 closed

[2021-04-02 18:18] anakrish commented on #3932
OE SDK does not allow an ocall to make an ecall back into the enclave. Such calls are considered reentrant and  raise OE_REENTRANT_ECALL error. Reentrant ecalls were deemed to increase the attack surface in security review and hence were disabled.

[2021-04-02 18:23] RRathna opened #3933 "Meta-issue: Update MUSL to v1.2.2"
Upgrade MUSL from v1.1.21 to v1.2.2
- [x] Fix tests/syscall/fs where when testing libc  ::stat(), use struct stat instead of struct oe_stat_t (#3941)
- [x] Add empty syscalls to accomodate musl linking to these new syscalls. Empty syscall - lstat, statx (#3943)
- [x] Implement syscall clock_nanosecond; add appropriate tests (#3973)
- [x] Update musl submodule to v1.2.2. Update libc and patches/ to

[2021-04-02 22:57] mingweishih commented on #3933
Make sure to use https://github.com/openenclave/openenclave-musl

[2021-04-02 23:45] #3856 closed

[2021-04-03 02:01] rs-- commented on #3866
After further investigation, due to the growing number of entries, [globals.html (v0.14)](https://openenclave.io/apidocs/v0.14/globals.html) is split up into multiple files; [globals.html (v0.15)](https://openenclave.io/apidocs/v0.15/globals.html), [globals_o.html (v0.15)](https://openenclave.io/apidocs/v0.15/globals_o.html), [globals_q.html (v0.15)](https://openenclave.io/apidocs/v0.15/globals_q.

[2021-04-03 02:01] #3866 closed

[2021-04-05 14:03] dthaler commented on #3932
OP-TEE does not allow this either

[2021-04-05 18:07] anakrish commented on #3932
@hyunsooda Can you describe your use case?

[2021-04-05 21:04] fchinchilla commented on #3885
Hi.

Are you able to look at the advisoryIDs JSON property that is returned? It should contain an array of all the Security Advisories that need to be mitigated in BIOS/config.

Some of the common ones are explained https://community.intel.com/t5/Intel-Software-Guard-Extensions/How-to-mitigate-common-SAs-reported-by-IAS-during-remote/m-p/1211599#M3985

[2021-04-06 00:11] qiucwang commented on #3885
@ChrisVoile, you can use `OE_LOG_LEVEL=INFO ctest -V -R <testname>` to get more information, including `FMSPC` value of your CPU. E.g. one of your failing test `OE_LOG_LEVEL=INFO ctest -V -R mbedtls`. Once you got the `FMSPC`, you can call `curl -v -X GET "https://api.trustedservices.intel.com/sgx/certification/v2/tcb?fmspc={}"` to [get the `tcbinfo`](https://api.portal.trustedservices.intel.com/d

[2021-04-06 00:43] hyunsooda commented on #3932
Hi all,

@dthaler  Thank  you
@anakrish What you mean the "use case"? Just I have faced  ```OE_REENTRANT_ECALL``` error when I followed the function call flow like the code snippet above exactly. That's all.

[2021-04-06 01:18] ChrisVoile commented on #3885
@qiucwang  Many thanks for your help!
Here is the tcbinfo, but no advisoryIDs info.

`OE_LOG_LEVEL=INFO ctest -V -R mbedtls` got the FMSPC:
[code]

`curl` gets the tcbinfo:
[code]

[2021-04-06 01:27] yentsanglee opened #3937 "Test cases for SGX AESM attestation evidence generation and QVL evidence verification"
Add test coverage for

1. SGX in-proc or AESM out-of-proc quote generation

[2021-04-06 01:48] qiucwang commented on #3885
Hi @fchinchilla, any way to get advisoryIDs? `https://api.trustedservices.intel.com/sgx/certification/v2/tcb?fmspc={}` [returns a list of tcbLevels](https://api.portal.trustedservices.intel.com/documentation#pcs-tcb-info-v2) but don't have advisoryIDs in it. Any suggestion?

[2021-04-07 05:12] qiucwang commented on #3885
@fchinchilla @MWShan, and since user's tcb status is "ConfigurationAndSWHardeningNeeded", his `compsvn` probably falls between
[code]
and
[code]
Could you check what's the corresponding advisoryIDs for it?

[2021-04-07 05:50] yentsanglee commented on #3885
@specio If you set OE_LOG_LEVEL to WARNING or INFO, you will be able to get more clues. It's likely that your DCAP libraries are not installed properly or environment variable "SGX_AESM_ADDR" is set (to instruct SGX quote generation to rely on libsgx_quote_ex).

[2021-04-07 10:26] specio commented on #3885
Ok, I solved my issues with attestation.
I checked PCCS's with curl, it was returning 200, but CRL data was invalid (unexpected stream end).
To fix that issue I had to remove pckcache.db file after downgrade and restart PCCS service.
Finally PCCS responded with proper CRL, then ctest passed.

Thanks for help

[2021-04-07 13:50] specio opened #3942 "Child_process tests are failing for ctest on SGX1 LLC"
Hi,
I'm running Build&Test on latest master of OE.
OS version: Ubuntu 18.04
CPU used: Intel(R) Core(TM) i7-10710U CPU @ 1.10GHz
(Supporting LLC only)
[code]

**All tests except child_process are passing.**

[code]
Strace Tail(50)

[code]

What is the purpose of these tests?
Is it expected to pass on SGX1 non FLC platforms.
If so, how to fix them?

+@MWShan @sfblackl

[2021-04-07 17:24] yentsanglee commented on #3885
@ChrisVoile SGX_QL_QV_RESULT_CONFIG_AND_SW_HARDENING_NEEDED typically means configuration needed for SMT, graphic, or overclocking. Let us know if you are still hitting issue.

[2021-04-07 19:57] mingweishih commented on #3942
what linux kernel version you're running on?

[2021-04-08 02:35] ChrisVoile commented on #3885
@yentsanglee  I'm still hitting this issue.

[code]

[2021-04-08 06:31] hyunsooda commented on #3932
After some search on this and I thought somethings. The root cause is to prevent attacks, the type of bypassing control flow . And also ecall cannot expect the behavior of the host function in fundamentally.
For simple example,
[code]
Attacker can change the return address of ```host_func1()``` to ```ecall_func1()```. It simply destroys the enclave program by incurring stackoverflow. And there are

[2021-04-08 07:55] specio commented on #3942
Linux version 4.15.0-76-generic (buildd@lcy01-amd64-029) (gcc version 7.4.0 (Ubuntu 7.4.0-1ubuntu1~18.04.1)) #86-Ubuntu SMP Fri Jan 17 17:24:28 UTC 2020

[2021-04-08 08:59] ChrisVoile commented on #3880
BTW, NTL is very'large' for the enclave, how do you use it in the enclave, or just copy part of them.

[code]

[2021-04-08 11:53] LuminousXLB commented on #3885
Hi all,

I'm trying to build a containerized environment and get similar test results. You can find how I build the containers [here](https://github.com/LuminousXLB/openenclave-docker).

The DCAP driver on my host is like
[code]

And my environment shown in docker container is
[code]

CTest result is
[code]

Full logs can be found [here in HTML format](https://www.taraxacum.ink/openenclave-docker/

[2021-04-08 16:05] anakrish commented on #3932
@hyunsooda Your reasoning is spot on. It opens up possibility for many attack scenarios.

Closing for now.

[2021-04-08 16:05] #3932 closed

[2021-04-08 18:06] qiucwang commented on #3885
Hi @LuminousXLB, I found `sgx-dcap-pccs` is missing so you got `quote3_error_t=SGX_QL_NO_PLATFORM_CERT_DATA` as PCCS service is needed to provide certificate data. You can follow the doc [here](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md)to set up PCCS.

[2021-04-08 18:40] mingweishih commented on #3942
what about the version of sgx dcap driver?

[2021-04-08 23:52] rs-- commented on #3786
All tasks completed, closing this issue.

[2021-04-08 23:52] #3786 closed

[2021-04-09 00:17] LuminousXLB commented on #3885
Thanks for your reply. I think you've reviewed an outdated log. I did set up PCCS in a separated container, and combine everything using docker-compose. The SGX_QL_NO_PLATFORM_CERT_DATA error comes because I used QPL 1.8 but PCCS 1.10. I've already taken another try to downgrade PCCS to 1.8 as well, where there's on such an error.

[2021-04-09 00:37] qiucwang commented on #3885
I checked the log and found your tcb status is 20, which is `OUT_OF_DATE_CONFIG_NEEDED`.  Please check if your SGX SW and firmware are up-to-date. You can check the discussion above.

From the log, your `tcb-comp-svn` looks like:
[code]
You can use the `tcbinfo.json` to look for the tcb status of your machine. It should be the highest tcblevel which is lower than your `tcb-comp-svn`.

[2021-04-09 00:52] LuminousXLB commented on #3885
Thanks for the fast reply.

For SGX SW, I set up the whole environment in Docker using the given script, so the entire software environment is predictable. I've also attached the output of `dpkg -l` and `dmesg` to show the version of everything.

For BIOS and firmware, I'll go for a further check. Since I'm using a remote server, it's not that easy.

[2021-04-09 08:33] specio commented on #3942
Its Legacy Launch Control, there is no DCAP driver.

I'm setting docker image with (most relevant part of dockerfile):
[code]

bionic.yml vars:
[code]

Versions:
[code]

Host machine is passing isgx driver to docker:

[code]
Enclaves are working, just child-process tests are failing.

[2021-04-09 18:21] haitaohuang commented on #3942
Legacy driver does not support enclave shared in forked processes.

[2021-04-09 19:53] MWShan commented on #3942
@haitaohuang - thanks for the response, so can we conclude that the following tests should not be run when Legacy Launch (which must use the Legacy Driver) is used:
	935 - tests/child_process_ecall (Child aborted)
	936 - tests/child_process_ecall-lvi-cfg (Child aborted)
	937 - tests/child_process_destroy (Child aborted)
	938 - tests/child_process_destroy-lvi-cfg (Child aborted)

[2021-04-12 06:48] ChrisVoile commented on #3885
Hi @qiucwang @fchinchilla, any update or suggestion about this issue?

[2021-04-12 17:45] #3890 closed

[2021-04-12 19:44] MWShan commented on #3942
@specio  - can the above tests be removed for the pipeline which tests platforms using Legacy Launch (the Legacy Launch Driver)?

[2021-04-13 12:20] specio commented on #3885
Hi again,
I am configuring another platform: IceLake (supporting KSS) and get **OE_TCB_LEVEL_INVALID**
I updated BIOS,FW and DCAP (1.41) to the latest versions.

I am not sure how to determine which part of it is not up to date...

OE_LOG_LEVEL=VERBOSE ctest -V -R mbedtls:
[code]

According to: https://github.com/openenclave/openenclave/blob/57c224925df6df7e65bfdd81dd8cd78fc06c8be6/common/sgx/tcbi

[2021-04-13 16:54] jxyang opened #3953 "Support release mode enclaves"
All OE samples and tests create debug mode enclaves with the flag in the config file:
[code]
And when creating the enclave on the host side, this flag is always passed to `oe_create_enclave`:
[code]
Which is described by OE documentation as:

Since `OE_ENCLAVE_FLAG_DEBUG` is not recommended for production usage, ideally,  `oe_create_enclave` should automatically  determine the release/debug mode o

[2021-04-13 16:54] jxyang commented on #3953
@radhikaj @anakrish

[2021-04-13 17:41] dthaler commented on #3953
@jxyang my understanding is that Debug=1 means it's valid to load _with or without_ the OE_ENCLAVE_FLAG_DEBUG flag, and Debug=0 means it must be loaded with the OE_ENCLAVE_FLAG_DEBUG clear.   So one cannot automatically determine the mode of the application without the user supplied flag.

A reasonable developer experience is to first test an enclave with Debug=1, OE_ENCLAVE_FLAG_DEBUG set, then w

[2021-04-13 17:50] yentsanglee opened #3954 "All published binaries should be signed by a formal OE key"
We would like all VS extension/VSCode extension and shipping binaries and utilities to be signed by an OE key.

[2021-04-13 17:51] jxyang commented on #3953
@dthaler The expectation doesn't quite match the Mystikos user experience. That means we have to ship two versions of Mystikos, one for loading Debug=1 user applications, one for Debug=0 user applications. Ideally, we want this setting to be transparent to users.

My understanding is that `oesign` stores the debug flag in one ELF section of the .so file, and it should be possible to parse the sect

[2021-04-13 17:55] yentsanglee commented on #3954
In pull request #3947, oecert enclave is signed by a random key. In the future, we may consider signing it with an OE key.

[2021-04-13 17:58] jxyang commented on #3953
Related issue in Mystikos: https://github.com/deislabs/mystikos/issues/279

[2021-04-13 18:13] dthaler commented on #3953
If I understand your response, that's an issue for Mystikos not OE SDK, which is for a wide variety of application developers not just Mystikos.   Mystikos can choose to disallow Debug=1, OE_ENCLAVE_FLAG_DEBUG clear if Mystikos wants, but OE SDK should not.

[2021-04-13 20:22] jxyang commented on #3953
Just to make sure, do you agree that this is technically possible? @dthaler

[2021-04-13 20:28] dthaler commented on #3953
I agree it is technically possible for Mystikos to do the same thing that "oesign dump" does to read the Debug= flag and then use it when Mystikos calls oe_create_encalve to set the `OE_ENCLAVE_FLAG_DEBUG` based on the parity.

Doing anything in OE itself would be harmful to the development flow in my opinion.

[2021-04-15 19:15] out0xb2 opened #3957 "Incorrect dst_length at SampleApp.cpp line 35"
The `dst` pointer has been incremented, but `dst_length` has not been accordingly decremented before being passed to a function.

https://github.com/openenclave/openenclave/blob/57c224925df6df7e65bfdd81dd8cd78fc06c8be6/tests/SampleApp/enc/SampleApp.cpp#L35

[2021-04-16 06:31] LuminousXLB commented on #3885
Hi @qiucwang , I've successfully updated the BIOS version to the newest one, rebuilt the docker containers and run the test cases. But nothing different.

I observed that my FMSPC is `00906ea10000` which is actually the one hardcoded in the [test suite](https://github.com/openenclave/openenclave/tree/57c224925df6df7e65bfdd81dd8cd78fc06c8be6/tests/report/data). Does this FMSPC have anything special

[2021-04-16 18:11] qiucwang commented on #3885
FMSPC, according to [SGX doc](https://download.01.org/intel-sgx/sgx-dcap/1.10/linux/docs/Intel_SGX_ECDSA_QuoteLibReference_DCAP_API.pdf), is the description of the processor package or platforminstance including its Family, Model, Stepping, Platform Type, and Customized SKU. It's normal that two machines share the same FMSPC. `00906ea10000` is one of the intel coffelake family platform.

[2021-04-18 11:55] LuminousXLB commented on #3885
Thanks for the reply,
But how can I update my platform so that I can have an up-to-date FMSPC? Since it's information about the CPU, it should not change if I don't change the hardware?

[2021-04-18 16:32] yentsanglee opened #3959 "Include symbol files in the Windows release packages"
Symbol files help customers debug. It will be helpful to include symbol files in the release package and add label to release source snapshot.

[2021-04-19 00:55] qiucwang commented on #3885
Hi, the issue is not out-of-date FMSPC but an out-of-date tcblevel for a specific FMSPC. The status of your tcblevel is `OUT_OF_DATE_CONFIG_NEEDED` according to the previous log. Did you `tcb-comp-svn` change after you updated your BIOS?

[2021-04-19 06:42] LuminousXLB commented on #3885
Oh, I think I get you. The response from ``/sgx/certification/v2/tcb?fmspc={}`` should be taken as a standard, and it states meeting which level of svn we should get which kind of response. So we should find ways to get a higher `tcb-comp-svn` instead of ways to change the `FMSPC` or `tcbinfo`.

My latest test output is [here](https://www.taraxacum.ink/openenclave-docker/test-1.8-updated.html), wh

[2021-04-19 18:14] dthaler commented on #3953
@jxyang If there were a flag like OE_ENCLAVE_FLAG_AUTODEBUG which means to have FLAG_DEBUG set if Debug=1 and FLAG_DEBUG clear if Debug=0 on the enclave being loaded, would that meet your needs?

[2021-04-19 18:18] mingweishih commented on #3957
Will look into this. Thanks for the report!

[2021-04-19 18:19] dthaler commented on #3959
Per triage meeting, symbols are already part of the Linux release packages but not Windows

[2021-04-19 18:21] mingweishih commented on #3954
Not an blocker right now. But it's nice to have in case we publish more binaries in the future.

[2021-04-19 18:21] qiucwang commented on #3885
@LuminousXLB , looks like your SGX software and firmware is not up-to-date. Can you post you current SGX software and firmware info here? @MWShan @fchinchilla can you take a look? Thanks.

[2021-04-19 18:22] dthaler commented on #3959
Question: what binaries is this about?  is this about oeedger8r, oesign, oesgx?  Or what?

[2021-04-19 18:23] mingweishih commented on #3959
@yentsanglee please follow-up regarding the request and we'll come back to this next week.

[2021-04-19 18:47] jxyang commented on #3953
Yes, that's exactly what I wanted.

[2021-04-19 19:23] LarryOsterman commented on #3959
Scenario: Customer needs to debug OpenEnclave code.

Expected Result: Stepping into the OE code points me to OE code with full symbols.

Actual Result: Stepping into the OE code points me to assembly code with no symbolic information.

That makes it insanely hard to debug OE, and the diagnostics produced by OE are so coarse grained, it's critical that we be able to debug the OE binaries.

This app

[2021-04-19 19:39] yentsanglee commented on #3959
@anakrish If Windows apps call oe_verify_evidence() for example inside enclave, how do the developers debug into OE code?

[2021-04-19 21:16] fchinchilla commented on #3885
Hi.

Maybe I missed it earlier (I can't find it scrolling and CTRL+F), have you run the

SampleCode/QuoteVerificationSample from the https://github.com/intel/SGXDataCenterAttestationPrimitives repo?

Thanks

[2021-04-20 14:18] LuminousXLB commented on #3885
Thanks, @qiucwang , @fchinchilla  and @MWShan

The latest log also has a [txt version](https://www.taraxacum.ink/openenclave-docker/test-1.8-updated.txt)

## SGX software and firmware info

### Host

<details>

<summary> `dmesg` </summary>

[code]

</details>

<details>

<summary> `dpkg -l | grep sgx` </summary>

[code]

</details>

<details>

<summary> `dmidecode` </summary>

[code]

</details>

[2021-04-20 16:54] mingweishih commented on #3953
@dthaler's idea sounds like an easy fix. I can make a quick PR for that if needed.

[2021-04-20 18:01] BRMcLaren commented on #3942
@specio @MWShan this was assigned to me, however, the above conversation seems to point @specio owning this. Can I reassign or have I misread the situation?

[2021-04-20 18:11] MWShan commented on #3942
@BRMcLaren - I think that the source of the issue is that a test pipeline running on a platform which is running legacy launch (using the legacy out-of-tree driver) cannot support the child process tests.  Thus, these tests should not be run in that pipeline.  Whomever owns configuring the tests for the pipeline to execute should be assigned this issue (maybe that is @specio?)

[2021-04-20 18:18] BRMcLaren commented on #3942
@MWShan Thanks for the clarification. Reassigning to @specio

[2021-04-20 20:58] fchinchilla commented on #3885
Thanks.

Per https://download.01.org/intel-sgx/sgx-dcap/1.10/linux/docs/Intel_SGX_ECDSA_QuoteLibReference_DCAP_API.pdf , a003 means SGX_QL_QV_RESULT_OUT_OF_DATE_CONFIG_NEEDED (page 32 of the PDF, labeled page 30 of the doc, and table B.1)

SGX_QL_QV_RESULT_OUT_OF_DATE_CONFIG_NEEDED 0xa003

"SGX_QL_QV_RESULT_OUT_OF_DATE_CONFIG_NEEDED - The SGX platform firmware
and SW are not at the latest security

[2021-04-21 01:20] LuminousXLB commented on #3885
Thanks, @fchinchilla

But I don't have a newer BIOS available.
As you can see from [here](https://www.asus.com/Networking-IoT-Servers/Servers/Rack-Servers/RS300-E10-PS4/HelpDesk_BIOS/) and the BIOS information above, I've already got the latest BIOS version 4001.

[2021-04-21 07:11] #3843 closed

[2021-04-21 17:47] shnwc commented on #3896
Will be for V0.17

[2021-04-22 05:39] yentsanglee opened #3969 "Add attestation evidence verification errors and claims for cases that need SW hardening and HW config"
SGX quote verification returns these TCB status:

- UpToDate
- SWHardeningNeeded
- ConfigurationNeeded
- ConfigurationAndSWHardeningNeeded
- OutOfDate
- OutOfDateConfigurationNeeded
- Revoked

However, OE evidence verification returns OE_OK for success case and OE_TCB_LEVEL_INVALID for the above error cases.

Ask:

1. For `oe_verify_evidence` to return more granular (non-SGX specific) errors to co

[2021-04-22 05:45] yentsanglee commented on #3885
Issue #3969 has been added for better error report regarding SW hardening and HW config needed.

[2021-04-22 07:42] LuminousXLB opened #3970 "Merge the two enclaves in attestation sample"
https://github.com/openenclave/openenclave/tree/master/samples/attestation

The two enclaves are essentially the same.
Can we merge the two code bases into one and add some arguments when compiling.

[2021-04-22 07:47] #3970 closed

[2021-04-22 17:47] #3953 closed

[2021-04-22 19:01] yentsanglee commented on #3969
Today `oe_verify_evidence` returns OE_OK for TCB status "UpToDate" and "SWHardeningNeeded". This logic has to be preserved to ensure backward compatibility.

[2021-04-22 19:18] dthaler commented on #3969
We don't need to ensure backward compatibility with apis marked as experimental.  However, OE_OK is the right return value for UpToDate and SWHardeningNeeded (and the other ones).

[2021-04-22 19:39] fchinchilla commented on #3885
H @LuminousXLB

The only recommendation I can provide is to work with your OEM and inquire if it can provide an updated BIOS with the latest microcode with the required fixes implemented.

This article has some guidance for uCode and BIOS updates  https://www.intel.com/content/www/us/en/support/articles/000057653/software/intel-security-products.html under the "How to Fix" subsection.

Thanks

[2021-04-23 17:00] mingweishih commented on #3957
Added the good first issue label. Welcome for a PR to fix this :)

[2021-04-26 04:41] LuminousXLB commented on #3885
Hi @fchinchilla ,

I've created an inquiry on the ASUS website, and it takes some time to follow up. I'll update here once I solve (or cannot solve) the issue.

Thanks

[2021-04-26 21:58] mingweishih commented on #3552
Deep-copy for out parameters are supported now. closing the issue.

[2021-04-26 21:58] #3552 closed

[2021-04-27 01:53] mingweishih opened #3980 "gen_pubkey_header.sh is not thread-safe"
When building the OE SDK with multi-threading, the content of `oecert_enc_pubkey.h` generated by the `gen_pubkey_header.sh` could be out-of-order, which is due to that the gen_pubkey_header.sh uses multiple read/write operations that may not be thread-safe.

Steps for reproduce:
build the SDK with `make -j8` (may require a couple of retries)

An example of wrong output:
[code]

Expected output:
[c

[2021-04-27 17:11] radhikaj commented on #3807
We are waiting for the next LTS release - 3.0.0

For mbedtls, we take the latest LTS version, which is 2.16.9 . That has their latest bug fixes as mbedtls maintains fixes for 2.7 LTS, 2.16 LTS and 2.x. We do not take their dev head version (2.26.0) with breaking changes. Their next LTS version is looking to be 3.0.0, which was supposed to be Q3 of 2020 but has slipped out to sometime in 2021.

[2021-04-27 17:27] radhikaj commented on #3064
@anakrish, was there a pull request submitted to glibc?

[2021-04-27 17:32] radhikaj commented on #589
@MWShan : The direction for this is to cgroups. Kernel owns the EPC and needs an interface to expose this information.

[2021-04-27 17:34] #3532 closed

[2021-04-27 17:38] mingweishih commented on #589
Related to #3002

[2021-04-28 03:52] #2476 closed

[2021-04-28 16:57] praenubilus opened #3982 "v0.15 introduce naming conflicts in Generated Marshaling Code which will fail the application code compile"
The definition in EDL
[code]
The snippet in generated marshaling code `my_method_t.c`

[code]
`oe_result_t result` and `int* result` conflict with each other.

[2021-04-28 17:14] mingweishih commented on #3982
Yes, we used to declare
`oe_result_t _result;`
Was changed to `result` to conform the [OE naming convention]( https://github.com/openenclave/openenclave/blob/master/docs/Community/DevelopmentGuide.md#naming-conventions).

To solve this, we can add a prefix to the variable (e.g., `oe_result`)

[2021-04-28 17:50] octaviansima opened #3983 "Include libcxxrt headers in installation"
We are attempting to use OpenEnclave with a project that requires including the cxxabi.h header. This can be found in the source code [here](https://github.com/openenclave/openenclave/blob/master/3rdparty/libcxxrt/libcxxrt/src/cxxabi.h), but it is currently not being provided in the installation. Is it possible to include this file (and probably the rest of the headers in libcxxrt) in `/opt/openen

[2021-04-28 22:01] RRathna commented on #3933
All subtasks completed.  Need to update the change log after CI verification.

[2021-04-28 22:01] #3933 closed

[2021-04-28 22:25] #3539 closed

[2021-04-28 22:28] #3555 closed

[2021-04-28 22:28] #3271 closed

[2021-04-28 22:29] radhikaj commented on #3001
we currently use clang-8 and are moving to clang-10.

[2021-04-28 22:29] #3001 closed

[2021-04-30 11:30] bodzhang opened #3988 "Using oe_get_report_v2() to query whether the Enclave is running in debug mode causes SGX remote attestation related dependency checks"
The `oe_get_report_v2(flag=0,...) ` call, which does not specify any remote attestation related request, triggers remote attestation related flow. In an environment missing libsgx_quote_ex, the following error is encountered:

2021-04-23T16:32:15+0000.587941Z [(H)ERROR] tid(0x7fbc6363ac00) | _load_quote_ex_library_once() sgx_get_supported_att_key_id_num() status=16385 num=0
[/home/azureuser/mystik

[2021-04-30 14:36] dthaler opened #3989 "Inherently SGX-specific tests should be under an SGX subdirectory"
Currently all tests are directly under the `tests` directory, and have names that don't say whether they're inherently SGX-specific (like `config_id`) vs intended to be TEE-agnostic (even if the currently implementation hasn't be fixed to be).

We've already made the `host` and 'enclave' directories separate them by putting `sgx` etc. as subdirectories for TEE-specific code, but that hasn't been d

[2021-05-01 00:23] yentsanglee commented on #2898
Still more work to do.

[2021-05-03 00:00] yentsanglee commented on #3988
Regardless of flag, oe_get_report_v2() initializes attesters which enumerates all built-in types including remote formats. (Search for `oe_sgx_get_supported_attester_format_ids`).

One possible fix is to ignore the missing libsgx_quote_ex error and come back with local attestation support only (search for `_get_attester_plugins`).

[2021-05-03 06:19] yentsanglee commented on #3937
Resolved by PR 3949

[2021-05-03 06:19] #3937 closed

[2021-05-03 06:36] yentsanglee opened #3992 "Add oe_verify_attestation_certificate_with_evidence_v2 to host verify"
`oe_verify_attestation_certificate_with_evidence_v2` was recently added (#3856). It needs to be added to host_verify package too.

[2021-05-03 16:26] dthaler commented on #3988
Can we just deprecate this API in favor of `oe_get_evidence()`?

[2021-05-03 18:06] radhikaj commented on #3983
libxxrt is not exposed publicly typically. We dont publish the libxxrt lib either.
What is the use case for this?

[2021-05-03 18:10] radhikaj commented on #3988
@bodzhang, do you want to determine if the enclave is in debug mode from inside the enclave or in the host?

[2021-05-03 18:14] radhikaj commented on #3989
@anakrish Can you please decide is baklog is an appropriate milestone for this?

[2021-05-03 18:16] radhikaj commented on #3992
@radhikaj to move this to SIG-Release.

[2021-05-04 17:43] dthaler opened #3996 "When can we declare v1.0?"
https://github.com/openenclave/openenclave/blob/master/docs/Community/Releasing.md says we follow semver which says:

https://github.com/openenclave/openenclave/blob/master/docs/ApiGuidelines.md says:

What is needed before declaring version 1.0?

[2021-05-04 17:48] TylerLeonhardt opened #3997 "Support Workspace Trust"
Hello :wave:  I'm from the VS Code team.

Recently, we have been exploring a security feature we refer to as *Workspace Trust*. This feature is intended to centralize and unify a security conscious decision required by a variety of VS Code features. With workspace trust, the user will be able to declare whether or not they trust the folder that is opened in VS Code before these features are execut

[2021-05-04 22:28] mingweishih opened #3998 "Enforce the OE-style guidance in the legacy code"
Some of OE legacy code does not follow the OE naming guidance:   https://github.com/openenclave/openenclave/blob/master/docs/Community/DevelopmentGuide.md#naming-conventions.
Some of examples include
- https://github.com/openenclave/openenclave/blob/master/include/openenclave/bits/sgx/sgxproperties.h#L112
  - Should use lower_snake_case for arguments
- https://github.com/openenclave/openenclave/bl

[2021-05-05 01:51] qiucwang commented on #3988
Hi @bodzhang, missing libsgx_quote_ex will generate error messages but shouldn't terminate the `oe_get_report_v2()`. The attester_plugins will load `sgx_local_uuid` in any case. I just run and passed `ctest/report/test_local_report()` which calls  `oe_get_report_v2(flags=0)` with `SGX_AESM_ADDR` set and without `libsgx_quote_ex`.
Could you share more context and complete logging?
`sgx_get_qetarget

[2021-05-06 09:05] zhaoxuyang13 opened #3999 "Incorrect selection of kernel headers: expected 4.19.x, got 4.20.x"
I was trying to use OE on QEMU
i start a ubuntu18.04 docker , install dependencies and follow the steps on this [page](https://github.com/openenclave/openenclave/blob/cd72fd7069488ba6f453c8f5f47bd9fd9a6e6c0d/docs/GettingStartedDocs/OP-TEE/Debugging/QEMU.md)
however when i perform `$ make run` ( in buidling phase after make toolchains),
I got an error, Incorrect selection of kernel headers: expecte

[2021-05-06 18:07] RRathna commented on #3959
Verified that stepping into oe_create_enclave() brings up assembly instruction. @mingweishih @radhikaj

[2021-05-06 21:45] yentsanglee commented on #3902
Ideally, all OE_PLATFORM_ERROR error from attestation APIs should report a human readable log (search for `get_quote3_error_t_string`). Error log like this below example needs to be improved:
[code]

[2021-05-07 00:15] #3980 closed

[2021-05-07 21:37] yentsanglee opened #4003 "Support Azure DCAP 1.9"
OE script installs Azure DCAP NuGet package 1.6.0 which is almost a year old. Version [1.9.0](https://www.nuget.org/packages/Microsoft.Azure.DCAP/1.9.0) was recently released and it includes Icelake support. OE should consider moving to Azure DCAP 1.9.0.

Note - Azure DCAP 1.9.0 package for Linux is not available yet.

[2021-05-10 04:37] DylanWangWQF opened #4005 "Question: File Encryptor, encrypt the data with other encryption methods and then send it to the enclave"
Question 1:
I have checked the [APIs and Libs](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/APIs_and_Libs.md), `fstream` is not supported inside the enclave in the latest version.
Can we send a `JSON` object to the enclave? [(json.hpp)](https://github.com/nlohmann/json/blob/develop/include/nlohmann/json.hpp)

Question 2:
Can we encrypt the data with other encrypti

[2021-05-10 18:02] #3983 closed

[2021-05-10 18:10] radhikaj commented on #4003
Linux package will be available on the 25th of May 2021.

[2021-05-10 18:14] radhikaj commented on #4005
fstream is not supported as of now. @radhikaj to file an issue for question 1.
Answers to both questions is yes.
Q2 You would write edl and pass in data using buffers/string.

[2021-05-10 18:17] radhikaj opened #4006 "Feature request: Support fstream inside an enclave"
Opening as a follow up to issue #4005 where the developer made a request to use fstream.

[2021-05-10 18:18] #4005 closed

[2021-05-11 06:28] yentsanglee opened #4009 "Incompatible OpenSSL DLL"
Multiple OpenSSL DLLs exist in the system:

1. C:\oe_prereqs\OpenSSL\x64\debug\bin\libcrypto-1_1-x64.dll
2. C:\oe_prereqs\OpenSSL\x64\release\bin\libcrypto-1_1-x64.dll
3. C:\Program Files\Git\mingw64\bin\libcrypto-1_1-x64.dll
4. C:\Program Files\Git\mingw64\libexec\git-core\libcrypto-1_1-x64.dll

The one in `C:\Program Files\Git\mingw64\bin` is set higher in %PATH% but it is not compatible with th

[2021-05-12 17:50] ryanhsu19 opened #4012 "Rename oecert tool"
Since `oecert` is used to generate not only certificates but also reports and evidence in different formats, and we have another tool `oeverify` for verifying evidence, we would like to propose a new name for it, e.g., `oegen`. See the discussion in [PR 4008](https://github.com/openenclave/openenclave/pull/4008#issuecomment-839927526).

[2021-05-13 17:59] radhikaj opened #4016 "RHEL 8.3 Deprecation"
RHEL 8.3 creates a maintenance overhead for the OE project. It currently exists as an experimental feature and no packages are released for it.
It often has older versions of compilers and tools which prevent us from moving to the latest. One example of this is clang-11 is available on Ubuntu but not on RHEL 8.3 which is what we use in CI.
If the community is not using RHEL 8.3, we would like to d

[2021-05-13 18:16] radhikaj commented on #4009
@yentsanglee If you remove C:\oe_prereqs\OpenSSL\ from the path, do you still hit issues?

[2021-05-13 19:35] yentsanglee commented on #4009
`C:\oe_prereqs\OpenSSL\` is not in the PATH but `C:\oe_prereqs\OpenSSL\bin` is. However, `C:\oe_prereqs\OpenSSL\bin` folder does not exist so removing it does not change anything.

[2021-05-13 22:02] mingweishih commented on #4012
Can we do this as part of v0.16 release?

cc @radhikaj  @yentsanglee

[2021-05-14 17:18] thomasten opened #4021 "tests/debug-(un)signed fails on non-FLC"
[code]

I think this is because OE_ENCLAVE_FLAG_DEBUG_AUTO is not considered here:
https://github.com/openenclave/openenclave/blob/b7d6737857e4a53e8ba8b2423eb46e82bd57600e/host/sgx/sgxload.c#L126-L142

[2021-05-15 00:03] #4012 closed

[2021-05-17 15:20] specio opened #4024 "oe_get_report returns 512 x (0xFF)"
Hi,
I'm trying to get SGX quote(report) from an enclave.

[code]
Enclave is created with:

[code]

Getting pub_key works fine:
[code]
I'm using own attestation based on raw sgx quote, so I'd prefer to get that report, rather than moving to get_evidence API.
This code is 2yo and was based on remote_attestation sample. Sample switched to get_evidence, but i guess oe_get_report is still supported.
Th

[2021-05-17 18:13] yentsanglee commented on #4009
The workaround is to remove these folders from PATH
1. C:\Program Files\Git\mingw64\bin
2. C:\Program Files\Git\mingw64\libexec\git-core

and add one of these folders to PATH
1. C:\oe_prereqs\OpenSSL\x64\release\bin\
2. C:\oe_prereqs\OpenSSL\x64\debug\bin\

[2021-05-17 18:14] yentsanglee commented on #4009
One of my question - these DLLs are all version 1.1. Why are they not compatible?

[2021-05-17 18:30] BRMcLaren commented on #4009
When I did this, I was not able to build the SDK. It is a workaround to using binary. Were you able to build the SDK with the path changes?

[2021-05-17 19:06] BRMcLaren commented on #4009
@yentsanglee That's a good point. I took a look into C:\Program Files\Git\mingw64\bin\libcrypto-1_1-x64.dll, seems to be version 1.1.1g. Whereas the version we are using of open SSL has 1.1.1-dev of libcrypto-1_1-x64.dll

[2021-05-17 19:14] qiucwang commented on #4024
Hi @specio ,

Could you share more context of the issue. Looks like you were calling `oe_get_report()` from the enclave side and it succeeded (oe_result_t = 0 and report size = 4600) but the report was not written to the buffer?

[Here](https://github.com/openenclave/openenclave/blob/master/include/openenclave/enclave.h#L296) is API header, could you try to pass `quote` instead of `*quote`? If tha

[2021-05-17 19:32] yentsanglee commented on #4024
@specio `oe_get_report()` internally allocates memory for the report. Please refer to SDK document [oe_get_report_v2](https://openenclave.io/apidocs/v0.15/enclave_8h_aefcb89c91a9078d595e255bd7901ac71.html) and [oe_free_report](https://openenclave.io/apidocs/v0.15/enclave_8h_acd119f88c4005f9c130f6f78b9ae43e0.html#acd119f88c4005f9c130f6f78b9ae43e0).

[2021-05-17 20:49] RRathna opened #4026 "Meta-issue: Implement SGX 0-base enclaves for linux"
To implement 0-base enclave creation in OE SDK, the following are required:

- [x] Add required fields/variables to enable 0-base enclave creation.  (#4083)
- [x] Enable 0-base enclave creation through oesign config file and command line options. Add corresponding tests. (#4083, #4144)
- [x] Update documentation to reflect above feature addition. (#4115)
- [x] Add relevant tests (#4162)
- [x] Add

[2021-05-18 17:08] dthaler opened #4027 "oegenerate doesn't generate open enclaves"
The name "oegenerate" is misleading since it does not in fact generate open enclaves.
To have a good developer experience, rather than an confusing one, the naming is important.
If the tool does things specific to attestation, then it needs a name specific to attestation, not one that implies it generates projects.    oeedger8r generates stubs from IDL, and the VS and VS Code extensions generate p

[2021-05-18 17:09] dthaler commented on #4027
This issue is a regression in a sense, caused by PR #4008

[2021-05-18 17:10] mingweishih commented on #4027
cc @yentsanglee @ryanhsu19 @qiucwang

[2021-05-18 17:22] LuminousXLB opened #4028 "Memory leak in helloworld example found by ASAN"
## Environment

- Open Enclave v0.15.0
- clang version 8.0.0-3~ubuntu18.04.2

## What I did

Append the following rules to `host/CMakeLists.txt`

[code]

Build and Run

[code]

[2021-05-18 19:06] specio commented on #4024
Sample from version 10.x was very helpful, it worked.
Thanks.

[2021-05-18 19:06] #4024 closed

[2021-05-18 19:55] yentsanglee commented on #4027
This tool generates attestation evidence in the format of SGX ECDSA, legacy remote report, and certificate. Considering other similar tools are named as "oe(verb)", I'd suggest we follow the same naming convention.

@dthaler Any suggestion?

[2021-05-18 20:10] dthaler commented on #4027
We have "oesgx" and sgx is not a verb, and "oeedger8r", and edger8r is not a verb.

We have "oesign" which signs an enclave, and "oeverify" which verifies an enclave in a sense, so "oe(verb)" is only ok for intransitive verbs, or transitive verbs where "enclave" is the direct object, and since "enclave" is not the object here I don't think that convention is appropriate here regardless of the verb

[2021-05-18 23:59] yentsanglee commented on #4027
The output of "oegenerate" can be the input of "oeverify". It will be great if the name implies the two tools are provided as a pair.

[2021-05-19 02:02] douglasmaciver opened #4030 "Documentation: Open Enclave lacks structured Getting Started guidance"
### Problem
From the project's root [README.md](../blob/master/README.md) there is a link to [Getting Started Docs](../blob/master/docs/GettingStartedDocs/README.md).  But once there, the reader is not given much help with how to develop Open Enclave applications. There are many markdown files in the folder, but they lack guiding structure. For example, there are instructions for [Edger8r](docs/Ge

[2021-05-19 02:18] douglasmaciver opened #4031 "Documentation: Open Enclave lacks structured Security Best Practices guidance"
### Problem
(This issue is related to #4030.)

While Open Enclave's documentation contains some **Security Best Practices** guidance, it is scattered throughout the existing material. Furthermore, there is a lack of guidance for some crucial topics, like how to securely handle application secrets within an Open Enclave application.

### Recommendation
Add new content and structure for the existing

[2021-05-19 21:00] dthaler opened #4033 "TCB level, aka version, should be exposed as a claim"
PR #4014 was discussed in the SIG-Attestation meeting and it was pointed out that TCB level is not currently exposed as a claim.   The EAT specifications add a standard version claim that was seen as being the same concept (currently in https://datatracker.ietf.org/doc/draft-birkholz-rats-suit-claims/ section 3.1.8, but expected to be merged into https://datatracker.ietf.org/doc/draft-ietf-rats-ea

[2021-05-20 02:00] hyunsooda opened #4035 "Question about EPC memory usage"
In a limited SGX environment(<= 128MB), we sometimes want to query the EPC memory usage periodically and in real-time(like ```htop```).
For example, application A has many threads and a series of workloads with limited memory(<= 128MB). we want to know which combination has typically maximized performance as well as the point, where saturation raises.
So, is there a method to query EPC memory(or o

[2021-05-20 05:42] anakrish commented on #4028
@mrragava @mingweishih  Does ASAN work out of the box with OE enclaves?

[2021-05-20 06:05] anakrish commented on #4035
@bodzhang

[2021-05-20 14:04] bodzhang commented on #4035
As I understand, neither Intel's DCAP SGX driver, nor the Linux kernel 5.11 native SGX support provides any interface to query application's EPC usage statistics or EPC paging status. I think cgroup is the right way to manage EPC usage and expose certain system level statistics. In the ongoing Linux Kernel Mailing List discussion on SGX virtualization support, cgroup topic was [brought up](https:/

[2021-05-20 18:08] mrragava commented on #4028
No, ASAN is not compatible with enclave binaries. This is reported on host binary anyway.

[2021-05-21 04:56] hyunsooda commented on #4035
I get it. Thank you

[2021-05-21 04:56] #4035 closed

[2021-05-21 18:16] praenubilus commented on #3982
Just checked today, the fix https://github.com/openenclave/oeedger8r-cpp/pull/78 has not been included in the v0.16 release. Is it correct @radhikaj ?

[2021-05-21 18:44] mingweishih commented on #3982
@manojrupireddy can you update the oeedger8r submodule?

[2021-05-21 18:49] manojrupireddy commented on #3982
Yes Ming-wei I will do it.

[2021-05-23 05:08] rs-- commented on #3982
@manojrupireddy is this resolved by #4044 ?

[2021-05-23 05:43] manojrupireddy commented on #3982
@rs--  yes

[2021-05-23 05:45] #3982 closed

[2021-05-24 06:02] yentsanglee commented on #4033
The TCB level will be presented as an enum as suggested in PR #4014. We already have a claim for "security_version" which in SGX represents enclave software version.

Version will not change over time but TCB level will. For example, evidence of security version 3 today is considered at "up-to-date" TCB level. In a year, it will still be version 3 but may be at "out-of-date" TCB level.

[2021-05-24 16:40] dthaler commented on #4033
This issue tracks what goes in evidence, not endorsements.  I don't see how in a year the fact that the TCB is "out of date" can be reliably known by the attester.  So maybe TCB level doesn't belong in evidence at all?  Or maybe there's something I don't understand.

[2021-05-24 18:11] radhikaj commented on #4027
Please address this in v0.17.0.

[2021-05-24 18:18] yentsanglee commented on #4033
In SGX, there is a "CPUSVN" which represents firmware security version and a "PCESVN" which represents SGX software version. Both belong in evidence. If needed, we can expose them as claims.

TCB level is a claim given by verifier after validation. It does not belong in evidence.

[2021-05-24 18:26] dthaler commented on #4033
Ok so let's talk about three categories of claims:
1) Claims that appear in Evidence (CPUSVN, PCESVN)
2) Claims that appear in Endorsements (e.g., TCB Date ?)
3) Claims that appear in Attestation Results (e.g., TCB Level)

oe_verify_evidence could potentially return _all three types_, since it does some validation internally (thus the plugin can compute TCB Level if I understand Yen's answer?), bu

[2021-05-25 15:05] achamayou opened #4048 "Samples still use deprecated oe_verify_attestation_certificate_with_evidence(), do not illustrate use of oe_verify_attestation_certificate_with_evidence_v2()"
From https://github.com/openenclave/openenclave/releases/tag/v0.16.0 release notes:

The sample under https://github.com/openenclave/openenclave/tree/master/tests/attestation_plugin_cert claims:

But it is still calling the old API on both the enclave (https://github.com/openenclave/openenclave/blob/master/tests/attestation_plugin_cert/enc/enc.cpp#L201) and the host side (https://github.com/openen

[2021-05-25 21:47] radhikaj commented on #3078
@davidchisnall , can we close this issue? Is there still a need for this API for your scenario?

[2021-05-25 21:48] radhikaj commented on #3597
Issue Tracked by PR #3697 in SIG-Arch

[2021-05-26 16:31] radhikaj commented on #4048
Thanks for the suggestions @achamayou . @yentsanglee, can we add some information to the changelog for #1 and #2 suggested above?

[2021-05-31 12:02] mrragava opened #4056 "OE-Fuzzing: Crash detected in /host/sgx/loadelf.c"
==5173==ERROR: AddressSanitizer: SEGV on unknown address 0x7f3c74abf1f0 (pc 0x0000006fc3b5 bp 0x7fffcf8885d0 sp 0x7fffcf8883c0 T0)
==5173==The signal is caused by a WRITE memory access.
    #0 0x6fc3b4 in _set_uint64_t_dynamic_symbol_value /openenclave/host/sgx/loadelf.c:724:5
    #1 0x6f2cad in _patch_elf_image /openenclave/host/sgx/loadelf.c:928:5
    #2 0x6ae3e4 in _patch /openenclave/host/sgx/

[2021-05-31 12:09] mrragava commented on #4056
[_patch_elf_image.zip](https://github.com/openenclave/openenclave/files/6570140/_patch_elf_image.zip)
Extract the archive and execute run.sh to reproduce the crash.

[2021-06-01 02:51] mrragava opened #4058 "OE-Fuzzing: AddressSanitizer detected "allocation-size-too-big" scenario"
=================================================================
==25110==ERROR: AddressSanitizer: requested allocation size 0x457f0000002cd000 (0x457f0000002cf000 after adjustments for alignment, red zones etc.) exceeds maximum supported size of 0x10000000000 (thread T0)
    #0 0x54ede5 in memalign /oe-llvm/compiler-rt/lib/asan/asan_malloc_linux.cc:171:3
    #1 0x627580 in oe_memalign /openencla

[2021-06-01 02:51] mrragava commented on #4058
[allocation-size-too-big.zip](https://github.com/openenclave/openenclave/files/6573041/allocation-size-too-big.zip)

[2021-06-01 09:36] DylanWangWQF commented on #3885
Hi, @qiucwang  I noticed that you recently updated the returned information about `OE_TCB_LEVEL_INVALID`, in issue #4014.

This time I already updated the latest BIOS version and still hit the same issue in the test. No additional error information returned with `OE_TCB_LEVEL_INVALID`.

[code]
Part of the error log:

[LastTest.log](https://github.com/openenclave/openenclave/files/6575155/LastTest.

[2021-06-01 16:26] douglasmaciver commented on #4056
While we focus on the obvious importance of Enclave security, we must not forget that host-side component security is important to the host's well-being --- we don't want a host app built with the Open Enclave SDK to be a threat vector against the host.

I took a quick look at the code and my guess is that the fault is caused by insufficient integer overflow detection and assert-based bounds-check

[2021-06-01 16:39] douglasmaciver commented on #4030
@radhikaj Hi Radhika, Is there a near-term plan to improve overall Open Enclave documentation structure? As I work on Security Best Practices, I want to ensure the new content blends well with SDK-wide documentation plans.

[2021-06-01 16:50] radhikaj commented on #3959
Fixed by #4052

[2021-06-01 16:50] #3959 closed

[2021-06-01 19:16] qiucwang commented on #3885
@DylanWangWQF #4014 is to fix `oe_verify_evidence()` and I found the attestation plugin ctest (#79 and #80) succeeded so looks like the fix work. While the TCB status is not displayed properly and I will work out a quick fix for it:
`2021-06-01T21:27:11+1200.004051Z [(H)ERROR] tid(0x7fceef338b80) | oe_verify_evidence result: OE_TCB_LEVEL_INVALID. TCB Status: 
 [/home/dylan/openenclave/tests/attes

[2021-06-01 20:00] #3923 closed

[2021-06-01 22:00] yentsanglee commented on #4048
@ryanhsu19 can you please add info to change as suggested by @radhikaj.

[2021-06-01 22:08] DylanWangWQF commented on #3885
@qiucwang Thanks for your help! So, currently, only the attestation tests failed, it does not affect the running of other examples (e.g, switchless, etc.) ?

[2021-06-01 22:19] qiucwang commented on #3885
Attestation plugin ctest (#79 and #80) would succeed not matter your TCB status.
Any application that calls the legacy `oe_verify_report()` or `oe_verify_attestation_certificate()` would fail due to an invalid TCB status. If users hope verification not to terminate due to the invalid TCB status, they can replace `oe_verify_report()` with `oe_verify_evidence()`, and replace `oe_verify_attestation_c

[2021-06-02 08:17] #3942 closed

[2021-06-02 08:17] specio commented on #3942
Fixed

[2021-06-02 13:45] hyunsooda opened #4062 "Different MRENCLAVEs even the same source code."
Hi all,

The following two dumps are from the HelloWorld example using ```oesign dump -e``` in _**between two machines**_.

From machine 1:
[code]

From machine 2:
[code]

Two MRENCLAVE should be the same ideally if the compiled code is the same including the build configuration.
As far as I know, two MRENCLAVEs should be the same since the fused hardware key is not involved in hashing the MRENCLA

[2021-06-02 16:31] anakrish commented on #4062
Could it be that the build tools are different between the two machines?

[2021-06-02 17:38] yentsanglee commented on #3969
Resolved by #4014

[2021-06-02 17:38] #3969 closed

[2021-06-02 17:55] yentsanglee commented on #4033
Discussed in [SIG Attestation meeting](https://hackmd.io/Xj6GpDSKSwuz5cZgQ0yg1A#02-June-2021-1000-AM-PDT).

One option is to add category field to claim struct. I.e.
[code]
Also group claims in the array by category and sort categories by layer or signing chain.

[2021-06-03 03:01] blukat29 opened #4065 "Using libc functions from loaded submodule"
I've been trying to load a library using the new [Module Loading Support](https://github.com/openenclave/openenclave/blob/v0.16.0/docs/DesignDocs/CryptoModuleLoadingSupport.md).

Some libc functions including `abort` and `memcpy` are available in the module, but others like `fprintf` and `fopen` are not. oesign would fail with symbol not found error. For instance, [this example](https://github.com

[2021-06-03 04:14] hyunsooda commented on #4062
Hi @anakrish,

I found the cause of the difference. Actually, I checked the source code of ```oesign``` to see if some hardware dependency is there, but it seems not to have some relation.

The compiled objects generated by the two machines were different from each other before signing the enclave image. The static libraries were actually different. Also, generated stub files from ```oeedger8r```

[2021-06-03 04:14] #4062 closed

[2021-06-03 06:08] lytofd opened #4066 "Error in verifying sample code"
OS: Ubuntu 18.04
STEP: After copy sample directory from /opt/openenclave/share/openenclave   to  ~,
enter directory  ~/openenclave/samples/helloworld, and execute   make build .
ERROR:
[code]
By the way, after execute make build,   l found that  clang-7 is not installed
[code]
so, l installed clang-7 and execute make build again,  then error message appeared as above.

[2021-06-03 07:15] lytofd commented on #4066
Ok, l've solve it ,  v0.6.0 does not work.
See https://github.com/Azure-Samples/microsoft-azure-attestation/issues/7

[2021-06-03 11:55] lytofd commented on #4066
l want to know if v0.7.x can verify  /sample/helloworld successfully, or l have missed some import  step?

[2021-06-03 17:06] anakrish commented on #4065
@blukat29 Thanks for your interest in Multi-Module Loading and also for suggesting two solutions.

We'd like to understand your use case more to see if we need to extend the current dynamic loading support:
- Do you intend to use more than 1 secondary module?
- Would your module use thread-local variables?

The current Multi-Module implementation does not support the above two scenarios.

[2021-06-03 17:31] radhikaj commented on #4066
@lytofd, can you use a later version of the SDK? Is there a reason you want to use v0.7.x? We are on v0.16.1 right now.

[2021-06-03 23:39] DylanWangWQF commented on #3885
After this update, I actually got the TCB status:
`2021-06-04T11:31:33+1200.485199Z [(H)ERROR] tid(0x7f81c7f78b80) | oe_verify_evidence result: OE_TCB_LEVEL_INVALID. TCB Status: ConfigurationAndSWHardeningNeeded`

Thanks, @qiucwang

[code]

[2021-06-04 00:49] lytofd commented on #4066
l want to use enclave-zmq, you can find it  in  github，it depends on  0.7.0.

[2021-06-04 06:02] blukat29 commented on #4065
Hi @anakrish,

I am using only one module.
The module worked after using my first solution.

The module in question is a proprietary crypto module which I cannot recompile or find source code.
The module is an ordinary linux library (*.so). Its only runtime dependency (found with `ldd`) is `libc.so` so I thought it should work inside OpenEnclave as well.

The problem was that the module uses a few

[2021-06-04 06:55] qiucwang commented on #3885
@DylanWangWQF Good to know that TCB status has been logged properly.
For `tls_e2e` testing, it failed due to `oe_verify_attestation_certificate()` cannot accept an invalid TCB status. If you need such function, you can use `oe_verify_attestation_certificate_with_evidence()` if invalid TCB status is acceptable to you.

[2021-06-04 07:14] lytofd commented on #4066
Also，l find that when l install v0.7.x  as follow:

https://github.com/openenclave/openenclave/blob/v0.7.x/docs/GettingStartedDocs/install_oe_sdk-Ubuntu_18.04.md

[code]
Os actually installed open_enclave 0.16.1, not 0.7.0
[code]
Thanks.

[2021-06-05 06:00] #4027 closed

[2021-06-07 05:26] yentsanglee commented on #2898
oeutil in tools folder.

[2021-06-07 05:26] #2898 closed

[2021-06-07 08:59] specio commented on #4021
Following tests started to fail recently on SGX non-FLC

[code]

I assume it will be fixed by resolving this issue, Am I right?

[2021-06-07 13:45] anakrish opened #4073 "Move SGX Linux debuggers (oegdb, oelldb) and ptrace library to separate repo"
yes I mean separate repo, so that it can be directly used by other projects besides OE, via a submodule.  This is an explicit ask from other CCC members.    CI costs can potentially ask for CCC support to cover if needed.

_Originally posted by @dthaler in https://github.com/openenclave/openenclave/issues/4064#issuecomment-855118640_

[2021-06-07 14:08] anakrish opened #4074 "Multi-Module loading should gracefully error out if the submodule uses thread local variables"
Currently multi-module loading errors out only if dynamic section is missing.
There are use-cases for using multi-module loading for loading custom crypto modules
https://github.com/openenclave/openenclave/issues/4065

Gracefully erroring out upon encountering unsupported constructs in secondary modules would help the user determine if their modules are compatible or not.

[2021-06-07 14:15] anakrish commented on #4065
@blukat29

Yes, currently your first solution is the right way to go.

Keep in mind that OE SDK uses MUSL as the C library. If the proprietary crypto module is linked against MUSL libc (e.g if it was built on Alpine Linux) then the module should work. If the proprietary crypto module is instead linked against glibc (e.g if it was built on Ubuntu, Fedora etc) then it may not be 100% binary compatib

[2021-06-07 18:05] radhikaj commented on #4048
@achamayou, we will update the sample for v0.18.

[2021-06-07 18:08] radhikaj commented on #4065
@anakrish Can you please present reasoning for solution #1, since the cons are high?

[2021-06-07 18:14] radhikaj commented on #4066
@lytofd Do you have a problem on v0.16?  Can you please follow steps to set up from v0.16.x?

[2021-06-08 01:40] ryanhsu19 commented on #4048
@radhikaj Since it is weird to add it to the changed section for v0.17 (because, technically, it is not a change), we will have to revise old changelogs for the first time (for v0.15 more specifically). What do you think? If it is fine, then we will proceed and open a PR for it.

[2021-06-08 06:33] thomasten commented on #4021
@specio Yes, if secs->flags will be set correctly for OE_ENCLAVE_FLAG_DEBUG_AUTO, the tests you mentioned should succeed.

[2021-06-08 07:58] lytofd commented on #4066
Thanks, l have no problem with v0.16, but l want use enclave-zmq, it is depended on v0.7.x, so l must install  openenclave v0.7.x.
l found that   apt install openenclave just  download the newest version of openenclave, so l downloaded   0.7.0  deb package from  url    ...prod/pool/main/o/open-enclave     manually and build successfully.
Question  resolved, l will close this issue.

[2021-06-08 07:59] #4066 closed

[2021-06-08 08:08] achamayou commented on #4048
@radhikaj thank you, having a reference sample will be very helpful.

[2021-06-08 10:16] blukat29 commented on #4065
@anakrish The module does not have .tdata nor .tbss section.

[2021-06-08 11:20] anakrish commented on #4065
Great! Then there are no thread-locals.

[2021-06-08 11:33] anakrish commented on #4065
@radhikaj @blukat29
Solution (1) is preferable since @blukat29 has a working version.

Solution (2) needs more investigation. Both C and C++ libraries need to be compiled with -fvisibility=default, exporting all the symbols. This might result in slightly larger enclaves since the compiler and linker may not be able for perform as much code optimization as they can currently do. Some projects, e.g

[2021-06-08 11:48] anakrish commented on #4065
I tried building OE with `-fvisibility=default`

There are a few linker errors that this brings out:
[code]

It would be worth investigating and fixing this.

[2021-06-09 13:26] superajun-wsj opened #4078 "a new way to create sgx enclave"
we could use `oe_create_enclave` to create a new enclave, it needs enclave.so file path as its argument. my question is there an other way to create an enclave by memory buffer, while not a file path. for example ,  we could use `sgx_create_enclave_from_buffer_ex` to create a new enclave by memory buffer.

[2021-06-10 14:23] eddyashton opened #4086 "Is it possible to extract `MRENCLAVE` from an invalid/expired quote?"
As far as I can tell, the only way to retrieve the `MRENCLAVE` from an SGX quote is to call `oe_verify_evidence` and examine the `OE_CLAIM_UNIQUE_ID` claim. However this full verification may fail for any number of reasons (in particular; on a quote which is syntactically correct, and was successfully validated in the past, but now has an expired CRL/validity period).

Is there an alternative API

[2021-06-10 15:27] hyunsooda opened #4087 "Configure OE SDK SGX on Linux in non-ACC Machines Document to be updated"
In the [Configure OE SDK SGX on Linux in non-ACC Machines document](https://github.com/openenclave/openenclave/blob/ec3ed7c3b933bff4b8ecdaf53c32ae97a30a9191/docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md), the default qpl library is used with v1.8, which does not currently work with Intel's TCB recovery policy as explained [here](https://www.intel.com/content/www/us/en

[2021-06-10 20:01] 0x161e-swei opened #4088 "Timeline for the release of the open-enclave package for ubuntu 20.04?"
The ubuntu 20.04 package link https://packages.microsoft.com/ubuntu/20.04/prod/ seems to be missing the open-enclave package. Any timeline of releasing this?

[2021-06-11 20:09] mingweishih commented on #1839
As deep-copy feature is supported by default now, closing this issue.

[2021-06-11 20:09] #1839 closed

[2021-06-14 18:02] dthaler commented on #4078
Recommend retitling to "ability to create enclave from a memory buffer instead of a file"

[2021-06-14 18:07] radhikaj commented on #4088
RCs should be available on June 21st.

[2021-06-14 18:08] radhikaj commented on #4088
Closing since the question is answered

[2021-06-14 18:08] #4088 closed

[2021-06-14 22:22] #3902 closed

[2021-06-16 17:31] dthaler commented on #4033
e.g. new "OE_CLAIM_NESTED_CLAIMSET" with
[code]

[2021-06-16 17:40] qiucwang commented on #3885
Hi @DylanWangWQF, feel free to reopen the issue if you have more questions. I will close it for now.

[2021-06-16 17:48] dthaler commented on #4086
A relevant proposal to the IETF is https://www.ietf.org/archive/id/draft-voit-rats-attestation-results-01.html#name-trustworthiness-claims
This is being discussed and might be accepted as an IETF work item.  Currently it's just one individual's proposal, but the discussion is relevant.

[2021-06-16 17:53] shnwc commented on #3988
The real need is to get enclave debug mode, without triggering remote attestation code. Yen will check with Radhika.

[2021-06-16 17:59] yentsanglee commented on #3988
@radhikaj Is there any API to query if the enclave is running in debug mode? If no, should one be created?

[2021-06-16 18:05] manojrupireddy commented on #4058
@mrragava The image size is deemed to be too big because of fuzzing the program headers of the elf file here https://github.com/openenclave/openenclave/blob/master/host/sgx/loadelf.c#L255. Not sure if we can add any checks around it to avoid this error. Any idea on who defines the maximum supported size for memalign. Is it OS/ musl library dependent?

[2021-06-16 18:19] #3885 closed

[2021-06-17 00:10] ryanleh opened #4099 "OpenEnclave deb package not available"
Just today I started getting the following error when attempting to `sudo apt install openenclave`:
[code]
It appears to be an issue with `packages.microsoft.com` but just wanted to bring this to people's attention in case it's actually something else.

[2021-06-17 02:51] CyanDevs commented on #4099
Hi @ryanleh thanks for bringing this up. We are aware of the repository issue and the relevant people are working to resolve the issue.

[2021-06-17 08:48] achamayou commented on #4086
@dthaler for context, the requirement comes from an existing service deployed by a user. They want to be able to audit historical quotes for enclaves in their service, and the fact that this particular element of policy is hardcoded by Open Enclave rather than user-defined is preventing them from doing it.

[2021-06-17 09:08] DylanWangWQF opened #4101 "Compiled error with 3rdparty/libcxx/cmath"
Hi, I'm linking the third libraries (NTL, helib) to the enclave, and these libraries use the header `#include <cmath>`.  But when I `make` the file, I hit the issue about  `no member named 'signbit' in the global namespace`. Detailed error information is shown blow:
[code]
The corresponding `CMakeLists.txt` is:
[code]
[code]

[2021-06-17 10:09] anakrish commented on #4101
@DylanWangWQF I remember running into similar compile errors when writing tests for apkman. There errors, IIRC, are due to incompatibilities between OE's libcxx and the system (Alpine's) libc headers. OE's libcxx is a bit out of date and needs to be updated.

Can you try this:
- Create a file test.cpp that includes helib.h
- Compile the file using apkman: `apkman exec clang++ -c -g test.cpp`. This

[2021-06-17 10:27] anakrish commented on #4101
Also see https://github.com/anakrish/apkman/issues/2#issuecomment-863118977

[2021-06-17 17:18] CyanDevs commented on #4099
Repository is functioning again, and apt can install open-enclave.

[2021-06-17 17:18] #4099 closed

[2021-06-17 17:27] yentsanglee commented on #4033
Today claim struct is:
[code]
From the field `value_size`, we know where the next claim starts in the buffer. In the proposed struct, similar concept applies. It seems fine. The only constraint is that there is only one sub module at each level. Also it's not as straight-forward to enumerate the entire claim set. May have to add helper functions to find/enumerate claims.

@dthaler Looking forward

[2021-06-17 17:42] yentsanglee commented on #4087
@hyunsooda Have you tried the new default QPL library? If you have more up-to-date instruction, feel free to submit a PR.

[2021-06-17 18:43] mrragava commented on #4058
Not a security issue.  Generally "allocation-size-too-big" is useful when allocation size is calculated from more than one source. In this scenario it is ELF image_size which does not makes sense to check against MAX_MEM. mmap/memalign will fail anyway.
@anakrish @mingweishih Is it worth checking against max enclave size or EPC size of the platform ? Would it be an overkill ?

[2021-06-17 19:17] ryanleh commented on #4099
Hi, apt is now working non-deterministically for this package in our CI. Sometimes it works fine as normal, sometimes the download from `packages.microsoft` takes upwards of 20 minutes, and sometimes it errors with `Connection Failed`. So I don't believe the issue is completely resolved?

[2021-06-18 14:05] anakrish commented on #4058
I don't think it is valuable to check against the EPC size in oe_memalign/oe_create_enclave since enclave creation would fail gracefully anyways in such a scenario with appropriate error codes returned by Intel's libsgx_enclave_common library.

[2021-06-18 14:37] manojrupireddy commented on #4058
can we close this issue then? I cannot think a specific check that we can add to prevent this.

[2021-06-18 16:00] hyunsooda commented on #4087
Hi @yentsanglee, I don't have 100% confidence in the exact instruction about it. I just received e-mail from official Intel that says:

After got this mail, I checked to see the response from IAS and the response was not considered as valid from the IAS (i.e., RA was failed). So, I updated ```libsgx-dcap-default-qpl```, ```libsgx-dcap-ql```, and ``` libsgx-dcap-ql-dev ``` to ```v1.10.103.1``` like

[2021-06-18 18:09] shnwc opened #4105 "API oe_verify_evidence() should return OE_OK for all non-terminal TCB status"
As requested in issue #3969 and implemented in PR #4014, currently `oe_verify_evidence()` returns OE_OK for TCB status "UpToDate" and "SWHardeningNeeded". We should build on this request, and have `oe_verify_evidence()` return OE_OK for all non-terminal TCB status cases. This allows the caller to further evaluate its trust decision.

Below is the list of SGX verification results, and whether one i

[2021-06-18 18:37] CyanDevs commented on #4099
@ryanleh There may have been some troublesome mirrors lingering yesterday. Could you confirm whether you are still experiencing the issue today?

[2021-06-18 19:03] ryanleh commented on #4099
It seems to be working now - albeit still a little slow occasionally but I'm assuming that's just due to some cold caches. Thank you!

[2021-06-19 02:40] mrragava commented on #4058
I agree we can close this issue.

[2021-06-19 03:36] anakrish commented on #4058
Closing based on discussion. Can be reopened if needed.

[2021-06-19 03:36] #4058 closed

[2021-06-19 18:24] #4021 closed

[2021-06-20 14:48] anakrish commented on #4101
@DylanWangWQF I'm closing this issue since you have a solution.

[2021-06-20 14:48] #4101 closed

[2021-06-21 04:31] yentsanglee commented on #4105
This will be a breaking change. If we decide to do so, I'd suggest we postpone until v1.0.

[2021-06-21 12:32] flothia opened #4107 "TLS Remote Attestation : OE_TCB_LEVEL_INVALID error + replace quote by report"
Hi,

Following the documentation to use remote attestation on non-ACC machines, and with an up to date BIOS and firmware, i encountered the following error during the execution of remote attestation sample (same for ctest of attestation_plugin) : OE_TCB_LEVEL_INVALID on OE V16 and OE_CRYPTO_ERROR on OE V17.
My two questions are :
   - do you have any advices to resolve this problem ?
   - how coul

[2021-06-21 18:11] CyanDevs commented on #4105
This can be implemented sooner without breaking existing functionality by introducing this as v2, e.g. `oe_verify_evidence_v2()`

[2021-06-21 18:20] yentsanglee commented on #4105
One thing to clarify - "SWHardeningNeeded" was treated as success long before "issue #3969 and PR #4014". It was changed because TCB Info no longer assigned any TCB level to "UpToDate".

[2021-06-21 18:42] qiucwang commented on #4107
Hi @flothia, could you attach the error log from OE V16 and V17. And we haven't released V17 yet so I guess you are using the v0.17.x branch?
For OE_CRYPTO_ERROR in V17, could you try the sample with pccs v1.8?

[2021-06-21 18:45] yentsanglee commented on #4105
I am concerned about returning OE_OK to all non-terminal conditions. Callers may overlook all other claims/facts and simply rely on the return value. It also forces callers to exam all claims even the evidence is perfectly up-to-date, because OE_OK actually means OE_MAYBE.

If we want to allow callers to further evaluate their trust decision, I suggest we define another error value for the non-ter

[2021-06-21 21:00] flothia commented on #4107
Hi @qiucwang,

The error logfrom V16 :

`Setting up the SSL configuration....
TLS server: Waiting for a client connection request...
./client/host/tls_client_host ./client/enc/tls_client_enc.signed -server:localhost -port:12341
server name = [localhost]
server port = [12341]
Host: Creating two enclaves
Host: Enclave library ./client/enc/tls_client_enc.signed
Host: Enclave successfully created.
Hos

[2021-06-21 21:44] flothia commented on #4107
The error log from ctest of attestation_plugin_cert :

`test 1
    Start 1: tests/attestation_plugin_cert_mbedtls

1: Test command: /opt/openenclave/build/tests/attestation_plugin_cert/host/tls_cert_host "/opt/openenclave/build/tests/attestation_plugin_cert/enc/tls_cert_mbedtls_enc"
1: Test timeout computed to be: 10000000
1: : /opt/openenclave/tests/attestation_plugin_cert/host/host.cpp(101): err

[2021-06-22 00:22] qiucwang commented on #4107
The TCB level status is `ConfigurationAndSWHardeningNeeded (cpu_svn[0] = 0x11, pce_svn = 0xb)`.
Based on the TCB info from intel:
[code]
Looks the the `sgxtcbcomp07svn` value might be lower than `6`. @MWShan @fchinchilla do you have any idea about what configuration is required to pump up this value? Thanks.

[2021-06-22 00:35] qiucwang commented on #4107
And were you able to pass the ctest of attestation_plugin (the regular attestation without TLS) with OE V17? `ctest -V -R attestation_plugin`.

[2021-06-22 09:38] superajun-wsj opened #4110 "g++ link error base on openenclave"
when I use g++ link some .a files to a .so, I encountered a problem:

 ECC_JNI.cpp:(.text.Java_sun_security_ec_ECDSASignature_signDigest+0x56): undefined reference to `operator new[](unsigned long)'
/usr/local/bin/ld: ECC_JNI.cpp:(.text.Java_sun_security_ec_ECDSASignature_signDigest+0x16a): undefined reference to `operator delete[](void*)'
/usr/local/bin/ld: ECC_JNI.cpp:(.text.Java_sun_security_ec

[2021-06-22 12:23] flothia commented on #4107
Error log from regular attestation :

`test 1
    Start 1: tests/attestation_plugin_mbedtls

1: Test command: /opt/openenclave/build/tests/attestation_plugin/host/plugin_host "/opt/openenclave/build/tests/attestation_plugin/enc/plugin_mbedtls_enc"
1: Test timeout computed to be: 10000000
1: ====== running run_runtime_test
1: ====== running test_runtime, enclave side
1: ====== running _test_and_reg

[2021-06-22 12:32] flothia commented on #4107
@qiucwang, is there a way to temporary workaround  these error by using local attestation binded to a tls certificate ? I tried to used oe_get_attestation_certificate_with_evidence_v2 with OE_FORMAT_UUID_SGX_LOCAL_ATTESTATION as format, but if i have well understood the implementation of oe_get_attestation_certificate_with_evidence_v2, it seems that the format is hardcoded with OE_FORMAT_UUID_LEGA

[2021-06-22 13:52] anakrish commented on #4110
@superajun-wsj

Couple of questions:
- By .so, are you trying to create an enclave or some other shared library?
- Are the .a files preexisting or did you compile them from source using the openenclave c++/c headers?

[2021-06-22 17:39] manojrupireddy opened #4112 "Incorrect macro OE_SET_ENCLAVE_SGX2 to set FamilyID /ExtendedProductID"
The macro mentioned in the document https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/buildandsign.md does not work correctly to set FamilyID or ExtendedProductId. Looks like root cause of the issue is that family_id and extened_product_id are arrays and arrays cannot be initialized through macros in straight forward way. For the release build purposes, developers can

[2021-06-22 18:45] qiucwang commented on #4107
@flothia , looks like attestation plugin test passed. So invalid tcb status should be the only issue. And got feedback from intel team:
In order to get to the SW Hardening Needed state (which is a valid tcb status to OE), the platform needs some additional configuration:
- internal gfx needs to be turned off
- voltage override needs to be locked.

[2021-06-22 19:12] qiucwang commented on #4107
For your workaround, I think it should work to get a tls certificate with `OE_FORMAT_UUID_SGX_LOCAL_ATTESTATION` format. User should be able to specify the evidence format with `oe_get_attestation_certificate_with_evidence_v2()`. The legacy API `oe_generate_attestation_certificate` only generate the `OE_FORMAT_UUID_LEGACY_REPORT_REMOTE` evidence.
And to make local attestation work between two encl

[2021-06-22 22:06] flothia commented on #4107
I will try the changes on my platform and i come back with the result as soon as possible.
Concerning the workaround, with  `oe_verifier_get_format_settings()`, i still have the error `OE_VERIFY_FAILED_AES_CMAC_MISMATCH`.
In your opinion, which step i failed (building of evidence or it verification ?)

[2021-06-22 22:49] qiucwang commented on #4107
The error shows the local attestation failed. But since you are using OE attester API, probably it failed on the verifier's target info. Could you check on retrieved target info size, or `format_settings_size`. That should be an SGX defined struct and have a fixed size of 512 bytes.
Please note host cannot visit enclave memory directly by pointer. The regular way to pass buffer out of enclave is t

[2021-06-23 01:30] superajun-wsj commented on #4110
1.  I am sorry, it's not a .so, it's a sgx enclave.
2. the .a file are preexisting.

[2021-06-23 02:41] anakrish commented on #4110
@superajun-wsj

The pre-existing archives have most likely been compiled against the platforms C++ library (generally GNU libc++) and hence they are not compatible with OE's C++ library which is based on LLVM C++ library.

There are few choices to proceed further
- Recompile the archive from source using OE SDK's C++ and C headers instead of the default GNU C/C++ headers.
- Use a lift-and-shift so

[2021-06-23 04:37] superajun-wsj opened #4113 "Load enclave failed in hardware mode"
I have compiled a enclave and run it in simulate mode is OK. But when I run it in hardware mode, an exception occured:

2021-06-23T11:58:04+0800.162544Z [(H)ERROR] tid(0x7fc1f1b1b700) | enclave_initialize failed (err=0x6) (oe_result_t=OE_PLATFORM_ERROR) [/source/openenclave/host/sgx/sgxload.c:oe_sgx_initialize_enclave:660]
2021-06-23T11:58:04+0800.162562Z [(H)ERROR] tid(0x7fc1f1b1b700) | :OE_PLATF

[2021-06-23 05:17] yentsanglee commented on #4087
Great. Thanks for checking and verifying. The document has been updated in #4036.

[2021-06-23 05:17] #4087 closed

[2021-06-23 08:49] superajun-wsj commented on #4110
is it possibly to use g++/gcc to build openenclave sdk while not clang(llvm) please??

[2021-06-23 09:55] anakrish commented on #4110
Yes, by specifying CC=gcc and CXX=g++ before invoking cmake, OpenEnclave SDK can be built using g++/gcc.

However, that will not still allow pre-existing libstdc++ based archives to be used with Open Enclave SDK. Open Enclave SDK uses llvm's libcxx as the enclave-side C++ library irrespective of which compiler is used.

You seem to using an archive related to Java. Therefore I'd recommend that you

[2021-06-23 10:53] anakrish commented on #4113
According to [Intel_SGX_Enclave_Common_Loader_API_Reference](https://download.01.org/intel-sgx/dcap-1.0.1/docs/Intel_SGX_Enclave_Common_Loader_API_Reference_DCAP_Linux_1.0.1.pdf),

[code]

What is the environment in which you are trying to run the enclave? Is it an ACC VM? Does the helloworld sample work in that environment?

[2021-06-23 11:05] superajun-wsj commented on #4113
it's not an ACC VM, it's ubuntu os and using intel processor which support sgx.

[2021-06-23 11:15] superajun-wsj commented on #4110
But it seems c program runs well based on openenclave from now on.

[2021-06-23 11:30] anakrish commented on #4113
@MWShan @fchinchilla Do you know why create_enclave would return ENCLAVE_NOT_AUTHORIZED ?

[2021-06-23 11:36] anakrish commented on #4110
OpenEnclave uses MUSL on the enclave-side. So if you use an archive that has been built against GLIBC, there could be obscure runtime errors. So long as the code does not use implementation defined structures, the archive has a higher chance of working even if it has been compiled against a different libc.

In case of C++, different standard C++ libraries are not binary compatible. Hence it is not

[2021-06-23 12:22] superajun-wsj commented on #4110
Got it now, Thank you very much for your professional comments.

[2021-06-23 13:02] fchinchilla commented on #4113
Hi @superajun-wsj

Are you using the driver that comes with the Ubuntu release or building your own? What is the full version of Ubuntu you are using?

[2021-06-23 13:11] superajun-wsj commented on #4113
Do you mean sgx driver? I use ubuntu18.04, and I build the sgx driver by myself.

[2021-06-23 16:37] haitaohuang commented on #4113
I assume you followed the [README](https://github.com/intel/SGXDataCenterAttestationPrimitives/tree/master/driver/linux) to install the udev rules, and grant your app permission for the provision node if your enclave require provisioning bit set in attributes. If not, please do so. Otherwise, please use strace tool to identify the failed system call during enclave load.

[2021-06-24 02:58] #4110 closed

[2021-06-24 05:59] superajun-wsj commented on #4113
I think udev rules should be ok, because openenclave samples work well in my environment. what's provisioning bit set please? I did find nothing in openenclave samples.

[2021-06-24 09:48] flothia commented on #4107
Thanks @qiucwang, after a bugfix (inversed format_settings between the two enclaves), tls certificate + report binding is working perfectly.

[2021-06-24 14:52] superajun-wsj commented on #4113
some more information, according to the reported logs, may be it's an enclave signature check fail:
<img width="1792" alt="截屏2021-06-24 下午10 46 55" src="https://user-images.githubusercontent.com/54900261/123284275-b669ae80-d53e-11eb-9657-dfeea40fb474.png">

[2021-06-24 20:25] #3903 closed

[2021-06-24 22:40] yentsanglee opened #4119 "Add Azure DCAP Client link to GettingStartedDocs"
Add Azure DCAP Client repo link to docs in GettingStartedDocs folder where Azure DCAP Client is mentioned. Readme and release notes in Azure DCAP Client repo may have something useful for OE users.

Azure DCAP Client - https://github.com/microsoft/Azure-DCAP-Client

[2021-06-25 04:39] #4048 closed

[2021-06-25 10:24] flothia opened #4122 "fork inside enclave"
Hi,

I am trying to use the _fork_ function inside an enclave (for a tls server to handle multiple connections).
I added to the linker _-loelibc_, and included the header file _unistd.h_,  but the undefined reference to _fork_ is still present at the compilation.
I am missing something, or maybe, the _fork_ is not supported (i found it in _openenclave/3rdparty/_) ?

Thanks in advance.

[2021-06-25 10:38] flothia commented on #4122
Ok, i found that _fork_ is not supported (https://github.com/openenclave/openenclave/blob/master/docs/UsingTheIOSubsystem.md).
Is there some examples, or documentation to use thread instead ?

[2021-06-25 10:45] flothia commented on #4122
In my case (a tls server to handle multiple connections), is the code _ssl_pthread_server.c_ provided by samples of _3rdparty/mbedtls_ should fully work inside enclave ?

[2021-06-25 13:57] hyunsooda commented on #4122
#3859

[2021-06-25 17:37] yentsanglee commented on #3992
Resolved by #4102

[2021-06-25 17:37] #3992 closed

[2021-06-25 17:42] yentsanglee commented on #2948
oecert has been replaced by oeutil which can generated evidence of various format. It's not SGX specific anymore.

[2021-06-25 17:42] #2948 closed

[2021-06-27 13:58] maxbeyond commented on #2599
hi, i get the similar issue here. i manually install libsgx-launch_2.8.100.3-bionic1_amd64.deb package, but it still does not work. I get `428 tests failed out of 540`.

packages

dmesg | grep -i sgx

lsmod | grep sgx

I am using an old CPU which does not support FLC.

OS: Ubuntu 18.04.2 LTS, 4.15.0-48-generic #51-Ubuntu

driver: out-of-tree driver from [](https://github.com/intel/linux-sgx-driver

[2021-06-27 13:59] maxbeyond commented on #2599
here is the whole error output of ctest.
[Uploading ctest.log…]()

[2021-06-28 07:41] superajun-wsj opened #4123 "support sysconf _SC_PAGESIZE and _SC_PHYS_PAGES"
can we know  the enclave's physical memory infomation(page_size or sc_physical_page) in runtime please?

[2021-06-28 11:26] anakrish commented on #4123
Currently OE provides a dummy implementation that always returns -1
https://github.com/openenclave/openenclave/blob/cd72fd7069488ba6f453c8f5f47bd9fd9a6e6c0d/libc/sysconf.c#L8-L13

We need to see if we can use the MUSL implementation instead.

[2021-06-28 13:03] achamayou commented on #4105
Could "expired" results similarly be made non-terminal please? Details are on #4086, but the gist is similar: the caller may have a legitimate interest in the results and find the attestation acceptable in a qualified way,.

[2021-06-28 17:08] #4028 closed

[2021-06-28 18:03] radhikaj commented on #4123
SGX always requires a 4K page size.
Would it be possible @superajun-wsj to try out the approach @anakrish mentions above?
Q: Is this SGX specific?

[2021-06-28 18:07] radhikaj commented on #4113
@superajun-wsj -
1) Can you please give information on the config of the enclave
2) please use strace tool to identify the failed system call during enclave load.

[2021-06-28 19:16] haitaohuang commented on #4113
@superajun-wsj provision bit and how permissions set are described in README I linked above.

[2021-06-28 20:02] DylanWangWQF opened #4124 "oegdb: Program received signal SIGTRAP, Trace/breakpoint trap."
Hi, team. I'm linking the 3rd party libraries inside the enclave.
When I debug the sample code, I hit the issue `Program received signal SIGTRAP, Trace/breakpoint trap.`, what can I learn from this clue?
Here  is the detailed debug:  [debug.log](https://github.com/anakrish/apkman/files/6725203/debug.log)
Could you give me some suggestions? I don't know what's the reason.
[code]

[2021-06-28 20:05] DylanWangWQF commented on #4124
The original issue is here: https://github.com/anakrish/apkman/issues/2#issuecomment-868457534

Relevant code  in NTL:
[NTL_TLS_LOCAL_INIT](https://github.com/libntl/ntl/blob/91acd5b3a7df709c0d8bf88a99a24bc340dc34f7/src/CheckThreads.cpp#L111)
When gdb single step step into the third `NTL_TLS_LOCAL_INIT(unsigned long, local_time, (time(0)))`, hit the issue `Program received signal SIGTRAP, Trace/br

[2021-06-29 02:31] superajun-wsj commented on #4123
yes, it's sgx specific. we have an application runs based on sgx's enclave, and the application needs to know how many physical memory size could be used in runtime. If we use musl's implementation, it may get host side physical memory size, while it's not we expected.

[2021-06-29 08:29] hyunsooda commented on #4123
Hi @superajun-wsj, I have just a question from your comment.
I couldn't understand your need to identify the usable physical memory size **at runtime**, not the **enclave launch time** unless you should do something like exquisite memory scheduling. As far as I know, all the information related to memory including the physical memory information is not managed in the SGX microcode and these tasks

[2021-06-29 09:45] DylanWangWQF opened #4125 "Enclave access the class variable which is stored in the hosr memory"
Hi, team.
I  run a program, a class variable is generated and stored in the host memory.
In this case, is it available for the enclave to access this class variable to do the following operations?
Is there a similar sample about this?

[2021-06-29 11:33] anakrish commented on #4123
@superajun-wsj

As @hyunsooda pointed out, the enclave heap size is part of the enclave configuration.
https://github.com/openenclave/openenclave/blob/eaa3880f2d2b05c7713b7b1b31258c4147ee2280/samples/helloworld/enclave/helloworld.conf#L6

If you want to know *approximately* how much of the enclave heap has been used, then you can use the [oe_allocator_mallinfo](https://github.com/openenclave/opene

[2021-06-29 11:46] anakrish commented on #4125
C++ objects cannot be **reliably accessed** across the enclave/host boundary. To access the C++ object in a typed manner (instead of untyped void* ), the enclave must also compile in the definition for the class. Since the C++ libraries used by the host and enclave are different, the host definition and enclave definition won't be binary compatible. Virtual functions in the class would make it eve

[2021-06-29 16:14] haitaohuang commented on #2599
are you loading debug enclave or release build? Non-FLC platform requires white listing for running production signed.
Also these message are indicating failure on loading DCAP driver:
[ 42.663196] sgx: sgx: The launch control MSRs are not writable

[2021-06-29 21:14] DylanWangWQF commented on #4125
@anakrish
Thanks for your reply!
In HElib, it provides the function to write the `Context` object to stringstream, and read from the stringstream to reconstruct the object;
As we discussed before,
[code]
Is this operation available based on your above comment? `newContext` is a class object (constructor).
Now, something is wrong in `helib::Context newContext =`, assign the object to he `newContext

[2021-06-29 22:00] #4124 closed

[2021-06-29 22:47] maxbeyond commented on #2599
I just followed instructions here [https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/SGX1GettingStarted.md](url).
How can I `white listing for running production signed`, I can't find it in the doc.

[2021-06-29 22:48] yentsanglee commented on #4107
Closing.

[2021-06-29 22:48] #4107 closed

[2021-06-29 23:01] DylanWangWQF opened #4127 "Issues porting HELib to work within enclaves"
I link the 3rd library inside the enclave, hit the issue `segfault` when running this code.
But when I debug to the located function, I found a lot of `oe_is_outside_enclave` and `oe_is_outside_enclave`.
[code]
Then I received a lot of `Program received signal SIGTRAP, Trace/breakpoint trap.`  and cannot continue to locate and debug.
[code]
If this is due to out-of-memory? But I have already incre

[2021-06-29 23:13] maxbeyond commented on #2599
I found some doc from internet saying that `To write to these MSRs the platform must support the Flexible Launch Control (FLC) feature`. I think my cpu doesn't support FLC, so I suppose I should load `isgx out-of-tree driver`?

[2021-06-29 23:14] mingweishih commented on #4127
/60000 pages equal to ~234.375 MB. You enclave is currently taking 468.75 MB + enclave_imag size. This is much larger than what existing SGX1 hardware can provide. Is there reason that you need this configuration? Have you try to lower the heap/stack size?

[2021-06-29 23:34] DylanWangWQF commented on #4127
@mingweishih
I have tried lower size, but still get the `segfault`, so I try to increase it.
 As you mention the image size,  I checked the enclave_imag size in my sample, which is too big
[code]

[2021-06-29 23:59] mingweishih commented on #4127
Based on your log, it seems your enclave is linking against a libstd++ that is not provided by OE? There will be no guarantee on the c++ ABI compatibility with OE in this case.

Is your executable fully static-linked? Otherwise, it will dynamically link against .so on the system (e.g., libc).

[2021-06-30 00:24] DylanWangWQF commented on #4127
@mingweishih
I link the `libstd++.a` from the Alpine Linux, according to @anakrish example, using the apkman:https://github.com/openenclave/openenclave/blob/3d6674a451608ea369f617fdd60f93cb5acdced2/tests/tools/apkman/cpp/boost/enc/CMakeLists.txt#L46-L52

Yes...I forgot the libc..So based on this enclave image, is it possible for exceeding the memory at runtime, cause the `segfault`. If it's out of

[2021-06-30 01:41] superajun-wsj commented on #4123
Thanks very much for your professional response.  We need to know the enclave's physical memory size to decide how much memory we will allocate to do heap memory's second management.

[2021-06-30 01:42] superajun-wsj commented on #4123
Thank you so much. I think `oe_allocator_mallinfo` is what we need, it can help us. Thank you again.

[2021-06-30 02:02] DylanWangWQF commented on #4127
If I remove all the debug in `ntl`, `helib` and enclave, get a smaller image
[code]

[2021-06-30 04:07] DylanWangWQF commented on #4127
@mingweishih
Currently, the Linux implementation for Intel SGX supports EPC paging, which means my heap size is not limited to the max EPC size, right?
So I can use "malloc()" to allocate a lot of memory (even larger than 1 GB), write to it, and read from it?

[2021-06-30 04:27] anakrish commented on #4125
@DylanWangWQF

context.writeTo(ss);   //wrtite
helib::Context newContext = helib::Context::readFrom(ss); //read and construct

If the above code is executed within the enclave, then no host memory is involved.

Can you provide reproduction steps/scripts to help investigate problem with newContext.

[2021-06-30 04:33] anakrish commented on #4127
@DylanWangWQF
The number of heap pages in your configuration determines the memory available for malloc.
E.g: https://github.com/openenclave/openenclave/blob/5a50b40a242cdc9409dbe5a80589bac2c5a9b510/samples/helloworld/enclave/helloworld.conf#L6

In Linux, since EPC paging is available, the number of configured heap pages can exceed the max EPC size.

To help investigate your issue, please provide

[2021-06-30 12:47] joydddd opened #4128 "Link Error while compiling sample"
Hi, I have undefined reference errors when I was trying to run samples. I believe it's due to some library I didn't install but I don't know which. Could you help me with this?
Here is the command:
[code]
Error msg:
[code]
and more.
I'm running on ubuntu 18.04 LTS in simulation mode.

[2021-06-30 13:24] DylanWangWQF commented on #4127
@anakrish
Since I directly install these libs on my computer, I write down a draft script to install libs for use in host and enclave.
Here is the script: https://github.com/DylanWangWQF/hesgx/tree/main/script

I also installed the GMP, NTL, and HElib in `Unbuntu18.04` and `apkman` environment, and store them in `host` and `enclave` directories for directly use when `make` the program. You can fir

[2021-06-30 14:03] anakrish commented on #4128
@joydddd The crypto library need to be specified as well - oecryptombedtls or oecryptoopenssl

[2021-06-30 14:04] anakrish commented on #4127
@DylanWangWQF
Thanks for the repro steps. I'll take a look at this on Friday.

[2021-06-30 15:14] mi-hol opened #4129 "proposal: replace XMing with gWSL in openenclave/docs/GettingStartedDocs/OP-TEE/Debugging/QEMUOnWSL.md"
openenclave/docs/GettingStartedDocs/OP-TEE/Debugging/QEMUOnWSL.md states

"XMing is a cross-compiled version of X for Windows and is known to work well. The public domain releases are free to use."
as the developers of XMing seem to focus on their commercial version I'd suggest to replace or add the free alternative gWSL available from Windows Store or github https://github.com/Opticos/GWSL-Source

[2021-06-30 16:28] dthaler commented on #4129
@HernanGatta can you comment on this proposal?

[2021-06-30 16:52] shnwc commented on #4105
"expired" maps to "OUT_OF_DATE".

[2021-06-30 16:54] achamayou commented on #4105
Ah, indeed, thank you @shnwc !

[2021-06-30 17:06] shnwc commented on #4105
For extremely security sensitive usages, the caller should check that the platform is always up to date. But for other usages, platform with non-terminal error conditions should be acceptable, otherwise if the risk is high, the platform should have been revoked. Due to BIOS feature limitations or update schedule, we know that some production platforms known to have some of these non-terminal situa

[2021-06-30 17:58] yentsanglee commented on #3988
@bodzhang Is this still an issue or do you still need an API to query enclave mode? If you are unblocked and the API is no longer needed, let's close this issue.

[2021-06-30 21:29] RRathna opened #4130 "find acceptable address range for host-application heap for 0-base enclave programatically"
Currently, application developers are required to instruct the loader to load the host application in a high address ranges, to avoid host heap allocation in memory addresses between enclave->base_address and enclave->start_address. It would be a smoother experience for the user, if this address can be programmatically identified instead of user providing an value.

[2021-07-01 01:04] DylanWangWQF commented on #4127
@anakrish
Many thanks for your patience and help!
In case any further files needed, my email: qwan301@aucklanduni.ac.nz

[2021-07-01 01:53] RRathna opened #4132 "cleanup include/openenclave/bits/"
review guidelines and cleanup data structures defined in include/openenclave/bits/ directory.

[2021-07-01 02:30] RRathna opened #4134 "Downgrade 0-base enclave creation request in sim-mode to non 0-base"
The current behavior rejects the request to create a 0-base enclave in simulation mode. Explore displaying a warning and downgrading the request to creating a regular enclave.

[2021-07-01 07:05] DylanWangWQF commented on #4125
execute within the enclave, consider to assign more heap pages.
Close this issue

[2021-07-01 07:05] #4125 closed

[2021-07-01 10:26] joydddd commented on #4128
Thanks a lot. But I still get the same errors after adding these two flags to my Makefile. I'm trying to run a demo from Jordan https://github.com/jhand2/oe-sample-oss2020, `make all` in the enclave folder. The flags are generated from `pkg_config oeenclave-gcc --libs`.

[2021-07-01 14:49] anakrish commented on #4128
@joydddd
OpenEnclave has evolved since Jordan's demo. System OCALLs have been [refactored](https://github.com/openenclave/openenclave/blob/master/docs/SystemEdls.md) have been refactored so that the enclave author can selectively opt into system ocalls.

`oe_sgx_get_cpuid_table_ocall` is defined in the following EDL that you need to import:
https://github.com/openenclave/openenclave/blob/b7ef81ef7

[2021-07-01 14:51] anakrish commented on #4132
While this is a good thing to do, I don't think it is mandatory for completing the 0-base enclave implementation feature.
include/openenclave/bits directory has a lot of header files, most of which aren't related to 0-base enclaves.

[2021-07-01 16:36] RRathna opened #4135 "Rename base_address to start_address in oe_debug_enclave_t structure."
In oesdk, variable names base and start address have been used interchangeably. With recent introduction of 0-base enclave creation, there is a need to correct these as base address and start address are no longer required to be the same values.

[2021-07-01 17:39] RRathna opened #4136 "Macro to create 0-base enclaves in both SGX1 and SGX2"
In include/openenclave/bits/sgx/sgxproperties.h, we have macros OE_SET_ENCLAVE_SGX*() to provide input parameters to create enclave functions. We need to add/ modify these better to add create a flexible way to add future feature additions without breaking existing applications.

[2021-07-01 18:40] dthaler commented on #4132
Agree this is separate cleanup.

[2021-07-02 04:33] joydddd commented on #4128
Thanks a lot. The helloworld demo runs perfectly.

[2021-07-02 04:33] #4128 closed

[2021-07-02 09:43] DylanWangWQF commented on #4123
Hi, @hyunsooda
I have a question from your comment. Sry for my noise.

In my case, the enclave image is already around 50M. Since EPC paging is available in Linux, I set the large heap size which exceeds the EPC size(128MB, ~90MB). At runtime, my code will create some class objects which may exceed the remained enclave memory. In doing so, it will swap EPC page, right? (swapping will be expensive)

[2021-07-02 10:51] specio opened #4139 "OE support for PCCS 1.10 ( API v3)"
Hi,
It seems that deprecated api v2 has been recently disabled on newer versions of PCCS.
OpenEnclave tests are failing after update:

[code]
Api v3 url is working:
[code]
Is there planned support or switching endpoints to API v3?
For attestation purposes I need to maintain SW components up-to-date - OE AttestationTests fail if TCB is slightly behind.
I get error log:
`Invalid platform TCB level:

[2021-07-04 08:05] hyunsooda commented on #4123
Hi @DylanWangWQF, I don't have much professional knowledge.
As far as I know, the enclave memory can be larger than 128MB or 256MB which are the maximum memory size in almost all hardware with SGX1. This is because the virtual memory size is really huge, so there is no problem in swapping in theory, but it will introduce swapping overhead. So, I guess that we should not encounter segfault even the

[2021-07-05 02:04] yentsanglee commented on #4139
The code that does the `curl` is in [SGX DCAP](https://github.com/intel/SGXDataCenterAttestationPrimitives/blob/e420ca703fb96330d6e03d5a138aea424b2e8bd1/QuoteGeneration/qcnl/linux/config.cpp#L50).

[2021-07-05 08:44] specio commented on #4139
My libraries are at newest versions:
[code]
Including QPL

OE tests are failing with:
[code]
Following code logged by test is suggesting usage of v2 API:
**[../enclave/sgx/report.c:oe_get_report_v2:192]**
**[../enclave/core/sgx/report.c:oe_get_report_v2_internal:443]**
Is there a way to use v3 instead?

[2021-07-05 11:23] specio commented on #4139
+ @shnwc @MWShan
It seems that OE is using Quting library as follows:
https://github.com/openenclave/openenclave/blob/e40d8accc7e8bbe2dfdec3a50e97b540e00c33ea/host/sgx/sgxquote.c#L360
It automatically calls deprecated V2 API, which has been recently disabled on PCCS 1.10.103.1

[2021-07-06 03:02] DylanWangWQF commented on #4127
@anakrish
I found [Microsoft SEAL](https://github.com/microsoft/SEAL#examples) (Another HE project from Microsoft) has no required dependencies. So If I link the SEAL in OE, I guess it's better than HELib + NTL? (No more required libraries)

[2021-07-06 12:44] anakrish commented on #4127
@DylanWangWQF

Thanks for the reproduction steps. I got a chance to look at it today.

I'd suggest that:
- You add `CFLAGS="-g -Og"` when configuring gmp
- You add `CXXFLAGS="-g -Og"` when configuring NTL
- You add `-DCMAKE_BUILD_TYPE=Debug` when configuring HELib.
-

The above would build the libraries in debug mode without optimizations so that it is easier to debug.

RE https://github.com/Dylan

[2021-07-06 16:10] anakrish commented on #4127
@DylanWangWQF

As you might already have figured out, I'd to configure gmp with `--enable-assembly=no` to prevent relocations from being generated in text section. OE requires that the text section be read-only and hence cannot have relocations.

[2021-07-06 16:18] anakrish commented on #4127
I encountered the following SEGV

[code]
objdump reveals that both local_clock and clock are undefined
[code]

Since the code path executes a call to `clock` and refers to `local_clock`, you'd need to define both the functions. MUSL ought to have implementations for these that you can use as reference and you might need to add ocalls to implement them properly.
You could also provide dummy impleme

[2021-07-06 18:55] shnwc commented on #4139
@specio the "v2" in "[../enclave/sgx/report.c:oe_get_report_v2:192]" etc. is unrelated the version of the HTTP API for accessing PCCS.

Yes, OE uses QPL for accessing PCCS, and QPL access to PCCS can be customized. These documents provide helpful information on QPL integration with OE, and PCCS setup: [docs/DesignDocs/SGX_QuoteVerify_Integration.md](https://github.com/openenclave/openenclave/blob/

[2021-07-07 07:24] DylanWangWQF commented on #4127
@anakrish

I set the CMakeList as you described before. In this way, no multiple definitions, but I don't know if it affects the compilation of the code in other places.
[code]

You could also provide dummy implementations for these to start off with and see how far it proceeds.

According to your suggestions, I directly comment the UniqueID() with `clock` and `local_clock`. Then the program conti

[2021-07-07 10:23] anakrish commented on #4127
@DylanWangWQF You can put a breakpoint in oe_abort function to see why the enclave is aborting.

[2021-07-07 10:24] anakrish commented on #4127
@DylanWangWQF I've changed the title to better reflect the discussion.

[2021-07-07 11:26] anakrish commented on #4127
After a bit of tweaking the enclave is working:

[code]

[2021-07-07 11:34] DylanWangWQF commented on #4127
@anakrish  Wow! Excellent!
May I ask you what's your setting (CMakeLists and other changes in the libraries)? I got the error on the function `context.printout()`
[code]
Then I got the segmentation fault.

[2021-07-07 11:39] anakrish commented on #4127
Putting a breakpoint on oe_abort and looking at the callstack reveals that the enclave is failing in `oe_SYS_clock_gettime_impl` due to the use of clock_id that is not CLOCK_REALTIME. This is a familiar issue; OE supports only realtime clock. This can be worked around by creating the following stubs.c file and adding it to the enclave.

OE's implementation of each syscall is weak, and therefore ea

[2021-07-07 11:46] anakrish commented on #4127
You can either patch OE's setlocale implementation or do the following:

in ecalls.cpp
[code]

And provide the following wrap option to the linker:
CMakeLists.txt
[code]

The `--wrap` linker option will cause the linker to use `__wrap_symbol` instead of `symbol`. This allows wrapping/replacing any function.

[2021-07-07 12:00] DylanWangWQF commented on #4127
@anakrish
Many thanks for your professional suggestions!!!
I will have a try and test other functions.

[2021-07-07 16:48] specio commented on #4139
@shnwc  Thanks it worked, indeed I had v2 configured there.

Unfortunately attestation is still failing, now with another error:
(Is it outdated header issue? )

[code]

[2021-07-07 20:21] yentsanglee opened #4146 "ConfigID documentation and sample"
There is a [test case](https://github.com/openenclave/openenclave/tree/master/tests/config_id) for ConfigID but no documentation or sample.

[2021-07-07 22:24] DylanWangWQF opened #4148 "'openenclave/internal/syscall/sys/syscall.h' file not found"
After the build, the layout of openenclave is shown as below:
[code]
It seems that the `internal` header directory is not installed in `/opt/openenclave/include/openenclave`. When run the enclave code, shows cannot find `syscall.h` file .
[code]

[2021-07-07 22:38] mingweishih commented on #4148
We intentionally don't ship the internal header directory as part of release packages. Those headers are used "internally" only. May I know why do you need to use this specific header?

[2021-07-07 22:44] DylanWangWQF commented on #4148
@mingweishih
This issue is related to another issue https://github.com/openenclave/openenclave/issues/4127#issuecomment-875531987

It seems that this header is unnecessary for me, Sorry about that. Closing this issue.

[2021-07-07 22:44] #4148 closed

[2021-07-07 23:36] DylanWangWQF commented on #4127
@anakrish
I added the` stubs.c` file and  `setlocale` in `eaclls.cpp`. But I got multiple definition errors when compiling.

According to your suggestions and `apkman` examples, I modified the `CMakeLists.txt`, but  compiling `dispatcher.cpp` and  `eaclls.cpp` depends on a set of libraries (`helib`, `ntl`, `gmp`). Then I got a lot of errors.

Could you share your `CMakeLists.txt` with me?  Since I

[2021-07-08 02:23] anakrish commented on #4127
Here it is:

[code]

[2021-07-08 02:35] anakrish commented on #4127
[code]

This likely indicates that OE_WEAK is missing for `oe_SYS_clock_gettime_impl`.
You likely have more code changes to your enclave that is triggering the linker error which I don't see.

I will patch OE master. Meanwhile you can use `--wrap` linker flag to customize oe_SYS_clock_gettime_impl just like for setlocale.

[2021-07-08 02:43] DylanWangWQF commented on #4127
@anakrish
I guess our environment setting is different in apkman?
Even I use your CMkaeList, I got the error :
[code]
BTW,  should add `apkman exec`, right?
[code]

[2021-07-08 03:21] anakrish commented on #4127
My bad. Yes, C++ should be done via `apkman exec`.  That is key for ensuring binary compatibility of C++ code within enclaves since you are using libstdc++. I've edited my previous comment.

[code]

You can simply remove the include for enclave.h. The idea is that most of the code can be enclave agnostic (ie don't need OE headers and can be compiled using apkman exec) and then only those few place

[2021-07-08 03:41] DylanWangWQF commented on #4127
@anakrish

In the following coding, for example, some .cpp files that need to use OE headers, but they also should be compiled by apkman. (What should we do? If `remove the include for enclave.h` is reasonable?) Since you successfully run the sample in the enclave, how do you solve this issue?

BTW, still hit the multiple definition
[code]
[code]
I actually don't modify too many codes. Why are the

[2021-07-08 03:49] anakrish commented on #4127
Are you prefixing, the wrapped function with the `__wrap`? ie the functions ought to be named `__wrap_setlocale` etc.

[2021-07-08 03:52] anakrish commented on #4127
For me it is cleaner to separate enclave code into enclave-agnostic (ie doesn't need enclave headers) and enclave-aware.
Doing so allows quickly testing enclave-agnostic portions of the code by running it in a normal application.

If you are not able to do so, you can always add the path to the enclave headers via -I compiler option.

[2021-07-08 04:00] DylanWangWQF commented on #4127
@anakrish
I didn't add the prefix. Now, fix:
[code]
After the run, get the seg fault. Before this run, I comment the UniqueID() function, it works. But now, I didn't do it.
[code]

[2021-07-08 04:06] DylanWangWQF commented on #4127
`stubs.c` and  `setlocale` are not work?

https://github.com/DylanWangWQF/hesgx/blob/main/enclave/stubs.c

https://github.com/DylanWangWQF/hesgx/blob/0b1eabadc73ba42b6445525199f0c901361b3295/enclave/ecalls.cpp#L41

[2021-07-08 04:26] anakrish commented on #4127
As I mentioned before, at this point you need to figure out the missing functionality like clock local_time etc and implement them. MUSL is a good reference.

I patched setlocale yesterday. It got merged and approved to master.

[2021-07-08 04:30] DylanWangWQF commented on #4127
Sry for my noise. @anakrish
I just comment  the UniqueID() in NTL as before. Now, finally... get the correct result!!!
May I ask you if you implement them or comment them like what I doin NTL?
[code]
BTW, I noticed, even `make` and `make run` successfully, get this error during the `make`:
[code]

[2021-07-08 04:48] anakrish commented on #4127
Awesome!

I also commented it out, partially. I retained use of the static counter to generate the id. The comment about UniqueID says what the requirement for unique id is.
It is OK to comment out/partially implement for now. But as you test your enclave more and add more features, you might have to implement the missing functions.

[code]
I see that too. It seems like a DWARF/ld bug. We might no

[2021-07-08 06:59] DylanWangWQF commented on #4127
Now, I also retained the use of the static counter to generate the id.
I will have a try on more complicated functions like encryption and decryption

[2021-07-08 09:06] DylanWangWQF commented on #4127
@anakrish
so excited to tell you that functions like encryption and decryption work correctly inside the enclave!
Many many thanks for your help and patience! I will have a try on other functions and see if they are work.
[code]

[2021-07-08 21:33] yentsanglee commented on #4139
The error is because SGX QPL returns 'pckcrl' as HexString of DER while OE expects it to be binary DER. This has been discussed and will be fixed in [SGX DCAP](https://github.com/intel/SGXDataCenterAttestationPrimitives)

[2021-07-09 19:29] flothia opened #4154 "tls between enclave and untrusted app limit set to 1024 bytes for reading"
Hi,

After settling a tls tunnel between an enclave and a untrusted app, it seems that reading is limited to 1024.
I have checked that all my structures allocated for reading were larger than 1024 bytes.
Should i still investigate on my own code, or there is a limit set by OE with mbedtls ?

Thanks in advance,

[2021-07-09 23:42] mingweishih commented on #4154
I can't recall there is such limitation. Can you share more information on your implementation?

[2021-07-10 05:28] yentsanglee commented on #4146
ConfigID is set at enclave creation time with [OE_SGX_ENCLAVE_CONFIG_DATA](https://github.com/openenclave/openenclave/blob/95faa3052d0b46c41eea1a5317647521846976ba/include/openenclave/host.h#L114) as setting_type. It's not directly related to attestation.

[2021-07-11 09:59] DylanWangWQF opened #4155 "Pass in/out buffers to/from enclave"
Hi, team! I have a question about passing buffers to/from the enclave.
For a single buffer sent to the enclave and a single buffer back to the host, my code is as follows:
EDL:
[code]
Host:
[code]
Enclave:
[code]
The above code works correctly.

If I have multiple buffers (strings) passed to/from the enclave, my code is shown below and works correctly:
But I'm still confusing about the EDL and all

[2021-07-12 00:21] DylanWangWQF commented on #4127
Currently, close this issue, reopen it if have a new question

[2021-07-12 00:21] #4127 closed

[2021-07-12 04:12] anakrish commented on #4155
@mingweishih Can this be modeled cleanly in edger8r using nested deep copy out parameters?

[2021-07-12 18:04] radhikaj commented on #4129
@HernanGatta @dthaler  Can you please comment on this proposal?

[2021-07-12 18:09] radhikaj commented on #4123
Closing this since the original question is answered.
@DylanWangWQF, can you please open a new issue for the question you had regarding the segfault above?

[2021-07-12 18:09] #4123 closed

[2021-07-12 18:16] radhikaj commented on #4134
1) Get 0 based enclaves working in simulation mode
2) Make developer experience smoother if we cant achieve #1, by downgrading.

[2021-07-12 18:19] radhikaj commented on #4139
This is an issue in the Intel SGX SDK with the QPL sample.

[2021-07-12 23:13] yentsanglee commented on #4139
[Issue](https://github.com/intel/SGXDataCenterAttestationPrimitives/issues/186) in SGXDataCenterAttestationPrimitives opened.

[2021-07-12 23:14] #4139 closed

[2021-07-13 09:11] flothia commented on #4154
My implementation :

Server side : a python app using a mbedtls plugin, and providing raw data to store inside enclave
Client side (enclave) : based on _ssl_client1.c_ code provided by the official mbedtls plugin, integrated to OE
Unstruted app : make the ECALL to pull packet from tls channel (i.e _mbedtls_net_recv_ set in _mbedtls_ssl_set_bio_)

Tests performed :
	- Server side really send more t

[2021-07-13 10:40] flothia commented on #4154
Ok, i found the problem.
It was nothing related to TLS, but related to my ocall printing function. The maximum bytes to display was set to BUFSIZ, which is set to 1024.

[2021-07-13 10:40] #4154 closed

[2021-07-13 23:01] dthaler commented on #4129
Also @Britel for visibility

[2021-07-13 23:37] yentsanglee commented on #4105
Proposal - Add a policy type to change how `oe_verify_evidence()` treats non-terminal TCB status cases:

[code]

[2021-07-13 23:48] yentsanglee commented on #3988
Closing the issue. Please re-activate if this is unresolved.

[2021-07-13 23:48] #3988 closed

[2021-07-14 07:57] superajun-wsj opened #4166 "mmap and munmap support"
is it possible that openenclave supports mmap and munmap operatation please?

[2021-07-14 08:29] DylanWangWQF commented on #4155
@anakrish
I pass the buffer to the enclave, but receive the info like: `�>�,` when I reconstruct the stringstream.
[code]
I tested this yesterday and run correctly.
[code]
Today, I added some extra codes, but this part of the code is the same.
What may cause this `�&`?

[2021-07-14 08:38] DylanWangWQF commented on #4155
The same EDL:
[code]

[2021-07-14 11:07] anakrish commented on #4166
OE does not currently support mmao and mummap. If your enclave really needs these syscalls to work,  I'd encourage you to give [mystikos](https://github.com/deislabs/mystikos) a try. Mystikos is based on OE and supports mmap and munmap, and a whole bunch of other syscalls that OE currently does not support.

[2021-07-14 14:45] DylanWangWQF commented on #4155
@dthaler  @radhikaj
Sry for my noise, could you give me some suggestions on my following error (above)?

[2021-07-14 18:27] HernanGatta commented on #4129
@mi-hol, thank you for your proposal!

Do you foresee that the instructions that use XMing will cease to work as a result of its developers' focus on the paid version? In other words, I'm trying to understand the rationale for switching solutions. I'm open to it, I just would like to understand the benefit.

Also, WSL now has [preview support for GUI apps](https://docs.microsoft.com/en-us/windows/

[2021-07-14 18:28] HernanGatta commented on #4129
Sorry, I didn't mean to close and reopen the issue! I clicked on the wrong button, my apologies.

[2021-07-14 20:27] mi-hol commented on #4129
for corporate environments deployment of new Windows versions is often delayed by 1-3 years, therefore I'd see it as a "stop gap" approach to make gWSL available as the 3rd option.
Frankly XMing's download page creates the impression of being a dead-end for freeware use.
![image](https://user-images.githubusercontent.com/22799428/125687346-692010b4-966c-430e-91be-089491558739.png)

[2021-07-14 21:11] mi-hol commented on #4129
gWSL manual is at https://opticos.github.io/gwsl/tutorials/manual.html

[2021-07-15 04:08] DylanWangWQF commented on #4155
Hard-coded `ectxt_len = 1`, that is, `uint8_t* ectxt[1]`. This works.
But why `ectxt_len > 1` doesn't work for `uint8_t* ectxt[ectxt_len]` ?

[2021-07-15 08:43] DylanWangWQF commented on #4155
@anakrish
I set the string with small size, it's ok: `string str = "this is a test";` `length = 14`
But for the large string `string str = ss.str();`,  `length = 246056`, I got the garbled characters.
(Note: `uint8_t* ectxt[2];`, the size of array is 2)
Is the memory exceed? But I set large heap memory:
[code]

[2021-07-15 09:02] superajun-wsj commented on #4166
ok, we will have a try about mystikos, thank you very much.

[2021-07-15 13:18] #4155 closed

[2021-07-15 17:33] #4119 closed

[2021-07-16 01:30] #4056 closed

[2021-07-18 09:17] DylanWangWQF opened #4171 "Use of headers intrinsics for AVX2"
Hi, Team. I want to use headers `intrinsics` for AVX2 instructions, such as `#include <intrinsics/immintrin.h>`. Does OE support now?

One specific question when compiling `intrinsics` headers:
@anakrish  I hit many such issues in `apkman` environment
[code]

The second question is also about the `apkman` include directories:
@anakrish  When I compile the `.cpp` files as you explained, like:
[code