[2020-07-20 23:21] anakrish commented on #3289
CC: @ryanhsu19 @mingweishih @BRMcLaren @radhikaj

[2020-07-21 00:49] anakrish commented on #3108
Another instance: https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/1023/pipeline

[2020-07-21 02:01] yanxue-intel commented on #3284
IceLake Server

[2020-07-21 15:00] AevaOnline commented on #3284
It seems to me that attestation should not use hard-coded CAs or keys, period. Is this not the case?

Could OE contain an extensible list, prepopulated with good defaults, that can be changed at build time (and thereby ingest data from environment variables in the build process)?

[2020-07-21 16:27] manojrupireddy commented on #3031
From the above discussion comments, action items were summarized below.

- Clean up the internal implementation of `oe_public_key_init` of mbedtls code part.

- Bring consistency between OpenSSL and mbedtls by using EVP_KEY_up_ref on OpenSSL functions.

- Created new issue to track the irregularity in the life management semantics. OpenSSL uses refcount and mbedtls uses deep copy. It should be con

[2020-07-21 16:32] manojrupireddy opened #3296 "Inconsistency in lifetime management semantics between OpenSSL and mbedtls internal code."
This issue is raised during the discussion of [#3031 ](https://github.com/openenclave/openenclave/issues/3031).

The semantics between the two implementations of OpenSSL and mbedtls, need to be either both refcounted or both cloned as they do represent different lifetime management semantics. I would actually prefer making mbedtls refcounted, which makes it consistent with both the OpenSSL and Win

[2020-07-21 16:56] radhikaj commented on #2533
Documented here: https://github.com/openenclave/openenclave/blob/master/docs/LibcSupport.md

[2020-07-21 18:13] anakrish opened #3298 "Memory Sanitization of host side SDK code"
Currently, we use DEBUG_MALLOC to detect memory leaks in enclave side SDK code.
There is currently no such tooling enabled for host side SDK code.
There may be memory leaks that we are not aware of.

Couple of options for the host-side for memory leak detection are
- Valgrind (Linux only)
- ([LeakSanitizer](https://clang.llvm.org/docs/LeakSanitizer.html))

Related issues: Enable ExperimentalMemChe

[2020-07-21 18:29] anakrish commented on #3201
@mingweishih @dthaler @CodeMonkeyLeet @jhand2

Do we all agree that it is better user experience to not have the user specify different search-paths for system edls based on platform? If so, I'd propose that we go further and propose that system-edls be available in the path by default without the user having to specify the search-path explicitly. This is analogous to the standard C headers that a

[2020-07-21 18:41] soccerGB commented on #3284
Non-production certs are not secure, thus it;s not trustworthy. It should be treated as trusted only in the development, which could be done via customized code provided by whoever needs it.

[2020-07-21 18:55] mingweishih commented on #3201
Just updated the option 3 per our discussion from the meeting today in the description. Can you check if that address your concerns?

[2020-07-21 19:06] anakrish commented on #3201
Thanks for the update @mingweishih.

There is no benefit to the user from explicitly specifying the system edl folder as a search path.
My recommendation is that the system edl folders ought to be implicitly added to the search path by oeedger8r; just a like a C compiler does.

I like the updated option 3 because it is allows the user to declarative specify concepts of interest without any redunda

[2020-07-21 21:08] anakrish opened #3299 "Enable memory tests with debug malloc"
Currently parts of  tests/memory is disabled under debug malloc since it takes a lot of time to complete with debug malloc enabled.
Based on investigation, it was found that the memset in debug malloc is what adds to the cost.

It is better to provide knobs to turn on/off various aspects of debug malloc so that all the tests can be executed with debug malloc.

tests/attestation_plugin also takes a

[2020-07-21 21:16] radhikaj opened #3300 "open-enclave host-verify sample build and run failures"
1) open-enclave package,  host-verify sample , both cmake and gnu make can be used to build the sample. make run fails.
2) open-enclave-host-verify package, host-verify sample, gnu make can be used to build the sample. make run fails. cmake fails.

[2020-07-21 21:58] CodeMonkeyLeet commented on #3283
Regarding modifying the mbedTLS memory handling behavior, there are no appropriate options to reduce the _number_ of calls it chooses to make; most of the config options are geared around managing the total memory footprint on embedded devices, not transient allocations. A couple of notable examples:

* `MBEDTLS_MEMORY_BUFFER_ALLOC_C` yields no performance improvements. It changes the allocation l

[2020-07-21 23:45] ShundaZhang commented on #3284
Our purpose is to improve the Remote Attestation verification code, to support verifying the quote by a different CA. The developers may use some pre-production CPUs in their development environment, the major difference from production environment in RA verification is the CA.

[2020-07-21 23:49] ShundaZhang commented on #3284
Our purpose is to improve the Remote Attestation verification code, to support verifying the quote by a different CA. The developers may use some pre-production CPUs in their development environment, the major difference from production environment in RA verification is the CA.

[2020-07-22 16:13] BRMcLaren commented on #2519
@yentsanglee, could you explain? Will this add a sample to be tested in CI?

[2020-07-22 16:17] ryanhsu19 commented on #2519
@BRMcLaren I will open a pull request to integrate the host-verify sample test to the host verification test of the CI/CD soon. The package installation will take more time though.

[2020-07-22 17:30] #3289 closed

[2020-07-22 19:50] yentsanglee commented on #2266
As mentioned in PR #3047, fix should apply to oe_verify_evidence() as well. Resolving #3047 as dup.

[2020-07-22 19:51] yentsanglee commented on #3047
Duplicate of #2266

[2020-07-22 19:51] #3047 closed

[2020-07-22 20:08] yentsanglee commented on #3300
"make run" is fixed in #3301

[2020-07-22 20:35] yentsanglee opened #3303 "Add attestation custom claims serializing/de-serializing helper functions"
Per request and comments in issue #3264, helper functions to serialize and de-serialize array of oe_claim_t are needed.

The buffer from serialized oe_claim_t array can then be used to convey custom claims between attester and verifier. I.e.:

Attester:
- claims of name/value pairs --(serialize)--> plain buffer --(oe_get_evidence)--> evidence with custom claims

Verifier
- evidence with custom cla

[2020-07-22 21:00] yentsanglee commented on #3264
Helper functions to serialize/de-serialize will be added per issue #3303.

[2020-07-22 21:00] #3264 closed

[2020-07-22 21:23] #3139 closed

[2020-07-22 21:38] shnwc commented on #3303
LGTM.

[2020-07-23 01:01] anakrish commented on #3178
This is fixed by the PRs currently checked in as part of #3272.

[2020-07-23 01:01] #3178 closed

[2020-07-23 08:24] eddyashton opened #3307 "PSW version used by LVI"
The `install_lvi_mitigation_bindir` script [installs version 2.9](https://github.com/openenclave/openenclave/blob/4bf2dca44b92a962c932f9277d6e488acdd13592/scripts/lvi-mitigation/install_lvi_mitigation_bindir#L58) of the Intel LVI mitigation tools. As far as I can tell, these tool versions are the same as the Intel PSW/SDK versions (they are downloaded from the same [versioned sources](https://down

[2020-07-23 23:25] yentsanglee opened #3309 "Missing header file in OE SDK package"
`include/openenclave/attestation/sgx/evidence.h` is missing in OE SDK package.

It needs to be included in `include/CMakeLists.txt`.

[2020-07-23 23:55] anakrish opened #3311 "EnclaveCommonAPI and DCAP nuget packages need to be removed from install_prereqs"
All SGX dlls are available in system 32 and are dynamically loaded.
The corresponding nuget packages are no longer needed to build the SDK.
The installation of these nuget packages can be removed from install_prereqs scripts.

[2020-07-24 00:35] anakrish commented on #3307
CC: @mingweishih

[2020-07-24 00:53] mingweishih commented on #3307
Thanks for bringing this up. I'll double check with Intel if we need to switch to use the latest toolchain.

Just from my opinion, I would not expect there will be much difference in these two versions. The size difference is more likely due to the tool are built with different compilation flags (e.g.,  `-g`).

[2020-07-24 09:25] eddyashton commented on #3307
Another question on the LVI binaries:

I was looking to do some basic validation that LVI mitigations had been applied, by comparing the `.a` and `-lvi-cfg.a` binaries, expecting that the latter is similar but with a large number of additional lfences. However, it appears the `-lvi-cfg.a` versions are consistently smaller than their unmitigated counterparts? Can you explain why that is?

[code]

T

[2020-07-24 13:38] letmaik opened #3312 "hostverify library: Cannot use oe_verify_attestation_certificate_with_evidence"
This is with current `master`:
[code]
Looks like some sources are missing in the archive.

[2020-07-24 14:00] letmaik opened #3313 "Cannot parse MAA CA certificate with quote"
I'm trying to use `oe_verify_attestation_certificate` / `oe_verify_attestation_certificate_with_evidence` to verify the CA certificates from MAA.

Here is an example DER-encoded MAA cert: [cert_0.der.zip](https://github.com/openenclave/openenclave/files/4972207/cert_0.der.zip). This can also be obtained from the [public endpoint](https://shareduks.uks.attest.azure.net/.well-known/openid-configurat

[2020-07-24 16:14] letmaik opened #3314 "EDL preprocessing: Cannot build tests"
[code]

This is with v0.10.0 but also master.

In case it helps:
[code]

[2020-07-24 16:16] letmaik commented on #3314
Nevermind, I forgot to update the submodules.

[2020-07-24 16:16] #3314 closed

[2020-07-24 16:22] anakrish commented on #3313
CC: @yentsanglee @shnwc

[2020-07-24 16:39] mingweishih commented on #3307
The size difference is due to we are using different versions of assembler & linker to built regular and lvi-mitigated libraries;
i.e., the lvi toolchain from intel is based on the latest version (2.32) of binutils while the regular OE build is using the version (2.30 on ubuntu 18.04) from the ubuntu distribution.

After some investigation, you are right, these is some build problem with snmalloc

[2020-07-24 16:46] mingweishih opened #3315 "The LVI-mitigated version of liboesnmalloc is not built correctly"
The LVI-mitigated version of liboesnmalloc (`liboesnmalloc-lvi-cfg.a`) is not correctly built such that the mitigation is not enforced.

[2020-07-24 19:47] gkostal commented on #3313
It's a known issue that currently MAA and the OE SDK don't treat OID 1.2.840.113556.10.1.1 equivalently.  Discussions are underway to achieve consistency here.  At the moment, MAA generates an Intel SGX quote while the OE SDK expects an OE SGX quote.

[2020-07-24 21:31] yentsanglee commented on #3313
Like @gkostal mentioned, the OID was used for different purpose by MAA and discussions are underway. From OE SDK's point of view, I am more concerned about having 2 functions to verify certificates.

Will add to agenda in SIG-attestation meeting.

[2020-07-24 22:48] yentsanglee commented on #2109
#2519 covers CI/CD tests.

[2020-07-27 04:42] yentsanglee commented on #3312
Since there are 2 OIDs to identify the extension, oe_verify_attestation_certificate_with_evidence() should be deprecated.

[2020-07-27 18:14] radhikaj commented on #3296
Link against oecrypto issues.

[2020-07-27 18:30] radhikaj commented on #3312
@letmaik  Is this blocking your app/scenario? What are the repro steps.  @yentsanglee , can you please follow up.

[2020-07-27 18:34] letmaik commented on #3312
No, for now I can just link to `oehost`, but it should be resolved anyway.

[2020-07-27 18:36] radhikaj commented on #3313
@yentsanglee , can we sort this out with @gkostal.
We need to track this in the Changelog as a breaking change and communicate it.

[2020-07-27 18:39] radhikaj commented on #3315
Is there some way to test the libs distributed in the SDK package to verify that the libs are built with the right set of flags?

[2020-07-27 18:40] BRMcLaren commented on #3311
@anakrish I am not sure this is true.

How do we build in a container without these packages?

[2020-07-27 18:51] anakrish commented on #2834
It would also be worth investigating if the binary packages could also be verified to ensure that binary level mitigations have been applied. That would help detect issues like #3315

[2020-07-27 18:51] bodzhang opened #3316 "Default SGX SIGSTRUCT ATTRIBUTEMASK allows the loader to enable MPX inside the enclave"
The [default SGX SIGSTRUCT ATTRIBUTEMASK](https://github.com/openenclave/openenclave/blob/05d109a5706fe4c439f64cd68ffee6e2430b9542/include/openenclave/bits/sgx/sgxtypes.h#L139) used by the signing tool allows the untrusted (outside of SGX enclave TCB) enclave loader to enable MPX (Intel [SDM](https://software.intel.com/content/www/us/en/develop/articles/intel-sdm.html#combined) chapter 17) inside

[2020-07-27 19:14] BRMcLaren commented on #3311
I was also under the impression that 2016 did not come with the sgx dlls preloaded.

[2020-07-27 19:39] BRMcLaren opened #3318 "Intel Links returning 403 during prereqs installation"
It seems that over the weekend the Intel URL's were updated and the prior ones no longer work. This breaks the install prereqs scripts for windows. For example:

http://registrationcenter-download.intel.com/akdlm/irc_nas/16767/Intel%20SGX%20DCAP%20for%20Windows%20v1.7.100.2.exe

Returns a 403.

But http://registrationcenter-download.intel.com/akdlm/IRC_NAS/16767/Intel%20SGX%20DCAP%20for%20Windows%

[2020-07-27 19:54] anakrish commented on #3311
@BRMcLaren For building the SDK, we don't need the sgx header files and .sgx lib files. For running the SDK, we need the sgx dlls.
My understanding is that the SGX nuget packages only contain the header files and lib files.
In Win 2016, do you know where the SGX DLLs come from?

[2020-07-27 20:04] anakrish commented on #3316
CC: @mingweishih @CodeMonkeyLeet

[2020-07-27 20:27] BRMcLaren commented on #3043
@anakrish I fixed this months ago and forgot to close this out. Can you verify if this is still a problem and if not, let's close it out?

[2020-07-27 20:28] BRMcLaren commented on #3043
accidentally closed

[2020-07-27 20:41] BRMcLaren commented on #3311
Probably https://github.com/BRMcLaren/openenclave/blob/UpdateIntelLinks/scripts/install-windows-prereqs.ps1#L403.

OK, so that gets us past building.
But if we do this change, how do we run in a container?

[2020-07-27 20:50] anakrish commented on #3311
Removing  the nuget  shouldn't have any effect on running since the DLLs don't come from nuget.

[2020-07-27 20:52] BRMcLaren commented on #3311
Regardless, I don't think this should be assigned to me or @rs-- . It isn't CI related and doesn't improve the system. A better approach would be flushing out the package manager suggestion here https://github.com/openenclave/openenclave/issues/3000 as opposed to continuing to add effort into this script.

It's not something we can commit to and will hurt our efforts to move towards containerizati

[2020-07-27 21:14] anakrish commented on #3311
Sure sounds good. When we get around to package manager solution, we just need to remember to not put in the effort to install these nuget packages.

[2020-07-27 21:22] anakrish commented on #3311
@radhikaj I'm closing this since we don't want to invest more in the install prereqs scripts.

[2020-07-27 22:20] CodeMonkeyLeet commented on #3316
To clarify, my understanding is that the `SIGSTRUCT.ATTRIBUTEMASK` doesn't block a feature, it simply causes the appropriate ATTRIBUTE bits to be measured into the enclave identity. Indirectly, this will prevent an unexpected setting of the attribute by the loader that is not set in the original enclave signature.

The enclave entry functions effectively break the MPX feature today, and it's highl

[2020-07-27 22:46] BRMcLaren commented on #3311
@anakrish Might I suggest adding this to your package manager requirements?

I suspect for containers that need to run the sdk we need this while just the build steps and onhost 2019 we do not.

[2020-07-27 22:46] #3311 closed

[2020-07-28 02:34] yufjiang opened #3322 "The function oe_get_target_info cannot handle the evidence wrapped by the header that contains format id"
The function oe_get_target_info cannot handle the evidence wrapped by the header that contains format id.
Inside its implemenation, https://github.com/openenclave/openenclave/blob/ce8c48c8ea25bbdef421c30921d5f1271fcaed29/common/sgx/report.c#L163
It assumes that a report, which is not wrapped by the header that contains format id, is passed in.

Because of that, the local attestation will fail if w

[2020-07-28 02:52] #3318 closed

[2020-07-28 03:11] BRMcLaren opened #3323 "Discussion of Future CI Improvments/Decoupling"
In SIG testing we discussed the future of the organization's CI and decoupling it from the sdk. This issue is to serve as a continuation of the discussion between companies and to allow others to contribute with feature requests, etc to establish a baseline. Below is a list of things we are currently looking into understanding if there is anything else, please bring it up and we will look into it.

[2020-07-28 03:18] #3315 closed

[2020-07-28 06:02] yentsanglee commented on #3322
Public API oe_get_target_info() is SGX specific and the first parameter must be oe_report that is returned from oe_get_report(). oe_get_target_info() is not to be mixed with oe_evidence API sets.

[2020-07-28 18:02] BRMcLaren opened #3325 "[Discussion <WIP>] Creating Secure Public GitHub Continuous Integration Pipelines"
**Creating Secure Public GitHub Continuous Integration Pipelines**

Building source code, by convention and necessity, requires running a variety of tools and commands that source can influence in wide-ranging ways. When accepting external pull requests from untrustworthy sources it’s critical that this risk be accepted and mitigated by a combination of technical and process controls.

This issue

[2020-07-28 19:27] #3322 closed

[2020-07-28 20:36] mingweishih commented on #3307
Update: I found the size difference is mainly due that Intel includes the toolchain for each of the following Linux distributions:
`centos8.1  fedora31  fedora32  nix  rhel8.0  rhel8.1  rhel8.2  sles15.2  ubuntu18.04  ubuntu20.04`

[2020-07-28 21:33] #3307 closed

[2020-07-28 21:34] anakrish opened #3328 "Remove ununecessary package from ansible scripts"
The following dev packages are no longer used by OE SDK.
- libsgx-enclave-common-dev
- libsgx-dcap-ql-dev

They need to be removed from ansible scripts and the docs also need to be updated.
There are two benefits to doing this
- CI will resemble production systems on with OE will be deployed. Production systems don't install dev packages
- It makes developer experience cleaner

The PR https://gith

[2020-07-28 21:51] anakrish opened #3330 "CI/CD: Testing environment does not mirror actual OE SDK production environments"
As is evident from some users, there is a distinction between an enclave development system and a production system

- A development system is used to develop enclave applications. In addition to necessary development tools, users will also install OE SDK.
- A production system is a system in which enclave applications built using the OE SDK are run. Users need not install OE SDK on production sys

[2020-07-29 00:10] #3309 closed

[2020-07-29 01:10] BRMcLaren commented on #3325
TODO: add best practices

[2020-07-29 03:47] yentsanglee commented on #3241
Turned out it was there since plugin model started. Closing the issue.

[2020-07-29 03:47] #3241 closed

[2020-07-29 15:57] anakrish commented on #3202
For internal use, we've developed an utility that will figure out which MUSL (libc) function make ocalls during the execution of a program. It uses oegdb and python scripting. It can be extended to analyze the ocall dependencies of other pieces of code; not just MUSL.

[code]

[2020-07-29 17:52] swamymsft commented on #3325
This is a good initiative to make the CI pipelines secure, I have few comments:
- Describe the secret data, it may not be obvious to everyone, also having some examples will make it more clear.
- Are there automated way of identifying the data that is classified as Secret? If not everything at least the common ones.
- Along with generic rule for monitoring build machines for malicious behavior, I

[2020-07-30 17:47] jumaffre opened #3333 "host_verify CLI should make use of the new attestation API"
The `host_verify` CLI shipped with OE (sources: https://github.com/openenclave/openenclave/tree/master/samples/host_verify) currently uses the `oe_verify_remote_report` API, which I believe is incompatible with the new attestation API (i.e. `oe_get_evidence`, etc.). In other words, a quote generated with `oe_get_evidence` cannot be verified successfully with `oe_verify_remote_report`.

Am I right

[2020-07-30 17:48] mingweishih commented on #3333
cc @yentsanglee

[2020-07-31 20:01] BRMcLaren commented on #3271
pre-requisite: #3276

[2020-07-31 20:27] anakrish commented on #3276
@ryanhsu19 @yentsanglee
Can you address this issue sooner? #3271 is dependent on this and we are having to put in workarounds (#3337) in the meantime to solve issues with nightly CI runs.

[2020-07-31 23:10] yentsanglee opened #3338 "Extend oe_verify_attestation_certificate_with_evidence() to support multiple OIDs"
`oe_verify_attestation_certificate()` is used to verify x.509 certificate with oe_report embedded in x.509 certificate extension ("1.2.840.113556.10.1.1").

`oe_verify_attestation_certificate_with_evidence()` was recently added to verify oe_evidence extension ("1.2.840.113556.10.1.2").

Since their OIDs are different, one function should be able to verify both extensions. The work here:
1. `oe_ver

[2020-07-31 23:16] yentsanglee commented on #3313
Certificate generated from MAA has different format. MAA will change their OID to something other than `1.2.840.113556.10.1.1`.

In OE, `1.2.840.113556.10.1.1` is for report generated by oe_get_report().
`1.2.840.113556.10.1.2` is for evidence generated by oe_get_evidence() with format id embedded.

`oe_verify_attestation_certificate_with_evidence` should be deprecated because `oe_verify_attestati

[2020-08-01 01:28] CodeMonkeyLeet commented on #3325
@BRMcLaren Thanks for the write up, there's a lot of good thinking about the operational concerns here. I'm a little unclear on what you'd like to get out of this discussion, but here are a few thoughts:

- It would be helpful to group and highlight how you expect the rules to be applied. For example, many of the rules can be interpreted as one of:
    - guidance to individuals or manual process p

[2020-08-01 08:51] letmaik commented on #3313
@yentsanglee Does that mean OE will not support validating MAA certificates?

[2020-08-03 09:15] letmaik commented on #3313
@anakrish @yentsanglee @radhikaj Could you re-open this issue? I don't think this is resolved yet. We need to be able to verify MAA certs without re-implementing all of OE's existing validation code.

[2020-08-03 09:25] ad-l commented on #3313
@gkostal that resolution doesn't make much sense - if MAA defines a separate OID to embed non-OE quotes, how are users expected to verify the MAA certificate? What about the evidence/endorsements/collaterals? Intel doesn't define a standard serialization for those. We would prefer that MAA certificates that embed quotes can be verified with `oe_verify_attestation_certificate`

[2020-08-03 18:04] yentsanglee commented on #3333
We are gradually convert attestation samples from oe_report to oe_evidence API set.

[2020-08-03 18:08] radhikaj commented on #3316
@MWShan will post further details on how this is done in Intel SGX SDK. Thanks!

[2020-08-03 18:20] radhikaj commented on #3330
@anakrish , can you clarify an example of what we would test in production environment
@BRMcLaren would like clarification on what we need in the dev environment, ci environment and production environment

[2020-08-03 18:21] BRMcLaren commented on #3330
Would be good to further flush out the requirements of this: https://github.com/openenclave/openenclave/issues/3000 for windows along with the ansible to understand prod/dev/ci.

[2020-08-03 18:45] anakrish commented on #3330
@radhikaj

Production environment in CI ought to have the bare minimum software necessary to run enclaves.
In a production environment test, we'd just copy prebuilt samples over to the environment and make sure that they can be run.

[2020-08-03 18:54] anakrish commented on #3330
@BRMcLaren

To help set the context, there are 3 kinds of environments/systems that a developer encounters
- Production: These systems have at minimum the software necessary to run prebuilt enclave applications.
- Development:  These systems have at minimum the software necessary to build enclave applications.
- Contributor: These systems have at minimum the software necessary to build the Open En

[2020-08-04 23:01] yentsanglee commented on #3333
Tasks
1. oe_verify_evidence() must be include in host_verify.h
2. host_verify must call oe_verify_evidence(OE_FORMAT_UUID_SGX_ECDSA_P256_REPORT, ...) to verify evidence

[2020-08-04 23:55] ryanhsu19 commented on #2519
#3305 includes building and installing of `host-verify` package as well as testing of `host-verify` sample on `Azure-Linux` pipeline. Is it sufficient, or should I also modify the `cpack` routine on `Azure-Nightly` pipeline?

[2020-08-05 03:24] jianlia opened #3345 "Switch shellcheck url to github releases page"
Switchcheck URL need to be updated per  https://github.com/koalaman/shellcheck/issues/1871

The following error is hit during autmation

https://github.com/openenclave/openenclave/blob/d3909bf8f75ec787ce75f0efc28449f069efa3f6/scripts/install-windows-prereqs.ps1#L19

Mode                LastWriteTime         Length Name
----                -------------         ------ ----
d-----         8/5/2020

[2020-08-05 05:46] johnvenn opened #3346 "source code package tag 0.10.0 issue: cmake error in git submodule init oeedger8r-cpp"
this is a test with source code package in 0.10.0 :https://github.com/openenclave/openenclave/releases/tag/v0.10.0

download openenclave-0.10.0.tar.gz, extract it, and running the build process, there is an error in "mkdir build && cmake .. "

CMake Error at cmake/utilities.cmake:9 (message):
  Submodule oeedger8r-cpp is empty.  You can initialize the submodule now
  with 'git submodule update --r

[2020-08-05 15:47] anakrish commented on #3345
@BRMcLaren What is the right url to use for Windows?

[2020-08-05 17:56] qiucwang commented on #2976
SGX endorsements will be retrieved in claims from `oe_verify_evidence()`. Multiple SGX specific claims will be added to reflect that:
#define OE_CLAIM_SGX_TCB_INFO "tcb_info"
#define OE_CLAIM_SGX_TCB_ISSUER_CHAIN "tcb_issuer_chain"
#define OE_CLAIM_SGX_QE_ID_INFO "qe_id_info"
#define OE_CLAIM_SGX_QE_ID_ISSUER_CHAIN "qe_id_issuer_chain"
#define OE_CLAIM_SGX_PCK_CRL "pck_crl"
#define OE_CLAIM_SGX_RO

[2020-08-05 18:20] BRMcLaren commented on #3345
@anakrish https://github.com/BRMcLaren/openenclave/blob/master/scripts/ansible/oe-windows-acc-setup.yml#L23 would be the one stashed.

Let me take care of this, testing now.

[2020-08-05 20:36] anakrish commented on #3346
@radhikaj Due to use of various submodules, I don't think it is possible to build SDK from published sources. I remember that we'd discussed this in the past, though I don't remember whether we decided to bundle the submodule sources as well.

[2020-08-05 20:53] #3345 closed

[2020-08-05 23:07] anakrish opened #3349 "Define minimum CPU requirements for SGX Simulation mode"
Simulation Mode requires certain instructions like `xsave` that may not be available in non SGX machines.
The goal of this task is to
- Define the minimum processor requirements to run simulation mode SGX enclaves
- Error out gracefully if the executing system does not meet the requirements.

This issue is borne out of a recent investigation into failures encountered in simulation mode on certain

[2020-08-05 23:09] jxyang opened #3350 "Avoid compact form of xstate"
OE assumes the compact form of xstate is always supported. This is true for machines with sgx capability, but not true for all intel CPUs. Since running the simulation mode could happen on non-sgx machines, we should avoid using the compact form to allow maximum compatibility.

https://github.com/openenclave/openenclave/blob/eb1f65bd181212d8c22afaec7050319b55ffe5de/enclave/core/sgx/asmdefs.c#L40

[2020-08-05 23:10] anakrish commented on #3349
Related issue #1770

[2020-08-05 23:14] jxyang commented on #3350
This issue currently blocks sgx-lkl feature branch from syncing with the latest OE master.

[2020-08-05 23:18] anakrish commented on #3350
From the same discussion, we cannot assume that xsave instruction is available. If it is not available, we'd need to use fxrstor.

[2020-08-06 08:04] johnvenn commented on #3346
so, is that just for backup?

because we would checkout the tag to build the released source.

[2020-08-06 16:29] BRMcLaren opened #3351 "CI Host Verification Installation Failure"
It seems that the host verification package is being installed twice in the same workspace and is failing due to not overwriting the current installation. This should be installed in different workspaces, which is already implemented.

Causing CI [failures ](https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/1152/pipeline/) an

[2020-08-06 17:24] anakrish commented on #3346
@mingweishih found out the following issue https://github.community/t/create-release-that-contains-submodule/1329

Giithub creates the Source Code.zip artifact when a release is created and it does not package the code for submodules.
Once it is fixed upstream, this issue will be solved.

[2020-08-06 21:48] CodeMonkeyLeet commented on #3350
@anakrish Can you file a separate issue for the check for OS XSAVE enablement? It's a more involved fix that where I think we should also evaluate if the sections of the code using FXRSTOR/FXSAVE should not also be consolidated to use the dynamic detection for XSAVE/XRSTOR support.

[2020-08-06 22:55] #3350 closed

[2020-08-06 23:31] CodeMonkeyLeet opened #3360 "Remove hard dependency on XRSTOR in OE SDK"
OE SDK code currently assumes that support for XSAVE/XRSTOR is always available when using SGX enclaves. This can potentially cause runtime fails in other scenarios such as simulation mode, as seen with the related issue #3350 around assuming support for compacted representation of XSAVE data (XCOMP_BV[63]).

The enclave side code should check that support for XSAVE/XRSTOR is supported at runtime,

[2020-08-06 23:43] anakrish commented on #3360
@bodzhang Can an enclave securely detect at runtime if `xrstor` is available?

[2020-08-07 02:02] johnvenn commented on #3346
ok, thanks for the reply. I thought people should have reported this issue previously. it seems it's not project specific. I'll close this issue.

[2020-08-07 02:02] #3346 closed

[2020-08-07 13:14] letmaik opened #3362 "Build fails with Clang and -DCOMPILE_SYSTEM_EDL=ON"
[code]

[2020-08-07 16:14] mingweishih commented on #3362
This option is currently not used/supported given the recent ecall/ocall refactoring. We're going to remove this option in the upcoming release.

[2020-08-07 23:23] radhikaj opened #3365 "In CI, test scenario where the CC environment variable is changed from the default."
See @anakrish 's comments on https://github.com/openenclave/openenclave/pull/3285

"This in fact can be exercised by our sample tests. Currently, we don't really test our samples with various compiler options although we support it (e.g., the compiler detection in Make you added).

Alternatively, if we want to test this specific scenario (i.e., CC=/path/to/compiler), I'd suggest adding one job to

[2020-08-08 03:38] JeromeCustodio opened #3367 "TASK [linux/intel : Install the Intel SGX Driver] taking a lot of time and seems to fail"
Hi, just want to raise an enquiry. I am following:
GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md
and when ansible-playbook scripts/ansible/oe-contributors-setup.yml
 is started, it seems to stop in: TASK [linux/intel : Install the Intel SGX Driver]

Is this task building the driver or just downloading it?
Is there an alternative to this one as this step is taking a very lo

[2020-08-08 23:06] MWShan commented on #3323
@sfblackl - please review

[2020-08-08 23:06] MWShan commented on #3325
@sfblackl - please review

[2020-08-10 17:45] praenubilus opened #3368 "EEID_PLUGIN test failed, having memory leak"
eeid_plugin test failed for both master and feature/sgxlkl-support branch on ACC VM. May be a potential regression issue.

Here is the error output:

[code]

[2020-08-10 18:08] radhikaj commented on #3367
@JeromeCustodio : Can you please provide more information
1. How long does it take
2. Does it fail? Do you see an error message?
3. Can we get dmsg logs?

[2020-08-10 18:13] jxyang commented on #3368
Do we run the eeid test in ci/cd? @radhikaj?

[2020-08-10 18:44] BRMcLaren commented on #3368
@jxyang yes, we do.

https://github.com/openenclave/openenclave/blob/master/.jenkins/pipelines/Azure/Linux/Jenkinsfile#L408

[2020-08-10 18:50] radhikaj commented on #3368
It appears that EEID is passing in CI. Closing this issue for now and @praenubilus can open again if needed.
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux-Badge/detail/Azure-Linux-Badge/154/pipeline/81

[2020-08-10 19:02] haitaohuang commented on #3367
The driver installer package is here: https://download.01.org/intel-sgx/sgx-dcap/1.6/linux/distro/ubuntuServer18.04/sgx_linux_x64_driver_1.33.bin

You can also try to download manually and run it to install: chmod +x sgx_linux_x64_driver_1.33.bin && ./sgx_linux_x64_driver_1.33.bin

Make sure to setup proxy properly if you are behind firewall

[2020-08-10 19:14] praenubilus commented on #3368
I follow the exact same config but the that still failed locally. Also, do you know why the configurations '-DLVI_MITIGATION=ControlFlow', '-DLVI_MITIGATION_SKIP_TESTS=OFF' is needed? Any idea for the failure @jxyang @wintersteiger

[2020-08-10 21:08] praenubilus commented on #3368
I can reproduce the issue on new create ACC VM.

[2020-08-10 21:14] JeromeCustodio commented on #3367
the scripts works if i install the driver manually before running the script.
Mannually installing the driver triggers an MOK registration (restarting the system).
Perhaps the script wont work if driver verification is enabled on the system.

@radhikaj , i left it running for two hours and it stuck in Install the Intel SGX Driver task. It does not fail, it just stays there.

[2020-08-10 22:09] BRMcLaren commented on #2519
Thanks @ryanhsu19  this is sufficent!

[2020-08-10 22:09] #2519 closed

[2020-08-10 22:15] wintersteiger commented on #3368
It's possible that there is a problem with DLVI mitigations and EEID enabled at the same time. I don't usually test that combination during my work. I wouldn't know what the underlying problem could be though. @praenubilus if you can reproduce it, can you enable debug output and paste the log here?

[2020-08-10 22:24] praenubilus commented on #3368
@wintersteiger Here are the output from ctest

UpdateCTestConfiguration  from :/home/workspace/openenclave/build/DartConfiguration.tcl
UpdateCTestConfiguration  from :/home/workspace/openenclave/build/DartConfiguration.tcl
Test project /home/workspace/openenclave/build
Constructing a list of tests
Done constructing a list of tests
Updating test list for fixtures
Added 0 tests to meet fixture requi

[2020-08-10 22:26] praenubilus commented on #3368
And just want to mention, it failed for both w/ lvi and w/o lvi

[2020-08-10 22:54] anakrish commented on #3368
The test is failing because there are memory leaks reported by DEBUG_MALLOC.

[2020-08-10 23:06] praenubilus commented on #3368
@anakrish  anyway to mitigate the leak? Or if I missed something on my build and run process?

[2020-08-11 02:34] CodeMonkeyLeet opened #3371 "OE_RAISE_MSG does not handle empty __VA_ARGS__ as intended with MSVC"
Per the comments in include/openenclave/internal/raise.h, when no variadic args are passed to `OE_RAISE_MSG` when compiled with MSVC, the macro is intended to appropriately handle that case and include an explicit `NULL` parameter for the format string. However, the check in the macro for `if (!_strcmp(#__VA_ARGS__, ""))` does not work, and MSVC will still fail the compilation with insufficient pa

[2020-08-11 04:43] JeromeCustodio opened #3372 "Enquiry: mktime results to this log : 2020-08-11T04:38:00.000000Z [(E)ERROR] tid(0x4624) | tgse.elf.signed:path=/etc/localtime oe_errno=2 [C:\Users\Administrator\OE\Packaging\SDK\syscall\mount.c oe_mount_resolve:119]"
May i know what this error means? Is there any recommendation on how to get the current time?
Is there any recommendation on how to convert struct tm to time_t?

I am using Open Enclave MS Visual Studio 2019 Extension version: 0.7.29

https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/visualstudio_dev.md

Thank you

[2020-08-11 16:47] dthaler opened #3374 "OE Technical Charter and current OE project governance do not match"
https://github.com/openenclave/openenclave/pull/3373 adds the current OE Technical Charter approved by the CCC board last year.  But its contents do not match what we do today.  E.g., it has "TSC" where we have a "CGC".  It says quorum is half, our quorum is 2/3, etc.

The technical charter can be amended at any time.  I believe the process is that the project (i.e., the CGC) creates an updated co

[2020-08-11 16:56] praenubilus commented on #3368
@radhikaj just as we discussed yesterday, the test case will pass with Ninja build but fail with makefile/CMake build. It is possible the memory leak is suppressed in Ninja build. So can you reopen the issue for further investigation, or should I create another issue?

[2020-08-11 18:13] CodeMonkeyLeet commented on #3120
Per [SIG-Arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?view#11-Aug-2020):
* Consensus is that changes that can be upstreamed should use Option 1.
   * This fork would be maintained under the OE SDK project.
   * If we maintain a fork for holding changes while upstreaming, we should be clear the fork is not intended for consumption as a standalone (i.e. we are not forking the original proj

[2020-08-11 18:13] #3120 closed

[2020-08-11 18:15] CodeMonkeyLeet commented on #2099
Per [SIG-Arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?view#11-Aug-2020), this is moved to the architecture discussion backlog until any changes increase its priority.

[2020-08-11 18:16] CodeMonkeyLeet commented on #3002
Per [SIG-Arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?view#11-Aug-2020), the scope of this work is known but in backlog, moving out of SIG-Arch tracking as not requiring further discussion by the SIG.

[2020-08-11 18:22] CodeMonkeyLeet commented on #2336
Per [SIG-Arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?view#11-Aug-2020):
* Consensus is that Experimental APIs will not be explicitly versioned to allow development agility as is the goal of Experimental features.
* `oe_verify_remote_report` is an existing non-experimental API that predates Experimental APIs and should have been versioned per @radhikaj's comment to use the `OE_API_VERSIO

[2020-08-11 18:22] #2336 closed

[2020-08-11 18:25] CodeMonkeyLeet commented on #3049
Per [SIG-Arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?view#11-Aug-2020), this is is a well-understood ask that has been backlogged as Intel has a workaround. Moving out of architecture discussion as not requiring further comment from the SIG.

[2020-08-11 18:27] yentsanglee opened #3375 "Support SGX TCB Info version 3"
SGX TCB Info V3 has a new field 'id'. OE SDK attestation verification must handle this.

- [V2 spec](https://api.portal.trustedservices.intel.com/documentation#pcs-certificate)
- [V3 spec](https://sbx.api.portal.trustedservices.intel.com/documentation#pcs-certificate-v3)

Source file - _read_tcb_info at [tcbinfo.c](https://github.com/openenclave/openenclave/blob/master/common/sgx/tcbinfo.c)

[2020-08-11 18:27] CodeMonkeyLeet commented on #3078
Per [SIG-Arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?view#11-Aug-2020), moving into the SIG-Arch backlog for discussion unless something changes the priority, given that the requestor has an existing workaround.

[2020-08-11 18:29] CodeMonkeyLeet commented on #3075
Per [SIG-Arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?view#11-Aug-2020), this requires clarification of the requirements, and that investigation has been backlogged. Moving to SIG-Arch backlog until we have clearer requirements to discuss.

[2020-08-11 19:51] praenubilus commented on #3368
through debugging, find the test will fail at https://github.com/openenclave/openenclave/blob/80309da445e768d05031b14ef0e33997662a7769/tests/eeid_plugin/host/host.c#L132

[2020-08-11 22:54] #2976 closed

[2020-08-11 23:00] jxyang opened #3377 "OE checks whether a size_t variable is negative"
On this [line](https://github.com/openenclave/openenclave/blob/80309da445e768d05031b14ef0e33997662a7769/enclave/crypto/cert.c#L1180), we are checking if a size_t variable `bytes_written` is <= 0.  So even if the function `mbedtls_x509write_crt_der` returns a negative number to indicate error, we will never detect it.

We are lucky that `mbedtls_x509write_crt_der` never failed until today when I tr

[2020-08-11 23:06] anakrish commented on #3377
An interesting questions is why the compiler did not complain that `<=  0` does not make sense for a `size_t` variable.

[2020-08-11 23:09] jxyang commented on #3377
It probably will actual complain if the expression is `< 0`. There is a `1/INT_MAX` change `==0` could catch an error.

[2020-08-11 23:13] jxyang opened #3378 "`OE_MAX_CERT_SIZE` is too small for EEID report"
`OE_MAX_CERT_SIZE` is 8192, which should be enough for most cases. But with EEID plugin, we are creating a huge data blob that exceeds the limit. As my debugger shows, the data blob is 18671 bytes for an sample sgx-lkl application. We need to increase the size limit.

[2020-08-11 23:17] anakrish commented on #3371
@mingweishih and I observed recently that  MSVC `__VA_ARGS__` is the same as GCC `##__VA_ARGS__`.
Newer versions of MSVC also seem to support `##__VA_ARGS__`. https://godbolt.org/z/YhE3bM

[2020-08-11 23:27] #3316 closed

[2020-08-11 23:45] anakrish commented on #3378
@jxyang Do you need to encode the entire data blob in the cert ? Can you instead just encode the hash of the data blob?

[2020-08-11 23:49] jxyang commented on #3378
@anakrish If we do that, we need to accompany an EEID data blob with the cerificate. I think most internet protocols consider certificate to be a self-contained credential.

[2020-08-11 23:58] jxyang commented on #3378
If we are fine with the `config_id` approach in https://github.com/bodzhang/openenclave/blob/EEIDDesignChange/docs/DesignDocs/ExtendedEnclaveInitializationData_V2.md, and give up the idea of having a fine-grained verification on the EEID data blob,  we probably can get away with just the hash value in the certificate. I don't have preference on which way to go.

[2020-08-12 00:59] CodeMonkeyLeet commented on #3371
MS has [documented](https://docs.microsoft.com/en-us/cpp/preprocessor/variadic-macros?view=vs-2015) this behavior since VS2015, but the problem seems to have been with how the macro is defined in terms of its interleaving of __VA_ARGS__ with other format parameters after it. I would be in favor of simplifying the macro and restructuring the format string as necessary to use default compiler behavi

[2020-08-12 01:00] anakrish commented on #3378
@jxyang I like the idea of certs being self contained.

[2020-08-12 01:02] anakrish commented on #3378
CC: @yentsanglee @wintersteiger @CodeMonkeyLeet @bodzhang

[2020-08-12 01:24] bodzhang commented on #3118
Intel's Icelake CPU (10nm Gen 10 Core) supports delivering #PG and #GP exception info securely inside the enclave. The feature is enumerated in CPUID(EAX=12H, ECX=0).EBX.bit0. If the CPU supports this feature (CPUID(EAX=12H, ECX=0).EBX.bit0=1), with SW opt-in (SECS.MISCSELECT.bit0=1), the CPU delivers #PG and #GP exception info in SSA.

The current OE SDK implementation does not support SW opt-in

[2020-08-12 03:58] CodeMonkeyLeet commented on #3378
My expectation is that the EEIDv2 design will supersede the existing implementation, so the certificate size shouldn't be necessary if this can wait until those changes take effect.

If we do want to bump the maximum size of the cert, I would suggest that instead of just bumping up the constant, the attested TLS certificate generation codepath returns the size of buffer needed and the caller has a

[2020-08-12 04:20] yentsanglee opened #3379 "Simplify SGX attestation UUIDs"
Feedback from @LarryOsterman - Our verifier accepts SGX evidence type. Among all SGX attestation UUIDs defined in OE SDK, not sure which one to pick.

Current SGX types:
    * OE_FORMAT_UUID_SGX_ECDSA_P256
    * OE_FORMAT_UUID_SGX_ECDSA_P256_REPORT
    * OE_FORMAT_UUID_SGX_ECDSA_P256_QUOTE
    * OE_FORMAT_UUID_SGX_ECDSA_P384
    * OE_FORMAT_UUID_SGX_EPID_LINKABLE
    * OE_FORMAT_UUID_SGX_EPID_UNLI

[2020-08-12 04:49] yentsanglee commented on #3378
I agree with @CodeMonkeyLeet that the max cert size is specified by the caller, probably with a suggested value. If we set the maximum size to a big value just for exceptional cases, we are wasting memory.

[2020-08-12 09:41] wintersteiger commented on #3368
Got it. With the latest master I was able to reproduce the leaks. They are fixed in https://github.com/openenclave/openenclave/pull/3380.

[2020-08-12 09:48] wintersteiger commented on #3378
I agree, this should definitely be variable-size. The new EEID design will indeed allow us to record just the config_id, but the design isn't finalized yet, so it might take a bit more time for this to become available.

[2020-08-12 16:07] jxyang commented on #3378
@bodzhang

[2020-08-12 16:27] shnwc commented on #3379
I’d assume @LarryOsterman's quotes are all in ECDSA-p256 format. DCAP only generates this type of quotes. ECDSA-Pp384 quote generation is not supported yet. EPID quote can only be generated by another library such as quote-ex, and before generating an EPID quote, a platform needs to be configured to join and EPID group.

To verify an ECDSA-p256 quotes, application software can call oe_verify_evide

[2020-08-12 16:34] yentsanglee commented on #3378
Deep in the call stack if mbedtls certificate generation can return size needed if allocation is not enough, that will be ideal.

[2020-08-12 16:42] jxyang commented on #3368
Thanks @wintersteiger. The fix looks good.

These are genuine memory leaks. Now the interesting question is why the pipeline runs (with EEID enabled) never report failures, and why the memory check kicks in with make but not ninja.

[2020-08-12 16:56] LarryOsterman commented on #3379
@shnwc How would I as a user of the API know which quote format I have? There are 6 different options, and to the best of my knowledge, the only way of determining which of the options is the correct one to use is to parse the evidence to determine what the format of the evidence is. But the whole point of this API is that I shouldn't have to parse the evidence.

If it is possible for the attestat

[2020-08-12 17:53] yentsanglee commented on #3378
@jxyang, can this wait until EEID is available?

[2020-08-12 18:09] jxyang commented on #3378
We need a fix to unblock the PR to sgx-lkl, which is needed by customers.

Increasing the limit would be easiest and quickest path to resolve the issue. This constant is used only in `generate_x509_self_signed_certificate` to allocate a local buffer, and the buffer is reclaimed in the same function. There is no much harm to increase the size limit IMO.

[2020-08-12 18:17] anakrish commented on #3118
@bodzhang Would the faulting address also be available within the enclave?
Currently, exception context is accessed via `sgx_ssa_gpr_t` structure: https://github.com/openenclave/openenclave/blob/300a5b649d648ae539c7b8053bd35f24b327cd25/include/openenclave/bits/sgx/sgxtypes.h#L334-L360

Where would the faulting address be stored?

[2020-08-12 18:20] yentsanglee commented on #3379
@shnwc, as part of the issue resolution, please also provide Doxygen-style comments in [evidence.h](https://github.com/openenclave/openenclave/blob/master/include/openenclave/attestation/sgx/evidence.h) for each UUID. The comments will be included in generating [Open Enclave SDK API Reference](https://openenclave.io/apidocs/v0.10/) where OE developers refer to. It's fair to also specify

1.  Legit

[2020-08-12 20:00] anakrish commented on #3064
I have a PR that removed the dependency on hard-coded td_t offset: #3381

[2020-08-13 17:12] #1161 closed

[2020-08-13 17:36] qinkunbao opened #3387 "Supports JIT compilation and PCL"
Hi,

I was wondering if Open Enclave supports JIT compilation inside the enclave? Is there any application built on the enclave that has implemented JIT compilation? Does the open enclave have the protected code loader by the way?

Thank you very much.

[2020-08-13 17:43] mingweishih commented on #3387
No, OE does not support JIT inside an enclave. However, you may be able to use [sgx-lkl](https://github.com/lsds/sgx-lkl) to run JIT engines.

What do you mean by the protected code loader?

[2020-08-13 17:52] mingweishih commented on #3387
If you refer to Intel's PCL implementation, then the answer is OE currently does not support it.

[2020-08-13 18:46] qinkunbao commented on #3387
Thank you for the information. Yes, I am referring to Intel PCL or something similar that we can load the encrypted code into the enclave.

[2020-08-13 19:37] yentsanglee opened #3389 "Ensure attestation APIs have good test cases"
Many test cases have been added sporadically for oe_evidence API set. This issue is to ensure all oe_evidence APIs are covered. Cases include:
1. oe_get_evidence() can generate all supported combinations of:
-  format IDs
-  flags
-  custom_claims
-  custom_claims_size (< or > 64 bytes)
2. oe_verify_evidence() can verify good and bad evidence and returns expected claims (especially report_data vs.

[2020-08-14 06:43] praenubilus commented on #3368
@jxyang since the ticket is closed by contributor, I cannot reopen it, can you help?

[2020-08-14 06:49] jxyang commented on #3368
This issue tracks the memory leak in EEID. We probably need another issue for the failure of the pipeline to catch the memory leak.

[2020-08-14 06:53] BRMcLaren commented on #3368
@jxyang funny enough within a minute of you posting this, I was also following up as well.

I agree completely, can we please create an issue and assign it to me? I'll look into it in the morning.

[2020-08-14 07:04] praenubilus commented on #3368
@BRMcLaren Let me do it

[2020-08-14 07:12] praenubilus opened #3392 "test case eeid_plugin failed locally but passed in pipeline"
The test case `eeid_plugin` will pass with Ninja build (on local ACC VM and in OESDK pipeline) but fail with makefile/CMake build(locally, OESDK pipeline use ninja only). Through debugging, find the crash is caused by memory leak mentioned here https://github.com/openenclave/openenclave/issues/3368#issuecomment-671629379 . There is a PR https://github.com/openenclave/openenclave/pull/3380 to fix t

[2020-08-14 07:13] praenubilus commented on #3392
@BRMcLaren can you help to investigate

[2020-08-14 07:16] praenubilus commented on #3368
@BRMcLaren  Please check [issue#3392](https://github.com/openenclave/openenclave/issues/3392)

[2020-08-14 16:37] LarryOsterman commented on #3379
Oh, and one other thought piling onto my original thought: If at some point in the future, someone decides to change the quoting enclave to use RSA to sign a quote, is it really appropriate to require that clients know about this change and update their code to reflect the change?

[2020-08-14 18:04] shnwc commented on #3379
Based on the comments here and the discussion in this weeek's SIG-attestation meeting, one proposal to fix this issue is to replace existing `OE_FORMAT_UUID_SGX_ECDSA_P256_REPORT` and  `OE_FORMAT_UUID_SGX_ECDSA_P256_QUOTE` with two new IDs, for evidence verification:
* `OE_FORMAT_UUID_SGX_REPORT`
  * Verifies OE reports generated by `oe_get_report()`, for both SGX local and remote attestation
* `O

[2020-08-14 18:16] LarryOsterman commented on #3379
To confirm: You do not plan on validating Intel SGX reports (there's a nomenclature challenge here - Intel calls the local construct a report and the remote construct a quote, OE calls both of these a report).

[2020-08-14 18:25] shnwc commented on #3379
Correct, there is no plan for `oe_verify_evidence()` to verify raw SGX reports. There is no API in OE SDK or the DCAP library to generate raw SGX reports either.

[2020-08-14 20:28] BRMcLaren commented on #3392
@radhikaj This can be considered a blocker for v0.11, while the patch is ready to my understanding we will be unguarded until we implement a testing strategy. Would recommend prioritizing between myself or @rs--  next triage.

[2020-08-14 21:30] CodeMonkeyLeet commented on #3378
@yentsanglee Took a look at the mbedtls code for `mbedtls_x509write_crt_der` and confirmed that it will not return the required size in the event of `MBEDTLS_ERR_ASN1_BUF_TOO_SMALL` It only writes until it runs out of buffer space and does not precalculate the required buffer size.

[2020-08-15 01:04] douglasmaciver commented on #2139
+1 for fixing this.

[2020-08-15 06:11] yentsanglee commented on #3378
The local buffer `cert_buf` is given to `output_cert` on success and is not reclaimed.

Can we calculate the max size in generate_x509_self_signed_certificate() based on the input parameters (oid_size, strlen(subject_name), private_key_buf_size, public_key_buf_size, and remote_report_buf_size)?

[2020-08-15 08:15] VincenzoGallicchio opened #3399 "Security issues, code pages are readable by who takes control of the OS"
Hi everyone,
I'm new to this framework and in general to the subject but I know that the TEE is supposed to protect data executed within the enclave from compromised OSes.
Now, since the code is freely accessible in the folder of the project how do we manage privacy protection?
Specifically, I'm writing an app that seals some passwords into protected memory, but password are readable in my files,

[2020-08-17 16:01] mingweishih commented on #3399
What you describe is correct---"protect data executed within the enclave" really means that its a runtime protection (i.e., data-in-use protection). This also implies that TEE is not for protecting the privacy of the source code, but for the runtime data generated by the code. For example, you can write an application that generates a random key. In this case, this key is protected by TEE against

[2020-08-17 17:42] douglasmaciver opened #3401 "Speculative execution mitigations: Calls to oe_is_outside_enclave should be followed with oe_lfence"
Care must be taken with host<->enclave interfaces to protect against **speculative execution threats**.
Whenever an enclave bounds-checks memory to ensure it is _outside_ of the enclave with a call to `oe_is_outside_enclave()`, it should follow this validation with a call to `oe_lfence()` to stop speculative execution along that logic path. This guidance should be followed for both application and

[2020-08-17 17:49] yentsanglee commented on #3375
TCB Info structure update (to v3) will be pushed to a future API revision.

[2020-08-17 17:54] dthaler commented on #3387
This Issue and #3399 are both related to code confidentiality.

[2020-08-17 18:04] radhikaj commented on #3367
@haitaohuang can you please provide any further insights into this problem?

[2020-08-17 18:08] radhikaj commented on #3401
Note: oe_lfence() can be used on anything running on Intel.

[2020-08-17 18:17] radhikaj commented on #3387
Keeping this issue open for tracking the PCL feature.

[2020-08-17 18:18] radhikaj commented on #3399
#3387 will track PCL. Closing this since the questions are answered.

[2020-08-17 18:18] #3399 closed

[2020-08-17 18:27] radhikaj commented on #3377
size_t is the wrong type since mbedtls_x509write_crt_der can return a negative value on failure.
Follow up on Anand's question.

[2020-08-17 18:29] radhikaj commented on #3375
Will do when Intel releases the dependency

[2020-08-17 18:31] radhikaj commented on #3372
mktime is not supported.
The list of APIs are listed here:https://github.com/openenclave/openenclave/blob/master/docs/LibcSupport.md

[2020-08-17 18:36] radhikaj commented on #3372
If mktime is locale specific, is there another POSIX API that can be used?

[2020-08-17 19:41] haitaohuang commented on #3367
For system with UEFI secure boot users have to interactively  finish key registration via boot screen.
See https://wiki.ubuntu.com/UEFI/SecureBoot/DKMS

[2020-08-17 20:30] shnwc commented on #3379
I've just created PR #3402 to fix this issue. Please review.

[2020-08-17 22:38] JeromeCustodio commented on #3367
@haitaohuang  maybe that (driver installation which will require a uefi mok registration) should be added as a note to GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md before running the ansible playbook script?

[2020-08-17 23:33] anakrish opened #3405 "CI/CD: Failed to fetch https://packages.microsoft.com/ubuntu/18.04/prod/dists/bionic/main/binary-amd64/Packages.bz2 File has unexpected size (129084 != 128880)"
Occasionally, when the metadata in mirrors are updated, apt will fail in VMs.
The failure will have the following message:

Here is an example: https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/1249/pipeline

The recommendation from the relevant team that handles apt repos is to wait for 5 minutes and then retry.
|

[2020-08-18 04:26] yentsanglee opened #3407 "Optimize build process"
Each bors request takes several hours to complete and the log files associated to the failed build takes even longer to become available. Besides making the build process quicker and more robust, PRs that only touch .md files (e.g. #3388)  can be merged immediately.

[2020-08-18 04:55] #3303 closed

[2020-08-18 11:02] yanxue-intel opened #3409 "oeedger-cpp ignores invalid syntax checks for "invalid 'wstring' attribute - `s' is not wchar_t pointer""
my.edl
[code]
oeedger tool from openenclave-0.9.x can check out this invalid syntax.
[code]

oeedger tool from openenclave-latest will pass
[code]

[2020-08-18 14:26] BRMcLaren commented on #3407
We're actually working on this currently for a better process.

The build logs taking hours to become available, do you have an example? This sounds strange and every log I have seen has always been instantly available. Bors works on a merge queue setting, which is sequential so I can somewhat understand the initial request taking some time but after that there should be zero delay with the logs.

[2020-08-18 14:33] BRMcLaren commented on #3407
I started [this](https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Linux/detail/Azure-Linux/1261/pipeline/84 ) a few minutes ago and was able to see the log instantly. I am wondering how the experience differs, has anyone else run into this issue of logs not surfacing?

[2020-08-18 16:31] haitaohuang commented on #3367
@JeromeCustodio I'm not familiar with how ansible playbook works.  your suggestion is reasonable. Or if script can check secure boot enabled (mokutil --sb-state)  and try to run "update-secureboot-policy --enroll-key",  then  throw some useful msg to user in case of error. If I read code correctly,  "update-secureboot-policy {--enroll-key|--new-key"  are no-ops if an MOK key is already created/enr

[2020-08-18 23:51] douglasmaciver commented on #3401
@anakrish During the SIG bridge discussion, it was asserted that the compiler, if configured with spectre mitigation flags, would inject lfence instructions where necessary for Intel targets. This assertion does not hold for two reasons 1) compiler support is not available for all compilers currently in use by openenclave, and 2) There has been analysis that casts doubt on the efficacy of compiler

[2020-08-19 00:25] anakrish commented on #3401
@douglasmaciver
To clarify, the compiler mitigation we use is [speculative load hardening](https://llvm.org/docs/SpeculativeLoadHardening.html).
It is a more general speculative execution vulnerability mitigation that does not use lfence.

Yes, since oeedger8r inserts lfence at boundary function, it is consistent to manually add lfences in those few boundary functions that are not under the purvie

[2020-08-19 01:45] #3351 closed

[2020-08-19 03:14] BRMcLaren opened #3413 "CI Down, Jenkins fails to pull down sub-modules"
Earlier today we began to run into a problem with the submodule updates. This is believed to be caused by the new OpenSSL integration (115 M) submodule.

[code]

This is affecting a number of our integration servers, we are currently looking into this.

CI is down for right now, sorry everyone.

[2020-08-19 03:45] #3362 closed

[2020-08-19 04:19] BRMcLaren commented on #3413
I spawned another jenkins master to validate agent images to try to rule out a point of failure.

https://oe-jenkins-tf.westeurope.cloudapp.azure.com/job/Brett-Fix-Submodule/ shows 10 jobs, all passing (minus code coverage). By this it seems that it's actually the Jenkins master failing over and the agents and code base is stable. Working to deploy replicate the master and deploy a new server.

It

[2020-08-19 04:32] #3231 closed

[2020-08-19 05:45] #3389 closed

[2020-08-19 19:34] BRMcLaren commented on #3413
Ok, so I did some investigation, made a backend fix upgrading the disk size.

Validated 3 times

https://github.com/openenclave/openenclave/pull/3415
https://github.com/openenclave/openenclave/pull/3416
https://github.com/openenclave/openenclave/pull/3417

And ran quite a few tests, I believe this issue to be resolved at the SDK level and am closing the issue.

[2020-08-19 19:35] BRMcLaren commented on #3413
Will wait until EOD, in hindsight before closing just in case.

[2020-08-20 02:42] #3338 closed

[2020-08-20 07:20] yanxue-intel opened #3420 "oeedger-cpp's error message about “duplicated attribute” contains absolute path"
duplicated_size.edl

[code]
old version oeedger8r results:
[code]
oeedger-cpp result:
[code]

[2020-08-22 12:16] VincenzoGallicchio opened #3429 "Problem in executing the example attested_tls on Ubuntu 18 with no virtual machines"
Hi everybody, I've been trying to use the attested_tls example locally but it gets stuck and I can't figure out why, can someone help me? Thank you

It successfully starts the enclave tls server which waits for connections but then, when the client tries to reach it,  it stops.
I think it's a problem related to the remote attestation feature

Here's the error:

Azure Quote Provider: libdcap_quotep

[2020-08-24 05:10] yentsanglee commented on #3429
It failed in az-dcap-client. Try setting AZDCAP_DEBUG_LOG_LEVEL environment variable to INFO (as instructed in [README](https://github.com/microsoft/Azure-DCAP-Client/blob/master/README.md))  and re-run the sample. Watch out for libdcap_quoteprov.so errors.

[2020-08-24 07:21] lzha101 opened #3430 "OE SDK doesn't support signing and loading enclaves that need the provisioning key access"
From the doc [build and sign](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/buildandsign.md#signing-an-sgx-enclave), current OE SDK supports below configuration fields:
[code]
And the corresponding values could be also provided in the OE_SET_ENCLAVE_SGX  macro in another way for debug mode.

It doesn't provide any interface to configure other attribute flags, such

[2020-08-24 07:57] yanxue-intel opened #3431 "oeedger-cpp ignores (w)string conflicts with out,user_check,count,size"
my.edl
[code]

old version(OCAML) oeedger can check out those invalid syntax, but oeedger-cpp will ignore.

[2020-08-24 18:06] anakrish commented on #3431
This is not a blocker. It is just extra error checking. Therefore we have put it in backlog. Will get to this in v0.11 if time permits.

[2020-08-24 18:09] anakrish commented on #3430
Rationale: Needed for feature parity with SGX SDK.

[2020-08-24 18:12] anakrish commented on #3429
Waiting for response from issue filer.

[2020-08-24 18:13] MWShan commented on #3430
@binxing - can you review this issue?

[2020-08-24 18:14] anakrish commented on #3420
It is on purpose to be more informative. By design. Closing it. Please reopen if you think otherwise.

[2020-08-24 18:14] #3420 closed

[2020-08-24 18:16] anakrish commented on #3409
Thanks for reporting this.
@anakrish Will follow up on this issue.

[2020-08-24 18:27] anakrish commented on #3401
Can @MWShan comment on this?
We are debating whether to add lfences or not. Intel SDK manually adds lfences; we rely on compiler mitigation (clang).
But we also support GCC.

[2020-08-24 18:34] anakrish commented on #3401
CC @markg-intel

[2020-08-24 18:38] anakrish commented on #3401
See PR #3418 for discussions

[2020-08-24 18:45] BRMcLaren opened #3434 "Open Enclave triage should label issues with repos"
Open Enclave triage is currently being used as a catch-all bucket for issues related to the organization. This seems fine, but a better process might be to label the issues with "area/<repo>" if applicable.

An example can be seen with Jetstack https://github.com/jetstack/cert-manager/pulls

Where every issue is clearly labeled to which repo it belongs to, this seems to scale well as we onboard mo

[2020-08-24 18:53] BRMcLaren commented on #2878
I recently found a faster way to get around this bug, wanted to share. If you go to your Bors logs:

![image](https://user-images.githubusercontent.com/54328827/91083954-09fa2b80-e600-11ea-9223-b63b55f99c38.png)

Click the classic UI button.

![image](https://user-images.githubusercontent.com/54328827/91084021-2e560800-e600-11ea-92b1-db16d985f640.png)

Then if you go to the job, it will show the u

[2020-08-24 18:53] BRMcLaren commented on #3407
Added another tutorial: https://github.com/openenclave/openenclave/issues/2878#issuecomment-679303813 for the logging issue

[2020-08-24 19:04] binxing commented on #3430
The enclave configuration is embedded in the enclave image in the form of an oe_sgx_enclave_properties_t structure. oesign only overwrites those fields set explicitly in .conf file. My thought is, for enclaves that require setting attribute bits not provided/supported by oesign or OE_SET_ENCLAVE_SGX, the developer could define an oe_sgx_enclave_properties_t global constant explicitly. The code may

[2020-08-24 19:18] anakrish opened #3438 "malloc/free used in two places while oe_malloc/oe_free as used elsewhere"
Binary analysis of echo_enc reveals that malloc/free is used by [`oe_cert_verify`](https://github.com/openenclave/openenclave/blob/baa31bc8ff8164611f07c9162085a3f1e5362ade/enclave/crypto/cert.c#L851) and [`_export_keypair`](https://github.com/openenclave/openenclave/blob/816e0be5b47f7da600d85cc7857756800dbacc8e/enclave/asym_keys.c#L202) functions.

We can see that rest of the OE SDK mainly uses `o

[2020-08-24 19:54] anakrish commented on #3438
CC: @yentsanglee @mingweishih

[2020-08-24 23:53] anakrish opened #3440 "Unimplemented syscall SYS_futex"
Binary analysis of echo_enc reveals that the following functions call `__syscall`:
[code]

`__lockfile` calls `SYS_futex` via the inline `__futexwait` function.
https://github.com/openenclave/openenclave/blob/6ee7306a84b722820cbbb82602e3ebd9d0ccc207/3rdparty/musl/musl/src/stdio/__lockfile.c#L14

When executed, echo_enc does not hit the unimplemented `SYS_futex` syscall and does not abort at runtim

[2020-08-25 10:50] VincenzoGallicchio commented on #3429
Unfortunatelly the attested_tls is still no working.
Here's the result of ctest:
98% tests passed, 6 tests failed out of 273

Total Test time (real) = 247.47 sec

The following tests did not run:
	 73 - tests/bigmalloc (Skipped)
	219 - tests/report_attestation_without_enclave (Skipped)

The following tests FAILED:
	 62 - tests/tls_e2e (Child aborted)
	 69 - tests/attestation_cert_api (Failed)
	 70

[2020-08-25 10:51] wintersteiger opened #3443 "Build failures on Windows"
I'm trying to build OE on Windows and after cmake-configuring the build, I get

    ninja: error: 'cmake_object_order_depends_target_mbedcrypto_static_Debug', needed by
    'cmake_object_order_depends_target_safecrt_enc_Debug', missing and no known rule to make it

(with `cmake version 3.17.20032601-MSVC_2`). Building the host verification library via `ninja oehostverify` gets further, but then fa

[2020-08-25 13:36] BRMcLaren commented on #3443
Hi @wintersteiger , I am not the best to assist your question with regards to linkers, however, you did ask the status of Windows Builds. I wanted to point out this [job](https://oe-jenkins-dev.westeurope.cloudapp.azure.com/job/pipelines/job/Azure-Windows-Badge/) which provides an up to date status of windows builds.

Admittedly it only covers the SGXFLCGettingStarted use case, which uses an older

[2020-08-25 13:42] wintersteiger commented on #3443
Thanks for the pointer @BRMcLaren! Yes, I found a couple more issues that are likely triggered by a VS2019 that's too new and possibly a clang that's too old. In the meanwhile I managed to get it to build, I'll try to summarize my findings to see whether we can simplify this for others.

[2020-08-25 15:20] mingweishih commented on #3443
This is a duplicate of https://github.com/openenclave/oeedger8r-cpp/issues/39, and will fixed once we update the oeedger8r that the OE currently points to (part of #3366).

[2020-08-25 15:44] #3434 closed

[2020-08-25 17:12] anakrish commented on #3387
@MWShan says first class feature in Intel SDK.
@Dave says edge customers want it to.

[2020-08-25 17:28] anakrish commented on #1902
Per [SIG-Arch meeting](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?view#11-Aug-2020):
* Consensus is that changes that can be upstreamed should use Option 1.
   * This fork would be maintained under the OE SDK project.
   * If we maintain a fork for holding changes while upstreaming, we should be clear the fork is not intended for consumption as a standalone (i.e. we are not forking the original proj

[2020-08-25 17:28] #1902 closed

[2020-08-25 17:39] anakrish commented on #3073
First scenario is addressed by #3342

[2020-08-25 17:42] #3073 closed

[2020-08-25 18:05] anakrish commented on #3443
I think this might be due to issues with the cmake that is part of VS 2019 (I vaguely remember having encountered this before).
Installing latest cmake from the official distribution might fix this.

[2020-08-26 00:47] qinkunbao commented on #3387
Thank you for the information.

I agree that there are multiple ways to implement PCL. But for SGX, no matter how you do it, you have to create a writable and executable page inside the enclave. So the design naturally breaks the data execution prevention feature in modern computer systems.

It is the same with JIT. Maybe the issue can be solved by Intel SGX2.

[2020-08-26 08:30] lzha101 commented on #3430
@binxing,  users may manually define the global constant, but current implementation restricts the attributes could never be other values rather than DEBUG flag and MODE64BIT flag.  See https://github.com/openenclave/openenclave/blob/master/include/openenclave/internal/sgx/sgxproperties.h#L35

Another thing is: when creating enclave, the attributes in secs are not copied from the oe_sgx_enclave_pr

[2020-08-26 13:34] wintersteiger commented on #3443
Thanks @anakrish, you're right, it works fine with the latest cmake.

[2020-08-26 20:48] dthaler opened #3447 "Make SGX specific structures be internal"
In PR #3441 Shanwei wrote:

Opening this issue to track the above proposal.

[2020-08-27 00:37] lzha101 opened #3449 "RSA key generation failure with OE OpenSSL"
OE OpenSSL is an experimental feature currently. Tried below code snippets inside enclave built with OE OpenSSL + OE SDK. Seems it always fails at `RSA_generate_key_ex()`.

[code]
But the same code logic executes successfully in untrusted app with system OpenSSL ( v1.1.1).
I also verified the code snippets inside enclave with SGXSSL + Intel SGX SDK:  The RSA key could be generated successfully as

[2020-08-27 01:22] yentsanglee commented on #3313
There was an agreement for MAA to use **1.3.6.1.4.1.311.105.3** going forward but OE SDK has to be extended to recognize the MAA OID.

[2020-08-27 01:32] CodeMonkeyLeet commented on #3449
@mingweishih I suspect this is because the rdrand engine is not registered by default; can you work with @lzha101 on the expected usage of the current implementation?

[2020-08-27 01:33] mingweishih commented on #3449
Currently it's required to register the rdrand engine to use OpebSSL RAND APIs in OE, please see https://github.com/openenclave/openenclave/blob/master/docs/OpenSSLSupport.md#how-to-use-rand-apis for more details.

[2020-08-27 02:22] lzha101 commented on #3449
Thanks for your clarification. So currently each API which requires to access random needs to register the rdrand engine first.
SGXSSL uses an exception handler to handle the case `rdtsc` instruction not supported in SGX1. Do you plan to do this as well, like what you did for `cpuid`?  Then it doesn't require users to change anything to adopt the OE OpenSSL.  And it seems more generic. Currently O

[2020-08-27 13:42] Liaojinghui opened #3450 "Any Instruction on Developing for ARM OPTEE with OpenEnclave?"
I'd like try out the cross platform feature of openenclave to develpe an app for both SGX and ARM. Any instruction on doing this? I checked the test cases for Trustzone, it seems there are some differences in the code for SGX and ARM.

[2020-08-27 16:30] mingweishih commented on #3449
We do consider that option (i.e., handling `rdtsc` via exception handler). However, we didn't support it mainly for security and performance reasons. More specifically, `rdtsc` with exception handler cannot be considered as secure source. In addition, the default OpenSSL (assuming v1.1.1) RAND seed/reseed that use `rdtsc` involve in multiple context switches (including invocation of the `rdtsc` it

[2020-08-27 18:10] anakrish commented on #3450
Hi, here is the Getting Started Doc for OPTEE using Open Enclave: https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/OP-TEE/Introduction.md

CC: @dthaler @HernanGatta

[2020-08-27 23:47] Liaojinghui commented on #3450
Thank you very much. May I ask that whether does openelcave fully support the function of OPTEE? And can we compile all  OE_SGX based openenclave application for TrustZone platform?

[2020-08-28 09:39] johnvenn commented on #3387
I am working on porting Intel's SGX SDK protected-code-loader to Open Enclave with a proposal(still WIP). The current implementation in Intel 's SGX SDK is based on the 2nd option. There is also security concern (a known issue)about revert back the RWX pages to RX on loading the enclave. We'll take it into consideration in our solution.

[2020-08-28 13:16] jumaffre opened #3455 "host_verify CLI should display some quote information"
The `host_verify` CLI shipped with `openenclave` is very useful for clients to verify the quote of an enclave server they are connecting to. In CCF, we rely on this utility [in this way](https://microsoft.github.io/CCF/master/users/verify_quote.html).

However, it is important for a client to verify not only that the quote is valid, but also that the version of the code (`mrenclave`) is trusted. S

[2020-08-28 18:05] #3068 closed

[2020-08-29 01:13] #3312 closed

[2020-08-29 12:12] gkostal commented on #3313
@ad-l , MAA was recently changed to use `oe_generate_attestation_certificate` to generate its signing certificate.  This change is now live in PROD, so `oe_verify_attestation_certificate` should work for you.

[2020-08-30 01:38] douglasmaciver opened #3456 "Multiple potential null pointer derefs in hostcalls.c"
There are two potential null pointer derefs.

Here with td:
https://github.com/openenclave/openenclave/blob/8e8c5cb91fdfef859bd20a8b996110cf5910616d/enclave/core/sgx/hostcalls.c#L13-L16

And here with ecall_context:
https://github.com/openenclave/openenclave/blob/8e8c5cb91fdfef859bd20a8b996110cf5910616d/enclave/core/sgx/hostcalls.c#L66-L72

[2020-08-30 20:27] douglasmaciver opened #3457 "oeedger8r-cpp generating unsafe arithmetic for buffer calculations for both ecalls and ocalls"
`oeedger8r-cpp::psize(...)` is an internal utility function used to generate marshalling code for both ecalls and ocalls. Given oeedger8r's broad use in generating security boundary code for both applications and openenclave, it is important that calculations are correct and protected against integer overflow. In its current implementation, `psize(...)` generates unsafe arithmetic for buffer sizin

[2020-08-31 03:46] douglasmaciver opened #3458 "oe_parse_report: insufficient validation of host-controlled input results in buffer overread"
`oe_parse_report` does not adequately validate that input buffer is large enough to hold either `sgx_report_t` or `sgx_quote_t` resulting in a potential buffer overread (e.g. into the adjacent enclave output buffer) resulting in undefined behavior.

https://github.com/openenclave/openenclave/blob/8e8c5cb91fdfef859bd20a8b996110cf5910616d/common/sgx/report.c#L87-L109

[2020-08-31 05:36] #3379 closed

[2020-08-31 16:42] douglasmaciver opened #3459 "oe_verify_evidence: insufficient validation of host-controlled input results in buffer overread"
Embedded structure is not validated properly to ensure it is contained within outer buffer. The is similar to #3458.

If there is no format...
https://github.com/openenclave/openenclave/blob/ab69ff71dede60317426d739e170289e32706994/common/attest_plugin.c#L302-L303
...
Host-controlled embedded structure size is not validated to ensure it is within outer buffer:
https://github.com/openenclave/openen

[2020-08-31 17:07] douglasmaciver commented on #3459
This pattern extends down into the next nested structure passed to `_verify_evidence`.

https://github.com/openenclave/openenclave/blob/ab69ff71dede60317426d739e170289e32706994/common/sgx/verifier.c#L649-L664

[2020-08-31 17:27] yentsanglee commented on #2999
Resolved by PR #3441 and other PRs.

[2020-08-31 17:27] #2999 closed

[2020-08-31 17:49] radhikaj commented on #3457
This is a duplicate of #2390

[2020-08-31 18:01] dthaler commented on #3374
Pull requests relevant to the diffs:

- PR #3435 (Update quorum and voting rules to be two-thirds in Technical Charter)
- PR #3437 (Rename TSC to CGC in Technical Charter)
- PR #3436 (Update filenames of documents related to contributing) or PR #3439 (Add CONTRIBUTING file per Technical Charter)

[2020-08-31 18:08] radhikaj commented on #3443
@wintersteiger , do you have any additional issues you need to be addressed? If not, can you please close this issue?

[2020-08-31 18:10] #3378 closed

[2020-08-31 18:12] radhikaj commented on #3447
Can the file be moved out of bits? Do any of the other public headers use these definitions?

[2020-08-31 18:16] #3457 closed

[2020-08-31 18:16] douglasmaciver commented on #3457
Closing due to it being a duplicate.

[2020-08-31 18:23] radhikaj commented on #3456
@douglasmaciver Is there a generic way to detect all the missing nullptr checks? Is there some tooling we could use?

[2020-08-31 18:26] CodeMonkeyLeet commented on #3447
Looking at some of the data structures, it looks like it sgxtypes.h might have been used for the sgxproperties.h for the `sgx_sigstruct_t`, but it turns out we already abstracted that out to an _OE-prefixed type_ and declared as an opaque buffer on the public side. It doesn't look like there's a lot of references to the contents of sgxtypes.h otherwise.

A quick check for this would be to remove t

[2020-08-31 18:27] radhikaj commented on #3456
Intel SDK uses Clockwork to track such patterns. @douglasmaciver will follow up with a tool/analysis to find more locations for this.

[2020-08-31 18:29] radhikaj commented on #3456
@dthaler suggests annotations. How would they be enforced?

[2020-08-31 18:57] yentsanglee commented on #3429
@VincenzoGallicchio This error "2020-08-25T10:47:54.000000Z [(H)ERROR] tid(0x7fbeef90b1c0) | Platform TCB (4) is not up-to-date" indicates that your SGX platform TCB is not up-to-date. Please **ensure that your SGX firmware and software are both updated**. You may run attested TLS sample by

which gives your verbose output for you to root cause the problem.

[2020-08-31 20:57] douglasmaciver commented on #3459
Hi @yentsanglee, endorsements will also need to be validated.

[2020-08-31 20:59] yentsanglee commented on #3455
We are planning on moving to oe_verify_evidence() soon. Will print associated claims for mrsigner, mrenclave, and report_data.

[2020-09-01 08:54] #3443 closed

[2020-09-01 10:50] letmaik commented on #3313
@gkostal Thanks! I verified it and it works. I'm assuming the following is obsolete:

[2020-09-01 18:31] #2850 closed

[2020-09-01 21:51] rs-- opened #3470 "Update docs to the latest Intel drivers"
Most, if not all, documentation refer to older versions of Intel Drivers; documentation should be updated to reflect the latest Intel drivers that are supported.

[2020-09-01 21:56] rs-- opened #3471 "Update URLs to latest Intel RHEL drivers"
Update URLs to reflect the latest Intel drivers released for RHEL.

https://download.01.org/intel-sgx/sgx-linux/2.11/distro/rhel8.2-server/
https://download.01.org/intel-sgx/sgx-dcap/1.8/linux/distro/rhel8.2-server/

[2020-09-02 00:25] douglasmaciver opened #3472 "oe_parse_sgx_endorsements(): integer underflow in item size calculation results in large buffer overreads"
The integer underflow occurs due to an unguarded presumption that serial offsets in a submitter-controlled table increase as the table is parsed.  The code error is in the calculation of `item_size`.  Complete exploitability undetermined, but thought to be low.

https://github.com/openenclave/openenclave/blob/06f8170f1c119c6b74d5e51d0de9032a9a51dea7/common/sgx/endorsements.c#L300-L321

[2020-09-02 02:32] #3438 closed

[2020-09-02 03:11] douglasmaciver opened #3473 "eeid::deserialize_element(): improper bounds checking leads to integer underflow and buffer overread"
While the calling context for `deserialize_element()'s` upstream function `oe_deserialize_eeid()` is not known, clearly this parsing function is not coded for unexpected input, malicious or not.  The `while` loop does not check for exhaustion of the remaining buffer.

https://github.com/openenclave/openenclave/blob/a85420361cbd37f3e503c65954341bcd25d0251a/common/sgx/eeid.c#L87-L102

[2020-09-02 08:48] #3458 closed

[2020-09-02 08:48] #3459 closed

[2020-09-02 14:16] wintersteiger opened #3474 "C11 and asm"
The cmake scripts set the C standard to C11 ([here](https://github.com/openenclave/openenclave/blob/1ffb22341d1d48f994e42a79ddcfe54b0e47f467/cmake/compiler_settings.cmake#L19))

However, on Linux it adds `-std=gnu11` instead of `-std=c11`, which allows GNU extensions like the `asm` keyword, while on Windows it adds `-std:c11`, which does not.

Versions:
Linux: cmake 3.18.2, with clang-7 or gcc 7.5

[2020-09-02 17:45] douglasmaciver opened #3475 "oe_sgx_init_context_switchless_ecall: multiplicative integer overflow allows incomplete memory validation"
Unsafe arithmetic in `oe_sgx_init_context_switchless_ecall()` allows for miscalculation of `contexts_size` which is used in the call to `oe_is_outside_enclave()`. `num_host_workers` is unbounded and the calculation is multiplicative, leading to the possibility that some of the host_worker_contexts are subsequently calculated to be within enclave memory, leading to undefined behavior. Full exploita

[2020-09-02 19:14] yentsanglee commented on #3276
@jumaffre can you investigate this?

[2020-09-02 19:22] anakrish commented on #3475
@mingweishih Can you also see if this is a security issue?

[2020-09-02 19:44] jhand2 commented on #3474
cc @anakrish as well

In general we rely on a bunch of GNU extensions (specifically function/variable attributes) inside the enclave, so for enclave code I think it's fine to just always use gnu11.

But I'm a little confused. On the host the following code is currently used for all platforms:
[code]

If `asm volatile` is a gnu extension, why does this work on Windows?

[2020-09-02 20:16] anakrish commented on #3474
@jhand2 We compile host/sgx/enter.c using clang on Windows. Doing so allows us to avoid having to hand implement the host side enter/exit in asm, which was quite difficult to get right.

[2020-09-02 20:19] anakrish commented on #3474
@wintersteiger Mapping the msvc `-std:c11` flag to `-std=gnu11` appears to be the right thing to do.

[2020-09-02 20:30] BRMcLaren opened #3477 "New DCAP release broke CI ansible scripts"
With Intel's new DCAP release a change was noticed in the packaging and
`/usr/lib/x86_64-linux-gnu/libsgx_dcap_quoteverify.so` is no longer installed.

This causes issues with the CI scripts as part of the validation checks we check the file paths. This package needs to be added to the scripts as a quick fix, the long term fix being to version the PSW/DCAP libraries to ensure this does not happen

[2020-09-02 20:41] CyanDevs commented on #3477
libsgx_dcap_quoteverify is now provided by the libsgx-dcap-quote-verify-dev now and should be added to https://github.com/openenclave/openenclave/blob/f1bc20839bcbd673edb2ecc80d2942914d1aecd9/scripts/ansible/roles/linux/intel/vars/ubuntu/main.yml#L14

[2020-09-02 21:45] CodeMonkeyLeet commented on #3474
@wintersteiger Thanks for the investigation and explanation! I agree that using the `-std=gnu11` flag in the clangw script is probably the cheapest fix here that makes sense.

[2020-09-03 08:55] wintersteiger commented on #3474
Great! I agree, `-std=gnu11` is the best solution.

[2020-09-03 08:55] #3474 closed

[2020-09-03 13:47] eddyashton opened #3483 "Why is pthread_spin_trylock() not provided?"
Open Enclave provides partial support for standard POSIX/LibC functions. The current support is listed [here](https://github.com/openenclave/openenclave/blob/master/docs/LibcSupport.md). This list does not include `pthread_spin_trylock()`. All other `pthread_spin_` functions _are_ supported, as far as I can tell only `trylock` is missing

Why is this? Is there a technical reason why `trylock` is n

[2020-09-03 16:43] anakrish opened #3486 "Different return types (int, oe_result_t) for threading apis on host and enclave"
Host side threading APIs return int:
https://github.com/openenclave/openenclave/blob/7060b014b6a7af86eb6329ca49e07296dda9fe3e/host/hostthread.h#L143

whereas enclave side threading APis return oe_result_t
https://github.com/openenclave/openenclave/blob/7060b014b6a7af86eb6329ca49e07296dda9fe3e/include/openenclave/internal/thread.h#L223

This inconsistency could lead to subtle errors.

[2020-09-03 18:13] anakrish commented on #3483
This is likely an accidental omission.

[2020-09-03 18:23] anakrish commented on #3477
Should we instead assert that /usr/lib/x86_64-linux-gnu/libsgx_dcap_quoteverify.**so1** is present?
From what I understand, dev packages are not expected to be installed on production environments.
They just provide a symbolic link to the acutal shared library.

[2020-09-03 19:04] dthaler commented on #3486
It's not just that, the argument type is different too: oe_mutex_t vs oe_mutex

hostthread.h violates the [OE style guidelines](https://github.com/openenclave/openenclave/blob/master/docs/Community/DevelopmentGuide.md#naming-conventions) (naming convention point 7):

[2020-09-03 20:54] BRMcLaren opened #3488 "Bors takes 4 hours to timeout a failed build"
This a clean up request.

Earlier this year the OE project did not have enough hardware to accommodate the testing suites, the solution was to allow for longer testing suites (4 hours). We haven't seen a legitimate (possible to complete) build take longer than an hour in a few months, suggest lowering the timeout time to not extend the queue time unnecessarily.

[2020-09-03 22:53] BRMcLaren commented on #3328
libsgx-enclave-common-dev is removed in #3327

[2020-09-04 02:38] #3333 closed

[2020-09-04 12:18] achamayou commented on #3455
@yentsanglee that's great to hear, thank you.

[2020-09-04 13:02] wintersteiger opened #3490 "Name of libsgx_quote_ex.dll"
I'm wondering whether `libsgx_quote_ex.dll` ([here](https://github.com/openenclave/openenclave/blob/52ec4e58ec0d41468d4d60fc34ca53addef8c3ef/host/sgx/windows/sgxquoteexloader.c#L13)) had its name changed to `sgx_quote_ex.dll`. After installing everything (I think) on a fresh Windows 10 ACC VM, I find `sgx_quote_ex.dll` in `C:\Windows\SysWOW64` (and the Intel DCAP package), but I have no `libsgx_qu

[2020-09-04 15:50] anakrish commented on #3490
Since, by convention, shared libraries on Windows don't have the `lib` prefix, this seems like a latent typo/bug.

[2020-09-04 19:37] #3477 closed

[2020-09-04 22:38] radhikaj commented on #3323
Also see #2798

[2020-09-04 22:45] mattbodd opened #3494 "Extraneous trailing quotation marks in Windows prereq script in #3491"
Double trailing quotation marks in lines:

https://github.com/openenclave/openenclave/blob/b185b68aec3bb466b64b10e8f79954dce59a20b1/scripts/install-windows-prereqs.ps1#L548
https://github.com/openenclave/openenclave/blob/d52a6b424315c79e2310ee2749e43b8c59d5e795/scripts/install-windows-prereqs.ps1#L560

Results in the following errors:
[code]

[2020-09-04 23:00] jhand2 commented on #3494
cc @rs-- looks like this may have been added here: https://github.com/openenclave/openenclave/commit/b185b68aec3bb466b64b10e8f79954dce59a20b1

[2020-09-04 23:06] dthaler opened #3495 "Gratuitous differences in local vs remote attestation samples"
Doing a diff between the two (e.g., "windiff local_attestation remote_attestation") shows a bunch of gratuitous differences (having nothing to do with local vs remote), including a couple that look like errors.

Here's a few illustrative examples:

* Local sample frees claims at end of attestation.cpp and remote sample does not.
* Local sample makes duplicate calls to mbedtls_pk_rsa(), but remote

[2020-09-05 00:38] dthaler opened #3497 "Split samples into separate nuget package"
Currently all samples are included in the same OE SDK nuget package as the base SDK.

The issue is that when other projects include OE as a nuget package dependency, then in order to build the other project, you have to have the entire OE nuget package even though you don't depend on the samples.   This bloats the package unnecessarily.

Instead, samples should be in a separate nuget package that

[2020-09-05 15:28] BRMcLaren commented on #3015
Done task 1 as part of: https://github.com/openenclave/openenclave/pull/3498

[2020-09-07 23:58] douglasmaciver opened #3500 "_get_attester_plugins: buffer overread after ocall"
Returned buffer size is not validated against supplied buffer size, resulting in a potential buffer overread into enclave heap.  Out-of-bounds memory is copied safely into enclave heap due to memory allocation being based on host-reported buffer size. Full exploitability undetermined, but risk thought to be low.

https://github.com/openenclave/openenclave/blob/5a85b33476f94eebd57a7abdd34bd7584efeb

[2020-09-08 06:36] johnvenn opened #3501 "do we need to add --search-path in example command of oeedger8r in helloworld sample README.md?"
I found in sample helloworld README.md, there is a sample command line of using oeedger8r tool to generate files for host and enclave, but no search-path following oedger8r command:
cd host  //should add this command?
oeedger8r ../helloworld_sample.edl --untrusted // no --search-path?

cd enclave //should add this command?
oeedger8r ../helloworld_sample.edl --trusted //no --search-path?

[2020-09-08 20:12] johnvenn opened #3506 "a question: how is the hex value in _oe_enclave_setting_type calculated?"
Just a question in include/openenclave/host.h, oe_enclave_setting_type defined here:

typedef enum _oe_enclave_setting_type
{
    OE_ENCLAVE_SETTING_CONTEXT_SWITCHLESS = 0xdc73a628,
#ifdef OE_WITH_EXPERIMENTAL_EEID
    OE_EXTENDED_ENCLAVE_INITIALIZATION_DATA = 0x976a8f66,
#endif
} oe_enclave_setting_type_t;

but how those hex values caculated for "eeid" and "switchless" feature.

If I want to add

[2020-09-08 21:25] yentsanglee commented on #2945
I think the least we can do is to show the link to the header file at the error message - https://github.com/intel/SGXDataCenterAttestationPrimitives/blob/master/QuoteGeneration/quote_wrapper/common/inc/sgx_ql_lib_common.h

[2020-09-08 22:18] radhikaj opened #3508 "tls_e2e test hangs on RHEL"
We have noticed that the tls_e2e  test hangs every often on RHEL. We are temporarily disabling it while we investigate them.

[2020-09-09 00:22] dthaler commented on #3508
@radhikaj PR #3507 looks to be about tests, whereas title of this issue says sample.  Please clarify if this is about testing or about sample code.

[2020-09-09 00:45] radhikaj commented on #3508
@dthaler, thanks. I updated it to say sample.

[2020-09-09 13:08] wintersteiger opened #3512 "CPACK_PACKAGING_INSTALL_PREFIX"
When I try to build the NuGET package on Windows, I get this:

    CPack Error: Problem creating temporary directory: F:/dev/openenclave/build/_CPack_Packages/win64/NuGet/open-enclave-0.11.0-win64F:/installed/openenclave

This is a CPack build path with `CPACK_PACKAGING_INSTALL_PREFIX` concatenated onto it. My `CPackConfig.cmake` contains both, `CPACK_INSTALL_PREFIX` and `CPACK_PACKAGING_INSTALL_P

[2020-09-09 15:13] dthaler commented on #3508
What did you update.  The title of this issue says sample.  The description of this issue says test.  The PR says test.

[2020-09-09 15:15] mingweishih commented on #3508
@radhikaj only changed the label. I just changed the title as well.

[2020-09-09 16:39] douglasmaciver opened #3513 "oeedger8r should be modified to warn when an EDL specification cannot be fully serialized"
This is a request that openenclave implements the proposal linked below.

There have been several cases where projects may have avoided edge security issues if there had been warnings as proposed in this specification:
[docs/DesignDocs/full_edl_serialization.md](https://github.com/openenclave/openenclave/blob/master/docs/DesignDocs/full_edl_serialization.md)

[2020-09-09 17:34] yentsanglee commented on #3495
It was agreed on in SIG-Attestation meeting to combine remote and local attestation samples as enclave-to-enclave attestation sample.

[2020-09-09 18:37] #3508 closed

[2020-09-09 21:32] radhikaj commented on #3494
This is addressed here: https://github.com/openenclave/openenclave/pull/3496
Closing this issue.

[2020-09-09 21:32] #3494 closed

[2020-09-09 23:23] dthaler opened #3514 "Attestation samples' README files are no longer correct"
PR #3421 updated the attestation samples to use the evidence APIs, but didn't fix the README files which no longer reflect what the samples do.

They still talk about oe_get_report, target info, etc.

[2020-09-10 15:28] wintersteiger opened #3516 "time_t time(time_t*)"
corelibc promises `time_t oe_time(time_t* tloc);` ([here](https://github.com/openenclave/openenclave/blob/03e07014e80d4894aee58d41216eeaa6d321a11d/include/openenclave/corelibc/time.h#L26)), but I can't find its implementation and there is no such symbol in the libraries. Is the implementation missing or should the prototype be removed from the headers?

[2020-09-10 15:57] wintersteiger opened #3518 "Heap page flags"
Some applications (like SGX-LKL) require the executable flag on heap pages. The flags are currently hard-coded ([here](https://github.com/openenclave/openenclave/blob/03e07014e80d4894aee58d41216eeaa6d321a11d/host/sgx/create.c#L123)) which means that they can't be changed without modifying Open Enclave itself. (SGX-LKL does that [here](https://github.com/openenclave/openenclave/blob/2d24c56ed5432ca

[2020-09-10 16:23] wintersteiger opened #3519 "OE submodule"
Which version/branch of OE are we currently using? It looks like `feature/sgx-lkl-support` doesn't have everything it needs for user-space isolation:

    obj/sgxlkl/enclave_init.o: In function `_enter_user_space':
    /data/cwinter/sgx-lkl/src/enclave/enclave_init.c:119: undefined reference to `__oe_get_isolated_image_entry_point'
    /data/cwinter/sgx-lkl/src/enclave/enclave_init.c:130: undefine

[2020-09-10 19:50] dthaler opened #3521 "Open Enclave Repository Guidelines"
Currently [OE](https://github.com/openenclave) has a number of repos:
* openenclave: SDK for developing enclaves
* openenclave-build: Reproducible & secure build resources for Open Enclave
* oeedger8r-cpp: An implementation of oeedger8r in C++
* openenclave-mbedtls: Open Enclave copy of mbedtls for inclusion as submodule in SDK.
* openenclave-site: Website for Open Enclave SDK, please file issues

[2020-09-10 22:54] dthaler opened #3522 "Sample documentation doesn't work on Windows"
Only two samples have correct README files with Windows instructions:
* helloworld
* host_verify

The remaining samples have README.md instructions that are Linux specific and don't even say so:
* local_attestation
* attested_tls
* data-sealing
* file-encryptor
* pluggable_allocator
* switchless
* remote_attestation

The samples do work using the instructions [here](https://github.com/shants/opene

[2020-09-10 23:12] douglasmaciver commented on #3475
There are also potential downstream effects in oe_post_switchless_ocall, albeit with limited utility.

[2020-09-10 23:36] BRMcLaren opened #3523 "[Bug] Windows PSW/DCAP Dependency Incompatibility with Windows Update on Windows 2019"
When launching Windows 2019 vm's a common practice is for Windows Update to run before a user is able to tunnel into the VM. Yesterday this was the output configuration of Windows Update

Intel DCAP v1.8.x
Intel PSW v2.7.x

Which is not compatible versions whereas the current dcap and psw need to be aligned in this case 1.8 and 2.9, otherwise compatibility issues will be seen. Our installation scr

[2020-09-10 23:44] BRMcLaren opened #3524 "[Clean up] Refactor and Decouple Azure DCAP Client Installation from Intel DCAP Components installation on Windows"
Azure's DCAP Client relies on an in-order installation of the EnclaveCommonAPI NuGet package. This is a bug as they do not rely on one another and was likely done to preserve a PATH. We should clean this up.

[2020-09-11 18:38] douglasmaciver commented on #3500
Refinement of original post: The problem is with line 384, where the `uuid_count` is computed based on the `temporary_buffer_size` returned by the host.

[2020-09-11 22:23] radhikaj commented on #3514
Is this fixed in #3515?

[2020-09-11 22:38] dthaler commented on #3514
Yes #3515 is the fix for this issue.

[2020-09-11 22:38] #3514 closed

[2020-09-13 16:26] BRMcLaren opened #3530 "Win2019 Release Cross Compile DCAP LVI snmalloc unstable on new Intel release"
*Opening this to track and not lose, needs more initial investigation before triage, please skip on Monday's Triage.

It seems that the Win2019 Release Cross Compile DCAP LVI snmalloc is not stable on the latest Intel PSW release causing issues with the CI rebuild as 9/10 times it fails with

[code]

Despite passing all unit tests, packaging and installation the final sample testing seems to fail.

[2020-09-14 01:36] johnvenn commented on #3506
anyone who can answer my question?

[2020-09-14 16:27] anakrish commented on #3506
I could be wrong, but I think it is just a random hex string generated via `uuidgen` command on linux.

[2020-09-14 17:44] radhikaj commented on #3501
This is being addressed in #3527

[2020-09-14 17:47] mingweishih commented on #3250
Addressed by #3366.

[2020-09-14 17:47] #3250 closed

[2020-09-14 18:01] yentsanglee commented on #3276
@jumaffre feel free to work on this.

[2020-09-14 18:11] radhikaj commented on #3486
oe_result_t oe_mutex_lock(oe_mutex_t* mutex);  follows the guidelines. The top API should be changes to do this.

[2020-09-14 18:19] CodeMonkeyLeet commented on #3497
To add to this thought, we may want to stop distributing samples as part of the SDK package: the dev workflow is awkward today because the user still needs to copy the samples out of the default install location and chmod them appropriately to use them.

Instead, we may want to host them as separate repos under the OpenEnclave org, with fixed version dependencies on the OE SDK release branches so

[2020-09-14 18:20] radhikaj commented on #3506
@dthaler would like to review whether using a random number here is a good idea or not.

[2020-09-14 18:22] radhikaj commented on #3506
The answer is that this is just a random hex string.

[2020-09-14 18:26] radhikaj commented on #3513
@manojrupireddy Please investigate if we get warnings or not currently.

[2020-09-14 18:28] radhikaj commented on #3516
This can be removed, oe_time in the same file can also be removed.
OE_INLINE
time_t time(time_t* tloc)
{
    return oe_time(tloc);
}
We should look through history and see if this was ever implemented.

[2020-09-14 18:33] radhikaj commented on #3519
@wintersteiger, Is the question here which branch of OE is SGX-LKL using? If this is not related to oe master, can we close this here and track it elsewhere?

[2020-09-14 18:38] anakrish commented on #3516
Here is the callgraph for `time` function. It indicates that time function is being called by oecore (attestation) as well as be mbedtls. However, they seem to be using libc as opposed to corelibc (I'm not sure if that is recommended).

[code]

[2020-09-14 18:39] radhikaj commented on #3523
We will use this issue to track script problems and @BRMcLaren  will open another issue (tracked as External) to track the issue when mismatched PSW and DCAP are installed by WU.

[2020-09-14 18:44] radhikaj commented on #3524
We should be able to just get rid of EnclaveCommonAPI NuGet package in prereqs script.

[2020-09-14 18:45] BRMcLaren opened #3532 "[External] Windows PSW/DCAP Dependency Incompatibility with Windows Update on Windows 2019"
When launching Windows 2019 vm's a common practice is for Windows Update to run before a user is able to tunnel into the VM.

Yesterday this was the output configuration of Windows Update

Intel DCAP v1.8.x
Intel PSW v2.7.x

Which is not compatible versions whereas the dcap and psw need to be aligned in this case 1.8 and 2.9, this points to an issue upstream where the dependencies are potentially

[2020-09-14 18:48] radhikaj commented on #3449
@lzha101 , @mingweishih  has a workaround described in  https://github.com/openenclave/openenclave/blob/master/docs/OpenSSLSupport.md#how-to-use-rand-apis
Based on the discussion in SIG-Testing, I am moving this to backlog.

[2020-09-14 22:59] mingweishih commented on #3516
Copy @CodeMonkeyLeet comments:

The presence of gmtime.c and the include/openenclave/corelibc/time.h (see #3516) both look like regressions. PR #3057 removed these functions as they were not used by oecore, and they were reintroduced in PR #3059, likely as the result of a bad merge.

[2020-09-15 00:25] #3470 closed

[2020-09-15 02:23] johnvenn commented on #3506
ok, thanks a lot.

[2020-09-15 02:23] #3506 closed

[2020-09-15 04:10] BRMcLaren commented on #2960
Closing as resolved, fixed in #3525. @rs-- if I missed anything, please re-open as that wasn't the main focus of that PR.

[2020-09-15 04:10] #2960 closed

[2020-09-15 04:11] yentsanglee commented on #3196
@letmaik you can call oe_get_evidence() with a pointer to `endorsements_buffer`.

[2020-09-15 04:11] #3196 closed

[2020-09-15 10:25] wintersteiger commented on #3473
Thanks for reporting this issue! These functions are not used anymore, they have been replaced by the ntoh/hton functions further down in the file. Removed in #3535.

[2020-09-15 10:32] wintersteiger commented on #3516
That's right, the mbedTLS and attestation code (endorsement extraction) calls this function. I hit this when I tried to make mbedTLS call the right function (via `mbedtls_platform_set_time`), because in SGX-LKL it ended up calling SGX-LKL's musl `time`. Since mbedTLS allows us to override it, we have only the one use in `datetime.c` to take care of, which we could replace with `oe_get_time` if we

[2020-09-15 10:35] wintersteiger commented on #3519
SGX-LKL uses the `feature/sgx-lkl-support` branch, but something's gone wrong there recently, because SGX-LKL doesn't build (link) with that branch anymore and we're in some sort of in-between state with updates to `feature/sgx-lkl-support` blocked by https://github.com/lsds/sgx-lkl-musl/pull/38.

[2020-09-15 10:35] #3519 closed

[2020-09-15 10:43] mofanv opened #3536 "Ctest failed but samples work - SGX1 mode"
Hi,

I followed [SGX1GettingStarted.md](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/SGX1GettingStarted.md) to set up. The project built very well, but there are some tests failed in `ctest` as follows.

[code]

However, all `samples` (such as hello_world, etc) for SGX1 still work, and tests on them all passed. I wonder what results in these errors? a

[2020-09-15 11:17] #3488 closed

[2020-09-15 20:18] radhikaj opened #3539 "Deprecation of support for WS2016"
This issue tracks deprecation of support for WS2016.

After December 2020, the plan is for Open Enclave SDK to not support WS2016. Partners using WS2016 would need to move to use WS2019. The OE SDK uses Intel packages as dependencies. Intel plans to drop support for WS2016 by EOY 2020.

[2020-09-15 20:52] #3522 closed

[2020-09-16 01:53] binxing opened #3543 "Unnecessary CMAKE_PREFIX_PATH in openenclaverc"
`CMAKE_PREFIX_PATH` env var is supposed to contain a colon separated list of paths for cmake functions (such as `find_package`) to search for external modules. `share/openenclave/openenclaverc` however overwrites (rather than appending to) `CMAKE_PREFIX_PATH`, which potentially disables other external modules and would be problematic should an enclave depend on more external modules than just `Ope

[2020-09-16 02:22] mingweishih commented on #3543
CMAKE_PREFIX_PATH is required by LVI mitigation so it can't be removed. Also, I recalled that there is a problem with appending paths to CMAKE_PREFIX_PATH with openenclaverc.

Is there specific reasons you want to modify/remove the use of it?

[2020-09-16 03:45] yentsanglee commented on #3429
It has been 2 weeks. I am closing the issue.

@VincenzoGallicchio let me know if you are still blocked.

[2020-09-16 03:45] #3429 closed

[2020-09-16 09:38] hyjiang opened #3545 "oegdb cannot work during SGX ECALL function"
When I am using oegdb to debug SGX PSW (built by Intel(R) SGX SDK) untrusted code, oegdb will report error as below.
If we execute the program without debugger, everything works well.

**oegdb log:**
(gdb) set args ../enclave_a/enclave_a.signed ../enclave_b/enclave_b.signed
(gdb) r
Starting program: /opt/openenclave/share/openenclave/samples/remote_attestation/host/attestation_host ../enclave_a/en

[2020-09-16 14:06] achamayou commented on #3530
Related: https://github.com/openenclave/openenclave/pull/3537

On suspicion that this may be related to memory exhaustion, I've tried doubling and halving the number of heap pages, but the test passed either way. The sample process running out of memory really shouldn't cause the VM to come down though.

I have also observed the same VM failure in the non-snmalloc variant of the same pipeline (als

[2020-09-16 20:44] anakrish commented on #3545
@hyjiang Thanks for reporting this.
Can you  provide some additional information:
- What does bt show?
- Does dissambly show the correct location?
- Does /usr/lib/x86_64-linux-gnu/libsgx_qve.signed.so have debugging information?

[2020-09-17 01:30] #3456 closed

[2020-09-17 06:20] binxing commented on #3543
Hi @mingweishih,

It's just a potential problem for now, as `OpenEnclave` is the only package used by any enclave. But I'm worried the problem will become realistic some day, when there's need to import multiple cmake modules by an enclave. Moreover, I think it a bit ugly to **overwrite** `CMAKE_PREFIX_PATH`, which is supposed to be **appended** to instead.

IMHO, an easy and viable fix could be t

[2020-09-17 06:42] johnvenn opened #3551 "relocation type R_X86_64_GLOB_DAT is not supported?"
I found in file host/sgx/elf.c, function elf64_load_relocations, relocation type check excludes the type of "R_X86_64_GLOB_DAT", but this is also a type of relocation.

[2020-09-17 06:47] johnvenn commented on #3551
from Intel's SGX SDK, there are other relocation types:
    {
        switch (ELF64_R_TYPE(rela->r_info))

        {
        case R_X86_64_RELATIVE:
            break;

        case R_X86_64_GLOB_DAT:
        case R_X86_64_JUMP_SLOT:
        case R_X86_64_64:
            break;

        case R_X86_64_NONE:
            break;

        case R_X86_64_DTPMOD64:
        case R_X86_64_DTPOFF64:

[2020-09-17 08:26] yanxue-intel opened #3552 "oeedger-cpp ignores invalid syntax checks for "structure declaration specifies a deep copy, should not be used with an `out' attribute""
my.edl

[code]

oeedger-cpp tool's result:
[code]
oeedger(OCAML) tool's result:
[code]

[2020-09-17 17:10] anakrish commented on #3551
@johnvenn
OE SDK use `-fPIE` compiler flag and `-pie` linker flag to build enclaves. Additionally it uses -ftls-model=local-exec for the thread-local storage model. These flag tells the compiler/linker that code is being compiled for use in a "main" executable, and allows for various optimizations. As are result, the compiler/linker assume all the symbols used by the enclave are known before hand

[2020-09-17 17:44] syhamza opened #3553 "host_verify failing on Windows10 even though same quote is successfully verified on linux"
## Expected Behavior
`host_verify.exe -r node_quote.bin` should succeed if the node_quote is valid.

## Actual Behavior
host_verify.exe throws following error:
`2020-09-17T10:22:19-0700.505571Z [(H)ERROR] tid(0xa5e0) | sgxquoteprovider: LoadLibraryEx on dcap_quoteprov.dll error = 0x7e
 [..\host\sgx\windows\sgxquoteproviderloader.c:oe_load_quote_provider:83]
2020-09-17T10:22:19-0700.506076Z [(H)ERR

[2020-09-17 21:43] radhikaj opened #3555 "Deprecate support for gcc while building OE SDK from source"
1) Our developer docs state that developers should use clang while building from source
2) clang provides spectre mitigations while gcc(On Ubuntu 1604) does not.

What deprecation would mean
1) We remove CI support for building the SDK with gcc from source
2) Update docs to say that we only recommend building with clang while building the SDK from source.

From Sig-arch this morning
1. We will iss

[2020-09-17 22:02] ryanhsu19 commented on #3553
I followed the steps and `host_verify` on my Windows 10 printed out each claim name and its corresponding value size. Did you install `dcap_quoteprov.dll`, or Microsoft Azure DCAP binary?

[2020-09-17 22:05] yentsanglee commented on #3553
Instructions to install host_verify - https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_host_verify_Windows.md

[2020-09-17 22:23] mingweishih commented on #3543
I had a PR to fix this (#3554). Thanks for reporting this.

If you're talking about only the if branch, then it's correct that we can use either the original compiler or our wrapper (the lvi-mitigated version you refer to). For the else branch, we're doing a trick of modifying the PATH when invoking the compiler (i.e., excluding /usr/bin from the PATH) so that the compiler will not be able to find

[2020-09-17 22:38] syhamza commented on #3553
Great. DCAP installation and pointing to it in the PATH fixed the issue. Thanks for the help!

[2020-09-17 22:38] #3553 closed

[2020-09-18 00:32] #3472 closed

[2020-09-18 02:28] yanxue-intel opened #3557 "oeedger-cpp ignores invalid syntax checks for "Pointer array not allowed - `p' is a pointer array""
my.edl
[code]

oeedger-cpp tool's result:
[code]

oeedger(OCAML) tool's result:
[code]

[2020-09-18 05:04] yentsanglee commented on #3455
Assigning to @jumaffre as he is also fixing #3276

[2020-09-18 06:16] binxing commented on #3543
My dev env may be different but what I observed was that, if `clang-7` was prefixed with an explicit path, it'd search for `as` and `ld` in the prefix before searching $PATH.

Here's my test:

Create a very simple `clang-test.cpp`.
[code]

Then compile it using the original `clang-7`. As expected, it fails.
[code]

Then symlink `clang-7` to the current directory and try again. As expected, it fail

[2020-09-18 07:59] ysminnpu opened #3560 "Does openenclave support VBS enclaves？If not, any plan?"

[2020-09-18 09:47] hyjiang commented on #3545
After got error in gdb, any gdb command cannot work with error "Cannot execute this command while the selected thread is running." or "Selected thread is running."
It means there is no bt or dissambly output.
Also seems it's doesn't matter the debugging info about libsgx_qve.signed.so. I tried both scenarios, the results are same.

[2020-09-18 14:58] bodzhang commented on #3360
@anakrish, enclave code can check whether XSAVE is enabled through `REPORT.Attributes.XFRM`.

[2020-09-18 15:02] mingweishih commented on #3543
That PATH override is mainly to also cover the case of gcc, which has different behavior with clang as you described. That is, gcc will search whatever in the PATH for ld and as instead of the directory of where gcc binary is invoked.

[2020-09-18 15:07] mingweishih commented on #3536
Can you provide more information of your dev environment (e.g., local machine or Azure ACC VM, version of Intel SGX / DCAP Driver, etc.)

[2020-09-18 18:33] nico95v opened #3563 "Socket within Enclave."
Hello to all,
I took the helloworld example and I'm trying to create a socket communication with an external program written in Python. I run this in simulation mode. The main problem is that the creation of the socket in the enclave is not successful. Is it possible to communicate with a socket inside the enclave? Also, how can I import the openssl library and use it inside the enclave?
Thank you

[2020-09-18 21:26] jhand2 commented on #3563
Hey, a few answers and a few questions :smile:

1. Yes it is possible to use a socket connection, but it requires you to import socket.edl and link liboesyscall
2. What is the error you get when trying to use sockets?
3. Work is underway to support openssl, but today we only support mbedtls
4. To see a usage of sockets inside the enclave, take a look at `tests/syscall/socket/enc/enc.c`. Also check

[2020-09-18 22:30] #3495 closed

[2020-09-18 23:29] ryanhsu19 commented on #3500
The value of `temporary_buffer_size` is obtained in lines 357 and 358, and in `oe_sgx_get_supported_attester_format_ids()` in `host/sgx/sgxquote.c`, which can be reached from `oe_get_supported_attester_format_ids_ocall()` (the function mentioned in this issue), it raises an `OE_BUFFER_TOO_SMALL` error if it requires more space to allocate.

Since it has been validated in lines 357 and 358, `OE_OK`

[2020-09-19 04:30] binxing commented on #3543
Thanks for the explanation. But the current script (`call_compiler`) won't work on Ubuntu 20.x or RedHat distros as `/bin` is simply a symbolic link to `/usr/bin` on those OS's.

IIUC, it's OK to always use LVI-mitigated `as` and `ld` regardless LVI options are present on command line or not. Then the following script will work in all cases.

[code]

LVI-mitigated `gcc`/`g++` and `clang-7`/`clang+

[2020-09-19 04:45] #3490 closed

[2020-09-20 00:50] #3500 closed

[2020-09-21 08:10] xxu36 opened #3565 "issue about debugging an enclave using vs2019 and oedebugrt"
With the oedebugrt library from OE SDK, we can debug an Intel SGX enclave using VS2019. The problem we encountered is that, when the enclave file path is wide char instead of an ordinary char, the debugging is broken. The reason is that, the debugger contract only consider a pointer to ordinary char as an enclave file path, when it receives wide char, it will incorrectly interpret the enclave file

[2020-09-21 12:09] wintersteiger opened #3566 "Bug in collateral extraction?"
The code following the call to `oe_get_quote_verification_collateral_ocall` [here](https://github.com/openenclave/openenclave/blob/98b71a493cbbadda84c72187e9b5a59a3a1d7dec/enclave/sgx/collateralinfo.c#L195) expects that all out-sizes have been filled in correctly if it returns `OE_BUFFER_TOO_SMALL`. That OCALL however, returns after the first element that doesn't fit into the buffer ([here](https:

[2020-09-21 15:55] mingweishih opened #3568 "LVI mitigation toolchain does not work in Ubuntu 20.x / RedHat distros"
Copy the discussion from #3543 brought by @binxing.

The current script (`call_compiler`) won't work on Ubuntu 20.x or RedHat distros as `/bin` is simply a symbolic link to `/usr/bin` on those OS's.

@binxing's suggestion is as follows.

IIUC, it's OK to always use LVI-mitigated `as` and `ld` regardless LVI options are present on command line or not. Then the following script will work in all case

[2020-09-21 15:56] mingweishih commented on #3543
Given that the thread so far is a bit off-topic now, I've created #3568 to track the issue.

[2020-09-21 15:58] mingweishih commented on #3568
Note that OE currently does not support ubuntu 20.x yet, and OE's LVI mitigation does not support REHL distros.

[2020-09-21 16:26] AevaOnline commented on #3521
This was an "oops" on my part, when creating the openenclave/publictalks repo.

As far as the process itself, I would suggest that openenclave/openenclave docs/Community be forked into openenclave/community and the governance votes be handled through changes in that repo.

[2020-09-21 17:00] anakrish commented on #3565
@xxu36 Thanks for bringing this up. As you pointed out, currently OE SDK uses char paths instead of wide char paths.
I'd prefer for this to be fixed.

[2020-09-21 17:15] yentsanglee commented on #3566
The required sizes probably never exceed the default sizes so the problem never surfaced. In any case, this issue needs to be fixed.

[2020-09-21 17:18] dthaler commented on #3565
I suspect you mean "Unicode" paths, and Unicode paths can be represented in char* in UTF-8, if you do it correctly.

[2020-09-21 17:52] shnwc opened #3569 "_get_attester_plugins: second ocall - should check output buffer size instead of ignoring it."
Follow up on issue #3500 and PR #3564 .

As @douglasmaciver [commented](https://github.com/openenclave/openenclave/pull/3564#pullrequestreview-492007388):

In case this happens, the list of plugins returned by `_get_attester_plugins()` in `enclave/sgx/attester.c` would countain plugins that have random format IDs.

A better fix is check the output buffer size by the second call to `oe_get_supporte

[2020-09-21 17:58] douglasmaciver commented on #3569
@shnwc Kudos for taking the initiative to make this better. While you are working on this, you might look at how the system handles changes to the plugins set, or if that's even possible.

[2020-09-21 18:22] radhikaj commented on #3563
@nico95v Do the answers above resolve your issue?

[2020-09-21 18:31] radhikaj commented on #3565
WE dont support widechar on Windows. We use UTF8 char*. This is consistent with the rest of the code.

[2020-09-21 18:38] radhikaj commented on #3569
From triage - avoid double call patterns. Look into if there is a way around it here.

[2020-09-21 18:39] radhikaj commented on #3569
Shan-wei will look into the short term solution.

[2020-09-21 18:40] radhikaj commented on #3566
This is a double call pattern, look into whether this is a way around this.

[2020-09-21 19:41] BRMcLaren commented on #3405
Closing, unsure why it was not done automatically. Took suggested approach and did the retry 5x with 1 min sleep: https://github.com/openenclave/openenclave/blob/master/.jenkins/pipelines/Azure/Linux/Jenkinsfile#L73

[2020-09-21 19:41] #3405 closed

[2020-09-21 21:13] shnwc commented on #3569
With the current implementation, it's not possible for an attester application to discover changes in plugins set and re-register them after it calls `oe_attester_initialize()`, except restarting. But if a plugin can no longer function properly (e.g. if it requires a background service like AESM, but the service is no longer accessible), the plugin will return proper error code.

[2020-09-22 00:07] ryanhsu19 commented on #2109
Suppose the filenames for OE and OE SDK Debian packages are `open-enclave.deb` and `open-enclave-hostverify.deb`. Here are some observations:

1. If I do `sudo dpkg -i open-enclave.deb` before doing `sudo dpkg -i --force-overwrite open-enclave-hostverify.deb`, then both packages will be installed despite some warnings against overwriting existing files.
2. Same for doing `sudo dpkg -i open-enclave

[2020-09-22 01:19] johnvenn commented on #3551
thanks a lot, anand, I just raise this question when I debug into the code and saw the difference. Currently for SGX PCL part, I didn't find this requirement.

[2020-09-22 02:52] #2889 closed

[2020-09-22 02:54] yanxue-intel commented on #3284
fix in [https://github.com/openenclave/openenclave/pull/3336](url)

[2020-09-22 02:54] #3284 closed

[2020-09-22 03:11] ryanhsu19 commented on #2109
Close #2109

[2020-09-22 04:09] #2109 closed

[2020-09-22 04:18] johnvenn commented on #3551
After some code pratice for PCL PoC, I found that there is a case this need to be supported, in case where an external function is declared in a file(a pointer in plt points to NULL), the type "R_X86_64_GLOB_DAT" need to be supported.

[2020-09-22 05:19] xxu36 commented on #3565
Thanks @anakrish @dthaler and @radhikaj for the clarification.
The debugger in VS2019 works with OE debugger contract, so I assume it will also stick to UTF-8 encoding? @anakrish could you help to confirm it?
Based on the above information, seems it's better to convert the file path to UTF-8 before we pass that to the debugger contract.

[2020-09-22 16:07] specio opened #3573 "Third party CI/CD for OE"
OpenEnclave published CI (jenkins pipelines and scripts) at SCM, so every contributor is welcome to set their own CI/CD
I would like to be able to recreate CI environment as a third party to run Build&Tests without making actual changes to main OpenEnclave repo (No need to maintain a fork or branch with all the continuous merging necessary).
Due to security concerns and some policies downloading b

[2020-09-22 16:52] #3501 closed

[2020-09-22 17:40] CodeMonkeyLeet commented on #3551
@johnvenn Can you provide a repro for this and the build flags that you used? The SIG-Arch consensus seems to be that with the -bsymbolic flags we should not be seeing that reloc.

[2020-09-22 17:51] fchinchilla commented on #3565
Xiaofeng and I tested converting WCHAR to UTF8 before passing to the OE Debug DLL and prelim tests indicate this works and no action required by the OE.

I tested on English OS using a path with English characters only.

We'll check on non-English OS/path to make sure there are no issues there either.

[2020-09-22 18:06] CodeMonkeyLeet commented on #3475
Per SIG-arch meeting, this should just be addressed in v0.12 as an implementation issue.

[2020-09-22 18:15] CodeMonkeyLeet commented on #3560
@ysminnpu OE SDK does not currently support Windows Virtualization Based Security (VBS) enclaves, and it is not currently in our plans up through v0.13. We are open to hearing about your needs in that regard though.

[2020-09-22 21:08] radhikaj commented on #3401
Thanks for filing this issue @douglasmaciver
We discussed https://github.com/openenclave/openenclave/issues/3555 in SIG-Arch today and the consensus we reached is that, the path we recommend developers to follow is to use clang with spectre v1 mitigations while *building the SDK from source*. We are going to stop building the SDK with gcc in CI and update docs to recommend that clang is what devel

[2020-09-22 21:14] anakrish commented on #3551
Are you using weak symbols and testing them? That will generate R_X86_64_GLOB_DAT.

[code]

[2020-09-22 21:22] radhikaj commented on #3401
Closing for now. Please reopen and send me a note if you have concerns.

[2020-09-22 21:22] #3401 closed

[2020-09-22 21:58] radhikaj commented on #3565
Thanks @fchinchilla, please let us know if the non-English OS/path works!

[2020-09-22 22:28] anakrish commented on #3565
@dthaler @fchinchilla @xxu36

I followed up with the debugger team.
The VS Debugger uses ANSI encoding to interpret the path string.
The decoding is done via `MultiByteToWideChar(CP_ACP, MB_PRECOMPOSED`.

Is this OK?

On a related note, `oe_create_enclave` does not specify an encoding requirement:
https://github.com/openenclave/openenclave/blob/98b71a493cbbadda84c72187e9b5a59a3a1d7dec/include/open

[2020-09-22 23:39] binxing commented on #3551
`R_X86_64_GLOB_DAT` is generated only if there are **imported** global variables. There are two cases:
1. Strong symbols - `R_X86_64_GLOB_DAT` is generated when a global variable is declared `extern`. By default, `extern` globals are bound at runtime and allowed to be overridden by duplicated definitions in shared objects. The linker option `-Wl,-Bsymbolic` forces binding globals locally (i.e., at

[2020-09-23 00:14] binxing commented on #3430
One more problem that can't be addressed by https://github.com/openenclave/openenclave/pull/3526, is that the PROVISION_KEY attribute requires additional authorization by opening `/dev/sgx/provision` for the current in-tree driver. OE SDK is unaware of the kernel interface so I think it should be captured inside common enclave loader.

[2020-09-23 00:32] johnvenn commented on #3551
declare an external func in enclave/core/sgx/init.c as:
extern oe_result_t pcl_entry(void* enclave_base,void* ms) __attribute__((weak));

I tried to find the link options in link.txt from "build/enclave/core" , but there is no link flags?

link option defined in CMakefiles.txt in enclave/core:

if (OE_SGX)
  enclave_link_libraries(
    oecore
    INTERFACE
    -nostdlib
    -nodefaultlibs
    -nos

[2020-09-23 02:35] xxu36 commented on #3565
@anakrish IIUC, CP_ACP specifies that ANSI code page will be used in the conversion. If UTF-8 is consistently used in OE code, the debugger may need to use CP_UTF8 instead?

[2020-09-23 12:52] #3368 closed

[2020-09-23 17:08] BRMcLaren commented on #3573
Hello @specio,

Yes, we are going to run this as well. The WIP solution is to use https://github.com/openenclave-ci/test-infra and then to donate it over, it contains Prow and the workload balancer we discussed along with solutions to integrate 3rd party CI in.

[2020-09-23 17:22] shnwc commented on #3569
Closed by PR #3570

[2020-09-23 17:22] #3569 closed

[2020-09-23 19:17] #3543 closed

[2020-09-23 20:35] #3299 closed

[2020-09-23 20:44] BRMcLaren commented on #2476
- [ ] Add Clang 8 to ansible https://github.com/openenclave/openenclave/pull/3574

- [ ] Reference clang 8 in global libraries for linux Test and merge in: openenclave/openenclave-ci#22

- [ ] Update Jenkins files for linux to refer to clang 8 https://github.com/openenclave/openenclave/pull/3578

- [ ] Remove clang 7 from ansible (need all the above complete first)

- [ ] Add LLVM 8 for windows ht

[2020-09-23 20:45] CodeMonkeyLeet commented on #2476
Additional tasks:
- [ ] Update devx vscode & vs extensions and CMakeSettings.json
- [ ] Update changelog
- [ ] Investigate re-enabling libcxx nodiscard_extensions test under clang-8
- [ ] Update Jenkinsfile for oeedger8r-cpp project

[2020-09-23 21:26] radhikaj opened #3581 "Test non SGX/non FLC builds in CI"
Breaking #3272 into the CI task

- [ ] Add non/SGX machines to CI

 - [ ] Update ansible and prereqs scripts
- [ ] Update the scripts to remove dependencies if possible.

[2020-09-23 21:28] radhikaj commented on #3272
Broke CI items into its own issue #3581, see below.  Closing this since this is the build issue and work has been completed on it.
Add non/SGX, non FLC machines to CI
 Update ansible and prereqs scripts
Update the scripts to remove dependencies if possible.

[2020-09-23 21:28] #3272 closed

[2020-09-23 21:30] radhikaj commented on #3174
This can be covered by #3239.

[2020-09-23 22:53] radhikaj commented on #3283
While we can investigate this issue further, there is no immediate action we can take to resolve the issue stated. The mbedtls patterns are by design. I am moving it to backlog.

[2020-09-24 02:53] #3473 closed

[2020-09-24 16:17] flothia opened #3584 "OP-TEE OS C++ support on OE SDK"
Hi all,

I was wondering if there was no mistake about the SDK preview support for the C/C++ feature on OP-TEE OS (https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/OP-TEE/Introduction.md -> Supported Features/3.)
On the official documentation of OP-TEE OS (https://optee.readthedocs.io/en/latest/faq/faq.html#q-can-i-use-c-libraries-in-op-tee), it is indicated that C++

[2020-09-24 18:45] yentsanglee opened #3585 "Misleading OE_BUFFER_TOO_SMALL error messages"
There are many benign OE_BUFFER_TOO_SMALL errors in traces from functions which return required buffer size. Such functions are typically called twice - first time to get required size; second time to retrieve data with allocated buffer. The first call unnecessarily prints OE_BUFFER_TOO_SMALL error messages that can be misleading when root causing issue from log.

Example:
[code]

[2020-09-24 20:55] mingweishih opened #3587 "Unexpected compilation errors caused by OpenSSL unsupported.h"
Currently we put OpenSSL APIs (across multiple headers) that we want to disable in the same header, `unsupported.h`.  The  `unsupported.h` explicitly includes the corresponding OpenSSL headers as follows to enforce the inclusion order.

[code]

In addition, we enforce the these OpenSSL headers to include `unsupported.h` so that we can correctly trigger the compilation errors when users try to use

[2020-09-25 02:24] lzha101 opened #3590 "oe_real_exception_dispatcher() accesses the g_exception_handler_arr without a lock"
The `g_exception_handler_arr` and the `g_current_exception_handler_count`  would be modified by function [oe_add_vectored_exception_handler()](https://github.com/openenclave/openenclave/blob/master/enclave/core/sgx/exception.c#L26) and [oe_remove_vectored_exception_handler()](https://github.com/openenclave/openenclave/blob/master/enclave/core/sgx/exception.c#L97), protected by the `g_exception_loc

[2020-09-25 07:03] yanxue-intel opened #3591 "oeedger-cpp ignores invalid syntax checks for “[isptr][isary] cannot be used for exlicitly declared pointer/array”"
my.edl

[code]

oeedger-cpp tool's result:
[code]
oeedger(OCAML) tool's result:
[code]

[2020-09-25 18:01] CodeMonkeyLeet commented on #3587
Copying the elaboration of the issue from #3588:

The problem is that

evp.h
[code]

Before reaching line 396, the inclusion of bio.h in line 16 will indirectly force the inclusion of ssl.h (bio.h -> crypto.h -> unsupported.h > ssl.h). This is where the error occurs.

[2020-09-25 18:58] HernanGatta commented on #3584
Hello Flo,

The SDK does indeed provide preview support for C++ on OP-TEE.

A few notes:

1. OP-TEE has recently gained [experimental support for C++](https://github.com/OP-TEE/optee_os/pull/3693), though the SDK does not yet take advantage of it;
2. Support for C++ exceptions in the SDK is not complete, and while exception handlers will likely execute, you might observe unwarranted modifications

[2020-09-25 19:40] dthaler commented on #3584
@flothia Does this answer the question?  Can the issue be closed or is there something left to track?

[2020-09-25 22:13] shnwc opened #3594 "Confirm and check that the parameter `claims` in API `oe_verify_evidence()` is optional"
In `include/openenclave/attestation/verifier.h`, the `claims` parameter in API `oe_verify_evidence()` is not documented as optional, but the implementation of this API in `common/attest_plugin.c` allows this parameter to be NULL. On the other hand, `_verify_evidence()` in `common/sgx/verifier.c` requires its `claims` parameter to be non-NULL.

Need to clarify doxygen documentation and update imple

[2020-09-27 07:38] jinghe-INTC opened #3595 "samples\attestation is still tested in ctest case "samples", even when DCAP libraries not installed on Windows"
During OE Windows setup, I chose not to install DCAP driver by running:
`./scripts/install-windows-prereqs.ps1 -InstallPath C:/oe_prereqs -LaunchConfiguration SGX1 -DCAPClientType None
`

However later in ctest, case "samples" always failed. I looked into the detail, and found the sample project `attestation` had an execution failure. Although at the beginning of the samples' test,  it did say:
[c

[2020-09-28 07:40] xiangquanliu opened #3597 "Is there any plan to support thread attr of oe_thread_create in host part?"
Currently, the 2nd parameter of pthread_create can't be provided by oe_thread_create. So users can only create thread with default thread attribute. It is not convenient for them to create detached thread.

/**
 * Create a platform-specific thread.
 *
 * @param func The pointer to the start routine.
 * @param arg The argument to the start routine.
 *
 * @returns Returns zero on success.
 */
int oe

[2020-09-28 17:14] radhikaj opened #3600 "Oeedger8r-cpp should have a minimal testing Docker image"
Oeedgr8r relies on the open enclave testing infrastructure, which includes sgx packages which are not necessary. Consider creating a minimal image for testing/developer integration and uploading to the openenclave dockerhub.

Filed by @BRMcLaren  : https://github.com/openenclave/oeedger8r-cpp/issues/48

[2020-09-28 17:15] radhikaj opened #3601 "oeedger8r - Prow Integration"
As part of SIG-Testing a decision was made to begin the prow roll out on the oeedger8r-cpp repo. We are beginning integration now, please be aware of any nuances and if an issue is noticed please comment here. It will be a little rocky to start so we are starting with ubuntu 1604 and 1804 containerization to start.

Filed by @BRMcLaren  https://github.com/openenclave/oeedger8r-cpp/issues/42

[2020-09-28 17:17] radhikaj opened #3602 "oeedger8r - Enclave is in simulation mode when oe_get_create_flags returns 0"
The flag does not work in oeedger8r-cpp's test.

How to set enclave in hardware mode?

Filed by @yanxue-intel : https://github.com/openenclave/oeedger8r-cpp/issues/38

[2020-09-28 17:18] radhikaj opened #3603 "Consider adding -verbose option to oeedger8r"
Filed by @anakrish  : https://github.com/openenclave/oeedger8r-cpp/issues/15

[2020-09-28 17:19] radhikaj opened #3604 "oeedger8r: Enable code-coverage for the oeedger8r-cpp repository"
Enable code-coverage for the oeedger8r-cpp repository

Filed by @anakrish https://github.com/openenclave/oeedger8r-cpp/issues/12

[2020-09-28 17:20] radhikaj opened #3605 "oeedger8r - Validation, warnings and errors"
Implement warnings, errors and validation conformant to Ocaml oeedger8r.

We can do better in regards to error messages since we control parsing and have access to token locations, allowing augmenting error/warning messages with precise location.

Filed by @anakrish  https://github.com/openenclave/oeedger8r-cpp/issues/3

[2020-09-28 17:21] radhikaj opened #3606 "oeedger8r - Add comments to sources explaining details where needed"
The code has been written with readability in mind, and to mirror its corresponding python implementation. Currently though there are no code comments; the inner workings should be quite easy to figure out since the EDL language is not that complex.

That being said, adding comments judiciously would help with maintenance.

Filed by @anakrish : https://github.com/openenclave/oeedger8r-cpp/issues/2

[2020-09-28 17:41] dthaler commented on #3602
@radhikaj I didn't see a resolution, we should at least add an explanation of the answer when closing.

[2020-09-28 18:03] radhikaj commented on #3563
Hi, I am closing this issue. Please reopen if you see that this is unresolved.

[2020-09-28 18:03] #3563 closed

[2020-09-28 18:13] radhikaj commented on #3585
Action: Dont log anything if you pass in a null buffer into these functions.

[2020-09-28 18:19] radhikaj commented on #3594
This is a code and documentation issue.

[2020-09-28 18:26] radhikaj commented on #3595
For v0.12, please move attestation test to line 70 as suggested.

[2020-09-28 18:30] radhikaj commented on #3597
Action
1) Double check if oe_thread_create is internal?
2) Sycallhooks are used to create threads.

[2020-09-28 18:38] radhikaj commented on #3602
Please add a comment about the resolution.

[2020-09-28 18:41] radhikaj commented on #3606
Ongoing code documentation improvements.

[2020-09-28 18:41] #3606 closed

[2020-09-28 18:43] dthaler opened #3607 "Implement missing Windows socket functionality"
PR #3598 documents that some socket APIs are still not supported on Windows.

1) Socket options other than socket layer
2) sendmsg/recvmsg

[2020-09-28 22:57] dthaler commented on #3606
@radhikaj Why was this issue closed?   I'd expect either a PR merged, or a comment explaining why something is closed with no PR.

[2020-09-28 23:17] dthaler commented on #3284
@yanxue-intel This process looks insecure, since how do they know the correct key is on the page and an attacker hasn't snuck in a change to the markdown file, or the HTML rendering of it?    Is this only for debugging and should never be used in actual deployment?   Assuming so, is there a large warning somewhere?

[2020-09-29 00:07] xiangquanliu commented on #3597
1. Since host is linked statically, I suppose users can call this function, right?
2. What are syscallhooks?

[2020-09-29 03:53] lzha101 opened #3610 "SGX tcrypto wrapper APIs"
Intel SGX SDK provides a trusted cryptography library named `sgx_tcrypto`, which provides some wrapper interfaces with different crypto libraries, such as IPP, OpenSSL.  Intel AEs are using that library for cryptography functionality. And Intel SGX Customers would also benefit from tlibcrypto wrapper library.

1. Does this library fit OE SDK?
2.  If it fits OE SDK,  what is the process and coding

[2020-09-29 13:33] MWShan commented on #3610
Just to add a few more specifics:

The tlibcrypto wrapper library provides crypto functions (https://github.com/intel/linux-sgx/blob/master/common/inc/sgx_tcrypto.h ).  These function bodies for tlibcrypto are implemented in two different ways:

1. Using OpenSSL (actually SGXSSL)
2. Using Intel Performance Primitives (IPP).

The user can select the wrapper library based on the base crypto (OpensSS

[2020-09-29 14:28] #3584 closed

[2020-09-29 15:41] BRMcLaren commented on #3523
@radhikaj  we have been stable for 2 weeks after the fixes here: https://github.com/openenclave/openenclave/pull/3525

Closing as resolved, we have an external issue for the upstream windows update issues: https://github.com/openenclave/openenclave/issues/3532

[2020-09-29 15:41] #3523 closed

[2020-09-29 16:58] #3246 closed

[2020-09-29 16:58] #2847 closed

[2020-09-29 17:46] #3587 closed

[2020-09-29 19:50] anakrish commented on #3602
To summarize:

oeedger8r-cpp repository allows development/testing of oeedger8r outside of SGX hardware. This is important since oeedger8r also generates code for OPTEE enclaves. It tests runtime behavior of generated code by loading enclaves in a "virtual" mode which is akin to simulation mode in OE.
Though the virtual mode has been made to look as much as possible like the OE public API surface,

[2020-09-29 19:50] #3602 closed

[2020-09-29 19:53] anakrish commented on #2459
oeedger8r has been rewritten in C++ and we no longer need special tools (ocaml/cygwin/esy) on Windows.

[2020-09-29 19:53] #2459 closed

[2020-09-29 19:55] anakrish commented on #3141
Closing this since this not a security issue.
However we need to continue to scrutinize edger8r and generated code since it operates at critical security boundary.

[2020-09-29 19:55] #3141 closed

[2020-09-30 01:56] CodeMonkeyLeet commented on #3597
@xiangquanliu Per the SIG-Arch discussion, could you write up the feature you are implementing and how the use of this function is necessary for that?

[2020-09-30 01:59] CodeMonkeyLeet commented on #3610
This was discussed in [SIG-arch](https://hackmd.io/KOeBDVlyQpOC-OqqHYvs0A?view#29-Sep-2020-530-PM-PST) and the takeaway was that the tcrypto API wrapper could be additive to the OE SDK rather than integrated into it. @lzha101 and @MWShan are going to sync on where development on this would happen.

[2020-09-30 04:59] #3409 closed

[2020-09-30 05:46] BRMcLaren opened #3615 "Clang-8 incompatabilities"
After adding all the backend changes to be able to use clang-8 in the CI the following problems appear.

Linux: https://oe-jenkins-tf.westeurope.cloudapp.azure.com/job/pipelines/job/Azure-Linux/252/

` 75/280 Test  #75: tests/cppException ....................................................................................................................Child aborted***Exception:   0.18 sec
=== Thi

[2020-09-30 16:56] anakrish commented on #3615
We have run into the second problem (twalk.c not compiling) before, maybe in RHEL.

[2020-09-30 16:57] anakrish commented on #3615
https://github.com/openenclave/openenclave/issues/2556

[2020-09-30 18:37] yentsanglee commented on #3455
@jumaffre please mark as "In progress" in the Project SIG-Attestation if you have started working on this.

[2020-09-30 18:55] BRMcLaren opened #3618 "Transfer Test-Infra Repository"
I need to transfer this repository https://github.com/openenclave-ci/test-infra/ over to the openenclave organization. It entails the decoupling of the open enclave test infrastructure, docker images and bot automation for PR's/labelling.

[2020-09-30 19:03] dthaler commented on #3618
As a test case for PR #3534... :)
What are the proposed answers to the following questions (copied from that PR):

1. How should issues with the new repo be tracked and triaged? Should github issues be filed in the new repo, or in the main openenclave repo?  Should they be discussed in the master openenclave triage meeting, or in some separate process?
2. Should one or more of the existing SIGs (e

[2020-09-30 19:35] BRMcLaren commented on #3618
1. In the short term, issues should be filed under the test-infra project individually until it sees adoption as the backend. Then it should be revisited by SIG-CI to what makes the most sense.
2. SIG-CI should oversee the relevant aspects of this repo.
3. The individuals responsible for maintaining this repo will be depicted by it's [owners]( https://github.com/openenclave-ci/test-infra/blob/mast

[2020-09-30 20:41] yentsanglee opened #3619 "Check SGX TCB Info "nextUpdate" date"
For various reasons, individual PCK cache service may choose to update TCB Info collateral at different schedule than Intel PCK cache service. When TCB Info collaterals in PCK Cache service fall behind and become outdated, SGX Quote Verification Library (QVL) may fail. For example, TCB Info in cache may be:

``
{
    "tcbInfo": {
        "version": 2,
        "issueDate": "2020-04-09T00:11:12Z",

[2020-09-30 20:47] BRMcLaren commented on #3615
@anakrish reading past comments, I believe the solution is this? https://github.com/openenclave/openenclave-ci/pull/23/files

I will run it through another end to end, see if this solves it.

[2020-09-30 21:09] #3594 closed

[2020-09-30 23:50] #3595 closed

[2020-10-01 01:50] BRMcLaren commented on #3615
@anakrish This [fix](https://github.com/openenclave/openenclave/blob/master/libc/CMakeLists.txt#L869) was merged in as the original solution. I also passed in the -o0 flag in the above PR, and tested against that but the result seems the same:

[code]

https://oe-jenkins-tf.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Windows/detail/Azure-Windows/277/pipeline/79

[2020-10-01 02:00] CodeMonkeyLeet opened #3623 "oeedger8r.exe occasionally fails in Windows CI/CD builds"
We're seeing a couple of instances crop up where the build is failing for the following error:

- https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Windows/detail/Azure-Windows/1652/pipeline
- https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/pipelines%2FAzure-Windows-Badge/detail/Azure-Windows-Badge/193/pipeline

These

[2020-10-01 18:46] radhikaj opened #3625 "Add Ubuntu 2004 support and drop 1604 support in the v0.14 OE release in 2021(currently targeted for March 2021)"
Intel is adding support for Ubuntu 2004 and will be releasing packages for the same. OE SDK will release Ubuntu 2004 packages in V0.14 and drop Ubuntu 1604 support on the same release
- [x] update changelog to signal deprecation of Ubuntu 1604
- [x] send email to community
- [x] Add 2004 to CI
- [x] Drop 1604 from CI
- [x] Update docs to remove 1604 and add docs for 2004

[2020-10-01 20:35] anakrish commented on #3623
The log reveals that edger8r runs fine afterwards and successfully processes edl files.
I suspect this is likely a dependency issue with ninja (ninja generator is used on Windows), where oeedger8r is invoked before its build has been complete.

[2020-10-01 20:43] anakrish commented on #3615
@BRMcLaren -O0 flag is not being passed to twalk.c as seen from the log in issue description. It is likely because when compiling in Windows CMAKE_COMPILER_ID does not match clang (it is MSVC). We could just add the -O0 flag for twalk.c if we are compiling for win32.

cc: @manojrupireddy @mingweishih

[2020-10-01 23:08] mingweishih commented on #3615
It should be a bug as @anakrish described. And given that we cannot directly decide the version of clang in Windows, we agree on just adding -O0 flag to twalk.c if its on Windows.

[2020-10-02 01:51] #3566 closed

[2020-10-02 02:40] #3615 closed

[2020-10-02 05:16] BRMcLaren commented on #3615
Running validation: https://oe-jenkins-tf.westeurope.cloudapp.azure.com/job/CI-CD_Infrastructure/job/OpenEnclave-E2E-Testing/258/

@mingweishih is the expected result of the above fix to also resolve clang-8 failures on Linux running in the RelWithDebInfo configuration along with the code coverage fix?

[2020-10-02 23:49] dthaler opened #3628 "Make VS Code extension for OP-TEE enclaves be more OE version agnostic"
Consuming OE SDK in binary form is part of this work

[discussed between Radhika, Anand, Dave, Hernan, and Brian F.]

[2020-10-03 00:01] dthaler opened #3629 "GettingStartedDocs hard to navigate for devtools"
There are three ways to use the OE SDK to build enclave apps
a) From command line directly
b) From Visual Studio
c) From Visual Studio Code

The default navigation path from the main README (click on "Getting Started Guide" then, say, "Windows 10(1709 or higher), Windows Server 2016 or Windows Server 2019 on an Intel machine") takes you to
https://github.com/openenclave/openenclave/blob/master/doc

[2020-10-03 00:04] dthaler opened #3630 "Update VS Code extension to use latest OE SDK"
The VS Code extension just uses whatever OE SDK version is already installed so is already agile in that sense, but the project templates are old (e.g., they don't import platform.edl or any more specific EDL) and it apparently references the feature.new_platforms branch rather than the master branch.

Given that the IoT Edge enclave support just announced GA and the [announcement ](https://techco

[2020-10-03 00:16] dthaler opened #3631 "Unify OE SDK nuget packages"
Currently there are two separate nuget packages (not including the host-verify package which is a third one):
1) open-enclave.0.11.0.nupkg : This appears in the assets of [releases](https://github.com/openenclave/openenclave/releases) and at nuget.org at https://www.nuget.org/packages/open-enclave/ but the contents and in particular the directory structure, to not conform to the [requirements](htt

[2020-10-03 00:23] dthaler opened #3632 "Make the VS extension more OE SDK version agnostic"
Currently the VS extension itself includes the OE nuget and so matches 1:1 and must be re-released each time the OE SDK is released.   This item tracks the investigation/work needed to decouple them so the extension can be version agnostic.

The issue is that the project templates used by the extension to create new projects are like sample code, so any time a change is made to all samples (e.g.,

[2020-10-03 00:26] dthaler opened #3633 "Make VS Code extension able to build Windows apps"
Currently the VS Code extension can be used ON a Windows or a Linux dev machine, but builds/debugs apps FOR Linux.

In contrast the VS extension can build for both Windows and Linux.   This issue tracks the VS Code gap, to allow it to also be used to build for Windows.

[2020-10-03 00:29] dthaler opened #3634 "Consider moving OE SDK signing to be non-Microsoft-specific"
Currently the OE releases (SDK, VS extension, VS code extension, host-verify, etc.) are all Microsoft signed.

Since OE is a CCC project, we should consider using a different signature at some point in the future.

[2020-10-03 00:35] dthaler opened #3635 "Test automation for VS extension and VS Code extension"
Currently the testing process for the VS extension and VS code extension is manual.
That is, the test is to verify the documented walkthroughs still work, each release of the extension.

- VS walkthrough for Windows: https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/VisualStudioWindows.md#walkthrough-creating-a-cc-enclave-application

- VS walkthrough for Linux:
https:

[2020-10-04 19:06] BRMcLaren opened #3636 "Windows 2019 Container LVI tests/fs-lvi-cfg fail"
Windows 2019 LVI builds fail within a container with the following error.
[code]

More details
[code]

How to reproduce:

`docker pull openenclave/windows-2019:0.1`

Clone repo + make build dir

`cmake.exe .. -G Ninja -DCMAKE_BUILD_TYPE=Release -DBUILD_ENCLAVES=ON -DLVI_MITIGATION=ControlFlow -DLVI_MITIGATION_SKIP_TESTS=OFF -DNUGET_PACKAGE_PATH=C:/oe_prereqs -DCPACK_GENERATOR=NuGet -Wdev ${EXTRA_C

[2020-10-05 11:57] wintersteiger commented on #3516
Closing; fixed by #3567.

[2020-10-05 11:57] #3516 closed

[2020-10-05 15:37] BRMcLaren commented on #3634
The SDK and Host-verification packages released on Nuget.exe are not Microsoft signed, we use the global nuget.org signature. The packages on packages.microsoft.com are not Microsoft signed today but they will be in the future due to compliance reasons.

For the feasibility of completion, we would need to start publishing these packages to other apt-repos. Which we should definitely do, just somet

[2020-10-05 15:38] BRMcLaren commented on #3625
@radhikaj Do we have an eta from Intel on the support of the 20.04 sgx packages?

[2020-10-05 18:03] dthaler commented on #3634
Thanks Brett, that rings a bell now.   Who is authorized to push a release to nuget.org?   What if OE transitions that to a non-Microsoft person in the future?  Is it a list of accounts?  Or is it an account that can be transferred between people?

[2020-10-05 18:15] #3585 closed

[2020-10-05 18:20] radhikaj commented on #3630
@HernanGatta , can you also document how VSCode extension should be built and released?

[2020-10-05 18:21] BRMcLaren commented on #3634
Capturing offline discussion. Currently, @radhikaj and I can push the packages, but this doesn't need to be done by Microsoft personnel. It's a list of individuals pre-authorized, please see https://www.nuget.org/packages/open-enclave/ for reference.

We (the admins of that package) have access to this screen and we can add others.
![image](https://user-images.githubusercontent.com/54328827/951167

[2020-10-05 18:30] radhikaj commented on #3618
Radhika will send an email to CGC to see if anyone objects to transferring this repo.

[2020-10-05 18:36] radhikaj commented on #3597
Having a design PR for this would help us start discussions around this.

[2020-10-05 20:07] BRMcLaren commented on #3618
@AevaOnline is helping me sort out #3 while we wait on e-mail response.

[2020-10-05 22:18] AevaOnline commented on #3618
For point 3

For this specific case, I would suggest the use individual emails, because:

- the transparency is beneficial to the community, in that they may know who is on the team, and who to reach out to when there's a problem with the CI system
- also, for the individuals who are in that role, the reputation and connections gained are often part of the "reward" for accepting such a role in an

[2020-10-05 23:34] BRMcLaren opened #3640 "Add Owners list to root of each repo"
All Openenclave organization repositories should maintain a clearly defined and standardized OWNERS list at the root of their repositories, to ensure ease of use with any project-wide automation. This list should be named OWNERS and some suggestions are located in the test-infra [repo](https://github.com/openenclave-ci/test-infra/blob/master/docs/owners.md).

[oeedger8r](https://github.com/openenc

[2020-10-06 00:22] radhikaj commented on #3618
Having individual owners does seem to make sense based on these arguments.

[2020-10-06 00:28] #3360 closed

[2020-10-06 01:03] BRMcLaren commented on #3618
@dthaler @AevaOnline is a github alias an agreed-upon and accepted contact method?

Everything else is already implemented with regards to transparency and auditability, but for this specific case if a github alias is not a contact method I would prefer the use of a DL. This is due to the reason that if _something_ is broken for the infrastructure it is better to have wider visibility and as it is

[2020-10-06 01:34] BRMcLaren commented on #3618
To be clear, individual owners is already a hard requirement for automation.

I am in agreement with this methodology 👍

[2020-10-06 04:35] dthaler commented on #3565
xxu36 is correct, CP_ACP will not work for OE, it would need to be CP_UTF8 to work correctly.

[2020-10-06 16:32] CodeMonkeyLeet opened #3644 "XSAVE state is not correctly persisted between enclave transitions"
The OE host library will detect and set the AVX XFRM bit on enclave creation if it is supported, but the OE SDK does not correctly preserve the XSAVE data in all scenarios today:

- Host only does FXSAVE/FXRSTOR on ecall.
- Enclave only clears XSAVE state on ocall, but doesn’t preserve it’s own XSAVE state before then.
- Exception dispatching after AEX via `oe_snap_current_context`/`oe_continue_ex

[2020-10-06 17:44] dthaler commented on #3565
three possibilities for oe_create_enclave:
1) Tell devs to just use ANSI (nothing to do if using main), and do the conversion themselves if using wmain/WinMain - just documentation.  Con: corner case failure condition.  Pro: less work :)
2) Create a W API alongside and internally map to ANSI (and maybe UTF-8 in the future once debugger changes).  Also impacts oeedger8r.  Pro: easiest for Windows d

[2020-10-06 18:02] CodeMonkeyLeet commented on #2476
SIG-Arch is moving out of SIG-arch project as this is approved for implementation at this point and does not require further input from SIG-Arch.

[2020-10-06 18:03] dthaler commented on #2476
Removing from SIG-Arch per SIG-Arch meeting.   (Might be part of SIG-Tools or SIG-CI though)

[2020-10-06 18:23] BRMcLaren commented on #2476
Thanks, @CodeMonkeyLeet  @dthaler. Absorbing into SIG-CI.

[2020-10-06 19:23] anakrish commented on #3591
Already fixed by #3611

Specific test added in PR: https://github.com/openenclave/oeedger8r-cpp/pull/54

[2020-10-06 19:23] #3591 closed

[2020-10-07 17:57] dthaler opened #3646 "Code cleanup: Allow internal code to call "timegm" on Windows"
PR #3544 tried a change but hit:
..\..\tests\crypto\crl_tests.c(20): error C2220: warning treated as error - no 'object' file generated
..\..\tests\crypto\crl_tests.c(20): warning C4005: 'timegm': macro redefinition
C:\Users\oeadmin\workspace\pipelines\Azure-Windows\include\openenclave/internal/datetime.h(21): note: see previous definition of 'timegm'

Need to investigate how to clean this up, to

[2020-10-07 19:58] dthaler opened #3647 "Docs around determining SGX version"
https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/SGXSupportLevel.md currently has complicated ways of determining whether SGX1 or SGX1+FLC is available.

My understanding is that oesgx.exe is included in the prereqs now so that it can be used without having to manually build it as stated on this page.  The issue with the page as it stands is chicken-and egg.  It says

[2020-10-07 23:59] dthaler commented on #3646
As noted in PR #3544 comment:

The error was
[code]
and that's because `....\tests\crypto\crl_tests.c` already does the same thing as what I said to put in `datetime.h`.
All that's needed to clean this up is to delete `....\tests\crypto\crl_tests.c` lines 19-21.

[2020-10-08 01:59] BRMcLaren opened #3648 "[CI/CD] Code Coverage failing in CI, blocking merge requests."
Earlier today all ACC-1804 build agents refused to spawn, thus leading to a large CI backlog and blocked merges. Upon investigation, it seems this is due to the VM initialization scripts failing which install the code coverage dependencies. In the short term, I have removed the initialization scripts from the images, which allows the VMS to spawn. This unblocks most of the CI runs but we still hav

[2020-10-08 02:10] BRMcLaren commented on #3648
-- Spectre 1 mitigations supported

-- CODE_COVERAGE set - enable code coverage tests

CMake Error at CMakeLists.txt:317 (message):

  LCOV is not found.

-- Configuring incomplete, errors occurred!

See also "/home/oeadmin/workspace/pipelines/Azure-Linux/build/CMakeFiles/CMakeOutput.log".

See also "/home/oeadmin/workspace/pipelines/Azure-Linux/build/CMakeFiles/CMakeError.log".

[2020-10-08 11:31] letmaik opened #3649 "symlink"

[2020-10-08 11:31] #3649 closed

[2020-10-08 11:38] letmaik opened #3650 "Support Intel QPL without requiring a symlink"
In https://github.com/openenclave/openenclave/pull/2966 docs were extended on how to use OE with Intel QPL. There's a big section which says that OE can't detect Intel's QPL out of the box and hence a symlink has to be created. This should be fixed in OE and/or Intel libraries.

There is a stale issue on Intel's repo about this: https://github.com/intel/SGXDataCenterAttestationPrimitives/issues/10

[2020-10-08 15:08] BRMcLaren commented on #1499
The requirements for a development image are to have a _minimal_ set of dependencies but wanted to throw my hat in here to try to get some early feedback of the CI process I am working on.

The images in the open enclave docker hub for canonical and 2019 images (can we drop 2016 from the requirement here, it is likely out of scope as it's EOL'd). come preloaded with everything. For example:

https

[2020-10-08 15:12] BRMcLaren commented on #1499
I am marking the first 2 verification options as complete, as we know this to be possible and I have a POC CI system that uses this. I _like_ dockerhub for hosting as it is guaranteed to be publicly accessible and across 5000+ runs I have not seen a failure so would say that as a development SLA this is reasonable.

[2020-10-08 15:56] BRMcLaren commented on #3648
Renaming to

No longer blocking with addition of https://github.com/openenclave/openenclave/pull/3651

[2020-10-08 17:26] #3276 closed

[2020-10-08 17:26] #3455 closed

[2020-10-08 19:06] #3377 closed

[2020-10-08 19:43] #3475 closed

[2020-10-09 06:07] #3646 closed

[2020-10-12 07:15] hyunsooda opened #3658 "Remote Attestation Error on Intel SGX-enabled Machine"
Hi, I'm trying to test RA on Intel SGX-enabled machine, not ACC.

I followed this doc (https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md), but RA error still occurred. (There was no error when it ran on ACC)

I put the detailed error msg when I ran `make run` in `sample/attestation` with the flag `OE_LOG_LEVEL=INFO`.

[2020-10-12 11:44] johnvenn opened #3660 "can't use openssl EVP_Decrypt functions inside enclave"
Tried to use gcm_decrypt inside OE enclave as in :
https://wiki.openssl.org/index.php/EVP_Authenticated_Encryption_and_Decryption

compiled the code, there were errors:
FILE, va_list not identified.

I checked the header files in corelibc, <stdarg.h> and <stdio.h>, those vars are renamed as OE_FILE and OE_VA_LIST

Is there any recommendation on how to use EVP decrypt/encrypt function inside enclav

[2020-10-12 13:49] flothia opened #3662 "CPUID emulation effective only during compilation / dynamically initialize crypto modules using mbedtls"
Hi all,

Testing the local attestation example, i wondering if it was possible despite the CPUID emulation, to intialize dynamically the crypto module (using mbedtls).
I am looking for a solution which i can inject the public key dynamically and then, load the associated enclave.

Thanks in advance,

Flo

[2020-10-12 17:07] mingweishih commented on #3660
Typical enclave applications should not use corelibc unless you are developing libraries for SDK internal. Can you provide more information regarding your scenario?

[2020-10-12 18:14] mingweishih commented on #3660
Currently, the following OpenSSL test has been ran and succeeded in OE.

https://github.com/openssl/openssl/blob/ea7a58a60659d12d102ec78af4d6c3e589347150/test/evp_test.c

Can you also check if the APIs you want to use are part of this test?

[2020-10-12 18:16] CodeMonkeyLeet commented on #3662
@flothia Can you walk us through what you are trying to achieve when you say "dynamically initialize the crypto modules using mbedtls" and how that relates to injecting a public key (into what component) and loading the enclave?

I'm also not following how that relates to CPUID emulation or what you mean by CPUID emulation effective only during compilation? To clarify, the CPUID emulation inside t

[2020-10-12 18:17] radhikaj commented on #3650
@MWShan  will propose either a fix or a workaround for this problem.

[2020-10-12 18:37] shnwc commented on #3658
The RSA keys used by `oesign` to sign enclave images are unrelated to the ECDSA keys in evidenced for remote attestation.

The log line 49 indicates that DCAP in-process quoting is used, and line 60 indicates that the application has not been setup with sufficient privilege for in-process quoting. Please make sure the instructions in the [DCAP README](https://github.com/intel/SGXDataCenterAttestat

[2020-10-13 01:31] hyunsooda commented on #3658
Hi @shnwc :smile:

I added user account to `sgx_prv` and the error occurred still. Let me attach libraries installed.
[code]
I'm sure that necessary libraries are installed to run remote attestation. Is there some point in configuration or installation that I'm missing?

Thank you

[2020-10-13 01:43] dthaler opened #3666 "IPv6 sockets don't work on Windows"
AF_INET6 sockets simply don't work at all on Windows due to bugs in OE.  This is because the address family numbers aren't mapped correctly between the enclave and the host.   In MUSL, AF_INET6 is 10, whereas in Windows AF_INET6 is 23.   IPv4 works by a happy coincidence that AF_INET is 2 in both headers.

Other numbering spaces are mapped, like _winsockerr_to_errno() but AF values are not.  As a

[2020-10-13 01:59] hyjiang commented on #3658
Are you running the test in guest VM? if it's the case, then pls make sure you using `root` or user in `sgx_prv` group to launch the VM.

[2020-10-13 02:07] dthaler opened #3667 "IP socket options don't work on Windows"
This is because OE does not correctly map socket option numbers between the enclave and the host OS.

oe_syscall_getsockopt_ocall() in https://github.com/openenclave/openenclave/blob/master/host/windows/syscall.c converts the socket option number to the host numbering space with:
optname = _musl_to_bsd(optname, musl2bsd_socket_option);

However, that line ignores the socket level and incorrectly a

[2020-10-13 02:11] dthaler opened #3668 "ioctl documentation is lacking"
https://github.com/openenclave/openenclave/blob/master/docs/UsingTheIOSubsystem.md just says:

For example, what is a "request type"?  What is "partial" support?  Which ioctls are supposed to work?  Right now, one might conclude that nothing works.

Indeed on Windows, nothing works (oe_syscall_ioctl_ocall always returns an error), which would seem to contradict the doc's text.

[2020-10-13 04:43] hyunsooda commented on #3658
Hi @hyjiang,

No, I was not using VM when testing the RA.

[2020-10-13 09:04] #3483 closed

[2020-10-13 13:59] flothia commented on #3662
Using the local attestation example as reference, i wanted to achieve the below steps :
   - launch an enclave
   - do an ecall with the pubkey as argument to create a new dispatcher (without the default initialization)
   - do an ecall to initialize the dispatcher
   - do an ecall to initialize the dispatcher
With this scenario, in the crypto module, init_mbedtls return an error of type "illegal

[2020-10-13 14:02] flothia commented on #3662
It was a mistake of me to talk about compilation ; i meant the enclave initialization as you mentioned.

[2020-10-13 14:13] johnvenn commented on #3660
thanks, mingwei.

The APIs I was trying to use is in the test cases evp_test.c. But I think evp_test.c is the code running outside enclave?

I was trying to use EVP_CIPHER_decrypt as the internal funtion in an OE SDK lib(protected code loader ).

[2020-10-13 16:26] mingweishih commented on #3660
The test code is running inside the enclave and uses oelibc instead of corelibc. Is there a requirement that PCL does not use oelibc (i.e., musl c)?

[2020-10-13 17:33] radhikaj commented on #3518
There is an  intersection with EDMM and memory management model - See https://github.com/openenclave/openenclave/pull/3639

[2020-10-13 17:36] #3560 closed

[2020-10-13 17:38] radhikaj commented on #3551
Related PR: #3582

[2020-10-13 19:00] CodeMonkeyLeet commented on #1520
### Summary of investigations

The Intel SDM itself is noncommittal with respects to register & state preservation as it relates to a standard ABI, largely delegating it to software:

For the OE SDK, I’d like to propose the following set of ABI expectations, taking into account general purpose registers (GPRs), control registers (MXCSR and floating point control word), and RFLAGS:

1. **The OE SDK

[2020-10-13 19:07] CodeMonkeyLeet commented on #3644
After further investigation and thinking through the appropriate ABI behavior for OE SDK (see issue #1520 for full summary), I'm proposing that we do not preserve XSAVE state in any of the stated scenarios:

- Neither the [Windows](https://docs.microsoft.com/en-us/cpp/build/x64-calling-convention) nor [Linux](https://github.com/hjl-tools/x86-psABI/wiki/x86-64-psABI-1.0.pdf) ABI expects XSAVE featu

[2020-10-14 00:15] #3551 closed

[2020-10-14 00:27] johnvenn commented on #3660
thanks a lot, mingwei. I didn't realize I need to try to use oelibc instead of corelibc. I will have a try .

[2020-10-14 00:27] #3660 closed

[2020-10-14 01:34] bodzhang commented on #1520
vzeroupper instruction is probably for [performance reason]( https://software.intel.com/content/www/us/en/develop/articles/avoiding-avx-sse-transition-penalties.html).

[2020-10-14 14:44] jumaffre commented on #2724
Addressd in #3643

[2020-10-14 15:18] flothia commented on #3662
Ok, my bad ; my loading of enclaves was a mess, and that's why the initialization of my crypto modules failed.
My below comments were completely wrong.
Sorry !

[2020-10-14 16:18] CodeMonkeyLeet commented on #3662
Okay, thanks for the follow-up! We'll close out this issue then, but feel free to come back with more questions later.

[2020-10-14 18:22] shnwc commented on #3658
When  you run "groups" command, is "sgx_prv" listed as one of the groups? Can you follow the suggestions in log lines 21 and 32 to enable in-enclave logging, and re-run the tests and see what the logs show?

[2020-10-14 18:55] dthaler commented on #3660
Yes that's a common confusion due to lack of documentation on this topic.

[2020-10-15 01:34] hyunsooda commented on #3658
Sure,

[code]

It seems to be added a call trace for getting report and others are the same before.

[2020-10-15 02:26] jdbeaney commented on #3658
Which SGX driver do you have installed?  /dev/sgx or /dev/isgx?

[2020-10-15 05:59] hyunsooda commented on #3658
Hi @jdbeaney,

I have two machines, one displays `/dev/sgx` another one displays `/dev/isgx` and both show the same quote error.

[2020-10-19 02:25] anakrish opened #3680 "pselect6:"
From Simon https://github.com/openenclave/openenclave/pull/3624#discussion_r498452379:
 I think the determinant  for this _(whether to implement 5 or 6 arg version of pselect)_ is how we compile MUSL for OE SDK:
- We only build oelibc with select.c and not pselect.c
    - `pselect()` uses a 6 arg variant
- `select()` uses `SYS_select` only if `SYS_select` is defined, otherwise, it uses `SYS_pselec

[2020-10-19 03:26] yentsanglee commented on #3313
Closing the issue as MAA has changed to use OE SDK to generate certificate.

[2020-10-19 03:26] #3313 closed

[2020-10-19 18:06] radhikaj commented on #3666
Adding a test for IPV6 is recommended,

[2020-10-19 18:09] radhikaj commented on #3668
Note: Does not work at all on Windows.

[2020-10-19 18:19] dthaler opened #3681 "ioctl() doesn't work on Windows"
https://github.com/openenclave/openenclave/blob/master/docs/UsingTheIOSubsystem.md says:

However, on Windows it actually doesn't work at all.   oe_syscall_ioctl_ocall always returns an error.  https://github.com/openenclave/openenclave/blob/master/host/windows/syscall.c says:

Issue #3668 tracks fixing the docs to say so, whereas this issue tracks doing the code changes to make it work.

[2020-10-19 20:07] #3521 closed

[2020-10-19 21:19] BRMcLaren commented on #3640
- [ ] openenclave
- [ ] openenclave-build
- [ ] openenclave-ci
- [ ] oeedgr8r-cpp
- [ ] openenclave-curl
- [ ] openenclave-mbedtls
- [ ] public-talks
- [ ] openenclave-site
- [ ] gperftools
- [ ] openenclave-template

[2020-10-20 01:07] #2945 closed

[2020-10-20 19:42] jxyang opened #3686 "Add finalizer to ramfs to clean up zero-link files"
When a file is unlinked but still opened by a process, it's in a limbo state (until the process closes it). We should add a finalizer to the ramfs so that when libos exits, the zero-link files are deleted.

Usually this should not be an issue unless libos is running with `--export-ramfs`.

[2020-10-20 19:43] #3686 closed

[2020-10-22 01:59] hyunsooda commented on #3658
I have a new machine which is equipped with a list below.

- Xeon E-2200 series
- /dev/sgx
- AESNI is enabled

The error logs are the exactly same as before. Can I know about your environments or configuration for RA on Openenclave?

[2020-10-22 23:56] mingweishih commented on #3552
This is currently addressed by https://github.com/openenclave/oeedger8r-cpp/pull/52. However, we're planning to support this feature in the coming release.

[2020-10-23 01:27] CodeMonkeyLeet commented on #1852
Note that #3395 partially addresses the differentiation of magic numbers: host and enclave implementation structures have different identifiers, as do structures belonging to different crypto implementations (OpenSSL, BCrypt, MbedTLS) in the same environment.

[2020-10-23 21:26] yentsanglee opened #3689 "Request to expose additional SGX report fields as claims"
Summary:
•	All potentially-useful bits and fields in an SGX report should be exposed
•	Some of the missing fields are new with KSS/IceLake, but not all.

Here’s the definition of the SGX report structure, for IceLake onwards, with the fields where we need OE to emit new claims marked with >>:

[code]
Of these, two are bitfields: misc_select and attributes. The rest are uninterpreted integers or bi

[2020-10-26 15:46] dthaler opened #3690 "Enable Linux app development in Visual Studio extension"
https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/visualstudio_dev.md says:

[code]

On the `<needs testing>` items, I tested and they don't work at present, they hit a build error trying related to not finding the _u.c file generated from the EDL.

This issue tracks the work needed to finish making VS work for Linux again.  It worked in the past back when the [Channel

[2020-10-26 16:38] dthaler opened #3691 "Update VS extension support matrix documentation"
https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/visualstudio_dev.md says:

- The following matrix shows what combinations are supported in this version:
[code]

The Windows non-SGX Simulation now works, so that line should say Yes.
The Linux lines should say "Not yet" per issue #3690

[2020-10-26 16:39] dthaler commented on #3691
This is a trivial documentation fix.  I can do it in the next day or two.

[2020-10-26 18:45] manojrupireddy opened #3692 "Dont use hardcoded salt values in file encryptor sample applications."
This came as part of openssl file encryptor sample application [PR](https://github.com/openenclave/openenclave/pull/3446) . Currently we use hardcoded salt values for AES encryption and key generation using password related function(PBKDF2). Instead of hard coded salt values residing in the code, salt values should be randomly generated and the encrypted salt value should be part of `encryption_he

[2020-10-27 18:36] yentsanglee commented on #3619
Working with infrastructure team to ensure all nodes consuming the TCB Info are running the latest firmware.

[2020-10-28 17:12] rs-- commented on #3015
@radhikaj given that the technical work is already done, is there anything left for @BRMcLaren or myself to do for the ticket?

[2020-10-28 17:32] BRMcLaren commented on #3015
@rs-- Yeah there is, as the install scripts are still pulling from the IDZ.

https://github.com/openenclave/openenclave/blob/master/scripts/install-windows-prereqs.ps1#L17

This needs to be changed so it pulls from a persistent storage location (or WU once the PSW/DCAP merge is complete). Then the scripts need to be modified to include the legal components outlined here

Specifically, this would b

[2020-10-29 18:41] jdbeaney commented on #3658
What OS are you running?

Can you add the the user running the code the "sgx_prv" group?
sudo usermod -a -G sgx_prv <user name>

[2020-10-30 02:43] hyunsooda commented on #3658
Yes, I added a user who runs RA into `sgx_prv` and I was testing in Ubuntu 18.04.

[2020-10-30 14:02] flxflx opened #3698 "In-enclave quote/report verification uses untrusted time for collateral verification"
Hi,
we came across the following while looking into enclave-to-enclave remote attestation.

`oe_verify_report_internal()` invokes `oe_verify_sgx_quote()` with `input_validation_time = NULL`:
https://github.com/openenclave/openenclave/blob/ab69ff71dede60317426d739e170289e32706994/enclave/sgx/report.c#L108-L112

This leads to `input_validation_time` being read from `sgx_endorsements`:

https://githu

[2020-10-30 15:34] flxflx commented on #3698
Just realized that the experimental `oe_verify_evidence()` supports setting a custom time via `policies`.

[2020-10-30 16:51] jdbeaney commented on #3658
OK.  And you are still seeing the Privilege error in the logs (0xe035)?
SGX_QL_ERROR_INVALID_PRIVILEGE = SGX_QL_MK_ERROR(0x0035)

 46  [/source/host/sgx/linux/sgxquoteproviderloader.c:oe_load_quote_provider:64]
 47 2020-10-15T10:22:56+0900.833518Z [(H)ERROR] tid(0x7f84b5642c00) | quote3_error_t=0xe035

[2020-10-31 18:17] hyunsooda commented on #3658
Currently, the error log is `2020-10-31T14:02:56-0400.834394Z [(H)ERROR] tid(0x7f10bea66c00) | quote3_error_t=0xe011`
(SGX_QL_NO_PLATFORM_CERT_DATA = SGX_QL_MK_ERROR(0x0011)).

The name defined for the log seems to be implicit that I have to make a certificate from Intel.  Isn't it?
Thanks for helping me.

[2020-11-01 04:40] yentsanglee commented on #3698
The attester, who generates the quote, appends local time to endorsement output which is informational and unverified. The relying parties/verifiers do not need the endorsement input to verify evidence. If the verifier chooses to take endorsement input, all endorsements are exposed by claims after calling oe_verify_evidence() and decision can be made by the relying party whether to trust the sourc

[2020-11-02 19:05] radhikaj commented on #3698
Lets get inputs from @flxflx.

[2020-11-02 19:06] radhikaj commented on #3698
The verifier behavior and app requirements should be documented.

[2020-11-02 19:15] MWShan commented on #3650
Installing the latest developer package (located here: https://download.01.org/intel-sgx/sgx-linux/2.11/distro/ubuntu18.04-server/debian_pkgs/devel/libsgx-dcap-default-qpl-dev/ ) should provide a symbolic link from the linker name (libdcap_quoteprov.so) to the soname (libdcap_quoteprov.so.1).  Does this work for you?

The release package should provide a symbolic link from the soname to the actual

[2020-11-03 02:18] radhikaj commented on #3043
@anakrish I think this is fixed. Can you reopen if you find an issue?

[2020-11-03 02:18] #3043 closed

[2020-11-03 02:34] radhikaj commented on #3372
@JeromeCustodio  Can you please reopen if you dont have an alternative and this is blocking you?

[2020-11-03 02:34] #3372 closed

[2020-11-03 03:48] radhikaj commented on #3075
This is a dup of https://github.com/openenclave/openenclave/issues/1046

[2020-11-03 03:48] radhikaj commented on #1046
This is a duplicate of #3075

[2020-11-03 10:04] venuvedam opened #3701 "Instructions not clear on Linux_using_oe_sdk.md page"
Page Referred: https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Linux_using_oe_sdk.md

Statement: "Open Enclave SDK install folder to CMAKE_PREFIX_PATH, for use of the CMake package."

Problem: I don't see "install" folder anywhere in the /opt/openenclave directory. Are we referring to the generic install folder of openenclave (/opt/openenclave) or the cmake directory

[2020-11-03 20:06] yentsanglee opened #3703 "Stop generating attestation certificates with old report OID"
Per agreement with external teams, stop generating attestation certificates with old OIDs "1.2.840.113556.10.1.1" and "1.2.840.113556.10.1.2".

New OIDs are "1.3.6.1.4.1.311.105.1" and "1.3.6.1.4.1.311.105.2".

[2020-11-03 23:14] BRMcLaren commented on #3618
This has been completed.

[2020-11-03 23:14] #3618 closed

[2020-11-03 23:19] BRMcLaren commented on #2798
I've implemented everyone's asks over here: https://github.com/openenclave/test-infra/

If any further asks exist, please write them there. Thanks @AevaOnline  for the pointers!

[2020-11-03 23:19] #2798 closed

[2020-11-03 23:31] BRMcLaren commented on #2805
We went another direction, using Owners files and allowing any collaborator in the organization to submit trusted PR's. Anyone outside of the org, we have given everyone the ability within the org to whitelist their PR's. This is auditable, and the reviewers/approvers can be seen in any repo.

Yes. This was an interesting learning curve. We implemented Prow for granular access control. The merge b

[2020-11-03 23:31] #2805 closed

[2020-11-04 13:17] flxflx commented on #3698
Hi Radhikja and Yen :-)

Sorry, my initial post may wasn't very precise. In a nutshell, we have a project where we're doing enclave-to-enclave attestation. Thus we consider the local time of the verifier to be untrusted. As `oe_verify_report()` apparently always uses local time to check freshness one shouldn't use it for enclave-to-enclave attestation.

I agree that this is mostly a documentation

[2020-11-04 13:17] #3698 closed

[2020-11-04 18:16] jdbeaney commented on #3658
This error (SGX_QL_NO_PLATFORM_CERT_DATA = 0xE011) means that the PCK Certificate for your platform is not available from the caching service (PCCS).  Can you check you PCCS configuration and QPL configuration matches the doc here:  https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md

If the configuration is correct, ca

[2020-11-04 20:35] yentsanglee opened #3705 "Simplify the steps to set up OE SDK to run on non-ACC Machines"
Steps to set up OE SDK on non-ACC machines are described [here](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/NonAccMachineSGXLinuxGettingStarted.md)

The request is to simplify the process by adding a script to make the experience more friendly and avoid human error.

Related issue - #3658

[2020-11-04 20:36] mingweishih opened #3706 "The ssl_unsupported.h appending in ssl.h causes compilation errors"
Currently, the `#include <openssl/ssl_unsupported.h>` is appended to the `ssl.h`, which aims to raise compilation errors when any of APIs specified in `ssl_unsupported.h` is used by an application. However, the way it is appended causes errors even when no APIs are used.
[code]

The root cause is that the inclusion of `ssl_unsupported.h` is outside the scope of `#ifndef HEADER_SSL_H` and the `ssl.

[2020-11-04 20:59] yentsanglee opened #3708 "Document the impact of untrusted time"
Certificate validation and evidence verification rely on time input. However, machine local time is considered untrusted. OE SDK in general assumes no responsibility for the accuracy of machine local time. Documentation is needed to make it clear and perhaps suggest useful practices. This includes:

- Docs for OE SDK development
- API Doxygen
- Samples

Related issue - #3698

[2020-11-04 23:53] #3706 closed

[2020-11-05 02:02] lzha101 opened #3710 "Error during install the nuget package from 0.12.0 release"
Just have a try to install the nuget package from 0.12 release
https://github.com/openenclave/openenclave/releases/download/v0.12.0/open-enclave.0.12.0.nupkg

with the command from [here](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk-Windows.md#download-and-install-the-open-enclave-sdk-nuget-package) and got below error message:

Also tried it in Vis

[2020-11-05 02:02] hyunsooda commented on #3658
- PCCS is running via pm2 on the `pccs` user
- Still can fetch rootcrl with this command `curl --noproxy "*" -v -k -G "https://localhost:8081/sgx/certification/v2/rootcacrl"`
- Still failed remote attestation, please see the following logs (log level was set to `info`)

0|pccs     | 2020-11-04 20:39:58.387 [error]: Error: No cache data for this platform.
0|pccs     |     at Object.exports.pckCertS

[2020-11-05 02:19] jdbeaney commented on #3658
Can you change the PCCS logging level to 'silly' and provide the logs?

[2020-11-05 02:25] hyunsooda commented on #3658
Uhm, the log is same as before although the logging level was changed to `silly`.

[2020-11-05 02:29] jdbeaney commented on #3658
Looking at you CPUSVN (cpusvn=0006FFFFFFFF00000000000000000000) it looks like you have an older BIOS.  Can you get an updated BIOS from your OEM vendor?  The problem is that the uCode patch is not loaded at reset.

[2020-11-05 05:51] hyunsooda commented on #3658
I updated the BIOS and saw some changed log.

Before update BIOS:
- `cpusvn=0006FFFFFFFF00000000000000000000&pcesvn=0A00&pceid=0000`
After update BIOS:
- `cpusvn=0010FFFFFFFF00000000000000000000&pcesvn=0A00&pceid=0000`

How I know that whether the represented bios number is outdated or not?

[2020-11-05 13:13] jdbeaney commented on #3658
The CPUSVN value is non-architecturally defined.  Meaning, it can change definition over time.  From your latest data, I can see that you updated your BIOS but the BIOS is still not loading the uCode patch at reset.  I have seen this problem with HP platforms before.  Do they have an SGX capable BIOS that you can apply to this platform?

[2020-11-05 19:04] shnwc opened #3712 "AttestedTLSREADME.md is out dated."
The document [AttestedTLSREADME.md](https://github.com/openenclave/openenclave/blob/master/samples/attested_tls/AttestedTLSREADME.md) contains broken links and reference to samples that have since changed.

[2020-11-05 23:45] #3703 closed

[2020-11-06 01:48] markg-intel opened #3717 "Mangling and boundary checking in setjmp/longjmp implementations"
It's common for setjmp/longjmp implementations to mangle register values before storing in setjmp and unmangle before loading in longjmp. This is intended to make it harder for an attacker to usefully exploit a buffer overflow type vulnerability that might be present. openenclave does not do this mangling. Should it?

Also, the Intel SGX SDK checks whether the setjmp/longjmp buffer is within the e

[2020-11-06 04:57] hyunsooda commented on #3658
Yes, I'm using HPE server platform and I couldn't find SGX capable BIOS in the online service center, where I found latest bios patch. It seems that there is no information about this problem. Can I know about your server or desktop envrionment(Platform, CPU, OS, etc)?

[2020-11-06 07:32] yanxue-intel opened #3718 "oeedger-cpp ignores invalid syntax checks for pointer with 'const' keyword"
my.edl

[code]
oeedger-cpp tool's result:
[code]

oeedger(OCAML) tool's result:
[code]

[2020-11-07 09:19] hyunsooda opened #3720 "Question about remote attestation"
Hi,
Two questions were popped in my mind by struggling to try demonstrate remote attestation in multiple platforms.

1. In ACC, we do not need any dependencies such as PCCS server and API KEY required to query to IAS, which are necessary in non-ACC machine to demonstrate remote attestation. How it is correctly work in ACC without PCCS server and API KEY?

2. Is there a way to demonstrate remote at

[2020-11-09 19:05] radhikaj commented on #3705
@BRMcLaren  is working on setting up containers for developer environment. Please sync with him to see if this can be accomplished in a similar manner.

[2020-11-09 19:08] radhikaj commented on #3710
@lzha101 there seems to have been an upload error and over the weekend I did another upload. Thanks for pointing this out and please try again and let us know. Thanks

[2020-11-09 19:08] BRMcLaren commented on #3705
@yentsanglee We are working on getting dev containers up and running, the experience would then be to grab the image from https://hub.docker.com/u/openenclave and run locally. These containers contain all the dependencies for developing and running the oesdk.

Given this, would you still like a script or would this suffice?

[2020-11-09 19:14] radhikaj commented on #3717
1. Obfuscation
2. oe_within_enclave -> Add a check

[2020-11-09 19:16] radhikaj commented on #3720
@yentsanglee will respond to first question and @MWShan will respond to the second one.

[2020-11-09 19:27] rs-- commented on #3710
Verified the new upload; @lzha101 please let us know if there are further issues, thanks!

[2020-11-09 19:35] yentsanglee commented on #3720
DCAP stands for Data Center Attestation Primitives which provides SGX attestation support targeted for data centers, cloud services providers and enterprises.

If you follow OE installation doc such as [this](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk-Ubuntu_18.04.md), a DCAP component [az-dcap-client](https://github.com/microsoft/azure-dcap-clien

[2020-11-09 19:44] yentsanglee commented on #3375
New field 'id' will be postponed to later Intel release.

[2020-11-09 19:44] #3375 closed

[2020-11-09 20:07] BRMcLaren commented on #3010
@CodeMonkeyLeet I fixed this as part of #2960 , closing now. If we see a resurgence please re-open,

[2020-11-09 20:07] #3010 closed

[2020-11-09 20:07] BRMcLaren commented on #3601
Completed! Prow is live on oeedgr8r for the past few weeks

[2020-11-09 20:07] #3601 closed

[2020-11-09 20:10] BRMcLaren commented on #3323
Prow is still in development at the [test-infra](https://github.com/openenclave/test-infra) project. Let's move this conversation there.

[2020-11-09 20:10] #3323 closed

[2020-11-09 20:11] BRMcLaren commented on #3323
https://github.com/openenclave/test-infra/issues/266

[2020-11-10 13:28] hyunsooda commented on #3720
Hi @yentsanglee ,
Is there a centralized server in ACC that can be delegated from az-dcap-client so that user does not need to setup the PCCS server and issue a new API KEY?

[2020-11-10 21:40] yentsanglee commented on #3720
@hyunsooda  Yes, Azure cloud has its own API KEY to access Intel server and caches all necessary information. `az-dcap-client` accesses the cache in Azure for users without key.

[2020-11-11 00:50] dthaler opened #3725 "VS extension 0.12 in VS marketplace is broken"
https://github.com/openenclave/openenclave/blob/master/devex/vsextension/vsix-release-process.md documents the release process, but there seems to have been some error or step missed when generating the package now deployed in the marketplace, which is broken.

Its extension.vsixmanifest correctly references open-enclave-cross.0.12.0.nupkg, but the package instead still contains open-enclave-cross

[2020-11-11 18:32] binxing opened #3727 "Test environment doesn't allow SGX enclaves to access PROVISION keys"
#3526 adds PROVISION key and EINIT key support, and its test cases require setting the `PROVISION_KEY` attribute bit for the test enclaves, which is however disallowed in the test environment by bors.

- On Linux, assuming the same SGX kernel module as in an ACC VM, a process requires RW access to `/dev/sgx/provision`  to launch enclaves with `PROVISION_KEY` set.
- On Windows, I'm not sure what's

[2020-11-13 22:07] radhikaj commented on #2004
We are closing this issue since we will not be fixing at it this time. Can you please reopen with updates to what the security issues in the current code base are if you feel it is necessary.

[2020-11-13 22:07] #2004 closed

[2020-11-13 22:10] radhikaj commented on #2131
@yentsanglee Can we please retest this?

[2020-11-13 22:12] radhikaj commented on #2775
@anakrish prototyped this. enclave instaces are currently pointers, instead they should be handles. The implementation is high cost.

[2020-11-13 22:25] radhikaj commented on #565
Documentation added. Closing out for now.

[2020-11-13 22:25] #565 closed

[2020-11-13 22:27] radhikaj commented on #2008
https://github.com/openenclave/openenclave/pull/3347 fixes get time.
The others are not edlizable in the near future.

[2020-11-13 22:31] #1032 closed

[2020-11-13 22:32] #977 closed

[2020-11-13 22:35] #3118 closed

[2020-11-13 22:45] #3605 closed

[2020-11-13 22:51] #864 closed

[2020-11-13 22:52] radhikaj commented on #864
This is not a feature that will be implemented since SIG-Attestation has decided that cert ordering is fixed.

[2020-11-13 22:54] radhikaj commented on #1833
@anakrish please follow up on strncpy issue.

[2020-11-14 00:09] CodeMonkeyLeet commented on #3644
After follow-up with Intel, they agree that it is not necessary to preserve XSAVE state across the enclave transition boundary, so closing out this issue. For other resolved questions around formalizing the OE enclave transition ABI, see #1520.

[2020-11-14 00:09] #3644 closed

[2020-11-14 01:42] CodeMonkeyLeet commented on #1520
#3620 and #3721 addresses the gaps previously discussed. To summarize the resulting standardized ABI state preservation behaviors:

* OE SDK only supports Linux ELF enclaves and so enclave apps follow the Linux x64 ABI
    - OE enclave runtime is responsible for preserving/restoring RBX, RBP, RSP, R12, R13, R14, and R15, MXCSR, x87 FP Control Word (a.k.a. FCW) on OCall.
* OE SDK host library on Li

[2020-11-14 01:42] #1520 closed

[2020-11-14 20:37] #3689 closed

[2020-11-16 13:27] bodzhang commented on #3118
@anakrish , `sgx_exit_info` contains the #PF error code or #GP error code. For #PF, `sgx-exit_info` also contains the memory address that the faulting instruction is attempting to access (CR2 value when #PG happens).

@radhikaj , is there a different issue tracking the request to support SIGSEGV based on SGX2.0 #PF/#GP handling?

[2020-11-16 17:31] hyunsooda opened #3728 "Does OE intercept mmap()?"
Hi,
I was wondering that how OE intercepts `mmap()`, which is called inside of `malloc()`. Please see the example(ecall) below.
[code]
Two area were allocated, one is allocated using  `malloc()`, another one is `oe_host_malloc()`. In Heap memory, I could see the content of `tmp_mem2` ("oe_host_malloc data!"), but the content of `tmp_mem` ("malloc data!") was not visible.

The function [oe_host_mal

[2020-11-16 17:40] yakman2020 opened #3729 "Highly auditble and reproducible build environment for openenclave using NIX should be added"
NIX is a package manager/build system which incorporates the principles of transparency and reproducibility at a very basic level. The result is that it is possible to provable trace the resulting .deb file through the dependent libraries and tools to the end result. This greatly increases the level of confidence a client project can have in the resulting package.

I propose to wrap the openenclav

[2020-11-16 17:51] jxyang opened #3730 "Failed to install Intel sgx packages on ACC VM"
I get the following while running `sudo ansible-playbook scripts/ansible/oe-contributors-acc-setup.yml` in a fresh cloned openenclave folder:

fatal: [localhost]: FAILED! => {"cache_update_time": 1605548270, "cache_updated": true, "changed": false, "msg": "'/usr/bin/apt-get -y -o \"Dpkg::Options::=--force-confdef\" -o \"Dpkg::Options::=--force-confold\"      install 'libsgx-enclave-common' 'libsgx

[2020-11-16 17:56] anakrish commented on #3728
Within an enclave, `malloc` allocates objects in enclave memory whereas `oe_host_malloc` allocates objects in host memory.

`malloc` is implemented via [pluggable allocators](https://github.com/openenclave/openenclave/blob/master/docs/DesignDocs/PluggableAllocators.md). OE currently allows `dlmalloc` or `snmalloc` to be used as the allocators.

These allocators may not themselves use `mmap` since

[2020-11-16 19:06] CodeMonkeyLeet commented on #3730
@MWShan Can you also add any instructions specific to package upgrades for this scenario? @BRMcLaren mentioned that he will look into whether the new Intel dependencies dropped over the weekend causes this issue.

[2020-11-16 19:19] CodeMonkeyLeet commented on #3729
@yakman2020 Yes, please submit a design doc for this and also submit an additional issue to track how this proposal would be integrated with CI/CD. Does not have to be in v0.13, adding this to the v0.14 milestone which can be revisited in the next sprint.

@radhikaj FYI for SIG-Release tracking.

[2020-11-16 19:19] MWShan commented on #3730
Several header files were moved into the libsgx-headers package.  This includes files which were removed from the 1.8 version of libsgx-dcap-ql-dev.  The header files should no longer be in the 1.9 version of libsgx-dcap-ql-dev.

This issue can be fixed using the "--force-overwrite" option when upgrading from earlier versions of packages.  For example,

   apt-get dist-upgrade -o Dpkg::Options::="

[2020-11-16 19:20] CodeMonkeyLeet commented on #3728
Leaving this as untriaged while we wait to see if this has addressed @hyunsooda's question.

[2020-11-16 19:23] CodeMonkeyLeet commented on #3727
@MWShan Windows has an integrated support via setting of the regkey to enable admins to opt-in to enabling launch control and it seems like any additional functionality in this space would follow that model. Can you follow-up?

[2020-11-16 19:25] jxyang commented on #3730
Still:

Reading package lists... Done
Building dependency tree
Reading state information... Done
You might want to run 'apt --fix-broken install' to correct these.
The following packages have unmet dependencies:
 libsgx-enclave-common-dev : Depends: libsgx-headers (>= 2.12.100.3-bionic1) but it is not installed
E: Unmet dependencies. Try 'apt --fix-broken install' with no packages (or specify a so

[2020-11-16 19:25] CodeMonkeyLeet commented on #3725
@radhikaj this is already being worked on by Rob, tagging you for awareness for backporting to v0.12 release.

[2020-11-16 19:28] jxyang commented on #3730
This seems working:
[code]

[2020-11-16 19:44] jxyang commented on #3730
Confirmed the above command only needs to be run once per VM. The next run of `oe-contributors-acc-setup.yml` completed without the error.

It's still a potential problem for other ACC VMs. I think we should fix it in the ansible script.

[2020-11-16 19:52] MWShan commented on #3727
In Windows, flexible launch control is currently supported in Windows Server 2016/2019, and is provided through a driver (see https://github.com/intel/SGXDataCenterAttestationPrimitives/tree/master/driver/win ) and is must be enabled by setting the ulong value "SGX_Launch_Config_Optin" under the driver parameters registry key to "1".

If flexible launch control is supported in the HW and enabled v

[2020-11-16 20:01] MWShan commented on #3720
The /dev/isgx driver, which must be used on systems which do not support flexible launch control, requires the use of legacy launch control.  Legacy launch control does not support the generation of quotes for ECDSA based attestation (used in DCAP); however, it does support EPID based quoting for remote attestation via EPID.

[2020-11-17 01:14] ryanhsu19 commented on #2131
The issue still exists on my Ubuntu 18.04 VM, after assigning the paths of the files provided in a previous comment to variables `CERT_EC_BAD_FILENAME` and `CERT_RSA_BAD_FILENAME` in `tests/host_verify/host/host.cpp`:

Start  56: tests/host_verify
56/296 Test  #56: tests/host_verify ....................................................................................................................

[2020-11-17 01:37] jxyang opened #3733 "Upgrade using ansible scripts failed to remove unnecessary files and caused random crashes"
Related: https://github.com/openenclave/openenclave/issues/3328

We have removed the files for `libsgx-enclave-common-dev` from the setup scripts, but we don't explicitly remove them from an existing OE installation when we upgrade with `oe-contributors-acc-setup.yml`. With that we have both `libsgx-enclave-common` and `libsgx-enclave-common-dev` on the system. This causes random failures while ca

[2020-11-17 03:26] anakrish commented on #3733
AFAIK `lib-sgx-enclave-common-dev` package installs `lib-sgx-enclave-common.so` which is a (symbolic?) link to the  `lib-sgx-enclave-common.X.so` shared library installed by `lib-sgx-enclave-common` package.

Having both `lib-sgx-enclave-common` and `lib-sgx-enclave-common-dev` packages installed ought not cause issues.

Can you let us know what `ldd libsgx-enclave-common.so` shows on the failing

[2020-11-17 04:31] hyunsooda commented on #3728
Hi @anakrish, thanks for your kind response.
I forgot the compile option (`-nostdlib`) and `oelibc` library has own `malloc` function that calls `oe_malloc()` which also calls `dlamlloc()`.

1. Where can I see the code that allocates enclave pages by calling IOCTLs to sgx driver? I checked `3rdparty/dlmalloc` but it seems not actually related to enclave page allocation.

2. Can you explain differe