[2020-02-06 21:42] jhand2 commented on #2512
@Francis-Liu that isn't relevant to this issue right? This issue is there currently there are no samples written for how to use the host verification library

[2020-02-06 21:47] yentsanglee commented on #2336
oe_verify_remote_report() has been released. We need to figure out versioning and depreciation policy going forward.

[2020-02-06 21:57] yentsanglee commented on #2283
This is in the backlog but not in current sprint.

[2020-02-06 22:02] yentsanglee commented on #2218
We are working on this issue.

[2020-02-06 22:09] yentsanglee commented on #2177
Tasked.

[2020-02-06 22:13] jhand2 commented on #2177
@yentsanglee On issues where someone is actively working on it can you asign that person here?

[2020-02-06 22:24] jhand2 commented on #2503
Since the update I am seeing `bors try` runs time out sporadically when trying to do a docker pull.

For example: https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/staging/7/pipeline

[2020-02-06 22:49] maverick-zhn commented on #2509
@jhand2, yes, it is enabled. I tested from a Windows partition without OpenEnclave. I replaced the disk with a new one to make some tests. I installed a Linux (Ubuntu 18.04 LTS.)

[2020-02-06 23:06] yentsanglee commented on #2049
Current revocation info size is 4402 bytes on coffeelake 6-core VM.

[2020-02-06 23:26] jhand2 commented on #2509
Oh I think I know what's wrong. Likely secure boot is enabled on the machine, which in Linux means you can't install unsigned kernel drivers.

Could you run `sudo mokutil --sb-state` to double check that? And if it is enabled, could you disable secure boot in BIOS and try again?

[2020-02-07 01:21] BRMcLaren commented on #2513
https://github.com/openenclave/openenclave/pull/2462

Might be of some help.

[2020-02-07 07:10] maverick-zhn commented on #2509
@jhand2, the secure boot was enabled on my computer. Thank you. I disabled the secure boot in the BIOS and the script finished correctly.

I ran the following afterward:
[code]
then, I ran de unit tests.

Last couple of questions: Is it normal that many test cases fail?

This script should install all pre-requisites that I need to work on my computer with an SGX-enabled computer and OpenEnclave ri

[2020-02-07 07:10] #2509 closed

[2020-02-07 17:46] jhand2 commented on #2509
I'm glad its working! When compiling with `-DHAS_QUOTE_PROVIDER=OFF` I wouldn't expect to see any test failures. Feel free to open another issue with which tests are failing and we can try to look into them.

No the script you used will get you all up and running. The installation docs are for if you aren't building OE SDK from source.

[2020-02-07 17:59] BRMcLaren commented on #2503
@jhand2 Thanks for letting us know.

I discussed this with @ionutbalutoiu and believe it looks like a networking issue happening from time to time when pulling the Docker images for the tests.

A change will be coming to allow pre-cached docker images to fix the requirements of pulling down an image anytime. Please bear with us.

[2020-02-07 19:50] jhand2 commented on #1870
@radhikaj SGX-LKL uses vectored exception handling directly. But implementing signals (`signal()` and `sigaction()` is pretty low-hanging fruit for increasing our libc support since we already have an in-enclave exception handling mechanism.

I agree that we should do it, but its more of a "when I get time" thing.

[2020-02-07 20:28] ionutbalutoiu commented on #2503
The Docker images are cached now, and the `docker pull` issue shouldn't pop up again.

[2020-02-07 20:44] BRMcLaren commented on #2503
Thanks @ionutbalutoiu!

[2020-02-07 20:52] radhikaj commented on #2512
@jhand2 is right. Since there is no sample, there is no easy way to test the host verification package

[2020-02-07 20:53] radhikaj opened #2519 "CI/CD to test host verification package"
We are missing tests in the Jenkins pipeline to test the host verification package. Once #2152 is fixed, a Jenkins job can be added to test the host verification package.

[2020-02-07 23:25] jhand2 opened #2520 "Many math tests in libc-test fail"
The following math tests in libc-test fail when run against musl libc. They fail because of lack of precision in operations on doubles.

Failing tests:
* acosh
* asinh
* fmal
* j0
* jn
* jnf
* lgamma
* lgammaf
* lgamma_r
* lgammaf_r
* sinh
* tgamma
* y0
* y0f
* ilogb
* ilogbf
* pow
* powl
* tgammaf
* y1
* y1f
* yn

[2020-02-07 23:52] jhand2 commented on #2520
About hald of these are solved by updating libc-test. PR here:  #2522

[2020-02-07 23:56] jhand2 commented on #2520
The other tests appear to pass when compiling with gcc (just not clang). So after the update, the only math test that fails is fmal.

[2020-02-08 00:24] radhikaj opened #2523 "Jenkins generated open-enclave NuGet package missing files"
The open-enclave NuGet package generated by Jenkins was missing the bits folder. This is fixed by #2516

[2020-02-08 01:07] radhikaj opened #2524 "CI/CD does not test open-enclave NuGet package"
Jenkins should have a job to install the NuGet package and run tests against it. This tests the end user experience.

[2020-02-08 23:51] douglasism commented on #2278
@radhikaj Hi Radhika, Clang 11 has these flags. I have no experience with them in Clang though.

https://clang.llvm.org/docs/ControlFlowIntegrity.html

I'm recommending that this be done in CCF also: https://github.com/microsoft/CCF/issues/819

[2020-02-09 00:45] maverick-zhn opened #2525 "ctest | many tests fail | ubuntu 18.04 LTS | SGX1 mode"
Hello,

I have installed the OE SDK using this document (and also with @jhand2 help):
https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/SGX1GettingStarted.md

After this
[code]
When running
[code]
Many unit tests fail. This is a fraction of  **ctest -V**

[code]
I can see that **OE_PLATFORM_ERROR** is repeated, so I presume fixing this will make the rest o

[2020-02-10 18:14] anakrish commented on #2022
I went through this list again. All of this is addressed
- There is just one path field (const char*) for enclave path. OE SDK currently doesn't support wide char enclave path.
- Rationale/Implementation is described in Debugger Contract instead of README.
- Debugrt is shipped as a DLL in Windows. Installed via nuget.
- Debugrt is currently internal header and therefore can take dependency with OE

[2020-02-10 18:14] #2022 closed

[2020-02-10 18:55] radhikaj opened #2528 "Document workflow for submitting a PR and getting it merged"
Aeva found that our documentation on the process from submitting a PR to it actually getting merged is unclear. Some areas missing were related to bors merging it, how one could use bors try etc. Opening  an issue to track this.

[2020-02-10 20:42] jhand2 commented on #2528
dup of #1920?

[2020-02-10 22:11] mingweishih commented on #2525
This seems like a problem with driver/daemon. Can you try `lsmod | grep sgx` & `service aesmd status` and provide the results?

[2020-02-10 23:23] radhikaj opened #2533 "Document behavior of locale APIs in enclaves"
Document how setlocale, newlocale etc behave inside OE enclaves.

[2020-02-10 23:26] radhikaj commented on #2528
I will go and add comments around bors to 1920. And close this issue.

[2020-02-10 23:26] #2528 closed

[2020-02-10 23:27] radhikaj commented on #1920
Let us include wordind around how bors should be used in this process and who can finally merge the PR.

[2020-02-10 23:29] radhikaj opened #2535 "Document behavior of time APIs inside enclave"
The system calls to get time(gettimeofday, time, clock_gettime) are insecure but currently the only way we have to check if a cert is expired. Document so developers are aware.

[2020-02-10 23:40] jxyang commented on #2535
Do we have plan to enable trusted time in enclave? We received customer request that a contract with expiry has to be enforced inside enclave. @pushkarcMS

[2020-02-10 23:46] nonpolarity opened #2536 "Jenkins set file's modification time in the future."
These files are from the nuget package of cpack on Jenkins.
alvin@weichenv081 MINGW64 /c/open-enclave.0.8.1/openenclave/share/openenclave/samples/attested_tls
$ stat CMakeLists.txt
  File: CMakeLists.txt
  Size: 1386            Blocks: 4          IO Block: 65536  regular file
Device: 14abd27bh/346804859d    Inode: 1125899907054474  Links: 1
Access: (0644/-rw-r--r--)  Uid: (197108/   alvin)   Gid:

[2020-02-10 23:57] radhikaj opened #2537 "After realloc, clear contents of the old buffer"
After realloc, clear the contents of the old buffer to prevent leaking secrets.

void* pNew = realloc(pOldBuffer, newSize);
memcpy(pNew, pOldBuffer, oldSize);
memset(pOldBuffer, 0, oldSize); //This is what we should take care of in this issue.
free(pOldBuffer);

[2020-02-11 00:23] radhikaj opened #2538 "Add support for missing APIs in inttypes.h"
Add ability to call imaxabs(), imaxdiv()from enclaves.

[2020-02-11 01:50] #1804 closed

[2020-02-11 05:04] radhikaj commented on #2328
Thank you @jhand2. The request is to make entropy.h public.
Regarding the API itself being platform dependent, I agree its weird. @HernanGatta could you please comment on why the enclave needs to specify the type of entropy it needs. This should be something the enclave can figure out itself. For trust zone enclaves, is it possible for the enclave to call this API with any oe_entropy_kind_t  value

[2020-02-11 06:50] HydraZeng opened #2540 "What does MaxEnclaveSize_64 mean in oesgx"
Is it the size of phsysical PRM or virtual size? And what does the return 2^(xx) mean?

[2020-02-11 11:30] #2243 closed

[2020-02-11 15:06] maverick-zhn commented on #2525
[code]
No results, :(

[2020-02-11 17:09] anakrish opened #2542 "Remove debugger symbol dependency workarounds"
This issue is to track removal of workarounds introduced in #2534 once debuggers ocall implement stack stitching according to new edger8r contract.

[2020-02-11 17:31] BRMcLaren commented on #2503
Closing after a week as no other issues have surfaced.

[2020-02-11 17:31] #2503 closed

[2020-02-11 17:34] BRMcLaren commented on #1294
@radhikaj I don't believe this is a priority. Closing.

[2020-02-11 17:34] #1294 closed

[2020-02-11 17:36] BRMcLaren commented on #2108
@radhikaj I am not planning on working on this item.

[2020-02-11 17:39] BRMcLaren commented on #2141
@radhikaj No, this cannot be folded into the current work. The install script primarily focuses on an end-user compiling from source whereas the work I am currently doing is for cloud CI/CD.

They are disjoint, unfortunately.

[2020-02-11 17:53] jhand2 opened #2543 "Support semantic versioning by OE release 1.0"
We should support (semantic versioning)[https://semver.org/] by the time we reach a v1.0 release of OE.

Reasoning from @AevaOnline

However, if we adhered to SemVer, then a breaking API change -- and that includes the removal of a public stable API -- must always be accompanied by a major version change in the API.

[2020-02-11 18:08] jhand2 commented on #2543
Also look into `Releasing.md` to figure out what is documented and what we are doing incorrectly as of now.

[2020-02-11 18:17] jhand2 commented on #2540
MaxEnclaveSize_64 refers to the maximum range of virtual address space that you can make an enclave. 2^(xx) is because the number is a power of two.

We should fix the oesgx tool output to make more clear what this value means.

[2020-02-11 18:30] jhand2 commented on #2537
Consider adding a secure realloc function rather than changing the libc realloc function.

[2020-02-11 18:40] jhand2 commented on #2535
We should consider providing a secure time API in OE and fail if it is not supported. (Maybe open a suggestion issue to track this if one doesn't already exist).

[2020-02-11 18:44] yentsanglee commented on #2513
oe_verify_remote_report() is mentioned in docs\DesignDocs\RemoteAttestationCollaterals.md a little but it should be described better.

[2020-02-11 19:00] jhand2 commented on #2328
Add thorough documentation to explain how the API works prior to making it public. This includes a usage sample either in samples/ or in the doxygen comment.

[2020-02-12 01:54] dthaler opened #2544 "oesign fails on non-FLC machine"
The OE SDK can be used to build for either FLC or legacy SGX machines.  However, even if you built for legacy SGX, and want to sign for legacy SGX, the oesign tool will fail unless it's run on a machine with sgx_dcap_ql.dll installed, which is only required for FLC machines.

Expected behavior is that oesign works either way and only requires FLC support when signing an FLC enclave.   That is, a d

[2020-02-12 04:36] radhikaj opened #2546 "Use /Gy while compiling and /opt:ref while linking host binaries with MSVC"
This is so that the linker optimizes out unused functions on windows

[2020-02-12 04:42] radhikaj commented on #2544
This is likely the same issue reported here: #2264

[2020-02-12 17:26] radhikaj opened #2547 "Add doxygen tag for advanced APIs and the ability to opt in to them"
From discussions related to #2328 it was determined that we should have a special category of APIs called "advanced" similar to "experimental". There should be a doxygen tag for these and a way for developers to opt into these APIs.

[2020-02-12 17:27] radhikaj opened #2548 "Add description for NuGet host verification package"
The Open Enclave SDK NuGet package has a description. The host verification package has none.

[2020-02-12 17:29] radhikaj opened #2549 "Have APIs for obtaining secure relative time and absolute time in the SDK"
We dont have a plan for this. Adding this issue so we can start discussing it.

[2020-02-12 17:37] jxyang commented on #2544
This issue is different from #2264, which wants to take out dependency on sgx_enclave_common and other intel libraries, but not including sgx_dcap_ql.dll.

In 0.7, we already took out the dependency on sgx_dcap_ql.dll for oesign. I just ran oesign built from 0.7 on a SGX1 machine (without FLC), and it is fine. The dependency walker also shows there is dependency on sgx_enclave_common but not sgx_d

[2020-02-12 17:51] jhand2 commented on #2544
Indeed, running `ldd oesign`on oesign built from master does not show sgx_dcap_ql.so as a dependency.

Likewise `dumpbin /dependents oesign.exe` doesn't show sgx_dcap_ql.dll as a dependency on Windows

Linux:
[code]

Windows:
[code]

[2020-02-12 17:53] radhikaj commented on #2021
@anakrish please review this issue

[2020-02-12 17:57] radhikaj commented on #1989
@BRMcLaren  @paulcallen  please track this issue

[2020-02-12 18:47] jhand2 commented on #2520
Mostly addressed by #2522 and #2552

Remaining unsupported functions are fmal, tgamma, y0, y0f, and ynf.

Even so, unsupported is misleading. They work, but they don't provide the expected level of precision so the tests fail.

cc @radhikaj Should we close this issue when these PRs are merged. I think these changes provide sufficient additional support until the need arises to investigate the rema

[2020-02-12 20:34] mingweishih commented on #2525
No problem. Any update on the issue?

[2020-02-13 00:11] maverick-zhn commented on #2525
Same thing, tests are failing. I am looking into the tests. Perhaps I am forgetting an environmental variable or something? I just followed the documentation details to run the SGX1 mode.

[2020-02-13 00:28] maverick-zhn commented on #2525
I source this file:
[code]
Same thing, tests failed.

[2020-02-13 01:11] radhikaj commented on #2544
@jxyang:
On Windows:
When building with HAS_QUOTE_PROVIDER=OFF, there is no dependency on sgx_dcap_ql.dll. I suspect this is what you tried. This is true for v0.7.0 and v0.8.0.

When using the Nuget Package on Windows(I have not verified what happends on Linux), oesign has a dependency on sgx_dcap_ql.dl. This is true for 0.7.0 and 0.8.0.

This is the output I see for the oesign in the 0.7.0NuGet P

[2020-02-13 01:37] anakrish opened #2554 "Remove td_t and use thread-local variables instead"
[td_t ](https://github.com/openenclave/openenclave/blob/6b84df5855c190675a79095d958a9f42e14f1f6f/include/openenclave/internal/sgxtypes.h#L587) holds data specific to a thread.

Eliminating td_t and using thread-local variables eliminates the need to maintain this special data structure and just using oe_thread_data_t (the first member of td_t). oe_thread_data_t can be made to confirm to MUSL/libC

[2020-02-13 04:26] #2046 closed

[2020-02-13 06:36] anakrish opened #2555 "OPTEE: OCall Optimizations"
In SGX, the enclave has access to host memory and it can use it to speed up ocalls (e.g:  #2551).
This isssue is to explore the various ocall optimizations that can be done for OPTEE platform where the host and enclave do not share memory space.

[2020-02-13 13:05] ionutbalutoiu opened #2556 "[RHEL 8] [Clang 8] Ninja build failure for the `Release` build type"
On the RHEL 8 platform, when using the default `clang-8` compiler and `Release` build type, Ninja fails to build the project, giving `Undefined temporary symbol` error.

This is the failure log:
[code]

The steps to reproduce the error on an RHEL 8 OE environment are:
[code]

The same problem is still present even if we use simulation mode (via `export OE_SIMULATION=1`).

[2020-02-13 13:49] ionutbalutoiu opened #2557 "[RHEL 8] [Clang 8] Samples fail due to hard-coded compiler version"
On the RHEL 8 platform, with the default `clang-8` compiler and `Debug` build type, using non-simulation mode, `samples` fail with:

* `local_attestation`:
[code]

The same error pops out from these samples also: `helloworld`, `file-encryptor`, `switchless`, and `data-sealing`.

Steps to reproduce the issue on a RHEL 8 OE environment:
[code]

Even though the compiler is set to the default Clang 8

[2020-02-13 14:09] ionutbalutoiu opened #2558 "[RHEL 8] [GCC 8] Tests suite "tests/backtrace" fails for the `Release` build type"
On the RHEL 8 platform, with the default GCC 8 compiler and `Release` build type, the `tests/backtrace` suite fails:
[code]

The steps to reproduce the issue on a RHEL 8 OE environment are:
[code]

The same problem applies even if we use simulation mode (via `export OE_SIMULATION=1`).

[2020-02-13 17:25] maverick-zhn commented on #2525
This is a significant improvement:
[code]

I installed the **Intel SGX {driver, psw, sdk}** from scratch again. That solved all the issues. I would say the **openenclave** documentation can be upgraded to reflect ALL necessary steps needed to have an environment in which we can test openenclave. I can gladly help with this. I am preparing a document of all issues found and how to get to the point

[2020-02-13 17:25] #2525 closed

[2020-02-13 17:30] mingweishih commented on #2525
In fact I thought the same. The document regarding setting openclave up on bare-metal environment may not be sufficient. Please feel free to open another issue for documenting those. I can also work with you if you'd like to contribute to openenclave :)

[2020-02-13 18:07] jhand2 commented on #2520
Fixed by #2552

[2020-02-13 18:07] #2520 closed

[2020-02-13 18:51] dthaler commented on #2513
The draft API guidelines say:

I don't see any such sample, is there one?   If not, should oe_verify_remote_report() be tagged as Experimental?

[2020-02-13 18:59] jhand2 commented on #2538
cc @CodeMonkeyLeet, @anakrish, @mikbras

Can anyone provide color on why imaxabs and imaxdiv were listed as unsupported in the first place?

I can add them to compilation and they work fine. They don't have tests in libc-test, but there are plenty other functions in `musl/src/stdlib/` that we support but don't have tests.

[2020-02-13 19:03] jhand2 commented on #2513
I think that would be covered by #2512. I agree adding a sample should be prioritized.

[2020-02-13 20:59] maverick-zhn opened #2561 "Insufficient documentation for setting Intel SGX + open-enclave up on bare-metal environment (Ubuntu 18.04 LTS, SGX1-mode)"
After following the steps in the [documentation](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/SGX1), some of us consider (at least @mingweishih and I) this documentation insufficient to provide a complete description of how to set up **Intel SGX** (**driver**, **psw**, and **sdk**) and **Open-enclave** in **SGX1-mode**.

I propose to enhance the curre

[2020-02-13 21:07] jhand2 commented on #2561
Thanks for writing this up. I have a couple comments/questions.

This should be handled by the ansible script. If the ansible script doesn't work then thats a different problem.

Which issues are you referring to? If you mean that secure boot needs to be disabled then yes I agree we should document this.

Basically the steps are:
1. Install prereqs with ansible
2. cmake
3. make
4. make install

Is

[2020-02-13 21:26] maverick-zhn commented on #2561
@jhand2

1) Yes, the pre-requisites should be handled by the ansible script. However, I did follow the docs and the environment was not ready for the tests. I had to install all Intel-related binaries from scratch.
2.) Yes, I was referring to any issues. Disabling **secure boot** was one, without your help it would have taken me way longer to figure that out.
3.) I was thinking of a demo version o

[2020-02-13 21:56] jhand2 commented on #2561
2.) Yes, I was referring to any issues. Disabling secure boot was one, without your help it would have taken me way longer to figure that out.
3.) I was thinking of a demo version of the installation. But, yes you are right, perhaps it is not necessary.
4.) You are right.
Feel free to close this if you feel it is well-documented. My intention was to provide some help for this documentation.
Thanks

[2020-02-13 22:21] CodeMonkeyLeet commented on #2538
@jhand2 The initial pass to identify the basic working set of functions was done by contractors back mid-2018, and I don't think there was much of an effort to revisit the behavior since then. The internal API surface of stdlib is inconsistent; It could have been just an oversight from Mike's initial build of libc or a choice not to support C99 features that was not enforced.

Regarding the test q

[2020-02-13 22:56] jhand2 commented on #2538
atoi, atol, bsearch, the abs functions (abs, labs, llabs), ecvt, gcvt

That's just a few, there are more. Basically half the functions in stdlib.h don't have tests.

And there may be many more across musl that don't have tests, this is just from looking in one directory.

[2020-02-13 23:41] CodeMonkeyLeet opened #2563 "`oe_create_enclave()` invokes multiple ecalls to initialize the enclave"

[2020-02-13 23:48] andschwa commented on #2543
Just FYI:
- https://github.com/openenclave/openenclave/blob/master/CHANGELOG.md#changelog
- https://github.com/openenclave/openenclave/blob/master/docs/Releasing.md#version-bump

[2020-02-13 23:51] jhand2 commented on #2543
Ya it sounds like from triage we already document that we do this. But the deprecation model has maybe not been followed in the past.

I'll double check the documentation to make sure we aren't missing anything and then close this. Beyond that, its just a matter of following the rules we've outlined 😄

[2020-02-14 00:06] #2090 closed

[2020-02-14 10:56] HydraZeng commented on #2540
Now, I use Azure DC2 series and the MaxEnclaveSize_64 is 2^(36). Is it means I can create 64 GB enclave size? However, when I set the NumHeapPages large enough in .conf file, the process will fail to create enclave with the following errors

![image](https://user-images.githubusercontent.com/17929524/74525215-875f2800-4f5b-11ea-830a-da7bdd040563.png)

and `free -h` return

![image](https://user-im

[2020-02-14 14:07] maverick-zhn commented on #2561
Nope, I would say that is it. Thank you @jhand2.

[2020-02-14 18:44] jhand2 commented on #2540
MaxEnclaveSize_64 refers to virtual address space rather than actual available memory (which is misleading, I know). The actual max available memory is "EPC size on the platform" (although the Intel Platform Software may use some of that space, I'm not entirely sure).

[2020-02-14 22:22] yentsanglee opened #2567 "API versioning and deprecation"
In the past, we’ve been using OE_API_VERSION as discussed in issue #2336. However, that version number does not match our release version. We need guidance on API versioning and deprecation before/after release 1.0.

[2020-02-15 17:25] mikbras opened #2569 "Crash due to missing locks around enclave->bindings"
A multi-threaded test encountered the following crash.

[code]

This due to missing locks here and in other places that should protect these fields:

[code]

[2020-02-15 17:41] mikbras commented on #2569
Fixed by PR #2570

[2020-02-16 06:43] yentsanglee opened #2571 "oe_get_evidence() flags parameter does not apply to some attestation formats"
The second parameter of oe_get_evidence() defined in [plugin.h](https://github.com/openenclave/openenclave/blob/master/include/openenclave/attestation/plugin.h) is used to indicate if the evidence is for local or remote attestation. It may not apply to some attestation formats. For example, setting evidence_format to SGX EPID and flags to LOCAL is invalid.

oe_result_t oe_get_evidence(
    const o

[2020-02-18 05:55] soccerGB commented on #2108
This is more a CMake refactoring issue.

[2020-02-18 05:59] soccerGB commented on #2205
This is a nice to have fix.

[2020-02-18 05:59] #2205 closed

[2020-02-18 06:03] soccerGB commented on #2513
Merged with https://github.com/openenclave/openenclave/issues/2512

[2020-02-18 06:05] soccerGB commented on #2519
Merged with https://github.com/openenclave/openenclave/issues/1819

[2020-02-18 06:09] soccerGB commented on #2218
This is a duplicate of https://github.com/openenclave/openenclave/issues/2177

[2020-02-18 06:10] #2218 closed

[2020-02-18 17:13] jazzybluesea commented on #1819
John added a non-sgx nodes VM as part of CI/CD.  The unbuntu node is called "nonSGX" and the windows node is called "nonSGX-Windows".  The way I designed the test is to compile the binaries in an SGX machine and then copy the changes (via jenkins) to the non SGX machines.  For an example see ACCHostVerificationTest() in the Jenkinsfile.

See PR #2126
https://github.com/openenclave/openenclave/comm

[2020-02-18 17:13] #1819 closed

[2020-02-18 17:26] jhand2 commented on #2569
Can you give more details on which test was failing and under what circumstances?

[2020-02-18 17:30] jhand2 commented on #2519
I don't think this is necessarily a duplicate. Specifically we need a CI/CD pipeline that tests installation of the host verification nuget package. Is this done?

[2020-02-18 17:32] jhand2 commented on #2513
@soccerGB #2512 is an issue not a PR. Is there a PR was merged that documents this library/package? I didn' see anything

[2020-02-18 17:51] dthaler opened #2572 "oesgx displays cryptic error message when SGX is disabled in bios"
On a non-SGX machine, or a machine with SGX disabled in the bios, running oesgx just displays a cryptic error message.  Instead it should display a message that says to check the bios to enable SGX, or some similar helpful message.

This issue was reported by participants at the TEEP/SUIT/RATS hackathon today in Berlin.

[2020-02-18 17:52] dthaler commented on #2544
Question: why is SGX required on the signing machine?  Is it impossible to sign a binary to run on SGX, from a machine without SGX?

[2020-02-18 17:57] jhand2 opened #2573 "Allow for more flexible memory definition in OE_SET_ENCLAVE* macros"
Currently the `OE_SET_ENCLAVE_SGX` and `OE_SET_ENCLAVE_OPTEE` macros allow the enclave developer to specify how much memory they would like for heap and how much for stack. This memory will be used by the OE runtime for internal operations as well as for the enclave application to make use of (for example, calls to malloc from the enclave application will use the defined heap).

There are also cas

[2020-02-18 18:20] jhand2 commented on #2571
Can look into `oe_get_report()` to see how in the past it has been handled to version APIs.

@CodeMonkeyLeet to provide more details

[2020-02-18 18:26] jhand2 commented on #2569
We should consider adding better testing to stress test our thread-safety

[2020-02-18 18:26] jhand2 commented on #2567
@jhand2 to link to @dthaler's PR about API deprecation guidelines

[2020-02-18 18:27] CodeMonkeyLeet commented on #2571
For examples on how to version and deprecate a public API, see:
1. Introduce signature breaking APIs: https://github.com/openenclave/openenclave/commit/e5e7f0dddaa6d9759f838515d00f0064df177935
    - Because we're pre-v1.0 of the SDK, we're okay with switching the default macro mapping to the new implementation by default in the same step.
2. Blocking old APIs: https://github.com/openenclave/openen

[2020-02-18 18:31] CodeMonkeyLeet commented on #2567
The docs should probably make it clear that the `OE_API_VERSION` is not related to the SDK release version in anyway.

Per #2543 though, before we hit v1.0 of the OE SDK release, we would probably want to reset the `OE_API_VERSION` numbering to align with the semantic versioning to avoid this kind of confusion.

[2020-02-18 18:37] radhikaj commented on #2555
There are no specific thoughts on what could be investigated. This issue just tracks that ocalls on OPT-TEE could be optimized further.

[2020-02-18 18:44] achamayou commented on #2544
@dthaler I’m also really interested in the answer to that question, our CI/CD pipeline could be quite a bit simpler/cheaper if it wasn’t for this restriction.

[2020-02-18 18:45] jhand2 commented on #2549
We need to add some more details to this issue to flesh out what problem we are trying to solve.

[2020-02-18 18:48] jhand2 commented on #2546
Add links to the documentation for these flags please :smile:

[2020-02-18 19:05] AevaOnline commented on #2333
Agreed. Debug libraries are standard practice within many open source projects, and I can see the value in producing `*-debug` when a release is built.

[2020-02-18 19:08] soccerGB commented on #2513
The plan is to provide documentation along with the sample we are going to add.

[2020-02-18 19:12] jxyang commented on #2544
@dthaler We need the SGX hardware to do the measurement, and then we put the MRENCLAVE inside oeinfo of the elf image.

[2020-02-18 19:12] jhand2 commented on #2333
For deb packages on Ubuntu -dev packages usually include headers and don't include debug symbols. The normal package is no headers, no symbols, just libs. -debug would be just the stripped symbols in a separate package.

As for nuget, generally what I see is a single package with the following layout:

[code]

[2020-02-18 19:12] AevaOnline opened #2574 "Is there benefit to releasing a *-dev package version ?"
Would there be a benefit to separately releasing a `*-dev` package for deb/rpm systems, to enable easier development against the oesdk -- without having to clone & build the source?

Related to #2333

[2020-02-18 20:14] dthaler commented on #2544
@jxyang That's what I don't get.  If every SGX CPU can compute the same measurement, then why can't the MRENCLAVE calculation be done in software?

[2020-02-18 21:41] radhikaj opened #2575 "Add pread and pwrite for Windows"
This is a follow up from PR #2354 which adds pread and pwrite for Linux. We need the same functionality on windows to achieve parity.

Please see comments below:

CodeMonkeyLeet on Jan 13 Member
@nonpolarity can you look at whether this can also be supported in Windows if this API surface is expanded?

 @thomasten
thomasten on Jan 14 Author Contributor
Sorry, I didn't realize that the syscall inte

[2020-02-18 22:08] jhand2 commented on #2513
Ok, we should wait to close this issue until that is merged.

[2020-02-19 00:47] anakrish commented on #2554
@nonpolarity Would you like to take on this interesting task?

[2020-02-19 00:52] nonpolarity commented on #2554
@anakrish no problem, my pleasure. Please assign it to me.

[2020-02-19 00:55] anakrish commented on #2554
Thanks!

[2020-02-19 17:55] jazzybluesea opened #2583 "Helper function to parse oe_endorsements_t"
**Problem**
Attestation endorsements returned by _oe_get_evidence()_ is an opaque structure.  For users who want to parse and access the endorsement fields, it would be nice to have a function that parses the fields in the buffer and returns an array of pointers pointing to the different fields.  This helper function would apply to all attestation plug-ins given that the format of the endorsement

[2020-02-19 18:30] jhand2 commented on #2583
Do we document/require that the format of this structure be the same for all plugins? If we want to provide functions to work with the structure then it needs to be a defined contract.

[2020-02-19 19:05] jazzybluesea commented on #2583
Good point, we will have to clearly document this requirement for plug-in writers.  The struct _oe_endorsements_t_ is very generic and should accommodate all plug-ins.

[2020-02-19 19:16] jhand2 commented on #2583
If the structure needs to follow a certain format, should it be an opaque buffer, or should we just actually define the structure and make that the out param of `oe_get_evidence`?

@yentsanglee expressed an interest in changing the signature of oe_get_evidence anyway, so if we have to deprecate an API I want to make sure we get it right this time around.

[2020-02-19 20:18] #2414 closed

[2020-02-19 21:19] jazzybluesea commented on #2583
@jhand2 I think there is something in the middle here.  Keeping it opaque gives the user the option to choose their own format without having to force the user to user the standard one.  In that case, the user will have to use their own parser.

[2020-02-19 23:12] BRMcLaren commented on #2536
The build happened in GMT, which is how this was caused.

I am not certain this is fix-able, because even if we compile in a different time zone, someone somewhere needs to wait.

@radhikaj @jhand2 @nonpolarity, I think the only fix here is to build the packages a day before release?

[2020-02-19 23:23] nonpolarity commented on #2536
@BRMcLaren no matter what is the local timezone, the corresponding UTC for the system clock should keep punctuality. Actually file's modification time is recorded as UTC. The local time is the human-friendly way for people to interpret the UTC time.

[2020-02-19 23:24] jhand2 commented on #2536
Ya we should just always use UTC timestamps for everything in the build system and tooling

[2020-02-19 23:26] jhand2 commented on #2583
If we don't want to lock people into a format I don't feel good about exposing public APIs that only work some of the time/with some plugins.

If the structure contract is just between the plugin and the remote party then OE shouldn't expose APIs to do operations on the structure.

[2020-02-20 17:20] jhand2 opened #2585 "Refactor core EDL to allow inclusion of smaller subsets of functionality"
Currently all the OE-defined ECalls/OCalls are in 3 edl files:
* tee.edl
* sgx.edl
* syscall.edl

These should be refactored to allow an enclave to just import discrete chunks of functionality. For example, the socket feature can be split out from syscall.edl into a separate socket.edl file that would only be imported by applications which wish to use sockets.

[2020-02-20 18:26] ionutbalutoiu opened #2587 "Regression for the full libcxx tests suite on Linux"
Right now, when running the full libcxx tests suite on Linux against the latest `master` branch, we get the following tests failures:
[code]

This is the most recent Jenkins job with the full libcxx tests pipeline, on Linux:
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/OpenEnclave-libcxx-tests/detail/OpenEnclave-libcxx-tests/2/pipeline

I did some investigation,

[2020-02-20 18:44] jhand2 commented on #2587
@mingweishih can you look into this?

[2020-02-20 18:53] mingweishih commented on #2587
Sure.

[2020-02-20 19:00] jhand2 opened #2589 "Is it possible to create a TEE-agnostic attestation API for applications to use?"
Currently attestation APIs are primarily SGX-specific. For example, oe_get_quote is an SGX-only API. There are many other APIs (host and enclave side) which are SGX only. Is it possible to come up with something more generic that wouldn't require an enclave application to know what TEE they're running in?

[2020-02-20 19:31] anakrish opened #2590 "Support zig-zag ocalls: enclave1-ecall -> ocall1 -> enclave2 ecall -> ocall2"
With #2551, a context parameter is passed to ecalls. The context parameter contains a buffer that the ecall can use to allocate ocall parameters. This provides significant performance benefits as well as allows all ocalls to be implemented in EDL (maintainability and security).

Currently, the buffer is allocated in host's thread-local memory:
https://github.com/openenclave/openenclave/blob/89dba4

[2020-02-20 19:32] anakrish commented on #2590
@jhand2 @nonpolarity Can either of you take this on?

[2020-02-20 19:39] radhikaj commented on #2264
@jxyang please open a new issue for that.

[2020-02-20 19:49] jhand2 commented on #2590
Good catch. I might have some time to look into this but I have a couple other things I need to work on first. @nonpolarity if you have free time you can take it, otherwise I can pick this up once I have some time.

[2020-02-21 02:59] anakrish opened #2594 "Move internal headers to platform specific folders"
For example we have internal/sgxtypes.h. Ideally it ought to reside in internal/sgx/sgxtypes.h.

[2020-02-21 20:31] jhand2 opened #2595 "oehostapp and oehost are potentially redundant"
tl;dr We should remove either oehost or oehostapp cmake targets and just recommend one

Note, this would require a deprecation warning in v0.9 release

From @CodeMonkeyLeet in #2593:

[2020-02-21 21:44] CodeMonkeyLeet opened #2596 "OE enclave runtime tracing is always allowed for OP-TEE enclaves"
The openenclave/enclave/core/optee/tracee.c implementation of `is_enclave_debug_allowed()` is a stub that always returns true. This method is used by the OE runtime tracing library to determine if the enclave is a debug enclave where tracing is allowed; in the case of OP-TEE enclaves this is always permitted even if the enclave is non-debug, which may leak some runtime behavior information not exp

[2020-02-21 22:33] jhand2 commented on #2596
To clarify what is the recommendation? Do we want to disallow tracing on non-Debug OP-TEE enclaves?

[2020-02-21 22:41] douglasism commented on #2537
Hi @radhikaj I'm probably stating the obvious, but be sure to use oe_memset_s to ensure the memset isn't optimized away by the compiler.

[2020-02-21 23:16] douglasism commented on #2131
Not an authority on mbedtls, but in `x509_get_basic_constraints` there's a curious, uncommented `    (*max_pathlen)++;`, and then subsequently this is ++ action is special-cased elsewhere. I did not review it further.

[2020-02-22 02:07] CodeMonkeyLeet commented on #2596
It should behave the same way as the SGX implementation, but it's tricky because "debug" enclaves for OP-TEE don't mean the same thing. Effectively, Debug is "undefined" in OE SDK (it's only permitted if combined with Simulate). For the purposes of tracing, I think this is good enough (since we assume any simulated enclave has tracing enabled).

My opinion is that the stub should default to someth

[2020-02-22 07:13] yentsanglee commented on #2583
The plugin was designed the way that oe_get_evidence() returns evidence and endorsements. Both become input of oe_verify_evidence(). To the application, the data structure are opaque. Only plugin attester and verifier know the data structure. I agree with @jhand2 - I don't think we should expose public APIs to operate on the structure.

[2020-02-22 08:30] radhikaj commented on #1824
@jhand2, maybe we just document it and close this out.

[2020-02-22 08:31] radhikaj commented on #1821
@paulcallen @BRMcLaren  Please take a look at this issue.

[2020-02-22 08:33] radhikaj commented on #1788
@paulcallen @BRMcLaren Please take a look at this.

[2020-02-22 08:42] radhikaj commented on #1742
@jhand2 there are benefits to not installing at /usr/lib etc, it is easy to uninstall-just delete /opt/openenclave. There is atleast one other package that provides an rc file(but cant remember what it is right now)

[2020-02-22 08:42] #1728 closed

[2020-02-22 08:48] #1562 closed

[2020-02-22 08:51] radhikaj commented on #1473
@HernanGatta Would you like to take a look at this?

[2020-02-22 08:54] radhikaj commented on #1286
@HernanGatta Since you added instructions to build enclaves for OPTEE, can this be closed?

[2020-02-22 08:55] radhikaj commented on #1174
@mofanv Can this issue be closed?

[2020-02-23 05:36] radhikaj commented on #1032
@anakrish @andschwa  Is this done?

[2020-02-23 05:37] #1015 closed

[2020-02-23 05:44] radhikaj commented on #874
@paulcallen I dont understand the use case as @ihaller has stated. Could you please clarify?

[2020-02-23 05:52] radhikaj commented on #851
Also see #2549

[2020-02-23 05:57] radhikaj commented on #565
@jhand2 Can I close this?

[2020-02-23 05:58] radhikaj commented on #525
@yakman2020 @BRMcLaren I think you are working on this. If it is done, can you please close it?

[2020-02-23 06:03] radhikaj commented on #372
@yakman2020 Please provide an update on this issue.

[2020-02-23 06:04] radhikaj commented on #371
@yakman2020 Please provide an update

[2020-02-23 10:14] soccerGB commented on #1046
The existing OE logging is only for debugging purpose (can only be enabled in debugged binary)
Need to have a logging story for production solution, which was why this issue was opened.

[2020-02-23 10:15] soccerGB commented on #2523
Did we also add a test case for this?

[2020-02-24 16:57] mofanv opened #2597 "Failed - Install project requirements - SGX1 Mode - Ubuntu 16.04 LTS"
Hi,

I followed [SGX1GettingStarted.md](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/SGX1GettingStarted.md) to set up, but failed when installing project requirements. Specifically, it is the command:

[code]

The error is as follows.

[code]

I entered `systemctl status aesmd.service` and `journalctl -xe`, the detailed information is:

[code]

[code]

[2020-02-24 17:03] bodzhang commented on #2191
I have a question about the crypto APIs, but not directly related to header file separation discussion.

In [include/openenclave/internal/crypto/ec.h](https://github.com/openenclave/openenclave/blob/master/include/openenclave/internal/crypto/ec.h):
oe_ec_private_key_write_pem(const oe_ec_private_key_t* private_key, uint8_t* pem_data, size_t* pem_size);

In [include/openenclave/internal/ec.h](https

[2020-02-24 17:13] mofanv commented on #1174
Sure. I'm closing it. thanks!

[2020-02-24 17:13] #1174 closed

[2020-02-24 17:53] jhand2 commented on #2597
Looks like the SGX driver isn't being loaded. Can you confirm a couple things?

1. Does the directory `/dev/sgx` exist on your machine?
2. What is the output of `lsmod | grep sgx`
3. Is secure boot enabled in BIOS on your machine?
4. What is the output of `find /lib/modules | grep sgx`

[2020-02-24 18:05] jhand2 commented on #1046
I'm not convinced this is something that OE should support directly since it's pretty dependent on the enclave application.

For example, does this mean spooling logs into an encrypted file on the host? In that case the requirement is really support for an encrypted filesystem.

Does this mean streaming logs to some https service? Then really https support is what you want.

I think the requiremen

[2020-02-24 18:07] jhand2 commented on #1788
I don't think this mechanism exists anymore. I believe it is replaced by ansible.

[2020-02-24 18:15] jhand2 commented on #565
Even though this is documented, its technically still implemented in #2428. But I don't think #2428 will be going in in the short term. An option to wrap this up in the short term is to treat libc as a special case and not as a generic module.

[2020-02-24 18:17] jhand2 commented on #1550
@prp is this sufficiently supported by the ability to make an ocall to query CPUID? If so, I will close

[2020-02-24 18:20] jhand2 commented on #874
cc @anakrish Given that edl works at all in optee would imply that we have a working mechanism for copying data out of the enclave to the host. Is that the case?

[2020-02-24 18:22] prp commented on #1550
@jhand2 Yes, what we have in the SGX-LKL feature branch is sufficient for our needs, thanks.

[2020-02-24 18:24] #1550 closed

[2020-02-24 18:29] jhand2 commented on #1742
I'm not opposed to keeping the openenclaverc file but I am opposed to adding "features" to it. Its a pretty simple script and I think if users want to do something different they should just write their own script.

I agree there are benefits when building from source. But I think our deb package should install to /usr/* locations. In that case, uninstalling just means `apt remove open-enclave`. B

[2020-02-24 18:33] jhand2 commented on #1824
Since we're adding support for a bunch of other file operations in  #2471, I think there is value in adding poll support. In general, I want to close the gap so that we support the same things on Windows/Linux. It's a backlog item but I think its worth doing.

[2020-02-24 18:43] andschwa commented on #1032
No, we prioritized this rather low because we emit compile-time warnings. This is an extension that would add runtime warnings too.

[2020-02-24 18:46] jhand2 commented on #1032
What does it mean to emit runtime warnings? console log statements?

[2020-02-24 19:04] andschwa commented on #1032
I think that would be up to the implementer to decide.

[2020-02-24 19:45] jhand2 commented on #1032
@anakrish can you provide a specific example of when this might happen? I'm having a hard time understanding what the actual problem is.

[2020-02-24 19:56] jhand2 opened #2598 "Support as much of libc as is possible/secure/stable"
There are some libc functions that are not supported today in OE. Opening this issue to track overarching libc support.

* [X] Math function support is added by https://github.com/openenclave/openenclave/pull/2552
* [x] stdlib support is added by https://github.com/openenclave/openenclave/pull/2559

Up to date support in master can be found at https://github.com/openenclave/openenclave/blob/master

[2020-02-24 20:14] mofanv commented on #2597
Hi @jhand2, thanks for your quick response.

1. The `/dev/sgx` does not exist.
2. The output of `lsmod | grep sgx` is:
[code]
3. The secure boot is disabled.
4. The output of `find /lib/modules | grep sgx` is:
[code]
Is this because the SGX driver does not load successfully as there is no `/dev/sgx`?
BTW, I have installed SGX driver a long time ago, and this time I'm trying to rebuild the OpenEncl

[2020-02-24 20:24] jhand2 commented on #2597
Ah, ya that could potentially be causing a problem. The bottom of this page details how to uninstall the driver: https://github.com/intel/linux-sgx-driver

Then I would recommend rebooting and re-running the ansible script

[2020-02-24 22:53] yakman2020 opened #2599 "ctests fail to load enclave on machine using non-dcap driver"
OS: ubu 18.04 on Azure ACC VM
driver: Removed /dev/sgx module and replaced with non dcap driver (isgx.ko)
 lsmod | grep sgx
isgx                   53248  2

/dev/isgx shows up.

symptons:

git clone openenclave, cmake -DHAS_QUOTE_PROVIDER=OFF , make successfully.

ctest fails many tests with:
17: Test command: /home/azureuser/openenclave/build/tests/switchless_threads/host/switchless_threads_host

[2020-02-24 22:57] yakman2020 commented on #2599
● aesmd.service - Intel(R) Architectural Enclave Service Manager
   Loaded: loaded (/lib/systemd/system/aesmd.service; enabled; vendor preset: enabled)
   Active: active (running) since Mon 2020-02-24 21:24:55 UTC; 1h 31min ago
 Main PID: 1570 (aesm_service)
    Tasks: 4 (limit: 4915)
   CGroup: /system.slice/aesmd.service
           └─1570 /opt/intel/sgx-aesm-service/aesm/aesm_service

Feb 24 21:

[2020-02-24 23:08] jhand2 commented on #2597
@mofanv does `/dev/isgx` directory exist? I forgot that the isgx driver creates different device files

[2020-02-24 23:15] jhand2 commented on #2599
Does every test fail or just the one you referenced?

Generally my first step is to recompile the Inter PSW with debug information enabled. The instructions (https://github.com/intel/linux-sgx) include notes for turning on debug tracing. It basically ammounts to suffixing each make command with `DEBUG=1`.

This will generally give better logs and might give more detailed information from the PSW.

[2020-02-25 01:32] BRMcLaren commented on #2381
Completed

[2020-02-25 01:32] #2381 closed

[2020-02-25 01:33] BRMcLaren commented on #525
Closing, completed.

[2020-02-25 01:33] #525 closed

[2020-02-25 01:34] BRMcLaren commented on #1067
No longer needed, closing.

[2020-02-25 01:34] #1067 closed

[2020-02-25 01:36] #1788 closed

[2020-02-25 01:37] BRMcLaren commented on #1821
@anitagov Is this still an issue?

[2020-02-25 01:42] BRMcLaren commented on #2523
@soccerGB https://github.com/openenclave/openenclave/issues/2524

[2020-02-25 02:22] #2523 closed

[2020-02-25 10:20] mofanv commented on #2597
I uninstalled SGX driver following [https://github.com/intel/linux-sgx-driver](https://github.com/intel/linux-sgx-driver), and re-run the ansible script, but the same problem still is here. Do you know is there any other thing that could cause this error?

@jhand2 The `/dev/isgx` does exist.

[2020-02-25 11:42] achamayou commented on #1046
@jhand2 I agree, I don't think OE itself ought to provide this, there can be a library (openenclave/logging) that's offered to applications that require it, but I don't think it belongs in the core SDK.

[2020-02-25 16:42] #2449 closed

[2020-02-25 18:06] dthaler commented on #2589
There is no oe_get_quote in any public header file I see, the basic API should already be TEE-agnostic.  Where are you seeing oe_get_quote?

[2020-02-25 18:15] radhikaj commented on #2595
We will deprecate in v0.9 and will have only one of these in the next release.

[2020-02-25 18:15] radhikaj commented on #2595
@dthaler is using oehost.

[2020-02-25 18:25] radhikaj commented on #2590
@anakrish Since this is a regression, please fix that for v0.9. This is an SGX only issue right now.

[2020-02-25 18:39] radhikaj commented on #2587
This is a test regression and not a bug in libcxx

[2020-02-25 18:42] MWShan commented on #2597
It is unlikely that your NUC with i3-8109U CPU (SGX1 mode) supports Flexible Launch Control.  Thus, you can only use the /dev/isgx driver (provided here [https://github.com/intel/linux-sgx-driver]).

Can you list the libsgx* packages that you have installed?  It is not clear why the AESM is failing to start, but this may happen if you have not installed a plug-in to the service.  At a minimum, you

[2020-02-25 18:43] radhikaj commented on #2585
@mikbras says refactor into network and filesystem.
@dthaler : Anything that is common can be in a separate edl file that is imported by network and filesystem

[2020-02-25 18:49] radhikaj commented on #2583
Based on triage, this does not belong in the OE SDK repo and should reside with the plugins.
OE SDK can have a sample plugin(no-op plugin), that does not do anything specific SGX plugin->we want to be able to run ci/cd and ensure that the plugin APIs work.

[2020-02-25 18:51] MWShan commented on #2599
Have you installed the libsgx-launch_2.8.100.3-bionic1_amd64.deb  package?  I did not see it in your list.  If this is missing, then the Enclave Common Loader library will fail to get a launch token from the AESM to initialize the enclave.

The Enclave Common Loader will attempt to determine the driver that is being used on the platform and then adapt to the interface.  It uses an algorithm provid

[2020-02-25 18:54] yentsanglee commented on #2589
Plugin APIs are designed for TEE-agnostic attestation. The first parameter of oe_get_evidence() is the evidence format id which can be something like OE_SGX_LOCAL, OE_SGX_REMOTE or OE_TEE_XYZ. The output of oe_get_evidence() can be verified by oe_verify_evidence().

[2020-02-25 19:51] yakman2020 commented on #2599
Mark was able to identify we didnt have libsgx-launch installed. Everything works then, but I need to figure out where to add that info to the docs and possibly to an ansible script.

[2020-02-25 20:04] yakman2020 commented on #2599
The doc is fine.  The ansible script to do install of the intel packages doesn't include libsgx-launch.

Is there any reason not to add it?

[2020-02-25 20:49] jhand2 commented on #2599
What does libsgx-launch do and in what cases is it needed/not needed?

[2020-02-26 20:49] andschwa commented on #1032
A user might create an ELF enclave on Windows that uses types whose size is different than on Linux. While the edger8r will warn them as they produce the code for this enclave, they might ignore it. They could then take the ELF enclave to a Linux box (already built) and try to run it. They'll probably run into issues because the size of their types is different, and so this issue was to add runtim

[2020-02-26 21:47] radhikaj commented on #2467
This is not needed any more since we are publishing the edl files for all the ocalls that oeruntime makes

[2020-02-26 21:47] #2467 closed

[2020-02-27 21:36] jazzybluesea opened #2607 "mbedcrypto.a library is missing mbedtls_hkdf()"
When trying to link against the libmbedcrypto.a library that comes with OE sdk, the function mbedtls_hkdf() is missing.

[2020-02-27 22:29] #2056 closed

[2020-02-28 04:56] #2538 closed

[2020-02-28 08:51] lazaridiscom opened #2610 "[WEBSITE] Add "macOS" or remove "all software platforms""
Visiting the website

https://openenclave.io/sdk/

the section "Core Tenents" mentions:

This needs to be corrected, either:
* Add macOS support
* Correct "all software platforms"

I usually write within projects "you can't ignore one of the major 3 platforms, which is Windows".

Well, now I write "you can't ignore one of the major 3 platforms, which is macOS"

[2020-02-28 10:47] achamayou commented on #2610
@lazaridiscom Intel does not release an SGX driver for macOS, so Windows and Linux are currently "all software platforms" on which you can use SGX hardware.

There is also no release of macOS targeting ARM, with or without OP-TEE.

It isn't effectively possible for the OpenEnclave SDK to target macOS or other platforms that do not support enclave hardware, so I think the statement is reasonable as

[2020-02-28 12:04] lazaridiscom commented on #2610
only if you provide the additional information, something like:

=> Design with all **SGX/enclave supported** software platforms, Windows and Linux, in mind

You need to add this info, otherwise it reads like MS is ignoring macOS existence.

[2020-02-28 15:27] MWShan commented on #2599
libsgx-launch is needed when using the isgx driver.  The libsgx-enclave-common library will use this library when it needs to get a launch token from the AESM (using the libsgx-aesm-launch-plugin and libsgx-ae-le).  The packages make up the necessary components to support legacy launch (required by the isgx driver) on the platform

[2020-02-28 18:43] shnwc commented on #2571
Is this PR fixed by PR #2579 ?

[2020-02-28 20:04] radhikaj commented on #2598
Thanks @jhand2 for finishing this.

[2020-02-28 20:26] #2598 closed

[2020-02-28 21:03] lazaridiscom commented on #2610
@radhikaj , this Is technically still open.

[2020-02-28 22:06] dthaler commented on #2610
I agree this should still be open, and I agree with the filer's point.

[2020-02-28 22:17] bodzhang commented on #2589
The TEE attester/verifier plugin [design doc](https://github.com/openenclave/openenclave/blob/master/docs/DesignDocs/CustomAttestation.md)  proposes a TEE-agnostic API to get the Attestation evidence:

    oe_result_t (*get_evidence)(
        oe_attester_t* context,
        uint32_t flags,
        const oe_claim_t* custom_claims,
        size_t custom_claims_length,
        const void* opt_params,

[2020-02-28 23:03] #2607 closed

[2020-02-29 00:49] jhand2 commented on #2599
Thanks @MWShan. This looks good to me then.

[2020-02-29 01:05] jhand2 commented on #2571
@shnwc, yes this is addressed in that PR

[2020-03-02 02:19] anakrish opened #2614 "CI: Enable Windows SGX Simulation mode testing"
PR #2600 enables SGX Simulation Mode on Windows.
The CI needs to be updated to lock this down.

[2020-03-02 03:22] ghost opened #2615 "[COMPLAINT] DCO Requirement is Discriminating"
## Situation

https://github.com/openenclave/openenclave/blob/master/docs/Contributing.md#developer-certificate-of-origin

I understand that this is something dictated by the linux-foundation, which shows once more that "linux" serves only freedom "as defined by the linux-foundation".

Personally, I do not want to have my name and email within each commit. I am fine to (digitally) sign a CLA, even

[2020-03-02 03:52] #2174 closed

[2020-03-02 13:11] sword03 opened #2616 "How to write data to a secure file like Intel SGX SDK?"
Intel SGX SDK provides an api "sgx_fopen_auto_key" to write data to secure file. How could I make it in Open Enclave?

[2020-03-02 13:26] mofanv commented on #2597
I followed [sgx-dirver](https://github.com/intel/linux-sgx-driver) and [linux-sgx](https://github.com/intel/linux-sgx) to install driver, SDK, PSW. After that, I can run their samples like `LocalAttestation` successfully. Then I tried to re-run the ansible script. The previous error is gone, but a new error happens.

[code]

Do you have any idea about this new error? Many thanks!

[2020-03-02 16:30] jhand2 commented on #2597
It looks like the script is trying to install different versions of packages that what is installed on your machine.

In general I think this PR should fix up the script so that it works correctly the first time: https://github.com/openenclave/openenclave/pull/2604

If you can run samples/tests then I think you're all set in terms of getting dependencies installed.

[2020-03-02 16:37] jhand2 commented on #2616
Currently OE only provides a normal/insecure filesystem. It provides cryptographic functions via mbedtls to allow to to encrypt data prior to writing it over an insecure channel.

[2020-03-02 16:42] MWShan commented on #2597
You may have an old version of libsgx-dcap-ql  - I see version: 1.0.101.48192-xenial1.  In the latest release, we split several libraries, including libsgx-ae-qe3, from libsgx-dcap-ql package into their own package.

The installation document at https://download.01.org/intel-sgx/latest/dcap-latest/linux/docs/Intel_SGX_DCAP_Linux_SW_Installation_Guide.pdf  recommends using the "--force-overwrite" o

[2020-03-02 17:02] jazzybluesea commented on #2131
Thank you Doug for pointing this out.  Given that we are upgrading the version of mbedTLS, we should retest using the attached certificates.

[2020-03-02 17:30] jhand2 opened #2617 "tests/crypto tests fail transiently: oe_result_t=OE_VERIFY_REVOKED crl_tests.c_test_get_dates last.minutes == _time.minutes"
The CRL test in tests/crypto fails (very rarely) because a cert generated on a minute boundary may have a different "cert issued" time and "file created" time.

We should create a tolerance function for minute/hour/day/month/second boundaries so that as long as the times are within a reasonable interval (30 sec?) the test will still pass.

This issue causes failures in CI which should be as reliab

[2020-03-02 18:56] mofanv commented on #2597
[code]
Using the above command fixes all library problems. Thank you all!

[2020-03-02 18:56] #2597 closed

[2020-03-02 20:08] #2405 closed

[2020-03-02 20:12] anakrish opened #2619 "OE SGX: Publish the Debugger Contract"
This task is to update and publish the Debugger Contrack between the OE SDK and various debugger implementations.

[2020-03-03 01:17] HernanGatta opened #2623 "Windows prereqs script fails with new Azure DCAP NuGet"
Three days ago, the Azure DCAP NuGet package was updated to version `1.2.0` from `0.0.3`.

The internal structure of the package no longer matches what the Windows prereqs script expects. Thus, the script fails.

[Line 641](https://github.com/openenclave/openenclave/blob/master/scripts/install-windows-prereqs.ps1#L641) in the script references `Azure.DCAP.Windows\script` to invoke `InstallAzureDCA

[2020-03-03 08:39] sword03 commented on #2616
That's right. Data must be encrypted before writing to insecure file as follows:
https://github.com/openenclave/openenclave/tree/master/samples/data-sealing

[2020-03-03 08:39] #2616 closed

[2020-03-03 17:59] dthaler commented on #2610
I just found Radhika's PR #5 and would be ok with either that or my PR #6 which I submitted before seeing Radhika's.

[2020-03-03 18:05] mofanv opened #2624 "failed - ctest - oesign-engine and samples - SGX1 mode - Ubuntu 16.04"
Hi,

I'm following [SGX1GettingStarted.md](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/SGX1GettingStarted.md) to set up Openenclave. After building successfully, I run `ctest` but there are three tests failed, which are `oesign-engine-works`, `oesign-engine-sign`, and `samples`.

For the oesign-engine-works,
[code]

For the oesign-engine-sign,
[code]

[2020-03-03 18:16] radhikaj commented on #2574
Yes, there is benefit.
openenclave should have oesign,oesgx
openenclave-dev should have only libraries, samples and edger8r and headers
openenclave only has static libraries and no shared libraries. We currently ship for debian: release with symbols and for windows: release only(no pdbs)

[2020-03-03 18:26] #2583 closed

[2020-03-03 18:30] radhikaj commented on #2614
If the community can get this done, we can have this work scheduled for v0.9. Otherwise, we will move it to backlog.

[2020-03-03 18:34] radhikaj commented on #2619
Please use markdown.

[2020-03-03 18:39] radhikaj commented on #2623
The script should be updated to use the right path. Please treat this as high priority

[2020-03-03 18:49] BRMcLaren commented on #2623
@radhikaj Does this mean the fix is to upgrade to 1.2?

@oprinmarius @ionutbalutoiu @paulcallen

This issue has further reaching implications, and it's breaking the ability to rebuild the infrastructure when packer errors out trying to build the images. We need to look into this ASAP as blocking dependency changes and possible security fixes is an issue.

[2020-03-03 19:04] jhand2 commented on #2624
@yakman2020 Do you have any insight here? Is oesign-engine expected to work on any SGX machine (not just FLC)?

[2020-03-03 19:17] yentsanglee commented on #2049
These warning are also annoying when running oecertdump tool:

2020-03-03T19:11:02.443703Z [(H)ERROR] tid(0x7f44999ca740) | :OE_BUFFER_TOO_SMALL [../host/sgx/report.c:_get_remote_report:113]
2020-03-03T19:11:02.443720Z [(H)ERROR] tid(0x7f44999ca740) | :OE_BUFFER_TOO_SMALL [../host/sgx/report.c:_oe_get_report_internal:174]

[2020-03-03 19:37] HernanGatta commented on #2623
@BRMcLaren: FWIW, I worked around this for the moment with `-Version 0.0.3` on [line 634](https://github.com/openenclave/openenclave/blob/master/scripts/install-windows-prereqs.ps1#L634).

[2020-03-03 21:05] dthaler commented on #2589
Why should it be provided by a Verifier?   In the IETF attestation standardization discussions I've been in, the evidence format is up to the attester, not the verifier which might receive evidence in different formats from different attesters.  See https://tools.ietf.org/html/draft-ietf-rats-architecture

[2020-03-03 21:30] dthaler commented on #2589
The attestation architecture needs to scale down to attesters that are MCU's and so requiring them to support multiple formats is not really feasible, hence the architecture I mentioned.

[2020-03-03 22:34] shnwc commented on #2589
The attestation design has no requirement for an attester to support more than one format, and only some formats require opt_params data in order to generate evidence that are accepted by a verifier.

I  see the list of format IDs (along with their opt_params as needed) from a verifier as a request to an attester, so that the attester knows what evidence formats are acceptable by the verifier. Thi

[2020-03-03 22:55] radhikaj commented on #2610
Merged Dave's PR.

[2020-03-03 22:55] #2610 closed

[2020-03-04 00:08] BRMcLaren opened #2627 "Upgrade DCAP client to 1.2"
OE is currently using a 0.03 version of the DCAP client, with 1.2 out we should upgrade the CI and scripts to use the latest version.

[2020-03-04 01:40] lazaridiscom commented on #2610
@dthaler , the initial version of https://github.com/openenclave/openenclave-site/pull/5 was fine.

the corrected 5 and your https://github.com/openenclave/openenclave-site/pull/6 are not fine.

So my "nit" still stands:

"you can't ignore one of the major 3 platforms, which is macOS"

My comment  https://github.com/openenclave/openenclave-site/pull/5#issuecomment-592750722 is still actual, and th

[2020-03-04 02:47] lazaridiscom commented on #2347
There was a time we fought Linux discrimination. Now we fight to keep "the Linux sloppiness" out of high ux/dx systems.

Agree with op.

Node.js works fine, too. Though the excessive use of scripting is an indicator that you use wrong tools.

the art of technical debt.

[2020-03-04 18:06] #2623 closed

[2020-03-04 19:19] jhand2 opened #2631 "The thread_local test sometimes fails on Windows release mode"
The test `thread_local_exported` in `tests/thread_local` appears to be unreliable on Windows release builds (CMAKE_BUILD_TYPE=Release) and fails transiently with exit code `0xc0000374`. This exit code implies heap corruption.

cc @anakrish, it looks like this test was added a few days ago by you

[2020-03-04 19:22] jhand2 commented on #2631
I've seen this failure on 3 separate PRs. Testing against master now

[2020-03-04 19:30] jhand2 commented on #2631
Can't get it to fail on master. I'll investigate more.

[2020-03-04 19:51] jhand2 commented on #2631
Found the problem. Each PR made the test fail in its own special way :smile:

[2020-03-04 19:51] #2631 closed

[2020-03-06 14:45] lazaridiscom opened #2638 "[WEBSITE] Reopen #2610"
I file an issue, maintainers close, reopen, again close - whilst ignoring the essence of the issue.

#2610

I insist:

"multi-platform" contains macOS. If not, then you need to clarify.

i gave a wording example. one dev adopted it, two others felt the need to continue ignoring macOS existence (and mine btw., but that's not the main problem).

[2020-03-06 15:37] jhand2 commented on #2638
Open source software development is an inherently cooperative process. It is not enough to believe that your way is the right way, you must convince someone else that it is the right way.

I have heard your concern and I understand you have an opinion, but I don’t agree with the solution and so far nobody else has agreed with it either. I am happy that you want to contribute and I hope you continu

[2020-03-06 15:51] lazaridiscom commented on #2638
Please spare this kind of talk for some juniors or internals.

At least stop spreading misinformation.  My suggestion was adopted, until you intervened

https://github.com/openenclave/openenclave/issues/2610#issuecomment-594272005

nah, you don't understand, thats the problem.

it is not my opinion, but a fact, but i'll not state it again.

i don't care about this issue here, i care that you reali

[2020-03-06 17:26] haitaohuang opened #2639 "fmal and tgama math functions"
Notice fmal() and tgamma() functions are marked as unsupported in OE. This may cause issues for people porting apps from Intel SGX SDK which has the support. Opening this issue to track and discuss potential solutions

[2020-03-06 17:53] lazaridiscom commented on #2610
## Dual-Platform

Design with Windows and Linux in mind

[2020-03-06 18:53] jhand2 commented on #2639
Thanks @haitaohuang!

A little context for whoever ends up working on this: fmal and tgamma are currently supported functions in musl, but OE does not compile them into oelibc because of insufficient test coverage. tgamma does not have a test in libc-test and the test for fmal is broken.

The options are:
1. Just compile in the functions anyway
2. Add working tests to libc-test (3rd party library)

[2020-03-06 18:59] dthaler commented on #2610
I believe the page accurately reflects the current state of the code.   This is an open source project which welcomes contributions from the community.  If someone contributes work on MacOS, that would be great!  Until then, I don't think the page is inaccurate in stating that it is currently designed for Windows and Linux.

[2020-03-06 19:16] andschwa commented on #2638
Hi @lazaridiscom, as a member of Open Enclave's Community Governance Committee, I need to inform you that we have found your language and tone to be in violation of our stated [Code of Conduct](https://github.com/openenclave/openenclave/blob/master/docs/CodeOfConduct.md). Specifically, the above comment (among other interactions you have thus far made) is unwelcoming, insulting, and overall inappr

[2020-03-06 19:27] radhikaj commented on #2537
With the OE SDK, developers can choose to memset the memory themselves. Consistently, the OE SDK does not clear memory on free and realloc. We expect developers to take care of it.

[2020-03-06 19:29] radhikaj commented on #2547
@dthaler Can we close this?

[2020-03-06 20:00] dthaler commented on #2547
@radhikaj Ok with me to close.

[2020-03-06 20:06] anakrish commented on #2639
Thanks for the hint Jordan.

[2020-03-06 22:48] anakrish commented on #2639
@jhand2 Thanks for implementing the ability to run each libc test individually. Super helpful!

[2020-03-07 01:48] Yufei-Jiang-OpenSource opened #2640 "Mixed usage of malloc/oe_malloc, free/oe_free in OESDK implementation"
The major takeaway: the mixing usage of malloc/oe_malloc, free/oe_free in OESDK may cause issues.

In OE SDK, underneath malloc/free, we implement our own oe_malloc/oe_free in oelibc, which calls dlmalloc/dlfree. The overall dependency graph is shown below.

![image](https://user-images.githubusercontent.com/58716052/76134287-eac7fd00-5fd1-11ea-9aec-43a8f0461f45.png)

In our classical sgx enclave

[2020-03-07 02:15] jhand2 commented on #2640
Thanks for looking into this and submitting a PR @Yufei-Jiang-OpenSource

Part of why stuff like this is allowed to happen is because in the headers in `include/openenclave/corelibc` we have a macro `OE_NEED_STDC_NAMES` which defines all the standard C functions and proxies them to to the OE versions. I wonder if we can just remove these proxy names to that in oecore we must always use `oe_*` func

[2020-03-07 05:18] lazaridiscom commented on #2610
## Multi-Platform (in 2020)

* Windows
* Linux

Source: @dthaler, Microsoft, The Openenclave Project

Resting my case.

[2020-03-07 05:35] lazaridiscom commented on #2638
## Essence
"See, no CoC protects an freethinking-individual against mainstream masses, they stick always together and hide behind their (misinterpretd, by majority vote) CoCs."
source: https://github.com/confidential-computing/governance/issues/14#issuecomment-595817732

## The "CoC-Nanny" Intervenes

"but not limited", i think that is the mot interesting point:

**What else, beyond banning me, wi

[2020-03-07 06:03] lazaridiscom commented on #2638
Please feel free to close this issue.

[2020-03-07 08:35] ivan-homoliak-sutd commented on #1783
I had the same issue on Ubuntu 18.04 desktop machine that does not support FLC. FLC seems to be supported only by server CPUs which is Intel focusing on as an SGX mainline. Therefore, to run SGX on a desktop, one needs to install only *isgx.ko* kernel module, which is intended for non-FLC CPUs. However, on top of isgx.ko, I accidentally (maybe automatically) installed also *intel_sgx.ko*, which is

[2020-03-07 08:56] #2547 closed

[2020-03-09 14:30] wintersteiger opened #2645 "Design of Extended Enclave Initialization Data"
This issue is for the design discussion of the support for Extended Enclave Initialization Data. See https://github.com/openenclave/openenclave/pull/2611 for the draft implementation. The design document is available [here](https://github.com/wintersteiger/openenclave/blob/cwinter_eeid/docs/DesignDocs/ExtendedEnclaveInitializationData.md).

Summary: Upon enclave creation (`oe_create_enclave_eeid`)

[2020-03-09 17:36] radhikaj commented on #2535
Closing issue since I found documentation related to time APIs being unsecure:

time.h | Partial | All time functions implicitly call out to untrusted host for   time values. The resulting time values should not be used for security   purposes.   Supported functions: time(), gettimeofday(), clock_gettime(),   nanosleep(). Please note that clock_gettime() only supports   CLOCK_REALTIME
-- | -- | --

[2020-03-09 17:36] #2535 closed

[2020-03-09 18:01] andschwa commented on #2638
On behalf of the Open Enclave Community Governance Committee, since the user @lazaridiscom violated our Code of Conduct after a formal warning and clearly stated refusal to abide by said Code of Conduct, the user has now been banned until further notice.

[2020-03-09 18:01] #2638 closed

[2020-03-09 19:09] jhand2 commented on #1783
@ivan-homoliak-sutd thanks for letting us know. To follow up:

1. Are you still blocked on anything or is everything working find for you now?
2. Do you think there were parts of the documentation that were unclear/should be changed to keep people from tripping over this in the future?

Thanks!

[2020-03-09 19:56] dthaler commented on #2645
The design doc should be in a PR so we can generate comments against it in context.

[2020-03-09 20:03] dthaler commented on #2645
As Radhika noted in PR 2611, the guidelines say "DON'T submit changes to the public API without filing an issue and discussing with us first."  This is because until there is public review by the OE maintainers (and potentially the community at large), any implementation may need to undergo significant changes as part of the design review.   In this particular case, I do have concerns about this p

[2020-03-09 21:59] radhikaj opened #2646 "C++ functions missing in OE SDK"
Intel SGX-SDK provides these missing functions and OE can consider adding them.
1.	cinttypes
•	SGX SDK supports imaxabs() and imaxdiv(). OE does not.
2.	cmath
•	OE does not support: acosh(), asinh(), fmal(), lgamma(), lgammaf(), sinh(), sinhl(), tgamma()
3.	functional
•	The header exists in OE, but the OE documentation says it is not supported.
4.	tuple
•	OE doc says there are known issues with tu

[2020-03-09 22:41] #2496 closed

[2020-03-10 00:16] #2359 closed

[2020-03-10 06:51] yentsanglee commented on #2627
Azure DCAP client 1.2 adds collateral v2 supports. It's supposed to be compatible with OE SDK attestation which is still consuming collateral v1. However, the backward compatibility has never been thoroughly tested.

[2020-03-10 11:31] wintersteiger commented on #2645
Sure, no problem, I only opened an issue because I was asked to. This is now PR https://github.com/openenclave/openenclave/pull/2647

[2020-03-10 12:30] wintersteiger commented on #2151
PR #2164 was abandoned because it was redundant. Did that also fix this problem?

[2020-03-10 13:56] dthaler commented on #2645
We should keep the issue open too, I think.   (Triage meeting can verify whether to close or keep open.)

[2020-03-10 14:49] anakrish opened #2648 "Signal Safety specification for Vectored Exception Handlers"
Enclaves can register signal/vectored-exception handlers via:
https://github.com/openenclave/openenclave/blob/0ade89054c02d7f2ee47dae4a67729d673b0e425/include/openenclave/enclave.h#L67-L69

POSIX/Linux define signal safety for handlers; signal handlers have historically been quite limited in what they can do. Standard C library functions are mostly not async signal safe.
See [signal-safety - async

[2020-03-10 15:18] anakrish commented on #2640
@jhand2 I don't exactly remember how the subset of standard C library like functionality turned out the way it is right now. It has continuously evolved and there have been multiple requirements that we have tried to address at one point of time or the other, to various degrees
- mbedtls should be compiled without libc dependency
- Bring Your Own C library (BYOC): Enclave authors should be able to

[2020-03-10 15:59] dthaler commented on #2645
I believe this issue is closely related to (but different layer from) PR #2621, and that it's important that the two layers be consistent so the designs should be reviewed together.   I also believe it's important for the designs to not be SGX-specific as I believe the stated issues are all generically applicable to any TEE.

[2020-03-10 16:46] achamayou commented on #2569
@radhikaj can we please raise the priority of this item and get the fix merged?

It's a safety issue in multi-threaded applications, there is no user workaround at this time, it shouldn't take a month to make it to master.

[2020-03-10 16:48] jxyang commented on #2640
Within OE SDK, we are reasonably assured the pointers passing around are freed with "oe_free". Yufei's situation is unique in that the application is calling into OE libraries directly to generate/verify TLS certificates. We should start from those two APIs: `oe_generate_attestation_certificate` and `oe_verify_attestation_certificate`, and recursively replace all reachable `free`s to `oe_free` if

[2020-03-10 17:27] radhikaj commented on #2640
Any application that has their own allocator could run into this issue.

[2020-03-10 17:30] radhikaj commented on #2627
@paulcallen @BRMcLaren Please investigate this for v0.9.

[2020-03-10 17:30] jhand2 commented on #2151
This is fixed by https://github.com/openenclave/openenclave/pull/2562

Thanks!

[2020-03-10 17:30] #2151 closed

[2020-03-10 17:58] jhand2 commented on #2569
It takes a month when the PR author doesn't bother to respond to feedback

[2020-03-11 00:53] anakrish commented on #2558
I was able to reproduce this with gcc-8 on Ubuntu.

[2020-03-11 04:59] ryanhsu19 commented on #2075
#2654 fixes /W3 warnings

[2020-03-11 09:30] tomtau opened #2655 "Mitigations / software hardening for LVI?"
https://software.intel.com/security-software-guidance/insights/deep-dive-load-value-injection#applysgxmitigation

I assume some of it will be done by a new version of Intel SDK: https://github.com/openenclave/openenclave/pull/2652/files
a patched LLVM or Visual C/C++ compiler, but not sure whether that covers all trusted code, e.g. this inline assembly in mbedtls:
https://github.com/openenclave/op

[2020-03-11 09:39] #2655 closed

[2020-03-11 17:01] yakman2020 commented on #2624
The problem doesn't seem to be limited to oesign, but yes, not only does oesign work with non-flc machines, we use it extensively in that environment.
This looks like some kind of misconfiguration, but I am following up.

[2020-03-11 17:02] #2558 closed

[2020-03-11 17:13] #2569 closed

[2020-03-11 22:17] shnwc opened #2658 "SGX verifier plugin shall verify the integrity of the serialized custom claims before extraction"
In SGX verifier plugin code file common/sgx/verifier.c :

 Upon successful verification of the SGX report by oe_verify_quote_with_sgx_endorsements(), the _verify_evidence() function shall retrieve the hash value held in the report_data field (as defined in the oe_report_t structure), and use it to verify the integrity of the serialized claims. This verification shall be done before deserializing a

[2020-03-11 23:35] ryanhsu19 commented on #2556
Looks like there is a problem with the functions in the third-party file

 - `3rdparty/musl/musl/src/search/twalk.c`

I am still looking into it.

[2020-03-12 03:21] douglasism opened #2661 "edger8r generating unsafe result handling code"
**Description**
Hello team,
I was reviewing the samples, and I noticed that the edger8r generated code was writing the result to a potentially unsafe memory location.  I don't think this is useful from an attack standpoint, or even exploitable for that matter, but I don't know enough about edger8r to make a broad, absolute statement. Anyway, this should be fixed.

For example, in `helloworld_t.c`:

[2020-03-12 14:01] BRMcLaren commented on #2614
@radhikaj I was waiting on a build, got around to it. Merging now

[2020-03-12 15:17] #2614 closed

[2020-03-12 17:30] mingweishih commented on #892
Fixed by #2497.

[2020-03-12 17:31] mingweishih commented on #2498
Fixed by #2497

[2020-03-12 17:31] #2498 closed

[2020-03-12 17:39] #892 closed

[2020-03-12 17:58] mingweishih commented on #2661
Thanks for raising up this issue. OE has taken care of this potential problem when copying the arguments from host to enclave --- see https://github.com/openenclave/openenclave/blob/master/enclave/core/sgx/calls.c#L215.

[2020-03-12 18:27] jhand2 commented on #2661
@mingweishih you're right that its not a vulnerability, but this code is still incorrect, right? If `output_buffer` refers to enclave memory then the `pargs_out` dereference will always crash.

[2020-03-12 18:39] mingweishih commented on #2661
Are you referring to `pargs_out->_result = _result;` ?  The logic in copying arguments should have guarded this case by checking the size of the buffer size against the size of oe_result_t. The edl-generated struct always puts the _result at the first N bytes (depends on the size of oe_result_t).

[2020-03-12 19:41] anakrish opened #2665 "Documentation: Link for downloading Intel DCP Library is broken"
In https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsManualSGX1Prereqs.md, the link  in the following line is broken

[2020-03-12 20:13] douglasism commented on #2661
@mingweishih Hi John, I think you're implying that `/* Make sure input and output buffers lie within the enclave. */` is unnecessary? Is that true for all cases?  The comment in calls.c suggests that clients may choose other routes:
[code]

[2020-03-12 20:17] mingweishih commented on #2661
@douglasism Currently all the edl-generated ecalls will go to this route, see: https://github.com/openenclave/openenclave/blob/master/tools/oeedger8r/src/Sources.ml#L793

[2020-03-12 20:31] douglasism commented on #2661
@mingweishih Oh, I see. There is an argument, though, that the code generation should produce self-consistent code. Either the bounds checking is unnecessary and removed, or `pargs_out` should not be assigned until after the buffer is validated.

[2020-03-12 20:46] mingweishih commented on #2661
@douglasism The intention of the design is to always encode the `oe_result_t` as part the args `struct`, which serves as the oe-specific return code of the ecall to the host.

Since the oeedger8r tool is highly coupled with OE, I think this is acceptable. I wait and see what others people think about that. Thanks for the discussion anyway!

[2020-03-12 20:47] mingweishih commented on #2665
We should fix the link based on #2664

[2020-03-12 21:41] MWShan commented on #2573
I think that this is fundamentally a good idea; though, I am not sure that a single segment for stack would be best for SGX because you need a stack for each TCS and you need to be able to calculate the stack address quickly, thus, putting the stack at an address relative to the TCS (where you get the address upon entering the SGX enclave) works well.

One other thing to consider: SGX2 adds suppor

[2020-03-12 21:43] jhand2 opened #2666 "Use EDL to generate headers structures that are used in EDL"
# Current Behavior

Currently many of the structures passed as arguments in EDL functions are defined in C header and included into EDL. For example `oe_asymmetric_key_params_t` is used in `common/tee.edl` by including the bits/types.h header:

https://github.com/openenclave/openenclave/blob/99410b10b4782d33e76819bc681e651e96cd9739/common/tee.edl#L17

These structures are known as "foreign structu

[2020-03-12 23:53] mingweishih opened #2668 "fs and hostfs test cases rely on additional cmake tests to remove temporary directory"
Currently, both fs and hostfs tests (parts of syscall tests) rely on additional cmake tests to remove the temporary directory.
Take the `tests/syscall/hostfs` for example, currently it does:
[code]

I suggest to removing such patterns and make the test self-contained.

[2020-03-13 00:48] mingweishih opened #2669 "The `install_lvi_mitigation_bindir` should install the wrappers for clang, clang-8, and clang-9"
#2651 supports using Make to build samples with clang, clang-8, or clang-9 (previously, only clang-7 available). Therefore, the `install_lvi_mitigation_bindir` script, which installs the compiler wrappers for supporting Load Value Injection(SGX) mitigation, should also add those clang wrappers to support this modification properly.

[2020-03-13 00:55] anakrish commented on #2661
@douglasism Thanks for bringing up the issue.

@mingweishih I agree that this is not a vulnerability. As you pointed out, the caller does the buffer checks to make sure the output buffer is safe before calling the generated code. This makes the generated checks unnecessary.

Note: There was an actual vulnerability reported earlier that we fixed. In that case, the host could indeed cause the enclav

[2020-03-13 00:57] anakrish commented on #2661
@mingweishih, it is a valid point that the generated code must be consisted. Can you take on the task of either removing the boundary checks in the generated function, or to fix the generated code to not write to the result in the scenario described in this issue.

[2020-03-13 01:31] mingweishih opened #2670 "Implementing the logic of detecting clang in CMake for samples"
Similar to the support of clang detection in Make for samples (#2651), we should support similar logic in CMake for the consistency.

[2020-03-13 01:35] anakrish commented on #2556
@ryanhsu19 This is a compiler bug that other projects have encountered:
E.g: https://github.com/android/ndk/issues/314

I would suggest either of the following workarounds:
- Disable optimizations for twalk.c by passing -O0
- Exclude twalk.c from oelibc, and disable associated tests

[2020-03-13 02:18] #2557 closed

[2020-03-13 15:56] bodzhang commented on #2589
What's the existing usage of opt_params for SGX attestation and TrustZone attestation? I'm wondering whether a TEE-specific opt_params can really be made transparent to the enclave code that needs to generate the Attestation data , and only the verifer needs to understand opt_params.

[2020-03-13 16:59] achamayou opened #2672 "Should oe-gdb be deleted?"
Users starting oe-gdb are greeted with a slightly ominous banner:

[code]

Should oe-gdb be deleted?

[2020-03-13 18:03] jhand2 commented on #2672
cc @anakrish to confirm

But yes, I agree we should remove it

[2020-03-13 18:19] anakrish commented on #2672
Yes. We need to delete it. Long overdue.

[2020-03-13 18:20] anakrish commented on #2669
Also, `install_lvi_mitigation_bindir` does not seem to handle '~' correctly.

[2020-03-13 18:23] mingweishih commented on #2669
Thanks @anakrish. I'll make a PR to address both issues.

[2020-03-13 19:21] dthaler opened #2675 "Process for security reports"
https://github.com/openenclave/openenclave/blob/master/docs/Contributing.md says:

However, the OE SDK is a CCC project, not a Microsoft project.   Either this should be replaced by a CCC process, or there should be some process to involve all entities (not just Microsoft) that might be using the SDK.

[2020-03-13 22:56] jhand2 commented on #2448
Fixed by https://github.com/openenclave/openenclave/pull/2553 and https://github.com/openenclave/openenclave/pull/2553

[2020-03-13 22:56] #2448 closed

[2020-03-13 23:02] jhand2 opened #2676 "Require explicit developer opt-in for OCalls made by the OE runtime"
OE has many OCalls which it will make during execution of the runtime, without an enclave application explicitly making these OCalls. We should make developers explicitly import these into their own EDL files so that an the OE runtime cannot make an OCall which was not opted into.

This is a meta issue to track smaller work items to support this feature

* [x] Design documentation: PR https://gith

[2020-03-14 04:35] #2672 closed

[2020-03-14 06:53] yentsanglee commented on #2589
opt_params is as an optional parameter that verifier plugin provides and attester plugin consumes when generating evidence. It becomes part of the evidence for the verifier plugin to validate. It is transparent to the enclave code and the host code.

[2020-03-15 06:04] radhikaj commented on #2658
@shnwc Is this a suggestion for a design? Please clarify so I can label appropriately.

[2020-03-15 07:07] #2537 closed

[2020-03-15 07:12] #2048 closed

[2020-03-15 08:09] radhikaj commented on #1988
It looks like the powershell script now uses https://www.nuget.org/api/v2/package/Azure.DCAP.Windows/0.0.3

[2020-03-15 08:09] #1988 closed

[2020-03-16 16:30] yakman2020 commented on #2624
Can you verify you have sgx-aesm-service,  libsgx-launch, and libsgx-ae-le packages installed?
I expect you are not getting enclaves launched.

[2020-03-16 16:37] shnwc commented on #2658
@radhikaj This is a bug in the code that needs to be fixed

[2020-03-16 16:39] yakman2020 commented on #2624
I created a  16.04 acc VM, and replaced the dcap driver with non-dcap (therefore non-flc).
Following the instructions in the doc referenced resulted in the same symptoms, which is enclaves not getting loaded. Adding aes-service, launch enclave and le plugin resoled the issue.

These are not called out in the document. I modified the doc to include installation of the needed components.

[2020-03-16 17:22] yakman2020 opened #2681 "fedora cmake rules broken for ENABLE_REFMAN=on"
When building source on fedora 31 (and, I presume any redhat based distro, rhel, centos) the build rules for building doxygen do not identify dot correctly, then force themselves into trying to use  LaTeX, which reveals a cmake syntax error:

-- Found Doxygen: /usr/bin/doxygen (found version "1.8.15") found components:  doxygen dot
CMake Error at build/CMakeDoxygenDefaults.cmake:471 (set):
  Synta

[2020-03-16 18:01] jhand2 commented on #2681
I use fedora 31 at home and am unable to repro this. Note it is a non-SGX machine and I'm running cmake 3.16 (rather than 3.13)

[2020-03-16 18:20] yakman2020 commented on #2624
Build on 18.04 using OE_SIMULATION on an AMD machine. Still works without error.

Could we get more info about the environment? Model CPU, bios settings (is SGX enabled), packages installed.

make: *** /home/vincent/Documents/openenclave/build/install//home/vincent/openenclave-install/share/openenclave/samples/file-encryptor: No such file or directory. Stop.
1: CMake Warning at /home/vincent/Docum

[2020-03-16 18:41] yentsanglee commented on #2658
This is a bug in the built-in verifier. Will fix.

[2020-03-16 22:13] jhand2 commented on #2585
First round of refactoring in https://github.com/openenclave/openenclave/pull/2683

[2020-03-16 23:14] jhand2 commented on #2585
syscall.edl refactored in https://github.com/openenclave/openenclave/pull/2685

[2020-03-17 02:07] #2587 closed

[2020-03-17 03:09] radhikaj commented on #2665
#2684 fixed this

[2020-03-17 03:09] #2665 closed

[2020-03-17 17:05] yentsanglee commented on #2658
Please assign to qiucwang.

[2020-03-17 17:08] radhikaj commented on #2666
Recommend: add guidance to developers once you have a solution.

[2020-03-17 17:11] radhikaj commented on #2669
Put this in v.10

[2020-03-17 17:12] radhikaj commented on #2669
Expand LVI

[2020-03-17 17:35] spjohnso commented on #2675
We opened an Issue at the TAC about project template submissions. https://github.com/confidential-computing/governance/issues/16.

[2020-03-17 17:47] jhand2 commented on #2666
Some ideas I've come up with that may or may not work:
* Define all structures to be used by EDL files as EDL structs. Use edger8r to generate C headers
* Annotate C structures (via comments or macros) in a way that edger8r understands so it can do deep copy.
* Defining the same structure in C and EDL. Then provide a way to map them and autogenerate code to convert between the two. This would mean

[2020-03-17 18:01] yentsanglee opened #2688 "Quote verification should handle new TCB level status"
Current quote verification only handles TCB level status "Revoked", "OutOfDate", "ConfigurationNeeded", and "UpToDate". New status were defined in this [spec](https://download.01.org/intel-sgx/sgx-dcap/1.5/linux/docs/Intel_SGX_ECDSA_QuoteLibReference_DCAP_API.pdf) and this [spec](https://api.portal.trustedservices.intel.com/documentation#pcs-certificate). They need to be handled. New status includ

[2020-03-17 18:34] swamymsft opened #2689 "Update MUSL to the lates version 1.2.0"
There is a security fix ([CVE-2019-14697](https://www.openwall.com/lists/musl/2019/08/06/13)) that has gone into MUSL 1.1.23, which affect 32bit. From what I understand this should not affect OE as it 64bit only.

[2020-03-17 19:25] #2590 closed

[2020-03-17 20:47] #2524 closed

[2020-03-17 20:47] BRMcLaren commented on #2524
This has been resolved. Thanks @Francis-Liu

[2020-03-17 21:04] jazzybluesea opened #2692 "data-sealing sample fails to unseal previously sealed data."
Steps to repro:
1. Compile the data-sealing sample and run it.
2. First test case should pass given that the data is sealed and unsealed in the same enclave.

[code]

[2020-03-17 23:47] jhand2 commented on #2692
Under what circumstances does this fail? OS, PSW version, OE version.

Presumably this doesn't always fail or else all CI would be failing, right?

[2020-03-18 01:15] mingweishih opened #2693 "Enable deep copy by default"
The recent work on refactoring the use of EDL (#2676) could benefit from the deep-copy feature in terms of security (as described in #2666). We should consider enabling the deep copy by default.

This issue is part of #1839, which tracks the progress of deep-copy feature.

[2020-03-18 04:47] jazzybluesea commented on #2692
It is probably not failing CI/CD because the oe_result_t is returned which in this case is OE_OK.  The return value of 7 is not returned.  See _seal_unseal_by_policy()_

[2020-03-18 15:53] jhand2 commented on #2692
Oh I see, that sample doesn't count the validation failure as a failure for the sample as a whole. So that should be fixed too.

[2020-03-18 16:37] eddyashton opened #2694 "LVI-setup ansible expects to be run in git repo, does not work in released tarball"
I'm trying to provision a new VM with a recent build of OE, ideally the v0.8.2 release. I download the release tarball (https://github.com/openenclave/openenclave/archive/0.8.2.tar.gz), untar, and try to install the dependencies via the included ansible playbook (`scripts/ansible/oe-contributors-acc-setup.yml`). This executes the new `lvi-setup.yml` step, which calls `git rev-parse`, which fails b

[2020-03-18 17:28] jhand2 commented on #2694
@mingweishih can you take a look at fixing this?

[2020-03-18 17:31] mingweishih commented on #2694
@BRMcLaren @ionutbalutoiu I thought we get rid of that already. Can you double check?

[2020-03-18 17:36] mingweishih commented on #2694
I think this is fixed by #2687.

[2020-03-18 17:43] jhand2 commented on #2694
Oh, so the problem is that the 0.8.2 release doesn't have the proper changes.

[2020-03-18 17:44] mingweishih commented on #2694
cc @radhikaj

[2020-03-18 17:44] eddyashton commented on #2694
@mingweishih Thanks, it looks like you're right and this is fixed by #2687, I'm able to run the playbook from [the tarball at this commit](https://github.com/openenclave/openenclave/tarball/5ee9bd3bf7d2df1be7073dd843c9a37b83c9d0d0). Any ETA on when this will be in a tagged release?

[2020-03-18 17:45] ionutbalutoiu commented on #2694
Yep. You are correct. The PR https://github.com/openenclave/openenclave/pull/2687 merged some time ago, today.

[2020-03-18 18:31] bodzhang commented on #2589
@yentsanglee, do you have some examples of opt_params provided by the SGX verifier plugin and TrustZone verifier plugin? My concern is that the restriction of opt_params is transparent to the enclave/host code that invokes the attester plugin significantly limit the usefulness of opt_params.

[2020-03-18 18:49] bodzhang commented on #2191
Haven't get any response to my question above. Probably because the questions are out of context in this thread. I will open a new issue.

[2020-03-18 18:58] bodzhang opened #2696 "EC Private Key PEM read/write APIs"
In [include/openenclave/internal/crypto/ec.h](https://github.com/openenclave/openenclave/blob/master/include/openenclave/internal/crypto/ec.h):
oe_ec_private_key_write_pem(const oe_ec_private_key_t* private_key, uint8_t* pem_data, size_t* pem_size);

In [include/openenclave/internal/ec.h](https://github.com/openenclave/openenclave/blob/master/include/openenclave/internal/ec.h):
oe_result_t oe_ec_p

[2020-03-18 19:08] jhand2 commented on #2696
Yes these functions are for internal enclave use only (the headers aren't installed with the SDK) and the private key is not exposed outside the enclave.

[2020-03-18 23:25] #2544 closed

[2020-03-18 23:25] #2264 closed

[2020-03-19 00:54] mingweishih opened #2698 "Function IDs and ECALL/OCALL marshalling structs should be generated under _t.c / _u.c"
Currently, `oeedger8er` generates Function IDs and ECALL/OCALL marshalling structs under `_u.h` / `_t.h` (was under `_args.h` before #2691). However, these data types are only used by the bridging functions that `_t.c` / `_u.c` implements and therefore should not be visible to files that include `_u.h` / `_t.h`. As a result, we should consider moving the definition of those data types to `_t.c` /

[2020-03-19 01:35] mingweishih commented on #1523
This issue occurred again with GCC 7.5 as it's fixed GCC 8.0 instead of 7.5 (per https://gcc.gnu.org/bugzilla/show_bug.cgi?id=83921). We need to update the checks of the GCC versions accordingly.

[2020-03-19 05:22] radhikaj opened #2701 "OpenEnclave Debian packages should call out OpenSSL dependencies"
The Ubuntu 1604 OpenEnclave debian package  takes a dependency on OpenSSL 1.0.2g.
The Ubuntu 1804 OpenEnclave Debian package takes a dependency on OpenSSL 1.1.x. These should be called out as perhttps://www.debian.org/doc/debian-policy/ch-relationships.html in the "Depends" control field of the respective Open Enclave packages.

[2020-03-19 14:41] hixuu opened #2704 "how to build oeedger8r ？"
how to build oeedger8r separately ?without esy

[2020-03-19 15:37] jhand2 commented on #1523
We should probably have a matrix of officially supported compilers

[2020-03-19 18:57] #2696 closed

[2020-03-19 21:33] #2692 closed

[2020-03-19 23:11] jhand2 commented on #2694
@eddyashton The next planned release is v0.9 which I believe will be in mid-April

[2020-03-20 02:34] sword03 opened #2707 "A question about "Data Sealing""
There are two type of seal keys，OE_SEAL_POLICY_UNIQUE and OE_SEAL_POLICY_PRODUCT. The explaination of OE_SEAL_POLICY_PRODUCT shows as follows:

Now there are two enclaves,  enclave A and enclave B, which were signed by the same signer.

My Question: Could I unseal the data in enclave A in my computer, which was sealed in enclave B in a different computer?

[2020-03-20 07:29] #2492 closed

[2020-03-20 15:07] #2666 closed

[2020-03-20 15:39] lamouriner opened #2710 "Return Better OE_PLATFORM_ERROR messages"
I have been working on running the remote_attestation demo and am getting some pretty cryptic and unhelpful error output:
![Screen Shot 2020-03-20 at 11 35 07 AM](https://user-images.githubusercontent.com/35075451/77179439-e0603580-6a9e-11ea-8760-89dea5adee1a.png)

It looks like the DCAP API is returning a "quote3_error_t" error code of 0xe011 but a quick search through their docs and codebase did

[2020-03-20 15:56] jhand2 commented on #2710
quote3_error_t is an SGX platform error (returned by the intel platform software) not an OE error.

They are defined here: https://github.com/intel/SGXDataCenterAttestationPrimitives/blob/ab8d31d72f842adb4b8a49eb3639f2e9a789d13b/QuoteGeneration/quote_wrapper/common/inc/sgx_ql_lib_common.h

That particular error is:

As for the feature request, I'm hesitant to maintain a manual map since it could g

[2020-03-20 16:05] lamouriner commented on #2710
Thanks @jhand2 !

Certainly a manual map would be tedious and hard to maintain. I was imagining that these errors are all defined in headers *somewhere* in Intel's codebase, and normally I would take the method of including those headers, though i'm not sure how large that search space is/how tractable that idea is.

If it's a terrible idea, a document that explains platform errors and where you c

[2020-03-20 16:08] jhand2 commented on #2710
It's definitely good to have some indication of what these platform errors mean, its a problem people trip over often :smile:

I'll leave this issue open so we can come up with something to point people to to better understand the error codes being returned.

[2020-03-20 17:35] mingweishih opened #2711 "Transient CMAKE error with the target `oehostmr`"
Current build occasionally hits an error when compiling the target `oehostmr`. The example log is as follow.
[code]

This error indicates that OE didn't set the dependency properly.

[2020-03-20 18:21] jhand2 opened #2713 "Remove requirement for stub ecall in EDL files"
Currently oeedger8r requires EDL for an enclave to have at least one public ecall. This requirement seems unnecessary, there is no reason that an enclave must define an ecall.

In particular, removing this requirement would allow for an EDL file containing only structs/enums to be used to generate header files.

[2020-03-20 18:48] dthaler commented on #2713
Agree, I would love to see that requirement removed, as I've had to have dummy ecalls for years (going back to when just using the Intel SGX SDK) for exactly this reason.  I always found it annoying to have to add unused APIs just to make edger8r happy.

[2020-03-20 19:17] dthaler opened #2714 "Outdated buildandsign doc"
GettingStartedDocs\buildandsign.md looks to be outdated.
* There is no mention of OE_SET_ENCLAVE_OPTEE, only SGX.
* The only discussion of .conf parameters is SGX-specific, without explaining why.

[2020-03-20 19:37] dthaler opened #2715 "Switchless sample unexpectedly has multiple values of NumTCS"
https://github.com/openenclave/openenclave/blob/master/samples/switchless/enclave/enc.c line 39 sets NumTCS to 2.
https://github.com/openenclave/openenclave/blob/master/samples/switchless/enclave/switchless.conf line 8 sets NumTCS to 1.

It's unclear why the sample uses both a .conf file and a OE_SET_ENCLAVE_SGX() macro, let alone why they have different values. It's also unclear which one takes p

[2020-03-20 20:34] BRMcLaren opened #2716 "Nuget Package Upload Warning"
When uploading packages, we receive the following warning:

"The <licenseUrl> element is deprecated. Consider using the <license> element instead."

More information can be found at: https://aka.ms/deprecateLicenseUrl

[2020-03-20 20:36] jhand2 commented on #2716
Just to clarify, is this specifically for the licenseUrl, or are we using other deprecated fields as well?

[2020-03-20 21:19] jhand2 commented on #2615
As a Linux Foundation project, we are following Linux Foundation guidance in using DCO. Any complaints or recommendations should be addressed in the appropriate forum with the Linux Foundation

[2020-03-20 21:19] #2615 closed

[2020-03-20 21:22] #2711 closed

[2020-03-20 21:22] jhand2 commented on #2704
We used to build oeedger8r with the native ocaml build tools, but switched to esy because it worked better for building on both Windows and Linux.

Is there a specific reason you cannot use esy?

[2020-03-20 21:41] dthaler opened #2717 "Enable app devs to use SGX simulation support on a non-SGX Windows dev machine"
A frequently asked question at a recent IETF hackathon was how to use the OE SDK on a non-SGX-capable Intel machine.   Since OE SDK supports a simulation mode, this would be highly desirable.

https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk-Simulation.md implies it should be doable, but that page only covers Linux, not Windows, unlike what the filename

[2020-03-20 21:45] jhand2 commented on #2717
@anakrish recently enabled Simulation mode for Windows (this was not previously supported).

It looks like we need to fix up the documentation to reflect this.

[2020-03-20 22:17] dthaler commented on #2717
PR #2600 was the change to make this work, but that PR missed updating the doc.

[2020-03-20 23:12] praenubilus opened #2718 "OE SDK installed through APT having PLATFORM ERROR with DCAP v1.4"
VM: ACCVM on Azure
OS: Ubuntu 18.04
Problem Description: Recently we have Installed Open Enclave from apt source following the steps from the [official doc](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk-Ubuntu_18.04.md) in an ACCVM. The intel SGX DCAP Driver we have is version 1.4. There is no compiling error for the application. But when we run the

[2020-03-20 23:34] jhand2 opened #2719 "Document which features use which system ocalls"
#2676 Tracks adding support to give developers more control over which ocalls the OE runtime may call on their behalf. Since developers will now have a choice to disable the OE runtime from making certain ocalls, we should document which features make which ocalls.

For example, if a developer wants to disable the syscall ocalls (by not including them in EDL), there should be enough documentation

[2020-03-21 00:26] jhand2 commented on #2561
Adding some extra options to this issue for when we get around to improving the documentation:
* We could provide (or ask intel to provide) a DKMS package for the isgx driver so that people don't have to disable secure boot
* We can provide instructions on how to manually sign the driver and then enroll the key in the Machine Owner Key (MOK) db. This would also allow for the driver to be installed

[2020-03-21 00:42] dthaler commented on #2710
I see the SGX label was added to this issue, but I would want to make sure that any solution is not sgx specific

[2020-03-21 01:15] jxyang commented on #2718
Just to add two more data points. 1) when we created the acc vm, we checked "install oe sdk" option. That seems causing the 1.4 dcap driver to be installed. 2) when using the contributor installation guide, i.e., building oe sdk from source, the driver is updated to 1.5. And there is no platform error.

It seems something in the contributor installation scripts are missing in the package installat

[2020-03-21 01:55] HernanGatta opened #2720 "Determine binary distribution strategy for SDK for OP-TEE on ARM TZ"
Given the wide variety of ARM boards, OP-TEE is meant to be manually configured and built by system integrators for their specific target platform. As a result, no two builds of OP-TEE are the same, seeing as their configuration may change from one platform to another.

The SDK builds atop OP-TEE's support libraries, whose configuration in turn changes on the basis of how OP-TEE was configured. Th

[2020-03-21 01:59] HernanGatta opened #2721 "Port test suite to OP-TEE"
A number of tests in the test suite are known to pass on OP-TEE. Others are known not to pass. Others yet have not been tried on that platform. Others yet again could pass, but assume SGX memory semantics, which differ on TrustZone.

We ought to comb through the tests and see which ones fall into which bucket, and make work those that we can on OP-TEE to increase test coverage.

For a list of test

[2020-03-21 04:14] hixuu commented on #2704
yes, I meet a problem when installing esy. T.T
or is there any binary avaliable for Linux os ?

`> esy-solve-cudf@0.1.10 postinstall /usr/local/lib/node_modules/esy/node_modules/esy-solve-cudf

/usr/local/lib/node_modules/esy/node_modules/esy-solve-cudf/postinstall.js:7
const install = (filename) => {
                            ^
SyntaxError: Unexpected token >
    at Module._compile (module.js:4

[2020-03-21 12:34] sword03 commented on #2707
I Have got the anwser. You can't unseal the data in enclave A in your computer, which was sealed in enclave B in a different computer, though they were signed by the same signer.

[2020-03-21 12:34] #2707 closed

[2020-03-21 17:30] anakrish commented on #2717
#2600 implements SGX simulation support for Windows. You can run both hardware and simulation mode on a SGX Windows machine.
However, oehost (enclave loader) still has link time dependency on Intel SGX DLLs. On a non-sgx machine, enclave loading will fail due to missing Intel DLLs (eg. sgx_enclave_common.dll, sgx_launch.dll) even though simulation mode execution is being requested.

To fully imple

[2020-03-21 17:33] anakrish commented on #2718
@soccerGB Is the "install oe sdk" option still recommended?

@jxyang @praenubilus Was OE SDK installed using "apt install" or via "install oe sdk" option?

[2020-03-21 17:38] anakrish commented on #2713
If I am not mistaken, Intel SDK initializes the enclave (e.g calling global constructors) when the first ecall is made, where as in OE SDK the initialization happens as part of enclave creation.

It would be good to talk to Intel to see if we can relax this restriction in edl.

[2020-03-21 17:47] anakrish commented on #2704
@hixuu

To use the OE SDK, you need not necessarily build it from the scratch.
You can use prebuilt libraries and binaries (oeedger8r,oegdb, oesign etc) by installing the latest packages from here: https://github.com/openenclave/openenclave/releases .

We can also help you with issues regarding building the OE SDK.
What is the version of nodejs installed in the system?

[2020-03-21 23:02] soccerGB commented on #2718
Could you check to see if you have Azure DCAP client installed on your system?

if not, you can find latest version  in https://github.com/microsoft/Azure-DCAP-Client/releases.

[2020-03-23 09:24] achamayou commented on #514
For what it's worth, the last usage of oe_sbrk in oecore was removed in #2649, as far as I can see the only call to oe_sbrk left is in tests/bigmalloc.

[2020-03-23 12:49] hixuu commented on #2704
thank you for your reply.
my nodejs version is v0.10.25.
I want to setup environment for OPTEE SDK. but it's seems there are some dependencies on SGX.
hmm, does the prebuilt  binaries works with OPTEE ?

[2020-03-23 14:56] jumaffre opened #2724 "Verify remote report from CLI"
In each Open Enclave install comes the `liboehostverify.a` library that can be linked to a binary if one needs to verify the remote report of an enclave (e.g. a client talking to a remote enclave running in ACC).

However, this is impractical for clients that want to verify a remote report without having to build their own C++ binaries. For example, clients may communicate via off-the-shelf `curl`

[2020-03-23 17:17] anakrish commented on #2704
@HernanGatta, @dthaler  Can you follow up with @hixuu about setting up OE for OPTEE SDK?

[2020-03-23 17:22] jhand2 commented on #2724
I agree, this seems like a useful tool to have. Thanks for the suggestion!

I'm not sure I know the right place to put it. Is liboehostverify sgx-specific? If not, we could probably make a new tool.

[2020-03-23 17:37] jhand2 commented on #514
I concur, I'll count this as closed. Thanks!

[2020-03-23 17:50] jazzybluesea commented on #2724
How about creating general attestation CLI?  This cli would support generating evidence for any TEE and verify evidence + endorsements for any TEE?

[2020-03-23 17:53] jhand2 commented on #2724
The reason I like a tool which just uses oehostverify is that it can be run on any machine, not just SGX. This is good for supporting the case @jumaffre mentioned. I just got remote evidence from some party and want to verify it with a tool. A CLI that also supports full attestation would require a hardware TEE on the machine.

Both may be useful but I think they serve different use-cases.

[2020-03-23 18:01] achamayou commented on #2724
It may be useful to have a tool that generates attestations as well, but as @jhand2 correctly points out this requires TEE hardware. The purpose here is to enable very lightweight verification for end users who talk to an in-enclave service, but don't necessarily have that capability.

I don't believe oehostverify is SGX-specific now, although it used to be (eg. #2264).

[2020-03-23 18:08] achamayou commented on #514
@jhand2 the ticket also mentions large stack allocations, I don't know if those have been cleaned up or not :)

[2020-03-23 18:12] jhand2 commented on #514
Ah you're right. I'll reopen and change the name

[2020-03-23 19:39] jazzybluesea commented on #2724
I think having a single tool minimizes the number of tools we have and also we have a single tool for attestation.  This single tool can check if it is running in compatible hardware before generating the report? and return an error message if it is not supported.

[2020-03-23 19:51] achamayou commented on #2724
In principle that’s fine, but it may be awkward for dependencies. oehostverify and its CLI could conceivably be shipped as a package with a very small dependency footprint (ie. no libsgx etc), separate from the full SDK.

If this is a single tool, then it has to have a number of optional dependencies. Optional dependencies are annoying because you can’t give an error if they’re missing, and so if

[2020-03-23 22:55] praenubilus commented on #2718
@anakrish The install OE SDK is still the default option for ACC template. The OE SK is installed using APT install

[2020-03-23 22:55] praenubilus commented on #2718
Is there a difference between Intel DCAP or Azure DCAP? If yes, how can I check/tell the difference?

[2020-03-23 22:58] dthaler opened #2727 "Contributing doc has broken link"
https://github.com/openenclave/openenclave/blob/master/docs/Contributing.md says:

However the link to https://oe-bors.westus2.cloudapp.azure.com/ fails.  Chrome reports
"This site can’t be reached
oe-bors.westus2.cloudapp.azure.com’s server IP address could not be found."

[2020-03-23 23:12] BRMcLaren commented on #2716
@jhand2  Just the license URL, this was the only deprecated URL noticed.

This is not critical, assigning to myself.

[2020-03-23 23:33] soccerGB commented on #2718
You can run the following command to find out which version of Azure DCAP client you have,

 dpkg --list | grep az-dcap-client
ii  az-dcap-client 1.1                            amd64        Intel(R) SGX DCAP plugin for Azure Integration

The current OE SDK does not support Intel DCAP client yet.

[2020-03-23 23:52] HernanGatta opened #2728 "Remove dependency on Azure DCAP libraries when unnecessary for SGX"
It would be good to ensure that in documents targeted at users that install the SDK from binary packages for SGX which mandate the installation of the Azure DCAP libraries, that step be conditioned on:

1. Is the step for simulation mode?
2. Should the Intel DCAP client be used instead?

Two examples of this are the pages pointed to to [install the SDK on Ubuntu for simulation mode](https://github

[2020-03-23 23:52] jhand2 commented on #2727
@BRMcLaren is there a new bors dashboard link?

Also, is there a public place where people can see the bors queue (i.e. bors hasn't picked up my bors try yet, can I see the queue of other running bors tries to see when mine will come up?)

[2020-03-24 02:52] dthaler opened #2729 "Outstanding issues on attestation plugin design"
There are still a number of outstanding issues on the attestation plugin design document (PR #2621), which were raised by various reviewers.  This issue is to track the issues that are still not closed.

Technical issues:
* The comment in https://github.com/openenclave/openenclave/pull/2621#discussion_r393247888 about "Why does this need to be in code in every application, as opposed to either (a)

[2020-03-24 03:10] dthaler commented on #2704
See https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/OP-TEE/Introduction.md

[2020-03-24 03:12] dthaler commented on #2704
Also issue #2720 tracks ongoing investigation about prebuilt binaries

[2020-03-24 06:48] yentsanglee commented on #2724
A host verify sample that takes report as parameter can be helpful.
There's a commane-line test tool 'oecert' that generates report but it has to be built from OE_SDK.

[2020-03-24 06:54] yentsanglee commented on #2710
The "quote3_error_t=" was from SGX DCAP driver. This is an SGX specific error.

[2020-03-24 09:33] jumaffre commented on #2724
Thanks all for your quick responses. It seems that there is consensus about the usefulness of such tool as part of the Open Enclave install. I agree with @jhand2 and @achamayou about having it as a very limited tool that does not require SGX (i.e. only link `liboehostverify.a`).

I guess that the best place for it would be under https://github.com/openenclave/openenclave/tree/master/tools? I'm hap

[2020-03-24 15:38] jhand2 commented on #2710
You're right that this particular error is SGX-specific, which is why I originally added the SGX label. But since the reason I'm leaving this open is to document all platform errors, Dave is right that this should apply to all platform errors, not just SGX ones.

[2020-03-24 15:48] jhand2 commented on #2724
That would be great @jumaffre! Yes, the tools directory would be the best place for it. I'll go ahead and assign this issue to you, feel free to reach out with any questions.

[2020-03-24 17:07] #2694 closed

[2020-03-24 17:08] radhikaj commented on #2694
I am closing this because  it's already fixed and there is a workaround in the meantime

[2020-03-24 17:13] radhikaj commented on #2704
@hixuu  Does the above information answer your question?

[2020-03-24 17:17] radhikaj commented on #2710
#1387 Tracks getting more detailed error messages.

Please let us know if this issue is a duplicate of the above.

[2020-03-24 17:19] radhikaj commented on #2713
@jhand2 please update the issue.

[2020-03-24 17:20] radhikaj commented on #2713
@mwshan request you follow up on @anakrish's question above.

[2020-03-24 17:28] radhikaj commented on #2715
The recommendation right now is to use the configuration file for SGX only samples.

[2020-03-24 17:29] mikbras opened #2734 "Consider higher value for OE_SGX_MAX_TCS"
I increased the **OE_SGX_MAX_TCS** macro to 1024 and was able to create an enclave with 1024 TCS's (with 4 kilobyte stack each). I am not sure why I made this number so low initially. Maybe I assumed there was a hardware (SGX) limitation, but it seems there is not. If this number is increased, then the threading bindings array in host maybe should be a hash table (or consider binary search).

[cod

[2020-03-24 17:35] radhikaj commented on #2721
@HernanGatta  can you please do a similar investigation for samples?

[2020-03-24 17:35] mikbras commented on #2693
Some notes:
- This feature might still be considered experimental in OE.
- I think that the Intel SGX SDK only supports two-level deep copy, whereas OE tries to support multi-level deep copy (but might need more testing). This is why we did not enable it by default, at least initially.
- OP-TEE/TrustZone application must use multi-level deep copy since host memory is not automatically shared with

[2020-03-24 17:41] radhikaj commented on #2727
Please investigate if bors try can run in parallel if there are sufficient resources available.
@BRMcLaren Please change the link that @dthaler called out. There should be a way for developers to figure out what is in the queue and it should be documented in the contributing docs.

[2020-03-24 17:42] CodeMonkeyLeet commented on #2727
Updated link should be https://app.bors.tech/repositories/21855

[2020-03-24 17:44] jhand2 commented on #2693
It's sort of already optional, right? That is, if you don't use the deep-copy macros (such as [count=n]) then you don't get deep copy.

I guess the question is what needs to be done to make this a non-experimental feature? Maybe once we run it in CI?

[2020-03-24 17:44] radhikaj commented on #2728
Looking into delay loading sgx dlls.

[2020-03-24 18:37] HernanGatta commented on #2704
Just to add some details, the SDK currently doesn't ship binary packages for OP-TEE. The reason, as briefly outlined in the issue that Dave linked to, is that, depending on the board that you choose to use, you may build OP-TEE with different configuration parameters. This, in turn, affects the Dev Kit that OP-TEE generates, which the SDK consumes during its build.

There are still discussions to

[2020-03-24 19:26] MWShan commented on #2713
The Intel SDK (actually the untrusted run-time system) makes a specific call into the enclave to perform initialization.  This is not an explicitly defined ECall in the EDL.  This call will return with the results of the initialization; thus, you would need an explicit ECall to get back into the enclave.

Does the OE SDK allow the thread to remain within the enclave on an implicit initialization E

[2020-03-24 19:56] jbdelcuv commented on #2713
The Intel SGX SDK initializes the enclave as part of enclave creation. We use a reserved ECALL identifier (-1) for that purpose. Global constructors are executed when the first (ISV) ECALL is made.
The Edger8r expects an enclave EDL file to have at least a public ECALL function. An enclave without an ECALL isn't very useful. :)
However, I do agree that we can lift such restriction for library EDL

[2020-03-24 20:11] jhand2 commented on #2713
Just to clarify, I mis-spoke previously. When passed the --header-only option, edger8r does relax this restriction.

[2020-03-24 21:08] BRMcLaren commented on #2727
@jhand2

Yes, there is a new dashboard link.

Yes, you can see a queue here: https://oe-jenkins-dev.westeurope.cloudapp.azure.com. If you submit multiple PR's, one can see them being queued up under "Build Queue". A frustration I see is not being able to go CI/CD - > PR to understand which is which, but we are actually moving away from this model

@radhikaj

We are looking at moving towards a mode

[2020-03-24 21:13] dthaler commented on #2727
Thanks Brett!
I agree parallelizing Bors is a separate issue.  This issue is purely about documentation.

[2020-03-24 23:29] mingweishih commented on #2646
Item 1, 3, 4, and 5 should be resolved by #2735. Will investigate the item 2 in another PR.

[2020-03-24 23:54] dthaler commented on #2693
I looked at the difference between public and experimental in https://github.com/openenclave/openenclave/blob/master/docs/ApiGuidelines.md  (since the deep copy macros could be said to be like an API surface area).   I see that doc doesn't explicitly state that to be non-experimental the test case(s) need to run in CI as you suggest, but I agree with you that the guidelines ought to say that expli

[2020-03-24 23:55] dthaler commented on #2693
One difference in the doc is that public features must be used in at least one sample (or sample snippet), whereas that is only a recommendation not a requirement, for experimental.

[2020-03-25 00:04] jhand2 commented on #2693
That's a good point. A test and use in a sample would be a good starting point to enabling this (and required by the API guidelines).

Then if we enable it in CI we can know that the code path is exercised.

[2020-03-25 00:34] mingweishih commented on #2646
Most of the items are resolved in #2735. The remaining part are specific math functions as mentioned in #2639.

[2020-03-25 01:44] soccerGB commented on #2729
Due to uncertainty and resource constraint, the design in PR #2621 is no longer a design YenLee and myself plan to develop for. This issue should not be considered an issue anymore from our point of view.  Thanks for your time spent on reviewing the original design

[2020-03-25 02:09] soccerGB opened #2736 "Need OP-TEE Attestation support"
Any idea on when  OE SDK will starting support OP-TEE attestation?
It's not very clear on what exact form it's going to be supported by OE SDK. On my past attestation  related PRs, I have been asked by reviewers on how certain attestation plugin changes are going to impact or support OP-TEE. I have no good answers for them.

If we could have full OP-TEE attestation, it would help future attestatio

[2020-03-25 16:52] bodzhang commented on #2589
[https://github.com/openenclave/openenclave/issues/2571](https://github.com/openenclave/openenclave/issues/2571) discusses OE_SGX_LOCAL_ATTESTATION_UUID as an evidence format, in parallel with OE_SGX_ECDSA_P256_ATTESTATION_UUID. For local attestation, the verifier will be running in the enclave app too. So for local attestation, the concept that the evidence format details and evidence format spec

[2020-03-25 17:03] bodzhang commented on #852
Any plan to support [https://github.com/openenclave/openenclave-openssl](https://github.com/openenclave/openenclave-openssl) in the near future?

[2020-03-26 02:15] #2727 closed

[2020-03-26 03:46] #2658 closed

[2020-03-26 16:29] jhand2 commented on #2736
Just out of curiosity, why was this closed? I don't have much background on OP-TEE attestation and would love to understand if we already support this.

[2020-03-26 17:28] dthaler commented on #2675
This issue also affects https://github.com/openenclave/openenclave/blob/master/SECURITY.md which has the same problem.

CCC discussion is that security problems should be reported to a project specific list, and the project can escalate it up if it would affect more than just that project.   Discussion of guidance to projects is still ongoing, but I don't think we need to wait on that to fix the o

[2020-03-26 17:37] dthaler commented on #2736
Reopening since I still think this needs to be tracked with an issue and I didn't see another one for it.

[2020-03-26 17:45] dthaler opened #2742 "Add OESDK mailing lists to documentation"
There are two relevant email lists today, neither of which is mentioned in any document in the repo:
oesdk@lists.confidentialcomputing.io
oesdkcgc@lists.confidentialcomputing.io

I believe the oesdkcgc list should at least be referenced at Committers.md and
the oesdk list would be good to mention right in the main README file.

[2020-03-26 18:00] jhand2 commented on #2742
Currently only members of the GCG can send mail to the oesdkcgc mailing list. Do you think that is the correct behavior?

For the oesdk mailing list I agree we should publish it in the README

[2020-03-26 18:09] dthaler commented on #2742
My opinion: no.  I think anyone should be able to send email to it, e.g., to report a code of conduct issue or whatever else.

[2020-03-26 20:42] BRMcLaren opened #2749 "Testing Optimizations and Improvements Discussion"
We are hitting unacceptable limits of testing times, where users are reporting timeouts. This is due to hardware resource constraints.

We should try to find a solution to allow developers to have faster testing times.

[2020-03-26 20:46] anakrish commented on #2749
From what I understand, the only difference between Release and RelWithDebInfo builds is that the -g flag is added to the compiler in the latter. When -g is by itself supposed to not change code generation in anyway other than emitting debugging information.

Do you think we should continue testing the Release only builds in CI given that we are also testing RelWithDebInfo?

@mingweishih Are there

[2020-03-26 22:48] CodeMonkeyLeet commented on #2749
I would also suggest considering moving more of the complete configuration tests into the nightly build. For example, instead of running the LVI configuration that effectively doubles the workload on all runs, we might want to consider running an LVI build for the core libraries, but not all the test binaries or executing LVI tests in the standard CI/CD job: I expect that compilation regressions a

[2020-03-26 22:58] mingweishih commented on #2749
@CodeMonkeyLeet's suggestion sounds good to me---only building the lvi-mitigated libraries without testing on normal builds, and do both on nightly. Meaning that having a flag (e.g., `LVI_MITIGATION_TESTS`) for enabling LVI-mitigation-associated tests that is decoupled from the existing `LVI_MITIGATION` flag. This should largely speed up the normal CI/CD jobs.

[2020-03-27 01:02] BRMcLaren commented on #2749
@mingweishih would you mind taking a look at this? I am unfamiliar with the LVI intricacies and you would do a much better job than I could.

[2020-03-27 01:05] mingweishih commented on #2749
If we take @CodeMonkeyLeet's suggestion on that LVI part, I can go ahead a do that.

Another open question is: should be reduce the number of configurations and move then to the nightly build?

[2020-03-27 21:07] dthaler opened #2759 "Move Azure-specific documentation into an azure subdirectory"
In PR#2659 Paul writes in comment https://github.com/openenclave/openenclave/pull/2659#discussion_r399520173 :
"lets leave this in the current directory and create a new issue about the possibility of splitting platform specific documentation out to platform specific directories, such as Azure, On-prem, and any other in the future"

Moving Azure-specific docs into a subdirectory makes it easier to

[2020-03-27 22:59] jhand2 opened #2760 "Properly annotate internal EDL structures for deep copy"
With the current work I am doing to move some C structures to be defined in EDL for internal ecalls/ocalls, these structures can now be annotated for deep copy.

Look through all EDL defined structures to see which can benefit from count/size annotations.

[2020-03-27 23:32] BRMcLaren commented on #2749
@mingweishih That is a great point.

What we could do is split out the testing into two parts, one for development optimization and allow a solid foundation of testing. Then have another testing configuration that is a full blown regression test that runs periodically.

[2020-03-28 00:13] dthaler commented on #2715
PR #2636 addresses part of this issue but making both locations have the same value of NumTCS=2.
A future PR will address the issue of having both the macro and the .conf file, as well as adding comments explaining why the number 2 was chosen (Anand explained: "The sample already has 1 tcs. And now to handle switchless calls we need one worker, making the total enclave theads to two.")

[2020-03-28 02:37] #2661 closed

[2020-03-29 08:15] mofanv commented on #2624
After installing libs you mentioned, I can run the `ctest` without errors. Samples also work now.

[code]

I'm closing this issue. Many thanks!

[2020-03-29 08:15] #2624 closed

[2020-03-30 21:17] #2398 closed

[2020-03-30 22:28] dthaler commented on #2589
Local and remote attestation are just special cases in my view of a more general multiple-formats-and-multiple-verifiers architecture.  More generally there can be multiple verifiers (regardless of whether one is local or just multiple remote ones).  So I think "local attestation" just means "attestation using a format recognized by a particular verifier, which happens to be local".

Certainly an

[2020-03-30 22:55] anakrish opened #2766 "Remove -Wno-type-limits option"
Relatively recently, we added `-Wno-type-limits` option when compiling enclaves and hosts.
https://github.com/openenclave/openenclave/blob/cb79162e270da55a1cfa266f083719ac5038bd11/cmake/compiler_settings.cmake#L81

This check supresses warnings from emitted when comparisons don't make sense for the limits of a type. For example given a uint64_t variable x, `x < 0` is always true and therefore is l

[2020-03-31 14:28] #2749 closed

[2020-03-31 16:16] nonpolarity opened #2768 "Considering change mode bits from hexadecimal base to octal base."
Pop out this as a issue to check if there is some concern to keep the mode bits as hexadecimal base.

To follow the convention on other platforms, and make it more human-friendly to read, it is better to present these mode bits as octal base.
-----------------------------------------------------------------------------------------------------
$ cat ~/openenclave/include/openenclave/internal/syscal

[2020-03-31 16:25] jhand2 commented on #2768
huh, I didn't even know C supported octal literals. You are right though that other libc implementations define these in octal. Do you have any idea why they do it that way?

I personally think hex is easier to read (the octal prefix seems unclear unless you know C really well, whereas the hex prefix is very well known) but I support this change for the sake of consistency with other implementatio

[2020-03-31 16:35] nonpolarity commented on #2768
I think octal base was to make it easy to read. For example, 0777 will alert you all permissions are granted, 0x1FF is not so straightforward.

[2020-03-31 16:36] jhand2 commented on #2768
Oh good point. That ya, I agree this is something we should do.

[2020-03-31 17:02] radhikaj commented on #2710
@lamouriner Please let us know if this is a duplicate of #1387

[2020-03-31 17:05] radhikaj commented on #2710
We are closing this issue. Please reopen if it needs to be addressed.

[2020-03-31 17:05] #2710 closed

[2020-03-31 17:06] radhikaj commented on #2718
@soccerGB Please update this issue.

[2020-03-31 17:10] radhikaj commented on #2734
Either increase the value of  OE_SGX_MAX_TCS or make it be dynamic.

[2020-03-31 17:23] #2627 closed

[2020-03-31 17:24] jhand2 commented on #2766
Looks like I added this flag. From the comment I made at the time:

[code]

I'll look for more info to remind myself why exactly I did it

[2020-03-31 17:24] radhikaj commented on #2766
@jhand2 This compile option was added as part of https://github.com/openenclave/openenclave/commit/b40a5b75d2612fc2695b6a425679976351c1c230
What would the flip side of disabling it be?

[2020-03-31 17:29] jhand2 commented on #2766
Ah yes, it's because of the `OE_ADD_SIZE` macro. The first parameter might be of type `size_t` but it might not be. So while the check is valid in some cases, when `total` is of type`size_t` then the check is redundant.

[2020-03-31 21:14] #2646 closed

[2020-03-31 21:39] radhikaj commented on #2512
@yentsanglee i am assigning this back to yoy

[2020-03-31 21:40] radhikaj commented on #2109
Dropping larrywxyz from assignees

[2020-03-31 22:20] mingweishih opened #2770 "Use C++17 by default"
According to recent documentation update (#2735), OE already supports most of the C++17 features. Therefore, this issue proposes to using the C++17 as a default compilation option (currently using C++14).

This move requires some changes to the testing as follows.
- Remote `tests.supported.cxx17` and associated cmake logic.
- Move tests that C++17 does not support from `tests.supported` (See below

[2020-03-31 22:24] jhand2 commented on #2770
I'm still a little unclear on what "most" means. Are there new features in C++17 that we don't support?

[2020-03-31 22:27] mingweishih commented on #2770
We can't say "complete" simply because LLVM does not declare that (https://libcxx.llvm.org/cxx1z_status.html).

[2020-03-31 22:30] jhand2 commented on #2770
Oh ok. And I'm sure it will be a very long time until it is fully implemented. This is fine with me then.

[2020-03-31 22:34] MWShan commented on #2734
There is no SGX HW limitation on the number of TCS's added to an enclave, except the overall memory (stack, SSA, etc.) needed to support each TCS.

[2020-03-31 23:09] #2556 closed

[2020-04-01 00:24] dthaler commented on #2759
Paul also suggested there may be ways to collapse some information by default as discussed at https://gist.github.com/pierrejoubert73/902cc94d79424356a8d20be2b382e1ab

[2020-04-01 00:26] dthaler commented on #2759
Another approach (TBD whether a good or bad idea) would be to allow markdown files to #include other markdown files, and generate the resulting built-out markdowns at build time using something like https://github.com/sethen/markdown-include#how-to-use-from-the-command-line

Then there could be a separate page for each combination, if we decided we wanted to go that route.

[2020-04-01 01:25] BRMcLaren opened #2773 "OpenSSL download URL no longer resolves."
Retrying", "[2020-03-31T20:05:19.2257611+00:00] Start-ExecuteWithRetry attempt 9", "[2020-03-31T20:05:19.3397403+00:00] Start-ExecuteWithRetry RetryMessage: Failed to download https://slproweb.com/download/Win64OpenSSL-1_1_1e.exe.

@CodeMonkeyLeet Should we be using a different version outlined here https://slproweb.com/products/Win32OpenSSL.html ?

I am not sure about downloading a binary and sto

[2020-04-01 06:41] jinghe-INTC opened #2775 "Expected behavior of a running ECall when the enclave is terminated by another thread?"
During the recent test development https://github.com/openenclave/openenclave/pull/2733 , one of the test case cannot work as expected. See the scenario:

1. Create an enclave;
2. Start an ECall in a child thread, which will sleep for a few seconds;
3. After one second, terminate the enclave in another child thread, should succeed;
4. The ECall should fail since the enclave no longer exists, and i

[2020-04-01 08:33] yanxue-intel opened #2776 "Enclave has memory leaks or memory recovery delay"
A memory leak occurs in the enclave when malloc/free random size memory multiple times.

test cases in [https://github.com/openenclave/openenclave/pull/2774](url)
one case is checking for 1K memory to be  malloc/free in enclave 5000000 times.
the other case is checking for random size memory to be malloc/free in enclave 5000000 times.

tests ran on Ubuntu18.04, results as follow :
===Starting mall

[2020-04-01 15:00] anakrish commented on #2776
Thanks for identifying this!

[2020-04-01 15:11] achamayou commented on #2776
@yanxue-intel there's one leak I know of, and have come across in #2649, it's the atexit handlers. I assumed it is deliberate because the code was directly calling oe_sbrk and bypassing the debug allocator. That's been modified to use oe_nodebug_malloc, which is more explicit, but the leak remains.

It's a very small amount of memory however, much less than your test suggests is leaking, but I tho

[2020-04-01 16:41] jhand2 commented on #2775
I'm not sure how we would implement this:

The ethread could be anywhere in execution. Maybe the ecall is almost complete and about to return. Even if we could terminate the execution, even if the ecall reports a failure it may have actually completed what it was supposed to do.

What does the Intel SDK do in these cases?

[2020-04-01 16:54] #2773 closed

[2020-04-01 19:45] dthaler opened #2780 "Change code signer from Microsoft to be vendor-neutral in VS marketplace"
Currently the VS Extension and the VS Code Extension are both signed by Microsoft and hence show up in the marketplace as Publisher:Microsoft as seen on the right side of:
https://marketplace.visualstudio.com/items?itemName=ms-iot.msiot-vscode-openenclave
https://marketplace.visualstudio.com/items?itemName=MS-TCPS.OpenEnclaveSDK-VSIX

Now that this is a CCC project not a Microsoft project, I belie

[2020-04-01 20:37] #2715 closed

[2020-04-02 01:07] jinghe-INTC commented on #2775
There is an error code returned from the enclave:
 SGX_ERROR_ENCLAVE_LOST       = SGX_MK_ERROR(0x0004),      /* Enclave lost after power transition or used in child process created by linux:fork() */
from
https://github.com/intel/linux-sgx/blob/master/common/inc/sgx_error.h

[2020-04-02 02:11] shnwc commented on #2589
In an effort to try to clarify local vs remote attestation, claims vs optional parameters, attester – verifier security model, TEE Agnostic design, etc., I put together a document with [Notes on OE SDK Attestation API and Plugin Library Design](https://github.com/shnwc/openenclave/blob/master/docs/DesignDocs/NotesOnAttestationAPI.md). I'll see if / when it's worthwhile to create an PR to push it u

[2020-04-02 14:30] BRMcLaren opened #2783 "OpenEnclave-libcxx-test Failures"
Libcxx ACC1604 gcc Debug
Libcxx ACC1604 gcc RelWithDebInfo
Libcxx ACC1604 gcc Release

Are repeatedly [failing](https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/OpenEnclave-libcxx-tests/detail/OpenEnclave-libcxx-tests/52/pipeline).

There error in question seems to be

[code]

[2020-04-02 16:25] jhand2 commented on #2783
Why is it using GCC 5? https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/rest/organizations/jenkins/pipelines/OpenEnclave-libcxx-tests/runs/52/nodes/19/steps/128/log/?start=0

[code]

[2020-04-02 16:46] ionutbalutoiu commented on #2783
The default GCC version on Ubuntu 16.04 is `5.4.0`. And we still have CI running with Ubuntu 16.04 testing stages.

Please see my https://github.com/openenclave/openenclave/issues/1516#issuecomment-482602896 about moving from GCC `5.4.0` on Ubuntu 16.04.

As far as I recall, we wanted to test with compilers from default repositories on all the platforms that we support. On Ubuntu 16.04, we have on

[2020-04-02 16:54] jhand2 commented on #2783
Oh ok, I didn't realize the default in Ubuntu 16.04 was still so old. In that case I think we should continue to support the default compilers for all distros we support.

The problem here is just that @mingweishih added some new C++17 tests and GCC 5 doesn't support C++17. Assigning this to @mingweishih to mitigate

[2020-04-02 16:56] mingweishih commented on #2783
Side note to this issue: supporting ubuntu 16.04 should then cause a conflict if we want to use c++17 by default (#2770).

[2020-04-02 17:06] jhand2 commented on #2783
Is there a particular reason we need to support C++17 by default? Or was it just a nice-to-have?

[2020-04-02 17:08] mingweishih commented on #2783
I think it's just nice-to-have.

[2020-04-02 17:10] jhand2 commented on #2770
Just copying discussion from #2783:

Default compiler on Ubuntu 16.04 is GCC 5, which doesn't have support for C++17. That is probably a blocker for making C++17 the default while we support Ubuntu 16.04.

[2020-04-02 22:12] mingweishih opened #2786 "CXX is always TRUE in add_enclave_sgx & add_enclave_optee cmake functions"
`CXX` is an option to the `add_enclave` cmake macro (later forward to  `add_enclave_sgx` and `add_enclave_optee`) that is used to selectively link the enclave against `oelibcxx` library.
However, the current behavior is that `CXX` is always `TRUE` in  `add_enclave_sgx` and `add_enclave_optee` regardless it was specified in `add_enclave`.

 The bug is caused by the incorrect use of cmake argument p

[2020-04-03 05:18] #2783 closed

[2020-04-03 14:53] AevaOnline commented on #2465
For the curious, here is a lovely overview of the how's and why's for Prow and k8s testing -
https://www.youtube.com/watch?v=7-_O41W3FRU

[2020-04-03 17:50] AevaOnline commented on #2222
In addition to using kubernetes as the workload scheduling layer, I also suggest using kubernetes-community-generated tooling (such as Prow) for CI/CD integration with GitHub.

These would both help us get to a consistent mechanism for enabling multiple test infrastructure providers.

[2020-04-03 22:34] shnwc commented on #2729
Since PR #2621 has been merged, here are my comments on the outstanding issues @dthaler listed.

To help clarify my comments, I've created a document with notes on the concepts and assumptions of the OE SDK Attestation API, and posted in my fork as [Notes on OE SDK Attestation API and Plugin Library Design](https://github.com/shnwc/openenclave/blob/master/docs/DesignDocs/NotesOnAttestationAPI.md).

[2020-04-03 23:14] jhand2 opened #2791 "Move SGX-specifc attestation ecalls/ocalls to be a part of the attester plugin framework"
cc @yentsanglee @shnwc

I have been working to refactor some of our internal EDL files and have some thoughts about the ocalls/ecalls in `common/sgx/edl/sgx.edl` (soon to be `common/sgx/edl/attestation.edl` as of #2784).

These are ocalls such as:
[code]

My question is, does it make sense for these to be part of the attester plugin rather than part of the core SDK? Would any other part of the SDK

[2020-04-04 00:53] yufjiang opened #2792 "Optimize collateral memcpy and serialization"
Regarding the PR https://github.com/openenclave/openenclave/pull/2506, Sergio suggested two optimization opportunities.

Quote his words below:
1.  "Would it be possible to just return and use the sgx_ql_qve_collateral_t returned from the DCAP client instead of copying the data into our oe_get_sgx_quote_verification_collateral_args_t structure? This would shave off some time."

2. "When the caller

[2020-04-04 00:55] yufjiang commented on #2792
During triage, feel free to assign this issue to me. Thanks!

[2020-04-06 07:20] yentsanglee commented on #2791
oe_get_qetarget_info_ocall() and oe_get_quote_ocall() are dependences of **non-plugin** API oe_get_report(). For now, keeping them in sgx.edl (soon to be attestation.edl) is a better option.

[2020-04-06 07:29] yentsanglee commented on #2718
No consistent repro but likely a local cert caching permission issue in az-dcap-client due to recent driver privilege update in DCAP QL. Suggestions are to fix in az-dcap-client:
1. Make local cert cache shared by all users.
2. For sgx_ql_get_quote_config() to return success if cert is retrieved but local caching fails.

[2020-04-06 15:35] BRMcLaren opened #2793 "Windows 2019 Integration Bugs and Issues"
This issue is meant for tracking the remaining Windows 2019 bugs and issues regarding integration work.

Transient failures have been noticed while [integrating](https://github.com/openenclave/openenclave/pull/2745) Windows 2019 into our CI systems.

The error message is:

This error has ~10% chance to occur, however, it seems that it can appear in a number of testing configurations

[Win2019 Sim

[2020-04-06 17:51] jhand2 commented on #2791
Would these ocalls be deprecated by https://github.com/openenclave/openenclave/blob/master/docs/DesignDocs/CustomAttestation_V3.md?

[2020-04-06 18:05] radhikaj commented on #2718
@praenubilus  please take a look at the suggestions and let us know if you are unblocked.

[2020-04-06 18:14] yentsanglee commented on #2791
No, they will not be deprecated by CustomAttestation_V3.md. Deep down, SGX verifier plugin and oe_ge_report() share the same code. But oe_get_report() is still a public API that we need to support.

[2020-04-06 18:14] radhikaj commented on #2775
Lets investigate the cause of the segfault. There is a longer term discussion over there. The design we come up with should apply to all TEEs

[2020-04-06 18:15] jazzybluesea commented on #2718
I believe I ran into this issue.  If you list of the files under ~/.az-dcap-client, if you will see a cache file owned by root.  The way I worked around it was to remove cache files.  I believe the cache owned by root was created when I did an upgrade.

[2020-04-06 18:21] jxyang commented on #2718
I just want to understand why the contributor installation flow could update a pre-installed SGX dcap driver but the apt installation flow couldn't.

[2020-04-06 18:25] radhikaj commented on #2780
Some related information: The OE NuGet package is signed using the nuget.org key right now. RedHat packages also need to be signed.

[2020-04-06 18:25] jhand2 commented on #2791
I guess my larger question is in a world where CustomAttestation_v3 is implemented, would oe_get_report still be needed/recommended, or would the new attester function be recommended as a replacement.

In the short term I agree that we should keep these ocalls where they are. I just want to understand the long term state.

[2020-04-06 18:36] radhikaj opened #2795 "Deprecate support for Ubuntu 16.04"
In #2770: we cant turn on compiling the SDK with CXX17 by default since Ubuntu 1604 has gcc5 by default and gcc5 does not support CXX17

[2020-04-06 18:36] radhikaj commented on #2770
Blocked by #2795

[2020-04-06 18:37] jazzybluesea commented on #2283
There are new collaterals for SGX. See #2792.
Given that #2792 only covers code optimization, I will leave this one open to cover the caching of the **new** SGX collaterals.

[2020-04-06 18:53] dthaler commented on #2791
I suspect long term state is probably that oe_get_report is deprecated and replaced with oe_get_evidence.

[2020-04-06 19:02] jhand2 opened #2796 "Guidance for TEE specific naming of functions/types"
There are many functions and types which are TEE specific but do not have names which denote that. For example the internal function `oe_get_td()` and the corresponding `td_t` structure are only used on SGX. Changing the naming to `oe_sgx_get_td()` and `sgx_td_t` would avoid naming conflicts (either at compile time or link time) in case another tee wants to internally introduce similar behavior wi

[2020-04-06 20:02] dthaler commented on #2796
Some thoughts:
* My suggestion would be that all TEE-specific functions, even if internal, have the tee prefix, like oe_sgx_... or oe_optee… etc.   In my view, this makes backtraces, debugging symbols, etc. all be unambiguous and helps prevent later collisions.
* Having unique names might be especially useful for simulation tests that might be able to test multiple TEEs in simulation mode, so avoi

[2020-04-06 21:55] radhikaj commented on #2780
@douglasmaciver This is now assigned to you per your request in triage.

[2020-04-06 22:00] achamayou commented on #2796
+1 for systematic prefixing.

[2020-04-06 22:24] dthaler commented on #2780
Started email thread on oesdk list per Aeva's request in triage: https://lists.confidentialcomputing.io/g/oesdk/topic/change_code_signer_from/72819954?p=,,,20,0,0,0::recentpostdate%2Fsticky,,,20,2,0,72819954

[2020-04-06 22:30] shnwc commented on #2791
I think we should do the internal refactoring sooner rather than later, to isolate SGX-specific plugin code and put them into their own enclave and host libraries. So the OE SDK core does not have dependency on SGX specific libraries (DCAP or quote-ex), nor need to define names like `OE_LINK_SGX_DCAP_QL`.

My implementation for the [integration of SGX quote-ex library](https://github.com/openencla

[2020-04-06 22:44] jhand2 commented on #2791
@shnwc Just to make sure we're on the same page, OE does not support loading shared libraries. So we could (and should) split SGX-specific pieces into a separate .a file, but it will still need to be linked into the enclave binary before signing.

[2020-04-06 22:59] shnwc commented on #2791
@jhand2 yes, SGX-specific plugin components could include an enclave-side .a file, a host-side .a file, and optionally a host-side .so file. The enclave-side .a files will be linked to OE SDK application enclave projects in their build process before signing.

[2020-04-06 23:37] yentsanglee commented on #2791
Replacing oe_get_report with oe_get_evidence is the right direction to go. oe_get_report is widely used so deprecating it has to be planned out.

[2020-04-06 23:50] AevaOnline commented on #2465
Related PR: https://github.com/openenclave/openenclave/pull/2778

[2020-04-07 00:02] shnwc commented on #2791
After refactoring, the legacy oe_get_report() API can still be supported, now as part of the SGX-specific plugin library. This API can be implemented so that If the SGX-specific library is not linked to the application enclave project, it would return OE_UNSUPPORTED.

[2020-04-07 15:39] AevaOnline opened #2797 "Style enforcement and "linting" should be done by software, not human-ware"
Other projects I have participated in prefer to automate the tasks of enforcing style guides, lint checking, and spelling/grammar checking (where appropriate). We seem to have some of that in place today, for example checking the formatting of .md files and the presence of license headers in code files, but many code reviewers still perform lint checking via github comments / suggestions.

I'd lik

[2020-04-07 16:27] jhand2 commented on #2797
For coding style we use clang-format. This is enforced by a commit hook as well as in CI.

We have also done some work with scan-build (an llvm-based static analyzer to catch bugs such as use-after-free, memory leaks, etc). We have fixed a lot of bugs by devs running it locally but there is still work to be done to get it running in CI.

[2020-04-07 17:25] BRMcLaren opened #2798 "Merge Enforcement Alternatives"
I would like to begin the discussion to move away from Bors and explore alternatives. Bors has been great for the OpenEnclave project but there are some limitations that we would like to find solutions to, primarily scalability.

Please discuss in this thread, recommending alternatives and any pros/cons that are known and we can look into them and come up with a proposal. Ease of use, scalability,

[2020-04-07 17:54] mingweishih commented on #2798
One suggestion from @AevaOnline was [prow](https://github.com/kubernetes/test-infra/tree/master/prow). But I think we need more information such as the comparison against bors.

[2020-04-07 18:24] AevaOnline commented on #2465
Related issue to discuss implementations that would support this goal: https://github.com/openenclave/openenclave/issues/2798

[2020-04-07 19:36] fchinchilla opened #2800 "Parametrize WORKER_SPIN_COUNT_THRESHOLD for switchless calls"
Hi.

Is it possible to add a "max spin count" threshold parameter to the "worker context" structs in:
https://github.com/openenclave/openenclave/blob/master/include/openenclave/internal/switchless.h (or somewhere else if more appropriate)

So that instead of waiting to reach a #define'ed WORKER_SPIN_COUNT_THRESHOLD in
https://github.com/openenclave/openenclave/blob/master/host/sgx/switchless.c

th

[2020-04-07 19:39] BRMcLaren commented on #2798
@mingweishih Thanks for bringing this up! Edited the top level to include a list of current and potential alternatives.

I agree that a comparison would be helpful, maybe in the sense of a matrix to understand the relative tooling weak points and strengths.

[2020-04-07 19:42] douglasmaciver commented on #2798
As we begin comparative analysis, it would helpful if someone could list the requirements. Also, an enumeration of Bors deficiencies would help. Neither of these lists need be fancy or exhaustive.

[2020-04-07 20:05] BRMcLaren commented on #2798
@douglasmaciver , a great point. How about starting with an "Ideal Requirements list", and then we can some comparison at how these tools stack up against each other?

[2020-04-07 20:24] paulcallen commented on #2798
Few suggestions of requirements
* manage who can sign off pull requests
* manage who can kick off automation or which automation on pull request
* Support multiple pipelines across different companies
* Maybe multi-phase testing where some pipelines are only kicked off if others pass first
* manage how many sign-off on request is required

[2020-04-07 21:05] jhand2 opened #2802 "snmalloc depends on symbols in libcxx"
cc @achamayou

When I compile OE with -DUSE_SNMALLOC=ON with clang-9, snmalloc appears to depend on `__cxa_guard_acquire` and `__cxa_guard_release` from libcxx. This leads to linker errors for enclaves which are not linked with libcxx. I am currently unable to test this with a different compiler to see if this issue is compiler-specific.

Has anyone else seen this/can anyone repro with a different

[2020-04-07 21:24] jhand2 commented on #2802
Confirmed also happens with gcc 9

[2020-04-07 21:34] jhand2 opened #2803 "Mark attestation plugin APIs as experimental"
Based on discussion from the SIG Architecture meeting on 4/7:

Prior to the v0.9 release, the following attestation plugin APIs should be marked as experimental. They have always been intended to be experimental, but the experimental API tag did not exist when they were created. These APIs will be subject to change for the v0.10 release.

* `oe_register_attester()`
* `oe_register_verifier()`
* `oe

[2020-04-07 21:35] jhand2 commented on #2803
@shnwc @yentsanglee let me know if I left anything out. These are just all the APIs from `include/openenclave/attestation/plugin.h`

[2020-04-07 21:50] jhand2 commented on #2585
Last pieces implemented by https://github.com/openenclave/openenclave/pull/2784

[2020-04-07 21:50] #2585 closed

[2020-04-07 22:36] AevaOnline commented on #2797
@jhand2 oh! gotcha. thanks for the information. The topic came up in a recent discussion about reviewer velocity, so I incorrectly assumed it wasn't present. I'll update the title and description of this issue to reflect this.

After grep'ing for the `clang-format` command, I did find it mentioned in the dev docs :)
https://github.com/openenclave/openenclave/blob/master/docs/DevelopmentGuide.md#au

[2020-04-07 22:40] BRMcLaren opened #2805 "Jenkins GitHub multi-status checks"
I want to preface this by giving credit to the writer @ionutbalutoiu, also that overall it would be good if we can frame a discussion around the _process_ , validation, etc as opposed to specific tooling. For tooling suggestions, please keep the discussion centered [here](https://github.com/openenclave/openenclave/issues/2798 )

**Overview**
![image](https://user-images.githubusercontent.com/54328

[2020-04-07 22:43] dthaler commented on #2797
maybe a spellchecker that would run on publically visible text like doxygen comments used to generate the http://openenclave.io/apidocs/v0.8/index.html site?

[2020-04-07 23:22] jhand2 commented on #2802
Additional context @anakrish pointed me to a comment on the original snmalloc PR from @mjp41

[2020-04-07 23:43] radhikaj commented on #2543
Everything is pretty well documented now.

[2020-04-07 23:49] #2543 closed

[2020-04-07 23:54] anakrish commented on #2802
@jhand2 Thanks for creating this. Fixing this will allow us to consider using `snmalloc` as potential default allocator.

It might make sense to create an issue in the snmalloc repo:
https://github.com/microsoft/snmalloc
I created couple of issues there and they got addressed pretty quickly.

[2020-04-08 00:01] jhand2 commented on #2802
Ok I can open an issue on the snmalloc repo. I do want to understand what exactly is causing the usage. First, I can't find anything in C++ called `thread_static`. Does this mean `static thread_local` instead?

[2020-04-08 00:13] anakrish commented on #2802
I think these are the culprits:
https://github.com/microsoft/snmalloc/blob/74657d9dbc776a54f78b77896a9955ebce5c8076/src/ds/helpers.h#L24-L26

The compiler is required to make the construction of these static variables thread-safe.
[code]

[2020-04-08 00:14] anakrish commented on #2802
@jhand2 `thread_static` must have been a typo.

Yes, thread-local variables won't generate _cxa_guards.

[2020-04-08 01:45] AevaOnline commented on #2798
@BRMcLaren , thanks for kicking off this discussion!

I'd like to upvote all the items Paul mentioned above, and add a few suggestions coming out of the governance discussions:
* ability to delegate "approver" and "reviewer" permissions separately
* ability to control permissions on a per-directory basis

Coming from our goal to enable plugins in the project codebase:
* CI plugin extensibility for

[2020-04-08 01:48] qiucwang opened #2807 "_read_tcb_info not handle "]" properly"
In [sgx/tcbinfo.c](https://github.com/openenclave/openenclave/blob/master/common/sgx/tcbinfo.c), the function `oe_parse_tcb_info_json` calls `_read_tcb_info` to read json tcbinfo. `_read_tcb_info` will:
1. parse the tcbinfo parameters before the `tcbLevels`
2. call `_read_tcb_info_tcb_level_v2` to read tcbs in a while loop until find the best match tcb in `tcbLevels` and load it to `platform_tcb_l

[2020-04-08 02:05] yufjiang opened #2808 "Duplicate info in sgx endorsements data structure"
In current design of oe_sgx_endorsements_fields (shown below, also can be found in https://github.com/openenclave/openenclave/tree/master/docs/DesignDocs), the field OE_SGX_ENDORSEMENT_FIELD_CRL_ISSUER_CHAIN_PCK_PROC_CA is not necessary and is not being used.

The OE_SGX_ENDORSEMENT_FIELD_CRL_ISSUER_CHAIN_PCK_CERT already contains the info in OE_SGX_ENDORSEMENT_FIELD_CRL_ISSUER_CHAIN_PCK_PROC_CA

[2020-04-08 06:18] mjp41 commented on #2802
I don't believe you should see `_cxa_guard` with the way `snmalloc` is configured to build inside OE. The only static with a non-trivial destructor shouldn't be compiled on OE.

Could you let me know where in the disassembly the _cxa_guards appear?  Is this a Debug or Release build?  I think there is a .o file for the allocator that gets linked in.  Could send me that?

Thread static is a typo.  W

[2020-04-08 06:39] mjp41 commented on #2802
@achamayou can you remember what the .o file is called.

Is this on a Linux SGX build, or another platform?

[2020-04-08 06:51] achamayou commented on #2802
@mjp oeallocator

[2020-04-08 06:55] achamayou commented on #2802
@jhand2 I haven’t seen that with clang-8 and the Open Enclave test cases, which I don’t believe link libc++. I can look at this a bit later today, it’s definitely not expected.

[2020-04-08 15:49] achamayou commented on #2802
I was wrong, I'd been using clang-7, the compiler selection logic is different in openenclave:

[code]

With clang-8:

[code]

[2020-04-08 15:56] achamayou commented on #2802
[code]

@jhand2 how do you hit those errors? I'm on Ubuntu 18.04, building OE master 5193551120051c63091a2331ac04ab276947a173

[2020-04-08 15:59] jhand2 commented on #2802
The message you pasted is just a warning and is expected. We print it because we don't have any CI to test clang > 7. I don't see any actual failures. in this snippet.

[2020-04-08 16:50] shruti25ratnam opened #2812 "Linux_vscode.md documentation needs an update in the SourceFileMap section"
We may have to modify the SourceFileMap, depending on the OE version installed (to enable debugger to step through the OE SDK source code). Seems like the build directory is referenced differently in different Open Enclave versions.

For instance in v0.8.2 I mapped, "/source":"/home/username/path2code/openenclave/".

One way to figure out the build directory for our version of OE SDK: is by runnin

[2020-04-08 17:27] achamayou commented on #2802
@jhand2 sure, I just included it along with the identification lines to make it clear the runs are with 8 and 9 :)

I also don't see any failures, which is my point, so that's why I was asking how you got those linking errors. Is it a Windows build? A different branch?

[2020-04-08 19:09] jhand2 opened #2813 "Document/propose deprecation process for public APIs pre-v1.0"
There is currently an accepted process for deprecating public APIs but the mechanism is not well documented. Write up a document on how to properly deprecate/replace a public API in OE.

This issue/documentation will not apply after the OE v1.0 release.

[2020-04-08 19:39] yufjiang commented on #2283
I just did some profiling in my vm node against the issue discussed here.
oe_create_sgx_endorsements: 8.5 microseconds
oe_get_sgx_endorsements(): 973,200 microseconds. oe_get_sgx_endorsements is a host side API.
oe_get_sgx_quote_verification_collateral(): 1,810,167 microseconds. oe_get_sgx_quote_verification_collateral is an in-enclave API. It makes ocall to oe_get_sgx_endorsements(). So its runni

[2020-04-08 23:16] jhand2 opened #2817 "Symbols for some syscall ocalls are linked even though these ocalls are unreachable"
In the test for non-builtin ecalls/ocalls introduced in #2816, I discovered that references to many syscall ocalls are linked into the enclave binary even though they are not called by the enclave code and the enclave is linked with `--gc-sections`

Need to investigate why this is and untangle the dependencies.

TODO: detail which ocalls (they appear to be related to consolefs)

[2020-04-08 23:18] jhand2 opened #2818 "A few ocalls used by oecore cannot be opted out of"
In particular, the following edl files have ocalls which are always linked into oecore and cannot be opted out of:

* sgx/attestation.edl
* sgx/cpu.edl
* sgx/debug.edl
* sgx/switchless.edl
* logging.edl

[2020-04-08 23:28] jhand2 commented on #2802
@achamayou I'll get back to you when I have a little more time to look into this. My main concern was to make sure we didn't do anything that blocks people from using snmalloc who want to use it.

If none of you are blocked I can address this with a little less urgency (but I'll still try to figure out what's going on :smile:)

[2020-04-09 00:29] BRMcLaren opened #2819 "CI/CD Bug Tracking"
This issue is to serve as a centralized location to track bugs across CI systems as we onboard new companies and pipelines. This is not limited to new bugs and any issues that have been seen, please post down below and they will be addressed as necessary.

[2020-04-09 01:05] anakrish commented on #2802
@achamayou With latest openenclave master (actually my fork which is up to date with upstream),
I can trigger the issue if using  ggc-8.

[code]

[2020-04-09 01:10] anakrish commented on #2802
One interesting in the above log is that `snmalloc` seems to be compiled with system headers and not the C++ headers provided by oe. Is that expected?

[2020-04-09 01:11] anakrish commented on #2802
@jhand2 @mingweishih
The log says `[100%] Linking CXX executable echo_enc` which is quite confusing since echo_enc does not need C++. Can you please take a look since it was changed recently.

[2020-04-09 01:38] #2786 closed

[2020-04-09 06:14] yufjiang commented on #2283
Did a bit more profiling against oe_verify_report() running in enclave and involving remote collateral fetching.

oe_verify_report(): 2,010,000 microseconds (around 2 seconds).

Combining the data break down mentioned in the comment above, we can see the running time of oe_verify_report() == network communication to Azure PCK caching service (roughly 1s) + ocall context switching (roughly 0.85s) +

[2020-04-09 15:50] #2807 closed

[2020-04-09 18:18] anakrish commented on #2800
Great suggestion @fchinchilla.
CC: @radhikaj

[2020-04-09 19:09] AevaOnline commented on #2797
In other projects I've participated in, rather than requesting contributors to run a command to auto-format their code, the CI system ran a gating check to see if the code matched, and reported the results. (The same test was always available locally, ofc).

One thing I noticed when running clang-format is that it took a lot more time to run than cpp-lint.... I wonder if a change in tooling (not n

[2020-04-09 19:24] mingweishih opened #2822 "Build oeedger8r failed on Windows 10"
**What happened**:
Build failed with the following log.

[code]

**What you expected to happen**:

Build succeed

**Steps to reproduce**:

1. Install the project prerequisites based on [WindowsSGX1GettingStarted](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsSGX1GettingStarted.md)
2. Build with cmake
[code]

**Other information**:

This issue is

[2020-04-09 20:11] jhand2 commented on #2797
Was the slowness you noticed using clang-format directly or the format-code script? I believe the latter is pretty inefficient and could be optimized in a number of places.

When using clang-format directly I find that it's pretty fast.

[2020-04-09 20:26] #2075 closed

[2020-04-09 21:03] dthaler commented on #1770
@anakrish what is the current status of updating the docs?

For example PR #2600 description says docs were deferred to a separate PR, and I see building_oe_sdk.md still says "On Windows, Open Enclave SDK does not support simulation mode."

[2020-04-09 23:53] jhand2 commented on #2817
This is likely due to the way the oesyscall library is written. A single large function references many syscalls. So even though the sdk is compiled with -ffunction-sections, these individual functions are all referenced in a single large switch case.

[2020-04-10 01:04] radhikaj opened #2828 "Ubuntu OE SDK 0.8.2 remote_attestation and attested_tls samples fail with latest Intel SGX SW Updates"
This issue happens on both Ubuntu 1604 and Ubuntu 1804.

When OE SDK 0.8.2 or earlier is installed along side Intel SGX Linux 2.9.1 and Intel DCAP 1.6.100.2, the remote_attestation sample and the attested_tls sample segfault.
This happens only if you are using package config.

To work around the problem if you are using the SDK, in the openenclave SDK install path, under share/pkgconfig, change th

[2020-04-10 01:21] radhikaj opened #2829 "Building the remote_attestation/attested_tls sample with make followed by cmake causes it to fail."
make leaves artifacts which cause cmake runs to fail. The cmake run picks up keys from the make run. The sample needs to be fixed.

[2020-04-10 08:28] mjp41 commented on #2802
I duplicated the issue looking at some non-OE code using gcc-8.  I believe the PR on snmalloc [#167](https://github.com/microsoft/snmalloc/pull/167) should fix this, but if someone could test as I don't have the full OE setup working.

[2020-04-10 09:33] achamayou commented on #2802
No luck reproducing with any of the clangs, but gcc-8 does it. @mjp trying your patch now.

[2020-04-10 15:10] #2819 closed

[2020-04-10 17:08] radhikaj commented on #2829
@qiucwang Please try to fix this for v0.9.

[2020-04-10 17:41] jhand2 opened #2833 "Allow simple preprocessor directives in EDL"
I mostly want to gauge if people think this is a good idea or not. Feel give reasons we shouldn't do this.

We could allow simple C preprocessor directives in EDL. In particular, I'm thinking `#ifdef` and `#ifndef`. This would also mean adding an option (such as `--define`) to oeedger8r. I mostly think this is useful for features which are only used on a single TEE. For example:

[code]

This is n

[2020-04-10 17:49] anakrish opened #2834 "Debugging/Packaging/Reproducible Builds: Compiler options"
Investigate the applicability of the following compiler options:

- **-fdebug-prefix-map=old=new**

    When compiling files residing in directory old, record debugging information describing them as if the files resided in directory new instead. This can be used to replace a build-time path with an install-time path in the debug info. It can also be used to change an absolute path to a relative p

[2020-04-10 17:59] anakrish opened #2835 "Use native ocaml compiler instead of esy where available"
It a platform already has a version of ocaml that is sufficient to compile edger8r, use that instead of building ocaml from source via esy.
Currently
- esy does not seem to build out of the box on RHEL
- The default version of ocaml for ubuntu 18.04 and 16.04 is enough to compile edger8r
- esy requires administrator prompt on windows to create symlinks

[2020-04-10 18:04] anakrish commented on #1770
@radhikaj Do we want to claim simulation mode support on Windows? Though it has parity with Linux simulation mode and debuggers work too, I am a bit hesitant because currently you can build/run OE in simulation mode on Windows only on SGX machines; whereas you can build, run OE in simulation mode on non-sgx machines.

What do you think?

[2020-04-10 19:19] dthaler commented on #2833
I would love to see this, it was painful to use EDLs when we first started because of this lack of capability.

[2020-04-10 19:23] dthaler commented on #1770
Then I think we should claim simulation mode support on SGX machines, but not on non-SGX machines.   (I would like it to work on non-SGX machines too, but this issue is docing what is supported.)

[2020-04-10 19:48] jhand2 opened #2838 "Samples seem to be taking a long time to run"
On #2820 the samples took too long on a couple stages and timed out: https://oe-jenkins-dev.westeurope.cloudapp.azure.com/job/Bors/job/staging/243/display/redirect

Anecdotally I have noticed that the samples take a very long time to run when I am doing local testing.

We should look into this and see if there is a way we can (a) reduce the take they take or (b) run them individually as different

[2020-04-10 20:32] mingweishih commented on #2838
On Linux, what the test currently does is
- Build each sample with cmake and run
- Build each sample with make and run

On Windows, only using cmake as make is not supported.

[2020-04-10 20:42] jhand2 commented on #2838
On windows it uses cmake/ninja. But I don't know if the build is what's taking a long time or if it's a particular sample.

[2020-04-10 20:43] jhand2 commented on #2838
Samples timed out again on the same PR: https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/staging/244/pipeline

Based on the content of the PR I this the issue is separate from the PR

[2020-04-10 21:03] maverick-zhn commented on #1783
I got the same error on Ubuntu 18.04 desktop machine that does not support FLC. I followed @ivan-homoliak-sutd which seems to work nicely.
Thank you.

[2020-04-11 00:16] CodeMonkeyLeet commented on #2796
Yes, I think this is a good idea to standardize the naming convention around OE functions that are specific to a given TEE implementation.

Yes. As a general design point, it is desirable that architecture compatible binaries (e.g. x86-64, ARM) that could span different TEE implementations can build the applications once, and instantiate the appropriate TEE at runtime instead of requiring separate

[2020-04-11 00:49] CodeMonkeyLeet commented on #2793
There are 2 different failure symptoms in the linked logs:

- On Release builds ([Win2019 Sim Release Cross Compile LVI](https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/trying/188/pipeline/44), [Win2019 Sim Release Cross Compile](https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/Sandbox/detail/Sandbox/1/pipeline/117)), any U

[2020-04-11 08:35] achamayou commented on #1770
The main (only?) thing that prevents simulation mode from working effectively on non-SGX kit is the fact that oesign creates an enclave.

That makes signing easier but there doesn’t seem to be any fundamental reason why it couldn’t be done outside an enclave (presumably it’s a matter of knowing exactly what the memory layout is and how to produce the digest). If that restriction was lifted, then s

[2020-04-11 23:16] dthaler commented on #1770
https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk-Simulation.md does say that simulation mode will work (without attestation, etc.) on non-SGX machines but only on Linux, although it's not clear why Linux vs Windows would make a difference.

[2020-04-11 23:37] anakrish commented on #1770
That was my understanding too. That simulation mode will work on non-SGX machines on Linux.

I don't think that is accurate anymore. This is what ldd reveals when the SDK has been built with HAS_QUOTE_PROVIDER=off (which means no attestation support):

[code]

We seem to have a hard dependency on SGX library (libsgx_enclave_common.so). So right now, I think simulation mode will work only on SGX ma

[2020-04-11 23:41] anakrish commented on #1770
Ok. Confirmed that we are consistent on both Windows and Linux in terms of hard dependency on sgx libraries.

https://github.com/openenclave/openenclave/blob/6bed4b5e0927746ca2e9f0c0c8b154e5dd66a204/host/CMakeLists.txt#L428-L440

[2020-04-11 23:43] maverick-zhn commented on #2401
Hello

I have the same error with a platform that supports FLC. I have a **Ubuntu Server 18.04.4**.
[code]

When running the simplest test:
[code]
[code]

## service status
[code]
When I run `apt list --installed | grep sgx`

[code]

@jhand2  Should I reinstall the SGX Driver and SDK?

Thank you in advance.

[2020-04-11 23:44] anakrish commented on #1770
Going by git history, unless I'm mistaken, this hard dependency seems to have been introduced during Oct, 2019: https://github.com/openenclave/openenclave/commit/7e1072825796e112efd5bfe38db3f20d8390cd82

[2020-04-11 23:47] anakrish commented on #1770
This is accurate and what we need to change the doc to.

[2020-04-11 23:51] maverick-zhn commented on #1783
I do have some issues on Ubuntu 18.04 Server **_with_** FLC support. https://github.com/openenclave/openenclave/issues/2401#issuecomment-612536706

[2020-04-13 04:08] radhikaj commented on #2813
@jhand2, this appears to be related to #2567

[2020-04-13 15:41] jhand2 commented on #2401
Can you get me the output of `dmesg | grep -i sgx`? I'm interested in the driver version you have installed. Also what version of OE?

Newer versions of the SGX driver require source addresses of memory being loaded into the enclave to be page-aligned which we only added about a month ago: https://github.com/openenclave/openenclave/pull/2566

[2020-04-13 15:46] jhand2 commented on #2813
Closing as dup of #2567

[2020-04-13 15:46] #2813 closed

[2020-04-13 15:48] jhand2 commented on #1770
You can install libsgx_enclave_common on non-SGX machines. I use it all the time on an non-SGX linux machine. I can't speak to Windows but I know it works as expected on Linux.

[2020-04-13 16:59] anakrish commented on #1770
@jhand2 How thoroughly has your approach been tested? If it is robust, can you go ahead and update the docs to include your solution?

[2020-04-13 17:06] jhand2 commented on #1770
I've been using it since November. I can try to get to it after my other PRs for 0.9 get merged.

[2020-04-13 17:11] dthaler commented on #2838
I was just going to file an issue and found this one already filed, thanks!

Same problem hit by PR #2830.   I'd recommend that the samples test gets split into one test per sample, not one that tries to cover all possible samples.  I expect the number of samples to keep growing, and it's far more scalable to have the number of tests grow than it is to have the size of a test keep growing.

In the

[2020-04-13 17:14] jhand2 commented on #2838
It looks like the sample timeout issue may have been due to some network issue. This morning all CI builds are passing again. So at least for now I don't think we need to increase the timeout as long as CI keeps chugging along.

But I still agree one test per sample is the right thing to do so leaving this issue open.

[2020-04-13 17:28] achamayou commented on #1770
@jhand2 are you able to run oesign on non-SGX kit under Linux?

[2020-04-13 17:33] CodeMonkeyLeet opened #2840 "Document instructions for manually installing Intel SGX drivers on WS2019"
Given the new support for WS2019 planned for the upcoming v0.9 release, should we also document instructions for contributors/SDK users to manually install/upgrade the Intel SGX drivers on WS2019?

The question came up in the context of users who explicitly do not enable Windows Update on their VMs, and whether there was an alternative for them to get started on a clean WS2019 VM image or upgrade

[2020-04-13 18:19] achamayou commented on #2802
@jhand2 I believe this is fixed by #2831, can you confirm on your side?

Separately from that, there is a problem with snmalloc using the wrong set of libc and libcxx headers when building: https://github.com/openenclave/openenclave/pull/2831#issuecomment-612444414

That does not cause a build break at the moment, but it's still something I'm going to look at fixing shortly.

[2020-04-13 18:20] jhand2 commented on #2828
Fixed in master

[2020-04-13 18:20] #2828 closed

[2020-04-13 18:22] jhand2 commented on #2822
Would be fixed if #2835 is implemented

[2020-04-13 18:26] MWShan commented on #2840
Intel provides information on how to configure WS2016 and WS2019 in this document: [https://download.01.org/intel-sgx/latest/dcap-latest/windows/docs/Intel_SGX_DCAP_Windows_SW_Installation_Guide.pdf](url)

[2020-04-13 18:28] maverick-zhn commented on #2401
@jhand2 this is the requested output `dmesg | grep -i sgx`:
[code]
OE version is: `v0.8.2` (taken from the VERSION file in the root directory.)

Thank you.

[2020-04-13 18:31] jhand2 commented on #2805
@AevaOnline Could you take a look at this and give any opinions you have on this proposal?

Maybe we should talk about this in SIG-testing meeting this week.

[2020-04-13 18:37] jhand2 commented on #2803
These APIs should be marked as experimental in doxygen but do not need to be guarded by an ifdef.

This is because they were already shipping as public APIs for v0.8

[2020-04-13 18:39] jhand2 commented on #2802
I will test #2831 today or tomorrow

[2020-04-13 18:42] jhand2 commented on #2798
Suggestion to add a project board for testing issues if SIG-Testing would like to use that.

[2020-04-13 18:47] jhand2 commented on #2796
Should prioritize internal naming first since they won't break the public API surface

[2020-04-13 18:49] jhand2 commented on #2718
Closing this issue. Please reopen if you have a repro

[2020-04-13 18:49] #2718 closed

[2020-04-13 19:21] gupta-ak opened #2842 "Issue installing OE SDK on WS2016"
In this [document](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsManualSGX1FLCDCAPPrereqs.md), the link to ["Intel Data Center Attestation Primitives (DCAP) Libraries v1.5](http://registrationcenter-download.intel.com/akdlm/irc_nas/16474/Intel%20SGX%20DCAP%20for%20Windows%20v1.5.100.2.exe) doesn't work for me. I'm getting a 404/blank screen when

[2020-04-13 21:32] jhand2 commented on #2842
For the Windows releases whenever a new package is released the link for the old package becomes invalid. So the fix here is to update the documentation with the new v1.6 link.

We are working with intel for a more permanent solution to avoid invalidation links to older packages.

[2020-04-13 21:37] jhand2 commented on #2842
@larrywxyz's PR https://github.com/openenclave/openenclave/pull/2832 updates this link so assigning to him

[2020-04-13 21:43] jhand2 commented on #2401
@maverick-zhn ya so #2566 wasn't merged until after v0.8 was released (DCAP driver v1.32 was also released after OE v0.8).

Would you be able to build the SDK from source instead of using the APT package and let me know if that solves the problem?

Otherwise, we have a v0.9 release planned for April 20th which will contain this patch.

[2020-04-13 21:45] radhikaj commented on #2835
@andschwa  Can you please comment on what the problems were which led you to adopt esy.

[2020-04-13 21:45] jhand2 commented on #2797
clang-format also does not run on CMakeLists.txt files. For this reason, there is not consistent style in our build files.

[2020-04-13 22:32] jhand2 opened #2844 "Switch to using .conf files in favor of OE_SET_ENCLAVE_* macros"
`OE_SET_ENCLAVE_OPTEE` and `OE_SET_ENCLAVE_SGX` leak TEE-specific details into the code of an enclave application. In order to better abstract these details, we should consider deprecating these macros in favor of using .conf files passed at linking/signing time.

Note currently our add_enclave cmake macro does not support passing .conf files for configuring OP-TEE enclaves. We would need to enabl

[2020-04-13 22:37] dthaler commented on #1041
I believe this is all done now, please reopen if not

[2020-04-13 22:37] #1041 closed

[2020-04-13 22:43] jhand2 commented on #1770
I am. Also it appears when building with -DHAS_QUOTE_PROVIDER=OFF oesign has no libsgx dependencies:

[code]

[2020-04-13 22:44] dthaler commented on #2844
This is related to issue #2714 which is a doc issue about the current state,
and to issue #2041 which is about the oesign (which uses .conf) support.

[2020-04-13 22:46] jhand2 commented on #1770
Note that I run a fedora machine so none of the Intel PSW is installed via packages. I just built it from source. I could probably scrounge up a non-SGX ubuntu machine and see if the SGX packages still install as expected or if you would have to build the PSW from source there as well.

[2020-04-13 22:56] maverick-zhn commented on #2401
@jhand2, I will do my best to build the SDK from source. I will use [this](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/LinuxInstallInfo.md#basic-install-on-linux) doc. Please let me know if you recommend another documentation.

Thank you.

[2020-04-13 23:02] jhand2 commented on #2401
@maverick-zhn this doc would be better https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/SGX1FLCGettingStarted.md

Let me know if you get stuck anywhere, I'm happy to help :smile:

[2020-04-13 23:11] jhand2 commented on #2676
Counting this as done when #2816 is merged. Additional enhancements will be tracked in other issues

[2020-04-13 23:14] radhikaj commented on #2798
I have  created https://github.com/openenclave/openenclave/projects/15

[2020-04-14 01:00] dthaler opened #2847 "List of supported APIs is missing socket APIs"
https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/APIs_and_Libs.md has pointers to the docs that list supported APIs, but socket APIs are not on any of the pages.

[2020-04-14 01:54] #2669 closed

[2020-04-14 03:19] #2793 closed

[2020-04-14 03:23] #2822 closed

[2020-04-14 05:32] #2803 closed

[2020-04-14 05:42] scofinan opened #2849 "helloworld build error in open-enclave.0.8.2.nupkg"
Test environment:
HW: SKL
SW: Windows Server 2016

How to reproduce:
1. Followed this wiki to install prerequisites:
https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk-Windows.md
SGX PSW: Intel(R)_SGX_Windows_x64_PSW_2.7.100.2.exe
SGX SDK: open-enclave.0.8.2.nupkg
oe is installed in C:\openenclave
2. Followed this wiki to build oe sdk sample helloworld:
h

[2020-04-14 06:49] jinghe-INTC opened #2850 "Need to update URLs for Intel Linux drivers in the setup scripts"
Since Intel has released new SGX and DCAP drivers for Linux, it needs to update the URLs of Intel drivers in the Ansible scripts:
openenclave/scripts/ansible/roles/linux/intel/vars/ubuntu/xenial.yml
openenclave/scripts/ansible/roles/linux/intel/vars/ubuntu/bionic.yml
Otherwise there will be execution problems with the latest Intel DCAP/SGX packages installed by APT.

The latest drivers from Intel

[2020-04-14 07:02] achamayou commented on #2797
@jhand2 we use https://github.com/cheshirekow/cmake_format in CCF, it’s quite good. I think the main improvement the format script could receive is to process files concurrently rather than sequentially.

[2020-04-14 08:35] achamayou commented on #1770
I'm surprised because oesign calls oe_sgx_build_enclave, and that issues an ECREATE it seems: https://github.com/openenclave/openenclave/blob/b531f129c12c5bccd61da9bb797bd897397f7971/host/sgx/create.c#L655

Perhaps it no longer does, I'll try it on a non-sgx machine.

[2020-04-14 08:59] davidchisnall commented on #2023
@anakrish, the committed design document appears to bake in the SGX1 memory model, i.e. it assumes that all memory is in a fixed range and is always available.  This is not appropriate to EDMM (where, for most efficient use, pages may be explicitly given up) and doesn't even play nicely with a cooperative swapping model on SGX1 where the enclave could use an interface to suggest pages that should

[2020-04-14 16:00] maverick-zhn commented on #2401
@jhand2 seems to be working after building the SDK from source.

[code]
Is it recommended to install the **APT** package after `v0.9` release?

Thank you for your help.

[2020-04-14 16:04] jhand2 commented on #2401
Yes, the v0.9 package will contain this fix. Thanks!

[2020-04-14 16:04] #2401 closed

[2020-04-14 16:16] jhand2 commented on #1770
@achamayou oesign links against oehostmr (rather than oehost). oehostmr ifdef's out all the calls to libsgx functions and just does measurement manually.

For example, enclave_create call is note compiled into oesign:

https://github.com/openenclave/openenclave/blob/991d6d39e18519133b441be99ea28a7dd245e6d9/host/sgx/sgxload.c#L452-L479

[2020-04-14 16:19] jhand2 commented on #2850
While I agree that we should update, I have seen no problems with the 2.9/1.6 Intel packages and the v1.22 dcap driver.

What problems do you expect to see?

[2020-04-14 19:05] anakrish commented on #2023
@davidchisnall Thanks for writing up your thoughts and proposal.

Yes, the current proposal focuses mainly on SGX1; additionally the enclave address-space is expected to be continuous. This is scenario is what Open Enclave currently supports.

When we support SGX V2, memory management would be a key feature to tackle since the enclave memory can grow, as well as shrink and be non contiguous.

It w

[2020-04-14 19:07] dthaler opened #2852 "pre-commit hook causes problems on Windows"
CMakeLists.txt currently installs the pre-commit hook if (NOT WIN32), and if installed anyway on Windows, it causes problems because check-license fails, preventing any commit from succeeding:
[code]
That's because check-license assumes that `git rev-parse --show-toplevel' will report a prefix of 'realfile $f`, whereas on Windows the former is a windows style path like C:/git/dthaler/openenclave w

[2020-04-14 20:59] BRMcLaren opened #2856 "LibCXX failures"
Failures are being witnessed in the LibCXX testing, as seen [here](https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/OpenEnclave-libcxx-tests/detail/OpenEnclave-libcxx-tests/65/pipeline)

[code]

I do not believe this to be an issue with the infrastructure as it is reproducible and nothing has changed in the last two days. Can someone look into this?

[2020-04-14 21:01] anakrish opened #2857 "SGX:Windows: clangw needs to handle -ms-compatibility arguments correctly"
`clangw` (a wrapper over clang) is used to cross compile enclaves on Windows to Linux ELF binaries.
Its purpose is to convert MSVC flags to GCC ones, to ignore flags that have no mapping, and to pass in the `-target x86_64-pc-linux` flag to request cross-compilation.

Flags related to [MSVC compatibility](https://clang.llvm.org/docs/MSVCCompatibility.html), override the cross-compilation flag, and

[2020-04-14 21:07] jhand2 commented on #2856
Reproducible where? Just the nightly libcxx pipeline?

[2020-04-14 21:19] AevaOnline commented on #2805
This UX looks like a great improvement, and it raises a couple questions to discuss further in the ways it differs from what I've seen elsewhere:

1. the example of an "add to whitelist" (*) command raises the question, how is the access control list (ACL) managed in a transparent, discoverable, and auditable way? These three qualities are important for building community trust in a distributed op

[2020-04-14 21:27] #2829 closed

[2020-04-14 22:18] BRMcLaren commented on #2856
Just the Nightly LibCXX pipeline, that is correct.

[2020-04-14 22:37] radhikaj opened #2858 "On Windows errno is not set as expected. This is exposed by a new test added in PR #2746"
Please see https://github.com/openenclave/openenclave/pull/2746.

OE enclave does not set errno for strtol on windows.  We would expect  strtol to set errno inside enclaves.

[2020-04-14 22:53] anakrish commented on #2858
Closing this since changing `long` to `int64_t` has fixed Windows failures.

[2020-04-14 22:53] #2858 closed

[2020-04-14 23:00] jhand2 commented on #2856
Copying from chat for context:

I think I know what's going on. make install does a normal make . This will run through all the build targets just to make sure they're all built and will print out a line to the console saying it's done. This happens on every build and normally it's fine.

Well the problem is that there are so many libcxx tests and each of them has their own target. So even though

[2020-04-14 23:23] anakrish opened #2859 "Testing: Sporadic crypto test failure"
We have seen sporadic failure of this form in different PRs
https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/trying/242/pipeline/52

[code]

[2020-04-14 23:30] radhikaj commented on #2858
Thanks much @anakrish

[2020-04-14 23:40] anakrish commented on #2849
@scofinan Can you make sure if you are using x64 Native Prompt?

The error log shows that the x86 compiler is being picked up
`Check for working CXX compiler: C:/Program Files (x86)/Microsoft Visual Studio/2019/BuildTools/VC/Tools/MSVC/14.25.28610/bin/Hostx86/x86/cl.exe`

[2020-04-15 00:32] dthaler commented on #2838
PR #2861 also seems to contain a relevant fix

[2020-04-15 00:51] dthaler commented on #2798
Another project I was a maintainer of used Travis-CI but I see that on yet another project (that I have not been a part of) is considering replacing travis-ci with prow: https://github.com/kubeflow/tf-operator/issues/382

[2020-04-15 02:20] jinghe-INTC commented on #2850
We set up a new system with the script last week,  and there were problems executing most of the ctest cases.

[2020-04-15 02:46] radhikaj commented on #2856
Is this attestation related? Perhaps can’t reach the end point?

[2020-04-15 03:12] radhikaj commented on #2838
Looking at the logs:  It is most certainly
1) Only on Windows Server 2016
2) The attested tls sample.
I am not sure what causes this.

 Build files have been written to: C:/Users/oeadmin/workspace/Bors_staging/build/X64-Debug/samples/attested_tls

191: Error: could not load cache

191: -- Samples test 'attested_tls' with CMake running...

191: [1/31] Generating tls_server_t.h, tls_server_t.c, tls_

[2020-04-15 03:22] scofinan commented on #2849
Thanks, anakrish,

This is my fault that I used x86 Native Tools Prompt, after I changed to x64, this error disappeared.

But I met another error like this:
-- Looking for pthread.h
-- Looking for pthread.h - not found
-- Found Threads: TRUE
CMake Error at C:/openenclave/open-enclave/openenclave/lib/openenclave/cmake/openenclave-config.cmake:116 (message):
  -- Looking for sgx_enclave_common libra

[2020-04-15 05:02] jhand2 commented on #2838
Does it always fail on that step (linking)?

The attested_tls sample is just the last sample so it’s likely a coincidence that it always fails on that one.

[2020-04-15 05:04] jhand2 commented on #2856
Can we check if 2861 fixes this particular issue (the libcxx tests)?

[2020-04-15 05:15] radhikaj commented on #2838
It is not the last sample run. To compare it with the Windows Server 2019 release logs https://oe-jenkins-dev.westeurope.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/staging/277/pipeline/45
Switchless sample runs last

oeadmin@accws19d1f6180 C:\oe\open-enclave\openenclave\share\openenclave\samples\remote_attestation\build>(

cd C:\oe\open-enclave\openenclave\share\openenclave\samples\

[2020-04-15 09:07] davidchisnall commented on #2023
This interface is sufficient for SGX-LKL, but if we also had the lower-level APIs then we could eliminate some of the redundant allocators and use the OE-provided snmalloc sitting on top of the page allocator and refactor our page allocator to sit alongside it.

Completely agree.

I believe so.  I am not completely certain about the abstract machine that EDMM supports.  Section 39.5.7 of Volume 3

[2020-04-15 14:56] jhand2 commented on #2838
@radhikaj it does actually look like every time it hangs during linking. And because it’s the LVI build I wonder if the LVI changes for the Windows compiler toolchain introduced a very specific bug that’s only hit in the attested_tls sample?

[2020-04-15 16:11] mingweishih commented on #2838
attested_tls sample is not compiled with LVI mitigation (only the helloworld sample does).

[2020-04-15 16:14] jhand2 commented on #2838
good point. It just seems weird that it always fails during linking and it only happens on the LVI builds. But I can't repro locally so I can't isolate which part is actually taking so long.

[2020-04-15 16:21] mingweishih commented on #2838
On Windows 2019, the sample test has been finished already. There is an additional sample test (this log refers to) after the ctest for testing the package. If you scroll up a bit, you should be able see the log for ctest.

[2020-04-15 17:02] jhand2 commented on #2838
https://github.com/openenclave/openenclave/pull/2703 increases the timeout to 30 min which does appear to solve the problem temporarily. We will keep investigating to figure out the problem so we can reduce the timeout.

[2020-04-15 18:34] jhand2 opened #2866 "Make COMPILE_SYSTEM_EDL default to OFF for v0.10"
Currently COMPILE_SYSTEM_EDL defaults to ON. This will build all generated stubs for OE system EDL files into OE libraries. The future direction is to not build these stubs into the SDK libraries and instead have applications include the ecalls/ocalls their application needs.

For v0.9 the default is still the old behavior but after that release we should alter the default behavior to the new meth

[2020-04-15 18:35] jhand2 opened #2867 "Update tests/samples to import system EDL manually"
When COMPILE_SYSTEM_EDL is off by default, all the samples and tests should be switched over to import the system EDL they need. See #2866 and #2816 for more details.

[2020-04-15 21:30] dthaler commented on #2797
To add to the CMakeLists.txt consistency problems mentioned above...

https://github.com/openenclave/openenclave/blob/master/docs/DevelopmentGuide.md explains that format-code "allows us apply formatting choices such as the use of Allman style braces and the 80 character column width consistently", but it only works on .c, .cpp, and .h.  (The 80 character column width is useful for, among other th

[2020-04-15 22:10] radhikaj commented on #1770
Specifically, after https://github.com/openenclave/openenclave/pull/2644 was merged, oesign has no dependencies on intel sgx libs.

[2020-04-15 22:25] #2842 closed

[2020-04-15 22:25] #2856 closed

[2020-04-15 23:13] #2676 closed

[2020-04-15 23:31] mingweishih commented on #2849
Can you check if the C:\oe_prereqs\EnclaveCommonAPI\lib/native\x64-Release exist?

[2020-04-16 03:03] BRMcLaren opened #2876 "Windows Package Testing Failing"
After the integration of Windows 2019, there was a change to the Jenkins Labels, seems there was one change missed for the packing tests. Jenkins is trying to spawn an agent that doesn't exist, this needs modification.

[2020-04-16 05:30] achamayou commented on #1770
@radhikaj @jhand2 thank you for this clarification, I was not aware this had been fixed, it’s excellent news :)

[2020-04-16 13:50] scofinan commented on #2849
This error happened during OE SDK installation, so after this error happened, C:\oe_prereqs didn't have any files, since the installation failed.

[2020-04-16 14:14] davidchisnall commented on #2023
It's also worth thinking a bit about how this interacts with the threading model.  I would really like to see OE have a proper pluggable threading model.  For SGX-LKL, we have a lightweight cooperative threading model, which @jhand2 has seen causes problems with the fact that some consumers of OE want either no threading model, half a threading model, or a complete threading model.

For CCF and SG

[2020-04-16 16:12] jhand2 opened #2878 "Some jenkins builds don't have links to the build logs for each pipeline"
Sometimes when Jenkins runs a trying or staging build in the bors pipeline, it doesn't properly show links to the sub-pipelines that it ran.

This is what I see:

![image](https://user-images.githubusercontent.com/11011105/79479872-3eab0600-7fc2-11ea-8bee-78dd1ae36c02.png)

This is what I expect to see:

![image](https://user-images.githubusercontent.com/11011105/79479983-6306e280-7fc2-11ea-8150-7

[2020-04-16 17:04] anakrish commented on #2023
@davidchisnall Thanks for your excellent writeup! Very much appreciated.

Currently we are wrapping up v0.9. I plan to implement Pluggable Allocators (based on the current accepted design ofc) as one of my first tasks in v0.10.

I agree with most of your proposal. We just need to follow the Open Enclave developer guidelines, submit a proposal, get it reviewed and approved.

We could prototype the

[2020-04-16 18:09] radhikaj commented on #2840
Duping this to 2267

[2020-04-16 18:14] oprinmarius commented on #2878
bors try-

[2020-04-16 20:07] dthaler opened #2881 "strerror strings are not localizable"
POSIX specifies that strerror() and gai_strerror() return locale-dependent strings, but OE currently doesn't do so for strerror.

https://pubs.opengroup.org/onlinepubs/9699919799/ says:

However, openenclave\enclave\core\strerror.c is currently not POSIX compliant, it always returns the hard-coded English strings from "../../3rdparty/musl/musl/src/errno/__strerror.h"

This means that any code that