[2019-07-25 21:57] Kushg02 commented on #2054
[code]
It was the SGX driver not the DCAP. Do I need to use a specific version?

Thank you so much for your help, I really appreciate it!

[2019-07-25 22:36] johnkord commented on #2054
Okay that's great. Looks like the right driver is installed for your system! You should see /dev/isgx as a file on your system.

Can you check if the aesm service is running on your system? You can check by running `ps -aef | grep aesm`

If the aesm service isn't running, you can get an OE_PLATFORM_ERROR I believe

[2019-07-26 00:19] gogo9th commented on #2054
I finally got a DC VM allocated from https://aka.ms/ccvm and my openenclave's sample apps work fine in this VM. I also tried to additionally install Intel's [SGX SDK](https://github.com/intel/linux-sgx) and this one also works fine. However, if I install Intel's [Linux SGX 2 Driver](https://github.com/intel/linux-sgx-driver/tree/sgx2), this one breaks everything. I am just curious why additionally

[2019-07-26 16:04] johnkord commented on #2054
@gogo9th That's great news!

I think SGX2 isn't supported on DC hardware. Just SGX1 with FLC, from what I understand

[2019-07-26 20:11] brian-xu opened #2061 "Dynamic and static libraries inside enclaves"
What is the support status of including dynamic and static libraries inside an enclave binary?

[2019-07-26 20:45] radhikaj commented on #1503
@achamayou Thanks for the information and we would also like to fix this bug and agree that is worrisome.  We plan to do it by the end of v0,.8. Just wont be able to do it in time for v0.7. Thanks!

[2019-07-29 23:50] jxyang commented on #1503
I just tried out the tip of OE, and the problem is not reproduced. This may have something to do with commit https://github.com/openenclave/openenclave/commit/f0b322fa1af59205f20a5e6504f8ba93d7a08f72.

@eddyashton Could you verify my finding with the latest OE?

[2019-07-30 10:24] eddyashton commented on #1503
@jxyang I'm also unable to reproduce this on OE v0.6.0, so it appears to have been fixed.

I don't think the fix is just from the libunwind update though: I tried reverting f0b322fa1af59205f20a5e6504f8ba93d7a08f72 and 48c6097b89512a6aaf27f1ca776fa312cd8bcc70 from v0.6.0 but the test still passed, and tried applying those updates to v0.5.0 but the segmentation fault still occurred. It would be good

[2019-07-30 18:19] jxyang commented on #1503
@eddyashton We have also upgraded libcxx with this commit https://github.com/openenclave/openenclave/commit/438f3cb470500a0d4fc10255a9dd763acf40e0cc, that may be the reason. Thanks for verifying.

[2019-07-30 18:57] melhindi opened #2066 "SGX on Win10 Hyper-V VM"
Hi,
I wanted to setup a Linux Gen2 Hyper-V VM on Windows 10 with SGX support.
The host system has SGX enabled, but I cannot find any option in the Hyper-V Manager to enable SGX for the VM.
In the README docs/GettingStartedDocs/SGXSupportLevel.md you mentioned

Could you pls. explain or point me to how I can "specifically configure" the VM?
I could not find any Hyper-V documentation around this.

T

[2019-07-31 07:24] #1992 closed

[2019-07-31 23:27] #1444 closed

[2019-08-01 21:48] danintel commented on #1511
Here is my experience. If the `/dev/sgx` driver (`intel_sgx`) is installed (the DCAP Intel SGX driver), it has to be removed first (with the correct `uninstall.sh`, which may be somewhere under `/opt/intel/`). Only then can you install the non-DCAP `/dev/isgx` driver (the one that uses Intel IAS), module `isgx`).

Be careful not to overwrite the `uninstall.sh` script of the old driver with the new

[2019-08-01 21:52] johnkord commented on #1511
Thanks for this great explanation of how to change Intel drivers @danintel !

[2019-08-02 00:11] jxyang commented on #1777
@mikbras has discovered a way to retrieve function names based on function pointers (which we maintain in the function tables). This means we don't have to modify oeedger8r to log the ocall/ecall function names. Here is Mike's code:

https://github.com/openenclave/openenclave/compare/mikbras.funcname

Note to log the ecalls (both on Linux and Windows), we need to use `oe_backtrace_symbols` instead

[2019-08-02 13:25] andschwa commented on #1777
Clever! I remember the Windows debugging APIs being a bit of a pain, I think there’s some initialization to do. Ping me if you have questions and I’ll try to recall more 😂

[2019-08-05 14:39] achamayou commented on #1777
@jxyang @anakrish thanks, this looks great, I will definitely try to have a look this week now that I'm back, or possibly next week at the latest. Is oe_get_func_name() headed for master soon?

[2019-08-05 14:41] achamayou commented on #1503
@jxyang thanks for taking a look at this, it's great to see 0.7 doesn't exhibit the bug. We'll try to see if we can bisect the fix still because it would be nice to be confident this is fixed permanently.

[2019-08-05 18:23] CodeMonkeyLeet opened #2075 "Enable /WX on Windows compilation and fix existing issues"
Builds of OE SDK on Windows today spew a lot of build warnings and these need to be cleaned up. At the same time, we need to stop introducing new build warnings on Windows by enabling the `/WX` flag (treat warnings as errors) to enforce this.

[2019-08-05 18:40] CodeMonkeyLeet opened #2076 "Remove root_index.txt and intermediate_index.txt from crypto tests data on rebuild"
OpenSSL used by the crypto tests to generate test certificates keeps track of the root and intermediate CA certs issued through the same configuration for revocation purposes in `root_index.txt` and `intermediat_index.txt`.

These files are not overwritten on builds of the test data folders and instead are extended each time, and extend the corresponding `*.crl.der` test files each time. Given eno

[2019-08-05 19:44] radhikaj commented on #1503
Thanks @achamayou @jxyang.

[2019-08-06 02:29] gupta-ak commented on #2054
@johnkord The SGX2 features aren't supported by the DC hardware, but the SGX 2.0 driver should work on the DC hardware according to [this](https://github.com/intel/linux-sgx-driver/tree/sgx2
):

Note that the previous driver is deprecated in favor of the SGX2 driver, so we need to figure out why it's broken.

[2019-08-06 06:28] johnkord commented on #2054
@gupta-ak Interesting, let's investigate this!

[2019-08-06 06:32] johnkord opened #2078 "Investigate why the SGX2 driver doesn't work on ACC VMs"
Please refer to #2054, specifically @gupta-ak 's comment that points out that the Intel SGX2 driver should still function on systems without SGX2 features (that do have SGX1 features).

[2019-08-07 14:58] letmaik opened #2080 "Uninitialized field warning with clang using OE_SET_ENCLAVE_SGX"
[code]
...when compiling with clang and `-Wall -Wextra -Werror`

Current work-around: `-Wno-error=missing-field-initializers`.

[2019-08-08 12:12] letmaik commented on #1730
Why was this closed? There is no test in the PR and it's still broken.

[code]

[2019-08-08 12:24] letmaik opened #2082 "dl and crypto libraries not namespaced in CMake"
Currently, `find_package(openenclave)` pollutes the global namespace with the `dl` and `crypto` targets, which means I can't develop an application which has a target named `crypto`. That's bad. Please put all targets that you create during `find_package` in the `openenclave::` namespace.

Concrete example: Pulling in boringssl via `add_subdirectory`: https://github.com/google/boringssl/blob/81080

[2019-08-08 17:08] johnkord commented on #1730
Thanks @letmaik I'll reopen this! Looks like the PR that auto-closed this issue solved the problem for the openenclave:: namespaced targets, but not for the crypto/dl imported targets.

[2019-08-08 22:30] andschwa commented on #1920
I am not sure why people were unassigned from this last month: I'm still seeking feedback so we can move this forward, and it's becoming increasingly important.

[2019-08-08 22:34] andschwa commented on #1920
For design documents, I opened #2085.

[2019-08-09 12:23] EmilAlexandruStoica commented on #1730
@johnkord I'll try to solve this as soon as posible.

[2019-08-13 16:56] CodeMonkeyLeet opened #2089 "Support digest signing workflow in oesign for production signing"
oesign takes the signing key and enclave to sign in a single step today, which is not amenable for production signing scenarios as the owner of the private key is usually in a locked down environment that is separate from the build pipeline.

Similar to Intel's sgx_sign tool, oesign needs to support _digest signing_, where:
1. The lower trust build environment invokes oesign to generate a digest o

[2019-08-13 17:10] johnkord commented on #2080
Do you know which version of clang reproduces this warning?

[2019-08-13 17:26] johnkord commented on #2061
Static libraries are currently supported inside an enclave binary, but we don't give a solution for linking dynamically with an enclave.

[2019-08-13 17:26] #2061 closed

[2019-08-13 17:30] johnkord commented on #2058
This may require a change to the error checks for when this function is invoked in the OE source. Feel free to change the milestone for this issue if this isn't a severe issue for TrustZone.

[2019-08-13 17:41] johnkord commented on #2055
@mikbras Can you give us a little more context for this? I guess we can open up the comments for discussion here :)  Why exactly do they ignore these relocation types?

[2019-08-13 17:42] johnkord commented on #2054
Closing this issue now as we have probably resolved the error. As for the SGX2 issue, we've created another issue to track that.  Let us know if we missed anything! :)

[2019-08-13 17:42] #2054 closed

[2019-08-13 17:44] CodeMonkeyLeet opened #2090 "Support crypto extensions in oesign tool"
To accommodate a wider range of key management scenarios when using oesign, it would be valuable to take advantage of existing crypto library infrastructure for interfacing with Hardware Security Modules (HSM) and other custom crypto providers. For example:

- OpenSSL on Linux supports [ENGINE](https://github.com/openssl/openssl/blob/master/README.ENGINE) plug-ins
- BCrypt on Windows supports cust

[2019-08-13 17:45] johnkord commented on #2053
We're going to close this issue. If you continue to experience any issue, can you reopen this and tag me? :)

[2019-08-13 17:45] #2053 closed

[2019-08-13 18:14] CodeMonkeyLeet opened #2091 "Document appropriate use of oesign and key management"
Since the security of enclave identity attestation is intrinsically tied to the security of enclave signing, there is extra incentive to ensure that we have proper user education regarding secure key handling during signing. This includes:

- Additional documentation and examples on use of oesign tool for dev vs. production signing use.
- Inline documentation in command line help of oesign tool an

[2019-08-13 18:18] CodeMonkeyLeet commented on #2042
Split the concerns expressed in this issue into separate tracking tasks.
- #2089 Support digest signing workflow in oesign for production signing
- #2090 Support crypto extensions in oesign tool
- #2091 Document appropriate use of oesign and key management

[2019-08-13 18:18] #2042 closed

[2019-08-13 18:19] letmaik commented on #2080
7

[2019-08-14 00:57] jazzybluesea commented on #1044
Reopening to address Simon late comments.

[2019-08-14 01:29] paulcallen commented on #1920
I have added comments above.

[2019-08-14 01:59] #375 closed

[2019-08-15 19:23] jazzybluesea opened #2094 "Windows install script and host/CMakeLists.txt SGX dependency mismatch"
Currently the windows install script installs the nuget dependencies under system drive, but host/CMakeLists.txt expects these SGX dependencies to be under the CMake sourcedirectory.

install-windows-prereqs.ps1:
$OE_NUGET_DIR = Join-Path ${env:SystemDrive} "openenclave\prereqs\nuget"

host/CMakeLists.txt
if (WIN32)
    set(LIBPATHS
      ${CMAKE_SOURCE_DIR}/prereqs/nuget/EnclaveCommonAPI/lib/nati

[2019-08-15 19:30] jazzybluesea opened #2095 "Windows install script: System environment path is not updated in the registry"
Currently the install-windows-preregs.ps1 updates the local PATH environment, therefore it is required to run this script every time in order to setup the correct PATH environment.  It would be nice to not have to do this every time since the script always downloads all the install binaries at the beginning.

[2019-08-15 20:32] andschwa commented on #2082
Good catch, thanks!

[2019-08-15 22:54] jxyang opened #2098 "Define a platform-agnostic layer of thread and atomic APIs"
Related #850, #851

On the host side, Windows and Linux have different APIs for thread creation, thread join, atomic cas, etc. For a few cross-platform tests that runs on both Windows and Linux, but have to rely on these APIs, the code tend to be messy with littered `#ifdef _MSC_VER` or `#ifdef __GNUC__` etc. This is also one of the reasons that some tests run on Linux only.

For a clean design po

[2019-08-15 23:02] dthaler commented on #2098
For threading, I think we should try to just expose POSIX APIs like pthread_create() and map them over native APIs on platforms that don't have it natively.

[2019-08-15 23:35] jxyang commented on #2098
@dthaler That's likely to create confusions. Our convention is to use `oe_` prefix.

[2019-08-16 00:04] mikbras opened #2099 "Shared Memory in OE"
This issue proposes adding shared memory to Open Enclave. **Shared memory** is memory which is accessible to both the **host** and the **enclave** across all supported TEEs.

In **SGX**, **all** host memory is shared **implicitly** with the enclave (stack, heap, global data, and code pages). In other words,  the host needn't do anything to share its memory with the enclave.

In **TrustZone**, **de

[2019-08-16 00:41] dthaler commented on #2098
Actually we have a bunch of cases where the posix apis are defined to use oe_ prefixed versions implemented internally.   Callers use the posix one normally, unless it would cause problems (e.g., linker errors) in which case they have to use the raw oe_ ones.  But the signatures match.   That's all I'm saying here.

[2019-08-16 01:21] CodeMonkeyLeet commented on #2051
Partially addressed by #2087, Ansible scripts still need to be updated.

[2019-08-16 02:38] brian-xu commented on #2061
Good to know. I had suspected this, but wanted official confirmation.

[2019-08-16 17:46] johnkord opened #2101 "Perform integrity checks on downloaded blobs in install-windows-prereqs.ps1"
We download executable and archive files in install-windows-prereqs.ps1 without validating their integrity, and a few of the URI endpoints are http. This needs to be changed so that we validate the integrity of these downloaded files against pre-computed measurements embedded in the script.

[2019-08-16 17:54] mikbras opened #2102 "Support multiple language bindings for edge routines"
As part of the OE IDL discussion, Hernan suggested looking at tools that generate RPC for multiple language bindings. See the OE IDL document here:

https://microsoft.sharepoint.com/:w:/r/teams/OSTC/_layouts/15/Doc.aspx?sourcedoc=%7B5963143D-19D2-4519-952F-F4F46355AB74%7D&file=OE_IDL.docx&wdLOR=cB3A77A65-12B9-4DE7-8F19-6EDAC48BD33F&nav=eyJjIjo5NDUxNzQ1Mjl9&action=default&mobileredirect=true

[2019-08-16 18:21] mikbras commented on #2102
Hernan suggestion looking into:
- Apache Thrift
- Apache Avro
- CORBA IDL

We might also consider Google protobufs.

[2019-08-16 18:40] mikbras opened #2105 "EDL enhancements"
This issue requests various EDL enhancements to better guard against implicit transfer of host memory. EDL functions that implicitly pass host memory to the enclave pose two main problems.

- Potential leaking of secrets when enclaves inadvertently write to host memory (when the developer might have mistaken it for trusted memory).
- Inability to port applications to TrustZone and other TEEs that

[2019-08-16 19:45] gupta-ak opened #2107 "Revisit OE SDK package settings"
While discussing the host verification package (PR #2092), the following questions came up about the OE SDK package:

1. Naming:
For the SDK file name, we are using CPack's default naming convention instead of the recommended Debian default naming convention. The default Debian package name will also include the architecture, which is useful when we start releasing ARM packages.

2. Dependency on

[2019-08-16 19:51] gupta-ak opened #2108 "Rework host/CMakeLists.txt file"
The `host/CMakeLists.txt` is getting complicated due to all of conditional logic from the Windows/Linux/SGX/TrustZone/SDK/"Host verification library" matrix.

Since we already have the files partitioned into the appropriate folders, consider doing a "bottom-up" approach where we have individual CMakeLists.txt in each folder that build up the sources list. This will greatly simply the top level hos

[2019-08-16 20:04] gupta-ak opened #2109 "Verify expected behavior if both the OE SDK and host verification library are installed"
Here are some of the open issues and work items for host verification library:

- [x] Name of the package. We internally refer it as the "host verification library" but that probably doesn't make sense to external people. If anyone has a good name, feel free to contribute. The purpose of the package is to provide APIs for validating reports in non-TEE environments.

- [x] Set up CI/CD + nightly bu

[2019-08-16 20:47] CodeMonkeyLeet commented on #2109
FYI @soccerGB, these should probably be broken up into separate issues based on your assignment of resources.

[2019-08-18 23:03] #1044 closed

[2019-08-20 03:18] andschwa commented on #1920
Committer technical areas were added in #2088.

[2019-08-20 03:21] andschwa commented on #1920
@paulcallen the Gitter is there and open, feel free to do what you want with it! I would, however, caution against making a lot of different rooms/channels. In my experience this kind of fragmentation leads to worse communication instead of better, as it makes harder both to ask and answer questions (Mesos had a bad habit with this, whereas PowerShell did it well with mostly a single channel).

[2019-08-20 03:23] andschwa commented on #1920
I would suggest that the ask to move to 2 sign-offs for PRs be presented at the next (the inaugural!) Community Maintenance Meeting. I'm forming an agenda...I'll try to remember to add it.

[2019-08-20 03:25] andschwa commented on #1920
I'm planning to write "How to Submit a PR", who wants to write "How to Review a PR"?

[2019-08-20 16:46] jazzybluesea commented on #2109
How about naming this package "standalone OE certificate validation library"?

[2019-08-20 17:20] johnkord commented on #2099
I think @mikbras and @HernanGatta will work together to enable this

[2019-08-20 18:22] jxyang commented on #2099
#2104 implemented a pool-based (or stack-based, a.k.a, arena-based) shared memory allocator. It's currently dedicated to ecall/ocall parameter passing. I believe #2099 is a more generic allocator, although it could make use the allocator in #2104.

[2019-08-20 23:31] dthaler commented on #1920
Also a comment on "Feedback is recommended to be limited to actual coding problems, not design, esthetics, or philosophical questions (Actual code bugs, Incorrect API usage and error handling, as long as they do not go into design discussions, Anything that is design related is a feature request and an issue should be created, Security issues, And more, but be realistic"

I think the point about d

[2019-08-20 23:55] Liaojinghui opened #2112 "Failed to install openenclave"
Err:8 https://packages.microsoft.com/ubuntu/18.04/prod bionic/main amd64 Packages
  File has unexpected size (66537 != 66619). Mirror sync in progress? [IP: 40.76.35.62 443]
  Hashes of expected file:
   - Filesize:66619 [weak]
   - SHA512:4754fea65f57f35fc52e332a6d5cddaf65ea00bbd9e9f428d3a4325c1ac26856190ae82022cdb7a41bf1337e5c7fb1a429933bae9817bacaa8a5186c2aae9f1b
   - SHA256:f971467de90380c9920

[2019-08-21 15:59] #2112 closed

[2019-08-21 16:08] wintersteiger opened #2114 "Remote attestation testing"
I'm trying to test remote attestation, but I'm not on an Azure VM (local installation with prototype machines). I have the az-dcap-client installed, but it fails to produce usable certificates, causing `sgx_qe_get_target_info` to fail. Is there a way to switch to a debug-client or a way to populate `AZDCAP_BASE_CERT_URL` and `AZDCAP_CLIENT_ID` with local certificate information?

[2019-08-21 23:12] Liaojinghui commented on #2114
I got some problem with the remote attestation testing too. My device is can run the intel/sgx-ra-sample in hardware, which means my device is capable to do remote attestation, but when I run the remote attestation sample of openenclave, I got error
`21Enclave: ***/home/compass/LNSGX/SGX/SGXEVM/openenclave/samples/remote_attestation/common/attestation.cpp(55): oe_get_report failed.
`
Also, may I a

[2019-08-22 02:33] #2101 closed

[2019-08-22 02:33] #2094 closed

[2019-08-22 08:20] prp opened #2118 "SGX-LKL-PORT: oesign always sets SECS.MISCSELECT.EXINFO to 0"
oesign does not permit SECS.MISCSELECT.EXINFO to be set to 1, which is necessary for an enclave to have a valid exception record for GP/PF exceptions. As a result, it is currently not possible to handle a page fault inside the enclave with the help of an OE exception handler (despite the fact that OE has a supported OE_EXCEPTION_ACCESS_VIOLATION exception type).

The fix would be to set SECS.MISCS

[2019-08-22 17:39] BRMcLaren opened #2119 "Addition of package tests"
Currently there are not any packaging tests available in Jenkins. This issue is to track the development and addition of such tests.

[2019-08-22 18:26] johnkord commented on #2051
This has been fixed by #2106

[2019-08-22 18:26] #2051 closed

[2019-08-23 07:15] prp opened #2124 "SGX-LKL-PORT: OE exception handling in simulation mode"
OE currently only supports exception handling in hardware mode (as the implementation is SGX specific).

During development/testing, we heavily rely on simulation mode, and therefore want to avoid big divergences between the two modes. Exception handling is an important enough feature that we require it in simulation mode.

If OE doesn't handle exceptions in simulation mode, we would have to imple

[2019-08-23 17:10] #2107 closed

[2019-08-26 08:29] #2076 closed

[2019-08-27 00:09] jxyang opened #2129 "Add perf tests to OE"
We don't have perf tests covering general tasks related to enclave, such as:

•	ECALL and OCALL
•	Attestations
•	Data sealing/unsealing
•	General encryption inside the enclave
•	General TLS between the enclaves

They provide not only concrete numbers about performance, but also a mechanism to detect performance regressions.

[2019-08-27 12:20] wintersteiger commented on #2114
Of course!

Without `ac-dcap-client` installed:

[code]

With az-dcap-client:

[code]

[2019-08-27 18:11] #1730 closed

[2019-08-27 18:49] jxyang opened #2130 "Create a sample for switchless calls"

[2019-08-27 22:45] jazzybluesea opened #2131 "CA certificate with Basic Constraints pathlen:0 detected in windows, but not in linux."
Steps to repro:
 1. Create an attestation certificate where the Intel CA cert has a pathlen of 0:
     X509v3 Basic Constraints: critical CA:TRUE, pathlen:0

2. Pass certificate to oe_verify_attestation_certificate() for verification.
3. In Linux, this error is not detected, but in windows this error is detected.

[2019-08-28 22:23] andschwa commented on #1920
Some of the guidelines mentioned in https://github.com/intel/linux-sgx/issues/433 I think we could apply too (especially like Include What You Use).

[2019-08-29 00:58] paulcallen opened #2134 "oegdb crashes while launching enclave"
openenclave-tpm project depends on openenclave-openssl, which is dependent on openenclave.
Debugging openenclave-tpm project with oegdb, the OE python extension crashes during the creation of the enclave.

`enable_oeenclave_debug` calls `set_tcs_debug_flag` which calls `string = read_from_memory(tcs_addr + 8, 4)`

This final final line call crashes. If I comment this line out and replace it with '

[2019-08-29 09:01] achamayou commented on #1920
For code coverage, we're using codecov.io in CCF (eg. https://github.com/microsoft/CCF/pull/329#issuecomment-525763693). It has a few rough edges, but on the whole it's pretty good at catching regressions. If we think this might be useful, I'll have a look at making it work in OE (might need some access to the CI though).

[2019-08-29 09:05] achamayou commented on #2129
@johnkord we've had something internal and bit crude for CCF for a while, and we've taken advantage of the recent Hackathon to turn some of it into something we can make public and hopefully useful for other projects: https://github.com/jumaffre/cimetrics

We'd be happy to show you what it's like, to take your feedback, and maybe help set it up for OE if you like it!

[2019-08-29 18:41] andschwa commented on #1920
That would be _awesome_.

[2019-08-29 18:49] jazzybluesea commented on #2095
Closing issue.  This has been resolved by #2106 using setx

[2019-08-29 18:49] #2095 closed

[2019-08-29 23:01] deeglaze opened #2136 "From scratch -DUSE_LIBSGX=OFF build errors"
Hi y'all, first time looking at building open enclave, and I don't want to depend on Intel's source.

I cloned at 2a49ba881 and ran
[code]
And got the following error output
[code]
I double-checked make clang version, saw it was 6, so installed clang-7 and set
[code]
Then make clean; make led to this
[code]

I might not have looked hard enough for a "how to build" document, so I'm not sure what I'

[2019-08-29 23:45] jazzybluesea opened #2137 "Regression tests are failing in linux with USE_LIBSGX=OFF"

[2019-08-29 23:48] jazzybluesea opened #2138 "CI/CD and dev environment setup scripts"
Currently in windows the install script to setup the drivers/dependencies is separate from the CI/CD logic.  In order words, we have the same logic in two different places.  It would be nice to one golden reference where this logic resides.

[2019-08-30 10:32] david-oswald opened #2139 "OP-TEE: oe_is_outside_enclave() should not check for !oe_is_within_enclave()"
In the current (non-functional) OP-TEE binding, the check for `oe_is_outside_enclave()` (i.e. "is the buffer completely outside the enclave) internally uses `!oe_is_within_enclave()`:

https://github.com/openenclave/openenclave/blob/master/enclave/core/optee/bounds.c#L35

However, this will fail if a buffer overlaps from untrusted into trusted memory, since `oe_is_within_enclave()` checks if the *

[2019-08-30 15:59] jazzybluesea opened #2140 "Scripts format-code unexpectedly updates sgxtypes.h"

[2019-08-30 16:00] jazzybluesea commented on #2140
![Capture](https://user-images.githubusercontent.com/31323795/64034982-87ca4a80-cb04-11e9-99b1-a69c911d8c57.PNG)

[2019-08-30 16:04] jazzybluesea opened #2141 "Make windows install script more user friendly."
Currently the script outputs a lot of noise.  If there is a bug in the script--which I have encountered many times--it is very very hard to spot.

**Goals:**
1. Move the detail outputs to a file.
2. Display milestone installations in green.
3. Display failures in red.
4. Display overall success/failure of the installation.

[2019-08-30 16:40] jazzybluesea commented on #2131
[bad_certs.zip](https://github.com/openenclave/openenclave/files/3560762/bad_certs.zip)

[2019-08-30 19:49] andschwa commented on #2136
Hi @deeglaze! Thanks for checking out Open Enclave. That "how to build" document you're looking for (presumably in simulation mode, as you disabled SGX support) is [here](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk-Simulation.md).

Let me know how that goes, and feel free to ping me or @johnkord with any questions!

[2019-08-30 19:55] johnkord commented on #2136
Hey @andschwa SGX is still enabled even if USE_LIBSGX=OFF!  That just means that openenclave won't be using the Intel libsgx libraries for launching enclaves (and instead, on Linux, interfacing with the aesm service). That's the only supported mechanism for launching enclaves on systems with SGX that don't have Flexible Launch Control!

Hi @deeglaze, welcome! One thing I noticed is that you're run

[2019-08-30 20:02] johnkord commented on #2136
By the way @deeglaze, which scenario interests you more from these two? :
1. Utilizing the OE SDK for building enclave images for use in an application
2. Building the OE SDK from the OE source

If you want scenario #1, you can follow the link from Andy's comment above.
If you want scenario #2, you will need some prerequisites and you can follow the instructions here: https://github.com/openenclav

[2019-08-30 20:56] deeglaze commented on #2136
That worked, thanks! I did get a few failed tests in simulation mode. Are these expected currently?

The following tests did not run:
	  6 - tests/aesm (Skipped)
	 85 - tests/debug-unsigned (Skipped)
	 86 - tests/debug-signed (Skipped)
	 87 - tests/nodebug-signed (Skipped)
	 88 - tests/nodebug-unsigned (Skipped)
	 98 - tests/sealKey (Skipped)
	104 - tests/fs2 (Skipped)
	115 - tests/VectorException

[2019-08-30 22:36] johnkord commented on #2136
Interesting @deeglaze! I just ran the `OE_SIMULATION=1 ctest` command and got a full set of test passes on my system, and our CI & nightly builds seem to be passing simulation tests (Linux, at least).

[code]

A few questions for you:
What Linux distro are you running?
Can you re-run the simulation ctest command with the "-V" flag and send the output? That should give all stdout/stderr during the

[2019-08-31 00:25] deeglaze commented on #2136
I'm running my employer's internal distro it uses for employees, which I believe is based on Ubuntu.

The output is close to 1mb, so here it's on drive.
https://drive.google.com/file/d/1p4lsodxOPX9EkFKpqsCQjvnbqJhM8M5k/view?usp=sharing

[2019-08-31 00:50] johnkord commented on #2136
Thanks for the quick info @deeglaze!

Here's my quick analysis of the test errors:

1.The  oegdb-test & oegdb-test-simulation-mode test failures look to be associated with python 2/3 differences. I believe the gdb we tend to use internally uses python 3 for its extensions (as oegdb is just a python extension for gdb), but your system's gdb may be using python 2.  Python 3 has the `from_bytes` func

[2019-08-31 01:17] paulcallen opened #2144 "cmakefiles with externalprojects_add need to clean copied sources and built binaries"
`make clean` should clean up any sources and built binaries copied/created during ExternalProject_Add rules.

This can be done with the following command:

[code]

Not doing so leaves old files that don't get updated and you need to nuke the whole build directory more frequently

[2019-09-03 21:15] BRMcLaren commented on #2119
To allow Jenkins to run as root, we are going to give the container sudo privileges. This will allow the installation of the SDK which is required to run the sample tests.

This will require a new Docker image updated as such.

[2019-09-03 22:39] #2119 closed

[2019-09-04 00:32] jazzybluesea opened #2145 "Host_verify library for Windows."
Child of #2109.

1. Adding host_verify library for windows.
2. Unit tests for linux/windows.
3. CI/CD setup.

[2019-09-04 04:31] deeglaze opened #2146 "#includes with "../" often point at non-existent file."
I'm working on getting openenclave to build in Bazel, and I'm finding that it does not like up paths in cases where -I flags are needed to resolve file locations. There are > 100 such up file includes, and I haven't resolved them all yet, but I think it could be helpful for readability and Bazel support to resolve those paths in a repo-root-relative manner.

For example, in `enclave/sgx/qeidinfo.c

[2019-09-04 04:39] deeglaze commented on #2146
I see also that -I flag order will matter too, for files such as host/sgx/ocalls.c, which #includes two different `ocall.h` files. repo-root-relative path structure would help disambiguate these.

[2019-09-04 14:43] olgavrou opened #2147 "Logging format"
Hi!

In trying to make use of the logs (e.g. via uploading them to Azure Log Analytics) it is nice to be able to parse and display all of the available logs including the ones generated by OE.

I have played around with the formatting of the OE logs a bit and without too much code modification would like to propose the below changes to the logging

(1) User defined format

It would be very useful

[2019-09-04 18:11] andschwa commented on #2146
Oh, interesting. In general I agree, I think repo-root-relative is often a cleaner approach. Let me tag @mikbras and @CodeMonkeyLeet in here.

[2019-09-04 18:14] andschwa commented on #2147
Thanks @olgavrou! This looks like a great idea to me, let me loop in @johnkord and @mikbras.

[2019-09-05 00:16] #2145 closed

[2019-09-05 00:48] CodeMonkeyLeet commented on #2146
I tend to agree that we should use repo-root-relative paths and specifically in this case we should not allow lateral relative traversals out of the current directory.

Ideally, local headers should be local headers and any shared headers should be organized under the broader `include` folder (so most references are relative to root of `include`).

There's a pattern of use for scoping headers rela

[2019-09-05 01:33] jhand2 opened #2148 "Compiling sdk on other Linux distributions"
Is there a particular reason this project is listed as supported on only Ubuntu 16.04/18.04 and not other Linux distributions (in the build instructions)? For example, I just built and ran tests and samples in simulation mode on Fedora 29 and it seems to work mostly out of the box.

If there is no technical reason, I am happy to add documentation with instructions on building on Fedora (mostly jus

[2019-09-05 02:24] dthaler commented on #2148
I think there's two possible categories of platforms:
a) "Supported" platforms, where "supported" includes the fact that CI runs tests on every PR to try to prevent regressions.
b) "It might work" platforms, where someone tried it once and got it working, but there's nothing to automatically verify that it will still work after new PRs get merged.

Sounds like you have anecdotal data saying Fedora

[2019-09-05 05:16] deeglaze commented on #2146
I'm finding myself taxonomizing the internal headers myself, since I end up pairing the source that defines symbols with headers that declare them. Another interesting thing about Bazel in that compilation defines have to be in the target definition itself, so headers y'all have that have two different interpretations depending on something like `defined(OE_BUILD_ENCLAVE)` have to be built in two

[2019-09-05 07:28] prp commented on #2055
@johnkord Currently OE aborts the loading of the enclave image when it encounters these relocation types. However, the dynamic linker and loader of SGX-LKL can handle these relocation types, so we had to comment out the check in OE to permit them.

[2019-09-06 01:09] jhand2 commented on #2148
I see. In that case I don't think it makes sense to add build documentation since it is not yet an officially supported distro (in CI, promise not to break).

Thanks!

[2019-09-06 01:09] #2148 closed

[2019-09-06 03:53] deeglaze commented on #1902
The approach we take in [Asylo](https://github.com/google/asylo) is to make our build tool fetch our dependencies at a specific version/commit, perform a checksum test, and then apply any patches we distribute for that version. By distributing a patch, you can make sure you keep track of the changes you're making. A patch file can help instruct users whose codebase follows a "one version rule" for

[2019-09-06 18:23] CodeMonkeyLeet commented on #2146
I think the preference being expressed is that headers and source files should be decomposed into distinct units of functionality and then assembled by the build definitions without reliance on preprocessor definitions, is that accurate? That seems like a distinct issue from the organization of headers in the file hierarchy and we might want to spin up a separate issue for that.

A couple of quest

[2019-09-06 19:16] deeglaze commented on #2146
Ah, I should note that Bazel does not allow dependents to alter the build environment. A host target that depends on "common" will get the same library bits that an enclave that defines "OE_BUILD_ENCLAVE" would get. Compiler options are local to a target. The "common" sources have to be compiled in a separate target that explicitly names the compiler options that it needs, like "-DOE_BUILD_ENCLAVE

[2019-09-06 20:53] anakrish commented on #2134
@paulcallen Thanks for reporting this and pinpointing the precise line that is crashing (killing) the debugger.

As we investigated together:

- The TPM project conf file specifies 20 TCS and 1000 pages of stack per TCS. This combination causes the crash.

- Reducing the TCS count to 1 or reducing the stack pages to a smaller value (say 64) would allow the project to be debugged via oegdb.

[2019-09-06 21:02] anakrish commented on #2134
To isolate the problem, I played with our helloworld sample.
Changing stack pages to 1000 and tcs count to 20, the crash is reproducible with the helloworld sample.

Additionally, the crash is reproducible with plain gdb.
[code]

Since gdb itself crashing when doing memory access on a tcs location, it would indicate a bug with sgx driver that is supposed to map a read instruction to sgx debug read

[2019-09-06 21:09] anakrish commented on #2134
The same issue is reproducible with intel sgx sdk.

In SampleCode/SampleEnclave/Enclave/Enclave.config.xml change
TCSNum to 20
StackMaxSize to 0x3E8000  (which is 4K * 1000)

Then run the program via sgx-gdb to reproduce the crash.

[2019-09-06 21:37] anakrish commented on #2134
Created issue https://github.com/intel/linux-sgx/issues/444

[2019-09-09 14:35] prp opened #2151 "SGX-LKL-PORT: conflict with definition of __cxa_atexit"
`liboecore` exports `__cxa_atexit`, which is needed for OE's C++ support. This symbol, however, conflicts with the implementation in SGX-LKL. SGX-LKL cannot use the OE version of `__cxa_atexit` because it needs an implementation that handles the `vdso` argument correctly.

Ideally, the OE implementation of `__cxa_atexit` should be internal/part of the C++ support only.

[2019-09-09 14:44] prp commented on #1550
SGX-LKL-PORT faces the same issue, as we need to support arbitrary `cpuid` calls inside the enclave. Currently this fails for any leaves/subleaves that are not cached/supported by OE.

[2019-09-09 18:55] deeglaze opened #2155 "oeedger8r input/output separation"
I'm adapting some calls from Intel's edger8r output, which has a single mutable marshalling struct for both input and output. Apart from the surface cleanliness of "const in, non-const out" in APIs, I don't understand the advantage of requiring twice the size for the bridge data structure. The oeedger8r tool doesn't produce two different structs for input values and output values. Rather, input bu

[2019-09-10 00:58] CodeMonkeyLeet commented on #2146
Thanks for the explanation, it's really helpful. The distinction between 3 & 4 being multimodal in the Bazel paradigm is interesting, because while we build both host & enclave for a Linux platform as a single action, for Windows builds, the enclave and host would be separate platforms (i.e. they build under separate tool chains for separate target OS, since we only compile enclaves as ELF today);

[2019-09-10 15:42] deeglaze commented on #2146
Yes, that's correct. We're also planning on adding a new triple to clang in order to target sgx builds, since existing triples define the wrong processor symbols, and the unknown triple falls back on gcc to link. It makes sense to us in the Asylo team to consider enclaves to be a distinct platform from the host operating system.

[2019-09-10 17:13] andschwa commented on #2147
Yay! We finally addressed this is today's PR. People are in agreement with making the logging format configurable (but are wary of changing the default logging format). Please do open a PR!

[2019-09-10 17:13] yakman2020 commented on #2147
Pls issue a PR. It looks like a reasonable idea.

[2019-09-10 17:22] yakman2020 commented on #2146
Could we create specific issues for this with specific action items?

[2019-09-10 17:25] yakman2020 commented on #2141
Pls file a PR on this.

[2019-09-10 17:28] yakman2020 commented on #2139
Pls issue a PR. Looks real.

[2019-09-10 17:31] yakman2020 commented on #2137
More info please

[2019-09-10 17:32] yakman2020 commented on #2136
@deeglaze  Is this still an issue?

[2019-09-10 17:39] yakman2020 commented on #2124
Simulation mode is deprecated.  It would probably be more effective to use an ACC VM if your hardware doesn't support SGX.

[2019-09-10 17:41] yakman2020 commented on #2118
This is specific to SGX2.

[2019-09-10 17:50] CodeMonkeyLeet commented on #2118
Additional context:

* SGX-LKL needs POSIX signal handling for SGX-LKL (under Linux), not demand paging. In the non-OE version of SGX-LKL, this involves installing an OS signal handler that catches an in-enclave segfault outside and then relaying the exception information to the enclave (using an EENTER).

* SGX-LKL would like to handle this with the OE exception handlers, but OE SDK does not set

[2019-09-10 17:51] yakman2020 commented on #2066
@dthaler @HernanGatta could you check this documentation into master?

[2019-09-10 17:56] yakman2020 commented on #2056
@mikbras Pls add detail....

[2019-09-10 18:17] CodeMonkeyLeet commented on #2146
I'd break the `TODO` list in order of priority:

- [ ] Fix existing `#include` statements that have incorrect relative paths
- [ ] Refactor shared headers that are referenced using relative paths into root relative path `include/openenclave/internal`
- [ ] Organize the set of `include/openenclave/internal` headers (e.g. as has been done with `include/openenclave/internal/crypto`
    - @mikbras Fee

[2019-09-10 18:41] HernanGatta commented on #2066
I'll get the documentation into master as well as the PowerShell script that goes along with it.

[2019-09-10 19:39] radhikaj commented on #848
We are still debating whether GRPC or CURL should be supported inside the enclave. Moving this to backlog . Will move to milestone after we have definite requirements from partner or customer

[2019-09-10 19:41] radhikaj commented on #1852
Moving this to backlog

[2019-09-10 19:47] radhikaj commented on #2037
Since we are not checking in this implementation of switchless ecalls, closing the issue.

[2019-09-10 19:47] #2037 closed

[2019-09-10 20:20] radhikaj commented on #2118
@prp please let us know if we can close this issue.

[2019-09-10 20:23] radhikaj commented on #2038
@radhikaj  @CodeMonkeyLeet  Lets add release note that we are deprecating this.

[2019-09-10 20:27] prp commented on #2118
Since I did not realise that SECS.MISCSELECT.EXINFO only pertains to SGX2, and we need a solution that works with SGX1, I am closing this issue.

[2019-09-10 20:27] #2118 closed

[2019-09-10 21:06] jazzybluesea commented on #2137
In an ACCVM compile the source code with USE_LIBSGX=OFF.
mkdir build
cd build
cmake -G "Unix Makefiles" -DUSE_LIBSGX=OFF ..
make

[2019-09-10 23:39] HernanGatta commented on #2066
@melhindi, this is being addressed with PR #2159. Please feel free to comment on it if you'd like more information than what's being added.

Thank you.

[2019-09-11 00:25] jxyang opened #2160 "Allow wait-n-wake for switchless worker threads"
This worker thread implementation loops waiting for switchless calls to be made. This is inefficient. We should make them sleep if there are no calls coming for a period of time, and awaken when there is one.

[2019-09-11 00:26] jxyang opened #2161 "Enable testing switchless on Windows"
The test case for switchless currently only runs on Linux.

[2019-09-11 00:30] jxyang opened #2162 "Standardize thread routine signature across Windows and Linux"
The Linux `pthread_create` and Windows `CreateThread` functions expect the function pointer to have different signatures. This causes type mismatch with the newly added `oe_thread_create`, which aims to launch threads on both platforms.

@mikbras Suggested the following:

[2019-09-11 01:38] HernanGatta commented on #2139
I've been thinking about this for a while, and it's both a problem and not a problem, depending on how one looks at it. From a purely practical perspective, it does not appear to be a problem. From a theoretical perspective, however, these functions are, at least, incorrectly named. @mikbras and @dthaler also have their thoughts about them.

----

The following is an initial pass at an analysis of

[2019-09-11 19:49] mikbras commented on #2151
PR #2164 addresses this issue.

[2019-09-11 20:39] radhikaj commented on #2118
Thank you @prp

[2019-09-11 21:36] dthaler opened #2168 "Inconsistent process for determining PR assignees"
GovernanceModel.md explains:

Maintainers.md says regarding maintainers:

and regarding committers:

Contributing.md on the other hand says:

Note the requirement about maintainers being here but not mentioned in the maintainer responsibilities on other pages.

The above does not say how to determine who that should be.  (The Maintainers.md page implies it should be all committers with an area rel

[2019-09-11 21:41] dthaler commented on #2168
It's also unclear whose responsibility it is to follow the "DO tag any users that should know about and/or review the change."   Is every contributor expected to know this (seems hard for new contributors)?  Is every committer responsible for reviewing the set of assignees?

[2019-09-11 21:44] dthaler opened #2169 "Release process is unclear"
Releasing.md says:

Who is the "we"?  Is it the Community Maintenance Committee?

How is the choice made?

Why is "release" not one of the areas of responsibility on the Maintainers.md page?

[2019-09-11 21:47] radhikaj opened #2170 "Issue in Intel's EnclaveCommonAPI nuget pacakge"
Currently, there is an issue in Intel's EnclaveCommonAPI nuget pacakge which causes the nuget package manager into thinking that the package isn’t installed properly, and so when we install another nuget package after installing this EnclaveCommonAPI package, we get a dependency error pointing to the EnclaveCommonAPI package even with packages that have no relationship to the EnclaveCommonAPI pack

[2019-09-11 22:46] johnkord commented on #2169
As for the term "we" in the example context, I think it would be a consensus of committers. Should this be the CMC's role? What do you all think?

The choice of release manager was previously made by our manager. In the future, I imagine someone can use our automated build job in Jenkins to produce the bits, then propose for a vote from the committers on the produced bits, and if the vote passes,

[2019-09-11 23:54] andschwa commented on #2169
Definitely it's left to the committers. The whole committer group is primarily responsible for the technical direction of the project (which includes releases, in my opinion). It should not be on the CMC. The CMC exists primarily to resolve disputes among the committers.

[2019-09-12 00:17] deeglaze commented on #2136
Nope! :D thanks for your assistance.

[2019-09-12 00:17] #2136 closed

[2019-09-12 23:40] jxyang opened #2174 "Convert `oe_handle_init_switchless` into an EDL defined function"
Per @anakrish's comments:

"Consider making this an EDL defined function. That would reduce the number of security checks needed to be coded explicitly.
We have actively tried to minimize the number of hand-written edge functions."

[2019-09-13 18:46] radhikaj opened #2177 "Add support for Intel's DCAP client and document support"
As of now, the getting instructions speak of Azure DCAP Client. This is because Intel's DCAP client is not tested.
Please test and update instructions and pre-install scripts.

Intel's DCAP client should be default and documented as such in Getting Started.

[2019-09-13 18:48] radhikaj opened #2178 "Update install prereqs script to support VS2019"
I tested out building OE with VS2019 build tools and it appears to be OK. Maybe we could update the install prereqs and CI/CD t start using VS2019? We can also change all getting started docs to say 2019 instead of 2017.

[2019-09-13 20:09] CodeMonkeyLeet opened #2179 "Remove customization of mbedTLS x509write_crt.c"
To support the attested TLS functionality (PR #1761), certificates generated in the enclave for this purpose needed to contain embedded attestation report data, which pushed the size of the certificates past the 8KB limit supported by mbedTLS `mbedtls_x509write_crt_der()` method.

3rdparty/mbedtls/mbedtls/library/x509write_crt.c was modified to support writing out arbitrarily large certificates to

[2019-09-14 00:12] jxyang opened #2180 "Allow global constructors to call switchless functions"
Per @anakrish :

"Since switchless is initialized after enclave has been initialized, any switchless calls that are made by global constructors (constructors of global C++ objects or functions with constructor attribute) within the enclave will not work."

[2019-09-14 07:02] soccerGB opened #2181 "Hit OE_QUOTE_PROVIDER_CALL_ERROR error when trying to get QE Identity"
The following commit  accidentally regresses qe identity feature when running with Azure DCAP 1.1.
Enable sgxquoteprovider loading on Windows (https://github.com/openenclave/openenclave/commit/37f19bca9992e5ea8939556890962ac08ec5b119)

qe_identity api on the quote provider client should be

"sgx_get_qe_identity_info" and "sgx_free_qe_identity_info

instead of

"sgx_ql_get_qe_identity_info" and  "s

[2019-09-14 15:35] #2181 closed

[2019-09-17 17:09] johnkord commented on #2178
We should support both 2017 and 2019 with this script.

[2019-09-17 17:17] johnkord commented on #2169
I will add an item for the next CGC meeting to discuss this.

[2019-09-17 17:25] johnkord commented on #2162
We'll go with a POSIX approach, but on Windows we'll use a TLS/thread-specific-data variable.

[2019-09-17 21:07] andschwa commented on #2168
Yeah that's exactly what happened.

[2019-09-17 23:08] jxyang opened #2187 "oe_handle_init_switchless can be called multiple times"
We should error out if that's called more than once.

[2019-09-18 03:21] CodeMonkeyLeet opened #2188 "TestRdrand does not effectively test oe_rdrand handles saturation of the RDRAND interface."
This test does not actually manage to exhaust the RDRAND entropy pool regardless of the number of iterations run since the operation of retrieving the RDRAND value through the bus architecture is slow enough that a single thread can't saturate the interface regardless of the number of iterations run. A slight modification of the code and use of debugger breakpoints reveals that the calls during th

[2019-09-18 18:32] CodeMonkeyLeet commented on #2179
Per @johnkord on #2184:

Looking at their Git history and comments:
* It will be in the upcoming dev release 2.19
* It will [not be backported](https://github.com/ARMmbed/mbedtls/pull/2632#issuecomment-505356083) to either [LTS branches 2.7 or 2.16](https://github.com/ARMmbed/mbedtls/pull/2632#issuecomment-501743982)

[2019-09-18 22:19] andschwa commented on #2168
I think we've actually resolved this between #2173 and #2166. The wording is now correct, and auto review tagging is happening.

[2019-09-18 22:26] dthaler commented on #2168
Contributing.md still says 'DO tag any users that should know about and/or review the change."
If auto-review tagging is sufficient, then this DO can go away.
If it is not sufficient, then this DO is still insufficient in terms of being actionable.

[2019-09-18 22:28] dthaler commented on #2168
I see you're updating the wording of that in PR #2190

[2019-09-19 01:39] andschwa commented on #2168
Closing, let me know if it’s insufficient.

[2019-09-19 01:39] #2168 closed

[2019-09-19 10:09] #2144 closed

[2019-09-19 10:32] #1941 closed

[2019-09-20 17:46] pyliaorachel opened #2191 "Crypto API header issues"
There are two issues with the crypto API:
1. `oe_cert_read_pem` is under both [include/openenclave/internal/crypto/cert.h](https://github.com/openenclave/openenclave/blob/master/include/openenclave/internal/crypto/cert.h) and [include/openenclave/internal/cert.h](https://github.com/openenclave/openenclave/blob/master/include/openenclave/internal/cert.h), but the former one is included by the latte

[2019-09-20 17:57] dthaler opened #2192 "Internal headers aren't under internal/"
corelibc/pthreads.h is one of several examples of headers that are not under /internal and are not published into the SDK.   This causes confusion (plus makes CODEOWNERS harder to maintain).

We need to keep public (i.e., published) headers in a separate subdirectory than internal (i.e., non-published) headers.  Currently we have internal/ for internal headers, so one way to address is to keep all

[2019-09-20 20:51] johnkord commented on #2191
Thanks @pyliaorachel for filing this issue!

[2019-09-23 18:57] CodeMonkeyLeet commented on #2191
I came across this as part of the crypto support for Windows work and it looks like the separation is intentional but not intuitive:

- Headers under [include/openenclave/internal/crypto](https://github.com/openenclave/openenclave/blob/master/include/openenclave/internal/crypto) are part of the "runtime-public" interface. It is the set of functions that must be implemented/usable by a crypto libra

[2019-09-24 17:59] #242 closed

[2019-09-24 18:35] CodeMonkeyLeet commented on #2188
Per triage, we're not going to modify the test to actually test RDRAND saturation and the workaround to reduce the overhead of this test by reducing the iterations run in PR #2189 is sufficient.

[2019-09-24 18:35] #2188 closed

[2019-09-25 21:05] BRMcLaren opened #2199 "install-windows-prereqs.ps1 hangs during server set up"
During Windows server set up, the prereq script gets stuck while installing LLVM

[code]

[2019-09-25 21:59] #1457 closed

[2019-09-26 00:56] santoshx opened #2201 "[ERROR]sgxquoteprovider: sgx_ql_set_logging_function not found"
USERx2@VMs-Demo:~/openenclave/samples/remote_attestation$ make run
host/attestation_host ./enclave_a/enclave_a.signed ./enclave_b/enclave_b.signed
Host: Creating two enclaves
Host: Enclave library ./enclave_a/enclave_a.signed
Enclave: ***../common/crypto.cpp(76): mbedtls initialized.
Host: Enclave successfully created.
Host: Enclave library ./enclave_b/enclave_b.signed
Enclave: ***../common/crypto

[2019-09-26 00:59] santoshx commented on #2201
No symbol "sgx_ql_set_logging_function" found in Intel sgx sdk (github.com:intel/linux-sgx).

[2019-09-26 03:57] radhikaj opened #2202 "Change oe_enclave_config_context_switchless_t to oe_enclave_setting_context_switchless_t"
See PR #2195 @dthaler states
"I don't think "more than one configuration" is what we mean, since in normal English, configurations are alternatives, meaning you only use one configuration at a time (e.g., configurations of a project in Visual Studio, etc.). Instead I think they are configuration options, or configuration elements, or configuration parameters.

This may mean the variable name and s

[2019-09-26 04:05] radhikaj opened #2203 "Drop OE_CONTEXT_SWITCHLESS_EXPERIMENTAL_FEATURE"
Drop  OE_CONTEXT_SWITCHLESS_EXPERIMENTAL_FEATURE in host.h
Move oeedger8r to use --preview for the context switchless feature.

[2019-09-26 06:08] jazzybluesea opened #2205 "Split up attestation report tests into SGX and non-SGX tests."
Report tests that are SGX specific should be moved into a common file named sgx_tests.cpp.   Non-sgx tests should be moved to another file.

[2019-09-26 06:13] jazzybluesea opened #2206 "SGX: Add support for attestation collaterals."

[2019-09-26 16:31] jazzybluesea opened #2208 "SGX: QE identity info is now required from the DCAP provider."
1. Previously if the quote provider did not return a valid QE identity info, the quote would be validated with a set of hard coded values.  Now it is required for the quote provider to return a valid QE identity info, this info is then used to verify the quote.
2. Fix doxygen documentation.

[2019-09-27 09:50] santoshx opened #2210 "hyperv: ubuntu 18.04: sample apps won't run"
x01:~/samples/helloworld$ make run
host/helloworldhost ./enclave/helloworldenc.signed
09:42:48:131556 tid(0x7fa0376d7740) (H)[ERROR]enclave_create with ENCLAVE_TYPE_SGX1 type failed (err=0x1) (oe_result_t=OE_PLATFORM_ERROR)[/home/jenkins/work_dir/workspace/OpenEnclave-v0.6.x_packages/host/sgx/sgxload.c oe_sgx_create_enclave:535]
09:42:48:131761 tid(0x7fa0376d7740) (H)[ERROR]:OE_PLATFORM_ERROR[/hom

[2019-09-27 09:51] santoshx commented on #2210
Looks like pre-built oe-sdk has some hard coded paths.

[2019-09-27 09:57] santoshx commented on #2210
Looks like failures are because my hardware do not have FLC.

[2019-09-27 09:57] #2210 closed

[2019-09-27 15:43] letmaik opened #2211 "pthread_cond_timedwait support inconsistent with docs"
https://github.com/openenclave/openenclave/blob/v0.6.0/docs/LibcSupport.md says it is supported but at runtime I get
[code]
which comes from https://github.com/openenclave/openenclave/blob/4dd1e2e5787198e4d5d0de12c439f229465ee149/enclave/core/pthread.c#L241-L251

Can the docs be consistently kept up to date? Otherwise they have not much value.

Aside from the docs issue, can `pthread_cond_timedwai

[2019-09-27 20:55] radhikaj opened #2212 "Samples: Change function params of type size_t to unsigned int"
Certain function params which are of type size_t in samples need to be explicitly cast to unsigned int. This is because the crypto libraries expect the param to be of type unsigned int. Changing the params to unsigned int in the edl will get rid of the need to cast the params from size_t to unsigned int.. See PR #2204

[2019-09-28 05:31] #2208 closed

[2019-09-30 21:05] #2036 closed

[2019-10-01 21:13] dthaler opened #2214 "API docs are too hard to find"
Currently they're hidden in the obscure "Versions" link at openenclave.io

There's nothing about docs, or APIs, or anything else that one would be looking for to find API docs.   And the main GitHub/openenclave readme docs just point to openenclave.io.

[2019-10-01 21:16] dthaler opened #2215 "Getting Started information is contradictory"
http://openenclave.io/sdk/ says you have to use Azure to get started, and you must have something that is SGX FLC capable.

https://github.com/openenclave/openenclave under Getting Started instead says you don't need Azure, and there are alternatives that don't require SGX FLC.

Neither indicates that there's two different pages that both cover Getting Started.

[2019-10-01 21:20] dthaler opened #2216 "Add @experimental doxygen custom tag"
@CodeMonkeyLeet wrote:

@experimental can be done in doxyger after putting into Doxyfile the following:
[code]
This uses the custom tags mechanism explained in the stackoverflow thread: https://stackoverflow.com/questions/537043/custom-tags-with-doxygen

Example use of @experimental in another GitHub project: https://github.com/blynkkk/blynk-library/commit/579545d1662c6285dc14cb145ce77b36ee9573fa

[2019-10-01 21:30] johnkord opened #2218 "Generalize DCAP Client consumption in the OE SDK build"
The OE SDK expects to use the Azure DCAP Client for most of its relevant build configurations. This should be generalized to work with any kind of DCAP Client that implements the DCAP Client interface.

[2019-10-01 22:14] johnkord opened #2219 "Investigate why we are implementing padding in the data-sealing sample."
As per @CodeMonkeyLeet 's comments in PR #2204, "It seems like that should have been a part of the encipherment process rather than something the app does."

[2019-10-01 22:32] johnkord opened #2220 "Samples should not have unused parameters"
Based on the comments from PR #2204, the samples should not require people to cast parameters to void because they are unused.  The functions should be designed to not take those unused parameters in the first place

[2019-10-02 16:34] johnkord opened #2222 "Transition to using Kubernetes with Jenkins for CI/CD processes"
This issue is for tracking improvements to our CI/CD infrastructure to use a k8s cluster with SGX-enabled nodes for both Linux and Windows.

1. We should have at least one scaleable node-set for each distribution/OS that we want to support.
2. We should also have one scaleable node-set for each different SGX driver configuration that we want to support.
3. We should automate the maintenance of the

[2019-10-02 17:38] vtikoo commented on #2008
Part II PR fixing this issue: https://github.com/openenclave/openenclave/pull/2045. There are handful of handwritten EDL's which have been verified as being safe.

[2019-10-02 17:40] BRMcLaren commented on #2008
Closing on behalf of Vikas.

[2019-10-02 23:15] gupta-ak commented on #2219
I think it's because the aes mbedtls module doesn't add padding in automatically. You need to use the cipher module and set the encryption mode to AES and the padding mode to PKCS7

[2019-10-02 23:48] anakrish opened #2227 "windows: install_prereqs should not abort if user wants to retain their version of git"
I have a newer version of git (2.23.0) installed in my machine. The install-windows-prereqs wants me to downgrade it to 2.19.1. If I choose no, it aborts rest of prereqs installation.

[2019-10-02 23:48] anakrish commented on #2227
@johnkord Can you help assign it to the right person?

[2019-10-03 13:11] parthsane commented on #1810
@CodeMonkeyLeet Could you help me get more information on the RPC interface, maybe the documentation?

[2019-10-03 16:27] CodeMonkeyLeet commented on #1810
@parthsane The RPC interface remains officially undocumented by Intel, so our current direction is to simply take a dependency on the EnclaveCommon API package that comes with the Windows DCAP drop today. That comes with a debug lib so it's possible to reverse engineer the RPC interface, but given that Intel has not committed to providing that as a stable API surface (much like the original COM in

[2019-10-04 18:47] tehsiuhuang opened #2235 "Not able to sign CLA with the link provided"
https://cla-assistant.io/openenclave/openenclave?pullRequest=2233

Following is the detail error mg:

Error
There is no CLA to sign for openenclave/openenclave

(<!DOCTYPE html>     <html class="no-js" lang="en-US">  <head> <meta http-equiv="refresh" content="0"> <title>cla-assistant.io | 524: A timeout occurred</title> <meta charset="UTF-8" /> <meta http-equiv="Content-Type" content="text/html; c

[2019-10-04 19:17] radhikaj opened #2236 "Fix switchless sample for Windows"
The host side of the sample invokes Linux time APIs. These need to be Windows APIs on Windows.

[2019-10-04 22:40] radhikaj opened #2237 "No pdb generated for enclaves built in samples"

[2019-10-04 23:02] #2237 closed

[2019-10-04 23:02] radhikaj commented on #2237
Was a mistake. I see the host pdbs.

[2019-10-07 16:09] prp commented on #2201
@santoshx Did you install the az-dcap-client library?

[code]

[2019-10-07 18:03] jazzybluesea commented on #2199
I am also getting hang during installation:

PS C:\Users\sewong\Sources\jazzybluesea\openenclave\scripts>  .\install-windows-prereqs.ps1 -InstallPath C:\nugetpkg -La
unchConfiguration SGX1FLC -DCAPClientType Azure
**** Installing PSW 2.4 ****
Downloading all the packages to local directory: C:\Users\sewong\AppData\Local\Temp\2\packages

    Directory: C:\Users\sewong\AppData\Local\Temp\2

Mode

[2019-10-07 18:08] jazzybluesea commented on #2199
I ran it again and it's failing to install vs_buildtools.exe.

Failed to install: C:\Users\sewong\AppData\Local\Temp\2\packages\vs_buildtools.exe
at Install-Tool, C:\Users\sewong\Sources\jazzybluesea\openenclave\scripts\install-windows-prereqs.ps1: line 292
at Install-VisualStudio, C:\Users\sewong\Sources\jazzybluesea\openenclave\scripts\install-windows-prereqs.ps1: line 426
at <ScriptBlock>, C:\U

[2019-10-07 19:19] santoshx commented on #2201
@prp
I get the same error even after installing az-dcap-client library.

$ dpkg -l az-dcap-client | grep az-dcap
ii  az-dcap-client 1.1          amd64        Intel(R) SGX DCAP plugin for Azure Integration

[2019-10-07 19:46] prp commented on #2201
@santoshx Did you try updating the linker invocation? I think that library provides that missing symbol, no?

[2019-10-08 03:56] radhikaj commented on #2202
Fixed in PR #2195

[2019-10-08 03:56] #2202 closed

[2019-10-08 03:56] radhikaj commented on #2203
Fixed in PR #2195

[2019-10-08 03:56] #2203 closed

[2019-10-08 07:53] santoshx commented on #2201
@prp It worked after I switched to newer driver kernel module 'intel_sgx' from 'isgx'.

[2019-10-08 07:54] #2201 closed

[2019-10-08 15:16] #2147 closed

[2019-10-08 17:41] jxyang opened #2240 "Windows get started doc errors"
On the Windows get started docs [1](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsSGX1FLCGettingStarted.md) and [2](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsSGX1GettingStarted.md), we state:
[code]

Shouldn't we replace `C:\path\to\where\you\would\like\to\install\intel_and_dcap_nuget_pack

[2019-10-08 17:58] jxyang commented on #2240
It is probably worth mentioning the above command needs to be run from a administrator Power Shell prompt.

[2019-10-08 19:56] radhikaj opened #2241 "Windows 10 Update pushed down PSW2.5 breaking Windows 10 client systems with SGX1 support"
Client systems running Windows 10 Update got an update which installed Intel PSW 2.5 on their systems.  Open Enclave SDK is only compatible with Intel PSW 2.2 for SGX1 hardware.Windows Client systems usually do not run on SGX1+FLC enabled hardware. They generally only run on SGX1 hardware.

Currently, The Open Enclave SDK is supported on the following Windows configurations:
Windows Server 2016 on

[2019-10-08 21:31] johnkord opened #2243 "Upload node-*.msi to oejenkins storage account for oe-windows-acc-setup.yml"
Cache the "https://nodejs.org/dist/v10.16.3/node-v10.16.3-x64.msi" installer that is being referenced by the scripts/ansible/oe-windows-acc-setup.yml file into the oejenkins storage account.

As per this change in this PR: https://github.com/openenclave/openenclave/pull/2221/files#diff-8781bf4f73f132ba75cfd1e3c4c76eb8

[2019-10-08 21:58] dthaler commented on #2241
Is there a way to downgrade PSW on windows 10 back to version 2.2?

[2019-10-08 22:28] radhikaj commented on #2241
No Dave, there is not one that we have found.

[2019-10-12 09:39] letmaik opened #2252 "0.7-rc1 breaks installation on non-SGX machines"
If you use `-DUSE_LIBSGX=OFF` then on importing OE via `find_package(openenclave)` it errors with:

  -- Looking for sgx_enclave_common library - not found

This code is faulty:
https://github.com/openenclave/openenclave/blob/abecb10d12871432b1e7ac9e4b50550b51625b2c/cmake/openenclave-config.cmake.in#L75-L109

This should have been caught by CI, please check the setup, maybe some configuration is m

[2019-10-15 09:48] achamayou commented on #2252
The samples are only tested agaisnt the binary package, and there is no binary package produced with -DUSE_LIBSGX=OFF as far as I can tell.

[2019-10-15 17:17] johnkord opened #2255 "Release a binary package of Open Enclave tools that can be useful on a given platform"
There are some tools which could be very useful for users, like "oesgx" and "oesign". We should consider whether to release a package that contains useful tools like these.

[2019-10-15 18:42] CodeMonkeyLeet opened #2256 "OE SDK packages need a key/signing strategy"
Per CGC meeting, we need to determine if we want to have the public packages distributed from the GitHub releases to be signed and issues of key ownership & signing process for the different package formats (nuget, apt, rpm).

Related to #2255.

[2019-10-15 18:49] CodeMonkeyLeet commented on #1920
Per [CGC](https://aka.ms/openenclave/cgc) meeting, processes we will introduce as part of this:

- We will require 2 approvals and an approval to come from CODEOWNERS as enforced by tooling.
- This is only a baseline that is automated, it is still the responsibility of committers to ensure that appropriate review coverage is provided before merging PRs.

[2019-10-15 18:52] achamayou commented on #2256
Is OpenEnclave going to ship rpms? If so, does it mean that RHEL/CentOS is going to be a supported platform?

[2019-10-15 20:58] jxyang opened #2258 "Consolidate SGX1 and SGX1FLC flows"
Currently we try to support multiple ways to create/initialize enclaves and get a quote in OE. Some of them are already broken for certain configurations, some of them are named in a confusing way, and some of them require certain packages to be installed but that are not enforced in the installation scripts.

One problem caused by this issue is #2241. We relied on an AESM flow on Windows that has

[2019-10-15 22:24] johnkord commented on #2252
Thanks for the report @letmaik!

I'd like to understand how you are using the OE SDK in this configuration so I can use it for guidance in the future! We can add a CI test case for it.

In this case, are you downloading & installing the 0.7.0-rc1 .deb package and then attempting to build an application using the cmake package with `find_package(openenclave)`?
Or did you build the OE SDK from sourc

[2019-10-15 23:03] CodeMonkeyLeet commented on #2256
There's been an interest in supporting RHEL (and CentOS by extension) but it's never made it to the front of our priority queue. One of the reasons for it would be parity with the support provided by Intel SGX SDK (which would also put SuSE on our list of desired platforms to support, but .deb and .rpm are the two big package formats we are thinking about in this discussion; I believe SuSE also us

[2019-10-16 07:46] achamayou commented on #2252
@johnkord the assumption that all systems should have libsgx was not clear to me either. In particular, the deployment options (https://github.com/openenclave/openenclave/tree/master/scripts/ansible#open-enclave-deployment-options-via-ansible) list the "OpenEnclave Vanilla Environment" and explicitly mention that doesn't install SGX packages. It works fine too (apart from this recent cmake change)

[2019-10-16 09:09] letmaik commented on #2252
@johnkord Makes sense. I build the OE SDK from source with `-DUSE_LIBSGX=OFF` and use `find_package(openenclave)`. This is for building a client using the hostverify library. Since the  hostverify library does not require the Intel Enclave Common library I wanted to avoid having to install it during the build. I realize though that this is only one of the annoyances and as discussed offline it sho

[2019-10-16 17:15] jxyang commented on #2252
@letmaik Are you working on Linux?

It has been the assumption that `sgx_enclave_common` has to be installed for building OE SDK, even on non-sgx systems. #2250 enforces this policy more cleanly.

Your case is interesting in that you are not using oehost for creating enclaves but only the host verification.  We are already building oehostverify as a standalone static library. I am not sure whether

[2019-10-16 18:04] jxyang commented on #2252
@letmaik I believe #2250 will solve your problem. You just need to build OE SDK with OE_SGX=OFF. Then cmake won't look for sgx_enclave_common anymore.

[2019-10-16 18:07] letmaik commented on #2252
@jxyang Yes, I work on Linux. I'm fine with having `sgx_enclave_common` as dependency for building OE in general, but it would be very useful to be able to build the hostverify library without requiring all the regular OE dependencies. This is because it makes it unnecessarily hard to build clients on a wider range of platforms, like CentOS.

Regarding OE_SGX, this is not mentioned in the PR descr

[2019-10-16 18:15] jxyang commented on #2252
@letmaik We haven't decided whether to take #2250 in v0.7, that's why it's not in the release notes.

OE_SGX was intended to separate cmake flow relevant to Intel SGX from the ones relevant to ARM TrustZone. As I read the code, I realized it could be applicable to your case which has neither Intel SGX nor ARM trustzone. It's lucky that we don't need further changes to fix your problem. John could

[2019-10-16 19:15] jxyang commented on #2252
It was added to deal with a build failure on TrustZone after the PR was created. I will add to the description when doing a rebase before the merge.

Good catch on line 146. We should move it inside the `if (OE_SGX)` block. I will update the PR.

[2019-10-17 18:27] #2258 closed

[2019-10-18 09:14] letmaik opened #2263 "Allow building only hostverify library and with minimal build dependencies"
OE provides roughly two parts: a) multiple libraries to develop and manage enclaves (target: platform that runs enclaves), and b) the hostverify library to ensure secure communication with remote enclaves (target: any platform, e.g. lightweight clients without enclave support).

Building clients that use the hostverify library currently is unnecessarily complicated. In many cases the provided Ubun

[2019-10-18 09:15] letmaik commented on #2252
As the extra build dependency to the Intel libraries was added to the changelog I'm closing this in favor of #2263.

[2019-10-18 09:15] #2252 closed

[2019-10-18 17:42] johnkord opened #2264 "oesign is dynamically linked to sgx_enclave_common and other libs"
oesign shouldn't need any of the symbols in sgx_enclave_common or other Intel libraries, so it shouldn't be dynamically linked against them

oesign being dynamically linked to some sgx_* libraries causes an issue on Windows, because the Intel SGX PSW cannot be installed on systems without SGX, and those libraries are provided by the Intel SGX PSW, but oesign.exe requires them to run. It is therefo

[2019-10-18 19:42] johnkord commented on #2263
Completely agree with this. We should offer a simple interface for building only the hostverify library, and to make sure it doesn't link to any unnecessary libraries.

Thanks for filing this issue @letmaik !

[2019-10-18 20:17] dthaler commented on #2263
+1.  For libraries designed to run on non-TEE platforms, we should also provide a way for developers who want to just consume them in binary form, rather than requiring compiling them at all.

[2019-10-18 21:34] dthaler opened #2266 "oe_verify_report will fail on big endian machines"
OE's goal is to be processor/architecture agnostic, but today it is not.   Currently oe_verify_report calls oe_parse_report after simply casting the buffer to a struct.   When the report-generator and the report-parser are on different endian machines, oe_parse_report will fail because the 32-bit version field won't match the expected number (because the bytes will be reversed).  As such, a big en

[2019-10-18 23:22] CodeMonkeyLeet opened #2267 "Update Windows docs around manual install dependencies for Win10/WinServer2019"
WindowsManualInstallPrereqs.md has reinstated support for Win10 1709, but both  WindowsManualSGX1FLCDCAPPrereqs.md and WindowsManualSGX1Prereqs.md instructions are still focused on WS2016.

For Win10 RS3+ and WS2019, the instructions should really be using the `PSW_INF_RS3_and_above` version (and should actually be auto-installed already) and the DCAP installation should be using the `DCAP_INF\Win

[2019-10-23 01:40] HernanGatta opened #2274 "C++ Exceptions in OP-TEE OS"
C++ exceptions are known to not work correctly in OP-TEE OS-based enclaves.

When an exception is thrown and the unwinder kicks in, it fails to properly compute its location in the stack. Therefore, it cannot properly traverse the exception frames to find the corresponding handler even if one is defined.

This had been worked around partially in the `features.new_platforms` branch by altering the

[2019-10-23 01:41] HernanGatta opened #2275 "OP-TEE OS Test Case Failure"
Regression test case 1009 from the OP-TEE `xtest` test suite fails on the TrustBox using the current fork of OP-TEE used for Open Enclave.

[2019-10-23 01:44] HernanGatta opened #2276 "Failure to add breakpoint in enclave in QEMU after boot"
When debugging OP-TEE OS-based enclaves in QEMU, it is not possible to add a breakpoint in the enclave after the emulated system has booted up. One may thus only add breakpoints before the emulated CPU is allowed to run.

This might be a bug in the GDB version that ships with Ubuntu 18.04 LTS, with the version of QEMU that is built for OP-TEE debugging, or with the combination of the specific vers

[2019-10-24 19:01] BRMcLaren opened #2278 "Enable Control Flow Guard"
We need to enable Control Flow Guard to comply with internal build policies for the signed distribution of the SDK.

[2019-10-25 23:08] jxyang opened #2282 "tests/samples fail on Windows"
Running `ctest` after build on Windows, all tests are passing except for `samples`, with the following error message:
[code]

I believe that's because the command we use to test samples is as follows:
[code]
And in `test-samples.cmake`, we concatenate `BUILD_DIR` and `PREFIX_DIR` to generate `INSTALL_DIR`, resulting in the illegal path `C:/openenclave/build/C:/openenclave/...`

This is not an issu

[2019-10-28 10:42] jumaffre opened #2283 "oe_verify_report (enclave) takes seconds to execute"
In CCF, we've recently observed that a call to `oe_verify_report()` in the enclave can take a significant amount of time to execute (about 2 seconds). We rely on this function to verify the quote of new nodes joining a CCF network.

This is an issue (https://github.com/microsoft/CCF/issues/480) for us as the CCF's enclave code is single-threaded for now and such calls block execution of other comm

[2019-10-28 18:16] jhand2 commented on #1789
cc @radhikaj and @CodeMonkeyLeet

@anitagov reduced the EPC heap page count to `512`. At a page size of `4096` bytes, that leaves a total of `2097152` bytes of enclave memory.

The first line of the sscanf_long test is basically `char *s = malloc(8 * 1024 * 1024);` which is 4 times the available EPC memory.

Basically there are three options:
1. Change the tests to malloc a smaller buffer
2. Incre

[2019-10-28 23:56] CodeMonkeyLeet commented on #1789
Regarding option 2, have we tried splitting the difference? We've generally tried to keep the total enclave size down to under 16MB for execution on Windows, and with 4096 heap pages we're still at 8MB just for heap space. If you debug through the host side for host/sgx/create.c:_calculate_enclave_size result, you can probably see if we can tweak the value to fit in 16MB while having enough heap s

[2019-10-29 18:40] jhand2 commented on #1789
Without changing anything from master, libc_enc (the libc tests in question) has an enclave size of 32MB. Thats 2MB heap, ~10MB image size, and ~1MB stack and control per thread with print * 4 threads. That leaves us with just over 16MB, and then the size is rounded up to a power of 2 (32).

Cutting stack page count in half gets us to 16MB enclave size.

To make the `sscanf_long` test pass, heap s

[2019-10-29 23:25] radhikaj commented on #2241
Closed by "Consolidate SGX1 and SGX1FLC flows #2258"

[2019-10-29 23:25] #2241 closed

[2019-10-29 23:26] radhikaj commented on #2240
Fixed this in https://github.com/openenclave/openenclave/pull/2273

[2019-10-29 23:26] #2240 closed

[2019-10-29 23:29] #2236 closed

[2019-10-30 15:12] wintersteiger opened #2285 "Spurious syscall warnings"
Some syscalls trigger spurious warning messages. The warnings are emitted here: https://github.com/openenclave/openenclave/blob/0deb7c67911e22b3151997f4f631ed5cf4ad7e30/syscall/syscall.c#L815

However, some system calls _are_ handled, but elsewhere:
https://github.com/openenclave/openenclave/blob/0deb7c67911e22b3151997f4f631ed5cf4ad7e30/libc/syscalls.c#L257

In our case, this message is triggered

[2019-10-30 20:37] radhikaj commented on #2161
This is running now.

[2019-10-30 20:37] #2161 closed

[2019-10-30 20:44] radhikaj commented on #2130
Fixed in Pr #2125

[2019-10-31 08:11] soccerGB opened #2287 "Report unit test failure in tests/report/common/tests.cpp:1355 when valid_from.seconds happens to be zero"
https://github.com/openenclave/openenclave/blob/a3ea8e5cea97a52ad0da9a8b3772ba0f1cd5a4de/tests/report/common/tests.cpp#L1355

valid_from.seconds -= 1;  <---when valid_from.seconds is 0, the subtraction will render 0xffffffff as result, which will fail VerifyReportWithCollaterals test.

Recommend: valid_from.seconds -> valid_from.year

[2019-10-31 18:34] #2287 closed

[2019-10-31 21:49] radhikaj commented on #1896
I am closing this as we dont need queues and ringbuffers in our current implementation

[2019-10-31 21:49] #1896 closed

[2019-10-31 21:52] radhikaj commented on #1870
@mikbras is this needed for SGX-LKL?

[2019-11-01 17:21] radhikaj commented on #1810
@jxyang @CodeMonkeyLeet Can we close this now that we can connect to AESM with the latest PSW?

[2019-11-01 17:25] CodeMonkeyLeet commented on #1810
Fixed by #2250. OE SDK no longer depends on the AESM COM interface deprecated in PSW 2.3+.

[2019-11-01 17:25] #1810 closed

[2019-11-01 17:30] radhikaj commented on #1717
@aserdean @andschwa @johnkord
If the PR fixes the issue, can it be closed?

[2019-11-01 17:39] #1194 closed

[2019-11-01 17:42] radhikaj commented on #1043
@CodeMonkeyLeet I think this is done. Can we close it?

[2019-11-01 17:45] radhikaj commented on #1030
@anakrish @jxyang can we close this?

[2019-11-01 17:48] CodeMonkeyLeet commented on #1043
Completed

[2019-11-01 17:48] #1043 closed

[2019-11-01 18:15] radhikaj commented on #378
Fixed in https://github.com/openenclave/openenclave/commit/3f2d0ae9eced9907eb04576416689b8bb5aeb363#diff-63eb31af3d294687e7be93ca2425166c

[2019-11-01 18:15] #378 closed

[2019-11-01 18:17] radhikaj commented on #377
Fixed in https://github.com/openenclave/openenclave/pull/2232

[2019-11-01 18:17] #377 closed

[2019-11-01 18:19] radhikaj commented on #47
Nuget packages are now available for Windows. Closing.

[2019-11-01 18:19] #47 closed

[2019-11-01 18:22] radhikaj commented on #38
This is now documented.

[2019-11-01 18:22] #38 closed

[2019-11-01 18:22] radhikaj commented on #37
This is now complete.

[2019-11-01 18:22] #37 closed

[2019-11-01 18:35] CodeMonkeyLeet commented on #1033
Closing this as outdated and tracking remaining tests as part of parent epic #39 directly.

[2019-11-01 18:35] #1033 closed

[2019-11-01 18:55] radhikaj commented on #1924
@yakman2020 We expect these to fail- fork etc. Could you please elaborate or close?

[2019-11-01 20:00] anakrish commented on #1030
Completed. We have implemented only switchless OCALL which has been requested by users. Switchless ecalls will be done at a later date based on requests.

[2019-11-01 20:00] #1030 closed

[2019-11-04 21:49] radhikaj commented on #1812
@mikbras it looks like there is an oe_exit() implementation. I am closing this, please reopen if you think it should be open.

[2019-11-04 21:49] #1812 closed

[2019-11-05 03:20] soccerGB commented on #1046
With the filesystem support, could we consider adding support for this?

[2019-11-05 03:22] soccerGB commented on #1230
I don't feel very strongly about this logging support.
Feel free to close it if you agree.

[2019-11-05 03:24] soccerGB commented on #1387
More debugging messages have been added around code next to the code logic that returns this error code. I don;t see any practical need to work

[2019-11-05 03:26] #1593 closed

[2019-11-05 03:26] soccerGB commented on #1593
This is a nice to have feature - non-essential.

[2019-11-05 21:52] radhikaj commented on #2047
Closing this now as we are not planning on supporting GRPC as of now.

[2019-11-05 21:52] #2047 closed

[2019-11-06 18:33] letmaik opened #2294 "esy requirement"
As part of our CI we also build OE master and then build apps against that, just to be aware of cutting edge breaking changes etc.
I noticed that "esy" is now required instead of the ocaml tools. I couldn't find clear/easy instructions on how to install esy in Ubuntu within a Docker container. I'd like to avoid using Ansible for this if possible. Any thoughts on this? The ocaml compiler was easily

[2019-11-07 19:36] CodeMonkeyLeet commented on #2283
@jazzybluesea Can you take a look at the profile of the `oe_verify_report()` call chain?

[2019-11-07 22:16] CodeMonkeyLeet commented on #2294
@andschwa Can you provide @letmaik with steps that do not require Ansible?

The Ansible solution is generally considered the supported solution so the easiest way would certainly be to run:

[code]

Looking at the implementation in [scripts/ansible/roles/linux/openenclave/tasks/esy-setup.yml](https://github.com/openenclave/openenclave/blob/master/scripts/ansible/roles/linux/openenclave/tasks/esy-s

[2019-11-07 22:17] CodeMonkeyLeet commented on #2285
@mikbras can you take a look at the syscall handling for nanosleep?

[2019-11-07 23:27] andschwa commented on #2294
@letmaik if you don't want to use Ansible, you can use the original Bash script I ported to Ansible (this playbook is pretty trivial, download and extract two tarballs and move some files around). It's here: https://github.com/esy/esy/blob/15f593510ea078b4b392b931c9572bc07a306119/scripts/install-esy.sh

You can also follow the instruction on [esy.sh](https://esy.sh/) to install via `npm` (it would

[2019-11-07 23:34] andschwa commented on #2294
Just for some background, most of this was driven by the fact that OCaml on Windows was absolutely not easy to get. While Ubuntu has OCaml compilers in the apt repos, the only easily installed version of OCaml for Windows was OCPWin, which is a third-party and unmaintained distribution.

[2019-11-08 01:41] CodeMonkeyLeet commented on #385
Completed

[2019-11-08 01:41] #385 closed

[2019-11-08 01:46] CodeMonkeyLeet commented on #1520
@anakrish As part of the work you're doing to standardize the oe_enter methods, can you update this issue with your relevant observations as well?

[2019-11-08 22:33] #2199 closed

[2019-11-09 01:27] CodeMonkeyLeet commented on #714
Closing out this manual task as completed, we will be approaching this from the static analysis angle in the next iterations.

[2019-11-09 01:27] #714 closed

[2019-11-11 13:47] letmaik commented on #2294
Thanks, I'm now using the script https://github.com/esy/esy/blob/15f593510ea078b4b392b931c9572bc07a306119/scripts/install-esy.sh which works fine. The only issue is that it got removed from the repository. For reference, I tried to install esy also via npm by installing npm via apt install, but apparently this package is broken as it conflicts with other library versions.

[2019-11-11 18:01] andschwa commented on #2294
@letmaik which package is broken and conflicting with other library versions, `npm`?

[2019-11-11 18:25] andschwa commented on #2294
@letmaik also I don't think it's that it was removed from the repo, but that it has yet to be added (it's from an open PR). If the script works well for you, I'm sure they'd appreciate the feedback.

I am going to close this issue as you were able to get it installed without adding any dependencies you didn't want. Thanks!

[2019-11-11 18:25] #2294 closed

[2019-11-11 18:26] andschwa commented on #2235
@CodeMonkeyLeet I am going to close this now as we're replacing CLA with DCO.

[2019-11-11 18:26] #2235 closed

[2019-11-12 22:09] jhand2 commented on #1789
Btw 4096 heap pages gets us to 16MB just for heap. 2070 is the absolute minimum to run this test which gets us to a little over 8MB. The image size is over 10MB so that's already well over the 16MB requirement.

[2019-11-13 12:53] iqsarv opened #2311 "Failed to get quote enclave identity information. OE_QUOTE_PROVIDER_CALL_ERROR"
I ran the remote attestation sample and getting the following error,

[code]

Some details about the platform,

[code]

[2019-11-13 18:25] jhand2 opened #2313 "Branch cleanup proposal"
I have noticed that the repo has many branches, many of them likely abandoned. Especially for developer/feature branches, these shouldn't be in the main repo. So my proposal is a few things:

1. Moving forward, all dev/feature development (by both contributors and committers) should be done in a fork  and then merged via a PR to master (or release branch if necessary). This is maybe already done b

[2019-11-13 21:02] jhand2 opened #2314 "Dead links in the Windows bootstrap script"
The intel links `IntelPSWURL` and `IntelDCAPURL` in `install-windows-prereqs.ps1` are dead.

I'll handle updating them. But I am opening this issue because nobody else seemed to notice. Do we not use these scripts in any CI or anything like that?

[2019-11-14 05:43] andschwa opened #2318 "Update bors"
I keep wanting to use `bors merge` which is in the latest Bors update. Instead of updating our instance, we should swap to the bors project's public instance. @BRMcLaren @chrisrod-MSFT Want to do this tomorrow or sometime this week?

[2019-11-14 05:44] iqsarv commented on #2311
The ansible-playbook is actually installing the following version

`az-dcap-client/bionic 1.1 amd64 [upgradable from: 1.0]`

I did a install of the new version which solved this issue,

`az-dcap-client/bionic,now 1.1 amd64 [installed]`

[2019-11-14 06:00] iqsarv commented on #2311
If you set the state to ‘present’, then Ansible will only check if the package is present. So if a newer package is available it won’t be installed.

I think the `present` should be `latest` in [here](https://github.com/openenclave/openenclave/blob/12e330a72373aa1d0281ecef78de594caa6f5fe1/scripts/ansible/roles/linux/az-dcap-client/tasks/stable-install.yml#L15)

[2019-11-15 19:34] jhand2 commented on #2314
Closed by https://github.com/openenclave/openenclave/pull/2316

[2019-11-15 19:34] #2314 closed

[2019-11-18 20:49] andschwa opened #2325 "Stop using oeedl_file.cmake"
It's an ancient script that we're trying to deprecate, but it's a lot of rote work to remove. It's not a great user experience because (a) it's not what we instruct consumers of the SDK to use and (b) it does a bunch of "magic" that is best done explicitly in each CMake file.

See the [CMake docs](https://github.com/openenclave/openenclave/blob/master/cmake/sdk_cmake_targets_readme.md#running-oeed

[2019-11-19 14:18] achamayou opened #2328 "Make entropy.h public"
Can entropy.h be made public? https://github.com/openenclave/openenclave/blob/71edd2cf92f52017410d5e3262628b962067560a/include/openenclave/internal/entropy.h

This would be convenient for users who want a reliable, cross-enclave source of randomness.

[2019-11-19 14:23] #2311 closed

[2019-11-19 16:27] achamayou commented on #2328
To clarify, I'm happy to do the PR if we think this is acceptable.

[2019-11-19 20:09] andschwa opened #2330 "Update internal EDL to use deep copy"
We're considering internal use of deep copy as the quality bar for which to make it non-experimental.

Here is the list of APIs that could benefit:

These could be collapsed into a single oe_syscall_getaddrinfo() if deep copy were used.
* oe_syscall_getaddrinfo_open_ocall()
* oe_syscall_getaddrinfo_read_ocall()
* oe_syscall_getaddrinfo_close_ocall()

These currently flatten the iovec struct today

[2019-11-20 17:49] CodeMonkeyLeet opened #2332 "3rdparty/mbedtls/config.h should not enable MBEDTLS_DEBUG_C by default"
PR #1894 enabled `MBEDTLS_DEBUG_C` option for all builds including Release builds. In reviewing the history of this change, it looks like this was done to enable the attested_tls sample to take a dependency on mbedtls debug settings. This bloats the size of the libmbedtls.a from 200720 to 332606 bytes (~66% increase) for devs who do not intend to use the mbedtls debug functionality.

For an actual

[2019-11-20 17:58] CodeMonkeyLeet opened #2333 "OE SDK should consider releasing a debug versions of its libraries"
OE SDK currently only releases a single Release with debug info version of the package for developers who do not wish to build the libraries from source. This creates some trade offs in usability as developers may want to take advantage of debug features compiled into OE SDK or its compiled versiosn of 3rdparty libraries like mbedtls (as in the case of #2332).

To make this easier for app devs to

[2019-11-20 19:43] andschwa commented on #2313
While I know I tend to be in the minority here, I do not like recommending this workflow to people. Here are my reasons:

* There is no real cost to having branches in the main repo. Perhaps it's a little disorganized, but it does not actually interfere with developers, CI, GitHub, or anything that I can think of. The cost of a branch in Git is practically nothing, but the benefits they give you a

[2019-11-21 00:12] jhand2 commented on #2313
I suppose a strong motivating factor for suggesting this workflow is that I want the development model to be consistent, whether you're a contributor, committer, etc. I think there is a benefit in terms of openness and inclusion if as few people as possible have special privileges in the codebase.

I do think you have a valid point. Branches are cheap and branch clutter doesn't have a significant

[2019-11-21 03:03] #2332 closed

[2019-11-21 16:47] wintersteiger opened #2336 "Unable to distinguish API versions"
The master branch saw a change to the host-side quote verification library: `oe_verify_remote_report` now expects 5 arguments instead of 3 arguments in v0.7.0. We now check for `#if defined(OE_CLAIM_ID_VERSION)`, which isn't defined in v0.7.0, to tell the difference.

It would be nice if the version number were updated when the API changes but as far as I can tell, `OE_API_VERSION` is always the s

[2019-11-21 16:47] wintersteiger commented on #2336
CC @letmaik

[2019-11-21 18:35] andschwa commented on #2313
I think there is always going to be a difference between _contributors_ (without write access) and _committers_ (with write access), and this particular difference is the norm at least across GitHub. But I appreciate the suggestion and the discussion!

[2019-11-25 21:22] notriddle commented on #2318
It seems like you've switch from using your own hosted instance of bors onto using the publicly hosted instance.

This seems a little crazy. I'm not a Microsoft employee, and you have nothing other than my desire to maintain a good reputation to ensure that the access granted by running bors won't be abused or neglected. I've broken the public bors instance before, and left it broken for hours bec

[2019-11-25 23:50] andschwa commented on #2318
Ah, point taken @notriddle. @BRMcLaren do you want to stand up another Bors instance and maintain it this time? The one I had setup was originally an experiment...so it was under my name and such.

[2019-11-25 23:53] andschwa commented on #2318
(For what it's worth, I read and agree with the [TOS](https://bors.tech/tos/); if we find that we really need a high SLA, we should indeed stand up our own instance, but that'll be up to @BRMcLaren et. al. to decide.)

[2019-11-26 00:04] BRMcLaren commented on #2318
@notriddle

I understand your concerns. If anything happens, we will cross that bridge when we get there with the full understanding that this is not your day job :).

As it stands, we would prefer to continue using the public instance of bors. If we scale up, then we will rebuild our own.

[2019-11-26 20:20] conz27 commented on #2274
@HernanGatta , does this issue imply that that the C++ STL libraries can be used to compile TAs written in C++ (as long as they don't use C++ exception)? Or is this limitation specific to the TA_Client?

[2019-11-26 21:23] jhand2 opened #2347 "Cross-platform build/test scripting"
Many of the build/test scripts in OE are written in bash. For Windows, we simply run them in mingw bash, and sometimes add special code to make up for the fact that we aren't running on Linux.

I want to discuss a plan moving forward for writing build/test scripts that are actually cross platform. While bash generally works on Windows, there are some things that either don't work well or require s

[2019-11-26 21:26] radhikaj commented on #2336
@gupta-ak @soccerGB request your comments on this.

[2019-11-26 22:21] dthaler commented on #2336
This is indirectly related to PR #2163, since the verify APIs are considered experimental and subject to breaking changes across releases, which is what you are observing.   As proposed in that PR, use of such APIs would require the caller to explicitly opt in to using an experimental API.   That PR does not cover how to tell what version you're opting into, so that PR should also consider the que

[2019-11-27 13:25] jumaffre commented on #2283
@soccerGB @jazzybluesea Any news on this?

[2019-11-27 20:04] HernanGatta commented on #2274
@conz27 You should be able to write TAs and use the C++ STL libraries without issue, as long as nothing throws, yes.

Note that since OP-TEE does not allow TA multithreading (i.e., multiple threads inside the same TA instance at the same time), the parts of the STL that use threads won't work. That's not to say that TA multithreading is impossible in ARM TrustZone. Rather, OP-TEE's design is such

[2019-11-28 00:20] BRMcLaren commented on #2282
@jxyang

This was fixed a while ago. Have you had any reoccurrences?

[2019-11-28 03:05] dthaler opened #2350 "Use a standard test framework"
Currently OE seems to have its own custom test framework (in openenclave\internal\tests.h etc) rather than using a standard test framework like gtest (https://github.com/google/googletest).

In contrast, many open source frameworks, as well as the feature.new_platforms branch of OE, uses gtest.

This issue proposes switching to use gtest instead of reinventing test framework functionality in OE.

[2019-11-29 19:53] jazzybluesea commented on #2283
Hi @jumaffre, currently there is a plan to update caching in the Azure DCAP client, this should save us around 400 to 500ms when getting the revocation info and about 88ms when getting QE identity info.  Here is the breakdown for everyone else:

Here is the timing breakdown for oe_verify_report():

1.	Oe_get_collaterals_internal() takes 622ms.
a.	88ms for fetching the QE Identity info.
b.	487ms fo

[2019-11-29 19:54] jazzybluesea commented on #2283
@jumaffre What is your timeline?

[2019-12-02 11:20] achamayou commented on #2283
@jazzybluesea am I right in thinking that once the new oe_verify_report() API is in place, callers (ie. we) will be able to provide their own collateral? If so, we should be able to store it inside the CCF store, refresh it at an interval, and not pay the cost synchronously on every verify call.

At the moment, we've mitigated this problem in tests, but it's still painful in actual use and somethi

[2019-12-02 12:00] sword03 opened #2352 "Problem with function "fopen" in enclave"
I have run the helloworld successfully, and then,  I add some codes to enc.c as follow:

[code]

I built it and run in simulation mode, then it crashed:

[code]

Is there some bugs with the function "fopen" in enclave?

[2019-12-02 18:49] andschwa commented on #2318
Closing for now. Again, if there's any issues at all, we'll stand up a (proper) instance of our own without bugging ya @notriddle. Thanks so much!

[2019-12-02 18:49] #2318 closed

[2019-12-02 19:25] BRMcLaren commented on #2352
Hi @sword03, no bugs have been reported to my knowledge.

Could you provide more information regarding the file, including OS, encrypted or not, etc?

Generally, when I have encountered errors such as this, it is due to either incorrect file permissions or incorrect folder structure and would like to rule that out.

[2019-12-02 19:26] andschwa commented on #2352
@sword03 in the example you provided, I don't see the host file system module being mounted. Have you reviewed the instructions on using the I/O subsystem [here](https://github.com/openenclave/openenclave/blob/master/docs/UsingTheIOSubsystem.md)?

[2019-12-02 19:38] jhand2 commented on #2350
Do you think it is worth exploring alternatives to gtest?

Biggest point in favor of gtest IMO is that it comes with gmock. But I don't know enough about benefits of other C++ frameworks to know if there is a good reason to pick something else.

Other than that, I am definitely in favor of moving to a full-featured open source framework. If for no other reason, people are more likely to write test

[2019-12-02 19:59] #2282 closed

[2019-12-02 22:11] jhand2 opened #2355 "Run static analysis tools"
Clang static analysis tool scan-build reveals many bugs. Prioritize fixing many of these bugs and running scan-build (and/or other tools) during CI.

Also, add documentation for running locally whatever static analysis we run in CI.

[2019-12-02 23:20] radhikaj commented on #2215
http://openenclave.io/sdk/ says you need an FLC capable VM to install the SDK package. The SDK package we distribute is built with the compiler flags that make it work on FLC machines. Attestation would fail with the SDK package on non SDK machines.

[2019-12-02 23:21] radhikaj commented on #2214
Please suggest what we should use instead of "Versions" on openenclave.io. Would "API Versions" be better?

[2019-12-02 23:23] dthaler commented on #2214
How about "API Documentation"

[2019-12-02 23:24] radhikaj commented on #2214
https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/APIs_and_Libs.md has a pointer to the docs. Would you like it to be on the README on github.com/openenclave/openenclave?

[2019-12-02 23:53] dthaler commented on #2214
No preference on that question.  It's currently reachable via this path starting from https://github.com/openenclave/openenclave:
* Click on either "Ubuntu 18.04 with SGX hardware" or "Ubuntu 16.04 with SGX hardware"
* Scroll to the bottom and click on "Using the Open Enclave SDK"
* Scroll to the bottom and click on "Please look here." under APIs and Supported Libraries

Issues:
* The ARM TrustZon

[2019-12-03 00:21] #2130 closed

[2019-12-03 01:18] jhand2 commented on #2282
@BRMcLaren Can you point to where this was fixed. I am seeing this locally but not in any CI.

Thanks!

[2019-12-03 05:47] jazzybluesea commented on #2283
@achamayou, Yes, the asynchronous caching should help with your timing requirements.  As I mentioned, currently the collaterals are not getting cached by the Azure DCAP client, and the plan is to add this caching to the Azure DCAP client.  Also note that we recently added an attestation plug-in model (Please see #2298).

[2019-12-03 12:30] sword03 commented on #2352
@andschwa  Thanks for your answer. I add some codes to enc.c today:
[code]

I open a file like this:

[code]

I rebuild the program and run, and get the error message as follow:

[code]

[2019-12-03 18:07] radhikaj commented on #2211
Docs need to be fixed. Thanks @letmaik

[2019-12-03 18:20] radhikaj commented on #2212
It is fine to cast as long as we check that it is safe to cast (check < max_unsigned_int).
Check that all places where it is being cast are performing this check.

[2019-12-03 18:21] radhikaj commented on #2212
@ryanhsu19 will look into it.

[2019-12-03 18:30] radhikaj commented on #2214
Promote API docs to README.
Open a new issue to ensure that each API's doxygen annotation is corrected to reflect that its support on trustzone.
C/C++ APIs tables should also be fixed to speak of support on Trustzone.
__oe_sgx_set_minimum_crl_tcb_issue_date is not public but shows up in public API documentation
https://github.com/openenclave/openenclave/blob/master/docs/DevelopmentGuide.md should

[2019-12-03 18:38] radhikaj commented on #2215
Change openenclave.io to link to the start page on openenclave github.

[2019-12-03 18:39] radhikaj commented on #2215
We need a matrix to say what support is available on FLC, Tustzone, non FLC etc. @radhikaj to open a new issue for this.

[2019-12-03 18:41] radhikaj commented on #2216
We are in agreement with this suggestion.

[2019-12-03 18:48] radhikaj commented on #2219
@ryanhsu19 will look into this.

[2019-12-03 18:54] radhikaj commented on #2220
Investigate if we can change sealed_data_size param in edl to a constant. Or use the param and check whether it is what you would expect.

[2019-12-03 18:55] radhikaj commented on #2220
@ryanhsu19 will investigate.

[2019-12-03 22:26] radhikaj opened #2358 "Update DevelopmentGuide with guidelines for doxygen style annotation of APIs"
https://github.com/openenclave/openenclave/blob/master/docs/DevelopmentGuide.md should be updated.
APIs that are not public should be marked as private and should not show up in the public API docs.

[2019-12-03 22:32] radhikaj opened #2359 "__oe_sgx_set_minimum_crl_tcb_issue_date is a private API but shows up in doxygen generated public API docs"
See https://openenclave.github.io/openenclave/api/globals.html. It contains documentation for __oe_sgx_set_minimum_crl_tcb_issue_date and should not.

[2019-12-03 22:35] radhikaj opened #2360 "API Docs should clearly state support on Trustzone"
API Docs should clearly state support on Trustzone
    a) each API's doxygen annotation should be corrected to reflect its support on Trustzone.
    b) C/C++ API tables should be fixed to reflect support on Trustzone.

[2019-12-03 22:38] radhikaj opened #2361 "Document support build/runtime/attestation support on various platforms"
We need a matrix to say what support is available on FLC, Tustzone, non FLC etc.

[2019-12-04 20:04] jhand2 commented on #2330
Discussed with @andschwa a little offline, capturing the essence of that discussion here. To me deep copy means a few things, some use cases are simpler to implement than others.

1. A struct with a buffer that we would like deep copied into the enclave where we know the size of the buffer. The buffer can be annotate with the known length, like the following:

[code]

In this case, edger8r can pro

[2019-12-05 00:19] #2214 closed

[2019-12-05 18:10] jhand2 opened #2367 "Build for attested_tls sample fails transiently on Windows"
The attested_tls sample build fails transiently on Windows with the following error:

`identity_verifier.cpp:8:10: fatal error: '../../common/tls_server_enc_mrenclave.h' file not found`

`tls_server_enc_mrenclave.h` is autogenerated by a bash script during the build for the sample. On Linux, cmake runs the bash script in-process, which ensures that when that specific build target completes, the he

[2019-12-05 18:11] andschwa commented on #2216
I don't know why this didn't auto-close.

[2019-12-05 18:11] #2216 closed

[2019-12-05 18:27] jhand2 commented on #2330
cc @radhikaj and @mikbras to discuss what exactly we want to support here. For the most part I would say this issue is a much bigger item than initially thought.

[2019-12-05 19:23] jhand2 commented on #2367
Original hypothesis was wrong. Dependencies just weren't properly expressed. Fix is in PR #2368

[2019-12-05 21:37] radhikaj commented on #2214
Versions on openenclave.io has been renamed to "API Documentation"
README.md contains a link to API docs.
Closing this issue. Other issues arising from the discussions around this issue have been filed.

[2019-12-05 21:43] BRMcLaren commented on #2367
@jhand2 Thanks for documenting and explaining this!

This leads to nightly builds failing transiently, unfortunately. Hence the red badge.

[2019-12-05 23:46] jhand2 commented on #2355
Ran scan-build on Linux and uncovered 207 error. #2369 fixes 7 of them. scan-build is a good candidate for running as part of CI. It would require an extra package to be added as a dependency.

I put in some work to try to get OE building with Clang on Windows. I have a branch in my fork with this work, but the build doesn't succeed yet. It is significant work to get the OE Windows build passing u

[2019-12-06 00:04] BRMcLaren commented on #2367
@nonpolarity This is the issue we talked about.

[2019-12-06 18:47] jhand2 commented on #2367
Closed by #2368

[2019-12-06 18:47] #2367 closed

[2019-12-09 03:05] eozturk1 opened #2373 "Heap Data Measurement"
According to [Intel](https://software.intel.com/en-us/articles/innovative-technology-for-cpu-based-attestation-and-sealing), `MRENCLAVE` value consists of:

- The **contents** of the pages (**code, data, stack, heap**).
- The relative position of the pages in the enclave.
- Any security flags associated with the pages.

It seems OpenEnclave [does not include](https://github.com/openenclave/openenc

[2019-12-09 19:11] jhand2 commented on #2075
#2374 fixes /W1 warnings across the codebase and enables /WX for W1 warnings.

I'll consider this issue closed when we have /W3 /WX enabled but this is a good first step.

[2019-12-09 20:00] jhand2 commented on #2352
@sword03 so the new error would suggest a permissions error. oe_errno is 13 which is `OE_EACCES`.

If you call fopen from the host in your code on the same file, does it work?

[2019-12-09 20:51] jhand2 commented on #1883
Closing as a duplicate of #2075

[2019-12-09 20:51] #1883 closed

[2019-12-09 20:55] jhand2 commented on #2162
@jxyang is this closed by #2125?

[2019-12-09 21:23] radhikaj commented on #2162
Closing this issue after discussing with @jxyang

[2019-12-09 21:23] #2162 closed

[2019-12-09 21:26] radhikaj commented on #2160
Addressed in PR #2200

[2019-12-10 01:46] jhand2 opened #2376 "OE is not C99 compliant"
From discussing with @mikbras, OE should compile against C99. Unfortunately, it does not.

In particular, the main thing I haven't been able to overcome is OE_STATIC_ASSERT:

[code]

It depends on type redefinition (`__OE_STATIC_ASSERT<line_number>` can be defined multiple times). Type redefinition is a C11 feature and using it fails the build when the C standard is set to C99.

We'll need to come

[2019-12-10 18:15] radhikaj commented on #2256
This is something that should be included in V1.0

[2019-12-10 18:22] radhikaj commented on #2264
Lets target v0.9 for this.

[2019-12-10 18:25] radhikaj commented on #2266
@soccerGB This is high priority. If a quote is generated on an Intel machine and verified on ARM, this problem would be hit.

[2019-12-10 18:27] radhikaj commented on #2267
@yakman2020 currently working on this. Deploy scripts and documentation need to be updated,

[2019-12-10 18:30] radhikaj commented on #2274
This is a bug in the features.new_platforms branch and is not present in master. At this time, this is a missing feature in master.

[2019-12-10 18:33] radhikaj commented on #2275
This issue is not in OE code. It is in the fork of OPT-TEE.

[2019-12-10 18:35] radhikaj commented on #2276
The documentation states how to build and deploy the emulator and debug it. This is not an Open Enclave problem, it is a problem with the tooling.

[2019-12-10 18:37] radhikaj commented on #2278
@BRMcLaren Is this for MSVC only(host only) or is it Clang as well?

[2019-12-10 18:42] radhikaj commented on #2283
@jazzybluesea Is this issue with AZDCap Client only? Can we tag this as external and request a fix from AZDCap client? Please help clarify so we can triage this appropriately.

[2019-12-10 18:59] radhikaj commented on #2330
At this time, we cannot act on this issue since deep copy does not support linked lists.
At this time, find any APIs that would benefit from deep copy and fix those.

[2019-12-10 19:50] jxyang commented on #2264
Likewise, `oehostverify` should not depend on `sgx_enclave_common` either. We have customers simply want to verify the quote on a non-SGX machine.

[2019-12-10 20:21] jxyang commented on #2376
Do we have customers working a platform that doesn't allow upgrade to a C11 compiler? @mikbras

[2019-12-10 20:25] jhand2 commented on #2285
Fixed here #2377

@mikbras just to double check, are we ok with this behavior? In the event that a syscall can be handled both inside the enclave and via ocall, we will no longer prefer the ocall version. Today there are no incidences where this is the case, so effectively we get the same behavior.

[2019-12-10 20:39] dthaler commented on #2376
My opinion: I believe that OE needs to support apps that need to consume the SDK, and need C99.  However, if they consume OE SDK in binary form, that does not mean that OE SDK needs C99 to compile.   Thus, I care that public headers and samples are C99 compliant, but internal code may not need to be.

[2019-12-10 20:48] jhand2 commented on #2376
Agreed

As for enforcing that this stays true.

Most of the samples are C++. `samples/helloworld` and `samples/switchless` are C, I'll check if those two can compile with C99 as-is.

As for public headers, I'm not totally sure how to enforce that via a static/build time check. Open to any options people know of.

[2019-12-10 22:59] ryanhsu19 commented on #2212
After discussion with Jordan, the unsigned int cast check on variables not of type size_t was deemed redundant so I have reverted the commit. As for the other variables having type size_t (see samples/data-sealing/common/dispatcher.cpp) there is already a check before each of them. Therefore, it is done.

[2019-12-10 23:57] jhand2 commented on #2212
ah, I understand now 😄

For the future, it is good to link the issue in the PR (you can just include the issue number with a pound sign - #2212 in this case - in a comment). Then when reviewers are looking at your change it is easier to understand what the PR is trying to accomplish and they can refer to any discussion in the issue comments.

[2019-12-11 00:02] ryanhsu19 commented on #2212
Hi Jordan,

Got it. I will do it next time 😊

Ryan

From: Jordan <notifications@github.com>
Sent: Tuesday, December 10, 2019 3:58 PM
To: openenclave/openenclave <openenclave@noreply.github.com>
Cc: Ryan Hsu <Ryan.Hsu@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [openenclave/openenclave] Samples: Change function params of type size_t to unsigned int (#2212)

ah, I understand no

[2019-12-11 18:21] jhand2 commented on #2358
@radhikaj this is closed by #2357 right?

[2019-12-12 00:45] jhand2 commented on #1937
Is there any interest in supporting absolute filepaths? It would require an ocall to resolve the path to an absolute path but its possible (and not terribly difficult).

To make mount work properly, we should really do an ocall in mount anyway to make sure the paths actually exist (currently we do no checks).

We could also support relative paths from the other file APIs (like fopen) by again usin

[2019-12-12 00:46] jhand2 commented on #1937
In all honesty, the whole mount/umount thing of hostfs seems unnecessary (you could just access the host filesystem directly) but I assume the decision was made for some reason.

@mikbras do you have an background on the decision to require mounting hostfs instead of just using it directly?

[2019-12-12 11:20] achamayou opened #2378 "CVE-2019-0117"
From: https://www.intel.com/content/www/us/en/security-center/advisory/intel-sa-00219.html

Can we expect similar mitigations to become available in OpenEnclave? If so, when?

[2019-12-12 18:56] jhand2 commented on #2355
Instructions for running scan-build being added here #2379

[2019-12-12 18:59] jazzybluesea commented on #2283
I already made requests to the AzDcap client team about a month ago and they are aware of this.  I have opened https://github.com/microsoft/Azure-DCAP-Client/issues/88 for tracking purposes.

[2019-12-12 19:00] #2330 closed

[2019-12-12 23:32] radhikaj commented on #2378
Thanks @achamayou for reporting this.

This CVE affects systems where Graphics is enabled. On  SGX server systems(except for the very old ones) integrated graphics is disabled. In the long term OE wants to have this mitigation in order to support client SGX systems with graphics enabled but there is no specific date in mind as yet.

In the short term, please note that Azure servers with SGX have G

[2019-12-13 10:25] achamayou commented on #2378
@radhikaj thank you for your quick answer. I don't know if it is easy or even possible for OE to detect if graphics are enabled, but if it is, it probably would be good to log at least a warning until the mitigation is in place. If that isn't possible, I would suggest documenting this issue.

We are only using Azure/ACC machines at the moment, so we don't need the mitigation in the short term.

[2019-12-13 22:25] ryanhsu19 commented on #2212
As discussed with Radhika, if there is no further problem with this issue, I will close this issue shortly.

[2019-12-16 18:53] BRMcLaren opened #2381 "Transition to using Terraform with Jenkins for CI/CD"
This issue is for tracking improvements to our CI/CD infrastructure to using Terraform to provision environments with SGX-enabled nodes for both Linux and Windows. This will encompass bare-metal testing and supporting additional OS's seamlessly

We should have at least one machine scale set for each distribution/OS/SGX configuration (kabyLake etc).

These nodes should be connected to Jenkins and a

[2019-12-16 18:55] BRMcLaren commented on #2222
I would like to close this issue and replace it with https://github.com/openenclave/openenclave/issues/2381.

K8's has a limitation with Windows 2016 support as well as bare metal testing unless there is a specific need for k8's?

[2019-12-16 18:56] BRMcLaren commented on #2222
@oprinmarius @paulcallen @johnkord Thoughts on the above?

[2019-12-16 19:45] BRMcLaren commented on #2381
@oprinmarius This is the item we discussed to allow tracking.

[2019-12-16 21:36] jhand2 commented on #1937
*skip to the last paragraph if you don't care how hostfs works*

So it turns out that relative mount paths actually do work (sort of), just not how you would expect.

The enclave maintains it's own internal current working directory, you can query it with `oe_getcwd`. By default it is `/`, but it can be modified with `oe_chdir`. When hostfs tries to resolve relative paths, it uses `oe_realpath` wh

[2019-12-16 22:47] BRMcLaren commented on #2381
https://github.com/oprinmarius/openenclave-terraform-poc will be the POC location

[2019-12-16 22:52] jhand2 commented on #1937
Addressed by #2382

[2019-12-17 00:03] mikbras commented on #2373
Both Intel and Microsoft decided not to measure the heap pages in their respective SDKs. A correct, well-behaved program will never read from the initial heap page contents. However, programs that fail to properly initialize memory returned from **sbrk**, **malloc**, and **realloc** are potentially vulnerable to attack. So this attack vector should be closed. But how?

Measuring the pages on encla

[2019-12-17 00:05] #2160 closed

[2019-12-17 00:07] radhikaj commented on #2137
@jazzybluesea It is expected that attestation would fail at this time with USE_LIBSGX=OFF. Is this what you are seeing? Could you please try it and update this issue?

[2019-12-17 19:05] mikbras commented on #2373
I created the following PR to address this issue:

https://github.com/openenclave/openenclave/pull/2383

It guarantees that all memory obtained with **oe_sbrk()** and hencse **malloc** and **realloc** will be zero filled.

[2019-12-17 23:23] eozturk1 commented on #2373
Thank you for looking into this @mikbras! Interesting to see the documentation does not match the implementation on Intel's end. Can you please close the issue when the PR is merged?

[2019-12-18 07:55] jhand2 opened #2386 "oe_ocall segfault when compiling with clang 9"
I know clang 9 is not a supported compiler for OE, but when it is used oe_ocall segfaults. The reason is that the stack pointer is set to a garbage value after returning from the ocall (via `oe_longjmp`) and the `pop %rbp` instruction reads from invalid memory.

This issue doesn't happen with clang 7 and gcc 8 (the other two compilers I tested) but it is mostly out of pure luck because those compi

[2019-12-18 18:44] ryanhsu19 commented on #2219
I agree with Akash. Also for the memset part mentioned in PR #2204, it seems from the library files that, while a padding length of characters must be filled for the PKCS7 case, it does not mention which characters to fill (unlike other padding cases). I try changing the 2nd argument from (int)padded_byte_count to 0 and it does not affect the whole testing either.

[2019-12-18 23:11] jhand2 commented on #2386
Fixed by #2388

[2019-12-19 20:10] jhand2 commented on #2075
#2389 fixes W2 warnings

[2019-12-19 21:46] jhand2 opened #2390 "Use safemath for all edger8r-generated operations"
Some code generated by edger8r does potentially unsafe math operations with regards to overflow.

One such place is in tools/oeedger8r/src/Sources.ml:
[code]

[2019-12-23 01:04] Francis-Liu opened #2392 "Document typo: "cmake -G ninja..." should be "cmake -G Ninja""
There is a typo in the **cmake build command** this [wiki](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsSGX1FLCGettingStarted.md).

[code]

and the next one

[code]

where `cmake -G ninja` should be `cmake -G Ninja` (`N` capitalized)

Otherwise, you will see this error.

[code]

[2019-12-23 03:23] jhand2 commented on #2392
Thanks @Francis-Liu!

Hey @mingweishih, your PR last week fixed a couple instances of this but there are a few other instances of this error in other .md files. Can you submit a PR to take care of the rest of these (you can probably just search the who codebase for `-G ninja`.

I'll assign to you.

[2019-12-23 17:02] mingweishih commented on #2392
Thanks @Francis-Liu for reporting the issue.

@jhand2 I just create PR #2393 for the fix.

[2019-12-23 18:20] mingweishih opened #2394 "Fail to create enclave with size more than 31 MB in windows"
A known issue is that windows does not support paging, therefore the size of enclave cannot exceed the hard limit of EPC size (approximately 90 MB). However, my test in ACC VM fails to create an enclave with size around only 31 MB.

This issue is also the cause to the failure of tests/memory on windows.

Steps to reproduce the issue:
- in helloworld sample, open enclave/helloworld.conf
- change th

[2019-12-23 18:27] mingweishih commented on #39
See #2394 for test/memory

[2019-12-23 18:30] jhand2 commented on #2394
@mingweishih what are the specs of your VM (# of cores, total RAM).

I remember talking to Simon that some lower spec’d VMs only support 16MB of EPC per enclave, but I don’t remember the exact reason.

[2019-12-23 18:37] mingweishih commented on #2394
Should be the default configuration --- 8 g ram and 2 vcpu. I'm just wondering why, as 31 MB is a bit far from 90 MB.

[2019-12-23 18:52] jhand2 commented on #2394
Where does the 90MB come from? Is that in the intel specification? I thought the memory limit was dependent on the hardware.

[2019-12-23 18:59] mingweishih commented on #2394
Yes it depends on the bios configuration. However, in most case I would assume 128 MB (the maximal size in existing sgx machines, and only ~90 MB of them are available for enclaves) since all the VMs on the same hardware will share those EPC memory and there is currently no hardware support to reserve EPC memories per core / VM.

[2019-12-23 19:21] achamayou commented on #2394
On ACC DC2s VMs the available EPC is about 28Mb: https://github.com/openenclave/openenclave/issues/542#issuecomment-413987655

[2019-12-23 19:24] mingweishih commented on #2394
This is exactly what I'm looking for. Thanks, @achamayou!

[2019-12-23 19:34] mingweishih commented on #2394
Closing.

[2019-12-23 19:34] #2394 closed

[2019-12-23 19:52] mingweishih opened #2396 "Enable test/ecall_ocall on Windows"
The test is currently disabled on the windows build.

[2019-12-23 19:54] mingweishih opened #2397 "Enable test/memory on Windows"
The test is currently disabled on the windows build. The cause of the issue is the hard limit of the EPC memory (see #2394). As a result, we may not be able to have the same test on Windows as on Linux.

[2019-12-23 19:56] mingweishih opened #2398 "Enable test/create-rapid on Windows"
The test is currently disabled on the windows build.

[2019-12-23 19:57] mingweishih commented on #2396
Addressed by #2395

[2019-12-26 19:31] mingweishih commented on #2398
Addressed by #2399

[2019-12-26 22:23] mingweishih commented on #1034
#2400 for the follow-up on libunwind test support

[2019-12-27 23:13] ryanhsu19 commented on #2220
In most samples, "level" remains unused in debug message printing functions such as my_debug() in samples/attested_tls/client/enc/client.cpp and samples/attested_tls/server/enc/server.cpp.
However, when it gets to the bottom most related functions require the use of mbedtls_debug_print_msg(), which compares the debug threshold and the level before doing the rest. Therefore, I did not remove it.

[2019-12-27 23:13] ryanhsu19 commented on #2220
Currently I am trying to remove the "data" parameter from cert_verify_callback() because it remains voided and unused in all functions (4 in samples/attested_tls) in the sample/attested_tls. There is no problem compiling them, but it will be stuck with on tls_e2e with an error OE_PLATFORM_ERROR returned during ctest, and I am still trying to figure out why.

[2019-12-28 02:17] ryanhsu19 commented on #2220
Also, Alvin and I found that, by using oegdb to debug tests/tls_e2e/host/host.cpp, a signal SIGILL (illegal instruction) returns whenever it tries to run a server. By laying out the ASM, it seems to happen when it executes cpuid in mbedtls_aesni_has_support() in library/aesni.c. It also happened before I started modifying any file. Any ideas?

[2019-12-29 08:15] johnkord commented on #2220
Hey @ryanhsu19 that's expected! The CPUID instruction is considered illegal inside an SGX enclave.  https://software.intel.com/en-us/node/703005
There's a "vectored exception handler" framework in Open Enclave that properly handles this situation and returns the CPUID values. In the end, CPUID ends up working through an OCALL. However from a debugger, you'll be notified that the illegal instructio

[2019-12-30 17:22] ryanhsu19 commented on #2220
@johnkord Got it, thanks! I will try again with the condition soon.

[2020-01-02 23:02] CodeMonkeyLeet commented on #2328
It's worth considering although there's already an outstanding issue #892 to make `oe_random()` simply redirect directly to the TEE implementation of RNG (i.e. `rdrand` in the case of SGX). Did you just want a TEE source of randomness, or did you want to seed your own DRNG?

`oe_get_entropy()` was designed to fill a gap for seeding DRNG with better entropy (i.e. as an internal interface for mbedtl

[2020-01-03 01:06] #2392 closed

[2020-01-03 18:56] lakiw opened #2401 "Started getting OE_PLATFORM_ERROR"
I have several Dell Precision 7520 systems. Two run Ubuntu 16.04, and one runs Ubuntu 18.04. Previously I was able to compile and run SGX enclaves on them using OpenEnclave, but over the last couple of weeks all three of them now return an OE_PLATFORM_ERROR. I assumed this was because I was playing around with Google's Asylo, so I reinstalled the OSs from scratch and am still receiving the same er

[2020-01-03 19:52] jhand2 commented on #2401
Hmm. OE_PLATFORM_ERROR means that libsgx threw an error. For the error spew (`enclave_create with ENCLAVE_TYPE_SGX1 type failed (err=0x1)`), we can see that it failed with error 0x1 during the PSW function `create_enclave`. The error code is `ENCLAVE_NOT_SUPPORTED`.

Can you share what version of libsgx-enclave-common you have installed? The output of `apt list --installed | grep sgx` should do.

[2020-01-04 00:01] jhand2 commented on #1937
#2382 merged

[2020-01-04 00:01] #1937 closed

[2020-01-06 13:57] achamayou commented on #2328
@CodeMonkeyLeet I suspect both are useful in general, but at the moment we specifically want entropy to seed existing DRNGs that we would prefer not to replace (mostly because that's what the components we use have provisions for replacing, not for any fundamental reason).

[2020-01-06 14:07] achamayou commented on #2023
It would be very useful to expose a generic equivalent to dlmallinfo() https://github.com/openenclave/openenclave/blob/master/3rdparty/dlmalloc/dlmalloc/malloc.h#L329, which used to be exported by OE (as oe_malloc_info or some similar name).

This is important not just for application developers but also for operators, who need to monitor applications and have otherwise no way to know how close to

[2020-01-06 17:25] jhand2 opened #2405 "Refactor sleep/nanosleep syscalls to be first-class syscalls"
Currently sleep and nanosleep are treated as special case syscalls, even though they basically work as all the other syscalls do (by dispatching the call to the host via ocall). Refactor so that they are treated as normal syscalls instead of special-cased.

See discussion in #2377 for more information

[2020-01-06 17:47] jhand2 commented on #2405
@mikbras Do you know if there is a reason nanosleep/sleep are implemented the way they are? Otherwise I'm happy to change it to fall in line with other syscalls.

[2020-01-06 22:36] dthaler commented on #2328
I don't see why we'd want two separate public functions that return a cryptographically random set of bytes, so I'd vote for either oe_random() or oe_get_entropy() but not both.  I think oe_random is a better name though.

[2020-01-06 23:18] jazzybluesea commented on #2137
The original problem was with USE_LIBSGX=OFF in a system that supports FLC.  After PR #2250,  all tests are passing with HAS_QUOTE_PROVIDER=ON and HAS_QUOTE_PROVIDER=OFF.  So I think the original problem no longer applies.

[2020-01-07 00:49] mingweishih opened #2409 "Specific timing-depedent libcxx tests fail on Windows"
Based on the experiments with #2403, three of currently supported tests fail because of the execution time of them exceed the hard-coded tolerance time. Therefore, the fixed tolerance may need to adjust to be more adaptive to the environments.

These tests include
../../3rdparty/libcxx/libcxx/test/std/thread/thread.mutex/thread.lock/thread.lock.shared/thread.lock.shared.cons/mutex.pass.cpp
../../3

[2020-01-07 16:40] dthaler commented on #2169
Done in commit bd84ad93b75a9898b69683e06180705c31451d04

[2020-01-07 16:40] #2169 closed

[2020-01-07 18:07] jhand2 commented on #2409
Preference is that each test runs in <= 5 sec.

Tests run quickly on Linux but long on Windows. Profile to figure out what is taking so long.

@mingweishih, please share running-time and threshold.

[2020-01-07 18:10] jazzybluesea commented on #2206
Resolved by change #2298.  Closing this issue.

[2020-01-07 18:10] #2206 closed

[2020-01-07 18:11] jazzybluesea commented on #2140
Closing.  Resolved by #2157.

[2020-01-07 18:11] #2140 closed

[2020-01-07 18:12] jhand2 commented on #2405
Consider refactoring syscall layer to simply use a hook. This issue will be punted until then.

[2020-01-07 18:15] mingweishih commented on #2409
5 secs should be long enough for these tests to pass on both platforms (much longer than the hard-coded tolerance time). I'll share some numbers as well.

[2020-01-07 18:20] jhand2 commented on #2378
No issue with OE, closing

[2020-01-07 18:20] #2378 closed

[2020-01-07 18:35] jhand2 commented on #2373
We might consider turning the sbrk PR off by default to avoid perf penalty.

[2020-01-07 18:48] jhand2 commented on #2352
Hey @sword03, do you have any more details on this issue/are you still seeing this repro? If not I'll go ahead and close.

[2020-01-07 18:54] jhand2 commented on #2350
We should look into how feasible it is to convert all OE tests to gtest and the cost of conversion.

[2020-01-07 19:05] jhand2 commented on #2328
Consider an infrastructure for exposing APIs as "Internal Public APIs" (or some other name) to expose functions which have very limited use and general enclave applications won't use but some very specific ones may want to use.

In general we just need to be careful of how `oe_get_entropy` is documented and and how developers are guided to get randomness.

[2020-01-08 00:27] andschwa opened #2412 "Fix support for just "out" parameters in deep copy"
I discovered while adding further tests that when using deep copy for parameters that are only "out" parameters that it does not work. It works for "in" and "in/out" (the latter of which are both tested), but for "out" parameters there is a bit of logic to add to layout the host side pointers correctly (very similar to what's done for "in/out"), I think.

I had to prioritize in my remaining time w

[2020-01-08 18:37] Francis-Liu opened #2414 "Unit test "tls_e2e" hangs on win19"
**Environment**
- AccImage: windows-server-2019
- VmSize: Standard_DC2s
- Debug build

**Test Output**
[code]

**Questions**
- I was able to reproduce this error in multiple VMs. Was this test passing in our CI/CD?
- How long is 10000000 timeout? If it is too long, shall we shorten it?

[2020-01-08 18:42] radhikaj commented on #2220
@ryanhsu19
In this function:
int ecall_dispatcher::unseal_data(
    sealed_data_t* sealed_data,
    size_t sealed_data_size,
    unsigned char** data,
    size_t* data_size)

We dont use sealed_data_size and in fact need to  (void)sealed_data_size; to ensure that the compiler does not throw an unused variable error.

I believe that sealed_data_size is always IV_SIZE, but that needs to be double ch

[2020-01-08 19:01] BRMcLaren commented on #2414
Hey @Francis-Liu

We don't have any tests in our CI/CD for this currently as support for Windows 2019 is not officially supported yet, unless this changed?

My one recommendation is to try on a DC_4, as that solves this issue quite often. This is especially true if you have concurrent executors, depending on what you are doing.

[2020-01-08 19:19] Francis-Liu commented on #2414
@BRMcLaren Thanks for the clarification about Windows 2019. Okay, I will give DC4s a try.

What about the 10000000 timeout? Is that 10 seconds? Why would this test case hang, instead of fails and moves on to the next test case.

[2020-01-08 21:25] Francis-Liu commented on #2414
Same failure with DC4s.

[code]

To whom to be assigned to look at this issue. Feel free to close it if win19 isn't officially supported. Or, if it is of your interest, please take a quick look at why the timeout mechanism doesn't work when this test fails.

[2020-01-09 02:12] #81 closed

[2020-01-09 07:20] zhaoxuyang13 commented on #2401
I meet the same issue, and same error code.
this is what i get from "apt list --installed | grep sgx"
libsgx-dcap-ql/now 1.0.101.48192-xenial1 amd64 [installed,local]
libsgx-dcap-ql-dbg/now 1.0.101.48192-xenial1 amd64 [installed,local]
libsgx-dcap-ql-dev/now 1.0.101.48192-xenial1 amd64 [installed,local]
libsgx-enclave-common/now 2.7.101.3-xenial1 amd64 [installed,local]
libsgx-enclave-common-dev/n

[2020-01-09 14:03] achamayou commented on #1766
Perhaps an additional argument in favour of having it out of the box is that it's what the Intel SDK does: https://github.com/intel/linux-sgx/tree/master/sdk/compiler-rt

[2020-01-09 14:57] BRMcLaren commented on #2414
10000000 in milliseconds would be nearly 3 hours.
Nanoseconds would be 0.1 of a second.
This is likely in microseconds, so 10 seconds.

Windows 2019 is not officially supported, as an immediate issue this can be closed for now.

However, this is of interest and as it may be supported in the future so I don't want to move on from this yet.

Out of curiosity, what happens when changing the timeout t

[2020-01-09 18:20] jhand2 commented on #2401
Thanks @zhaoxuyang13,

One thing to note, your libsgx-enclave-common and libsgx-enclave-common-dev have mismatched versions. This could be causing problems.

How did you install OpenEnclave? Did you install via a deb package or are you building and installing it from source?

[2020-01-09 18:36] jhand2 commented on #2414
I do think there is a legitimate issue with the test that it hangs indefinitely (until killed by ctest) on failure rather than simply exiting.

We should keep this issue open at least until that is fixed.

[2020-01-09 23:34] mingweishih commented on #1986
@anakrish is this still an issue? If so, can you provide more information about how to reproduce? Thanks!

[2020-01-10 09:58] zhaoxuyang13 commented on #2401
Thanks  for your reply : D
It turn out to be my SGX driver's problem,  I reinstall SGX SDK and the driver
then samples works out fine.

[2020-01-10 18:50] jhand2 commented on #2401
Thanks! @lakiw are you still seeing this issue?

[2020-01-13 16:33] VictorDebray opened #2418 "Use OE with DCAP for remote attestation"
Hi,

I have worked on a broader sample that integrates file encryptor and remote attestation.
However, the remote attestation part does not seem to remotely attest reports.

Recently I picked up of the DCAP driver and see it is the project.
Unfortunately I was not able get any documentation about how to use it with open enclave.

Has someone has started work on documenting this ?
I'd be happy to c

[2020-01-13 17:04] jhand2 opened #2419 "Commits should have a useful description and be well organized"
OE commit history is hit-or-miss for being useful in understanding past changes.

We should improve documentation to describe how detailed commits should be and be strict about enforcing this before PRs are merged.

In general:

"More changes" is not an acceptable commit message. Even something like "Added memory management" could use more details.

In particular:

1. Commits should have a descrip

[2020-01-13 17:11] jhand2 commented on #2418
We have a few samples that are in the areas you mention:

* Remote attestation: https://github.com/openenclave/openenclave/tree/master/samples/remote_attestation
* File encryption: https://github.com/openenclave/openenclave/tree/master/samples/file-encryptor
* Attested TLS: https://github.com/openenclave/openenclave/tree/master/samples/attested_tls

Is this what you're looking for?

[2020-01-13 19:09] anakrish commented on #340
This old issue is not reproducible anymore.

[2020-01-13 19:09] #340 closed

[2020-01-13 21:15] jhand2 commented on #565
Fully documented and implemented necessary libc initialization here: #2420

[2020-01-13 21:17] jhand2 commented on #2401
@lakiw I am closing this issue. Please reopen if the above solutions don't work for you.

[2020-01-13 21:34] jhand2 commented on #1920
Now that we will require 2 approvals, I propose core OE developers do the following:

### Look through stalled* open PRs and do one of the following:

* Review it and either approve or request changes
* Ask for more clarification from the author
* If the author has not responded to request for changes in 10 days, ask the author to either provide updates or close the PR. Close 2 days after request

[2020-01-13 21:35] jhand2 commented on #2419
Related to #1920

[2020-01-13 22:01] jhand2 commented on #2352
Closing. Please reopen if you still have an issue.

[2020-01-13 22:01] #2352 closed

[2020-01-13 22:16] CodeMonkeyLeet commented on #1843
Per closed PR #1862, instead of removing the build flag entirely, it needs to be repurposed:

[2020-01-13 22:18] CodeMonkeyLeet commented on #1893
@jhand2 With the Windows socket changes, can you take a look and see whether we're in a position to enable these tests uniformly across OS platforms now? IIRC, one of the blockers was the lack of equivalent Windows support breaking build.

[2020-01-14 00:35] anakrish opened #2421 "Debugging: Expose backtrace functionality for users"
OE currently supports oe_backtrace and oe_backtrace_symbols modeled after the GNU functions (backtrace and backtrace_symbols). oe_backtrace is used internally in debug builds to report memory leaks.

Backtrace functionality is in general useful feature for the end user to help debug their systems both in debug builds and production builds.

[2020-01-14 00:38] anakrish commented on #2421
CC: @radhikaj @mikbras @CodeMonkeyLeet @jhand2

[2020-01-14 00:39] anakrish commented on #2421
Prototype to make backtraces work in release mode: https://github.com/openenclave/openenclave/compare/anakrish/backtrace?expand=1

[2020-01-14 13:59] VictorDebray commented on #2418
No, I used the remote attestation and file-encryptor sample, so I am well aware of your links.

While setting the OE_REPORT_FLAGS_REMOTE_ATTESTATION the enclave does not use any attestation services. In the end it only does a local attestation.

So my question is how to configure openenclave to make remote attestations correctly ? With DCAP ?
Where do I put the secrets ?

[2020-01-14 17:07] #2137 closed

[2020-01-14 17:10] radhikaj commented on #2418
@VictorDebray are you using an ACC VM in Azure. Remote attestation does not work currently in machines outside ofAzure.
Adding @yentsanglee to investigate issue

[2020-01-14 17:26] #2396 closed

[2020-01-14 17:46] dthaler opened #2422 "Update OE Visual Studio extension to work with ELF binaries on Windows"
Currently the VS extension (https://marketplace.visualstudio.com/items?itemName=MS-TCPS.OpenEnclaveSDK-VSIX) works with ELF binaries for Linux but PE binaries for Windows, relying on the Intel debugger.  Now that we have ELF binary support for Windows debugging, the VS extension needs to be updated accordingly.

[2020-01-14 17:49] dthaler opened #2423 "Work to integrate the different OE extensions for VS Code"
One is at https://marketplace.visualstudio.com/items?itemName=ms-iot.msiot-vscode-openenclave and focuses on IoT.
The other is discussed at https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Windows_vscode.md

Today the two are completely separate, and more integration would make them easier to maintain and help external developers.

[2020-01-14 17:58] CodeMonkeyLeet commented on #2414
This is not Windows or WS2019 specific. I can repro this failure on a Linux VM where the quote provider is unable to acquire a PCK for the device. The test likely has a bug that causes it to block indefinitely on a failure condition instead of failing out immediately as expected.

@Francis-Liu, you can try to double check this hypothesis by running `ctest -V -R report` on the failing device to ski

[2020-01-14 18:06] radhikaj commented on #2423
The cdb extension can be loaded by the OpenEnclave extension for IOT. A merge of code is not required. cdb extension is not currently OpenSource.

[2020-01-14 18:08] radhikaj commented on #2423
@anakrish please work with Brian on this.

[2020-01-14 18:15] CodeMonkeyLeet commented on #2313
Per [CGC Meeting Jan 7 2020 minutes](https://hackmd.io/TOJhJXswQ5yfObq1T659ug?view#Minutes-for-January-7-2020-Meeting):

@jhand2, the proposal has been accepted and translates to the following tasks:
- [ ] Update the [contributing.md](https://github.com/openenclave/openenclave/blob/master/docs/Contributing.md) to reflect the new expected practice
    - It should also link to GitHub instructions fo

[2020-01-14 18:23] radhikaj commented on #2421
Add 'backtrace' and 'backtrace_symbols' to oelibc. It will currently only work for SGX. It can be made to work on ARM, but would need more work. Currently, this work will be scoped to SGX. When C++ exceptions are made to work on ARM, this can be made to work on ARM as well. Create another issue to track this for ARM.

Thanks @anakrish for prototyping

[2020-01-14 18:26] dthaler commented on #2419
Suggest updating this section:
https://github.com/openenclave/openenclave/blob/master/docs/Contributing.md#dos-and-donts-for-pull-requests

[2020-01-14 18:45] radhikaj commented on #2414
There are two issues
1. Fix test so it does not hang
2. Investigate why it consistently hangs on Windows Server 2019. It is likely a setup problem. @yakman2020 reports that tests passed on his Windows Server 2019. @Francis-Liu could you please verify your setup is correct and report back?  Thanks.

[2020-01-14 18:52] radhikaj commented on #2336
@yentsanglee @soccerGB Please note that we have API versioning: https://github.com/openenclave/openenclave/blob/5ff92bd0c79e1b3249193d59c38ff0dc661f5640/include/openenclave/enclave.h#L261. Please use this while changing APIs.

We need more discussions for figuring out versioning for experimental and non experimental APIs. We will discuss this in CGC

[2020-01-14 18:58] radhikaj commented on #2347
At this time, tests and build are stable. So moving it to another scripting language at this time is lower priority. We can discuss this in CGC.

[2020-01-14 19:55] yentsanglee commented on #2418
If you are not running on Azure ACC VM, follow the [instruction](https://software.intel.com/en-us/articles/get-started-with-azure-confidential-computing) to create a VM.

[2020-01-14 21:24] anahitH opened #2424 "Unable to compile the samples"
After installing open-enclave following the steps [here](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk-Ubuntu_18.04.md) I'm trying to compile the _helloworld_. The compilation of the _enclave_ succeeds however the host fails in the linker with the following error:

`/opt/openenclave/share/pkgconfig/../../lib/openenclave/host/liboehost.a(init.c.o): In

[2020-01-14 21:26] jhand2 opened #2425 "Add global initialization functions for modules"
Modules such as hostfs and sockets require an initialization function to be called. Add a feature to OE which will call an initialization function on enclave load for each module that is linked into the enclave binary.

This can potentially be implemented using global constructors, but there is an issue with global constructors not being linked into the final binary if they are not referenced.

Id

[2020-01-14 21:41] radhikaj commented on #2414
@mingweishih please work with @Francis-Liu to verify that the setup is correct and then investigate.

[2020-01-14 21:43] Francis-Liu commented on #2414
@radhikaj I think what @yakman2020 said was, after he ran the following command, all the tests pass. He didn't mention all tests would pass without setting this reg key. On my side, I can also verify that `tls_e2e` pass after setting the following reg key.

`reg add HKEY_LOCAL_MACHINESYSTEMCurrentControlSetServicessgx_lc_msrParameters /v "SGX_Launch_Config_Optin" /t REG_DWORD /d 1`

[2020-01-14 21:46] radhikaj opened #2426 "Debugging on Trustzone: Expose backtrace functionality for users"
OE currently supports oe_backtrace and oe_backtrace_symbols modeled after the GNU functions (backtrace and backtrace_symbols). oe_backtrace is used internally in debug builds to report memory leaks.

Backtrace functionality is in general useful feature for the end user to help debug their systems both in debug builds and production builds.

When C++ exceptions for on ARM, please enable these funct

[2020-01-14 22:54] #2386 closed

[2020-01-15 00:19] ryanhsu19 commented on #2220
So far what I have tried is, if I change [in, size = sealed_data_size] to [in, size = 16], ctest will pass but not if I replace it with [in, size = IV_SIZE]. I consider it a macro but it somehow treats it as a variable/attribute and replace it with the corresponding number afterwards.
When I am trying these conditions I have already replaced the variable sealed_data_size instead of the macro IV_SI

[2020-01-15 00:54] BRMcLaren commented on #2424
Hello @anahitH ,

Thanks for checking out OpenEnclave

Could you provide and confirm more details about your machine? is it Ubuntu 18.04 or 16.04?

I have seen this before when there is an incorrect version OpenSSL of OpenSSL installed and causes the linker issues. I believe we are using different versions for 16.04 and 18.04

[2020-01-15 03:29] jhand2 commented on #2425
Implemented in #2428

[2020-01-15 07:44] anahitH commented on #2424
@BRMcLaren, I have Ubuntu 18.04 and OpenSSL version 1.1.1

[2020-01-15 08:58] VictorDebray commented on #2418
Yes I am using ACC VM, I have followed those exact steps.
Are you saying that open enclave remote attestation works out of the box when used in ACC VM ?
Because other than creating the VM in Azure I have done no other configuration for open enclave.

[2020-01-15 16:59] jhand2 commented on #2418
Are you using the Azure DCAP client or the Intel DCAP client?

[2020-01-15 17:21] CodeMonkeyLeet commented on #2409
This is likely an issue with the Windows implementation of synchronization primitives in OE and not specific to libcxx tests. A quick measurement of related tests show:

Test | Windows (DCAP) | Linux (DCAP)
-- | -- | --
oethread | 249.05s | 30.13s
pthread | 263.21s | 31.02s

That's a ~8-9x slowdown on Windows vs. Linux. I also did a quick investigation based on #85 and #86 to use more efficient Wi

[2020-01-15 17:39] mingweishih commented on #2409
Thanks @CodeMonkeyLeet. In addition to the synchronization performance difference, this issue may specifically be related to the bug in the sleep_for() (#2429).

[2020-01-15 19:53] ryanhsu19 opened #2431 "EDL does not support macros"
This is related to the comments in PR #2220. In samples/data-sealing/datasealing.edl, you can tell the edger8r the size of a pointer, but you cannot assign a macro to it because the edger8r treats it as a new member of the corresponding struct; that is,
 - it works by changing [in, size = sealed_data_size] to [in, size = 16], but
 - it does not work by changing [in, size = sealed_data_size] to [in

[2020-01-15 22:08] mingweishih opened #2432 "Windows build should know which compiler that pre-compiled test cases use"
Some test cases depend on the compiler (e.g., https://github.com/openenclave/openenclave/blob/master/tests/libcxx/CMakeLists.txt#L28). However, current Windows build that uses pre-compiled test cases does not know which compiler these test cases use and therefore causes mismatch. This mismatch renders the compilation fails; i.e., the Windows build, without knowing the test cases are compiled with

[2020-01-15 22:20] mingweishih commented on #2432
cc @BRMcLaren

[2020-01-17 00:20] anakrish opened #2437 "Debugging: Expose backtrace functionality for users in OpTEE"
#2421 exposes backtrace functionality in SGX. For parity, the functionality must also be implemented for TrustZone.

[2020-01-17 05:09] radhikaj commented on #2426
#2437  is a duplicate. Closing this.

[2020-01-17 05:09] #2426 closed

[2020-01-17 05:11] #2212 closed

[2020-01-17 15:04] anahitH commented on #2424
Hi @BRMcLaren .
Could you please advise what is the correct version of OpenSSL to use with Ubuntu 18.04?
Thanks!

[2020-01-17 19:38] Francis-Liu opened #2438 "Unit test "#116: samples" fail on Windows"
Following official install/test procedure on Windows ([link](https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsSGX1FLCGettingStarted.md)), the last unit test case "#116: samples" failure 100% reproducible on Windows 2019 and Windows 2016.

**Error output**
[code]

[2020-01-17 22:27] jhand2 commented on #2438
Could you do the following:
1. Install oesdk on the machine: `ninja install`
1. Pick just one of these samples (helloworld should be fine)
1. Build it from wherever your oesdk install location is
1. Set OESDK logging to verbose and make sure it is set properly:
In cmd
[code]
5. Run the sample and paste the output here

Thanks!

[2020-01-17 22:46] jhand2 commented on #2438
Oh actually i see the problem. The path gets mangled: `C:/Users/feliu/workspace/openenclave/build/x64-Debug/C:/openenclave/share/openenclave/samples/helloworld`.

You can see that because you used an absolute path for your install path, cmake just tacks that onto your current working directory.

+ @BRMcLaren, I think I remember seeing this issue back around November. Do you remember what the case

[2020-01-18 00:42] BRMcLaren commented on #2438
Seems familiar... @nonpolarity I think this has to do with the windows path issue? Potentially.

[2020-01-19 19:51] douglasism opened #2440 "Installing OE Windows SDK nuget package problems"
I'm attempting to install the **OE Windows SDK pre-release 0.7.0 nuget package**.  My guess is that the nuget package is not available and complete, or perhaps the instructions are incorrect.  (Of course, this could be my error too, given that I'm new to the project.)

I'm following these instructions: https://github.com/openenclave/openenclave/blob/v0.7.x/docs/GettingStartedDocs/install_oe_sdk-Wi

[2020-01-19 20:41] douglasism commented on #2440
It appears that the OE Windows SDK packages are not available yet.

openenclave\README.md:

- Windows Release Package coming soon

[2020-01-19 20:41] #2440 closed

[2020-01-20 07:27] nonpolarity commented on #2438
The samples try to put the build results into build/install/opt/openenclave as in unix, but the c:\ makes it impossible. This need to be modified as the SDK did that put the build result into a temp dir build/output. @BRMcLaren it is lucky that on CI/CD no this problem, because the samples binaries are copied from a docker.
Please assign this to me.

[2020-01-20 10:32] VictorDebray commented on #2418
My understanding is that using the Azure CC template it sets up the intel DCAP by default.
In /opt/azure/acc/ I see the  sgx_linux_x64_driver_dcap.bin, I guess I have Intel one then.

Should I uninstall and replace my DCAP client ?

[2020-01-21 18:22] jhand2 commented on #2138
This setup script only works for installing SGX-specific dependencies

[2020-01-21 18:24] jhand2 commented on #2131
@jazzybluesea Can you confirm if this is still an issue? If so we should do some more investigation and try to get it fixed as soon as possible.

[2020-01-21 18:34] mingweishih commented on #2082
Fixed by #2391

[2020-01-21 18:36] dthaler commented on #2055
See http://refspecs.linuxbase.org/elf/x86_64-abi-0.98.pdf for some info on what they are defined to mean.

[2020-01-21 18:37] jhand2 commented on #2055
We need more investigation into what it would mean to allow these relocation types. Does this work in all cases?

@prp do you have any information on why this "just works" when you remove the checks?

[2020-01-21 18:39] jhand2 commented on #2038
Completed in #2239

[2020-01-21 18:39] #2038 closed

[2020-01-21 18:48] jhand2 commented on #2032
Only need to be there for oeedger8r code, not to be used by enclave developers.

Options:
1. Consider removing these headers from installation, however removing public headers is a breaking change to the SDK.
2. Mark as experimental.
3. Move to edger8r's include files (at least as a first step)

[2020-01-21 18:56] #2082 closed

[2020-01-21 19:00] jazzybluesea commented on #2131
Yes, I believe this issue still exists.  It can be verified with the attached certificates that I have attached to this issue.

[2020-01-21 19:22] mikbras commented on #2030
We determined that the C++ standard makes no requirement about the order of construction across translation units. See the following link (thank you Anand).

https://en.cppreference.com/w/cpp/language/initialization

This becomes clearer when you consider how GCC uses initializer priority attributes to work around this problem. See this:

https://stackoverflow.com/questions/3371968/attribute-init-

[2020-01-21 19:22] #2030 closed

[2020-01-21 19:53] yentsanglee commented on #2418
You need Azure DCAP client to perform remote attestation on Azure ACC VMs. If you follow the instruction -
https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/SGX1FLCGettingStarted.md

and install required projects, Azure DCAP client will be installed.

Follow all steps in the instruction and run all unit tests to verify the build.

[2020-01-21 21:41] jxyang commented on #2032
Some library code other than oeedger8r use safe math functions, for example the elf loader and the arena-based allocator. I'd vote for option 2.

[2020-01-21 22:10] prp commented on #2055
@jhand2 it works because SGX-LKL has a complete dynamic linker inside the enclave, which knows how to handle these relocation types when it encounters them.

[2020-01-21 22:11] BRMcLaren commented on #2138
@jhand2 Yes, this is correct. We currently do not support a non SGX enabled windows VM, is my understanding.

[2020-01-21 22:21] radhikaj commented on #2438
@andschwa  and @johnkord spent a lot of time investigating this. Finally, Andy documented it here:
https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsSGX1FLCGettingStarted.md
"Later, using the ninja install command will install the SDK in C:/openenclave/build/x64-Debug/install. To choose a different location, change the value specified for CMAKE_INST

[2020-01-21 22:39] jhand2 commented on #2424
OpenSSL 1.1.1 should be the correct version. @anahitH could you share the following:

1. The compiler/linker commandline invocation? If using GNU make you can do `make VERBOSE=1`. For ninja you can do `ninja -v`.
2. Where are you compiling the sample from? Are you using the sample from the install location (/opt/openenclave/share/openenclave/samples/)?

[2020-01-22 00:26] radhikaj commented on #2438
@Francis-Liu Please take a look at the above guidance. I am closing this issue for now.

[2020-01-22 00:26] #2438 closed

[2020-01-22 00:39] radhikaj commented on #2032
I am moving this to V0.9.

[2020-01-22 00:51] dthaler commented on #2032
@radhikaj in the triage meeting we agreed that if this was moved to 0.9 that we could not remove the functions in 0.9, only in the next release after that.  That's why triage didn't move it to 0.9.  If you believe we must not remove them in 0.9, cam you elaborate on why?  (since no decision was made during triage)

[2020-01-22 00:59] radhikaj commented on #2313
@jhand2 will you submit a PR?

[2020-01-22 02:26] anakrish commented on #2032
oeedger8r does not use these headers. oeedger8r defines and uses its own safe addition https://github.com/openenclave/openenclave/blob/30cc09cc3a41deebd852de2b63a0eaa373f75655/include/openenclave/edger8r/common.h#L40-L67

[2020-01-22 02:44] #2285 closed

[2020-01-22 05:23] #961 closed

[2020-01-22 05:23] #2421 closed

[2020-01-22 18:32] nonpolarity opened #2447 "CMAKE does not support Universal Naming Convention (UNC)"
While a unc address is passed to cmake, such as cmake ../ -DCMAKE_INSTALL_PREFIX=\\server\share\path, the address will be modified to //server/share/path, which is not it means.

[2020-01-22 19:31] #2419 closed

[2020-01-22 21:12] jhand2 opened #2448 "The in-enclave exception handler does not support ocalls"
Inside the enclave, applications can catch hardware exceptions by registering an exception handler with `oe_add_vectored_exception_handler()`. When this exception handler is called, the host stack is not properly in sync with the enclave stack, so ocalls fail.

OE should support making ocalls during exception handler execution.

[2020-01-22 21:18] IvillanuevaItba opened #2449 "Trouble executing sample projects"
Hello,
I'm having trouble executing helloworld sample project in Windows 10. Whenever I run the ninja command in the build folder I get the following pop up and console error. I'll also leave the CMakeErrorLog, which I'm not sure if it's normal, because it seems build without problem.
Any recommendations on what I should do? Is it an installation problem? The Intel SGX SDK sample project is able t

[2020-01-22 21:30] jhand2 commented on #2449
Hi @IvillanuevaItba,

Can you provide the following details:

1. How did you install OE dependencies?
Note that you can find instructions for building OE on windows here: https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/WindowsSGX1GettingStarted.md
In particular the `install-windows-prereqs.ps1` script will install needed dependencies.

2. How did you ins

[2020-01-22 22:15] IvillanuevaItba commented on #2449
I didn't not see that part of the documentation, I was following the docs inside GettingStartedDocs. I'll check that out and get back to you.

Thank you!

[2020-01-22 22:37] IvillanuevaItba commented on #2449
When running install-windows-prereqs.ps1 it's getting hung up at:

`Start-ExecuteWithRetryRetryMessage: Failed to download http://registrationcenterdownload.intel.com/akdlm/irc_nas/16115/Intel%20SGX%20PSW%20for%20Windows%20v2.5.101.3.exe. Retrying`

`Exception calling "DownloadFile" with "2" argument(s): "The remote server returned an error: (404) Not Found."`

Seems to be the download link for In

[2020-01-22 23:12] jhand2 commented on #2449
Can you update to the latest master and rerun the script? The current PSW version was updated a couple days ago and is at http://registrationcenter-download.intel.com/akdlm/irc_nas/16115/Intel%20SGX%20PSW%20for%20Windows%20v2.6.100.2.exe

[2020-01-23 01:45] IvillanuevaItba commented on #2449
Sorry to be a bother. I got the last version from git, it got through the last problem, but now I'm getting this error. I have Windows 10 Pro Version 1909. PSW should be already installed, since  Intel Software Guard Extensions appears in Device Manager under Software Components and System Devices.

![image](https://user-images.githubusercontent.com/40722107/72949125-1feff700-3d66-11ea-9994-f0ad2f

[2020-01-23 18:15] anahitH commented on #2424
@jhand2 thanks for the response.

For your second question, yes I'm using the samples from the install location. I've copied them to another directory and trying to compile from there. But I did not make any changes in the sources and/or Makefiles.

This is the compiler/linker commands. I'm posting those for the host only, as the enclave compiles and links fine.
[code]

This is my openssl version

[2020-01-23 19:14] jhand2 commented on #2424
Oh, I see the problem (sort of). In openssl 1.1.1, `OPENSSL_add_all_algorithms_conf` does not actually exist. It is defined with a macro in evp.h for compatibility reasons and is an alias for `OPENSSL_init_crypto`. Likewise, `ERR_load_crypto_strings` is also a compatibility alias for `OPENSSL_init_crypto`.

So it looks like the version of OE you have was compiled against a different version of ope

[2020-01-23 19:41] anahitH commented on #2424
Yes, I've installed OE with apt-get just as it's told in the link you sent.

[2020-01-23 20:18] jhand2 commented on #2449
Ah. It looks like newer versions of Windows 10 install the PSW via  Windows Update rather than though this installer. Can you add the option `-LaunchConfiguration SGX1FLC-NoDriver` to skip the step to install PSW?

[2020-01-23 20:31] IvillanuevaItba commented on #2449
I did that, and it sort of works! (I think...)

[2020-01-23 20:41] jhand2 commented on #2449
There are currently some issues with attestation on non-Azure machines that we are working with Intel to resolve.

As for the PATH issue, feel free to open an issue describing what you had to change and I'll take a look (or feel free to open a PR if you want).

I'll leave this issue open until I fix up this Windows 10 instructions to skip PSW installation.

Glad things are mostly working now!

[2020-01-23 20:52] jhand2 opened #2456 "Solidify OE error naming"
Prior to 1.0 release, we should solidify the names of OE error codes as they are very difficult to change later on.

In particular, I have gotten feedback that `OE_ALREADY_EXISTS` doesn't make sense for some operations (such as feature initialization). Consider changing it to `OE_ALREADY` to allow use in more cases.

Adding to the OE error code enum is easy, but we should make sure nothing needs t

[2020-01-23 20:56] yakman2020 opened #2457 "oesign requires OpenSSL engine support"
oesign does not currently support getting keys from an openssl engine. This support allows for signing by arbitrary keys that are not owned by the developer.

This is a blocking issue, as the use of pem files for signing is not permitted.

[2020-01-23 21:12] jhand2 commented on #2457
Please avoid referencing internal and proprietary requirements/processes in this github organization.

[2020-01-23 21:36] radhikaj opened #2458 "Verify that the attestation plugin documentation matches the implementation"
https://github.com/openenclave/openenclave/pull/2452#discussion_r370361830

Verify that the design documentation in docs/DesignDocs/CustomAttestation.md matches the actual implementation

[2020-01-23 21:43] douglasism opened #2459 "Document oeedger8r build issues on Windows: ocaml/cygwin dependencies"
(This is related to [issues/838](838)(closed).)

**Description**
I'm new to the project, and I set out to build the OE SDK on Windows, mostly following the [SGX build flow](../blob/master/docs/GettingStartedDocs/Contributors/WindowsSGX1GettingStarted.md) and the [manual Windows prereqs instructions](../blob/master/docs/GettingStartedDocs/Contributors/WindowsManualInstallPrereqs.md). (Thanks for th

[2020-01-23 23:04] jhand2 commented on #2424
Apologies, I'm at a bit of a loss for why this would be happening. Could you share the output of

`apt list --installed | grep open-enclave`

and

`objdump -t /opt/openenclave/lib/openenclave/host/liboehost.a | grep -i openssl`

[2020-01-23 23:09] jhand2 opened #2461 "Document Windows 10 support"
Our current documentation says that we support Windows 10, however we do not run any tests against Windows 10 in our CI. We should document Win10 support as experimental until we have CI running for it.

Anecdotally, it sounds like some attestation tests fail on Win10, but I have no way to test this.

[2020-01-24 17:51] jhand2 commented on #1893
I double checked and mbedtls tests are already running for all platforms. Closing this issue

[2020-01-24 17:51] #1893 closed

[2020-01-24 18:25] radhikaj commented on #2032
It is in V0.8

[2020-01-24 18:25] #2032 closed

[2020-01-24 18:28] radhikaj commented on #1986
@ryanhsu19
Please take a look at this

[2020-01-24 18:32] #1924 closed

[2020-01-24 18:34] radhikaj commented on #1933
This is also tracked by issue #2373

[2020-01-24 18:34] #1933 closed

[2020-01-24 18:43] radhikaj commented on #1833
@jhand2 @anakrish  Could you please revisit this?
The libC structure and functionality has evolved considerably.

[2020-01-24 18:54] radhikaj commented on #1783
Please refer to documentation here
https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/SGXSupportLevel.md

[2020-01-24 18:57] jhand2 commented on #1835
@mikbras it looks like liboeposix doesn't exist anymore (was replaced by musl?)

Can this be closed?

[2020-01-24 19:15] radhikaj commented on #1749
@anakrish I think some of these are enabled now. Can you please take a look and update or close this issue?

[2020-01-24 19:17] radhikaj commented on #1748
@nonpolarity Please work with @anakrish on this.

[2020-01-24 19:18] radhikaj commented on #1726
@vlaza Is this under active development?

[2020-01-24 19:18] ryanhsu19 opened #2464 "Some scan-build errors are false positives"
[Update: this issue has been resolved in PR #2468 by setting certain functions as noreturn functions.]

This is related to PR #2379 and PR #2407. About 90% of the rest of the bugs are found in third-party files and those generated by third-party test functions, while the other 10%, in my opinion, are due to `OE_ABORT()` either not recognized or not considered normal exit by scan-build.

Scan-build

[2020-01-24 19:22] radhikaj commented on #1503
@achamayou Closing this for now. Please reopen if you find a problem.

[2020-01-24 19:22] #1503 closed

[2020-01-24 19:24] radhikaj commented on #1294
@BRMcLaren Please investigate and close.

[2020-01-24 19:29] jhand2 commented on #1742
This is a fun one :smile:

I'm with Andy, providing this rc file is something I've never seen another linux library do and I don't think we should either.

I think the real problem here is that the open-enclave package doesn't install our libraries/includes/pkgconfig in canonical locations (such as /usr/lib for libraries). So the openenclaverc is a bandaid to fix that problem.

[2020-01-24 19:29] radhikaj commented on #1046
We have no requirements for this as yet.

[2020-01-24 19:30] radhikaj commented on #1041
@CodeMonkeyLeet We need to change the description.

[2020-01-24 19:32] radhikaj commented on #1031
@anakrish Can this be closed?

[2020-01-24 19:36] radhikaj commented on #866
We have POSIX Socket APIs inside of enclaves. These work on Windows and Linux hosts. I am closing this as of now.

[2020-01-24 19:37] jhand2 commented on #2464
For the oe_abort one, can you try annotating the function with the noreturn attribute. You can do it like:

[code]

Let me know if that fixes the warning. I'll take a look at the others when I get a chance.

[2020-01-24 19:40] radhikaj commented on #848
@achamayou has added the implementation of a CURL lib that can be used inside an enclave.
https://github.com/openenclave/openenclave-curl
We also now support enclave TLS.

[2020-01-24 19:40] #848 closed

[2020-01-24 19:41] #866 closed

[2020-01-24 19:49] radhikaj commented on #503
@ryanhsu19 please take a look at this issue.

[2020-01-24 19:50] radhikaj commented on #404
@CodeMonkeyLeet Could we follow up on this one?

[2020-01-24 19:52] radhikaj commented on #373
@ryanhsu19 Please take a look at this issue

[2020-01-24 19:56] radhikaj commented on #2022
@anakrish Can we close this?

[2020-01-24 20:01] radhikaj commented on #1891
@anakrish @mikbras Any updates here?

[2020-01-24 20:03] radhikaj commented on #1804
@ryanhsu19 Please take a look at this.

[2020-01-24 20:13] radhikaj commented on #2080
@ryanhsu19 Could you please take a look at this?

[2020-01-24 20:14] radhikaj commented on #1755
@nonpolarity Please check with @gupta-ak and @CodeMonkeyLeet  about previous investigations on this.

[2020-01-24 20:58] jhand2 commented on #2313
This is mostly complete. Now we wait for people to clean up their branches. About 6 have been deleted since I contacted all contributors 2 days ago. About 200 to go 😄

[2020-01-24 21:04] jhand2 opened #2465 "Update commiter areas and code ownership"
The Committers.md file is supposed to  call out owners of specific areas of the codebase, but these areas aren't very well defined and the ownership areas are very out of date.

In a separate but related problem, our CODEOWNERS file which tries to parse out who are the owners for a given file needs some reworking and potentially more granularity.

[2020-01-24 21:33] CodeMonkeyLeet commented on #1835
@jhand2 most of the "posix" naming transitioned to "syscall" instead (so liboesyscall, syscall.edl)

[2020-01-24 22:15] mingweishih commented on #2412
Fixed by #2427.

[2020-01-24 22:15] jhand2 commented on #1824
For the record, poll isn't implemented on Windows at all right now

[2020-01-24 22:16] #2412 closed

[2020-01-24 22:58] douglasism opened #2466 "Requesting clarification on issue reporting and Security Policy"
This question refers to [this project's security bug reporting policy](../blob/master/docs/Contributing.md#reporting-security-issues).

I've found a **potential** security vulnerability in the OE SDK, but I don't want to invest the time to verify it by developing a full exploit POC.  It is one of those cases where there is enough code running amok that most reviewers will raise red, or at least ye

[2020-01-24 23:00] jhand2 opened #2467 "Document core ocalls made by the OE SDK implementation"
OE contains many ocalls which may be called by the implementation rather than being called explicitly by the enclave application.

Document what these ocalls are and how an enclave developer can opt out of including them when possible.

[2020-01-24 23:21] jhand2 commented on #2466
Currently potential security issues should still be reported via secure@microsoft. Thanks!

[2020-01-24 23:21] #2466 closed

[2020-01-25 00:41] radhikaj commented on #2438
@Francis-Liu , @nonpolarity has found a fix for this. It will be part of v0.8

[2020-01-25 07:38] achamayou commented on #1503
@radhikaj sorry, we didn’t find the time to isolate the issue. It never happened on 0.7 or 0.8 so it can definitely be closed.

[2020-01-25 17:30] jazzybluesea commented on #2131
If I can recall correctly, the reason for the difference is due to the different encryption libraries.  In windows we use bcrypt and in Linux we use mbed TLS.

[2020-01-26 14:11] anahitH commented on #2424
@jhand2 , here are the outputs of the commands you've requested
![image](https://user-images.githubusercontent.com/23015948/73136438-faa50680-404d-11ea-82d5-861736d16c64.png)

[2020-01-27 20:48] VictorDebray commented on #2418
I will try this and will back to you soon !

[2020-01-27 20:54] jhand2 commented on #2424
Interesting. So OE isn't actually installed through apt. Can you try to install it with `sudo apt install open-enclave`? And if it fails, paste the message?

[2020-01-27 21:02] anahitH commented on #2424
After removing open-enclave with apt remove, installed it again with apt. Here is the output for the installation as well as the two commands from above. The output for those commands are the same as before.
![image](https://user-images.githubusercontent.com/23015948/73213344-4dff7d80-4150-11ea-9dfb-20f7b31ad6a4.png)

Still getting the same error when compiling the sample
![image](https://user-ima

[2020-01-27 21:15] jhand2 commented on #2424
Hm. You're using Ubuntu 18.04 right? xenial would be the ubuntu 16.04 package which could make a difference. Could you check you `/etc/apt/sources.list.d/msprod.list` file and make sure it says bionic?

If the wrong package repo is referenced then the steps would be:
1. delete `/opt/openenclave` (maybe not necessary but just to be sure)
2. Remove open-enclave package
3. Update msprod.list file

[2020-01-27 21:24] anahitH commented on #2424
@jhand2 , it was `16.04 xenial `in the` mdprod.list` file. I modified it with your instructions and the samples are compiling now.
Thank you very much for your help :)

[2020-01-27 21:24] #2424 closed

[2020-01-28 00:32] #1230 closed

[2020-01-28 01:40] AevaOnline commented on #2465
Rather than the current format (doc file), I would recommend using per directory OWNERS files.

This is a common approach in other projects. It makes it easy to answer the question "who owns this file" by just looking at the directory the file is in (or its parent directory, etc). This also allows a lot of granularity (you can nest OWNERS files in subdirectories) and permission inheritance (those

[2020-01-28 12:16] VictorDebray commented on #2418
@yentsanglee I created a new Azure VM without preinstalling openenclave.
Then following the steps in your link, successfully installed openenclave.

I relaunched the remote-attestation sample. I still don't think I understand how the remote attestation works here.
Reading this, I want to make sure I understand right:
https://github.com/microsoft/azure-dcap-client
Does Azure DCAP caches misc enclav

[2020-01-28 14:53] jhand2 commented on #2465
Thanks @AevaOnline, I think that sounds like a better approach than what we’re doing now. I’ll look into it.

[2020-01-28 15:14] anakrish commented on #2459
@andschwa Sorry to bother you. Does esy take care of this?

[2020-01-28 18:04] andschwa commented on #2459
@anakrish @douglasism There should no longer be any requirements on Cygwin or OCPWin at all. It should just be on [esy](https://esy.sh/). Given an installation of NPM on Windows, use `npm install -g esy` and ensure `esy` is in your path.

[2020-01-28 18:05] radhikaj commented on #2447
@nonpolarity Please check if this is a cmake issue or an issue with Open Enclave's cmake configuration.

[2020-01-28 18:09] andschwa commented on #1031
@radhikaj Yup!

[2020-01-28 18:09] #1031 closed

[2020-01-28 18:09] radhikaj commented on #2448
@jhand2 please investigate if this is possible.

[2020-01-28 18:15] radhikaj commented on #2456
The intent of OE errors is not to align with POSIX error codes. Having separate error codes to be more specific about the error context would be useful to developers. Introduce new error codes to cover this case is recommended.
Add OE_ALREADY_INITIALIZED for PR 2433.

[2020-01-28 18:21] radhikaj commented on #2090
May be fixed by #2455

[2020-01-28 18:22] radhikaj commented on #2457
Also tracked by #2090.

[2020-01-28 18:22] #2457 closed

[2020-01-28 18:24] radhikaj commented on #2458
@gupta-ak @yentsanglee  Please fix this in time for V0.8 since this design document will be what developers will refer to in order to utilize this feature.

[2020-01-28 18:29] radhikaj commented on #2461
@BRMcLaren Please check if we can add Windows 10 CI/CD support. If we cant do that in the short term, we will go ahead and document Windows 10 support as `experimental`.

[2020-01-28 18:32] radhikaj commented on #2464
Please change the pdf into markdown.

[2020-01-28 18:43] radhikaj commented on #2467
@jhand2 Please prototype approaches for opting into ocalls and figure out the best approach. Document as appropriate and submit a design PR.

[2020-01-28 19:11] yentsanglee commented on #2418
Azure DCAP client retrieves attestation info from Azure PCK cache service who caches all attestation information from Intel SGX Provisioning Certification Service. The technology behind it is based on Intel SGX DCAP. If you are interested in detail, you may search in Intel website for articles such as [this one](https://software.intel.com/en-us/sgx/attestation-services).

[2020-01-28 19:51] anakrish commented on #2459
Thanks @andschwa

@douglasism Which version of the SDK were you trying out? The [manual Windows prereqs instructions](../blob/master/docs/GettingStartedDocs/Contributors/WindowsManualInstallPrereqs.md) points to use of esy which solves cygwin dependencies.

[2020-01-28 20:33] BRMcLaren commented on #2461
Windows 10 ci/cd running on host, is not possible due to the requirement of needing a gen 2 VM.
Tried a custom deployment and it hangs, unfortunately, so definitely a no.

Trying a nested docker container next.

[2020-01-28 20:57] jhand2 commented on #2461
To clarify, Windows 10 in Azure must be run on a Gen 2 Hyper-V VM? Or Gen 2 is required for SGX + Win 10? Or neither of those?

[2020-01-28 22:19] mingweishih opened #2474 "Consider consolidating the cmake variables "ADD_WINDOWS_ENCLAVE_TESTS" and "BUILD_ENCALVES""
Currently OE uses the cmake variable `ADD_WINDOWS_ENCLAVE_TESTS` to inform the build system whether the enclave binaries are pre-built in the linux environment or not. This is a bit redundant as OE has another cmake variable `BUILD_ENCALVES` that does the similar job. In other word, the OE build currently requires either `ADD_WINDOWS_ENCLAVE_TESTS=ON, BUILD_ENCALVES=OFF` or `ADD_WINDOWS_ENCLAVE_TE

[2020-01-28 22:25] mingweishih opened #2475 "Revise tests/CMakeLists.txt"
The current logic in the file is not well-organized, including deprecated variable (`WIN32_SIMULATION`) and duplicated logic. This may confuse developers what tests are enabled in which configuration. We should consider revise the file.

[2020-01-28 22:40] jhand2 commented on #2465
@AevaOnline I looked into it a bit and it seems like github doesn't have support for actually enforcing anything in PRs based on per-directory OWNERS files. Have you seen a github-based project use this approach?

[2020-01-28 23:15] radhikaj opened #2476 "Standardize clang-8 support for OE SDK"
Clang 8 and Clang 9 are now publicly available
Enclaves are compiled currently with Clang-7 on both Windows and Linux. Hosts are also compiled with Clang-7 on Linux.

This would mean:
1. Released packages are built with Clang-8
2. CI/CD uses Clang-8
3. Ansible and prereqs scripts use Clang-8

Some additional background here:
 VS 2019 uses Clang-8
 RHEL 8 comes with Clang-8.

[2020-01-28 23:34] BRMcLaren commented on #2461
Azure ACC VM's only support gen-2 VMS.

I am taking this as a work item, but need to complete other platform expansion first.

[2020-01-28 23:41] BRMcLaren commented on #2461
@jhand2 Could you specify what testing scenarios would be valid to include?

[2020-01-29 00:06] jhand2 commented on #2461
I don't follow. Can we not run Win10 on gen-2 VMs?

Ideally we would run all tests that we do on any other platform. Realistically we would probably disable attestation tests if DCAP doesn't work on Win10.

[2020-01-29 02:26] AevaOnline commented on #2465
Ah, sorry. That appears to be an enterprise feature -
  https://help.github.com/en/enterprise/2.19/admin/developer-workflow/using-pre-receive-hooks-to-enforce-policy

Some CNCF projects use Prow (another CNCF project) for ACL checking, CI testing, etc -
  https://github.com/kubernetes/test-infra/tree/master/prow

Sequence diagram of Prow -
  https://raw.githubusercontent.com/kubernetes/test-infra/

[2020-01-29 13:18] VictorDebray commented on #2418
Ok thanks for your time !
By the way, do you know about any tool that I could use to trace the remote attestation flow/calls from OE to Azure DCAP ?

[2020-01-29 18:55] radhikaj commented on #2458
Closed by PR #2478

[2020-01-29 18:55] #2458 closed

[2020-01-29 19:14] jhand2 opened #2481 "Consider deprecating oeedl_file cmake function"
The oeedl_file cmake function is an 88 line file and all it does is slightly abstract something like this:

[code]

Additionally, oeedl_file is pretty inflexible. It only allows passing a single edl search path and adding support for `n` paths is probably not worth the work. It would be better to just have each enclave app to call edger8r however they want.

The main motivation is for supporting i

[2020-01-29 21:06] mingweishih commented on #1312
Depend on #2471

[2020-01-29 21:09] mingweishih commented on #1034
Update: libunwind is enabled with #2400.
The PRs for enabling libc (#2403) and libcxxrt currently depend on #2434 and #2471, respectively.

[2020-01-29 21:11] mingweishih commented on #2481
Is it similar to #2325?

[2020-01-29 21:13] mingweishih commented on #2481
Seems like a dependency. After resolving #2325, we can remove oeedl :)

[2020-01-29 21:15] jhand2 commented on #2481
Ah you're right. Closing this issue as a duplicate and assigning the other to myself.

[2020-01-29 21:15] #2481 closed

[2020-01-29 23:18] mingweishih opened #2483 "Consider separating the host and tee in the building process"
Currently OE use a single configuration to build both host and tee code. This results in having lots of hacks to apply different compiler options to one of them, especially in supporting cross-compilation on Windows (i.e., using MSVC for host and clang for tee). We should consider reorganize things in the way that having separated configurations for host and tee code.

[2020-01-30 17:03] jhand2 opened #2486 "Ensure compiler portability in public headers"
Compile all the samples and tests with `-Werror` and don't turn off any warnings. This will help ensure that our public headers don't trigger warnings regardless of how an enclave developer chooses to compile their enclave.

To support #2376 it would be great if we could also compile these things with C99

[2020-01-30 17:05] jhand2 commented on #2486
A more comprehensive solution would be to have a test that includes every public header and makes use of every macro but this seemed operationally prohibitive.

[2020-01-30 18:53] #2080 closed

[2020-01-30 19:39] yentsanglee commented on #2418
I am not aware of an easy way to trace Azure DCAP client. However, if you set OE_LOG_LEVEL to a more verbose level, oe_quote_provider_log() should capture some logs from Azure DCAP client. Just be aware that the logging callback might be unavailable in future releases.

[2020-01-30 19:56] jhand2 opened #2487 "Run libc tests separately"
Currently each libc test is run as a single test. This makes it very challenging to troubleshoot which specific test is failing. Additionally, if one test fails, the others are not even attempted.

Match the libcxx tests in putting each test in a separate enclave binary and running them as separate tests.

[2020-01-30 19:59] jhand2 commented on #1015
Agreed, the tests should not be grouped together. Additionally, I don't find the perf to really be that bad. I'll do some profiling when I get a chance but I would consider just closing this.

I have opened  #2487 to change the libc tests to behave like the libcxx tests and run each test separartely.

[2020-01-30 20:50] colemickens opened #2488 "The mix of justified and non-justified text on the GitHub Pages docs is a major eye-sore"
I sort of hate justified text in every usage online, but it's particularly grating on the OpenEnclave page: https://openenclave.io/sdk/

It's very weird to see this square blocks of text with inconsistent spacing, mixed right along in with normal non-justified text. At least one or the other would be less jarring. Removing it entirely makes it considerably easier to digest, but I realize that migh

[2020-01-30 20:58] jhand2 commented on #2488
That's fair, just left-aligning the text would probably be more readable.

@radhikaj You're listed as the maintainer for the website. Are you ok with this change?

[2020-01-30 21:35] colemickens opened #2489 "Community Resources (Matrix/Slack room?)"
Hi!

Is there a Matrix room, possibly, for OpenEnclave? Less ideally, maybe there's a Slack room?

I'm just starting to dip my toes in this arena, so maybe there are better resources or a better place for me to start at, but OpenEnclave has my attention and I have some quick check-my-understanding style questions that would be useful to discuss in an IRC-style-chat setting.

Thanks!

[2020-01-30 22:12] jhand2 commented on #2489
Hi Cole,

Welcome! We do have a gitter channel here: https://gitter.im/openenclave/community

I would be happy to answer what I can

[2020-01-30 23:49] colemickens commented on #2489
thanks!

[2020-01-30 23:49] #2489 closed

[2020-01-31 00:25] jhand2 opened #2491 "Speed up long running tests"
No individual unit test should take more than 5 seconds if possible.

Look through the tests and try to get each test to run faster. Prioritize the tests that take over 10 seconds.

All times are for linux.

[2020-01-31 00:26] jhand2 commented on #1015
I may have to walk back my cxx test comment. Each test takes at least 0.5 seconds and there are a lot of them, so thats pretty slow. Keeping open to investigate, but I don't want to squash them into one binary as a solution.

[2020-01-31 16:51] CodeMonkeyLeet commented on #379
PR #770 added a data sealing sample already, there still remains the need to add an enclave recovery sample. Updated the title and description to reflect this.

[2020-01-31 17:15] CodeMonkeyLeet commented on #404
Outdated issue that's been addressed. Closing.

[2020-01-31 17:15] #404 closed

[2020-01-31 17:43] CodeMonkeyLeet commented on #401
Addressed by PR #1773, #1782, #1841 & #1909. Further work to expose the internal crypto headers will be touched on in related issues such as #2328.

[2020-01-31 17:43] #401 closed

[2020-01-31 18:09] dthaler opened #2492 "x86 compilation fails with cryptic errors"
Here’s the errors:
1>c:\users\dthaler\source\repos\myenclave7\packages\open-enclave.0.7.0\include\openenclave\bits\types.h(39): error C2371: 'size_t': redefinition; different basic types
1>c:\program files (x86)\microsoft visual studio\2017\community\vc\tools\msvc\14.16.27023\include\vcruntime.h(184): note: see declaration of 'size_t'
1>c:\users\dthaler\source\repos\myenclave7\packages\open-enclav

[2020-01-31 18:15] dthaler opened #2493 "OE SDK doesn't support 32-bit TEEs or apps"
The OE SDK is publically stated to apply to multiple TEE platforms (not just SGX).   It was even demo'ed (using new_platforms branch bits) on an ARM32 platform last year.

Issue #2492 tracks the issue that the OE SDK master branch does not even claim to NOT support 32-bit, nor does it give any intelligent error message when one tries to use it.

This issue on the other hand, is for the longer term

[2020-01-31 18:22] radhikaj commented on #1783
I am closing this issue for now. Please let us know if you have any more questions.

[2020-01-31 18:23] radhikaj commented on #1550
@mikbras  as this is related to @prp's question and you have been driving CPUID , please take a look at this.

[2020-01-31 18:24] radhikaj commented on #892
@mingweishih Please follow up with @CodeMonkeyLeet for this issue.

[2020-01-31 18:25] radhikaj commented on #876
@jhand2, please look at this issue and see if you are ocall opt-in mechanism will resolve it.

[2020-01-31 18:26] radhikaj commented on #86
@nonpolarity Please take a look at this issue and sync with @CodeMonkeyLeet on ideas here.

[2020-01-31 18:26] radhikaj commented on #85
@nonpolarity Please take a look at this issue.

[2020-01-31 18:37] jhand2 commented on #85
As an aside, what does this even mean? Use `WaitOnAddress` for what?

@nonpolarity when you have more details could you update the details for this issue.

[2020-01-31 18:41] jhand2 commented on #86
Same, can you update with details? Specifically, does this mean for locking ocalls?

[2020-01-31 18:43] jhand2 commented on #876
The opt-in mechanism will mostly resolve this, but we still have builtin ocalls (mostly host malloc/free). I'll have to look into how feasible it would be to remove these.

It's probably possible, you just can't make any ocalls. But that's still a legitimate use-case

[2020-01-31 19:36] CodeMonkeyLeet commented on #86
@jhand2 I've updated the issue description regarding the original question around this. It concerns the choice of implementation semantics on OCalls servicing enclave synchronization primitives.

[2020-01-31 21:03] CodeMonkeyLeet commented on #85
@jhand2 @nonpolarity Updated issue description for accuracy and context.

[2020-01-31 22:12] #2432 closed

[2020-02-03 10:21] VictorDebray commented on #2418
OE_LOG_LEVEL=INFO was enough for what I was looking for.
Could see the url called and operations done by both OE and dcap !

[2020-02-03 18:19] jhand2 commented on #2008
Reopening this issue because the following ocalls still potentially need to be converted to EDL:

OE_OCALL_WAKE_HOST_WORKER
OE_OCALL_THREAD_WAIT
OE_OCALL_THREAD_WAKE

[2020-02-03 18:22] jhand2 commented on #2008
Sleep is already converted here https://github.com/openenclave/openenclave/pull/2472

[2020-02-03 18:23] jhand2 commented on #2008
@ryanhsu19 please look into which of these ocalls can actually be ported to EDL

[2020-02-03 19:30] BRMcLaren opened #2496 "A nuget package's Description property may not be more than 4000 characters long."
The OE current description is too long and is causing issues with releases when uploading Nuget Packages.

Currently, the description is 4005 characters long. When packaged, it becomes 4036, as it stands our packaging description comes from the README. When viewed in plain text, this could be improved by providing a description.md that we build from to keep the attention focused on what the produc

[2020-02-03 20:18] ryanhsu19 commented on #2464
Since this issue has been resolved, I will close it shortly.

[2020-02-03 20:18] #2464 closed

[2020-02-03 20:36] #2325 closed

[2020-02-03 22:11] radhikaj commented on #2220
Closing issue since the PR has been merged.

[2020-02-03 22:11] #2220 closed

[2020-02-03 22:17] #1783 closed

[2020-02-03 22:48] mingweishih opened #2498 "Support TEE-based implementation of random_internal for TrustZone"
This is the follow-up of #892 and #2497. The `oe_random` now depends on the hardware-supported RNG. For the case of sgx, it uses `rdrand` instruction. For the case of TrustZone, there should be an equivalent implementation (e.g., using `TEE_GenerateRandom`).

[2020-02-04 01:46] jhand2 commented on #2488
Addressed in https://github.com/openenclave/openenclave-site/pull/3

[2020-02-04 03:21] radhikaj commented on #2488
Thanks @jhand2. I merged the PR.

[2020-02-04 03:21] #2488 closed

[2020-02-04 05:04] radhikaj commented on #2141
@BRMcLaren Please check if this can be folded into the work you are doing.

[2020-02-04 05:12] radhikaj commented on #2243
@BRMcLaren @paulcallen Please take a look at this and see if you would like to prioritize it.

[2020-02-04 05:18] #2170 closed

[2020-02-04 05:29] radhikaj commented on #2108
@BRMcLaren Please let me know if you are planning on working on this issue.

[2020-02-04 06:36] radhikaj commented on #2114
@soccerGB could you please follow up on this?

[2020-02-04 06:38] radhikaj commented on #2075
@ryanhsu19 please continue looking  into this

[2020-02-04 16:33] anakrish commented on #2155
There is no inherent danger in using the same marshaling struct; there may be a tiny bit of inefficiency due to unused **pointer** fields (some fields are used only in `in` direction; other fields are used in `out` direction).

Given an edl function
[code]

the generated marshaling struct is as follows:

[code]

For pointer/array types, the marshaling struct just records a pointer. This keeps the

[2020-02-04 17:35] #2219 closed

[2020-02-04 17:41] radhikaj commented on #2024
@jhand2 Please sync with @CodeMonkeyLeet on this.

[2020-02-04 17:53] radhikaj commented on #1920
@jhand2 assigning to you.

[2020-02-04 18:00] dthaler commented on #2486
Every public API should have a test.   See PR #2163 and comments there from CGC members expressing support for that requirement.

[2020-02-04 18:06] jhand2 commented on #2498
Look into getting op-tee on QEMU into CI/CD as well so we can test w/o arm hardware

[2020-02-04 18:08] jhand2 commented on #2496
Suggest creating a separate document with a package description in plaintext

[2020-02-04 18:12] jhand2 commented on #2493
In the short term, avoid writing code/build files that are explicitly exclude 32 bit

Long term, we would like to enable 32-bit arm scenarios

[2020-02-04 18:14] jhand2 commented on #2493
Immediate action item: At least document that we only support 64-bit

[2020-02-04 18:15] jhand2 commented on #2492
At least document that OE only works w/ 64-bit apps

If possible, add a better error message

[2020-02-04 18:19] dthaler commented on #2487
Issue #2350 is the better way to fix this in the future

[2020-02-04 18:28] jhand2 commented on #2483
@mingweishih Lets brainstorm more about what it means (in CMAKE) to separate this without regressing the build experience

[2020-02-04 18:38] jhand2 commented on #2476
Consider intermediate update to clang-8

[2020-02-04 18:41] jhand2 commented on #2474
Needs investigation

[2020-02-04 19:22] anakrish commented on #2423
I had a discussion with @HernanGatta.
Currently, the OpenEnclave extension for IOT does not support SGX and it does not support building on Windows. There is no immediate need to do this task of having the OpenEnclave extension automatically install the CDB extension.

[2020-02-04 21:26] #2418 closed

[2020-02-04 21:54] radhikaj opened #2500 "CI/CD for building samples against different versions of compilers"
Following discussions during triage about Issue #2476 (Standardize clang-8 support for OE), it was decided that we should consider compiling the samples against different versions of compilers. The intent is that while the released packages are built with Clang-8, we would like for developers to be able to use clang-7 and above to build the samples.
On our CI/CD platform we would need tests that b

[2020-02-05 01:26] yentsanglee commented on #2114
'SPID', 'Primary key' and 'Secondary key' are for Intel EPID attestation. OE SDK does not need them.

[2020-02-05 01:30] yentsanglee commented on #2114
@wintersteiger

We are aware of the issue that OE SDK remote attestation does not work no non-Azure VMs. We are fixing the issue.

[2020-02-05 01:59] #2187 closed

[2020-02-05 20:32] BRMcLaren opened #2503 "Forum for CI/CD Issues Encountered after 2/5/2020"
Please post issues of anything encountered.

There are Bors and SandBox support currently, only. Bors should only be able to run through PR's currently as this is expected behavior. Currently, non-admin users cannot use Sandbox. If this is needed to unblock you, please use https://oe-jenkins.eastus.cloudapp.azure.com/job/OpenEnclave-sandbox/

We want to ensure stability before rolling out every jo

[2020-02-05 23:22] douglasism commented on #2373
@mikbras Hi Mike, are you sure about your characterization in the initial reply? https://github.com/openenclave/openenclave/issues/2373#issuecomment-566306591

They way I understand the reason to not extend the heap page measurements is that the pages are set to 0 before they are added. This is a performance enhancement without a security risk given that the pages are filled with zero.

[2020-02-06 05:14] maverick-zhn commented on #1925
I have some issues following this document:
I have a freshly installed version of Ubuntu Linux 18.04 LTS bare-metal not VM. I am interested in working on some SGX projects on my computer. My CPU is an Intel Core i5 8th Generation.
[CPU used](https://ark.intel.com/content/www/us/en/ark/products/124967/intel-core-i5-8250u-processor-6m-cache-up-to-3-40-ghz.html)

Following this document I get the fol

[2020-02-06 05:50] jhand2 commented on #1925
Hey @maverick-zhn could you open a new issue and copy and paste your message there? I believe these are separate issues.

[2020-02-06 06:48] iqsarv opened #2507 "SIGILL, Illegal instruction while debugging in vscode linux extension"
Getting following signal while debugging enclave in linux sgx with vscode extension

[code]

Stack trace:

[code]

[2020-02-06 06:54] #2507 closed

[2020-02-06 18:21] jhand2 commented on #2448
So after more investigation I'm not convinced this is something we should do. I looked at other exception handling mechanisms (windows Vectored Exception handling, POSIX signals) and neither restore the stack prior to calling the handler. The recommendation for both is that only simple things like accessing and updating the context struct be done in the handler.

The root need for this is to catch

[2020-02-06 18:28] jhand2 commented on #2373
As @douglasism pointed out, the heap pages are all zero'd by the loader.

Closing this issue, please reopen if you feel the issue is still relevant.

[2020-02-06 18:28] #2373 closed

[2020-02-06 19:27] maverick-zhn opened #2509 "SGX1 mode - Ubuntu 18.04 TLS - script failing when installing project requirements"
As suggested by @jhand2, I opened a new issue.

I have some issues following this document: https://github.com/openenclave/openenclave/blob/master/docs/GettingStartedDocs/Contributors/SGX1GettingStarted.md
I have a freshly installed version of **Ubuntu Linux 18.04 LTS** bare-metal, not VM. I am interested in working on some SGX projects on my computer. My CPU is an Intel Core i5 8th Generation [(c

[2020-02-06 20:04] radhikaj opened #2511 "CI/CD should run samples against a variety of compilers"
We are looking to move to Clang-8 to build the OE SDK. We would like the CI/CD system to test that the package generated can be used by developers who will use clang-7 /clang-8 / clang-9 / gcc to build their apps.

The request over here is to add Jenkins jobs to take the SDK package and attempt to build and run samples with a variety of compilers.

[2020-02-06 20:05] radhikaj opened #2512 "Host verification package does not include a sample"
We would like samples for the host verification package to be written and installed. Jenkins, as part of package release, can install the host verification package and then build/run the sample.

We should also address the documentation in  https://github.com/openenclave/openenclave/issues/2513 at the same time.

[2020-02-06 20:12] radhikaj opened #2513 "Add documentation of host verification package"
There is no documentation on how the host verification package can be used. If we are releasing these packages, there should be clear docs on how to consume them.
Recommend adding a new page here: https://github.com/openenclave/openenclave/tree/master/docs/GettingStartedDocs

[2020-02-06 20:24] #2487 closed

[2020-02-06 20:44] dthaler commented on #2511
Also for apps (not building OE libraries themselves, but building the samples), the host part needs to be buildable with the VS compiler also.

[2020-02-06 20:46] Francis-Liu commented on #2512
I have downloaded open-enclave.0.7.0.nupkg and open-enclave.0.8.0.nupkg. It seems the missing folder @radhikaj was referring to is `openenclave\`.

[2020-02-06 21:04] radhikaj commented on #2328
@dthaler
Suggestion per triage was to annotate this as @advanced (just as we use @experimental). Please let me know if you are OK with this direction. If so, @achamayou can issue a PR.

[2020-02-06 21:40] jhand2 commented on #2328
Does making it public just mean moving `oe_get_entropy()` to enclave.h? Or moving the entropy.h header to `include/openenclave/corelibc/"?

I also also have questions about the API itself being platform dependent (`oe_entropy_kind_t` allows for rdrand, rdseed, or optee). I want to make sure we're aware of the fact that the enclave application then has to care which platform its running on.