[2018-11-03 01:04] anakrish commented on #768
@CodeMonkeyLeet I have provided that analysis for all the tests in the list.
It is due to clang's compile-time evaluation of expressions with floating-point side effects, and also possible due to a bug where it replaces if-else with a conditional move.
I recommend closing this issue.

[2018-11-05 17:11] johnkord commented on #1001
Supported now by #1020

[2018-11-05 17:11] #1001 closed

[2018-11-05 18:43] anitagov commented on #768
@anakrish - We should move this to tests.unsupported in that case. Also file/point to a clang bug if one exists.

[2018-11-05 18:45] anitagov commented on #768
@anakrish - We should remove the tests from tests.broken and modify CMake to build this only for gcc and skip for clang. Also file/point to a clang bug if one exists.  Thanks.

[2018-11-05 20:17] #396 closed

[2018-11-05 20:28] anitagov commented on #24
Thread binding now fails if we exhaust all enclave threads, we should simply verify that host handles this failure gracefully. => Adding a new test to thread tests to verify this.

[2018-11-05 22:07] radhikaj commented on #760
Used $<COMPILE_LANGUAGE:lang> generator expression to scope -Wunused-command-line-argument while compiling ASM.

[2018-11-05 23:33] radhikaj commented on #757
GNUInstall dirs are used when installing the OE package
radhikaj@ubuntu:~/openenclave_install$ ls
bin  include  lib  share
OE_OUTPUT_DIR is used when building OE and generates a subdir called "Output" under the build directory. The directory structure replicates the GNUInstall dir structure
radhikaj@ubuntu:~/oe/build/output$ ls
bin  include lib  share

Are we saying that OE_OUTPUT_DIR should not b

[2018-11-05 23:37] radhikaj commented on #757
GNUInstall dirs are used when installing the OE package
~/openenclave_install$ ls
bin include lib share
OE_OUTPUT_DIR is used when building OE and generates a subdir called "Output" under the build directory. The directory structure replicates the GNUInstall dir structure
~/oe/build/output$ ls
bin include lib share

Are we saying that OE_OUTPUT_DIR should not be used? Where would the lib/bins etc

[2018-11-06 21:16] radhikaj commented on #1017
https://stackoverflow.com/questions/40055022/cmake-how-to-choose-c-headers
From here it seems that you have to explicitly set include paths for each of your compilers while using cmake. I am investigating further to see if there is a different way to do this.

[2018-11-06 21:16] CodeMonkeyLeet commented on #768
@berinpaul can you take these tests in tests.broken and move them into test.support, then update the tests/libc/CMakeLists.txt so that they only get run on the GCC configuration?

[2018-11-06 22:40] CodeMonkeyLeet commented on #701
Resolved by #826

[2018-11-06 22:40] #701 closed

[2018-11-06 22:59] radhikaj commented on #1017
I also found this. I am unable to figure out where the compiler provided intrinsics are stripped.

# we strip the default include containing the compiler-provided intrinsics
# add it back in
#target_include_directories(oecore SYSTEM PRIVATE {OE_C_COMPILER_INCDIR})

[2018-11-07 03:01] CodeMonkeyLeet commented on #808
Confirmed with MSRC that the posted guidelines is the recommended protocol for handling security issues.

[2018-11-07 03:01] #808 closed

[2018-11-07 13:32] novikov-alexander opened #1025 "oe_create_enclave(): result=1 in Azure Confidential Cloud"
I've created a VM in the Azure Confidential Cloud with preinstalled open enclave library.
All of samples worked fine. Then I removed open-enclave library.
Then I cloned and build the last version of openenclave from github via steps written in documentation.
Almost all tests are failed. Each failed test and sample write "oe_create_enclave(): result=1". What does it mean and how to fix it?

[2018-11-07 16:09] anakrish commented on #1025
@novikov-alexander
Just to rule it out, can you check the kernel version to see if the kernel has been updated?
What we know is that whenever the kernel is updated, the intel sgx drivers need to be installed again.

[2018-11-07 17:23] CodeMonkeyLeet opened #1026 "Enable oesgx tool on Windows"
The `oesgx` tool for detecting SGX capabilities should compile on Windows already but has not been enabled for it. We should just have it build in Win32 configs as well.

[2018-11-07 17:25] CodeMonkeyLeet opened #1027 "App Devs can run OE SDK tools on Windows"
All tools that ship as part of the OE SDK need to build and run on Windows:

- [x] #837 Enable enclave signing on Windows (#956, #1027)
- [x] #838 Support oeedger8r on Windows (#895)
- [x] #1026 Enable oesgx on Windows (#1027)

[2018-11-07 17:31] CodeMonkeyLeet commented on #837
Partially addressed by PR #956 which provided the loader stack the ability to sign enclaves on Windows. The remaining work is to enable `oesign` to build and run on Windows as well with the changes.

[2018-11-07 19:33] anakrish commented on #290
@radhikaj Seems relevant.

[2018-11-07 19:54] anakrish opened #1030 "oeedger8r: Support switchless calling"
Making calls across the host/enclave boundary uses the EENTER/EEXIT instructions which have a significant performance cost. For some applications, this code is prohibitive.

_Switchless_ calling is a mechanism to implement ecalls and ocalls using a shared buffer and lock-free host and enclave threads that allow making ecalls and ocalls without incurring the performance cost of _switching_ (transit

[2018-11-07 19:59] anakrish opened #1031 "oeedger8r: Support deep-copy via attributes on struct members"
We want to enhance EDL to allow specifying the size, count attributes on struct members. Eg:

    struct my_struct {
         [count=10] int* p1;
         [size=40] int* p2;
         [count=p3_size] int* p3;
         [isptr, count=5] my_ptr_t p4;
         int p3_size;
    };

Using these annotations, we will do a deep-copy of all data across the host/enclave boundary.

[2018-11-07 20:04] anakrish opened #1032 "oeedger8r: Emit runtime type checks"
Enclaves created on one platform can be loaded and used in another platform.
This introduces issues if the some of the types used in the EDL are different across both platforms or if the compilers on either platform pack the structs differently.

Edger8r should generate type checks to detect incompatibilities between the host and the enclave.

[2018-11-07 21:00] CodeMonkeyLeet opened #1033 "Re-enable tests for ELF enclave on Windows"
Prior to PR #632, many more tests were enabled for running ELF enclaves on Windows. This issue tracks re-enabling these tests and fixing any new build breaks and issues introduced into them while they were disabled:
- abortStatus
- create-rapid
- ecall_ocall
- echo
- enclaveparam
- cppException
- getenclave
- hostcalls
- hexdump
- initializers
- libc
- libcxx
- libcxxrt
- memory
- mixed_c_cpp
- oc

[2018-11-07 21:29] CodeMonkeyLeet opened #1034 "Support libunwind and libc tests for ELF enclaves on Windows"
The following tests relating to libc/libunwind are currently disabled on Windows because their functionality was not appropriately supported before.
- backtrace
- libunwind
- stdc

The causes for their failures on a Windows host need to be investigated; in particular, issues with libunwind/backtrace suggest issues that need to be fixed for the story around parity with Linux behaviors (#376)

Also

[2018-11-07 23:09] CodeMonkeyLeet opened #1035 "Add separate build configuration for Windows to build and test PE enclaves."
The current build configuration for Windows allows only the host components to tests to be executed on Windows and for the enclave binaries to be sourced from a prior build on Linux. With the introduction of PE enclaves that can be compiled and run on Windows, we will need to add a new build configuration to test enclaves compiled and executed entirely on Windows.

[2018-11-07 23:11] CodeMonkeyLeet opened #1036 "Add support in oesign for PE binaries"
The oesign tool still has a several ELF-specific code paths that need to be generalized like the loader so that it is agnostic to the file format it is operating on when adding signatures to the app.

This is a prerequisite for the `props` and `debug-mode` tests to build successfully as part of enabling PE enclave tests on Windows (#1035)

[2018-11-07 23:17] CodeMonkeyLeet opened #1037 "App Devs have debugger support for PE enclaves on Windows"
Depends on #1040, related to #37. We would like to have WinDbg extend their support for OE enclave debugging to PE enclaves as well when that becomes available.

- [ ] Add support to WinDbg for debugging Open Enclave PE enclaves (External)
- [ ] Update documentation to reflect instructions and support for this use case.

[2018-11-07 23:26] CodeMonkeyLeet opened #1038 "Add support for 3rd party libraries in Windows PE enclaves"
In order for the Windows PE enclave binaries to be useful, they must minimally support the same set of 3rd party libraries in the OE SDK:
- [ ] MUSL libc
- [ ] LLVM libcxx
- [ ] mbedtls
- [ ] libunwind
- [ ] libcxxrt

This task tracks porting these binaries to build on Windows, preferably with MSVC natively, and potentially investigating cross-platform alternatives as needed.

[2018-11-08 01:31] CodeMonkeyLeet opened #1040 "App devs can build and load PE enclaves on Windows"
While the ability to run an ELF enclave on Windows provides basic cross-platform support, there is a strong preference for Windows developers not to have to leave the Windows ecosystem to develop enclave applications.

A fundamental step towards supporting that is to enable loading of Portable Executable (PE) format binaries as generated by Windows native tools (i.e. MSVC, link):

- [x] Support lo

[2018-11-08 01:43] CodeMonkeyLeet opened #1041 "App devs have an integrated Windows dev experience with OE SDK on Visual Studio 2019"
~~Depends on #1040 to have PE enclaves on Windows.~~

This story tracks ensuring an integrated dev experience on Windows through VS2019 tools, which includes the following tasks:
- [ ] (External) Add VS2019 debugger support for debugging OE PE enclaves
- [ ] Add VS templates for OE app development
- [ ] Update documentation around VS2019 usage

[2018-11-08 01:52] CodeMonkeyLeet opened #1042 "App devs can port existing Win32 code into OE enclave apps on Windows"
Particularly for Windows devs, there is a demand for supporting Windows APIs common in app development, in particular:

- [ ] Windows Universal CRT (UCRT)
- [ ] CNG for cryptography (a.k.a. BCrypt)
- [ ] Win32/NT system API dependencies (e.g. HeapAlloc)

[2018-11-08 01:59] CodeMonkeyLeet opened #1043 "App devs can use DCAP attestation for OE enclaves on Windows"
The existing OE support for Windows only depends on the old Intel AESM stack and is not yet integrated with new DCAP dependencies necessary for remote attestation features in OE. To enable this, we need to:

- [x] Add DCAP dependencies and configuration instructions for Windows to OE project (PR #1865 )
- [x] (External) Ensure that Azure/Intel DCAP provider libraries are available.
- [x] Enable US

[2018-11-08 06:27] soccerGB opened #1044 "Attestation: OE_VERIFY_FAILED was overloaded for many validation failures, need define new error codes for specific failure condition"
The OE_VERIFY_FAILURE code is returned for any validation failures in the the code path of the oe_verify_report() API, which does not help narrow down the root causes, even thought the OE SDK has the exact error code for most the failure scenario. Unfortunately, the original failures were swallowed and replaced with generic  OE_VERIFY_FAILURE  code, which makes debugging attestation issues very di

[2018-11-08 06:34] soccerGB opened #1045 "Logging: Need to add logging mechanism in to the SDK"
The current OE SDK has no logging at all, which makes triage any OE SDK issues outside of a dev machine impossible.

The logging in question here is for the OE SDK itself, not the client's OE enclave.
Given the OE SDK open source, developers can exam the source code for what's actually logged, as long as we make sure no sensitive information logged, there should have no trust issue here.

[2018-11-08 06:38] soccerGB opened #1046 "Logging: Need to add secure logging APIs to OE SDK"
Currently, this is no secure logging API for OE application.  Debugging an OE relies on the availability of the access to the system. A secure API would greatly help the debugging an OE issues on a remote machine.

[2018-11-08 06:47] soccerGB opened #1047 "Request for adding a new API that does a combination of the current oe_verify_report functionality and validating a set of caller provided CA list."
This is a request from CoCo, whose nodes vote on the acceptance of a new node joining an existing CoCo instance. With this new API, it would simplify their implementation. This is a request for a convenient API

Potentially, we could provide a separate API (eg. oe_verify_report_ex) that returns cert_chain from the remote report and leave business logics to CoCo's implementation.

[2018-11-08 06:55] soccerGB opened #1048 "Expand the OE SDK CI system to cover Microsoft/Azure-DCAP-Client repo"
For any OE application to conduct remote-attestation successfully on Azure environment, a working Microsoft/Azure-DCAP-Client , built from repo (https://github.com/Microsoft/Azure-DCAP-Client) is essential.

We want to make sure no regressing changes were merged into Microsoft/Azure-DCAP-Client repo

[2018-11-08 07:54] novikov-alexander commented on #1025
@anakrish
4.15.0-1022-azure

I think the problem is not in the kernel because package installed via "apt" works fine.

[2018-11-08 08:57] novikov-alexander commented on #1025
I've reinstalled the driver. It doesn't help

[2018-11-08 11:31] ihaller commented on #1040
A difficult and critical item missing from the list is porting the compiler runtime of MSVC.

[2018-11-08 17:46] anakrish commented on #1025
Thanks @novikov-alexander.
Interesting. On my VM uname -a gives:
Linux accVM **4.15.0-1023-azure** #24~16.04.1-Ubuntu SMP Wed Aug 29 12:54:36 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

Can you give @dmitsh access to your VM?

[2018-11-08 17:49] anakrish opened #1050 "Debugger: Allow debugger to work in Simulation mode"
Simulation mode is quite useful. However, the debugging experience in simulation mode has not been actively maintained.

[2018-11-08 22:11] andschwa opened #1053 "Add CMake interface library for tests to clean up graph"
As made evident in #973, we really need an interface library setup for our tests. Instead of each and every test repeating the logic:

[code]

We can replace this with one instance of:

[code]

And then all the tests just do:

[code]

(If needed to differentiate CXX from C, we can have a pair of interfaces etc.)

[2018-11-08 22:22] andschwa opened #1055 "Generate a visual of the CMake dependency graph"
It is possible to generate a visual of the CMake dependency graph with graphviz. We need to do this in order to move forward with fixing the dependency graph (since it will be a lot easier to reason about if we can see it as a graph instead of inspecting every target by hand).

[2018-11-08 22:39] andschwa opened #1056 "Fix linkage of libraries on Windows to exclude standard libraries"
As reported via email from @bmhsieh, it turns out that CMake hard codes a set of standard libraries to include on Windows (see [here](https://github.com/Kitware/CMake/blob/17e98e00c449ebdceac980c0ce65c800030605db/Modules/Platform/Windows-MSVC.cmake#L228)). Because of this, it means that despite `/NODEFAULTLIB` being specified, all these libraries still show up when linking, like this:

[code]

We

[2018-11-08 22:45] andschwa opened #1057 "Fix Jenkins pipeline to treat skipped stage as failed"
As worked around in #1012, Jenkins will not treat a build as failed if a stage is skipped. This is problematic because it means that with manual intervention, it was possible to skip e.g. `check-precommit-reqs`, and that meant it was possible to merge code to master that actually failed the build.

We've worked around this by moving all stages into a single parallel stage such that there is "only

[2018-11-08 22:54] andschwa commented on #1055
Here's how to generate it:

[code]

But due to the thousands of test targets, right now this generates a picture which crashes Windows Photos.

[2018-11-08 22:56] #837 closed

[2018-11-09 00:08] anitagov commented on #24
PR #1023 adds a new test to verify TCS exhaustion returns OE_OUT_OF_THREADS has been merged to resolved.
The main 3 bullet items have been addressed. So, closing this issue.

[2018-11-09 00:08] #24 closed

[2018-11-09 00:36] #358 closed

[2018-11-09 00:40] #1027 closed

[2018-11-09 01:05] anitagov commented on #1050
Radhika opened #657 to address this in early September. This needs to be merged to that issue.

[2018-11-09 01:07] #1017 closed

[2018-11-09 08:42] novikov-alexander commented on #1025
@anakrish How to do it(give access)?

I've tried to recreate VMs in West America and East Europe regions yesterday. Both of them have (4.15.0-1022-azure kernel)

[2018-11-09 08:57] novikov-alexander commented on #1025
@dmitsh How to do it better (give access to you)?

[2018-11-09 10:02] novikov-alexander commented on #1025
@anakrish  I've just updated the kernel to 4.15.0-1025-azure, reinstalled the driver and everything began to work! So, the problem was in the kernel.

Thank you!

[2018-11-09 10:02] #1025 closed

[2018-11-09 12:16] ionutbalutoiu commented on #1048
This is the `WiP` PR for this https://github.com/Microsoft/Azure-DCAP-Client/pull/9

[2018-11-10 09:02] #26 closed

[2018-11-10 09:02] lilyfang commented on #26
Simulation mode will be supported.

[2018-11-10 09:05] lilyfang commented on #846
The APIs are currently used by OE SDK application.

[2018-11-10 09:05] #846 closed

[2018-11-11 23:33] johnkord opened #1062 "Determine how to safely perform a Windows update on Windows CI systems"
The last time I performed a Windows update on the Windows CI system that we use, the Jenkins agent started throwing several errors around every 5 minutes or so, complaining about dropping a connection. Investigation needs to be done into how to safely perform Windows updates on Windows CI systems.

[2018-11-11 23:36] johnkord opened #1063 "Use Ansible to make Jenkins master redeployable"
Configuring a newly deployed system for CI requires some manual invocation of commands after provisioning. For example, on a Linux ACC node, there are some scripts that need to be run manually in order to configure ssh keys, install java, install docker, etc. It's more complicated for redeploying the host for the Jenkins CI system.

I'd like to see all of this information be encapsulated into a Pu

[2018-11-12 16:55] mikbras commented on #749
**Update:** Bor-Ming is porting the enclave side to Windows now, so we will have to avoid VLA's for now.

[2018-11-12 18:38] andschwa opened #1066 "Conditionally set HeapPageCount for tests"
The `HeapPageCount` for libcxx tests were increased from 8192 to 12288 by VVDN with the libcxx upgrade to 7.0 presumably because one test needed the extra 4k pages. Since there is one wrapper for all the libcxx tests, all the tests got the extra heap page count.

Since we merged libcxxthrd with libcxx, the extra heap pages now are applied to all the tests.

Is there an elegant way to use the extra

[2018-11-12 18:39] andschwa commented on #1066
This was originally from @anitagov, and I did not want it to get lost in my email.

[2018-11-12 18:46] andschwa opened #1067 "Fix Jenkins' GitHub auth to work with organization permissions"
As of June 24th, GitHub's API changed https://developer.github.com/changes/2015-01-07-prepare-for-organization-permissions-changes/

And per this comment:

It seems we would need to move the GitHub OAuth app to the Microsoft organization for this to work.

When I last contacted the Microsoft GitHub org admins about bors, they seemed more than willing to help out with this  kind of thing. So @johnk

[2018-11-12 22:02] soccerGB commented on #1046
.      Logging: Need to add secure logging APIs to OE SDK

Currently, our OE SDK  does not have any “secure logging API” for OE applications to log enclave specific information.  Adding “secure logging API”  to OE SDK would help OE enclave developers triage enclave issues reported from their enclave users.
I chatted with some people on the team (thanks a lot for the input from Istvan). It turns ou

[2018-11-12 22:02] soccerGB commented on #1045
Logging: Need to add logging mechanism in to the SDK

The logging type is for adding instrumentation into the OE SDK itself, not the client's OE enclave. This is pure for the purpose of helping us triaging/debugging OE SDK issues without the need of accessing to the remote machine, it would also help OE application debugging .
While the logging is on, it might impact enclave performance, we could

[2018-11-12 23:50] andschwa opened #1068 "libunwind tests link to .libs/libunwind-x86_64.a *and* to .libs/libunwind.a but don't use the interface library"
It's strange, see the graph:

![libunwind](https://user-images.githubusercontent.com/2226434/48381759-64780100-e692-11e8-8b07-4ff44f39ecc0.PNG)

We should probably have `libunwindtest-support` link the correct one transitively.

[2018-11-12 23:51] andschwa commented on #1068
@mikbras Do you have any historical context?

[2018-11-13 11:29] ionutbalutoiu commented on #1048
Closing this one since the following pull requests enabled successful OE CI with the latest `Microsoft/Azure-DCAP-Client` code:

- https://github.com/Microsoft/Azure-DCAP-Client/pull/9
- https://github.com/Microsoft/Azure-DCAP-Client/pull/15

[2018-11-13 11:29] #1048 closed

[2018-11-13 17:08] CodeMonkeyLeet commented on #1026
Resolved by #1028

[2018-11-13 17:08] #1026 closed

[2018-11-13 17:51] #838 closed, assigned to anakrish

[2018-11-13 17:51] CodeMonkeyLeet commented on #838
Resolved by #895

[2018-11-13 17:59] CodeMonkeyLeet commented on #635
Consolidating this issue with #516

[2018-11-13 17:59] #635 closed

[2018-11-13 18:02] CodeMonkeyLeet commented on #199
Likely superseded by work for #401 to consolidate mbedtls libs into oecrypto lib.

[2018-11-13 19:49] #1055 closed

[2018-11-13 23:45] #969 closed

[2018-11-13 23:56] andschwa commented on #1068
/cc @CodeMonkeyLeet

[2018-11-14 00:00] andschwa opened #1073 "oe_ptrace appears as an orphaned node in CMake graph"
Nothing depends on it.

[2018-11-14 00:31] anakrish commented on #1073
I think it is intended for use by the debugger.
I will have to figure out how it is loaded/used by the debugger.

[2018-11-14 03:07] anitagov commented on #1073
Anand is right. Here is info from the README.md file.
The oe_ptrace library implements the customized ptrace and waitpid function to get and set
enclave registers, and fix the enclave breakpoint. **It is preloaded into the GDB by oe-gdb script.**

[2018-11-14 11:36] letmaik opened #1074 "Improve oe_create_enclave error messages"
There are situations where `oe_create_enclave()` returns code 1 which `oe_result_str()` resolves to "OE_FAILURE". This doesn't say anything really. It would be good to distinguish more error conditions and expose them appropriately.

[2018-11-14 18:37] andschwa commented on #1073
Ah, thank you! Let's get a comment to that effect in the library's `CMakeLists.txt`, since it appears as an orphaned node in the graph.

[2018-11-14 18:37] mikbras commented on #1068
Hi Andy. The tests were written by VVDN. I'm not sure what they are doing or are suppose to do.

What is the "interface library"?

[2018-11-14 18:45] andschwa commented on #1068
Ah, it is not an interface library, it's a static library: `libunwindtest-support` (but its interface still can/should be used to link the right library).

What is "VVDN"?

[2018-11-14 18:48] andschwa commented on #1068
These are the confusing lines, they were last edited by you and "arjunvnambiar":

[code]

[2018-11-14 21:36] andschwa commented on #503
Related to #1068

[2018-11-14 22:46] andschwa opened #1076 "Set USE_LIBSGX to ON by default"
This was a separate part of #969 that we pulled out.

Instead of requiring users to build with `cmake -DUSE_LIBSGX` on SGX-enabled machines, we should just use `find_library` to detect the SGX library, and if found, enable it. (If it's not found, we need to emit a warning that we're only building in simulation mode).

[2018-11-15 13:34] oprinmarius commented on #1057
@andschwa
Currently there is no way to report Skipped stages as failed with Declarative Pipeline (The one we have in Jenkinsfiel), but we have several options to implement:

1. We can install a plugin and disable  "Restart from stage" option completely. In this way every build can only be triggered from the start.
2. We can re-write the Jenkinsfile as Scripted Pipeline , and manually check the sta

[2018-11-15 18:51] andschwa commented on #1057
Hm. It's a tough choice.

On the one hand, scripted pipelines are a lot more powerful, and as we continue to run into problems with declarative pipelines, rewriting them into scripted pipelines becomes an enticing choice.

But that's also a rather high cost to pay when disabling "restart from stage" is a choice, and one that I think we'd want to make regardless.

So I would suggest to install that

[2018-11-15 19:16] andschwa commented on #891
@letmaik Yeah I had similar thoughts when I was looking at this. What's more, `add_enclave_executable` actually generates both a (useless) executable _and_ a shared library. It's weird.

[2018-11-15 20:04] andschwa commented on #891
@radhikaj My proposed API would look like this.

# Existing use

## With Signing
This is fairly bad because it wraps `add_executable`. And inside, it only uses `add_executable` because (presumably) they did not want the `lib` prefix or `.so` suffix. This "executable" is not an executable, but it's generated as one and left-around.

[code]

## Without Signing
Hilarious because it doesn't use the fu

[2018-11-15 21:46] johnkord opened #1080 "Crypto Library Modularity in Enclaves"
Note: This design document is currently being revised.

# Crypto Library Modularity in Enclaves
Author: John Kordich
Current Revision: 3
Latest Revision Date: 2018-12-10
First Revision Date: 2018-11-15

## Abstract
This document proposes to add a new library named “oecrypto” to be linked together with enclaves, which will function as a layer of abstraction for cryptographic function implementation

[2018-11-15 21:54] andschwa opened #1081 "Remove the oelibcxx_tmp hack"
This [terrible hack](https://github.com/Microsoft/openenclave/blob/f2001e930a6b0c1fb042767c59e03327f33c1393/libcxx/CMakeLists.txt#L14) has an existing TODO in the code, because the way this is written will absolutely not work on Windows (it depends on embedded Linux scripts).

[2018-11-15 22:02] #760 closed

[2018-11-15 22:12] radhikaj commented on #1076
A machine that has SGX+FLC capability can be used in SGX1 mode or SGX1+FLC mode or simulation mode. Similarly, a SGX1 machine can be used in SGX1 mode or simulation mode.

[2018-11-15 23:51] anitagov commented on #955
libcxx tests use c++14 but most of the other tests and OE core use c++11. So, we are not switching to using c++17 with libcxx yet.

To reiterate, all these C++17 tests PASS with the c++17 compile switch.

[2018-11-16 00:46] anitagov commented on #151
Changing title to indicate that these tests have been moved to tests.unsupported as they are not in tests.broken.

[2018-11-16 03:00] soccerGB commented on #1080
Could multiple crypto libraries co-exist in the same system at the same time? Or this oecrypto library can only lock to one single chosen library?

[2018-11-16 03:30] anitagov commented on #151
PR #1070 - Enabled 1 libcxx thread test
PR #1082 - Enabled 2 libcxx tests that build and run with Clang but do not build with gcc

[2018-11-16 03:42] anitagov commented on #413
Closing this as #389 has been completed and #151 is almost resolved by me.

[2018-11-16 03:42] #413 closed

[2018-11-16 03:49] johnkord commented on #1080
Thanks @anitagov!

And @soccerGB : the answer to your first question is yes, multiple crypto libraries could (and usually do) exist on the same system at once! They're just libraries (.a/.lib and .so/.dll). It's very common to have both NSS and OpenSSL installed on the same system for many Linux distributions!

Also, as for your second question: the oecrypto library implementation is left up to th

[2018-11-16 14:54] oprinmarius commented on #1057
@andschwa I installed the Job restrictions plugin but unfortunately project restrictions cannot be enabled for Multi-branch pipelines.
Re-writing the Jenkinsfile as Scripted remains our only option.

[2018-11-16 18:43] anakrish commented on #1080
There needs to be a crypto testsuite that accompanies the crypto API.
That would help developers test any crypto library that they are wrapping to make sure it behaves as OE expects.

[2018-11-16 18:52] anakrish commented on #1080
It would be good for OE to provide by a shim layer over popular crypto interfaces:
1. Open SSL. That would make any enclave compatible implementations of Open SSL usable.
2. SGX Crypto abstraction layer: https://github.com/intel/linux-sgx/blob/master/common/inc/sgx_tcrypto.h

[2018-11-16 18:54] anakrish commented on #1080
It would be good to coordinate with @mikbras 's filesystem implementation where the user can provide custom file-system implementations. A nice to have would be to have users use a similar model for extending OE.

[2018-11-19 23:41] radhikaj commented on #891
@mikbras @anakrish

When I build the enclave as an SHARED library, rather than an executable, the tests still pass.
@anakrish suggested dumping out the linker commands to verify PIE was being used while generating the .so. The linker command does show that -PIE is being used by the linker.

Here is the verbose output of make.
@mikbras could you please comment on whether the enclaves should be adde

[2018-11-20 00:08] #896 closed

[2018-11-20 00:19] radhikaj commented on #891
One more input into this discussion.
@anakrish  printed out verbose output from the linker(by copying the linker command from verbose make and adding a -v before -fPIC). It appears that -PIE  and -shared are both accepted by the linker.
 /usr/bin/clang-7 -v -fPIC -g  -shared -Wl,-soname,libprops_enc_unsigned.so -o libprops_enc_unsigned.so CMakeFiles/props_enc_unsigned.dir/enc.c.o CMakeFiles/props_

[2018-11-20 06:02] anitagov opened #1089 "Need samples for demonstrating multi-thread usage in enclaves"
OE samples need to be extended to demonstrate multi-thread usage in enclaves.
Since threads cannot be created in enclaves, they are created on the host and then used by the enclave. Creation, Join and Detach of threads are done only on the host.
These samples should also demonstrate creation/joining/detaching of threads using pthread_create/pthread_join/pthread_detach hooks/shim layer.

[2018-11-20 15:13] berinpaul opened #1090 "Broken libc-test"
The test ../../3rdparty/musl/libc-test/src/functional/tls_align.c is currently broken since the sixth program header of the elf object is of type TLS. Application raises `OE_UNSUPPORTED` at `host/loadelf.c:169`.

[2018-11-20 17:37] radhikaj commented on #891
Here us another input. The .so is a Position Independent Executable
 hardening-check libprops_enc.so
libprops_enc.so:
 Position Independent Executable: yes
 Stack protected: no, not found!
 Fortify Source functions: unknown, no protectable libc functions used
 Read-only relocations: yes
 Immediate binding: no, not found!

[2018-11-20 18:09] anitagov commented on #1090
@mikbras -- This broke 18 days back with the elf changes.

[2018-11-20 21:39] anakrish commented on #1076
@radhikaj
It might make sense to default to the most commonly used scenario, if possible after detecting the hardware capabilities. I would like USE_LIBSGX=1 to be the default since Coffee Lake machines are the common ones we have.

[2018-11-20 21:59] anitagov commented on #893
PR #1087 resolves this. So, closing.

[2018-11-20 21:59] #893 closed

[2018-11-20 22:08] anitagov commented on #151
Enclave abort() results in SIGILL instead of SIGABRT:
3rdparty/libcxx/libcxx/test/libcxx/debug/debug_abort.pass.cpp

This is expected enclave behavior that abort() will result in SIGILL and not SIGABRT. This test cannot be supported.

[2018-11-20 22:14] anitagov opened #1091 "Libcxx functional tests that require C++17 flag"
Pulling this issue out of #151 as the following require C++17 support. After upgrade to libcxx 7.0, the library supports C++17. So, these can be enabled when we decide to build libcxx  enclave tests with C++17. We currently build with C++14 flag.
3rdparty/libcxx/libcxx/test/libcxx/language.support/support.dynamic/new_faligned_allocation.sh.cpp
3rdparty/libcxx/libcxx/test/std/algorithms/alg.sorting

[2018-11-20 22:18] anitagov commented on #151
Opened new issue #1091 to cover the libcxx tests that require the C++17 flag. So, closing this issue.

[2018-11-20 22:18] #151 closed

[2018-11-20 22:19] anitagov commented on #955
Unassigning this as we are not moving to building libcxx with C++17 at this time.

[2018-11-20 22:20] anitagov commented on #830
We should probably enable this test for gcc and disable for clang.

[2018-11-20 22:36] anitagov commented on #341
I think the value of moving test.h to a new folder at this point is still low as there are no other test resources. The original reason for opening this issue was because tests.h was part of the SDK but now since this file is in internal (as Simon already pointed out).

So, unassigning out of this.

[2018-11-21 00:24] mikbras opened #1094 "Apply -ffreestanding to all enclave objects."
The **tests/fs** enclave was crashing when calling **fread** and **fwrite** (using **Clang** in release mode). This is caused built-in **fread** and **fwrite** calls (note that **oelibc** provides its own version of these functions, which are never reached due to the optimization). To workaround, the following options may be used.
[code]

But other problems are lurking, so it is best to disable bu

[2018-11-21 16:22] acl33 opened #1098 "(Documentation?) std::chrono::high_resolution_clock"
Calling std::chrono::high_resolution_clock::now() from inside the Enclave aborts with message:
Assertion failed: "clock_gettime(): panic" == NULL (/mnt/c/Users/allawr/openenclave/libc/syscalls.c: _syscall_clock_gettime: 134)
This is probably to be expected from what LibcSupport.md says about clock_gettime, but LibcxxSupport.md claims that chrono is fully supported....

[2018-11-21 18:52] anitagov commented on #1098
I updated LibcSupport.md to indicate the limitations of clock_gettime but didn't update LibcxxSupport.md  to indicate the partial support of chrono. Thanks for flagging this. Will update this.

[2018-11-21 18:55] anakrish commented on #1098
@anitagov Can you see if we can cause a link error for this case.

[2018-11-21 19:06] anakrish opened #1100 "oe-gdb: Simulation mode: Stack stiching"
oe-gdb now works in simulation mode. However when a break point is hit within the enclave, bt reveals that the call stack stops at the enclave boundary. This is because we are trying to stick the stack as if we are running an enclave in non simulation mode.

[2018-11-21 20:35] anitagov commented on #948
Here is confirmation from the POSIX standard, Section 7.1.3  - http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1570.pdf
**7.1.3 Reserved identifiers of the C Standard:**

- All identifiers that begin with an underscore and either an uppercase letter or another
underscore are always reserved for any use.

- All identifiers that begin with an underscore are always reserved for use as identifiers
wi

[2018-11-22 02:40] anitagov commented on #978
Work in progress...

[2018-11-23 08:05] ahapliuc commented on #1062
I have disabled automatic windows updates for now. When we will deploy the new agents, we will always deploy the latest images.

[2018-11-23 08:05] #1062 closed

[2018-11-23 08:07] ahapliuc commented on #1063
@johnkord do you have some tips on how Jenkins was deployed? This would help us test and validate the way that we deploy the CI agents.

[2018-11-23 11:37] dragoshsch commented on #766
@andschwa I've been looking into this, and it seems that the [pre-commit hook script](https://github.com/Microsoft/openenclave/blob/master/scripts/check-precommit-reqs) itself only takes about **20 seconds** to run, the rest of the **~70 seconds are all Jenkins pipeline operations** behind the scenes (since it is still a declarative pipeline).

**Parallelizing** the scripts that are run in the [pr

[2018-11-26 11:30] dragoshsch commented on #1002
@johnkord I created PR #1108 to solve this.

[2018-11-26 17:20] anitagov commented on #978
@anakrish - I already completed this last Wednesday and wanted to issue the PR today after some more testing. I see that VVDN completed unsigned long. Will merge and add my changes for the remaining types.
The Assignee should be changed if it is reassigned to someone else in order to avoid duplicate work. I also believe that a Work-in-progress field is needed to avoid reassignment of tasks in prog

[2018-11-26 18:24] andschwa commented on #766
@dragoshsch 20 seconds is wayyy too much for anyone to run for each and every commit 😄

Currently this script _only runs in CI because it takes 20 seconds. It _should_ be run automatically for each commit as a pre-commit hook by developers on their machine, but they can't because it's so crazy slow.

[2018-11-26 19:07] soccerGB commented on #1045
Proposal:

# Open Enclave SDK tracing

   Supports logging OE SDK API operations to console or file by setting logging level and flags configuration through host environment variables.

## What would be logged?

### Inside the enclaves

- Enclaves created with OE_ENCLAVE_FLAG_DEBUG flag will honor logging options set in above environment varaibles
- Production encalves (no OE_ENCLAVE_FLAG_DEBUG) w

[2018-11-26 19:37] dthaler commented on #1045
I think the "OE_LOG_PATH" part of the proposal is too limited, in that it assumes that the log is stored as a file in the untrusted file system.   Instead I think it should be designed more like we discussed for files and sockets, where there's different providers with different security semantics.

[2018-11-27 09:37] #1057 closed

[2018-11-27 16:54] ionutbalutoiu commented on #1002
The PR https://github.com/Microsoft/openenclave/pull/1108 merged. Closing this.

[2018-11-27 17:16] andschwa commented on #766
Make it run as a [pre-commit hook](https://git-scm.com/docs/githooks) to only run against the changed files (available in environment variables from the hook).

Probably still want the option of running the scripts against the whole repo, but even then, they should utilize `git ls-files` instead of a bunch of `find` magic.

Please don't let me forgot to post my WIP branch. It wasn't working perfec

[2018-11-27 17:37] johnkord opened #1112 "ELF on Windows CI stage consolidation"
Once building ELF enclaves on Windows works, we can consolidate the two-stage per Windows build into one stage. It will no longer be necessary to build the enclaves on Linux and then stash/unstash them onto Windows for testing. The Linux stage can be dropped for the Windows builds.

[2018-11-27 17:42] johnkord opened #1113 "Re-use (and factor out) Ansible configuration work to be used with oe-engine"
The Cloudbase team is doing some work to add Ansible configurations for Jenkins agents, and it might be a good idea to reuse (and factor out) some of this work to be used with Azure ACC deployments.

[2018-11-27 17:43] johnkord opened #1114 "Windows Server 2019 support"
This issue is to track support for Windows Server 2019 deployments in oe-engine and in the Jenkins CI

[2018-11-27 18:00] CodeMonkeyLeet opened #1115 "Enable QSpecter flags when compiling with MSVC"
Visual Studio 2017 v15.5 and up should have the MSVC compiler option for Spectre mitigation available as per https://blogs.msdn.microsoft.com/vcblog/2018/01/15/spectre-mitigations-in-msvc/

As part of supporting PE enclaves (#1040) we need to investigate enabling the mitigation flags when compiling with MSVC:
- [ ] Verify if the extent of mitigation applied via VS 2017 v15.7 and up, which will pro

[2018-11-27 19:20] andschwa commented on #766
@dragoshsch Here is the [the WIP branch](https://github.com/Microsoft/openenclave/tree/andschwa/check-license). It wasn't quite working; as I dug into the implementation I found a lot of oddities.

Also, I think for each of the three scripts, we need to retain the option of running against all files in the repo. So like, if a list of files is specified as input, just check those (and then we'd use

[2018-11-27 19:49] johnkord commented on #766
@andschwa Sounds great to me. I like the idea of running these checks against all files in the CI, but running only on the different files locally for the pre-commit hook.

[2018-11-27 20:37] andschwa opened #1117 "Deduplicate package installation logic"
I don't know the correct solution here, but the problem is this:

We have duplicated package installation logic in half a dozen places now. Keeping in mind that there are a few scenarios of packages (SDK developer packages, SDK user packages, CI packages), there are a few subsets we could and should keep track of in a single location. Right now, if we had to bump any of these packages, we would ne

[2018-11-28 07:10] vishnumohan1991 commented on #978
@anakrish  Add test for missing data type `unsigned long long`.

[2018-11-28 17:20] achamayou opened #1124 "Expose whether attestation is supported by OE"
We have functionality that depends on enclave attestation that we want to build into the application, and which should not be governed by a runtime flag. We currently detect whether oesign is linking libsgx, which implies the presence of the attestation functionality, but it's obviously not a particularly good way to do that.

If the exported CMake functionality could expose whether the OE install

[2018-11-28 21:39] anakrish opened #1126 "oecore: Use CMakeLists to build libunwind"
Currently libunwind building is very complex
1. It uses an external project that runs configure, make etc.
2. We do a bit of code transformation on the fly so that we can take control of unwinding (rewrite Gtrace.c, GStep.c) etc.

We need to rewrite libunwind building to use CMakeLists so that it builds seamlessly on Linux and Windows.

CC: @andschwa @mikbras

[2018-11-28 21:43] anakrish opened #1127 "oecore: libunwind testing"
Libunwind tests test features that we don't really use:

1. tests/libunwind/test-init-remote
2. tests/libunwind/test-proc-info

Both these tests exercise remote unwinding feature.
@andschwa @mikbras

[2018-11-28 21:46] anakrish opened #1128 "oecore: libunwind cmake based build"
We have an initial pass of cmake bases building of libunwin in anakrish/windows/clang branch.
We need to revisit it to see if we can simplify it.
There is a bit of copying files around to take control of Gtrace and GStep. It would be nice to simplify it.

@andschwa @mikbras

[2018-11-28 21:47] soccerGB opened #1129 "Security: need to have to tests to make sure all the OE internal ECalls correctly enforce memory range checking"
We need to use oe_is_outside_enclave check against input parameters from the host
Impacted ECalls:

    OE_ECALL_INIT_ENCLAVE,
    OE_ECALL_CALL_ENCLAVE,
    OE_ECALL_CALL_ENCLAVE_FUNCTION,
    OE_ECALL_VERIFY_REPORT,
    OE_ECALL_GET_SGX_REPORT,
    OE_ECALL_VIRTUAL_EXCEPTION_HANDLER,

[2018-11-28 22:58] anakrish opened #1130 "oe-gdb: Add install test for debugger"
We need install tests for debugger.

[2018-11-28 23:04] anakrish opened #1131 "oe-gdb: Explore path substitution workflow in oe-gdb"
Make sure that debugging works when the enclave has been built from a source tree, but that source tree has been deleted.

[2018-11-28 23:12] anakrish opened #1132 "Enclave binaries should have build-id"
It is common for all executable/shared libraries to have a build-id that contains the hash of all the executable sections within the executable/library.
GCC passes the --build-id to the linker by default whereas clang does not.
We need to ensure that enclaves have the build-id so that symbol servers can use the build-id as a key to lookup symbols.

CC: @andschwa @mikbras

[2018-11-29 11:36] vishnumohan1991 commented on #1094
In your branch mikbras.oefs2  the test fs run successfully in release mode. so we can't able to reproduce the issue.@mikbras

[2018-11-29 19:00] anitagov commented on #830
@berinpaul - I unassigned myself from this issue. Can you please enabled this test for gcc but keep it disabled in clang? Thanks.

[2018-11-29 19:03] #948 closed

[2018-11-29 22:19] anakrish commented on #1129
Actually you also need to insert lfence for spectre mitigation at the right places as well.
My recommendation would be to model these ecalls in edl, generate code using oeedger8r and use the generated code as reference.

[2018-11-29 23:02] andschwa commented on #1126
I believe I actually have your changes integrated... but they come with some other changes I am still reconciling. Making good progress though!

[2018-11-30 01:01] anitagov commented on #1098
This is fixed by PR #1138

[2018-11-30 01:01] #1098 closed

[2018-11-30 01:45] anakrish opened #1139 "samples should be built with debug symbols"
Currently samples are built without the -g option. Therefore they cannot be debugged.

CC: @soccerGB

[2018-11-30 01:46] anakrish opened #1140 "oe-gdb: Gracefully handle non-debuggable enclaves"
Currently if a non debuggable enclave is loaded, then the debugger gets the notifyenclavecreation callback which it does not handle gracefully.

CC: @soccerGB

[2018-11-30 05:20] berinpaul commented on #830
Sure

[2018-11-30 22:04] anitagov commented on #768
@berinpaul - Hasn't this been completed?

[2018-11-30 22:22] anakrish opened #1145 "mbed tests fail if the root folder is named buildid"
If the root folder is named "buildid", then mbed tests fail. The tests try to open files that don't exist.
Possibly because they do a string replace of the word "build"

[2018-11-30 23:35] andschwa opened #1146 "Upgrade CMake to 3.13"
As part of my current chain of fixes for the CMake build (see stuff in progress in the project), I need to upgrade us to the latest CMake which comes with better support for `OBJECT` "libraries" (which is a CMake-ism that makes a lot of our build easier and cross-platform). This will _not_ affect consumers of OE, just developers of the SDK itself (us). This will also solve and replace #1000.

- [x

[2018-11-30 23:50] andschwa commented on #1146
I may actually be able to get away with CMake 3.12, as specifically I am utilizing this change in CMake 3.12 which allows to remove a hack that extracts and combines static archives manually:

This would be nice because I previously updated the CI to 3.12 😄

[2018-11-30 23:57] andschwa commented on #1146
@ionutbalutoiu do you think you could take care of the CI updates? We might as well go to latest which is CMake 3.13.1 as long as we're doing this.

I need this before I can run my changes through the CI for full libcxx tests (though I can do it locally right now, so I'm not blocked, it's just slow).

If you got the CI things updated, I can get the readme updated and help the team out in installin

[2018-12-01 01:05] CodeMonkeyLeet commented on #1074
One specific example: The PE enclave work (#811) introduced invoking `OE_SET_ENCLAVE_SGX` by default in enclave/core/properties.c with undefined values so as to reserve the constant data section in the resulting PE file for signing later.

If the app dev doesn't call `OE_SET_ENCLAVE_SGX` with valid values, or override them with valid values during signing, then `oe_create_enclave()` fails with the

[2018-12-01 06:11] johnkord opened #1148 "Scripted Jenkinsfile re-implementation investigation"
As of #1143 the scripted Jenkinsfile changes were reverted. These changes were reverted due to odd behavior we noticed with respect to how Jenkins updated/cleaned a git repository. The scripted Jenkinsfile seems to never perform the version control step on Windows systems. I don't know why, but this is something to be investigated.

This is directly related to the "Access is denied" error I noted

[2018-12-01 06:19] johnkord commented on #1148
This problem was eventually masked by #1002 when the powershell invocation of the build scripts was failing but reporting a success. Refer to #1002 for information about this

[2018-12-01 06:36] johnkord opened #1149 "Windows builds and RPC errors"
Apparently running multiple builds that use MSVC native build tools can cause "RPC" errors, as seen here: https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/staging/292/pipeline/473

[code]

The workaround to this is to drop our Windows executors to 1 per node. That should be satisfactory until we enable full builds on Windows, and then we may need to scale out ano

[2018-12-01 06:44] johnkord commented on #1002
As of #1143 this change was reverted. That PR reverted the Jenkinsfile back to the previous non-scripted version, and that doing so reverted this batch->powershell change. However,there was an issue that @CodeMonkeyLeet noticed this morning that originally led us down this path of investigation: https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/staging/288/pipelin

[2018-12-01 06:54] johnkord commented on #175
These were merged into master, but they enabled the flags for both Linux and Windows, and CL.exe doesn't know what those flags are, so this was causing the Windows build to fail!  Theses changes got past our CI gating because we've had a Windows CI outage (without knowing about it) until today.

So the changes necessary in the source code to enable these flags are still in master, but the flags th

[2018-12-03 04:46] berinpaul commented on #768
Yes. Issue #1090 opened to track the remaining test in tests.broken.

[2018-12-03 12:16] oprinmarius commented on #1148
@johnkord
1.  I added checkout scm   for the Windows tests
2. I added cleanWs() steps for each test. This will ensure the workspace is cleaned after each test.
3. The 2-stage   Linux-Windows ELF tests are still running in 2 stages now as childs of the main stage  ( BlueOcean only shows the top stage of a parallel run )

I also noticed that check-prereqs script has an error while running inside doc

[2018-12-03 23:35] andschwa commented on #1146
Something along the lines of:

[code]

Would programmatically install it.

[2018-12-03 23:41] andschwa commented on #1081
Removing this hack boils down to using CMake `OBJECT` libraries, which requires writing CMake builds for libcxx, libcxxrt, and libunwind so that they can be represented in our graph.

[2018-12-03 23:41] andschwa commented on #1068
I'm closing this in favor of #1128, as that will require this to be fixed.

[2018-12-03 23:41] #1068 closed

[2018-12-04 00:13] anitagov commented on #978
Closing this as this has been completed with the PRs #1120 , #1147 and #1122

[2018-12-04 00:13] #978 closed

[2018-12-04 00:17] andschwa commented on #1016
I believe this is specifically the mbedtls tests, as the code [here](https://github.com/Microsoft/openenclave/blob/c5e8a8ff9adeecfdb96509f0738fb301b5daab34/tests/mbed/enc/CMakeLists.txt#L30) runs no matter what, indicating that the `OUTPUT` is incorrectly specified.

[2018-12-04 00:37] anitagov commented on #1008
Work in progress ...

[2018-12-04 00:42] soccerGB opened #1155 "Need to enable rebuild to AESM is off by default after OE SDK logging mechanism"
With the recent OE SDK logging mechanism merged in

[2018-12-04 01:04] soccerGB opened #1156 "The way to enable AESM logging was changed. Need to find a way to add it back in a way nicely fit into the new OE SDK logging mechanism"
The addition of  SDK logging (https://github.com/Microsoft/openenclave/pull/1118) causes non-OE_USE_LIBSGX solutions, which does not support get_report()  that's needed for determining whether an enclave is debugged-allowed, to need to add one extra step (by forcing is_enclave_debug_allowed to return true) when rebuilding SDK to turn on logging.

We need to have a solution to cover all solution ty

[2018-12-04 07:06] vishnumohan1991 commented on #783
all use cases covered under #1059  closing issue

[2018-12-04 07:06] #783 closed

[2018-12-04 10:41] ihaller commented on #1129
While I applaud the sudden interest in the security aspects of the project, I am curious how this is different from #8. That issues was closed on the 10th of August with the message: "VVDN scrubbed the used of oe_is_outside_enclave in all existing boundary functions and fixed the remaining missing use in _HandleInitEnclave with PR #490, so closing out this task.". As far as I am aware, none of tho

[2018-12-04 11:55] dragoshsch commented on #1002
@johnkord This happens because an exit code isn't set automatically by the PowerShell plugin, so we solved this in PR #1150 by using a wrapper to call PowerShell commands.

[2018-12-04 14:33] dragoshsch commented on #766
@andschwa I've managed to get the code from your branch to work in my commit [here](https://github.com/dragoshsch/openenclave/commit/03e7654f41a700bc5b7bea642a95f68ef62ab9c5), here's [the diff](https://www.diffchecker.com/tPk3oZxL) comparing with your code. As you can see, there are only a few minor (but very tricky and time consuming) differences.

Unfortunately, this version of the check-license

[2018-12-04 15:49] ionutbalutoiu commented on #1146
Hello @andschwa! I've upgraded the cmake on all the Linux hardware nodes to `3.13.1`.

@dragoshsch is assigned to do the rest of the items.

[2018-12-04 15:53] dragoshsch commented on #1146
@andschwa I've created PR #1158 to update the install-prereqs script and the Dockerfile. I'm a bit unclear on how I should update the oetools-azure Docker image in the registry, perhaps I can get some guidance on that.

Thanks!

[2018-12-04 17:47] dragoshsch commented on #1146
@andschwa I upgraded the docker image by bumping the version number **from 1.7 to 1.8**, so the new image is oetools-azure:**1.8**. I also did the neccessary Jenkinsfile changes in PR #1158 .

[2018-12-04 21:45] andschwa commented on #766
Oh no!

Yes please 😄

[2018-12-04 21:46] andschwa commented on #1146
Thank you both so much!

[2018-12-04 22:28] anakrish opened #1160 "Thread Local Storage implementation for Simulation Mode"
Thread local storage needs to be implemented specifically for simulation mode.
For thread-local storage in x86-64 abi, the FS register must be correctly set up to point to end of the storage containing thread-local variables.

CC: @mikbras @CodeMonkeyLeet @anitagov @lilyfang

[2018-12-04 22:49] anakrish opened #1161 "Thread Local Storage: Support unlimited thread-local data size"
The current thread-local storage implementation uses the free space available in the thread-data (`td_t`) page for allocating thread-local variables. Currently this is approximately 4KB - size of other `td_t` members (see `OE_THREAD_LOCAL_SPACE`).

If an enclave binary contains thread-local data that cannot fit in this space, today we error out in ELF loading. We need to extend this scheme so that

[2018-12-05 00:26] anakrish opened #1162 "CMake Cleanup: Addition of test enclaves should not be based on platform"
Today the enclave portion of tests are added only on Linux platforms.
E.g: https://github.com/Microsoft/openenclave/blob/master/tests/echo/CMakeLists.txt#L6

 Instead of depending on the platform, the enclave directories must be added based on another flag, say
OE_BUILD_TEST_ENCLAVES. OE_BUILD_TEST_ENCLAVES must be set to true by default on Linux, and must also be set to true on ELF on Windows wor

[2018-12-05 00:35] anakrish opened #1163 "CMake: Each test enclave needs to use add_enclave_executable"
Today most of the test enclaves are not signed. They include add_enclave_executable.cmake, but don't actually call the add_enclave_executable function since add_enclave_executable performs signing.

The add_enclave_executable function needs to be flexible enough so that the test enclaves can opt out of signing. If all the test enclaves were using add_enclave_executable, then the add_enclave_execut

[2018-12-05 00:40] anakrish opened #1164 "CMake: Avoid Linux specific stuff in 3rd party builds"
Some 3rd part src like MUSL use autoconf etc which are not available in Git Bash.
These need to be avoided so that they build on Windows.

CC: @soccerGB @andschwa

[2018-12-05 00:42] EMumau opened #1165 "oeedger8r: ocall returns OE_OUT_OF_MEMORY instead of OE_ENCLAVE_ABORTING"
Making an ocall from an enclave which is aborting returns OE_OUT_OF_MEMORY instead of OE_ENCLAVE_ABORTING.
This affects abortStatus test and workaround was added to PASS this test on Linux

This error is in the code generated by the oeedger8r.

[2018-12-05 01:31] CodeMonkeyLeet commented on #768
Resolved by #1049

[2018-12-05 01:31] #768 closed

[2018-12-05 18:49] andschwa commented on #1163
I am closing this as a duplicate of #891 (which is in progress; @radhikaj has a branch cleaning this up but was pulled away to Protobuf stuff).

[2018-12-05 18:49] #1163 closed

[2018-12-05 18:57] andschwa commented on #1145
@ionutbalutoiu Would you be able to get this triaged and worked on? I think it should be fairly independent of my other CMake work, but it's also really annoying that I have to build and run the full libc and libcxx tests in a particular folder.

Note: this only repros with full CXX tests, so like `cmake ~/openenclave/ -DUSE_LIBSGX=ON -DENABLE_FULL_LIBC_TESTS=ON -DENABLE_FULL_LIBCXX_TESTS=ON`

[2018-12-05 22:10] andschwa opened #1168 "Audit use of -fPIC, -fPIE, and POSITION_INDEPENDENT_CODE"
Per #1154, we can probably set this flag either near the root of the CMake graph, or globally with [CMAKE_POSITION_INDEPENDENT_CODE](https://cmake.org/cmake/help/latest/variable/CMAKE_POSITION_INDEPENDENT_CODE.html#variable:CMAKE_POSITION_INDEPENDENT_CODE), or rely on CMake defaults.

Right now, we seem to set it manually for most targets.

[2018-12-05 22:48] andschwa commented on #1128
In particular, we need to see if we can stop defining `UNW_LOCAL_ONLY` so liberally, as this causes us to have to disable macro redefinition warnings for Clang (and disable treating warnings as errors for GCC because it can't be specifically ignored). Also, the [docs](http://www.nongnu.org/libunwind/man/libunwind(3).html) say this should be done on a per-file basis.

[2018-12-05 23:01] andschwa opened #1169 "Set libcxx headers as SYSTEM headers"
Like we did for the musl headers, we may want to set libcxx as SYSTEM headers so that CMake uses `-isystem`. However, we may run into a header ordering problem.

[2018-12-05 23:16] andschwa opened #1170 "Re-enable non-simulation container tests"
As seen [here](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/staging/309/pipeline/34) and on other builds, the following tests are flaky:

[code]

This is specifically only for "Non-Simulation Container SGX1-FLC RelWithDebInfo", so instead of disabling the tests, we're disabling that stage until this is resolved.

[2018-12-06 00:01] #1081 closed

[2018-12-06 00:01] #1146 closed

[2018-12-06 00:02] andschwa commented on #1126
For some reason this wasn't automatic. Resolve dby #1154.

[2018-12-06 00:02] #1126 closed

[2018-12-06 00:02] andschwa commented on #1127
For some reason this wasn't automatic. Resolve dby #1154.

[2018-12-06 00:03] #1127 closed

[2018-12-06 00:08] andschwa commented on #1164
@ionutbalutoiu Would you please take a look at this?

The ask is to make the [musl "build"](3rdparty/musl/CMakeLists.txt) cross-platform. Specifically, things like [this](https://github.com/Microsoft/openenclave/blob/d92b90f7fc16e2abd144a0fda2af89609efc6cfa/3rdparty/musl/CMakeLists.txt#L29) and [this](https://github.com/Microsoft/openenclave/blob/d92b90f7fc16e2abd144a0fda2af89609efc6cfa/3rdparty/m

[2018-12-06 00:19] andschwa commented on #891
@radhikaj, @anakrish, and I had a chat. In order to later support ELF enclaves on Windows, we're changing direction a bit here. We're proposing:

[code]
We will use `cmake_parse_arguments` so that we can add `LIBRARY` as a boolean option later to support (libraries loaded into enclaves).

`CONF` will be an optional argument that, when present, triggers signing of the enclave.

The function itself

[2018-12-06 03:10] anitagov commented on #1008
Got ELF enclave tests to PASS on Windows after reducing HeapPageCount and StackPageCount.

[2018-12-06 09:14] mofanv opened #1174 "what is the maximum size of memory in TrustZone"
Hello,

I previous work with OP-TEE on a qemu. The memory size is very limited, usually less than 10 MB. I see the Openenclave is based on OPTEE regarding the Arm TrustZone. I'm wondering does this framework change this limitation? 10MB is too small for my project.

Thanks, any comment is appreciated.

[2018-12-06 22:25] anakrish opened #1178 "Thread Local Storage: Optimize oe_host_malloc/oe_host_free"
oe_host_malloc is used to allocate memory for host calls. After the ocall is made, the memory is freed using oe_host_free. Since these functions themselves are internal ocalls, it takes 6 enclave-host boundary transitions (3 to host and 3 back to enclave) to make an ocall. This makes it *a lot* slower.

With thread-local storage being available in the enclave, it should be possible to optimize thi

[2018-12-06 22:51] andschwa commented on #757
It shouldn't need to be. CMake defaults to sticking the build artifacts in `CMAKE_CURRENT_BINARY_DIR`, which is `$(build_dir)/mirrored/path/to/place/in/src/tree`.

CMake takes care of linking stuff together and so we shouldn't need to futz with the paths. That is, we the devs should never have to know what path something is at when building, only the target name. Then when installing (or creating

[2018-12-06 22:52] andschwa commented on #1014
/cc @yakman2020

[2018-12-06 22:52] andschwa commented on #1016
/cc @yakman2020 I think this is the same root cause as #1014

[2018-12-06 23:16] andschwa opened #1180 "Use CMAKE_INCLUDE_CURRENT_DIR"
This is low-priority, but there are more than a few places where we manually add the current source and binary directories to a target's include interface, and we can actually do this automatically with [CMAKE_INCLUDE_CURRENT_DIR](https://cmake.org/cmake/help/latest/variable/CMAKE_INCLUDE_CURRENT_DIR.html) which would be a lot cleaner.

[2018-12-06 23:19] #1018 closed

[2018-12-07 00:59] anakrish opened #1183 "pkg-config equivalent on windows"
We use pkg-config on Linux to allow SDK users to obtain the correct compilation flags.
Is there an equivalent on Windows?
LLVM has an llvm-config that provides information about the llvm install. Should there be an oe-config?

CC: @andschwa @mikbras

[2018-12-07 14:07] mjp41 opened #1184 "_set_thread_binding"
The following code looks incorrect:
https://github.com/Microsoft/openenclave/blob/e360c6421ed056d2da9d8d113344d468af545565/host/calls.c#L62-L70

In particular, the line:
https://github.com/Microsoft/openenclave/blob/e360c6421ed056d2da9d8d113344d468af545565/host/calls.c#L68

I think it should call
[code]

Looks like it is a copy paste error from
https://github.com/Microsoft/openenclave/blob/e360c64

[2018-12-07 19:30] yakman2020 opened #1186 "If libzma-dev is installed on a machine building oe, enclaves don't link"
One of my machines as a large number of packages installed due to a history of being used for dcos developement. Because of that, libunwind autogen.sh sets the define HAVE_LZMA which triggers the need for liblzma in the enclave. Since we haven't built a liblzma.a to link, the result is link errors farther down the build from undefined references.

We should disable minidebug info, which forces tha

[2018-12-07 19:41] anitagov opened #1188 "Need more or full libc test coverage in CI"
The libc tests were optimized by @mikbras (PR #782 ) and hence the full suite builds and runs very fast.
However, only a fraction of these tests i.e. 12 of the 240 tests are being run by default with CI. Changes that break libc are not known and/or addressed immediately. One example, is the changes to support PE enclaves broke tls_align.c (Issue #1090) and the issue was filed 20 days after it occu

[2018-12-07 20:15] anakrish commented on #1132
Fixed by #1144

[2018-12-07 20:15] #1132 closed

[2018-12-07 20:55] dthaler commented on #1174
OP-TEE’s memory layout is specified at compile time by
CFG_TZDRAM_START
CFG_TZDRAM_SIZE
CFG_SHMEM_START
CFG_SHMEM_SIZE

On an LS1012, CFG_TZDRAM_SIZE is currently 0x4000000 - 0x00200000 = 63MB.

Each individual TA can specify its data and stack size by
TA_STACK_SIZE
TA_DATA_SIZE
which are 12K and 1M, respectively, in the socket and helloworld sample TAs (e.g., see https://github.com/Microsoft/open

[2018-12-07 21:18] andschwa commented on #1183
I don't like either. I'd prefer just to provide a CMake package. If a user isn't using CMake, then they can just follow an example; I don't think there are any other standards on Windows for this.

[2018-12-08 00:01] anitagov opened #1189 "Replace static function names/globals to have _ instead of _oe_"
Issue #948 /PR #1093 fixed global functions/symbols that had the \_oe_ prefix. However, static functions/globals that have \_oe_ prefix will need to be changed to only have the underscore (_) as prefix.
Additionally, the coding development guide should also be updated with the usage.

[2018-12-08 00:06] anitagov opened #1190 "Windows CI should also test GCC ELF enclaves"
Currently, Windows CI tests only use Clang ELF enclaves and this is a shortcoming. This should be extended to test GCC ELF enclaves.

[2018-12-08 07:48] brenzi opened #1192 "samples make world fails with OE_PLATFORM_ERROR"
I've followed
https://github.com/Microsoft/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk.md

then went to https://github.com/Microsoft/openenclave/blob/master/docs/GettingStartedDocs/using_oe_sdk.md
to test

but `make world` fails:
[code]

I also couldn't build oesgx tool, because documentation seems outdated:
https://github.com/Microsoft/openenclave/blob/710702db7ca1a0bfdd45deb53

[2018-12-08 07:53] brenzi commented on #1192
I should add that, before testing openenclave I played around with hyperledger sawtooth, also installing intel sgx tools:
https://sawtooth.hyperledger.org/docs/core/releases/1.0/sysadmin_guide/configure_sgx.html

Might there be conflicting tools?

[2018-12-09 09:45] mofanv commented on #1174
@dthaler Thank you very much for your comments!
I could change the value of TA_STACK_SIZE and TA_DATA_SIZE now. I'm wondering could we change the value of CFG_TZDRAM_SIZE to increase the memory size? Do you think it is possible? Thanks again

[2018-12-10 01:58] anakrish commented on #538
Fixed by #1157
We now support both __thread and thread_local.

https://github.com/Microsoft/openenclave/blob/master/tests/thread_local/enc/enc.cpp#L16

[2018-12-10 01:58] #538 closed

[2018-12-10 12:35] dragoshsch commented on #1164
@andschwa I'm afraid I don't have much experience with CMake/CMakeLists and I'll need a bit more guidance on this as I'm unsure on how to proceed.

[2018-12-10 12:39] dragoshsch commented on #1148
@johnkord This was fixed in PR #1150 , I think we can close it.

[2018-12-10 18:13] anakrish commented on #1192
I suspect re-installing the SGX drivers would fix this.
@soccerGB Can you follow up?

[2018-12-10 18:14] johnkord commented on #1080
Version 3 was just posted, updating for some discussions we had on Friday about how mbedtls will fit into this plan.

[2018-12-10 18:33] brenzi commented on #1192
rebooting and re-installing the driver didn't help:
[code]
still results in above error.

maybe this helps:
[code]

[2018-12-10 20:12] johnkord commented on #1148
Yep looks great to me :) Thanks @dragoshsch !

[2018-12-10 20:12] #1148 closed

[2018-12-10 21:38] anakrish opened #1194 "Windows: Tweak samples to work on Windows"
Samples may need to be tweaked so that they build fine on Windows. We use makefiles/pkgconfig for samples; we may need to make sure they work on Windows.

@soccerGB @andschwa

[2018-12-10 21:39] anakrish opened #1195 "Windows: Update documentation to include build/run on Windows"
Revisit the documentation for development experience on Windows.

@soccerGB @andschwa

[2018-12-10 21:40] anakrish commented on #1043
@soccerGB

[2018-12-11 15:46] dragoshsch commented on #766
@andschwa I created PR #1197 for this. Please have a look when you can, and test it out and let me know how it would work out for you in your day-to-day development workflow.

Thanks!

[2018-12-12 07:36] oprinmarius commented on #1145
@andschwa   The piece of code here: https://github.com/Microsoft/openenclave/blob/a2ac58dbd01e1c8e5f36ea45147834fdfdeb5384/tests/mbed/host/host.c#L37-L59   is the one that is causing problems.

Currently if we have any folder containing the word "build" in our working directory the string replace will split the path before the first occurrence of the word "build" and add the tail to it.

ex:  CWD:

[2018-12-12 22:38] #902 closed

[2018-12-12 22:40] soccerGB commented on #1045
https://github.com/Microsoft/openenclave/pull/1118

[2018-12-12 22:40] #1045 closed

[2018-12-12 23:31] anakrish opened #1203 "Sporadic failures in crypto tests"
Crypto tests now generate data on the fly and sometimes this causes failures.

For example since the data in a generated certificate could be different from the timestamp of the certificate file itself, (say off by a second), the following test fails:

=== begin _test_get_dates()

Test failed: /home/jenkins/workspace/Bors_staging-SAVQQOGG4TMIJW6ZHSGG2MHERTL45R6RNECLBYNXEIQ6O4GKH54Q/tests/crypto/cr

[2018-12-13 22:34] mofanv opened #1207 "build_optee.sh not found in Linux Host on ARM"
Hello,

When I try to run `./build_optee.sh` in development of Linux Host on ARM [this webpage](https://github.com/Microsoft/openenclave/blob/feature.new_platforms/new_platforms/docs/linux_arm_dev.md). However, I could run this by typing `./new_platforms/build_optee.sh`. It also executable without errors, but I don't know whether this is the correct way of fixing it.
Does anybody have ideas about

[2018-12-14 03:10] anitagov opened #1211 "oe_register_pthread_hooks should be made a public API"
oe_register_pthread_hooks is an internal API but needs to be made public if we want customers to implement their own pthread_create/pthread_join/pthread_detach in their enclaves.

Additionally, OE should provide hooks for pthread_cond_timedwait as this API currently asserts and is not supported.

[2018-12-14 18:09] andschwa commented on #1117
@oprinmarius I lean toward option 3, but regarding Ansible as a dependency, I need a refresher. Its only dependency is Python, right? Is it easily installed with pip or something, or would we need to `apt-get install` it everywhere?

[2018-12-14 18:47] andschwa commented on #1145
Hm. This logic is too hard-coded. The `cwd` absolutely does not have to have `build` in it, and frequently does not!

I think you're right that we'd be safer to just use a relative folder path rather than looking for `build`, as long as that's consistent. As for the hard-coded `tail`, _maybe_ this is safe, but if not, we can use CMake to set `#define`s to replace it at build time.

[2018-12-14 18:57] anitagov commented on #1033
Enabled 16 ELF enclaves on Windows with my PR #1173

[2018-12-14 19:08] andschwa opened #1213 "Export CMake targets with a namespace"
I am pulling this suggestion out of #468, when we `export` the targets in CMake, we should do so with a namespace so we don't introduce conflicts to consumers of our CMake package.

I will add this into  #1191.

Thanks @letmaik!

[2018-12-14 19:25] soccerGB opened #1215 "CMake: updating mbedtls config.h file does not cause mbedtls library to be rebuilt"
Expected behavior:

Whenever the config.h is updated, building Open Enclave SDK should trigger mbedtls rebuilding.

[2018-12-15 00:13] andschwa commented on #1215
This was a bit more complicated than I expected, but it led to some nice simplifications 😄

[2018-12-17 08:42] oprinmarius commented on #1117
@andschwa yes, you are correct. Ansible can be installed by pip or apt-get and has Python as a dependency .

[2018-12-17 19:19] #468 closed

[2018-12-17 19:24] anitagov commented on #1211
After discussion with @mikbras , OE will need to provide the implementation for pthread_cond_timewait.

[2018-12-17 20:28] #1215 closed, assigned to andyleejordan

[2018-12-17 20:35] andschwa commented on #1014
Here's an example of one failure:

[code]

[2018-12-17 22:57] andschwa commented on #1164
@dragoshsch We'll pause for a bit, I'll ping you all again later on this.

@anakrish and @mikbras how likely is it that we could skip this work? Anand's branch doesn't actually _require_ this to build ELFs (elves? 👅) on Windows, it seemed more of like a nice-to-have, as otherwise we're just relying on some Linux tools on Windows to provide Autotools. Mike, it sounds like musl will become an option

[2018-12-18 01:21] andschwa commented on #1014
Another broken thing is refman...

[2018-12-18 02:11] anakrish commented on #1164
@andschwa  Yes, at minimum we need the changes on my branch to build elves on windows.

[2018-12-18 17:43] andschwa commented on #1164
So let's change this from "CMake: Avoid Linux specific stuff in 3rd party builds" (which implies a fully cross-platform build for musl e.g. CMake) to "Make WSL a requirement for building elves on Windows" as the only changes for musl were to call `bash` (as in WSL) when running Autotools.

I think this is reasonable given the scope; it doesn't seem reasonable to rewrite the build for musl when _mo

[2018-12-18 18:33] andschwa commented on #175
This was resolved in #1135.

[2018-12-18 18:33] #175 closed

[2018-12-18 18:42] andschwa commented on #773
We believe this has since been resolved as the `make preqreqs` target now install the Intel SGX package, which pulls in the correct protobuf dependency.

[code]

We no longer

[2018-12-18 18:42] #773 closed

[2018-12-18 18:44] andschwa commented on #1073
I am just going to close this as I think the issue is enough of a note for anyone who wonders in the future.

[2018-12-18 18:44] #1073 closed

[2018-12-18 18:53] anitagov commented on #1129
@ihaller - I agree. Will extend this issue (or file a new issue) to verify values returned from OCALLs.

[2018-12-18 19:15] andschwa commented on #1164
First clarification with @anakrish, the dependency actually isn't even bash from WSL, it's bash from Git bash.

Second clarification, the `elibc` @mikbras had mentioned won't be exposed to the end user as the libc API, that'll still be musl.

So we still need to build musl in both places all the time.

I think the right call is to just require a bash equivalent (Git bash or WSL etc.) when building

[2018-12-18 21:44] radhikaj opened #1221 "Clean up add_enclave.cmake to link against oeenclave and also oelibcxx if a CXX flag is passed in."
As part of this issue:
- [x] Change `add_executable` to `add_enclave` in all the tests (this essentially reverses what @anakrish was previously forced to do, as `add_enclave` now supports optionally _not_ signing the enclave)
- [x] Remove the necessity for each enclave to specify linking against `oeeclave` by adding it to `add_enclave`
- [x] Change `add_enclave` to accept a CXX flag so it links ag

[2018-12-18 22:34] andschwa commented on #1016
It sure looks like this is fixed:

[code]

So I am going to close now. If it recurs, let me know!

[2018-12-18 22:47] andschwa commented on #891
Update from @anakrish: We will _not_ be appending `.so` to the enclave names, as it confuses people!

[2018-12-19 00:12] #1014 closed

[2018-12-19 02:09] anakrish opened #1224 "Thread Local Storage: Support exported thread-locals"
Thread-locals that are exported (i.e ones that have visibility=default attribute) cause the linker to emit ELF_X86_64_TPOFF relocations.
Given:
    __attribute__((visibility("default"))) __thread int x;
    int foo() { return x; }

The code emitted by the compiler & tweaked by the linker is:
    foo:
          pushq %rbp
          movq %rsp, %rbp
          movl %fs:0, %rax                      //

[2018-12-19 02:33] anitagov commented on #1008
The remaining ELF enclaves that are not yet enabled with Windows are:
**abortStatus** - Hitting a OE_MEMORY_LEAK on Windows due to negative tests not releasing all the memory.
**cppException**
**create-rapid**
**libc** - After reducing heap/stack sizes able to get all the libc tests to PASS excepting the following tests with clang. One test failed on gcc Linux as well. _This should be retried afte

[2018-12-19 02:36] anitagov commented on #1033
Look at Issue #1008 where 16 + 6 tests were enabled.

[2018-12-19 05:22] crisl-ms opened #1226 "oeedger8r: Add code generation support for "propagate_errno""
Currently oeedger8r accepts but ignores the "propagate_errno" untrusted function qualifier in input EDL files.

On the first encounter, this mismatch misleads developers, who would reasonably expect that syntax accepted without any warnings is fully supported, resulting in unexpected runtime behavior, defects and wasted debugging time.

Once a developer that relies on this feature becomes aware of

[2018-12-19 13:43] oprinmarius commented on #1117
https://github.com/Microsoft/openenclave/pull/1218

[2018-12-19 15:31] dragoshsch commented on #1145
@andschwa I think the best approach to this would be to set `#defines` using CMake, as you pointed out. Would you like us to make a PR with that?

[2018-12-19 18:13] anakrish commented on #864
@johnkord This is relevant to your crypto API work.

[2018-12-19 18:41] radhikaj commented on #891
This has been addressed by PR: https://github.com/Microsoft/openenclave/pull/1199
#1199

[2018-12-19 18:53] anitagov commented on #891
@radhikaj @andschwa and all - Very nice!!!

[2018-12-19 21:28] soccerGB opened #1230 "OE SDK logging: Need to add logging for enclave creation"
The current OE SDK logging mechanism only turns on after an enclave was successfully created.
Need to expand current logging mechanism to the enclave creation process.

[2018-12-19 23:17] andschwa commented on #891
The rest of the work is tracked in #1221. I'll close this now!

[2018-12-19 23:17] #891 closed

[2018-12-19 23:39] anakrish commented on #1165
@andschwa This is a good starting task to get into the Ocaml based oeedger8r.
Please follow up with @EMumau about an example.

[2018-12-19 23:42] anakrish commented on #1032
@andschwa This is an important feature. Let me know when you want to get into this.

[2018-12-19 23:43] andschwa opened #1232 "Proposal: set OE_SIMULATION at configure time if libsgx etc. is not found"
Similar to #1076, as part of making our build smarter, I propose that if libsgx (or optee etc.) is not found at configure time (that is, `-DUSE_LIBSGX=OFF`), that we _build_ with `OE_SIMULATION` set as like a `#define`. Currently, if we build without SGX available, we still need to set `OE_SIMULATION=1` as an environment variable at _runtime_ in order to run the tests. This is annoying! If the bin

[2018-12-19 23:43] andschwa commented on #1232
/cc @johnkord @anakrish

[2018-12-20 00:05] #1184 closed

[2018-12-20 00:54] #1226 closed

[2018-12-20 13:23] mjp41 opened #1236 "Make ctest work in parallel"
Currently running `ctest -j2` sometimes crashes ctest. Some schedules work, but the more you increase the parallelism, the more likely it is to crash.  The crash completely halts ctest, not sure what can cause that.

[2018-12-20 20:30] andschwa opened #1237 "Jenkins failures don't always fail build"
I think I found a bug [here](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/staging/372/pipeline/19) where the "Check Pre-Commit Requirements" stage _should_ have failed, but did not:

[code]

That "Cannot contact" error I think ought to have failed that stage, and thus the whole build, but instead, everything passed.

/cc @johnkord @ionutbalutoiu

[2018-12-20 21:12] anakrish opened #1238 "pkg-config: Validate compile/link flags"
When building test enclaves, we build using the following flags  (as of this writing):

-g   -Wall -Werror -Wpointer-arith -Wconversion -Wextra -Wno-missing-field-initializers -fno-strict-aliasing -mxsave -fno-builtin-malloc -fno-builtin-calloc -m64 -fPIC -nostdinc -fno-stack-protector -fvisibility=hidden -nostdinc++ -std=c++14

Not all of these flags are exposed by pkg-config.

Additionally, we u

[2018-12-20 22:06] andschwa opened #1240 "Use new Ansible scripts"
Now that #1218 is in, we need to do the following:
- [x] Add documentation about Ansible (specifically calling out that it should be the single source of truth for package requirements)
- [x] Rewrite the `install-prereqs` script to install Ansible and run the playbooks, such that the end result is the same as it is now (all prereqs installed automatically, but without duplicate logic)
- [x] Update

[2018-12-21 14:52] oprinmarius commented on #1240
https://github.com/Microsoft/openenclave/pull/1244

[2018-12-21 15:15] ionutbalutoiu commented on #1113
@dmitsh @johnkord Please let us know if we decide to use Ansible in oe-engine, or we simply rely on plain bash cloud-init scripts.

[2018-12-21 22:31] dmitsh commented on #1113
@ionutbalutoiu @johnkord I tend to keep use of cloud-init scripts in oe-engine. That gives us more flexibility.

[2018-12-21 23:56] andschwa opened #1249 "Use of `execute_process()` causes libc tests files to be generated every build"
This breaks incremental compilation. I thought it might be an issue in #782, but it wasn't a blocker. Now it's a bug.

/cc @mikbras

[2018-12-22 00:05] andschwa commented on #1249
[code]

I was afraid of this 😆

[2018-12-22 00:39] andschwa commented on #1236
Hm, thanks for the report! I think that it probably has to do with limited enclave memory. @anakrish Can you expand more on this?

[2018-12-22 00:42] andschwa commented on #1170
@johnkord @soccerGB Wasn't this resolved?

[2018-12-22 01:30] johnkord opened #1252 "Add a second Ubuntu 18.04 system to Jenkins and more 18.04 tests to Jenkinsfile."
We just enabled Ubuntu 18.04 in the Jenkins CI building against master, but we have only added two tests so far. We should try to get full coverage on Ubuntu 18.04 for the 3 different build types with the 2 different compilers, similar to what we have on Ubuntu 16.04.

This may be a good opportunity to try out the Ansible playbooks on Ubuntu 18.04 to see what may be missing.

Checklist:
- [x] Add

[2018-12-22 01:33] #1221 closed

[2018-12-26 17:36] anakrish commented on #1224
Implemented by #1225

[2018-12-26 17:36] #1224 closed

[2018-12-27 14:50] oprinmarius commented on #1252
@johnkord  I added the missing ACC tests in the following PR:
https://github.com/Microsoft/openenclave/pull/1256

However we are still missing Container Test with Ubuntu 18.04 , and Simulation tests are using the OETOOLS_IMAGE which is also Ubuntu 16.04

Do we want to enable Docker tests using Ubuntu 18.04 ?
We would have to create another Dockerfile , publish a new Docker image based on Ubuntu 18

[2018-12-27 17:53] anakrish commented on #1050
Implemented by #1099

[2018-12-27 17:53] #1050 closed

[2018-12-27 17:53] anakrish commented on #657
Implemented by #1099

[2018-12-27 17:53] #657 closed

[2018-12-27 17:55] anakrish commented on #95
Core debugger functionality locked down with https://github.com/Microsoft/openenclave/tree/master/tests/debugger

[2018-12-27 17:55] #95 closed

[2018-12-27 18:00] anakrish commented on #581
The log for this issue indicates that the issue could have been observed with simulation mode:

(gdb) set args libsimplebank.signed.so raftelectiontimeout=100000 rafthost=127.243.6.62 raftport=36735 tlshost=127.243.6.62 tlsport=37750 log=0.log nodecert=0.pem ** enclavetype=simulate** raftloglevel=4

Originally oe-gdb did not support simulation.
Support for simulation mode was added in #1099

In re

[2018-12-27 18:00] #581 closed

[2018-12-27 19:30] andschwa commented on #881
@letmaik I am going to close this as I think I have completed it. I didn't make any new libraries, but I did make it so `oehost` and `oeenclave` correctly pull in their dependencies. What's more, the `add_enclave` function is going to be made public, and it takes a `CXX` option to also link `oelibcxx`.

[2018-12-27 19:30] #881 closed

[2018-12-27 19:31] andschwa commented on #756
Moving this to the backlog. Until multi-configuration generators are needed, this doesn't have to be done.

[2018-12-27 19:33] andschwa commented on #1164
I am going to close this issue. We settled on using the Linux tools (e.g. Bash) when needed on Windows, via Git Bash (or WSL or whatever). Writing a new build system for musl is _not_ required.

[2018-12-27 19:33] #1164 closed

[2018-12-31 08:55] ahapliuc commented on #1252
@johnkord I've added the repositories in line with the Ubuntu 16.04 repositories for the new Ubuntu 18.04 Jenkins slave and it seems that no open enclave package has been published yet in them:
![image](https://user-images.githubusercontent.com/2115347/50557097-6cdfd600-0cea-11e9-8d3e-3ae66694038d.png)

Can the open enclave package for 18.04 be published in the respective repository?

[2018-12-31 18:37] anitagov commented on #839
#1243 adds Structured Exception Handling on Windows and enables VectorException test on Windows

[2019-01-02 21:16] johnkord commented on #1252
@oprinmarius I think we should eventually add a container test with Ubuntu 18.04, and definitely add more simulation tests to run on 18.04.  Eventually we can probably reduce our test coverage for simulation mode on 16.04, as long as we run one stage in CI for 16.04, maybe the "RelWithDebInfo" test.

@ahapliuc The open-enclave 18.04 package hasn't been published quite yet as you've noted, since ma

[2019-01-02 21:45] johnkord commented on #1170
@andschwa Yes it was!

[2019-01-02 21:45] #1170 closed

[2019-01-02 22:40] andschwa commented on #1249
This was resolved via #1265.

[2019-01-02 22:40] #1249 closed

[2019-01-02 22:53] andschwa commented on #756
I am actually going to close this until it is needed.

[2019-01-02 22:57] andschwa commented on #1053
So, we kind of have this.

For tests that are enclaves, we can add flags if we want to `add_enclave`. For libunwind, libcxx, and libcxxrt, we have support libraries.

It appears that the mentioned warnings in the OP were just added globally, which is fine for now. Closing!

[2019-01-02 22:57] #1053 closed

[2019-01-02 22:59] andschwa commented on #757
I've mostly fixed most of this. We should continue to follow the CMake convention of not caring about the placement of artifacts at build time (only at installation time), and when changes are made to existing targets where the output paths are hard-coded, we should remove that.

So I am closing this in the sense that we are not going to do this as a blanket change, but it is our policy to fix whe

[2019-01-02 22:59] #757 closed

[2019-01-02 23:01] andschwa commented on #1180
I am closing this as it's not a work item to fix this immediately, but this issue exists to record that we can and should use this when adding new targets or changing existing targets where this would simplify the code.

[2019-01-02 23:01] #1180 closed

[2019-01-02 23:04] andschwa opened #1275 "Remove Gtrace.c patch"
Sorry to give you work @anakrish but you understand this more than anyone else.

In the libunwind build, there is this code:

[code]

And PR #1157 has been merged, so _something_ here can be done.

[2019-01-02 23:05] andschwa commented on #1275
This is a part of #1128.

[2019-01-02 23:35] johnkord commented on #1002
This should be resolved now as per #1150

[2019-01-02 23:35] #1002 closed

[2019-01-03 01:07] anitagov commented on #1211
To add to my previous comment: oe_register_pthread_hooks will continue to be an internal API i.e. will not be made public.

Will need to change the title and description of this issue.

[2019-01-03 17:13] ionutbalutoiu commented on #1113
@dmitsh thank-you. Closing this for now.

[2019-01-03 17:13] #1113 closed

[2019-01-03 17:15] oprinmarius commented on #1237
I searched other builds to see if this problem occurred somewhere else , but I couldn't find any.

This error usually occurs when there is a connection loss between the Jenkins master and the slave.
According to the comments from the following issues , this error often occurs when the Jenkins server is under high load

https://issues.jenkins-ci.org/browse/JENKINS-43038
https://issues.jenkins-ci.or

[2019-01-03 17:42] ionutbalutoiu commented on #1237
@andschwa We haven't actually seen this reproduced since then. It seems to be a corner case.

The most we could do is increase some timeout (if there's any) for Jenkins master <-> slave communication.

If that works for you, we can close this issue for now.

[2019-01-03 17:45] ionutbalutoiu commented on #766
The pull request was merged. Closing this.

[2019-01-03 17:45] #766 closed

[2019-01-03 17:48] ionutbalutoiu commented on #1240
@andschwa looks like all the items are checked. Is there any work left here ?

[2019-01-03 17:50] johnkord commented on #1112
We decided that this isn't desirable. We want two different kinds of CI testing for Windows:
1. To build ELF enclaves on Linux and ensure they can function on Windows.
2. To build ELF enclaves on Windows and ensure they can function on Windows.

For this reason, I'm closing this issue.

[2019-01-03 17:50] #1112 closed

[2019-01-03 17:54] johnkord opened #1278 "Add Ubuntu 18.04 support to libcxx_tests.Jenkinsfile"

[2019-01-03 18:13] andschwa commented on #1238
I think instead of just validating the hard coded flags, we should generate pkg-config via CMake, kind of like they did [here](https://dailycommit.blogspot.com/2016/10/how-to-generate-pkg-config-file-with.html).

[2019-01-03 19:12] andschwa commented on #1076
So I did part of this in #1276. That is, if `USE_LIBSGX=ON` but the libraries are _not_ found at configuration time, we now fatally error with a message. I'm opening a separate PR to change the default to ON instead of OFF.

[2019-01-03 19:20] andschwa commented on #1162
We resolved this in #1268.

[2019-01-03 19:20] #1162 closed

[2019-01-03 19:24] #622 closed, assigned to andyleejordan

[2019-01-03 19:34] andschwa commented on #1056
@bmhsieh We solved this for ELF enclaves on Windows using [this code](https://github.com/Microsoft/openenclave/blob/b880a669d7bc0955b5fad47f7c6d74850706ba47/cmake/maybe_build_using_clangw.cmake#L55) (thanks @anakrish)

[2019-01-03 19:34] #1056 closed

[2019-01-03 21:46] johnkord opened #1281 "Windows CI performance improvements"
Under our current setup, Windows builds can really slow down CI jobs, but there are a few tasks that could speed them up:

- [x] Add one more Windows node to Jenkins that can perform Windows CI
- [x] Use the D:\ drive for all CI jobs on the Windows CI systems. The D:\ drive is the default temp drive on Windows Azure systems, and has significantly faster performance: https://blogs.msdn.microsoft.co

[2019-01-03 22:02] johnkord commented on #1240
Looks good! - Andy

[2019-01-03 22:02] #1240 closed

[2019-01-03 22:03] johnkord commented on #1149
This seems to be a known issue with Windows, so closing.

[2019-01-03 22:03] #1149 closed

[2019-01-03 22:08] johnkord commented on #1117
As far as this repo is concerned, this issue is resolved!

[2019-01-03 22:08] #1117 closed

[2019-01-03 22:10] johnkord commented on #1114
This is not a single issue but a whole story that we have to figure out. We will open a project and appropriate issues when more is known.

[2019-01-03 22:10] #1114 closed

[2019-01-03 22:13] johnkord commented on #232
This is resolved in master, and we are running Ubuntu 18.04 builds in CI now.

[2019-01-03 22:13] #232 closed

[2019-01-03 22:18] johnkord commented on #1237
This is Andy, John explained to me that we split the 16 core node into two 8 core nodes which has drastically reduced the changes of this happening, so I am happy to close.

[2019-01-03 22:18] #1237 closed

[2019-01-03 22:35] johnkord commented on #1035
@CodeMonkeyLeet Is this an issue we should keep open, are we intending to do it any time soon?

[2019-01-03 22:47] CodeMonkeyLeet commented on #1035
@johnkord There will still be ci/cd changes to support the updated plan of supporting Windows-only build through clang cross-compile (see #1264, #1272), so we will likely spin up a new task/repurpose this one. I need to do a pass on these.

[2019-01-03 22:54] andschwa opened #1282 "Deprecate test-build-config"
The [test-build-config](https://github.com/Microsoft/openenclave/blob/master/scripts/test-build-config) script has caused us a number of avoidable issues (most recently #1273) since it layers an unnecessary abstraction around the CMake build. We should instead migrate this logic directly into the `Jenkinsfiles` so that the build configurations are explicit (e.g. use Jenkins to set the C and CXX en

[2019-01-03 23:17] andschwa opened #1283 "Add Ninja configuration to Linux and Windows CI"
We should add a configuration to CI for building with the Ninja generator on Linux and Windows.

This will test not only that Ninja works, but also that parallel builds still work (since Ninja always runs in parallel).

Add an appropriate number of stages in Jenkins CI for each platform to use the Ninja build engine:
- [ ] Linux
- [x] Windows (once #1272 is merged) (Completed with Anita's PR #1415

[2019-01-03 23:23] andschwa commented on #1183
I am going to close this as we now provide the only real equivalent (a CMake package). Anything else would really be documentation, which should be a separate issue.

[2019-01-03 23:23] #1183 closed

[2019-01-03 23:23] paulcallen commented on #834
This was fixed as part of the function-id based work in the edger8r

[2019-01-03 23:23] #834 closed

[2019-01-03 23:24] andschwa commented on #1186
This should no longer be an issue as #1154 changed the libunwind build away from their Autotools build to our own subset using CMake code we own.

[2019-01-03 23:24] #1186 closed

[2019-01-03 23:41] andschwa commented on #1169
I tried this out and yes, it reintroduces the ordering problem. For now, this is not viable.

[code]

This is what we workaround by adding `SYSTEM` to the musl headers, which ensure they get put last. Adding it to the libcxx headers unfortunately means we get `-isystem lib -isystem libcxx` which is incorrect.

[2019-01-03 23:41] #1169 closed

[2019-01-03 23:44] paulcallen commented on #841
Checked in.

[2019-01-03 23:44] #841 closed

[2019-01-03 23:45] andschwa opened #1285 "Port the pre-commit scripts to Windows"
In #1284 we had to disable installing the pre-commit script on Windows because although the hook script is compatible, some of the scripts it called are not. This should be investigated and fixed, as we do want the functionality on Windows too.

On Windows it can be assumed that Bash and the others that come with Git are present, but the scripts need to be compatible with them. I think clang-forma

[2019-01-03 23:51] andschwa opened #1286 "Add CI for Arm"
#1239 enabled our tree to successfully cross-compile on Arm, but we need to add this to CI.

/cc @gupta-ak

[2019-01-04 01:30] anitagov commented on #1033
Enabled 2 more tests (cppException and sealKey) with PR #1280

[2019-01-04 01:31] anitagov commented on #1033
PR #1243 enabled VectorException

[2019-01-04 03:12] gupta-ak commented on #1286
After PR #1287 gets merged, the tree can be cross-compiled for `aarch64` using the `aarch64-linux-gnu-gcc` compiler.

The C and C++ compilers can be installed by `sudo apt-get install gcc-aarch64-linux-gnu g++-aarch64-linux-gnu`. I also installed the binutils package (`binutils-aarch64-linux-gnu`), but I'm not sure if that is necessary.

Aside from that, you need to install the ARM version of libs

[2019-01-04 20:49] andschwa commented on #728
Hm, this might not be just a backlog item. Right now the Ansible playbooks fail on 18.04 with this:

[code]

[2019-01-04 21:04] yakman2020 opened #1290 "edgr8r directory missing from install breaks out of tree build"
The edgr8r files are needed by the _t.c generated files produced by the edgr8tor.

[2019-01-04 21:04] johnkord opened #1291 "Test the Ninja build system in CI"
Add an appropriate number of stages in Jenkins CI for each platform to use the Ninja build engine:
- [ ] Windows (once #1272 is merged)
- [ ] Linux (once #1283 is implemented)

[2019-01-04 21:06] johnkord commented on #1291
Deleting this issue by merging it with #1283

[2019-01-04 21:06] #1291 closed

[2019-01-04 21:09] andschwa commented on #1290
Can you be more specific?

[2019-01-04 21:11] johnkord opened #1292 "Default to BUILD_ENCLAVES=1 on Windows"
By default, the behavior on Windows should be to build ELF enclaves locally on that Windows system using clang. This will require a change both to the CMake build system and the CI to compensate for that (so that we can continue to test both scenarios for ELF enclave build platforms that are consumed on Windows).

[2019-01-04 21:13] johnkord opened #1293 "Simulation testing on Windows"
We want to validate that simulation mode functions properly on Windows in our CI.

[2019-01-04 21:16] johnkord opened #1294 "Run simulation tests on the same platform that non-simulation tests are run."
We should run (before or after?) simulation tests for each of the non-simulation tests that we run. This could probably allow us to reduce the number of parallel stages in our configuration.  I think we should continue to have a few stages that run simulation tests on non-ACC hardware, though.

[2019-01-04 21:20] yakman2020 commented on #1290
The edgr8r directory doesn't get installed in /opt/openenclave/includes/openenclave

[2019-01-04 21:21] johnkord opened #1295 "Jenkins nodes should ensure the open-enclave package is not installed after provisioning"
The intention here is so that we don't accidentally include or use a header/source file/library from an installed open-enclave package.

[2019-01-04 21:44] paulcallen commented on #1290
Curious. I run cmake as ``` cmake .. -DUSE_LIBSGX=1 -DCMAKE_INSTALL_PREFIX:PATH=~/openenclave-install``` and then when I do a make/make install I see these files:
[code]

Are you saying there are other files missing, or when there is no CMAKE_INSTALL_PREFIX specified it is broken?

[2019-01-04 21:55] paulcallen commented on #1290
and these files are put there via include/cmakelists.txt line 13 I believe

[2019-01-04 22:22] yakman2020 commented on #1290
repro:

clone openenclave.git
cd to openenclave, mkdir build
cmake -G "Unix Makefiles -DUSE_LIBSGX=1 ..
make
make install

Look at /opt/openenclave/include/openenclave and you will not see the edgr8r directory.

[2019-01-04 22:41] andschwa commented on #1281
I think this is really high priority because our CI runs are taking an _entire hour_ per job right now, which is bad.

[2019-01-04 23:05] johnkord commented on #1281
@andschwa @ionutbalutoiu Yes I agree, this should be one of the highest priority tasks in right now in https://github.com/Microsoft/openenclave/projects/4

[2019-01-04 23:10] andschwa commented on #1290
@paulcallen LOL I didn't even know that file existed.

[2019-01-05 00:04] anitagov opened #1298 "Issues with Jenkins stage Check Pre-Commit requirements"
We have encountered lots of issues with the new Jenkins stage "Check Pre-Commit Requirements".
1) Firstly, the title is misleading as it is doing a make and build. Please change this to something appropriate to indicate what this new stage is doing.
2) The tests are run in simulation mode. Since we have so many simulation runs already, I don't see the need for another simulation run.
3) Tests seem

[2019-01-05 00:05] anitagov commented on #1298
Great if this can be addressed ASAP. Thanks.

[2019-01-05 06:57] anitagov commented on #1008
PR #1289 - Enabled abortStatus for Windows  after resizing ELF enclave and bypassing the result from terminate_enclave.

[2019-01-05 06:57] anitagov commented on #1033
PR #1289 - Enabled abortStatus for Windows after resizing ELF enclave and bypassing the result from terminate_enclave.

[2019-01-07 16:03] ionutbalutoiu commented on #1281
Note taken!

[2019-01-07 18:21] andschwa commented on #1076
This was resolved by #1279.

[2019-01-07 18:21] #1076 closed

[2019-01-08 19:55] #1295 closed

[2019-01-08 21:39] anitagov opened #1302 "Cross-compiling OE for Windows using ninja fails if WSL is installed on the platform"
Cross-compiling OE for Windows using ninja fails if WSL is installed on the platform. You will get the following error with Visual Studio IDE build or with the x64 Native Tools Command Prompt Window.

/bin/bash: C:/Users/username/Projects/CrossCompile/openenclave/build/x64-Debug/output/include/openenclave/libc/bits/alltypes.h: No such file or directory
  ninja: build stopped: subcommand failed.

T

[2019-01-09 22:23] andschwa commented on #1302
Thank you for the bug report @anitagov! I'll see if I can fix this.

[2019-01-09 22:29] johnkord opened #1308 "Ansible-playbook shouldn't require sourcing of /etc/environment for CMake binaries availability in PATH"
A proposed solution to this is to create symbolic links in a normal path for binaries that point to the installed CMake binaries.

[2019-01-10 00:39] johnkord opened #1309 "Temporary disk on Linux systems in CI to improve performance"
This issue intends to be the Linux counterpart to the second part of issue #1281

[2019-01-10 01:11] gupta-ak commented on #1302
if you have git-bash and WSL bash installed, it will always pick the WSL bash first. This is because `CreateProcess` looks at the `C:\Windows\System32` folder before searching `$PATH`, so it will always pick up the WSL bash. WSL bash doesn't work because, as mentioned in the original post, the paths are different (`/mnt/c`) instead of `C:\`.

The solution seems to look for git-bash specifically (s

[2019-01-10 02:49] anitagov commented on #1302
Thanks Akash and Andy. Discussed this with Anand today and the plan is to figure out the path to git-bash for windows and use that when cross compiling on Windows. I will be fixing this.

[2019-01-10 03:05] andschwa commented on #1302
@anitagov That seems reasonable given the root problem. Thank you all for investigating this.

You'll probably want code like this:

[code]

Replace `bash` in this part of `3rdparty/libunwind/CMakeLists.txt` with `${GIT_BASH}`:

[code]

I think that'll do it, but I didn't test it.

[2019-01-10 03:07] andschwa commented on #1302
Ah that `TODO` 😆

[2019-01-10 16:07] mikbras commented on #1178
Because we lack this feature, the file system work has had to create the **oe_hostbatch_t** type.

https://github.com/Microsoft/openenclave/blob/feature.fs/fs/common/hostbatch.h

[2019-01-10 16:13] ionutbalutoiu commented on #1139
Fixed by https://github.com/Microsoft/openenclave/pull/1306

[2019-01-10 16:13] #1139 closed

[2019-01-10 16:51] CodeMonkeyLeet opened #1312 "tests/print has issues on Windows"
This test is Linux-centric may need to be rewritten to run correctly on Windows:

- The test uses `sh` to pipe the output to fill then runs `diff` against oracle output. While the test executes in ctest, it always passes even when the oracle files have been modified to not match expected output, indicating that the `sh` errors are not correctly captured on Windows.

- It currently shows up in ctes

[2019-01-10 17:45] andschwa commented on #1308
Can we just go back to installing CMake to `/usr/local/bin`?

[2019-01-10 17:46] andschwa commented on #1308
Installing to `/cmake/bin` and then modifying `/etc/environment` is super non-standard IMHO.

[2019-01-10 17:48] johnkord commented on #1308
That sounds good to me.

[2019-01-10 19:13] #728 closed

[2019-01-10 23:21] andschwa commented on #728
Thanks @oprinmarius!

[2019-01-11 02:24] CodeMonkeyLeet opened #1320 "Windows: New Ansible configuration is needed to enable DCAP"
As part of adding DCAP attestation support for ELF enclaves running on Windows, we need a new Ansible script to configure Windows with the new prerequisites:

* Target configuration is Windows Server 2016 ACC VM
* Latest PSW needs to be installed:
    * http://registrationcenter-download.intel.com/akdlm/irc_nas/15018/Intel%20SGX%20PSW%20for%20Windows%20v2.2.100.48339.exe
    * This is a self-extra

[2019-01-11 09:57] dragoshsch commented on #1285
@andschwa as far as I can see it, you're right with `shellcheck` and `clang-format` being the only tools that aren't installed in something like a Git Bash setup.

Splitting the pre-commit hook between OS-es and rewriting all the scripts without `shellcheck` and `clang-format` will introduce needless breakage in the CI if the scripts differing even minorly (which I'm certain they will). I think wi

[2019-01-11 11:47] ionutbalutoiu commented on #1298
@anitagov Marius is on it

[2019-01-11 12:01] ionutbalutoiu commented on #1281
I've configured a second Windows Jenkins slave `ACC-Win-2`. It's using the same Azure VM configuration (`Standard_DC2s` size and `eastus` region).

Both Windows Jenkins slaves are using `D:\` temp storage for the Jenkins workspace root directory.

They serve jobs under the common label `SGXFLC-Windows` (previously defined on the first agent).

[2019-01-11 12:01] #1281 closed

[2019-01-11 12:36] ionutbalutoiu commented on #1308
John opened https://github.com/Microsoft/openenclave/pull/1316 to fix this issue.

[2019-01-11 13:14] ionutbalutoiu commented on #1320
@CodeMonkeyLeet Thank-you for all the great details about the task! On it.

[2019-01-11 16:02] dragoshsch commented on #1282
@andschwa I created PR #1321 for this.

[2019-01-11 18:21] andschwa opened #1322 "Document process to update 3rdparty code"
In #1318 we moved to applying patches to 3rdparty code by directly committing the changes on top of the committed source. From a developer standpoint, this is the simplest method, as it requires no hacky build steps, no generation or maintenance of patch files (especially important on Windows), and the sources are easily debugged as the complete input sources are in the source tree (not patched an

[2019-01-11 18:41] andschwa commented on #1285
@dragoshsch I am quite happy to have clang-format and shellcheck installed in Git Bash (that might mean updating the Windows docs, or do we have anything to automatically setup Windows yet @anakrish?) and use those.

[2019-01-11 19:18] lilyfang commented on #835
We will keep this function instead. It is a pointer of enclave from the host side. There are multiple instances of enclave. If host gets callback from one of these enclave instances, host needs to know the enclave identity.

[2019-01-11 19:18] #835 closed

[2019-01-11 19:20] lilyfang commented on #848
We will add Enclave-to-Enclave communication. However, we will not support the direct enclave-to-enclave ECALLs at this moment. There are many cases that we need to think through first.

[2019-01-11 19:23] lilyfang commented on #849
We will not fix this until we have very clear user scenarios and why this is actually needed.

[2019-01-11 19:23] #849 closed

[2019-01-11 19:31] anakrish commented on #1285
Our Getting Started for Windows is here: https://github.com/Microsoft/openenclave/blob/master/docs/GettingStartedDocs/GettingStarted.Windows.md
That would need to be updated as necessary.

How do we ensure the correct clang-format version though?
The clang-format I get via LLVM says verstion 7.0; but don't we want some other specific version?

[2019-01-11 19:43] lilyfang commented on #854
The certificate part requirement is unclear. We will use a different bug to track once we get more info.

[2019-01-11 19:43] #854 closed

[2019-01-11 20:08] lilyfang commented on #848
Just this bug to track enclave-to-enclave communication. Once we understand more about enclave-to-enclave ECALL requirements, will open a new issue to track.

[2019-01-11 20:10] lilyfang commented on #875
After discussing, we don't need this.

[2019-01-11 20:10] #875 closed

[2019-01-11 20:57] andschwa commented on #1285
@anakrish Actually we fixed that the day before yesterday in #1311 and now want clang-format-7 😄 (Thanks @oprinmarius)

[2019-01-11 21:00] anakrish commented on #1285
Great!

[2019-01-12 01:34] #1308 closed

[2019-01-13 19:42] soccerGB opened #1325 "Need to add support for establishing secure channel between enclaves : TLS with remote attestation"
# Integrate attestation to TLS (Transport Layer Security) between Open Enclave enclaves

## Prerequisites

  The audience is assumed to be familiar:

  - [Transport Layer Security (TLS)](https://en.wikipedia.org/wiki/Transport_Layer_Security) a cryptographic protocol designed to provide communications security over a computer network.

  - [Open Enclave Remote attestation](https://github.com/Micro

[2019-01-14 16:04] aserdean commented on #1145
@andschwa I sent out this PR to address it: https://github.com/Microsoft/openenclave/pull/1326

I'm assuming that the test case path remains the same. If you want to tweak it a bit more please let me know.

[2019-01-14 17:47] CodeMonkeyLeet opened #1328 "AESM codepaths on Windows & Linux should log enclave_error"
In sgxload.c, only the DCAP codepath currently logs the `enclave_error` returned by underlying APIs responsible for enclave creation/loading/initialization. We should be logging the Win32/Intel driver errors used in the AESM codepaths as well since we seem to be encountering sporadic failures in those paths.

[2019-01-16 13:52] #1145 closed

[2019-01-16 20:17] anitagov commented on #979
Being addressed by PR #1342

[2019-01-16 21:39] andschwa commented on #1016
@anakrish spotted this recurring, so I re-opening and investigating.

[2019-01-17 12:32] ionutbalutoiu commented on #1294
Hello @johnkord!

Just had a chat with @oprinmarius about this one.

When the non-simulation tests are run, we should invoke the **same** tests (but with simulation enabled via `OE_SIMULATION=1` flag) exactly in the next step in the same stage.

This would indeed reduce the number of stages, and add improvements to the CI execution times. Right now, with 2 separate stages (for non-simulation and s

[2019-01-17 18:42] anitagov commented on #1294
You may be able to run ctest after (or before) doing a OE_SIMULATION=1 ctest if this is being done on ACC hardware. But necessary cleanup of the test results may need to be done without destroying the build. I am not sure of the exact steps to do this.

On non ACC h/w, of course, only simulation runs can be done but we should continue to have this setup.

[2019-01-17 23:04] Lusitanian opened #1351 "oesign makes assumptions about filenames"
oesign makes some strange assumptions about filenames - among them, that "enc" must be (case-sensitively) contained within the enclave filename. this consumed a large amount of dev time today since our enclaves have "Enclave" with a capital "E" in the filename.

[2019-01-17 23:05] Lusitanian commented on #1351
additionally, the error output is nonexistent. in order to discover this I had to compile oesign with debug symbols and step into the sign routine

[2019-01-17 23:42] andschwa commented on #1016
Fixed (again?)

[2019-01-17 23:42] #1016 closed

[2019-01-18 15:00] ionutbalutoiu opened #1353 "The GCC tests are failing on Ubuntu 18.04"
Currently the 1804 CI jobs consistently report failures when running the GCC tests. These are the results from some of the jobs:

* https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/trying/604/pipeline/
* https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/OpenEnclave-libcxx_tests-moprin-temp/detail/OpenEnclave-libcxx_tests-moprin-temp/2/pipeli

[2019-01-18 15:07] ionutbalutoiu opened #1354 "Improve Ansible scripts to provision new Linux slaves"
Right now, the Ansible scripts require a secret to provision new Jenkins slaves:
https://github.com/Microsoft/openenclave/blob/31a6c4fa21e0c8d1cc4019004f0a9027c12c2663/scripts/ansible/vars/variables.var#L5

This means that some manual steps need to be done on the Jenkins master to add the new node and fetch the secret for it, which is not desirable.

Also, I feel that we should remove the 3rd part

[2019-01-18 15:14] ionutbalutoiu opened #1355 "Add Ansible scripts to set up new Windows Jenkins slave"
This issue will be used for the new Ansible scripts to set up new Windows Jenkins slaves on the ACC hardware.

The work here comes combined with the request from https://github.com/Microsoft/openenclave/issues/1320.

[2019-01-18 17:45] johnkord opened #1357 "Refactor test-samples.sh (to remove it, probably)"
We came across this test-samples.sh script, which we think could probably be factored out. It looks like its purpose is to facilitate running of the samples tests. This logic can probably be handled from within CMake without needing to run this script.

[2019-01-18 17:55] johnkord commented on #1353
@andschwa and I talked about this and think we should disable these warnings as errors for the musl project.

[2019-01-18 18:18] andschwa commented on #1353
Specifically disable with #pragmas. There should be an existing pattern to follow as some warnings are similarly disabled already.

[2019-01-18 18:19] andschwa commented on #1357
Beware anyone who looks at this script! It is not fun 😭

[2019-01-19 11:01] vlaza commented on #1354
The 1st part with `jenkins_slave_secret` is resolved in https://github.com/Microsoft/openenclave/pull/1350

[2019-01-19 11:04] vlaza commented on #1355
@ionutbalutoiu Please assign this one also to me as I already started working on it.

[2019-01-19 11:16] vlaza commented on #1354
@ionutbalutoiu Please assign this one also to me as I already started working on it.

[2019-01-21 09:48] ionutbalutoiu commented on #1354
Done

[2019-01-21 11:24] ionutbalutoiu opened #1360 "Add 18.04 support to the Linux deploy_jenkins.yml file"
Currently, the [deploy_jenkins.yml](https://github.com/Microsoft/openenclave/blob/master/scripts/ansible/deploy_jenkins.yml) Ansible playbook file does not have Ubuntu 18.04 support.

[2019-01-21 14:31] ionutbalutoiu commented on #1293
These are the failures encountered **besides** the documented known failures from [here](https://github.com/Microsoft/openenclave/blob/master/docs/GettingStartedDocs/GettingStarted.Windows.md#known-issues).

Once we have a PR ready for this, we'll document those as well if they are consistent failures.

[2019-01-22 12:29] #1360 closed, assigned to vlaza

[2019-01-22 13:56] ionutbalutoiu opened #1362 "Organize Ansible playbooks according to best practices"
Currently, there is some work in progress to add Ansible Windows playbooks (https://github.com/Microsoft/openenclave/issues/1355 and https://github.com/Microsoft/openenclave/issues/1320).

These new Windows playbooks will make the [ansible folder](https://github.com/Microsoft/openenclave/tree/master/scripts/ansible) even more complex. Therefore we need to organize it a bit.

Ansible has some [good

[2019-01-22 15:04] achamayou commented on #1351
@mikbras could this be prioritised please, it's quite annoying to have to rename all enclaves in a project. The logic that uses substrings to guess which argument is which does not seem particularly sound, something explicity based on flags would preferable (oesign sign -e enclave.so -c config.conf -k key.pem).

[2019-01-22 18:16] andschwa opened #1365 "Fix install location of openenclaverc"
Per #1361, #893 introduced a regression where our openenclaverc script is being installed to the wrong location.

[2019-01-22 18:18] anitagov commented on #979
Closing as PR #1342 has been resolved.

[2019-01-22 18:18] #979 closed

[2019-01-22 18:19] anitagov commented on #979
Thanks Erik.

[2019-01-22 19:12] #1285 closed

[2019-01-22 19:12] #1298 closed

[2019-01-22 19:31] johnkord opened #1366 "Use --device for /dev/sgx instead of --privileged in Jenkinsfiles"
We accidentally reverted to using "--privileged -v /dev/sgx:/dev/sgx" for docker flags for non-simulation container tests, when we should be using the "--device /dev/sgx:/dev/sgx" option instead.

[2019-01-22 19:31] johnkord commented on #1366
This should also be changed in the Azure-DCAP-Client Jenkinsfile

[2019-01-22 22:42] anakrish opened #1368 "Windows: Add -mllvm -x86-speculative-load-hardening flags to clang"
When maybe_build_using_clangw is used to build enclaves on Windows, the spectre mitigation flags:
-mllvm -x86-speculative-load-hardening
must be applied if the compiler supports it.
(Clang-7 and above support it).

CC: @andschwa @dragoshsch

[2019-01-22 22:48] andschwa commented on #1365
I'm closing this. My eyes glazed over the code and in `master` the script is being installed to correct place, it's just that our latest package contains the regression. /cc @CodeMonkeyLeet

[2019-01-22 22:48] #1365 closed

[2019-01-22 23:21] soccerGB opened #1369 "oeedger8r : generated code: error: implicit conversion changes signedness: 'int' to 'size_t'"
I noticed that the oeedger8r generated code does not build clean without
-Wno-conversion compiler option. Given that we enabled warning as a error for implicit type conversion, this is becoming a problem. It would be great to have this fixed so that we dont need to add "-Wno-conversion" in out code

276:55: error: implicit conversion changes signedness: 'int' to 'size_t'
     (aka 'unsigned long')

[2019-01-22 23:39] andschwa commented on #1369
Am doing (saw the email).

[2019-01-23 00:21] johnkord opened #1370 "Remove references to install-prereqs in format-code"
Since we're deprecating install-prereqs, we shouldn't reference in other places anymore, and we noticed there's an error message in format-code that refers to it

[2019-01-23 00:36] johnkord opened #1371 "Force overwrite CMake binaries if they exist in /usr/local/bin for ansible task"
When running the ansible task to install prerequisites, some systems may have CMake binaries installed to /usr/local/bin, and that causes the ansible task to fail with an error saying:

[code]

I think we should force overwrite any of those cmake binaries in /usr/local/bin with the symbolic links that we would create as part of the ansible task.

[2019-01-23 14:14] aserdean commented on #759
I sent a tentative: https://github.com/Microsoft/openenclave/pull/1374

[2019-01-23 18:05] ionutbalutoiu opened #1376 "Update Packaging.Jenkinsfile"
We need to update the `Packaging.Jenkinsfile` and adopt the recent changes that we did for the main pipeline.

Check-list:

* [x] Convert it from declarative to scripted pipeline
* [x] Replace all the occurrences of `test-build-config` script

[2019-01-23 18:13] andschwa commented on #1353
Resolved via #1358.

[2019-01-23 18:13] #1353 closed

[2019-01-23 21:09] jmechalas commented on #1192
What's is the output from the oesgx tool? I am pretty sure your NUC does not Flexible Launch Control.

[2019-01-23 23:18] paulcallen commented on #845
Moved sgx specific stuff from the two properties.h files to an sgx specific version of the file and included on platforms supporting sgx.

[2019-01-23 23:18] #845 closed

[2019-01-25 19:36] johnkord opened #1387 "Provide more information than just OE_PLATFORM_ERROR for various conditions"
We've had some users have issues with determining why OE_PLATFORM_ERRORs are being returned when an enclave is created or initialized, and there should be enough data to provide more details about this.

It looks like there are ERROR level logs or OE_RAISE_MSG's being called, but I can't seem to get those to appear in my console when I'm debugging. This is worth investigating

Tagging @flxflx

[2019-01-28 12:42] stefanlupsa commented on #1366
since it's on a different repo bu mentioned in the issue, i'm linking the PR here as well https://github.com/Microsoft/Azure-DCAP-Client/pull/33

[2019-01-28 15:37] aserdean commented on #761
I am trying to figure out how the best approach for this one is.

The error that you mentioned (i.e. from my machine):
[code]
using the following diff:
<details>
ubuntu@ubuntu:~/openenclave/build$ git diff ../CMakeLists.txt
diff --git a/CMakeLists.txt b/CMakeLists.txt
index a6cea47..9055087 100644
--- a/CMakeLists.txt
+++ b/CMakeLists.txt
@@ -26,6 +26,7 @@ set(CMAKE_C_COMPILER_NAMES clang-7 cc)
 s

[2019-01-28 18:10] andschwa commented on #761
I think just import CTest if valgrind is available, I'm fine with the `ExperimentalMemCheck` target.

Definitely should check for valgrind before enabling anything here.

I have no strong opinions on this, if it works fairly easily, that would be great 😄

[2019-01-28 18:13] aserdean commented on #761
Thanks a lot for the quick response!

As an update.

Using the following diff on master:
<details>
diff --git a/CMakeLists.txt b/CMakeLists.txt
index a6cea47..6ba8f54 100644
--- a/CMakeLists.txt
+++ b/CMakeLists.txt
@@ -130,6 +130,16 @@ endif ()

 option(ADD_WINDOWS_ENCLAVE_TESTS "Build Windows enclave tests" OFF)

+# add valgrind
+find_program(VALGRIND "valgrind")
+if (VALGRIND)
+  include(Dart)

[2019-01-29 00:36] andschwa commented on #1351
@achamayou I spoke with @CodeMonkeyLeet and this is definitely something we can do. I'll be doing it as side work, so I can't get a firm time to you, but I'll surely get this cleaned up!

[2019-01-29 01:16] #1366 closed

[2019-01-29 13:45] ionutbalutoiu opened #1394 "Deprecate Windows test-build-config.ps1"
This issue continues tracking the wrapper script to run unit tests used with PowerShell on Windows.

It comes as an addition to the request for Linux from https://github.com/Microsoft/openenclave/issues/1282

[2019-01-29 13:54] ionutbalutoiu opened #1395 "Add validation Ansible role for the Jenkins slaves"
Once https://github.com/Microsoft/openenclave/pull/1375 is merged, we should add a validation role to be executed at the end of the Jenkins slaves setup playbook.

This should be able to verify the expected state of the Jenkins slaves after configuration is finished by the previous tasks.

Check-list:

* [x] Add validation role for Linux
* [x] Add validation role for Windows

[2019-01-29 22:12] anitagov commented on #1283
Changed the title to match the description that states that this is for Windows and Linux CI.
I am working on adding ninja to Windows CI.

[2019-01-30 12:18] aserdean commented on #761
I sent a tentative at: https://github.com/Microsoft/openenclave/pull/1399

[2019-01-30 18:17] anitagov commented on #1188
Yes, I will be trying to enable libc tests -- that is next on my plate.

[2019-01-30 19:10] anitagov commented on #1283
Changed the title to match the description that states that this is for Windows and Linux CI.
I am not working on the ninja Windows script but fixed the Windows CI PS script (test-config-build.ps1) to work correctly for Release mode with the 2 generators (part of another PR #1372  which is still not in master).

[2019-01-30 19:27] andschwa opened #1400 "Flaky libcxx test in CI"
I've seen this test occasionally fail in unrelated PRs, making the CI flaky:
[code]

[2019-01-30 19:32] andschwa commented on #761
Nah, definitely after. The only thing that matters to me here is it running them under Valgrind, just a useful tool.

[2019-01-30 20:22] anitagov commented on #1400
Yes, I have seen this a few times since the EDL change to libcxx.

Erik: Can you take a look at this failure please as I have not encountered such a failure before?

Andrew: Can you send a link to the CI failure?

- Anita

________________________________
From: Andrew Schwartzmeyer <notifications@github.com>
Sent: Wednesday, January 30, 2019 11:28:01 AM
To: Microsoft/openenclave
Cc: Subscribed
Sub

[2019-01-30 20:22] anitagov commented on #1283
Great if the Windows ninja script is prioritized before then Linux ninja work.

[2019-01-30 21:59] anitagov commented on #839
PR #1372 is to enable mbed tests to work on Windows.

[2019-01-30 22:05] andschwa commented on #761
Closed via #1399.

[2019-01-30 22:05] #761 closed

[2019-01-30 22:17] andschwa commented on #1400
Ah! I forgot about that.

[Here's](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/staging/527/pipeline) a particular run.

That's from PR #1397 which has had it happen to it a couple times.

[2019-01-31 00:45] anitagov commented on #1188
libc and libcxx are different.

For enabling libc tests on Windows, they will not work on Windows automatically and the heap/stack sizes will need to reduced. But this change caused some failures on Linux as I indicated in my issue #1008 . This is a comprehensive issue and several of the tests have been enabled already. However, the ones remaining are the really tricky ones/3rd party/unsupported.

[2019-01-31 01:34] anitagov commented on #1188
Some recap: When I filed this issue, it was a request for all libc tests to be run on Linux CI as I assumed that #782 was merged to master which was optimized libc.
John completed this with his PR #1214 on Dec 14th.
PR #782 was completed by @mikbras on Dec 19th.

So, this issue actually should have been closed.

[2019-01-31 01:38] anitagov commented on #1188
But since it hasn't. Changed the title to be generic CI.

[2019-01-31 12:10] vlaza commented on #1355
PR created https://github.com/Microsoft/openenclave/pull/1402 and depends on https://github.com/Microsoft/openenclave/pull/1375

[2019-01-31 12:33] ionutbalutoiu commented on #1283
Sounds good @anitagov. Thanks for the updates!

[2019-01-31 15:53] ionutbalutoiu commented on #1188
@anitagov Thank-you very much for the detailed explanation!

With your above clarifications, I realize that the work we have been doing is trying to have some `libcxx` tests runs in the Windows CI, which I agree that it seems an overkill (the job execution time is significantly increased). We'll be leaving this on hold for now, and resume it in case it becomes a priority.

@johnkord, given the out

[2019-01-31 17:24] johnkord commented on #1188
Agreed, let's close this!

[2019-01-31 17:24] #1188 closed

[2019-01-31 20:15] vlaza commented on #1354
2nd item from checklist is addressed by https://github.com/Microsoft/openenclave/pull/1403

[2019-02-01 00:12] andschwa opened #1405 "Hackathon Ideas"
- Fix oesign CLI #1351
- Implement more samples (self-contained features)
- Implement examples (full apps in enclaves)
- Handle enclave memory disappearing (sleep mode / live migrations)
- Improve oedump to inspect enclave methods #564
- Add VS Code support (automatic debugger setup, pkg-config, EDL syntax highlighting, etc.)

[2019-02-01 01:50] anitagov commented on #1189
Will work on this next week...

[2019-02-01 18:19] anitagov commented on #839
Closing this as I checked in #1372 into master yesterday.

[2019-02-01 18:19] #839 closed

[2019-02-01 18:39] anitagov commented on #1034
Enabled both backtrace and stdc are enabled on Windows.

[2019-02-04 15:47] achamayou commented on #1351
@andschwa thank you, that'd be very helpful. For what it's worth, we use https://github.com/CLIUtils/CLI11, it supports sub-command and it's well-documented.

[2019-02-04 16:56] jmechalas commented on #1192
I have this problem as well when running on a FLC-capable system. I have tried both the pre-packaged binaries and a build from source using 0.4.1. Any attempt to launch an enclave produces an OE_PLATOFRM_ERROR result.

This is a generic Ubuntu 16.04 LTS system which supports SGX1+FLC (not an Azure VM).

[2019-02-05 03:52] anitagov commented on #1283
Issued a PR #1415 after spending 1/2 a day getting a new ACC Windows VM (plain vanilla) deployed, installed all the necessary tools manually and then proving that ninja worked with my changes to the Windows PS script.

@dragoshsch @ionutbalutoiu @johnkord - Can one of you install Visual Studio 2017 15.9.4 or later on the Windows CI systems so that we can get Ninja verified and this PR completed? T

[2019-02-05 11:56] ionutbalutoiu opened #1416 "Add Ansible role to register a machine into the Jenkins master"
We need an Ansible role that will register the current Ansible hostname to the Jenkins server.

This depends on https://github.com/Microsoft/openenclave/issues/1362.

[2019-02-05 14:05] #759 closed

[2019-02-05 15:15] vlaza commented on #1416
Fixed by https://github.com/Microsoft/openenclave/pull/1418

[2019-02-05 15:55] ionutbalutoiu commented on #1283
I'll do that right now.

[2019-02-05 18:41] anitagov commented on #1283
Thanks @ionutbalutoiu . Seems like it built fine on one system/configuration and had 2 test issues but failed prematurely on the other (Debug Cross-compile config/machine).
A couple of questions - 1) Did you install Visual Studio 2017 or only the Build Tools?
2) On the debug Cross-compile build failure, the following error is reported.
Can you follow the instruction in the document https://github.

[2019-02-05 19:13] ionutbalutoiu commented on #1283
@anitagov I just replied in the PR with some minor discoveries that I got.

To directly answer your questions:

1) I installed only the [Visual C++ Tools for CMake](https://docs.microsoft.com/en-us/cpp/ide/cmake-tools-for-visual-cpp?view=vs-2017#installation) for the already installed `Visual Studio Build Tools 2017 15.9.6`. This comes with everything that we need (Ninja and CMake bundled).

    I

[2019-02-05 19:43] anitagov commented on #1283
Thanks @ionutbalutoiu - Let's continue to discuss this in my PR. I just updated it with a few comments.

[2019-02-06 15:19] ionutbalutoiu opened #1425 "Inconsistency between test-build-config and CMake code"
The [--build-type](https://github.com/Microsoft/openenclave/blob/05e69d739d20382f83dc61496a252490b33f07ed/scripts/test-build-config#L75) passed to the `test-build-config` bash script is passed further to the CMake `-DCMAKE_BUILD_TYPE` parameter [here](https://github.com/Microsoft/openenclave/blob/05e69d739d20382f83dc61496a252490b33f07ed/scripts/test-build-config#L124).

However, the `test-build-co

[2019-02-06 15:20] ionutbalutoiu commented on #1425
cc @andschwa @johnkord

What do you think about my suggestion about adjusting the `test-build-config` script until https://github.com/Microsoft/openenclave/issues/756 is fully addressed ?

[2019-02-06 15:43] ionutbalutoiu opened #1426 "Windows test failure with Debug Linux build"
When running the Windows OE tests using a Linux build with `-DCMAKE_BUILD_TYPE=Debug`, the following unit test fails consistently:
[code]

The full reason behind this has been explained [here](https://github.com/Microsoft/openenclave/pull/1321#issuecomment-459778019).

We ended up adding `-DUSE_DEBUG_MALLOC=OFF` as a temporary workaround to avoid the failure, but it's not desirable.

This pull req

[2019-02-06 17:59] #1362 closed

[2019-02-06 20:10] andschwa commented on #1425
@ionutbalutoiu I thought we were removing `test-build-config` entirely, so this should be addressed by the Jenkinsfile passing the correct case of `CMAKE_BUILD_TYPE` (or by checking all instances of that in CMake and doing the to_upper comparison).

[2019-02-06 21:50] anitagov commented on #1425
We don't really need this issue as the Linux test-build-config script has gone and the Windows test-build-config script is also being deprecated (PR #1428 ).
@andschwa - Can you verify that the JenkinsFile has the correct parameters?

[2019-02-06 22:03] anitagov commented on #1425
We don't really need this issue as the Linux test-build-config script has gone away and the Windows test-build-config script is also being deprecated (PR #1428 ).
@andschwa - Can you verify that the JenkinsFile has the correct parameters?

[2019-02-06 23:43] anitagov commented on #1033
Enabled mbed tests for Windows with my PR #1372 .
Disabled ecall_ocall for Windows as it intermittently fails with my PR #1415 .

[2019-02-06 23:44] anitagov commented on #1008
Enabled mbed tests for Windows with my PR #1372 .
Disabled ecall_ocall for Windows as it intermittently fails with my PR #1415 .

[2019-02-06 23:55] anitagov commented on #1008
So, the current list of tests that are not enabled on Windows are:
**libc** - Enabling in progress but unable to resize for ACC VMs
**libcxx**
**libcxxrt**
**memory**
**create-rapid**
**crypto_crls_cert_chains**
**ecall_ocall** - Was enabled and recently pulled out due to size issues on Windows
**libunwind**

**qeidentity** - Attestation is not supported on Windows
**report** - Attestation is not

[2019-02-06 23:57] anitagov commented on #1033
The current list of tests that are not enabled on Windows are:
**create-rapid**
**crypto_crls_cert_chains**
**ecall_ocall** - Was enabled and recently pulled out due to size issues on Windows
**libc** - Enabling in progress but unable to resize for ACC VMs
**libcxx**
**libcxxrt**
**libunwind**
**memory**
**qeidentity** - Attestation is not supported on Windows
**report** - Attestation is not suppo

[2019-02-07 00:56] andschwa commented on #1290
We were never able to repro this, closing for now. Feel free to re-open with a repro.

[2019-02-07 00:56] #1290 closed

[2019-02-07 01:01] #1369 closed

[2019-02-07 01:05] anitagov commented on #589
We are still waiting for Intel to provide a user mode app to interrogate how much EPC is in use.

[2019-02-07 04:56] andschwa commented on #756
Re-opening, it's causing bugs (of course).

[2019-02-07 11:15] ionutbalutoiu commented on #1425
This issue is referring to the Linux `test-build-config` script.

As mentioned by Andy [here](https://github.com/Microsoft/openenclave/pull/1321#pullrequestreview-194328681), we didn't delete it yet. So far, we have these:

* PR https://github.com/Microsoft/openenclave/pull/1398 - Converts the `Packaging.Jenkinsfile` to scripted and removes the `test-build-config` usage
* PR https://github.com/Mic

[2019-02-07 15:39] ionutbalutoiu commented on #1354
With https://github.com/Microsoft/openenclave/pull/1430 being merged, this is fixed.

[2019-02-07 15:39] #1354 closed

[2019-02-07 17:34] aserdean opened #1432 "Maybe add checks for cmake in a new CI stage"
Maybe add the following arguments `--warn-uninitialized  -Wdev` to cmake invocations.

Also `--warn-unused-vars` would be nice if we filter out the noise.

CC: @andschwa

[2019-02-07 18:05] andschwa commented on #1432
That would be awesome 🎉

[2019-02-07 19:10] #1252 closed

[2019-02-07 19:30] johnkord opened #1434 "Consider removing the "-fno-builtin" option and adding just the disable for floating-point related builtins in enclaves. (and possibly others)"
@mikbras left some important comments in this PR: https://github.com/Microsoft/openenclave/pull/1429

Here are his comments about the decision to add "-fno-builtin" as a global compile option for OE SDK:

-----

Just a heads up. Simon's **elibc** PR introduces the following symbols (and removes the oe-prefixed counterparts).

    * **memcpy**

    * **memmove**

    * **memset**

_GCC_ automatical

[2019-02-07 20:17] andschwa commented on #1405
TODO: We need a temporary subscription for the Hackathon. @pushkarcMS Could you help me get one set up? It would be for students to spin up ACC VMs. We need to avoid the policy that gets applied to our subscription which limits connections only to Microsoft corpnet IP addresses.

[2019-02-07 20:22] andschwa commented on #1405
@gupta-ak For HackIllinois specifically I think we should welcome a "bring your own" style of examples to implement. I am imagining students having prior homework assignments or side projects that they want to re-implement in an enclave. Sort of a "lab" style.

[2019-02-08 21:21] #1394 closed

[2019-02-09 02:15] johnkord opened #1439 "Add a few new Jenkins nodes and reduce executors"
There's been a bit of instability on some of the CI nodes that might be remedied by adding one (or two) more nodes per ACC label (both Linux and Windows).  Also, it might be worth it to reduce the number of executors per Linux system to 1 and then use Ninja as the build generator for most of our stages.  @ionutbalutoiu What do you think about this?

[2019-02-09 02:20] johnkord opened #1440 "Add CMake support for samples"
In order to support building our samples on Windows, we'll need to add a cross platform way to build them there. CMake seems like the easiest solution, since the rest of our build uses CMake. This could also help solve #1357

I've assigned Ionut, Alin, and Anita to this issue, but realistically we don't need everyone working on it. @aserdean I remember you mentioned this is something you were inte

[2019-02-11 11:39] achamayou opened #1441 "[ERROR]Warning: QE Identity was not supported by quote provider"
After picking up a recent checkout of master, we started seeing this when calling oe_verify_report. We have checked that this happens in the samples as well (full output below).

This is on a fresh ACC VM, create with oe-engine w/ isVanilla:true, running Ubuntu 18.04, set up with the following scripts, as discussed with @johnkord

[code]

There is no functional impact as such (the verification wor

[2019-02-11 13:12] aserdean commented on #1357
I have a question about this one.
In summary the script is only used here:
https://github.com/Microsoft/openenclave/blob/master/samples/CMakeLists.txt#L44
and ran only via ctest .

The test executes an `make install` and a run of samples:

<details>

[code]

</details>

I am thinking to split this into two. Add a step just to run the samples and delegate the install via a stage in the CI where we

[2019-02-11 13:17] aserdean commented on #1440
@johnkord issue https://github.com/Microsoft/openenclave/issues/1357 has a different problem IMO. I updated it with my findings.

I can take a stab at generating also cmakefiles across the samples if that is okay with you.

[2019-02-11 14:20] ionutbalutoiu commented on #1439
I agree with you @johnkord. I'll get this sorted out.

[2019-02-11 17:12] anakrish commented on #1441
@soccerGB @johnkord Let me know if I can help within anything in the investigation.

[2019-02-11 17:17] anakrish commented on #1441
I am also seeing this in my ACC vm that I have had for quite a long time.
`ctest -V -R samples`
succeeds. However I see the same OE_QUOTE_PROVIDER_ERROR error.

[2019-02-11 18:50] ionutbalutoiu commented on #1355
Fixed by https://github.com/Microsoft/openenclave/pull/1402

[2019-02-11 18:50] #1355 closed

[2019-02-11 19:05] anitagov commented on #1440
Sounds good to me.

[2019-02-11 21:04] johnkord commented on #1441
@anakrish @achamayou  This warning/error occurs because of some work in progress changes to the Azure DCAP client library. We're adding some new functions in the Azure DCAP library  (ex. 'sgx_get_qe_identity_info') that test the quote enclave version on a system is greater than or equal to a global acceptable version number that is cached in the Azure/Intel attestation services.  These functions h

[2019-02-11 21:53] johnkord commented on #1440
Thanks @aserdean !

[2019-02-11 23:25] gupta-ak commented on #1405
@andschwa That sounds good!

[2019-02-12 00:21] CodeMonkeyLeet opened #1444 "oe_memalign use in host is not compatible with enclave use in common code"
oehost implements `oe_memalign()` to split the implementation between Win32 & Linux implementations, but it expects that `oe_memalign()` is paired with `oe_memalign_free()` since it maps it to `_aligned_malloc()` and `_aligned_free()` on Win32.

This will be a problem for code in the common folder shared between host & enclave, since enclave usage is aligned with POSIX/MUSL expectation that memali

[2019-02-12 00:29] CodeMonkeyLeet opened #1446 "Upgrade mbedtls to 2.7.9 or better"
We've fallen behind in keeping up with the various fixes in the crypto library and as of 2/11/19 we're about 3 stable versions behind to get to 2.7.9.

Of note is a fix to handling for `MBEDTLS_PLATFORM_CALLOC/FREE_MACRO` which can be worked around by setting `MBEDTLS_PLATFORM_STD_CALLOC/FREE` instead, but that should be updated to use the macro definitions as documented for `MBEDTLS_PLATFORM_MEMO

[2019-02-12 07:03] achamayou commented on #1441
@johnkord Thank you for the quick response, we will ignore this for the time being then. Could it be made [WARN] rather than [ERROR]? We would like to be able to assert that our logs do not contain any errors during integration tests.

[2019-02-12 08:44] #1376 closed

[2019-02-12 10:00] ionutbalutoiu commented on #1439
@johnkord @andschwa @anitagov

I added 2 more Jenkins Linux ACC machines (`18.04` + `16.04`), and I set the workers count to `1` for all our `ACC` hardware machines.

Things looks to be more stable now. I'll monitor the CI jobs and look for any flakiness.

Please let me know if you notice them first.

[2019-02-12 12:43] #1368 closed

[2019-02-12 12:52] dragoshsch commented on #1370
@johnkord I can only find references to `install-prereqs` in `README.md`:

[code]

[2019-02-12 13:42] johnkord commented on #1370
Thanks Dragos!

[2019-02-12 13:42] #1370 closed

[2019-02-12 15:59] #1416 closed

[2019-02-12 16:10] ionutbalutoiu opened #1447 "Clean-up OpenEnclave warnings from builds"
Currently, there are a lot of warnings when building the project on both Linux and Windows.

Ideally, we should start cleaning them up.

[2019-02-12 21:53] vlaza commented on #1395
Both items in checklist are solved by https://github.com/Microsoft/openenclave/pull/1448

[2019-02-12 22:06] vlaza opened #1449 "Ensure OCaml / CMake are same versions linux and windows"
Found that we are not installing the exact same minor versions on Windows/Linux Jenkins slave nodes.

**Linux**
* CMake: 3.13.1 - upgrade / leave as-is or downgrade to 3.12.4
* OCaml: 4.02.3 - leave as-is or downgrade to 4.02.1

**Windows**
* CMake: 3.12.18.. (provided by Visual Studio 2017)
* OCaml: 4.02.1

Will require to patch Ansible provisioning roles to deploy the same versions.
Linux: upgra

[2019-02-12 22:25] vlaza commented on #1371
This issue is fixed by https://github.com/Microsoft/openenclave/pull/1450

[2019-02-12 22:28] vlaza commented on #1449
Blocked by https://github.com/Microsoft/openenclave/pull/1448

[2019-02-13 02:19] anakrish commented on #1449
@vlaza Do we need to install cmake separately on Windows? My understanding was that Visual Studio came with its own specific version of cmake.
CC @johnkord @anitagov @CodeMonkeyLeet @andschwa

[2019-02-13 08:39] vlaza commented on #1449
@anakrish on Windows it is already installed with Visual Studio and seems it is version: 3.12.18081601-MSVC_2 as per https://github.com/Microsoft/openenclave/blob/master/docs/GettingStartedDocs/GettingStarted.Windows.md#microsoft-visual-studio-2017

I will update the description of the issue and conduct further checks.

[2019-02-13 11:28] ionutbalutoiu commented on #1449
Hello @anakrish

We don't need to install CMake separately, Visual Studio with CMake tools component comes with CMake installed.

Victor suggest to match the versions of `CMake` and `OCaml` for Windows and Linux. I consider this a good practice and we should do it.

[2019-02-13 12:43] #1371 closed

[2019-02-13 13:33] ionutbalutoiu commented on #1449
I synced offline with Victor and we think that it's not worth downgrading the packages from a running system, or forcing a particular version instead of the latest stable package when setting up new nodes.

However, whenever there's an update for the stable packages (either on Ubuntu or Windows), we should try and upgrade to a version matching the other platform, for consistency (in case the curre

[2019-02-13 13:33] #1449 closed

[2019-02-13 18:08] andschwa commented on #1449
Yup, I agree with @ionutbalutoiu, no reason to downgrade the Linux packages.

[2019-02-13 19:00] soccerGB commented on #1441
The version of Azure DCAP Client that supports QE Identity has not been officially released yet.
Once it's out, this issue should go away.

I do agree that it should be a warning instead of error, given it's an expected behavior for the current code.

[2019-02-13 19:42] anitagov commented on #1449
I have cmake installed on my ACC Windows VM. And this is the one that seems to get used when I build on Windows. The cmake with Visual Studio might suffice -- but this version may be different from the one that we install. So, at this point, I think we are fine as long as we have at least cmake version 3.12.x.

[2019-02-13 21:00] ionutbalutoiu commented on #1292
Fixed by https://github.com/Microsoft/openenclave/pull/1327

[2019-02-13 21:00] #1292 closed

[2019-02-13 21:44] achamayou commented on #1441
@soccerGB, no problem, thanks for the change!

[2019-02-13 21:44] #1441 closed

[2019-02-14 09:59] ionutbalutoiu commented on #1309
I've configured all the Linux Jenkins agents to use the temporary disk. Closing this issue.

[2019-02-14 09:59] #1309 closed

[2019-02-14 12:45] #1395 closed

[2019-02-14 21:39] andschwa commented on #1447
The only extant warnings should be from third-party code. Can you list specifics to our code?

[2019-02-14 21:40] #1439 closed

[2019-02-15 02:11] CodeMonkeyLeet opened #1456 "Upgrade 3rdparty libraries"
As with the previous release, we should evaluate updating to the latest versions of the stable 3rdparty libraries prior to the next (v0.5) OE SDK update. Libraries on the horizon for the end of Feb include:

- [x] [MUSL libc 1.1.21](http://www.musl-libc.org/releases/musl-1.1.21.tar.gz)
    - Note that the `libc-test` suite comes from a different, _unversioned_ project at (separate update command i

[2019-02-15 02:24] CodeMonkeyLeet opened #1457 "Evaluate moving to mbedTLS v2.16 branch"
mbedTLS has designated its latest update [v2.16.1](https://tls.mbed.org/download/start/mbedtls-2.16.1-apache.tgz) as of 2018-12-21 the new long-term stable production branch. We should evaluate the impact of moving to this new release:

- [ ] Reconcile breaking changes in the API surface with OE SDK use
- [ ] Evaluate whether this poses issues for link-time mbedTLS replacement for projects using m

[2019-02-15 14:42] aserdean commented on #1440
As an update on this one, I finished with `samples/helloword` and `samples/file-encryptor`, after which I got to `samples/data-sealing` and I hit a semi issue:
[code]

`samples/data-sealing` uses **OE_API_VERSION v1**

Is it okay if I update the samples for **OE_API_VERSION v2** as part of the effort?

CC: @andschwa

[2019-02-15 15:47] ionutbalutoiu commented on #1447
Oh, it might be only third-party code. Let me double check this and if I cannot find anything related to our code, I'll be closing this issue.

[2019-02-15 18:20] andschwa commented on #1440
@paulcallen ought to know.

[2019-02-15 18:55] anitagov commented on #1440
@aserdean - Can you please point us to your branch? OR file a PR with what you already have. Thanks.

[2019-02-15 20:53] #1165 closed

[2019-02-18 16:32] aserdean commented on #1440
@anitagov : Sure: https://github.com/Microsoft/openenclave/pull/1466 .

I will close the PR and break all the changes into atomic commits after we decide what we keep and CI is green.

[2019-02-19 18:14] CodeMonkeyLeet commented on #1328
Resolved by #1331

[2019-02-19 18:14] #1328 closed

[2019-02-20 11:09] ionutbalutoiu commented on #1425
@aserdean merged https://github.com/Microsoft/openenclave/pull/1431 adding insensitive comparison to CMake, and we'll not have troubles around the `CMAKE_BUILD_TYPE` parameter.

Also, after https://github.com/Microsoft/openenclave/pull/1324 gets merged, the `test-build-config` script can be removed entirely.

I'm closing this issue since it's not a problem anymore.

[2019-02-20 11:09] #1425 closed

[2019-02-20 13:18] ionutbalutoiu commented on #1447
I double checked logs from OE builds using `gcc` and `clang-7`.

I found only warnings related to the 3rd-party code, and nothing related to our code.

Closing this issue.

[2019-02-20 13:18] #1447 closed

[2019-02-20 13:32] ionutbalutoiu opened #1469 "Add WIN32_SIMULATION CMake variable to facilitate testing ELF enclaves on Windows"
We agreed on adding a new CMake variable called `WIN32_SIMULATION`. When this one is set, the Windows unit tests known to fail in simulation mode are skipped.

The pull request https://github.com/Microsoft/openenclave/pull/1452 addresses this issue.

[2019-02-20 17:28] #1275 closed

[2019-02-20 17:55] johnkord commented on #1357
I just talked with Andy about this, we think we should hold off a little bit before we change this.

Cheng-mean and Andy and I agreed that we should be running the samples tests as part of the normal test run because it tests two main scenarios: that a package install works (albeit a non-deb package), and a bunch of common scenarios (like remote attestation, etc).

As for factoring out this script

[2019-02-21 07:46] anitagov commented on #1190
@johnkord @ionutbalutoiu - We may want to discuss if we really need this.  One configuration - Debug - Linux-Elf-Build may be all we need.

[2019-02-21 09:20] ionutbalutoiu commented on #1469
Fixed by https://github.com/Microsoft/openenclave/pull/1452

[2019-02-21 09:20] #1469 closed

[2019-02-21 09:35] mofanv opened #1473 "How to correctly increase secure memory size in Grapeboard"
Hello Team,
Thanks for the great project.

I'm trying to increase secure memory in the TA, but failed. #1174 mentioned the maximum `TZRAM` could reach 64 MB. I checked the `conf.mk` in `optee_os/core/arch/arm/plat-ls/`, which said:

[code]
[code]
[code]

So the `CFG_TZDRAM_SIZE` should be around `60 MB` at least. However, when I give my TA up to `5 MB` for `DATA_SIZE` in `user_ta_header_defines.h`

[2019-02-21 09:45] aserdean opened #1474 "Flaky Windows simulation tests"
The following tests have a high chance of failure on windows under simulation mode:
[code]

@oprinmarius found them when running multiple jobs in the CI:
* [OpenEnclave-sandbox#751](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/OpenEnclave-sandbox/detail/OpenEnclave-sandbox/751/pipeline)
* [OpenEnclave-sandbox#752](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organiz

[2019-02-21 09:52] aserdean opened #1476 "Occasionally failing Windows tests due to insufficient enclave size"
The following tests fail, although with a low chance:

[code]

Reproduced at:
* [OpenEnclave-sandbox#753](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/OpenEnclave-sandbox/detail/OpenEnclave-sandbox/753/pipeline/6/#step-24-log-1887)

[2019-02-21 13:17] ionutbalutoiu commented on #1190
Hello @anitagov!

@dragoshsch tried this configuration and it seems to work on the current master branch. He opened the PR https://github.com/Microsoft/openenclave/pull/1478 adding a new testing stage for `Win2016 Ubuntu1804 gcc Debug Linux-Elf-build` (see https://github.com/Microsoft/openenclave/pull/1478/commits/8749517e823ce1ee4e592d936b335feb94437275 from the PR).

Regards,
Ionut

[2019-02-21 19:12] #1283 closed

[2019-02-21 21:06] johnkord opened #1480 "Use the logic in ansible tasks for ACC deployments"
Specifically for the oncoming DCAP support on Windows, we'll need to take logic embedded in ansible tasks and use it in ACC deployments.

[2019-02-21 21:59] johnkord opened #1481 "Add one stage to make sure GNU make builds continue to work on Linux"
Now that we're fully transitioned over to using Ninja as our build engine, I think we should have at least one test that makes sure we can continue to use Make as a build engine. So let's add one stage in our CI that ensures using GNU make still works!

[2019-02-22 02:42] lilyfang commented on #1207
That's expected. optee only works on new_platforms branch at this moment.

[2019-02-22 02:42] #1207 closed

[2019-02-22 03:07] dthaler commented on #1207
The doc linked to was updated to say ./new_platforms/scripts/build_optee.sh which is the current location of the script.

[2019-02-22 18:21] jordanrh1 commented on #1473
Hi @mofanv , do you know where this error is originating from? You may have to debug into the OPTEE loader. You can build OPTEE with `CFG_TEE_CORE_DEBUG=y CFG_TEE_CORE_LOG_LEVEL=4` to get verbose debug prints.

[2019-02-22 20:05] #1190 closed

[2019-02-23 01:37] anitagov commented on #1476
Can you please print the error that occurs using ctest -V? You will need to scroll and find this info in the CI run.

OE_PLATFORM_ERROR (or error 21) can occur as we have very little memory on our ACC Window VMs. We need to move to DC4 systems instead of calling the tests flaky and/or removing them.

[2019-02-23 01:38] soccerGB opened #1485 "Need to convert existing samples to use V2 APIs"
The work is a followup for the feature in the following link to push V2 APIs to samples.

https://github.com/Microsoft/openenclave/commit/e5e7f0dddaa6d9759f838515d00f0064df177935#diff-014693700bd59ca0f5ab157573ed80d9

[2019-02-23 01:39] anitagov commented on #1476
I looked at the sandbox run and confirmed that both the failures were OE_PLATFORM_ERROR during creation of the enclave.

22/101 Test  #22: tests/mbed/ecdsa ......................................***Failed    0.10 sec

: ..\..\tests\mbed\host\host.c(146): error: oe_create_enclave(): result=21

=== D:/Jenkins/workspace/OpenEnclave-sandbox/build/X64-Release/tests/mbed/host/libmbedtest_host.exe: D:/Jen

[2019-02-23 11:12] letmaik opened #1487 "Clarify libc support for threads"
docs/LibcSupport.md lists `threads.h` as partially supported and mentions "Unsupported functions: pthread_create(), pthread_join() and pthread_detach()". This doesn't make sense to me as these are pthreads functions which are not part of the C11 `threads.h` header. Should this entry be split up into two? One for `threads.h` and one for `pthread.h`?

[2019-02-23 11:38] letmaik opened #1488 "Fix libcxx support text for thread header"
It says:

sleep_until is part of the `std::this_thread` namespace, the rest is part of the `std::thread` class, although `create` doesn't exist, which is just the constructor.

[2019-02-24 13:45] vlaza commented on #1446
Hello, we are already working on this as part of https://github.com/Microsoft/openenclave/pull/1486
and tests passed https://github.com/Microsoft/openenclave/compare/master...vlaza:ISSUE-1456

[2019-02-25 14:31] aserdean commented on #1485
@soccerGB , @paulcallen I updated the samples to v2 as part of the cmake samples effort:
https://github.com/Microsoft/openenclave/pull/1466

I sent a PR only with that here:
https://github.com/Microsoft/openenclave/pull/1493

[2019-02-25 15:59] ionutbalutoiu commented on #1476
@aserdean on our side had similar problems with transient failures due to the lack of memory.

I just upgraded the Windows build servers to `Standard_DC4s` size. We're monitoring to see if these popd up again.

[2019-02-25 17:04] CodeMonkeyLeet commented on #1446
@vlaza Didn't know you were actively working on this since I split it out of #1456. I needed to take a look at the `MBEDTLS_PLATFORM_CALLOC/FREE_MACRO` issue so spent a bit of time on this. This PR looks identical to yours except for the updated comments in config.h detailing the choice to keep the use of `MBEDTLS_PLATFORM_STD_CALLOC/FREE`. It has also passed Sandbox tests.

GitHub doesn't appear

[2019-02-25 17:10] jordanrh1 commented on #1174
See https://github.com/OP-TEE/optee_os/blob/master/core/arch/arm/include/mm/generic_ram_layout.h for a description of the configuration directives involved in memory layout.

You may have to adjust parameters in U-Boot and PPA as well. It is worth double checking before modifying the memory layout.

[2019-02-26 11:48] ionutbalutoiu opened #1495 "Setup Jenkins ephemeral build servers for libcxx jobs"
The [libcxx Jenkins job](https://oe-jenkins.eastus.cloudapp.azure.com/job/OpenEnclave-libcxx_tests) runs the full unit tests suite once a day. However, the job takes quite a lot of time to complete. The last run had `3 hr 37 min` and without any 18.04 stages since https://github.com/Microsoft/openenclave/pull/1324 is not merged yet.

We agreed to have ephemeral build servers only for the libcxx jo

[2019-02-26 11:51] ionutbalutoiu opened #1496 "Split Ansible windows/jenkins/slave-setup.yml"
So far, the Windows OE environment setup is done as part of the `windows/jenkins/slave-setup.yml` role. But if we need to use Ansible outside the Jenkins context, we cannot use the `slave-setup.yml`.

Therefore, we need to decouple the logic from there.

[2019-02-26 18:55] #1481 closed

[2019-02-26 18:55] CodeMonkeyLeet opened #1499 "Create Docker containers for ACC development environment"
#1117 consolidated the scripts for setting up an ACC development environment into Ansible playbooks so that a maintainers who clone a repo and the CI/CD pipeline would create identical environments.

However, this has several downsides for developers (either SDK users or consumers of OE repo):
- There's still additional scripting necessary to install Python and Ansible, which is a relatively large

[2019-02-26 22:28] anitagov opened #1501 "Windows host state gets corrupted after enclave entry and exit"
The current host context which includes the FPU and SSE register state is not saved on entering the enclave on Windows. Hence the host state after enclave exit is perturbed and this has multiple repercussions, the primary one being that future enclave entry can result in incorrect state being passed to the enclave. Future calls on host can also result in unexpected behavior.

Uncovered this bug wh

[2019-02-27 10:49] eddyashton opened #1503 "SegFault when throwing exception over std::function boundary"
We've been tracking down a SEGFAULT inside our enclave, and we've narrowed in on precise but weird repro steps:
- Create a std::function which has spilled some arguments onto the heap (ie - more than 6 args) inside the enclave, which exits by throwing an exception.
- Call that function within a try...catch block. It is successfully caught.
- Try to call it again, it will SEGFAULT.

The working the

[2019-02-27 11:01] ionutbalutoiu commented on #1476
This looks to be fixed once the Windows build servers were upgraded. Closing the issue.

[2019-02-27 11:01] #1476 closed

[2019-02-27 14:37] #1496 closed

[2019-02-27 16:21] anakrish commented on #1503
@anitagov @CodeMonkeyLeet

[2019-02-27 18:05] #1320 closed

[2019-02-27 20:13] CodeMonkeyLeet commented on #1487
Yes, you're right we should do a better job of clarifying this.

[2019-02-27 21:04] #1446 closed

[2019-02-27 23:33] johnkord opened #1507 "Investigate ecall_ocall test in the case where it intermittently hangs"
The ecall_ocall test will sometimes hang (seemingly) forever.

There are two tasks to this issue:

- [x] Specific a ctest timeout for this individual test to be approximately 5 times as long as the test normally takes to complete. (Edit: Not necessary now that this issue is fixed)
- [x] Investigate what may be causing this test to hang, and fix it. Solved by PR https://github.com/Microsoft/openenc

[2019-02-27 23:34] johnkord commented on #1507
Some examples of the test hanging:

jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/staging/642/pipeline/57)
* [Bors-trying#732](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/trying/732/pipeline/43)
* [Bors-trying#736](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/trying/736/pipeline/54)
* [Bors-tr

[2019-02-28 02:13] anitagov commented on #1015
Optimizing the libcxx tests to all run as one large test is not a great idea. These are the following issues that I encountered when enabling libc tests to run on Windows where all the 240 tests are run one after the other.
1) If one test fails, the libc test fails and the other libc tests are not even tried. So, running each test separately is better.
2) Right now, cross compilation with clang ca

[2019-02-28 17:39] anitagov commented on #1507
Can we get this test pulled out until it is trouble-shooted as it is blocking my PR? Thanks.

[2019-02-28 17:43] johnkord commented on #1507
@anitagov Is it reproing consistently now for you?

Tagging @anakrish who may know more about this test!

[2019-02-28 18:29] anakrish commented on #1507
Sure. I will take a look at this.

[2019-02-28 21:36] jmechalas opened #1511 "Enclaves failing with OE_IOCTL_FAILED for OE on platforms without AVX"
On a fresh Ubuntu 16.04.5 LTS system (local, bare-metal; not an Azure VM), I built openenclave in SGX1 mode (with no FLC) [using the directions here](https://github.com/Microsoft/openenclave/blob/master/docs/GettingStartedDocs/SGX1GettingStarted.md), on the master branch. This resulted in 147/173 failed tests from `ctest` and enclaves that fail to load on an OE_IOCTL_FAILED error:

[code]

Examini

[2019-02-28 21:47] anitagov commented on #1507
@johnkord - It reproduced twice in a row.

[2019-02-28 22:55] jmechalas commented on #1511
The undefined symbol may be a red herring, as I was able to build OE on another 16.04 LTS system and get a successful result. There are some differences between the two systems (kernel versions, and possibly some software versions) which I am exploring.

[2019-03-01 00:15] jmechalas commented on #1511
Does Open Enclave have a dependency on AVX instructions?

My failing systems are:

- Intel NUC7PJYH, Pentium Silver J5005 (supports SGX1, SGX2, and FLC)
- KVM/QEMU guest on a Xeon E-2176G (CFL processor, supports SGX1 and FLC)

My passing system:

- Intel Xeon E3-1270 v6 (supports SGX1, but not FLC)

The Pentium Silver line does not support AVX at all. The Xeon E-2176G does, but a bug in kvm-sgx k

[2019-03-01 00:22] anakrish commented on #1511
@johnkord @CodeMonkeyLeet Can you please chime in about what could be happening here?

RE: __tls_get_addr. When thread locals are used, the compiler generates calls to the __tls_get_addr function to obtain the location of a thread-local variable. The generated code assumes the worst case (i.e multiple shared libraries). The linker optimizes away the calls to __tls_get_addr since we compile the enc

[2019-03-01 00:38] jmechalas commented on #1511
@anakrish Thank you for the explanation on __tls_get_addr.

Something that occurs to me re: AVX is the valid bits of SECS.ATTRIBUTES that can be set with ECREATE. This is obtained from cpuid leaf 0x12 subleaf 0x1. The XFRM attributes are found in EDX:ECX, and these control whether or not the AVX family (AVX, AVX2, FMA, etc.) are available in an enclave.

Is there an explicit check for CPUID.(EAX=1

[2019-03-01 02:06] CodeMonkeyLeet commented on #1511
@jmechalas Yes, I think you have found the key difference. OE doesn't technically need to use AVX inside the enclaves, but it attempts to preserve AVX state and defaults to creating enclaves with AVX enabled; `SEC.ATTRIBUTES.XFRM` is set to 7 by default on enclave creation just to exercise the XSAVE handling, but it needs to checking for the presence of AVX first.

Thanks for the analysis, it is m

[2019-03-01 14:40] ionutbalutoiu commented on #1203
This looks to be consistently reproduced now. So far, I noticed the following CI runs with all the testing stages failing:

* [OpenEnclave-nightly_packages/211](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/OpenEnclave-nightly_packages/detail/OpenEnclave-nightly_packages/211/pipeline)
* [OpenEnclave-libcxx_tests/215](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organ

[2019-03-01 14:42] aserdean commented on #1203
Bump on the failure:
[code]
It reproduced because of the month now, see [here](
https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/OpenEnclave-sandbox/detail/OpenEnclave-sandbox/784/pipeline#log-536) and [here (over the entire Linux stages)](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/OpenEnclave-sandbox/detail/OpenEnclave-sandbox/785/pipeline#step-

[2019-03-01 15:59] jmechalas commented on #1511
Thanks, @CodeMonkeyLeet. I'll watch for the patch so I can pull it into my repo.

[2019-03-01 16:57] ionutbalutoiu opened #1514 "Fix cmake errors reported with `-Werror=dev` enabled"
The PR https://github.com/Microsoft/openenclave/pull/1483 enables `-Werror=dev` CMake flag, and there are multiple errors that pop up.

[2019-03-01 17:01] ionutbalutoiu opened #1515 "Test OE Nightly deb packages"
So far, we have a nightly job generating latest `deb` packages for OE, but we don't have any stage that actually installs them, and runs the samples bundled with the deb.

We should have a separate job that is triggered after every successful `OpenEnclave-nightly_packages` Jenkins job. The job should have the following steps:

* Deploy new ACC VMs (1804 and 1604) via oe-engine
* Install the latest

[2019-03-01 17:09] ionutbalutoiu opened #1516 "Decide and document official supported GCC version"
As part of the work from [Add Ubuntu 18.04 support to libcxx_tests](https://github.com/Microsoft/openenclave/pull/1324), we found out that the GCC testing stages from 18.04 fail due to the fact that the default GCC version shipped with Ubuntu 18.04 is GCC 7, and it causes our libcxx tests to fail.

This doesn't happen on Ubuntu 16.04 since the default is GCC 5. To have https://github.com/Microsoft

[2019-03-01 18:13] johnkord commented on #1203
Interesting, I'll try to investigate this today! Thanks. I think this is just an edge case during month rollover in our tests, but I'm not sure if it affects anything more important.

[2019-03-01 18:33] anakrish commented on #1511
@johnkord @gupta-ak Can you prioritize this issue.

[2019-03-01 19:00] johnkord commented on #1203
This appears to be related to next year being a leap year!

Here is the CRL that is generated:
[code]

This CRL (intermediate_crl.der/pem) is created to have a 365 day expiration time (specified in tests/crypto/data/intermediate.cnf). This means that today (March 1st), the month won't match the month from the expected month in the "Next" field in the generated CRL, which you can see above in the g

[2019-03-01 19:17] johnkord commented on #1203
Tagging @soccerGB @anakrish because I've heard that you both were discussing this issue you hit last night!

[2019-03-01 19:42] andschwa commented on #1203
@johnkord That's hilarious! I just ran saw this errors on my PR too, ah leap years! It's funny that one of the hardest thing to do with computers is to count time 🤣

[2019-03-01 19:46] johnkord commented on #1203
It's so true. And dealing with time zones is a huge issue, because it involves so much: politics, locales, publishing/distribution, updates, daylight savings time, etc. I've hit at least one issue in basically every project I've ever worked on because of something related to datetime. Anyway, I'm looking into a fix for this.

[2019-03-01 23:41] johnkord commented on #1203
This should be fixed now @ionutbalutoiu @aserdean

[2019-03-02 01:26] johnkord opened #1519 "Disable all Simulation Mode tests on Windows in CI"

[2019-03-02 01:29] johnkord commented on #1519
@anakrish commented in #1502 to disable all Simulation mode tests on Windows until the issue he mentions can be addressed.

[2019-03-02 01:40] CodeMonkeyLeet opened #1520 "Standardize OE SDK ABI expectations"
As tests are starting to expose irregularities in the way we handled context preservation calling in and out of the enclave between host OS types, we need to more rigorously define and test the edge function ABI and other related call handling we manually author:

- [x] Evaluate and formalize context preserved on ecall from host based on registers preserved in [`__morestack`](https://github.com/Mi

[2019-03-04 11:13] ionutbalutoiu commented on #1519
@johnkord @anakrish Thanks for this info!

Currently, the upstream `master` branch doesn't have any CI testing stages with Windows simulation.

We had the following `WiP` issues & PRs to get this up and running:

* Simulation testing on Windows https://github.com/Microsoft/openenclave/issues/1293
    * Add simulation testing stages to Jenkinsfile https://github.com/Microsoft/openenclave/pull/1407

[2019-03-04 11:13] #1519 closed

[2019-03-04 11:15] aserdean opened #1523 "constexpr_init.pass.cpp (tests/libcxx) fails to compile with GCC 7"
GCC complains:
[code]

This is due to:
https://github.com/Microsoft/openenclave/blob/master/3rdparty/libcxx/libcxx/test/std/utilities/function.objects/comparisons/constexpr_init.pass.cpp#L19

Target milestone for this issue to be resolved is GCC 7.5.0 as per: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=83921

[2019-03-04 11:33] ionutbalutoiu opened #1524 "Occasionally `Failed to extract linuxDebug.tar.gz` CI error"
At the `windowsLinuxElfBuild` stages from CI, we have 2 steps:

* Generate Linux build on Ubuntu 18.04 / 16.04 machine
* Transfer that to Windows machine that via [stash](https://jenkins.io/doc/pipeline/steps/workflow-basic-steps/#stash-stash-some-files-to-be-used-later-in-the-build) / [unstash](https://jenkins.io/doc/pipeline/steps/workflow-basic-steps/#unstash-restore-files-previously-stashed) J

[2019-03-04 20:08] anakrish opened #1526 "Inconsistent CI results from the `scripts/check-ci` checks"
The following run errors out in only one CI node:
https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/Bors/detail/trying/757/pipeline/

+ ./scripts/check-ci

In scripts/clangw line 68:

        clang -target x86_64-pc-linux ${args[@]} -fuse-ld="`which ld.lld`"

                                      ^-- SC2068: Double quote array expansions, otherwise they're like $* and break o

[2019-03-04 22:12] anakrish opened #1527 "Provide script or packages list for porting to platforms where ansible may not work"
While ansible works nicely, it does not work on all platforms.
To help compiling/porting OE to such platforms it would be good to:
1) Provide a shell-script that installs necessary packages
2) Document the list of packages needed somewhere so that they can be manually installed.
     Reading the scripts/ansible folder, it is not really obvious what packages I need to install manually
     to get a

[2019-03-05 03:01] anitagov commented on #1511
I am working on this.

[2019-03-05 06:06] andschwa commented on #1526
I would actually heed these two warnings. Are you purposefully wanting to split the array arguments on spaces? I wouldn't think so... I would think you'd want each argument quoted correctly. [This is what I follow.](http://mywiki.wooledge.org/BashGuide/Arrays#Using_Arrays)

[2019-03-05 14:18] ionutbalutoiu commented on #1527
@anakrish

1. As far as I know, we support Ubuntu 16.04, Ubuntu 18.04 and Windows Server 2016 ACC for the OE project.

    On Ubuntu 16.04 & 18.04 you can run Ansible locally just as any shell script ([this section](https://github.com/Microsoft/openenclave/blob/master/docs/GettingStartedDocs/SGX1FLCGettingStarted.md#install-project-requirements) has instructions for this).

    On Windows Server 2

[2019-03-05 14:36] oprinmarius commented on #1524
We recently added stage for GCC ELF enclaves on windows: https://github.com/Microsoft/openenclave/pull/1478

Since the compiler name wasn't part of the stash name ,
win2016LinuxElfBuild('18.04', 'gcc', 'Debug') and win2016LinuxElfBuild('18.04', 'clang-7', 'Release')  would have the same stash name creating the following problem:

Process 1 creates a stash called linux${build_type}${version}

Proce

[2019-03-05 14:52] ionutbalutoiu commented on #1507
@johnkord

The actual issue was solved by @anakrish as part of https://github.com/Microsoft/openenclave/pull/1512. Thanks!

Regarding your comment about playing with `ctest` timeout parameter: Do you think it's necessary ? We have the [timeout](https://github.com/Microsoft/openenclave/blob/1ca8377aca2200f707d6ca704c3dfa156b63ee30/.jenkins/Jenkinsfile#L11) instance from the Jenkinsfile, and we shou

[2019-03-05 15:10] #1524 closed

[2019-03-05 15:54] ionutbalutoiu commented on #1526
@anakrish

I think there's a misunderstanding here. Your above errors are not related to the Windows CI machines. Those are linters errors and we don't even run linter checks on Windows machines.

Let me bring some context here. There's a bash script [scripts/check-ci](https://github.com/Microsoft/openenclave/blob/master/scripts/check-ci) that runs the following:
* [check-license](https://github.c

[2019-03-05 16:29] letmaik opened #1533 "Fix libcxx support text for chrono header"
Currently, [docs/LibcxxSupport.md](https://github.com/Microsoft/openenclave/blob/3c741b08b98e5051d41be1bc50ab7aec249cca99/docs/LibcxxSupport.md) says:

[`chrono`](https://en.cppreference.com/w/cpp/chrono) does not have any of these functions. It looks like this was copied from the `ctime` text.

[2019-03-05 16:42] letmaik opened #1534 "Add iomanip header to compatibility table"
[LibcxxSupport.md](https://github.com/Microsoft/openenclave/blob/3c741b08b98e5051d41be1bc50ab7aec249cca99/docs/LibcxxSupport.md) is missing the `iomanip` header. I assume it's not supported, but it should be included in the table.

[2019-03-05 17:09] johnkord opened #1535 "Plan bug bash for v0.5.0 release"
Make a list of features to test and enlist the help of contributors to perform sanity checks.

[2019-03-05 17:19] johnkord commented on #1516
@ionutbalutoiu We'll disable the libcxx tests that fail to build with GCC 7.*, and because our standard build works with GCC 7, we'll continue forward with that for this 0.5.0 release. As for supporting a specific version of GCC in the future, this is still to be decided.

[2019-03-05 17:31] johnkord commented on #1507
Closing as resolved

[2019-03-05 17:31] #1507 closed

[2019-03-05 17:48] johnkord commented on #1456
Simon (@CodeMonkeyLeet) wants to offer some comments on this.

[2019-03-05 17:56] #1405 closed

[2019-03-05 18:11] anakrish opened #1536 "Thread Locals: threading-model and assertion"
This issue captures the final tweaks needed to support thread-local storage in 0.5x

- Decide whether to specify the threading-model as part of compiler options. If so, add it to pkgconfig.
   Choose the correct threading model, inital-exec or local-exec.
   If not specified as compiler options, then document the options if the end-user gets a link error with __tls_get_addr

- Investigate and remo

[2019-03-05 18:33] CodeMonkeyLeet commented on #1456
Updated the title and description of this issue to track the LLVM slip.

[2019-03-05 18:38] CodeMonkeyLeet commented on #1074
Some work was done to distinguish error codes with `OE_PLATFORM_ERROR` and there is continuing work in #1387 to also log the underlying errors. Using the newer issue to track further improvements in this area.

[2019-03-05 18:38] #1074 closed

[2019-03-05 18:43] CodeMonkeyLeet commented on #1387
Some additional context: `OE_PLATFORM_ERROR` occurs specifically in the interface between OE SDK and the underlying platform for enclave creation (Windows API, Intel Linux driver or EnclaveCommon API).

Some work was already done to distinguish these kinds of errors in the enclave creation stack, with some specific errors being logged via the tracing infrastructure (you would need to enable the en

[2019-03-05 21:44] vlaza commented on #1456
Info: We are still waiting for a `final` release on *8.0.0*

[2019-03-05 22:30] anakrish commented on #1503
@eddyashton Thanks a lot for the reproduction steps. Gives me something to play with.

Findings so far:

- Cannot reproduce this with release build in GCC. Seems to be clang specific.
- Can reproduce in clang even with Spectre mitigation flags disabled.

[2019-03-05 22:42] anakrish commented on #1503
I was able to reproduce the crash with a single call to throw. Additionally
It seems that when the exception is caught, the stack pointer (rsp and/or rbp) is corrupt and therefore the code to access the local variables ends up reading incorrect memory locations.
In the following patch, the dbg_foo function is called twice; passing the address of the foo local variable each time. dbg_foo stores the

[2019-03-05 23:11] anitagov commented on #1387
Not sure if John's comment is for Linux or Windows or both.
On Windows, we do not get any trace log messages by default. Great if we can get that enabled as well.

[2019-03-05 23:24] andschwa opened #1538 "Document our requirement of find_package(Threads)"
Per #1472, we require `find_package(Threads)` when using our CMake package, and don't really document or enforce this.

[2019-03-05 23:26] andschwa opened #1539 "Export oeedgr8r in CMake package"
By manually injecting an imported executable into the package. This is theoretically doable according to experts on IRC, but hasn't been tried yet. So right now users of the CMake package need to manually import it, or just put it in their path somehow. Came out of #1472.

[2019-03-06 02:03] CodeMonkeyLeet commented on #1387
@soccerGB Is the disparity on Windows accurate? Do you have an intuition of why the difference exists and how to address it?

[2019-03-06 13:51] letmaik opened #1541 "oeedger8r-generated code not compatible with -Werror=strict-aliasing"
[code]

This is using gcc 7.3.0 and a recent build of OE (e504559e9ea03dfd).

[2019-03-06 16:34] EMumau commented on #833
The code for oe_call_enclave, oe_call_host, and oe_call_host_by_address was removed in #1521

[2019-03-06 16:34] #833 closed

[2019-03-06 17:29] johnkord opened #1543 "Getting Started Documentation update for v0.5.0"

[2019-03-06 18:23] anakrish commented on #1541
@andschwa Can you take a look?

[2019-03-06 19:44] CodeMonkeyLeet opened #1544 "Re-evaluate and update libc/libcxx support documents"
There needs to be a comprehensive pass over the libc/libcxx support documents:

- The set of libc/libcxx supported tests has changed and in some cases expanded since the creation of the since v0.4, but the documents have not been updated to keep pace.
- Thanks to @letmaik (see #1487, #1488, #1533, #1534), it's also clear that there are lots of existing irregularities and gaps in the existing set o

[2019-03-07 09:36] ionutbalutoiu opened #1546 "Add CI job to refresh the pre-built CI image for libcxx tests"
With the introduction of [Ephemeral Jenkins build servers for the libcxx nightly job](https://github.com/Microsoft/openenclave/pull/1542) we use a pre-built `VHD` for the Jenkins agents.

Those are published to the storage account `disks` container under the names: `jenkins-agent-1604-base-disk.vhd` and `jenkins-agent-1804-base-disk.vhd`.

We need to have a Jenkins job, to be triggered on-demand,

[2019-03-07 09:50] ionutbalutoiu opened #1547 "Keep only 18.04 testing stage with `scripts/check-ci` check"
Right now, we run the `scripts/check-ci` script as part of two testing stages (on Ubuntu 16.04 and Ubuntu 18.04). This is part of [Check dev flows](https://github.com/Microsoft/openenclave/blob/972fe0c9b0efbfd93802c10cb13ba9a5c84a9cb8/.jenkins/Jenkinsfile#L104-L116) stage inside the `def checkDevFlows(String version)`, which is run on both platforms [here](https://github.com/Microsoft/openenclave/

[2019-03-07 09:54] ionutbalutoiu commented on #1526
Changed the title to reflect the actual issue.

Into the internal sync meeting from yesterday, we agreed to have `scripts/check-ci` check only on Ubuntu 18.04. Thus, the CI won't be reporting inconsistent results for the linter checks.

I opened https://github.com/Microsoft/openenclave/issues/1547 to track this going forward. Closing this.

[2019-03-07 09:54] #1526 closed

[2019-03-07 10:06] ionutbalutoiu opened #1548 "[Ansible] Use default GCC 7 from Ubuntu 18.04"
The PR https://github.com/Microsoft/openenclave/pull/1522  adds the necessary changes to Ansible to force the usage of GCC 5 instead of the default version 7.3 (as of today), since we had some failures with the full libcxx runs using the GCC 7.3.

The following PR https://github.com/Microsoft/openenclave/pull/1525 makes sure that those tests are skipped with GCC 7.

Since it's safe to use the defa

[2019-03-07 10:07] letmaik opened #1549 "Publish non-SGX simulation mode package"
Currently, there is only one apt package (`open-enclave`) and it [requires](https://github.com/Microsoft/openenclave/blob/master/docs/GettingStartedDocs/install_oe_sdk.md#platform-requirements) SGX hardware. To use OE on non-SGX hardware in simulation mode for testing, I would have to build it from source myself.

If there's nothing that speaks against it, I would like it if a second package `open

[2019-03-07 10:47] letmaik opened #1550 "Support cpuid with subleaves 0-15 for leaf 4"
Currently, OE initializes the enclave with leaves 0, 1, 4, 7 (well, it initializes more but then only allows to query those):
https://github.com/Microsoft/openenclave/blob/9b750328d29505faeb045744d23a92759d8542b1/include/openenclave/internal/cpuid.h#L29-L32

For that, it always uses a fixed subleaf of 0:
https://github.com/Microsoft/openenclave/blob/9b750328d29505faeb045744d23a92759d8542b1/host/sg

[2019-03-07 11:47] aserdean commented on #1203
Unfortunately bump on this one again:
[code]
you can see it across the run [here](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/OpenEnclave-sandbox/detail/OpenEnclave-sandbox/823/pipeline/#step-855-log-523)

CC: @johnkord @andschwa @ionutbalutoiu

[2019-03-07 17:13] johnkord commented on #1547
Let's also set a specific version for each of the tools that we use and make it a requirement for our contributor environment

[2019-03-07 17:25] #1293 closed

[2019-03-07 17:27] johnkord commented on #1286
Let's take this information and make a document for it in our repo, since it is quite valuable!

[2019-03-07 17:30] johnkord commented on #1278
@ionutbalutoiu Is this feature complete now?

[2019-03-07 17:40] #1232 closed

[2019-03-07 17:41] johnkord commented on #1232
We're closing this issue because if the libsgx flag isn't set for the build, we can still interface with SGX using AESM.

[2019-03-07 17:41] ionutbalutoiu commented on #1278
@johnkord Yes. We just need to add the testing stages and enable the CI.

There was an initial effort [here](https://github.com/Microsoft/openenclave/pull/1324), but we held on that a bit to have the libcxx Jenkinsfile refactoring for the ephemeral nodes.

The libcxx refactoring PR https://github.com/Microsoft/openenclave/pull/1542 is ready now. As soon as that PR is merged, we'll be quickly addin

[2019-03-07 17:46] #1203 closed

[2019-03-07 17:46] johnkord commented on #1203
@johnkord Remove the "temporary" comment in the file associated with this test

[2019-03-07 17:51] johnkord commented on #1192
This seems to be related to #1511 and what @jmechalas said above. I'll close this issue and we can track this problem in #1511

[2019-03-07 17:51] #1192 closed

[2019-03-07 17:57] johnkord commented on #1160
@EMumau Hold off on work for this issue, if you considered working on it :) We have to decide what to do with simulation mode first

[2019-03-07 17:58] johnkord commented on #1155
Is this a duplicate of #1156 ?

[2019-03-07 18:05] johnkord commented on #1129
@soccerGB Do you think you would be able to answer @ihaller 's questions here regarding the initial issue and Anand's comment? Is there anything new we need to address?

[2019-03-07 18:39] jmechalas commented on #1511
Just a quick confirmation: a new release of kvm-sgx was posted this week which fixes `SEC.ATTRIBUTES.XFRM` in guests, and I just verified that OE works in those guests now (they didn't before).

[2019-03-07 19:23] anitagov commented on #1511
This is great info @jmechalas

[2019-03-07 19:55] vlaza commented on #1400
Regarding this issue, we have ran the test 100.000 times in a loop and result was 100% PASS

100% tests passed, 0 tests failed out of 1
Total Test time (real) = 61684.19 sec

I think this can be closed as it cannot be reproduced anymore; please re-evaluate.

@andschwa @anitagov @ionutbalutoiu @johnkord

[2019-03-07 20:03] ionutbalutoiu commented on #1400
We'll reopen if reproduced again. Closing this

[2019-03-07 20:03] #1400 closed

[2019-03-07 20:53] anakrish commented on #1160
FYI, this has already been implemented and locked down with tests.

[2019-03-07 20:53] #1160 closed

[2019-03-08 03:03] anitagov commented on #1511
John @jmechalas - I have a fix that works on Linux host. Will you be able to test it on your Pentium Silver platform? If so, I can provide a patch. Please let me know.

[2019-03-08 10:13] #1495 closed

[2019-03-08 13:51] jmechalas commented on #1511
Yes, I can test it straight away. Should I apply it to master or a particular branch?

[2019-03-08 15:47] dragoshsch commented on #1547
@johnkord I created #1552 to fix this, and we'll treat the package version pinning in ansible in a separate PR.

[2019-03-08 18:00] anitagov commented on #1511
@jmechalas - This is great John. You can directly build OE from my branch located at: https://github.com/Microsoft/openenclave/tree/anitagov.noavx.fix
If that doesn't work, I will provide a patch with details. Thanks.

[2019-03-08 19:09] jmechalas commented on #1511
170/173 tests passed in SGX1+FLC mode. The failing tests were on attestation, which I assume is expected in my isolated environment.

[2019-03-08 19:40] andschwa commented on #1168
@johnkord this is a backlog item that doesn't need to be done any time soon, it's just a nice-to-have. I suggest we remove it from the CMake project. Maybe Cloudbase can do it?

[2019-03-08 19:41] andschwa commented on #1238
@johnkord this is another nice-to-have backlog item. Perhaps Cloudbase can do it?

[2019-03-08 19:46] andschwa commented on #748
This proved to be quite difficult. The `DESTDIR` option only kind of works. It correctly pointed a CMake installation to another directory, but it failed to update the `CMAKE_INSTALL_PREFIX` which meant that the installed CMake packages could not be used. I had to instead implement logic to update the cache variable before doing the test install for the samples, which is unfortunate, but it only h

[2019-03-08 19:50] andschwa commented on #748
The linked PR should close this issue, though it's only the first step as it fixes one sample, with @aserdean to follow up with conversions of the rest of the samples.

[2019-03-08 20:00] anitagov commented on #1511
Great info. Thanks a bunch @jmechalas . Yes, the attestation tests will fail in your isolated environment.

[2019-03-08 23:37] jmechalas commented on #1351
I'd like to see this changes as well. All assumptions about filenames should be removed entirely.

[2019-03-09 00:30] andschwa commented on #748
Actually, I believe I've just managed to make the CMake package relocatable, so my hack went away 😄

[2019-03-09 00:38] anitagov commented on #1189
Didn't start working on it but good to get into upcoming 0.5 release.

[2019-03-09 00:45] anitagov commented on #1129
Both Anand's comment and Istvan's comments need to be addressed by 2 more issues, in my opinion.

[2019-03-11 09:59] aserdean commented on #1485
Closed with PR: https://github.com/Microsoft/openenclave/pull/1493

[2019-03-11 09:59] #1485 closed

[2019-03-11 10:05] aserdean commented on #1456
RC4 has been released:
http://llvm.org/svn/llvm-project/libcxx/tags/RELEASE_800/rc4/

CC: @vlaza

[2019-03-11 10:21] #1278 closed

[2019-03-11 11:51] #1547 closed

[2019-03-11 11:59] ionutbalutoiu opened #1555 "[Ansible] Add version pinning for all the packages used"
Instead of relying of the latest released stable package when doing the setup, we should install a pinned version of the package.

The pinned packages versions should be periodically bumped after we confirm that no regressions happen.

[2019-03-11 12:00] ionutbalutoiu commented on #1547
I opened https://github.com/Microsoft/openenclave/issues/1555 to continue tracking the packages versions pinning in Ansible.

[2019-03-11 12:41] #1548 closed

[2019-03-11 18:12] andschwa commented on #1094
@mikbras @CodeMonkeyLeet Is this still relevant?

[2019-03-11 21:08] CodeMonkeyLeet commented on #1550
@letmaik `cpuid` as implemented in OE today intentionally does not cache subleaves other than 0 for cpuid leaf 4 (in fact there was a bug fix to throw that blocking error explicitly). It primarily supports subleaf 0 for parity with the Intel SDK.

It's a feature we could consider adding, but having the OE enclave runtime cache some of this information may be undesirable in cases where the enclave

[2019-03-11 21:13] anitagov opened #1557 "Spectre Mitigations are missing in the Windows Host enclave/entry flows"

[2019-03-11 22:41] letmaik commented on #1550
@CodeMonkeyLeet Can you explain what you mean by "migrate across CPU packages"? Is that something specific to enclaves? Or are you referring to the concept of VM migration?

[2019-03-11 22:49] CodeMonkeyLeet commented on #1550
@letmaik Migration of enclaves across VM hosts is not related (enclaves are destroyed on migration anyway). This is more along the lines of NUMA awareness since there will soon be multi-package server SKUs. The same physical server node may have more than one CPU package on it, which future SGX hardware manages by creating shared secrets between the nodes. It's unclear if the CPU members of the re

[2019-03-12 16:13] johnkord commented on #1124
@achamayou Let's talk about this sometime, Amaury. I'm going to close this issue for now, but we should follow up about this.

[2019-03-12 16:13] #1124 closed

[2019-03-12 16:17] johnkord commented on #1094
We're going to close this. If it continues to happen on the new io branch, let's reopen.

[2019-03-12 16:17] #1094 closed

[2019-03-12 16:18] johnkord commented on #1091
Closing as won't fix for now, until we plan to support C++17.

[2019-03-12 16:18] #1091 closed

[2019-03-12 16:19] johnkord commented on #1090
@anitagov Have you looked at this? Do you know if this is fixed now?

[2019-03-12 16:20] johnkord commented on #1089
Closing this issue as won't fix.

[2019-03-12 16:20] #1089 closed

[2019-03-12 16:23] johnkord commented on #1066
@anitagov Can you look at this and close this if it is no longer relevant?

[2019-03-12 16:24] johnkord commented on #1063
Closing this because we agreed that this wasn't necessary and more work than it is work.

[2019-03-12 16:24] #1063 closed

[2019-03-12 16:26] johnkord commented on #1047
Closing this as won't fix

[2019-03-12 16:26] #1047 closed

[2019-03-12 16:28] johnkord commented on #1047
@soccerGB Can you provide some insight into this issue?

[2019-03-12 16:32] johnkord commented on #1034
@anitagov Do you know what the status is for libunwind support in this issue?

[2019-03-12 16:34] johnkord commented on #1032
This is for Linux/Windows interoperability

[2019-03-12 16:38] johnkord commented on #1008
@anitagov Do you have any updates to this issue? Should we consolidate this issue with any other open issues?

[2019-03-12 16:47] johnkord commented on #990
This is fixed now.

[2019-03-12 16:47] #990 closed

[2019-03-12 16:48] johnkord commented on #977
@anakrish Tagging you to resolve this duplicate bug

[2019-03-12 16:52] johnkord commented on #958
@andschwa This is probably related to the samples refactor work in CMake, do you think this should be linked to one of those issues?

[2019-03-12 16:53] johnkord commented on #955
We're not supporting C++17 yet, so this is closed as won't fix.

[2019-03-12 16:53] #955 closed

[2019-03-12 16:55] johnkord commented on #1516
This is related to issue #937.

[2019-03-12 17:32] aserdean opened #1559 "libcxxtest-std_containers_associative_map_map.access_at.pass fails on GCC release builds"
```libcxxtest-std_containers_associative_map_map.access_at.pass``` fails on GCC 7 Release builds (although it passes on Debug builds).

One can see the log of the error [here](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/OpenEnclave-sandbox/detail/OpenEnclave-sandbox/933/pipeline/267).

The test fails because of the exceptions i.e.: https://github.com/Microsoft/openencla

[2019-03-12 17:36] aserdean commented on #1559
PR to disable: https://github.com/Microsoft/openenclave/pull/1560

[2019-03-12 17:37] aserdean commented on #1559
CC: @ionutbalutoiu

[2019-03-12 21:38] vlaza commented on #1456
rc5 has been released: http://llvm.org/svn/llvm-project/libcxx/tags/RELEASE_800/rc5/

[2019-03-12 21:49] anitagov commented on #955
@johnkord - I filed this issue to keep track of the tests that need to be added when we upgrade to C++17 in the future. So, would like this to be kept open.

[2019-03-12 21:53] andschwa commented on #958
@johnkord this issue was from October... @paulcallen can you confirm this repros on top of `master` (or on top of #1472)?

[2019-03-12 21:55] #958 closed

[2019-03-12 21:55] andschwa commented on #1031
Oh sweet we have an issue for this.

[2019-03-13 18:46] andschwa opened #1561 "Determine and assert the minimum required CMake for the samples"
From #1472, we can probably go quite a bit lower than 3.10 (though most likely not below 3.0). This needs to be tested, and when determined, the samples' minimum CMake updated. We may want to add CI to explicitly test the samples against the oldest supported version, but I only see a modicum of value in doing so.

[2019-03-13 18:53] andschwa opened #1562 "Update and improve GNU Make builds for the samples"
The `pkg-config` based GNU Make builds for the samples could use a lot of improvement. One big problem is that they pollute the source tree, which caused me no end of headaches in #1472.

For posterity, an explanation of why `-I..` was added to the Make builds, and why the header includes were changed from relative paths to library-like paths:

We could probably improve a lot of this by having a G

[2019-03-13 19:13] andschwa opened #1563 "Find and document library dependencies"
The current CMake package per #1472 has only been tested on Linux, and only has one documented dependency (via `find_dependency`, for `Threads`). We need to find and document the rest (notably `dl` and `crypto` for sure, but also anything else using `find_library` or just raw link flags). We then need to require those only on the correct platforms, so that eventually the package _might_ work on Wi

[2019-03-13 19:32] #300 closed

[2019-03-13 19:34] andschwa commented on #748
Closed via #1472.

[2019-03-13 19:34] #748 closed

[2019-03-13 19:34] andschwa commented on #887
Closed via #1472.

[2019-03-13 19:34] #887 closed

[2019-03-13 19:35] andschwa commented on #1538
Well, this one is closed via #1472. But I saw other dependencies we'll have to fix and filed #1563.

[2019-03-13 19:35] #1538 closed

[2019-03-13 19:35] andschwa commented on #1539
Closed via #1472.

[2019-03-13 19:35] #1539 closed

[2019-03-13 22:16] vlaza commented on #1456
I have updated the PR for *rc5* and re-running all tests.

[2019-03-14 11:11] ionutbalutoiu opened #1564 "Reduce code duplication from the CI Jenkinsfiles"
Right now, there is some code duplication among the CI Jenkinsfiles.

We want to have this solved and use some common code to be loaded by the other Jenkinsfiles.

[2019-03-14 12:26] aserdean opened #1565 "running ansible on ACC machine fails because it cannot find the aesmd service"
Running as per documentation on a clean ACC machine:

`sudo ansible-playbook scripts/ansible/oe-contributors-acc-setup.yml` fails with:

TASK [linux/intel : Ensure aesmd service stopped] *******************************************************************************************************************************************************
fatal: [localhost]: FAILED! => {"changed": false, "msg": "Cou

[2019-03-14 15:05] #1565 closed

[2019-03-14 16:14] johnkord commented on #851
@paulcallen Can you take a look at this issue with your current VTPM investigation?

[2019-03-14 16:17] johnkord commented on #844
@paulcallen What is the current status of this issue?

[2019-03-14 16:23] johnkord commented on #1563
@andschwa Do you mean this has only been tested on Linux?

[2019-03-14 16:35] johnkord commented on #1561
We're going to set a dependency for Linux systems to use CMake 3.13 like our current CI jobs, which we might lower in a future release to be consistent with Windows at 3.10.

[2019-03-14 16:39] #830 closed

[2019-03-14 16:40] johnkord commented on #756
@andschwa What's the status of this, Andy?

[2019-03-14 16:43] johnkord commented on #749
Closing this as won't fix. We have fixed the inconsistency on Windows, but we're not going to convert everything to C90.

[2019-03-14 16:43] #749 closed

[2019-03-14 16:48] #627 closed

[2019-03-14 16:57] johnkord commented on #516
We're going to close this and implement this differently.

[2019-03-14 16:57] #516 closed

[2019-03-14 17:54] anakrish opened #1567 "Use -fPIE flag for compiling enclaves"
Today, we use -pie flag for linking enclaves and use -fPIC for compiling enclaves.
However GCC [docs ](https://gcc.gnu.org/onlinedocs/gcc/Link-Options.html#Link-Options)state:

**-pie**
_Produce a dynamically linked position independent executable on targets that support it. For predictable results, you must also specify the same set of options used for compilation (-fpie, -fPIE, or model suboptio

[2019-03-14 18:16] aserdean opened #1569 "Unused enclave configuration files in samples?"
While working on cmake files for samples I noticed that the files:
https://github.com/Microsoft/openenclave/blob/master/samples/remote_attestation/common/enc.conf
https://github.com/Microsoft/openenclave/blob/master/samples/local_attestation/common/enc.conf

They aren't used by the Makefiles.

I have no idea what the original purpose for them are so I sent a tentative PR to remove them here:
 http

[2019-03-15 11:26] ionutbalutoiu commented on #1559
@johnkord @andschwa

What do you think about disabling this test (proposed at https://github.com/Microsoft/openenclave/pull/1560) ?

This will allow us to use the default GCC compiler (version 7.3) from Ubuntu 18.04 for the full libcxx tests suite.

[2019-03-15 14:03] ionutbalutoiu commented on #1515
The PR https://github.com/Microsoft/openenclave/pull/1572 had some conflict with the latest master code and caused [this](https://oe-jenkins.eastus.cloudapp.azure.com/blue/organizations/jenkins/OpenEnclave-packages-testing/detail/OpenEnclave-packages-testing/1/pipeline) failure.

Reopening this issue until this is addressed.

[2019-03-15 16:05] andschwa commented on #1561
@johnkord this applies to the samples only, which implies the minimum required CMake to to _use_ our SDK. I am going to re-open this bug as do want want to require 3.13 of users of the CMake package, which is what this issue is about.

[2019-03-15 16:08] andschwa commented on #756
@johnkord, @CodeMonkeyLeet and I put it on hold. It is and will be a problem, but it's not a blocker as we don't (yet) need multi-configuration generators. So it's a backlog item, but unfortunately the cost to fully fix it is a little high, especially when we don't have a great way to test it right now.

[2019-03-15 16:09] andschwa commented on #1567
Related to #1168

[2019-03-15 16:11] andschwa commented on #1567
@anakrish @mikbras what flag combination _should_ we be using?

[2019-03-15 16:15] andschwa commented on #525
@johnkord @lilyfang I am not sure I should be assigned here, unless you want this done after #1031. This doesn't appear to be a v0.5 item.

[2019-03-15 16:16] andschwa commented on #1562
@johnkord I can't help with GNU Make, that's why @EMumau was assigned originally, and I don't think this is a v0.5 item either.

[2019-03-15 16:17] andschwa commented on #1563
@johnkord the CMake package is only tested on Linux (note: all the samples are only tested on Linux).

[2019-03-15 16:20] andschwa commented on #1351
@johnkord While this would be nice to have, I don't see it as a v0.5 item.

[2019-03-15 16:47] jmechalas commented on #1351
It's not a nice to have. It's a developer friction because it enforces arbitrary file naming conventions in an environment where file names are traditionally meaningless. Considering all that needs to be done is delete the logic that was added to enforce the filenames it's not exactly a heavy lift.

[2019-03-15 17:21] andschwa commented on #1351
Ah, thanks @jmechalas. I'll prioritize this then.